[2021-11-08 21:25] NieuweNils commented on #3785
Hi @ludaavics, @dbczumar , is this stil an open issue? I ould gladlylook into this if so!

[2021-11-08 21:34] dbczumar commented on #3785
Hi @NieuweNils ! Yes, this is till open. We'd really appreciate your help with it!

[2021-11-09 03:05] huxuan commented on #3785
Hi, @NieuweNils & @dbczumar, I can confirm I may not have sufficient load on this issue, so feel free to take it! Recently, I was busy working on integrating mlflow with the infrastructure of my team, writing various plugins for the training platform, evaluation platform, model management platform and so on mostly build by ourselves previously. I really appreciate the flexibility of mlflow that ma

[2021-11-09 08:50] t-henri commented on #5025
Hello,

I think if you feel like that some routes should be monitored, you can just add them (to be confirmed by a maintainer of mlflow).
Back then I only added these routes because they were the one that were always called in our different jobs, so it gave a pretty good idea of the server health. Having metrics on routes like health or create_experiment doesn't give us much information.
Also back

[2021-11-09 10:08] coder-freestyle commented on #4822
@dbczumar I was looking at an alternate solution for this issue for future references which would truncate the extra white space introduced due to min-width being set as 30%.  We can set the dropdownMatchSelectWidth as false and keep the width in CSS as auto. Attaching the code snippet and the user interface screenshot.

<img width="1103" alt="Screenshot 2021-11-09 at 3 37 00 PM" src="https://user

[2021-11-09 13:11] coder-freestyle commented on #4821
@dbczumar Do we need to show all the selected filters in the dropdown? (Attached is a screenshot for visual reference). Currently, since sorting is done on a single parameter, the selected orderByKey is shown to the user.

<img width="661" alt="Screenshot 2021-11-09 at 6 40 29 PM" src="https://user-images.githubusercontent.com/60594457/140929992-569a22bf-e99f-4658-a477-48b9e0940a02.png">

Let me k

[2021-11-09 14:40] astawsky commented on #1951
I downloaded the mlflow-ui-dbg package from conda and it worked.

conda install -c conda-forge mlflow-ui-dbg

[2021-11-09 15:07] jeremyjordan commented on #5025
Sounds good, thanks for the context @t-henri. I wasn't sure if you were cautious in filtering out specific routes to avoid having a high-cardinality label, which is a concern that I have if we have an open-ended path label included in the metric. Generally a good rule of thumb for Prometheus metrics is to keep the cardinality for any given label less than 10. Whereas there are currently 47 endpoin

[2021-11-09 15:11] dumdumxvx commented on #2494
Any updates on this?

[2021-11-09 15:20] dhirajsuvarna opened #5034 "[BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2021-11-09 15:22] MarekScevlik commented on #2494
Hello. Unfortunately I did not really look into it since I was waiting for an input from you people. : )
It was just an exploration exercise from my side and that has then reached this stage where I shared the latest problem. Since then I have not really investigated further. So please feel free to close this topic. I might revisit it again in future. All the bes wishes. Have a good day.

[2021-11-09 15:26] reedrefucher opened #5035 "[FR]"
## Willingness to contribute
- [x] Yes. I can contribute this feature independently.

## Proposal Summary
I want to add a separate TensorFlow Lite flavor (tflite) to the list of supported MLFlow flavors.

## Motivation
- ***What is the use case for this feature?*** - To use mlflow functionality for the TensorFlow Lite models for logging runs and storing artefacts in a format, suitable to be propag

[2021-11-09 17:53] jeremyjordan commented on #5025
@dbczumar do you have any thoughts on the proposed change? I'm happy to open a PR with a fix once we land on an approved design.

[2021-11-09 19:54] NieuweNils commented on #3785
Great to hear I can help out! I'll start looking into it

[2021-11-09 19:57] dbczumar commented on #5025
Hi @jeremyjordan , your proposal sounds good! We'd be happy to review a PR for this.

[2021-11-10 02:47] mhemendra commented on #1870
If there hasn't been any progress on the issue, I'm willing to take it up.

[2021-11-10 06:13] NiushanDong opened #5038 "How to serving multi-step project"
In machine learning projects which have multi steps such as preprocessing, feature engineering and model training, it's easy to train with MLFlowProject, but after that how to automatically serving the whole pipline in production?

[2021-11-10 07:10] dhirajsuvarna commented on #5034
More analysis and observation -
The query works fine if I replace all the values in the statement as such -
[code]
Now, if I replace only the variables inside the **case** statement with the actual value and let the other variables remain as it is, then too the sql statement works -

[code]
However, If the variables in side the **case** statement are not replace, the query starts to break again -

[2021-11-10 15:27] ash-shaik commented on #3429
@harupy I can take this up.
Update FileStore to carve out the step to create the experiment from under condition of existence of root directory.
Creating root directory when it does not exists remains as is.

do you have any opinions/suggestions/guidance on the approach and next steps ?

[2021-11-10 21:55] mmaitre314 commented on #4987
@harupy : would it be ok to replace `mxnet!=1.8.0` with `mxnet==1.8.0.post0` in `dev\extra-ml-requirements.txt`? The GitHub issue https://github.com/apache/incubator-mxnet/issues/20068 has been resolved. I am hitting the same issue as @mhemendra trying to follow the getting-started in `CONTRIBUTING.rst` due to version conflicts (in my case pip-compile cannot find a compatible version for `numpy`).

[2021-11-10 22:58] mmaitre314 commented on #4987
Scratch that: `mxnet==1.8.0.post0` is not available on Windows. `mxnet==1.2.0` worked.

[2021-11-11 13:50] WeichenXu123 commented on #3785
Thanks @NieuweNils 's help! I will help review.

[2021-11-11 14:08] pagronau commented on #3305
I have a similar issue with minio as S3:
[code]

throws:
[code]

s3_bucket = "S3://127.0.0.1:9000"
s3_bucket = "S3://127.0.0.1:9000/mlflow"
both throw:
[code]

s3_bucket = "http://127.0.0.1:9000/mlflow"
throws
[code]

[2021-11-12 00:32] singankit opened #5054 "[BUG] Timestamp created in R Log Model API is an invalid timestamp"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2021-11-12 01:54] singankit opened #5057 "[BUG] MLflow R SDK mlflow_create_model_version params not passed correctly to rest client"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2021-11-12 08:37] bmmcq opened #5059 "[BUG] can't load model when use HDFS as artifact store"
the traceback :

[code]

If I call the function:
[code]
It will call into : `_download_artifact_from_uri("models:/xxx/xxx")`, as the uri is a models uri,  the `artifact_path` will be set to empty string [at here](https://github.com/mlflow/mlflow/blob/d6ae84164987e2881cdffdce07f7dcf0e3d94aaa/mlflow/tracking/artifact_utils.py#L89)
[code]

and then the `artifact_path` will be used to `download_artifa

[2021-11-12 09:42] bambinobino commented on #4175
Any update on this issue? I am experiencing the same error on Windows 10 and python 3.7

[2021-11-12 18:59] andreweskeclarke commented on #4077
Any updates? I would love to use this functionality as well.

[2021-11-12 20:09] Downfor-u opened #5061 "How to pass multiple values for a single parameter in the mlflow run command ?"
Hello,

I posted this question on stackoverflow two weeks ago but couldn't get an answer. Could you please help me with this issue, as I still can't figure out how to solve it ?

Here's the link to the [question on stackoverflow](https://stackoverflow.com/questions/69738859/multiple-values-for-a-single-parameter-in-the-mlflow-run-command).

Thank you in advance !

[2021-11-13 01:54] #4839 closed

[2021-11-13 03:48] fzyzcjy opened #5062 "[FR] Keras Tuner or other automl support?"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2021-11-13 20:37] lorenzwalthert commented on #5057
Thanks @singankit. Looks like you have correctly identified the bug. Would b great if you can create  a PR to fix it and add a test to demonstrate the correct behaviour.

[2021-11-13 20:53] lorenzwalthert commented on #5054
Hi @singankit ✋

Thanks fore reporting. Is the timestamp generated from R model logging API different from the Python API? I am not sure why the C# Parser is relevant here, but in any case, we should strive for consistency in the timestamp across all clients that log to `MLmodel`, so I think if you can provide a PR to align the R client with the Python client timestamp format, it would be more tha

[2021-11-14 16:00] jwyyy commented on #5061
Would this [example](https://github.com/mlflow/mlflow/blob/master/examples/sklearn_autolog/grid_search_cv.py) be helpful?

[2021-11-14 17:59] jonnor commented on #5062
The issue has also been discussed in the keras-tuner Github: https://github.com/keras-team/keras-tuner/issues/494

[2021-11-14 22:31] vibss2397 commented on #3414
Hey, I am facing this issue as well, but in my case even the downgrading to mlflow 1.7.2 is not working. Any ideas on what to do?

[2021-11-15 08:47] cwzhao commented on #4876
@jwyyy I encountered the same issue. Did you solve it?

[2021-11-15 14:43] mhemendra opened #5067 "[FR] _validate_param_name and _validate_tag_name methods are called twice in sqlalchemy_store and file_store"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2021-11-15 15:30] jwyyy commented on #4876
@cwzhao No. I thought it was my desktop's problem. I re-opened the problem. Let's see if there are some answers. We can also look into this more.

[2021-11-16 08:15] FarhanAhmad4473 commented on #2501
I am also facing the issue. I am following the Docker example as written in MLflow documentation
https://github.com/mlflow/mlflow/tree/master/examples/docker

And getting this error upon running the project:
2021/11/16 13:05:12 INFO mlflow.projects.docker: === Building docker image docker-example:d6ae841 ===
2021/11/16 13:05:13 INFO mlflow.projects.docker: Temporary docker context file C:\Users\FA

[2021-11-16 13:01] dribeiro09 opened #5074 "[SETUP-BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this installation issue template to ensure a timely and thorough response.**

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Monterey (MBA M1)
- **ML

[2021-11-17 03:15] Eleven1Liu opened #5076 "[FR] Enable >250 characters for `mlflow.log_params`"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2021-11-17 08:53] omerasif-itu opened #5077 "[SETUP-BUG] getwd() error in python versions"
### Describe the problem
[Review Python issue](https://bugs.python.org/msg403410)
Due to this issue running [docker example](https://github.com/mlflow/mlflow/blob/422c1c90bd7efde857fc55a134289d661da4c9bf/examples/docker/Dockerfile) is failing.
It is throwing the same exception as in above python issue.
[Mini conda version being used in docker image](https://hub.docker.com/r/continuumio/miniconda3/

[2021-11-17 21:28] andresionek91 commented on #4921
Merged

[2021-11-17 21:28] #4921 closed

[2021-11-18 08:27] zhaoedf opened #5079 "how to disable the output of the HTTP connection info?"
every time when i want to log_metric, it will print like this, which is rather annoying.
is there a way for me to disable this?
![image](https://user-images.githubusercontent.com/48846150/142379064-0788180e-ca7b-4668-96a0-afd3e7850667.png)

[2021-11-18 13:12] piotrkolanowski opened #5083 "[BUG] 'log_artifact' and 'log_model' methods does not support files bigger than 5GB on s3"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [x] No. I cannot contribute

[2021-11-18 21:20] dbczumar opened #5084 "[FR] Support tensor input types in deployment plugin predict() interface"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2021-11-18 22:04] bvarjavand commented on #4005
I've also run into this issue.
It seems that increasing the scope of a keras model (including extra preprocessing steps, etc) and throwing everything into a PythonModel isn't supported.
I guess the only solution currently is to leave the model as purely a keras model, and move the methods for data preprocessing outside of the model.

[2021-11-19 04:56] joyatcloudfall opened #5086 "[BUG] Cannot use HDFS as artifact root"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2021-11-19 09:21] jinzhang21 commented on #4781
Sorry for the late response. I'm unable to reproduce the issue. Your provided example does not work (a couple of bugs) but I managed to fix them. They seems to run fine on a virtual env with the following versions:

Python: 3.6.13
Ray: 1.8.0
Optuna: 2.10.0
MLflow: 1.21.0.dev0

Can you show me the project yaml file used? That being said, the project is usually a simple wrapper. All it does is to ca

[2021-11-19 09:38] jinzhang21 commented on #4720
Sorry for the late response. We (Databricks) did some investigation on our end on the possibility of improving searchRuns(). We concluded with an approach on dynamic pagination of searchRun results, instead of providing another interface such as searchRunLite.

Based on my understanding, in your use case, you'd like the backend to still return both RunInfo and RunData, but for RunData, exclude par

[2021-11-19 12:00] kevin19930919 commented on #4299
is that mean using something like  'bulk_insert_mapping' or 'add_all' in  one db transaction? cause by using this way,i can speed up maybe  10 times.

[2021-11-19 15:37] maitre-matt commented on #5084
Checking my understanding of the work: would that unblock deployment of models performing realtime inference on images? The typical flow there is a client sending a JPEG image, which the server decodes as tensor of shape say (1, 3, 224, 224) for resnet before running the tensor through inference.

[2021-11-19 16:40] p-mishra1 commented on #4781
[code]
@jinzhang21 thanks for your help.
Issue : the program runs fine but instead of logging multiple runs for multiple parameters mlflow only logs 1 run while using MLproject file.
here is a MLproject file which is used basically,
were you able to log 4 runs differently?

[2021-11-19 21:05] jinzhang21 commented on #4781
Got it. I was able to reproduce it. I got 4 runs when running directly but only 1 when running via a project. Will take a look later today.

For context, here is the modified MLproject:
[code]

Below is the yaml config for conda:

[code]

[2021-11-19 21:22] fpaupier commented on #4830
Is there any update ? I encounter the same issue.

[2021-11-19 21:58] jinzhang21 commented on #4781
Unfortunately this issue appears to be related to the MLflow Project design choices: a project run is inherently attached to an MLflow Run. See this line on the local backend execution:
https://github.com/mlflow/mlflow/blob/9faf3b04c9f6b3766a64d7433dd3e85bcdf27fff/mlflow/projects/backend/local.py#L51
Other backends are implemented similarly. When the run is submitted to the local processor, it alr

[2021-11-19 23:10] dbczumar commented on #5057
Hi @singankit , we'd be very excited about your contribution of a fix for this issue. Please feel free to file a PR, and let me know if you have any questions about the implementation. Thank you in advance!

[2021-11-21 16:44] metalglove commented on #4830
Same issue. However, it does create the run if I do not explicitly use `start_run` and just start fitting my model.

[2021-11-21 16:59] Jakubelo commented on #4830
I figured out that running from terminal `mlflow run <dir>` is creating the run ID, so when you don't (even you shouldn't, due to this exception) have to create parent run.
Also tracking URI has a similar issue, when you call `mlflow run <dir>' you have to set tracking URI as ENV VAR before, because when you try to do it by module in python `.set_tracking_uri(foo_uri)` (something like this) is too

[2021-11-22 10:48] daniel-beyond commented on #925
mlflow 1.21 same issue...

[2021-11-22 18:50] ChrisChross opened #5093 "[BUG] Issue with setting up db"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ x] No. I cannot contribute

[2021-11-23 01:01] dbczumar commented on #4886
Closing now that https://github.com/mlflow/mlflow/pull/5058 is merged.

[2021-11-23 14:21] NumtraAdmin opened #5094 "[BUG]"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Azure Distributed cluster
- **MLflow installed from (source or binary)**:  source
- **MLflow version (run ``mlflow --version``)**: 1.12.0
- **Python version**: 3.7.3

### Describe the problem
I am trying to deploy Prophet Model.
Model is logged as mlflow.prophet flavour.
When I am creating image from Model Artifa

[2021-11-23 15:11] evabalini commented on #3101
Hi there! Is there an estimate for when this will be implemented?
Many thanks in advance,
Eva

[2021-11-23 19:24] internetofjames commented on #608
I'm running into this issue with mlflow `1.21.0`. Specifically, I'm trying to run an MLFlow project that is a slightly modified version of the wine example provided at [https://github.com/mlflow/mlflow/tree/master/examples/docker](https://github.com/mlflow/mlflow/tree/master/examples/docker) via docker on my Mac. I've got a tracking server running at `localhost:5000`.

[code]
are set _before_ `wit

[2021-11-23 21:22] vvvkkk123 opened #5096 "Model serve doesn't work even if store URI is SQLITE"
I have been trying to serve a model using MLFlow to no avail. Here is what I'm doing:

Step 1: Run all data prep steps in my Jupyter notebook
Step 2: start an Anaconda command prompt and go the same directory of the notebook
Step 3: start mlflow as follows:

`mlflow server --backend-store-uri sqlite:///mlflow.db --default-artifact-root ./artifacts`

Step 4: set tracking uri in the notebook as foll

[2021-11-24 08:16] zhaoedf opened #5098 "how to disable annoying HTTP output when using mlflow"
![image](https://user-images.githubusercontent.com/48846150/143200210-816182dd-aca4-45cd-9355-204f6a030c95.png)

as the pic above, when log_metrics or whatever log with mlflow, it will output this in my terminal.
how to get rid of it?

[2021-11-24 08:17] #5079 closed

[2021-11-24 11:04] hudsonmendes commented on #4595
@erikjandevries , would the "folders" be another entity that you'd have to persist?

The folders sound like a good idea to me, but just the sorting would be a great improvement.

+1 on this suggestion. I'm also willing to contribute

[2021-11-24 11:06] Downfor-u commented on #5061
Thank you for your reply !
Actually, it is helpful but it shows that the params grid is defined inside the code itself. Thus, it does not really answer my question which is how to pass multiple parameter values to "mlflow run" without having to predefine the param grid.
I just looked at this [example ](https://github.com/mlflow/mlflow/blob/master/examples/hyperparam/MLproject) but it appears that

[2021-11-24 11:35] Downfor-u opened #5100 "How to setup SQLite and Azure Blob Storage (in ADLS Gen2) respectively as backend and artifact stores"
Hello,

Does anyone have a step by step tutorial on how to setup Mlflow with SQLite and Azure Blob Storage ?

I have posted a related [question ](https://stackoverflow.com/questions/70084661/setup-mlflow-backend-sqlite-and-artifact-azure-blob-storage-stores) on Stackoverflow to show what I already tried.

Thank you in advance for your help.

[2021-11-24 14:24] erikjandevries commented on #4595
Not sure about the persistence of the "folders".
The simplest solution for me would be to simply allow `/` symbols in an experiment name, and use these to organise the list visually in the UI.

[2021-11-24 15:20] #5096 closed

[2021-11-24 15:20] vvvkkk123 commented on #5096
Solved: Right before executing the model serve command at step 8, you need to create a new environment variable (in Windows) as follows: go to Environment variables, click on New for System, and add the following entry:
Variable: MLFLOW_TRACKING_URI
Value: http://localhost:5000

[2021-11-24 16:17] BenWilson2 commented on #5094
A docker exit status 137 generally indicates an OOM during the build process. Do you have an ability to increase the allocated memory to the VM executing the container?

[2021-11-24 19:45] erikjandevries commented on #4595
I think that in https://github.com/mlflow/mlflow/blob/master/mlflow/server/js/src/experiment-tracking/components/ExperimentListView.js there should be some code to group experiment-names into folders and subfolders, which should then be visualised in separate collapsible blocks, or something like that.

I.e. before the `.map` in https://github.com/mlflow/mlflow/blob/master/mlflow/server/js/src/exp

[2021-11-24 22:34] #4820 closed

[2021-11-25 04:12] sfc-gh-adlee commented on #884
i have the same issue running on k8. any resolution?

[2021-11-25 07:16] sfc-gh-adlee commented on #3154
@Subhraj07  did u solve this? Im having the same issue too :(

[2021-11-25 16:02] jwyyy commented on #5061
@Downfor-u Thanks for your confirmation! It seems the cli is implemented via `click`, and [the current implementation ](https://github.com/mlflow/mlflow/blob/master/mlflow/cli.py#L54-L62)doesn't support passing multiple values. However, it seems `click` does support multiple values. Please see this [section](https://click.palletsprojects.com/en/8.0.x/options/#multi-value-options) and the writing a

[2021-11-25 20:14] redaelhail commented on #1529
Is there any solution for this issue yet?

[2021-11-26 13:57] alexandraabbas opened #5109 "[FR] Support downloading object versions in S3ArtifactRepository"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2021-11-26 19:07] maitre-matt opened #5110 "[BUG] MLflow UI fails to list experiments in local sqllite store"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2021-11-26 21:07] hudsonmendes commented on #4595
I'm a little familiar with ReactJS and that would be a great improvement for myself and my team.

I will try to raise a PR on this one tonight.

[2021-11-26 21:14] erikjandevries commented on #4595
I'm thinking a PR should get their attention ;-)

[2021-11-26 21:16] erikjandevries commented on #4595
@arjundc-db @mparkhe What would be the best way to proceed? Can @hudsonmendes create a PR with a suggested solution?

[2021-11-28 01:13] y-tag opened #5112 "[DOC-FIX] Example URL of REST API contains `preview`"
### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another member of your organization be willing to contribute a fix for this documentation issue to the MLflow code base?

- [ ] Yes. I can contribute a documentation fix independently.
- [x] Yes. I would be willing to contribute a document fix with guidance from the MLflow community.
- [ ] N

[2021-11-28 11:45] dinaldoap opened #5114 "[BUG] Unexpected error when URI is quoted in "mlflow run URI""
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2021-11-28 13:33] Geetha-Ponnuvel opened #5115 "i want to add user authentication in Mlflow."

[2021-11-28 17:39] olbapjose opened #5116 "[BUG] Could not find a registered artifact location for c: on Windows (Spark model via databricks-connect)"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2021-11-28 20:03] dinaldoap commented on #5114
Related Pull Request #5117

[2021-11-29 11:38] dvrybak commented on #3299
Any updates for this issue?

[2021-11-29 15:22] mohammedi-haroune commented on #761
Hello, this is an old question but we tried the solution suggested by @matei and we hit a dead end because of the following reasons

- Nginx `auth_request` erases the data before sending `/authorize` requests and MLFlow sends the `experiment_id`/`run_id` in the data of `POST` and `UPDATE` requests instead of the URL (`POST /tracking/experiments/1`), this makes it impossible to authorize such reque

[2021-11-29 15:47] mohammedi-haroune commented on #3553
Any news about this ?

Since Authentication and ACLs are available in the Databrics [Managed MLFlow](https://databricks.com/product/managed-mlflow), does MLFlow maintainers open if someone wants to implements such features in the open source project ?

We tried the solution suggested by @mateiz [here](https://groups.google.com/g/mlflow-users/c/E9QW4HdS8a8/m/HbcQwBlMAgAJ) and [here](https://groups.

[2021-11-29 15:53] harupy commented on #5114
@dinaldoap Do you have a repository for your kubernetes project? Just curious how the code looks like.

[2021-11-29 15:55] jeremyjordan commented on #5025
Sounds great @dbczumar! I opened a PR for this issue this morning.

[2021-11-29 17:54] dinaldoap commented on #5114
@harupy Currently, my code is in my employer's private repository with additional content that I can't share. However, I can share the code snippet that makes the URI ending up with quotes:

    elif backend == "pam":
        from mlflow.projects import kubernetes as kb
        kube_config = _parse_kubernetes_config(backend_config)
        image_tag = kube_config["image-tag"]
        image_digest

[2021-11-29 17:55] dinaldoap commented on #5114
@harupy Currently, my code is in my employer's private repository with additional content that I can't share. However, I can share the code snippet that makes the URI ending up with quotes:

    elif backend == "mybackend":
        from mlflow.projects import kubernetes as kb
        kube_config = _parse_kubernetes_config(backend_config)
        image_tag = kube_config["image-tag"]
        image_d

[2021-11-29 22:12] farrandi commented on #2671
Having the same issue.
Specified my server in a remote desktop:
[code]

And in my client (different desktop) I have the script (in `.py` form):
[code]
The artifact uri is the local `file:./mlruns` instead of the `ftp:/` server. I have made sure my ftp server works and connects from my client.

[2021-11-29 22:44] farrandi commented on #2671
Got mine to work!
I had to edit a table value in my `--backend-store-uri` in my case it was postgres, so I changed the `artifact_location` shown here
![image](https://user-images.githubusercontent.com/54917098/143954400-d3f22acc-d29c-4e45-9253-797fb511443b.png)
the values by default was: `file:./mlruns/[id]`

[2021-11-29 23:54] harupy commented on #5114
@dinaldoap Thanks for the clarification, how does the `command` passed to `run_kubernetes_job` look like?

[2021-11-30 11:24] mohammedi-haroune opened #5128 "[FR] Folow best practices for REST API"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2021-11-30 12:00] 9dogs opened #5129 "[BUG] Too many scrollbars in experiment view"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [x] No. I cannot contribute

[2021-11-30 12:08] dinaldoap commented on #5114
@harupy Thanks for the attention. I've captured the `command` and the `kubernetes_job_definition` from mybackend execution. They are as follows:

[code]

[code]

The initial `command` doesn't have quotes in `uri`, but `mlflow.projects.kubernetes.run_kubernetes_job` calls `_get_run_command`, and that function adds quotes to the `uri`.

[2021-11-30 23:22] JuanCorp opened #5131 "[BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2021-12-01 16:34] BenWilson2 commented on #5094
This could potentially be due to the gcc compilation issue with pystan's version on Python versions <3.8. Could you update the required python version to 3.8 in your container configuration (argument `conda_env` in the `log_model()` method, specified as a dict) to see if that fixes your problem?

[2021-12-01 16:36] BenWilson2 commented on #5094
For an example structure, please see:[docs]( https://www.mlflow.org/docs/latest/python_api/mlflow.prophet.html)

[2021-12-01 18:19] bioshazard commented on #3783
I am also interested in MLFlow managing an official image in GHCR on the primary repo. I want to use MLFlow in my enterprise setting but am discouraged by the limited support for a canonical image. If the action were set up correctly, it could fully automate all future releases leveraging whatever build script is used to create the `pip` package.

[2021-12-01 18:45] totalhack commented on #1489
:( as well. I'm also looking for some clarity on this. I had assumed logging a model would package all of the dependencies together such that load_model would "just work". But it seems I may have to manually use the pip/conda info in the artifact to make sure all dependencies are installed first?

[2021-12-01 19:30] totalhack opened #5133 "[BUG] ModuleNotFoundError: No module named 'autosklearn' -- but it's in the artifact's dependencies"
**Please fill in this bug report template to ensure a timely and thorough response.**

### Willingness to contribute

N/A -- looking for a clarification on how this is supposed to work, or perhaps a doc update. Apologies if this is misclassified, the other options didn't seem appropriate either.

### System information

- **Have I written custom code (as opposed to using a stock example script pro

[2021-12-02 03:44] harupy commented on #5133
`load_model` just loads the model in the current environment. If `auto-sklearn` is not installed, it should fail.

[2021-12-02 11:52] #2099 closed

[2021-12-02 12:00] harupy commented on #4668
Addressed by https://github.com/mlflow/mlflow/pull/4695

[2021-12-02 12:00] #4668 closed

[2021-12-02 14:17] totalhack commented on #5133
@harupy I've come to that realization. I also am aware that there are other options such as mlflow projects and docker builds that can bundle everything together. In hindsight it's now obvious that most of the examples either imply or explicitly show training and inference happening in the exact same environment.

Since my dependencies are different between my training and inference environment (t

[2021-12-02 15:20] Grayhawk34 opened #5138 "[SETUP-BUG]; [R]; [mlflow]"
Hi,

I'm new to mlflow and cannot seem to get the installation for R correct in the Windows 10 environment.
**Below is the output of mlflow::install_mlflow()**
I've tried everything even mlflow::install_mlflow("3.9") or python_version = 3.9.
In Rstudio I've changed my Global Option for Python to :  C:/Users/grayh/AppData/Local/Programs/Python/Python39/python.exe
this seemed to resolve some issues

[2021-12-03 07:48] harupy commented on #5074
Seems related to https://github.com/Automattic/node-canvas/issues/1733

[2021-12-03 09:21] abashkinas opened #5142 "How to remove experiment and related artifacts in minio and entries in mysql."
Hello, we are currently using the following products:

mlflow-1.21.0
mysql-server:8.0.27  (backend-store)
minio/minio:RELEASE.2020-10-09T22-55-05Z (artifact store)

All of these products are deployed to docker.

In mlflow we have a test experiment:
![screen-1](https://user-images.githubusercontent.com/49237188/144577636-211c60a2-8c70-43de-a1d8-a798247b4b2f.png)

The artifacts of this experiment ar

[2021-12-03 09:55] zhouyuangan commented on #1550
@apurva-koti Is there any new progress now?

[2021-12-03 18:45] totalhack opened #5144 "[FR] Model Input Validation Outside of Pyfunc or MLFlow Deployment"
**Please fill in this feature request template to ensure a timely and thorough response.**

## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this featur

[2021-12-04 08:10] #5112 closed

[2021-12-05 11:59] #5114 closed

[2021-12-06 07:08] theyorubayesian commented on #2824
Is this issue resolved in 1.22.0? I still get this error when running mlflow against windows path

[2021-12-06 09:22] marcmk6 opened #5145 "Control the creation of Conda env when starting a mlflow project"
Hi,

I'm working on a Mac with M1 chip, which brings compatibility issues with some python packages.
There does exist a way of specifying the platform when creating a Conda environment (e.g. with an extra env variable `CONDA_SUBDIR=osx-64 conda create -n rosetta python` https://github.com/conda-forge/miniforge/issues/165#issuecomment-860233092). However the creation of Conda env while running a ml

[2021-12-06 09:42] Neethugkp opened #5146 "[SETUP-BUG]"
I am trying to configure MSSQL db as the backend uri

 Dockerfile is as below:-

FROM python:3.7-slim-buster
ARG BUCKET=bucketname
ARG ACCESS_KEY=key
ARG SECRET_ACCESS_KEY=key
ARG MSSQL_DATABASE=mlflowtest1

RUN apt-get update \
   && apt-get install gcc -y \
 && apt-get install unixodbc -y \
 && apt-get install unixodbc-dev -y \
 && apt-get install --reinstall build-essential -y

RUN mkdir -p /ml

[2021-12-06 14:20] pyone-world commented on #2463
same here, no problem on .ssh/auth_keys because id_rsa.pub listed, but stil paramiko.ssh_exception.AuthenticationException: Authentication failed while ERROR mlflow.server: Exception on /ajax-api/2.0/preview/mlflow/artifacts/list [GET]

[2021-12-06 17:02] pascal-schetelat opened #5147 "[FR] Specify model environment with a docker image instead of a conda yaml"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2021-12-06 20:55] andreaconti commented on #2414
Any updates about this feature? I'd really love to use it

Thanks for the hard work!

[2021-12-07 00:25] #5025 closed

[2021-12-07 04:11] dbczumar commented on #4821
Hi @coder-freestyle , apologies for the delay here. It would be helpful to show all the selected filters in the dropdown.

[2021-12-07 10:12] skshahidur commented on #1529
Following

[2021-12-07 11:00] ollieglass commented on #4299
#3024 also seems to be related

[2021-12-07 11:15] harupy commented on #4603
fixed by #4604

[2021-12-07 11:15] #4603 closed

[2021-12-07 11:16] harupy commented on #4813
fixed by #4604

[2021-12-07 11:16] #4813 closed

[2021-12-07 12:50] bgalvao opened #5148 "[SETUP-BUG]"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Docker 20.10.10; `docker-compose` 2.1.1; `Linux 5.13.19-2-MANJARO`
- **MLflow installed from (source or binary)**: pip
- **MLflow version (run ``mlflow --version``)**: 1.21.0
- **Python version**: 3.10.0
- **Exact command to reproduce** (in effect):
[code]

### Description

I am trying to make mlflow run as a ser

[2021-12-07 18:35] pelekhs opened #5150 "[BUG] Cannot set MFLOW_TRACKING_URI environment variable"
**Please fill in this bug report template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a f

[2021-12-07 20:55] trangevi commented on #5094
Assuming that you're trying to deploy to AML (which it looks like you are based on your imports), I would recommend switching over to using the new deployment plugin handling: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-mlflow-models. It uses more updated handling in AML, as the `mlflow.azureml` package is deprecated and being phased out. It's possible that it won't solve

[2021-12-07 22:05] jmckib opened #5151 "[BUG] mlflow.pyfunc.load_model(model_uri=f"models:/{name}/{stage}") returns an HTTP 405 Method Not Allowed"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [x] No. I cannot contribute

[2021-12-07 22:35] SeguinBe commented on #613
This seems to be a much needed feature to me, something that I remeber wandb doing very well.

I agree with @mrosales proposition, was there something done in that direction in the end?

[2021-12-07 22:38] SeguinBe commented on #5150
This does not seem to be related to mlflow, no? It's just that your dotenv setting does not set the environment variable properly?

[2021-12-07 22:47] pelekhs commented on #5150
I 've thought about that and maybe you are right. But i wanted to mention it as this specific environment variable is the only one that cannot be set by dotenv. Other variables, such as for example MLFLOW_S3_ENDPOINT_URL or AWS_ACCESS_ID etc. are normally set from within the .env file. And that is the second project that I experience this problem. What do you think?

[2021-12-07 23:10] SeguinBe commented on #5129
I'm no react developper but my guess on the cause would be more on the fact that there are three `overflow-y: scroll;` in [ExperimentListView.css](https://github.com/mlflow/mlflow/blob/d79a81671f50bf2b4d3105160912fbbee742cdec/mlflow/server/js/src/experiment-tracking/components/ExperimentListView.css)

[2021-12-08 01:35] aarondav commented on #4827
Thanks for making the change to scikit-learn! It does seem like a good route to me. MLflow's schema enforcement seems to convert None values to pandas.NA, which doesn't seem totally unreasonable -- it just doesn't work with scikit-learn's SimpleImputer.

I'm not sure if there's another "more correct" behavior for MLflow. We could keep "None", but it's not obvious that that's better in all cases, s

[2021-12-08 02:45] le1tz3y opened #5152 "[BUG] infer_signature fails when categorical Pandas series contains a null"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2021-12-08 04:59] yxiong commented on #4827
Thanks for the feedback, @aarondav . I was able to connect with @tomasatdatabricks , and we think it's probably the best not to cast pandas objects to string for now as it will break a few downstream places. #5134 fixed this issue.

[2021-12-08 04:59] #4827 closed

[2021-12-08 18:05] aarondav commented on #4827
Oh, nice, that's great. Thanks for the follow-up.

[2021-12-08 19:31] jvoor commented on #3144
I have the same issue, I train on my workstation but want to show the results to colleagues on my laptop. Remoting into my workstation is not an option due to firewall issues out of my control.  Relative path options or a batch path modifying tool would be useful to have in mlflow itself.

[2021-12-08 20:14] amenck commented on #4215
Is there any plan to address this? We have included `mlflow` as a requirement in some of our projects, which has limited us to using alembic 1.4.1. In practice I'm sure it would be fine to upgrade to a more recent version and just run the code, since we only use the client and definitely are not interacting with a DB via `mlflow`... however, since we have `mlflow` list in our, we would end up gett

[2021-12-09 16:03] jvoor commented on #3144
Thanks @HailinDu, I was using the `set_experiment` method, not the `create_experiment` method so I didn't see you could specify a `artifact_location` parameter. Do you set "artifact_location" as a relative path? Otherwise it will also use the path of my workstation when `mlflow ui` is run on my laptop? Also, is there a way to update all my previous experiments to have an "artifact_location"?

[2021-12-09 19:14] jeremyjordan commented on #4353
Hi @dbczumar, did you have a chance to apply the deadlock fix for the OSS mlflow tracking service? We've been seeing this issue and would love to get it resolved :)

[2021-12-09 20:39] moustafa-7 commented on #2414
any updates?
Thanks : )

[2021-12-09 20:40] moustafa-7 commented on #2414
any updates?  @andychow-db
Thanks : )

[2021-12-09 23:20] ericraymond commented on #2760
Can the server be run in active/active (load balancer sends request to any of the running instances)? The above is talking about active-passive (only one server handling requests)

There are edge cases where a stateless system might have problems with multiple writers.

[2021-12-10 14:03] alexsee commented on #5151
Have you checked if your client library version is also updated to 1.22.0? There was a change in the API #4999.

[2021-12-10 14:14] alexsee commented on #5146
It doesn't look like a bug, you may be missing the `mssql-odbc` driver. (from https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-ver15)

[2021-12-10 14:58] #5147 closed

[2021-12-10 18:20] jmckib commented on #5151
Oops, somehow I overlooked that the server version was still 1.17.0. My mistake, false alarm.

[2021-12-10 18:20] #5151 closed

[2021-12-10 20:40] pbezglasny opened #5155 "[DOC-FIX] Change type hint for method get_latest_versions to List[ModelVersion]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this documentation issue template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another

[2021-12-11 03:08] #5155 closed

[2021-12-12 22:51] amesar commented on #5128
Good idea, but the reason the API is this way is that its based on Protobuf which doesn't lend itself to REST best practices. I doubt this will get accepted since Protobuf is all over the system and it would be major overhaul.

[2021-12-13 21:58] tallen94 opened #5161 "[BUG] CVE-2021-44228 Vulnerability"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2021-12-14 13:45] bs-oliver-vestervang commented on #4983
Issue can easily be fixed by adding the argument 'classes = c("numeric", "character")' to the rapply statement in the mlflow_rest function. This excludes boolean variables from being converted.

[2021-12-14 18:52] pedro-fraguas commented on #3305
@3WlVzK0N I had the same issue last week. What happened to me was that there was a policy preventing me from using s3 as the artifact store. You can simulate your permissions in the following link.
[https://policysim.aws.amazon.com/]
Hope this helps!

[2021-12-14 22:58] jaymegordo commented on #5034
+1 same issue as above, just explained a bit more:

When the values (1, 0) in the `CASE` statements are parameterized the query fails with:

[code]

SQL Server seems to not be able to check that the parameterized values in the `ORDER BY` clause are in fact in the `SELECT` clause.

[code]

I'm not sure how to make SQLAlchemy pass those values non-parameterized, or otherwise modify the source, so as

[2021-12-15 09:39] tomsej commented on #5161
The issue is closed. Does it mean that MLFlow does not have CVE-2021-44228 vulnerability?

[2021-12-15 11:07] ecm200 opened #5168 "[Question] Repository structure of model flavours"
Hi,

This is more of a question than a bug or a feature.

On browsing through the model "flavour" modules (e.g. pytorch, paddlepaddle etc.), I note that a majority of the code base is contained within the `__init__.py` file of each flavour module and I feel this is slightly unconventional.

**Is there a reason for this being implemented this way?**

If shortening imports is the reason, then bringi

[2021-12-15 12:27] tahesse commented on #5115
@Geetha-Ponnuvel There already is user authentication in MLFlow via `.htaccess`. Check how to setup a `.htaccess` for your reverse proxy. Example for nginx: https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/ (different from htaccess but roughly the same concept of securing paths)

Further, make sure to have the env vars `MLFLOW_TRACKING_USERNAME` and

[2021-12-15 13:02] tahesse commented on #2630
I wanted to mention that when using an AWS S3, I am unable to use the `MLFLOW_S3_ENDPOINT_URL` environmental variable because the scheme `s3` is not supported (according to https://boto3.amazonaws.com/v1/documentation/api/latest/reference/core/session.html#boto3.session.Session.client) and when I set the MLFlow tracking endpoint I receive an error that reads `An error occurred (404) when calling t

[2021-12-15 13:54] TUMAAA opened #5169 "[BUG] tensorflow.autolog or keras.autolog submitting empty runs"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2021-12-15 15:56] PavelHlubik opened #5170 "[FR] Better and configurable logging in docker container."
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2021-12-15 16:45] daanknoope opened #5171 "[BUG] Using MlflowClient.get_latest_version with an older server instance causes 404"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2021-12-15 19:37] scottabarnes opened #5172 "[BUG] restore experiment in Rest API throws error when experiment created from notebook"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2021-12-15 19:43] tcmle commented on #2735
same issue still

[2021-12-15 20:03] sp1thas opened #5173 "[FR] Add `mlflow.set_run_name` function"
## Willingness to contribute

- [x] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from the MLflow community.
- [ ] No. I cannot contribute this feature at this time.

## Proposal Summary

Create a new mlflow function in order provide a way to rename the run name. This function could be the `mlflow.set_run_name`

## Motivati

[2021-12-16 03:46] sebastiaanboer-db commented on #5083
@piotrkolanowski I've tried uploading a 10gb file and have been unable to reproduce this issue. The upload_file function automatically uses multipart upload under the hood when necessary ([boto3 docs](https://boto3.amazonaws.com/v1/documentation/api/latest/guide/s3-uploading-files.html)). Could you enable debug logs for boto3 so we can see what is going on? Something like this:
[code]

[2021-12-16 12:57] sivanagendra123 commented on #4955
could you help me for this error

[2021-12-16 16:34] eXTure opened #5178 "[BUG] ModuleNotFoundError: No module named 'custom_transformer'"
### Willingness to contribute
- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [x] No. I cannot contribute a bug fix at this time.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: -
- **OS Platform and Distri

[2021-12-16 17:13] aidiss commented on #5178
Facing same issue.

Why could the import be missing?

Maybe ml-flow supports only code that is not imported. In that case, if no user created Python modules would need to be imported loading would work just fine?

[2021-12-16 20:39] agauniyal opened #5179 "[Question] Query regarding multi-threading, threadlock, concurrent futures inside mlflow?"
I've seen usage of `threading.lock()` api -
1. https://github.com/mlflow/mlflow/blob/0fa849ad75e5733bf76cc14a4455657c5c32f107/mlflow/store/tracking/sqlalchemy_store.py#L89
2. https://github.com/mlflow/mlflow/blob/4195541c7f6a79fba4ccad2295534f16eaa8db39/mlflow/_spark_autologging.py#L28

On searching for threading use cases - https://github.com/mlflow/mlflow/search?p=1&q=threading , it seems to be

[2021-12-17 13:17] joeltorby commented on #4104
I have not used `log_model `specifically, but I had similar 'cryptical' error message for `mlflow.log_text(..)`. After some day struggling I noticed that the artifact_file needed to have "/" and not "\\" -> `"folder/text.txt"` will work but not "mlfolder\text.txt".

When using `mlflow.log_artifact()` and giving `artifact_file` parameter one need to only give folder name ` "mlfolder"` but not "mlfo

[2021-12-17 17:46] strangan commented on #4005
I'm running into this issue as well. While it works great using mlflow.keras.log_model, I cant convert it to a pyfunc flavor. The reason why I'm even converting it to the a pyfunc flavor is because i want to override the PREDICT method and output something custom - instead of the probabilities, i want to output the class with the highest probability and serve it using MLFLOW model serving.

Pytorc

[2021-12-18 17:37] Fayzan-Bhatti commented on #4005
Here I am using TensorFlow and Keras, I didn't test on PyTorch. Yet this
error is not resolved

On Fri, Dec 17, 2021 at 10:46 PM strangan ***@***.***> wrote:

[2021-12-18 19:17] tallen94 commented on #5161
@tomsej I closed it initially because I didnt have a lot of evidence on what was going on. But we have found that it does potentially affect you if you are using `mleap` flavor when model serving.

[2021-12-19 09:59] yogeveran commented on #979
I faced this issue as well..
set_experiment fails if multiple processes try to set the same experiment in parallel.
The solution to set experiment before calling the parallel processes doesn't work because set_experiment is non blocking (async) and returns before the experiment is generated.

A suggested fix would be to make set_experiment to wait until the experiment is generated (with possible t

[2021-12-19 10:17] anderfernandez commented on #2571
Hi @techwithshadab can you explain how you solved it please? Thanks!

[2021-12-20 00:00] zacdav-db opened #5181 "[FR] Add support for spark models"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [x] Yes. I would be willing to contribute this feature with guidance from

[2021-12-20 05:39] fzhcary commented on #3099
hi,
Just want to know if there is any progress/solution to this?
I have encounter the same issue here. Trained model in R but had an issue when deploy the model.
training code
[code]

error : Invalid Request.  no applicable method for 'predict' applied to an object of class "c('train', 'train.formula')"

[2021-12-20 05:49] mdneuzerling commented on #3099
Hi @fzhcary. I assume you're using the `caret` package here? The `crate` function requires that you refer to the _exact_ function that's needed. The `model` that's produced by `caret` is an object of class "train". So when you call `predict` on an object of class `train`, it looks for a function called `predict.train`, which in this case is found in the `caret` package. The following works for me:

[2021-12-20 10:43] mbcel opened #5184 "[BUG] Metric visualization in UI beocmes broken. Rectangular/Constant curve instead of real curve."
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2021-12-20 14:59] piotrkolanowski commented on #5083
Hi @sebastiaanboer-db, thanks fo looking into this issue.

using the code

[code]
The small file gets uploaded, the big one does not (also all files unter 5GB can be uploaded, above cannot).

The logs:
[code]

[2021-12-20 15:03] luizfgoncalves commented on #5171
I had the same problem while trying to load a model from model registry with mismatching versions (client 1.22.0).

Running the sample code below resulted in error 404. I had to downgrade the client version to make it work.

[code]

[2021-12-20 15:11] bramrodenburg commented on #4908
Fix proposed here: https://github.com/mlflow/mlflow/pull/5185

[2021-12-20 15:36] #4908 closed

[2021-12-20 16:02] bramrodenburg commented on #5057
Issue is now fixed here: https://github.com/mlflow/mlflow/pull/5185

[2021-12-20 19:46] amesar commented on #5173
The run name is stored in the "mlflow.runName" tag. Just use set_tag().

[2021-12-20 22:02] #4381 closed

[2021-12-21 06:10] dalavayi commented on #4752
Hi, @Ark-kun temporarily resolved this error by upgrading the protobuf version to 3.19.1. Hope this helps!

[2021-12-21 11:52] oriolcmp commented on #5171
Same issue here, I have noticed that if instead of specifying the stage (Staging, production) we pass the version number then it works.

[2021-12-21 12:58] metalglove commented on #4830
Transforming the start_run into this fixed it for me:
[code]

[2021-12-21 14:19] TUMAAA commented on #5169
Any answer? :)

[2021-12-21 19:00] moganesyan commented on #5035
@reedrefucher Are you still working on this? I'm interested too!

[2021-12-21 19:06] avolny commented on #2440
Hello, it's been a year and a half, and after a bunch of googling there still seems to be no UI extensibilitiy. Is this on the roadmap of the project?

Mlflow has many strong features, but the UI is not one of them. If you managed to open the UI up to developers, they would surely, over time, improve the mlflow UI to the next level. It's a much better choice, than trying to do it "in house", so to

[2021-12-21 19:20] reedrefucher commented on #5035
@moganesyan  I have a code prepared, but I haven't got any attention from MLFlow team and didn't try to reach them by myself at this time.

[2021-12-21 19:35] matheusMoreno opened #5190 "[BUG] start_run() modifies tags dictionary"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [x] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2021-12-22 01:54] AveshCSingh commented on #5178
The problem here is that mlflow is unaware of the custom Python module `ColumnSelector`. Other mlflow flavors have handled this problem by adding a `code_path` parameter to `log_model` (see [mlflow.pyfunc.log_model](https://github.com/mlflow/mlflow/blob/852f567797dfcde34c8daffcceec95c64d2c641f/mlflow/pyfunc/__init__.py#L1107), [mlflow.pytorch.log_model](https://github.com/mlflow/mlflow/blob/master

[2021-12-22 03:11] zacdav-db commented on #5181
Have tried to solve the issue directly in the `{mleap}` package.

[Pull Request](https://github.com/rstudio/mleap/pull/48)

If the issue as simple as it seems then fixing Travis CI will be last hurdle.

[2021-12-22 03:29] Pisou commented on #545
how to fix this error ?
mlflow.exceptions.MlflowException: API request to http://0.0.0.0:5000/api/2.0/mlflow/runs/create failed with exception HTTPConnectionPool(host='0.0.0.0', port=5000): Max retries exceeded with url: /api/2.0/mlflow/runs/create (Caused by ResponseError('too many 500 error responses'))

[2021-12-22 03:31] Pisou opened #5192 "mlflow.exceptions.MlflowException"
how to fix this error ?
mlflow.exceptions.MlflowException : la demande d'API à http://0.0.0.0:5000/api/2.0/mlflow/runs/create a échoué avec l'exception HTTPConnectionPool(host='0.0.0.0', port=5000) : nombre maximal de tentatives dépassé avec URL : /api/2.0/mlflow/runs/create (causé par ResponseError('trop de 500 réponses d'erreur'))

[2021-12-22 11:30] islamashraf98 opened #5193 "[BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2021-12-22 15:57] pcjedi commented on #608
for me this helped:

[code]

[2021-12-23 01:06] #5190 closed

[2021-12-23 06:07] devika10singh opened #5195 "[BUG] mlflow ui not launching in iframe"
I am trying to launch mlflow ui in iframe but it gives DOM exception ...Blocked a frame with origin from accessing a cross origin frame error. I am working in python DASH app. Inside DASH app I want to launch mlflow ui but I am not able to do so with iframe .

Can anyone suggest how to solve this issue.

[2021-12-23 09:49] huxuan commented on #4215
Same problem here, to be more specific. We joint the usage of `mlflow` and `airflow`. And in airflow v2, the least requirement for `alembic` package is `1.5.1`. Do we have any plans to upgrade that?

[2021-12-23 10:34] hjilke opened #5196 "[Question] S3 Bucket Permissions - MLFlow Registry - botocore.exceptions.ClientError"
Hi Everyone,

I am using the **MLflow Model Registry** with a PG instance as a backend store and an AWS S3 bucket to store the artifacts.

What permissions do I have to set, s.t. the registry can work with the bucket?

ATM I receive:

`botocore.exceptions.ClientError: An error occurred (AccessDenied) when calling the ListObjectsV2 operation: Access Denied`

once the registry tries to fetch artifac

[2021-12-23 11:05] agsha commented on #5161
any update on this critical issue? 5 days are past..

[2021-12-23 18:56] mrkaye97 opened #5197 "[BUG] MLFlow startup fails when DB URL is `postgres:<<foobar>>` instead of `postgresql:<<foobar>>`"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2021-12-24 00:42] harupy commented on #5197
@mrkaye97 Looks like this is a SQLAlchemy issue: https://stackoverflow.com/a/64698899/6943581

[2021-12-24 00:43] #5197 closed

[2021-12-24 00:54] mrkaye97 commented on #5197
Agh, brutal. Alright. Thanks for the pointer @harupy!

[2021-12-24 09:18] dbczumar commented on #5161
@tallen94 @tomsej @agsha An audit of the MLflow Java Client and MLflow Java Scoring Server packages does not indicate the presence of `log4j`. The ticket filer, @tallen94, correctly indicates that `slf4j` is a dependency of these packages. However, `slf4j` is *not* a wrapper around `log4j`. Rather, it is a standardized interface for event logging in Java that is compatible with a variety of Java l

[2021-12-24 09:18] #5161 closed

[2021-12-24 19:59] sebastiaanboer-db commented on #5083
Nothing immediately stands out to me. Could you enable boto3 logging explicitly as well, something like the snippet below?
[code]

Boto3's github repo also doesn't show related issues, other than updating boto3 to the latest version. Could you try that as well?

[2021-12-25 05:04] mrkaye97 opened #5199 "`mlflow_transition_model_version_stage` (R) fails with HTTP `500` [BUG]"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2021-12-25 05:20] mrkaye97 commented on #5199
As it turns out, there's a bug in `mlflow_rest` here: https://github.com/mlflow/mlflow/blob/master/mlflow/R/mlflow/R/tracking-rest.R#L68

The issue is that that ^ line is converting boolean values to characters, so `TRUE` is converted to `"TRUE"`, which then fails. An easy (albeit hacky, since it still leaves us open to more bugs) fix, would be to do something like this:

[code]

Where we first ch

[2021-12-25 17:07] mrkaye97 commented on #5199
One other comment on this before I forget: It's concerning to me that I can get a `500` for what boils down to a bad parameter data type. This should probably return a `400` instead I assume. As it is right now, there's no way for me (the user) to figure out what went wrong without digging into the logs + the API call itself, which seems problematic. Is there any kind of JSON validation (e.g. agai

[2021-12-27 14:34] skrishnanv opened #5203 "[FR] Display of parameters in comparison plot."
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2021-12-27 23:56] peguerosdc opened #5204 "[BUG] Changing the Tracking's URI doesn't change the Artifact's URI"
### Willingness to contribute
- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute a bug fix at this time.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**:
- **OS Platform and Distribu

[2021-12-28 16:37] hjilke commented on #5196
After some debugging, we figured that the problem was somewhere else and
 "s3:Get*", "s3:Put*", "s3:List*" are enough permissions

[2021-12-28 16:37] #5196 closed

[2021-12-29 12:07] krlng opened #5207 "[FR] Support for nullable numeric types with pd.DataFrame inputs"
**Please fill in this feature request template to ensure a timely and thorough response.**

## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ X ] No. I cannot contribute this fe

[2021-12-29 20:29] mrkaye97 opened #5208 "[FR] Validate request JSON with JSON schema or similar"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2021-12-30 06:00] Nejina commented on #5035
@reedrefucher I am trying to track model build using mediapipe using MLFlow. I am new to Mlflow and MLOps.Can you please guide me here: I created a custom python wrapper and tried to track using MLFlow but while executing the same stuck with error :TypeError: can't pickle mediapipe.python._framework_bindings.calculator_graph.CalculatorGraph objects

[2021-12-30 12:48] A-Alaa opened #5209 "[FR] Support an option to use sqlalchemy.pool.NullPool to avoid overwhelming DB in parallel runs"
## Willingness to contribute

- [ ] Yes. I can contribute this feature independently.
- [x] Yes. I would be willing to contribute this feature with guidance from the MLflow community.
- [ ] No. I cannot contribute this feature at this time.

## Proposal Summary

The requested feature will allow users of mlflow (directly or e.g. through [optuna](https://github.com/optuna/optuna/tree/master/optuna))

[2022-01-02 14:02] eacatalyst commented on #4399
I am having the exact issue as irfaanz
I only get to see the models when I run:  model ui
When running:  mlflow server --backend-store-uri sqlite:///:memory --default-artifact-root ./mlruns the runs are not available

[2022-01-02 17:31] reedrefucher commented on #5035
@harupy, @dbczumar, @WeichenXu123 can you please review this [FR]?  I am eager to contribute.

[2022-01-02 20:11] maitre-matt opened #5211 "[FR] Add API to load model input example"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-01-03 02:37] mrkaye97 commented on #5204
I'm not an author, but I've been working on a new API wrapper I'm calling [lightMLFlow](https://github.com/collegevine/lightMLFlow) that might help with your problem. One of the main ideas behind the package was that the R package that's making calls to the MLFlow API really has no reason to require `boto3` to save things to S3, so I replaced `boto3` with `aws.s3`. It'd be easy to extend that to a

[2022-01-03 05:59] peguerosdc commented on #5204
Hi! Thanks for sharing! After discussing the topic on a Microsoft forum, I was pointed to [an updated R example](https://github.com/Azure/azureml-examples/tree/aebe5100ffabbfbd4ec4bd06014be511acf48b24/cli/jobs/single-step/r) that implements a new MLFlow client (see `/accidents/src/azureml_utils.R`) which sort of solves my issue.

I don't consider it ready for production as sometimes the code halts

[2022-01-03 10:48] Geetha-Ponnuvel opened #5213 "Issue with creating Experiments"
I have created my Own API for Creating Experiments, it always requesting Get method instead of Post. where do i change this to Post Method? it's bit urgent someone help me to solve this

[2022-01-03 12:05] mrkaye97 commented on #5204
Great, thanks for the pointer! That sounds like a solid solution 👍

[2022-01-03 15:00] mcuendet opened #5214 "OSX Rscript not found"
Hi,

I'm working on OSX 11.6.1 with RStudio 2021.09.0 and R 4.1.2 installed through Homebew 3.3.9. I used the quickstart instructions to install mlflow and it seemed to work, as far as the single training and the UI go. But when I try to run

`> mlflow_run(uri = "./", entry_point = "train.R")`

I get the following error:

2022/01/03 15:49:15 INFO mlflow.projects.backend.local: === Running command

[2022-01-03 20:46] singankit commented on #5057
Thanks @bramrodenburg for the fix. Closing this bug.

[2022-01-03 20:46] #5057 closed

[2022-01-03 21:47] ankit-db commented on #5171
Hi folks! Thanks so much for surfacing the issue, and apologies about the delay in responding. @daanknoope , thanks for the descriptive analysis of the bug - I agree with your analysis of the issue.

re: dropping the preview route, the Model Registry is now GA and thus, we feel it's appropriate for future updates to the client to not use preview routes. In general, backwards compatibility where fu

[2022-01-04 03:14] singankit commented on #5054
Hi @lorenzwalthert sharing the [PR](https://github.com/mlflow/mlflow/pull/5215) for the fix. It is not fully tested yet. I am running into following error (**Package required and available but unsuitable version: 'stringi'**) while setting up R SDK as per the instructions [here](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst#id18).

[2022-01-04 04:34] ankit-db commented on #4911
@kasper189 am a little concerned about the chosen implementation in the PR, though I agree that we need to start thinking about how to correctly support GRPC. The reason I'm concerned is that the proposed format here isn't compliant with other standards like the V2 protocol proposed and used by KServe and Seldon.

Additionally, even if we discussed this new format's pros/cons vs. V2 protocol, our

[2022-01-04 04:38] ankit-db commented on #5067
@mhemendra what's the impact on calling this function twice? Agree with your analysis on possible solutions, but, as I commented in the PR, I don't think option 2 makes sense from an abstractions perspective.

[2022-01-04 06:02] singankit commented on #5054
@lorenzwalthert  To answer your question yes there is a difference between timestamp between [python](https://github.com/mlflow/mlflow/blob/c0e0571d280ff19c7de8893e5953adb79a376705/mlflow/models/model.py#L53) and [R](https://github.com/mlflow/mlflow/blob/c0e0571d280ff19c7de8893e5953adb79a376705/mlflow/R/mlflow/R/model.R#L57) client right now.

Timestamp generation in python is equivalent to [d.iso

[2022-01-04 07:20] lorenzwalthert commented on #5054
@singankit thanks. The {stringi} version is upper bounded because of an [older issue](https://github.com/mlflow/mlflow/pull/2288) which is probably resolved now and we should remove the upper bound. You probably had a higher version installed locally, which is why you got the warning. How about removing that maximal version requirement in`DESCRIPTION`in another PR?

[2022-01-04 08:05] serena-ruan opened #5216 "[FR] Support spark `transformers` tracking with mlflow"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-01-04 11:07] gangarao24 commented on #4867
I'm facing same issue. Did you found any fix?

After running model serving command to store tracking information

mlflow server --backend-store-uri sqlite:///mlflow.db --default-artifact-root ./artifacts --host 0.0.0.0 --port 5000
2022/01/04 16:25:31 INFO mlflow.store.db.utils: Creating initial MLflow database tables...
2022/01/04 16:27:50 INFO mlflow.store.db.utils: Updating database tables
INFO

[2022-01-04 13:32] piotrkolanowski commented on #5083
Thanks for looking into this.

Good point with newest boto3. To make a clean test I created new venv with python 3.8.12 and
installed newest mlflow and boto3 available only.
Still does not work on the big files while working on small ones.
The error message is different though.
Unfortunatelly log doesn't contain anything boto3 / botocore specific.
I've set the logging level on boto3 / botocore to

[2022-01-04 18:09] ssimontacchi commented on #694
Hi, can you explain what you mean here in a little more detail? Thanks!

[2022-01-04 18:14] #5211 closed

[2022-01-05 09:18] florianblume commented on #3672
Are there any updates on this feature? I'd be interested, too. I could also help implementing it, if someone needs help or I could start with an implementation. But I think we'd have to answer the questions of @dmatrix first.
1. My personal preference would be to call the global parameters simply `parameters` as originally proposed as that would make the link to the individual parameters clear.
2.

[2022-01-05 09:42] florianblume commented on #2877
Any update on this? I'd be interested in this feature, too. And would be willing to help implement it :)

[2022-01-05 11:21] pbezglasny opened #5218 "[FR] Adding versioning of MLproject file specification"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-01-05 19:55] westford14 commented on #4199
@dmatrix - just popping in to say I made a really small PR that specifies this in the docstrings for instances of `create_experiment`. Interestingly an empty string is allowed for an experiment name:

[code]

[2022-01-05 20:24] SujoyDutta opened #5222 "[Bug]race condition using file system as Mlflow backend"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-01-05 21:46] Borda opened #5223 "[FR] Lightning ecosystem CI"
Hello and Happy New Year 2022! :tada:
Just wondering if you already heard about quite the new **Pytorch Lightning (PL) ecosystem CI** where we would like to invite you to... You can check out our blog post about it: [Stay Ahead of Breaking Changes with the New Lightning Ecosystem CI](https://devblog.pytorchlightning.ai/stay-ahead-of-breaking-changes-with-the-new-lightning-ecosystem-ci-b7e1cf78a6c7

[2022-01-05 21:52] sebastiaanboer-db commented on #5083
Ah I see! I thought this was for the s3 artifact repository directly, but it looks like the issue occurs when using the databricks artifact repository on S3. The latter doesn't currently support multipart upload (for the reason you mentioned in the description). Implementation is in `mlflow/store/artifact/databricks_artifact_repo.py`. Could you plz update the title / description to mention the dat

[2022-01-06 01:54] dmatrix commented on #4199
This might be a bug. :)

[2022-01-06 02:02] westford14 commented on #4199
oh interesting @dmatrix ! i have an open PR for this that's ready for review, but would it be worthwhile for me to open up a new issue for the blank string?

[2022-01-06 02:06] dmatrix commented on #4199
@westford14 you might want to file that as an issue.

(FYI, I’m longer working on MLflow)

[2022-01-06 02:08] westford14 commented on #4199
okay will do! and thanks for letting me know

[2022-01-06 02:19] westford14 opened #5224 "[BUG] Empty Experiment Name is Allowed"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [X] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2022-01-06 02:55] mhemendra commented on #5067
Hi @ankit-db,

I thought there will be an impact however minor due to this duplicate call to a function.

Can we go with Option 1, remove from log_batch and add the validate tag and param name separately for rest_store?

[2022-01-06 05:38] ankit-db commented on #5067
cc: @harupy who may have more perspective on options here

[2022-01-06 10:02] Shiraes opened #5227 "something went wrong [BUG]"
I am trying to start the mlflow ui in the notebook (using !mlfloe ui) but the server page of mlflow  is :

Something went wrong
If this error persists, please report an issue here.

whet seems to be the problem?

thanks for you help:)
![image](https://user-images.githubusercontent.com/96474496/148365262-a9424df7-9a11-4d20-8784-f53522e0c9d9.png)

[2022-01-06 15:40] jbvaningen commented on #4215
I'd like to +1 this issue

[2022-01-07 03:19] ogabeezle opened #5231 "[FR] the use of GCS Signed URL for mlflow model service"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-01-07 07:25] eminemence commented on #3463
I am also facing the same issue with NFS share and the lack of documentation is really hurting.

We have a `server_NFS`, which has a share exported like this
`/home/nfsuser/share  <server_A>(rw,sync,no_root_squash,no_subtree_check)`

The permissions on `/home/nfsuser/share` have been set for all to read and write.

`server_A` has mlflow tracking server running and is the NFS client. The NFS share

[2022-01-07 09:15] kevinkleinQC opened #5233 "[FR] Make Model Prediction code snippet adaptable"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-01-09 19:43] noahshpak opened #5241 "Allow users to download all run artifacts from a model uri"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [x] Yes. I can contribute this feature independently.
- [x] Yes. I would be willing to contribute this feature with guidance from

[2022-01-09 21:51] JamieSlome opened #5242 "Create SECURITY.md"
Hey there!

I belong to an open source security research community, and a member (@srikanthprathi) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best p

[2022-01-10 11:13] JbIPS opened #5246 "[BUG] Previous runs not shown after restart"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [X] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2022-01-10 14:56] smuon commented on #5034
+1 same issue here

Happens with mlflow v1.21.0, not prior.
Running Python 3.8.5 on CentOS7.
alembic version is 1.4.1, sqlalchemy is 1.4.29

The temporary solution with altering sqlalchemy_store.py works for me too.

Where exactly are those SQL statements generated?

[2022-01-10 19:43] luana-be opened #5247 "Unable to log a TensorFlow SavedModel"
I'm working with MLflow version **1.22.0** and I'm trying to log a TensorFlow model which is in the SavedModel format. When I run the command:

`mlflow.tensorflow.log_model(tf_saved_model_dir=export_dir, tf_meta_graph_tags=["serve"], artifact_path="mlruns/0/0dcc80caa5be4574a92a26306e24cdb8/artifacts/model", tf_signature_def_key=None)`

I get the following error:

[code]

A similar issue is occurri

[2022-01-10 20:32] dbczumar commented on #5222
@SujoyDutta MLflow's file-based storage mechanism is not designed to support concurrent writes, e.g. from Spark workers. You must use a REST or SQL-based storage solution to support this use case. For example, this workflow is supported on Databricks; Databricks automatically configures MLflow on Spark workers to log content to the Databricks-hosted MLflow Tracking server and supports concurrent w

[2022-01-10 20:32] #5222 closed

[2022-01-10 22:46] lichenran1234 commented on #4250
Support of specifying 'latest' in model URI was added in #5027

[2022-01-10 22:46] #4250 closed

[2022-01-11 07:14] Jing25 commented on #5227
I saw same error

[2022-01-11 07:41] Shiraes commented on #5227
Did you manage to fix it?

[2022-01-11 08:50] TUMAAA commented on #5169
After a lot of investigation here is the answer:
**When tensorflow eager mode is disabled the autolog submits empty results.**
To verify simply take the (sample code)[examples/keras/train.py] mlflow github and disable eager mode by simply adding tensorflow.compat.v1.disable_eager_execution(). You will notice the results submitted are empty

[2022-01-11 09:10] TUMAAA commented on #3367
Hi,

The issue seems to be related to https://github.com/mlflow/mlflow/issues/5169.

In summary, in graph mode the submitted results are empty.

BR

[2022-01-11 13:56] liviaciabati opened #5251 "[BUG]"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [X] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2022-01-11 18:51] karan-kaushik-searce commented on #4202
Hey @dmatrix
Is this still open? Anywhere I can help out?

[2022-01-11 18:51] karan-kaushik commented on #4202
Hey @dmatrix
Anywhere I can help out if this is still open?

[2022-01-12 00:03] nicholasarquette opened #5252 "[FR] Support Amazon Redshift as a backend-store-uri"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-01-12 04:43] abaveja313 commented on #5247
I am having this same issue

[2022-01-12 08:37] jhoareau commented on #4479
It seems like this option is now available under `model.pytorch.log_state_dict`.

[2022-01-12 08:37] #4479 closed

[2022-01-12 09:41] coalindiax commented on #884
same issue default-artifact-root have s3 path and backend-store-uri is mysql

[2022-01-12 10:51] hipoglucido commented on #2901
<img width="319" alt="small_image_mlflow" src="https://user-images.githubusercontent.com/13640946/149126430-38902247-fe51-40b3-ab6e-5dbe5ec69d09.png">
It also appears extremely narrow in my case. After trying to zoom the image crops itself so it is impossible to expand it horizontally. It makes it really user unfriendly to explore my vertical plots :(

[2022-01-12 11:36] aglohmeijer opened #5257 "[FR] Support of nested model output signature"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-01-12 22:07] ankit-db commented on #5171
Quick ping here @daanknoope

[2022-01-12 23:58] dwyatte opened #5259 "[BUG] Keras pyfunc uses keras.Model.predict instead of calling as function resulting in large slowdown"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [x] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2022-01-13 08:40] alankongfq commented on #3032
I am using `mlflow.tensorflow.autolog()` and also facing the same issue as well. It is failing at the step where it log the model summary at training start - [doc] (https://www.mlflow.org/docs/latest/python_api/mlflow.tensorflow.html#mlflow.tensorflow.autolog)
If we were to build a DL model, the model summary would most certainly exceed the 5000 limit. Is there other ways to log in mlflow?

[code]

[2022-01-13 09:27] LucasCampos opened #5262 "[BUG] mlflow destructor fails when using TensorFlow MirroredStrategy"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2022-01-13 12:44] JbIPS commented on #5246
Looks like I didn't see the filter "Last 24h".

Sorry for the false report and thank you for MLFlow!

[2022-01-13 12:44] #5246 closed

[2022-01-13 13:44] Tob-iee opened #5265 "[BUG]Mlflow fails to create conda environments which is caused by pip dependency failure"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2022-01-13 18:56] kthejoker opened #5266 "Incorrect error message when user is not using Databricks CLI"
https://github.com/mlflow/mlflow/blob/dab955c02f762852a0e4ec8cf01c7baaffdf598d/mlflow/utils/databricks_utils.py#L322

**Issue:**

If user is setting secret scopes in Databricks for their remote registry (rather than the Databricks CLI), and configures them incorrectly, the error message incorrectly says it is the result of a malformed Databricks CLI profile.

**Steps to reproduce:**

1) Set regist

[2022-01-14 09:10] dbczumar commented on #5169
@TUMAAA Apologies for the delayed response. Thank you for investigating. We are working on a fix.

[2022-01-14 11:14] jdlesage opened #5269 "[FR] Log an array of metrics in one call."
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [X] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2022-01-14 17:12] atharvapatil123 commented on #4202
Hey @dmatrix
Is this issue still open?!

[2022-01-14 18:12] AveshCSingh commented on #5252
Hi @nicholasarquette. Thanks for filing this feature request.

You can log to mlflow from multiple machines by standing up an MLflow server, or by connecting to the same database. Redshift is not necessary for this.

I am also skeptical of introducing Redshift as a supported backend, since Redshift is an OLAP and not an OLTP database. I will thus close this ticket for now, but please feel free to

[2022-01-14 18:12] #5252 closed

[2022-01-14 21:02] dbczumar commented on #4296
Closing this out now that this support has been added for both XGBoost and LightGBM. Thank you so much for your contributions, @jwyyy !

[2022-01-14 21:02] #4296 closed

[2022-01-14 23:06] jwyyy commented on #4296
@dbczumar I am really happy to contribute to the community :smile:  Thank you a lot for your review!

[2022-01-15 01:34] dmatrix commented on #4202
looks like it’s closed & merged

[2022-01-15 18:57] Dionaea opened #5274 "[BUG] Error on create_registered_model from MlflowClient"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-01-15 19:16] ealjkl commented on #5265
I ran into the same problem, but with Non-zero exitcode: -9. I am using WSL2 and restricted the memory, and the lack of memory turned out to be the problem.

Your problem may be different, and debugg it (at least for me) was hard because mlflow kind of hides you the error.

To investigate what is the conda error, go to `/home/nwoke/.local/lib/python3.8/site-packages/mlflow/utils/conda.py`

Here yo

[2022-01-15 23:32] Koushik-Sarker-Seemanto commented on #1896
I am also facing same issue. In my case, I want to get all runs from an experiment with tree structure with api call. Is there any way of getting that structured data? Or, I have to build the data structure on my own. If anybody has any clue, help me out. In case I need to build the structure on my own in FE then it's actually heavy computation that I need to use in FE. If there is any way of pull

[2022-01-16 08:05] NilakshanKunananthaseelan commented on #2426
Any working updates in this issue?

[2022-01-16 10:43] dachosen1 commented on #4399
I'm having the same issues too.

[2022-01-16 11:49] Tob-iee commented on #5265
apparently the directly doesn't exist
![Screenshot from 2022-01-16 12-47-21](https://user-images.githubusercontent.com/49782212/149658694-9bb20e0b-ee47-49a7-a80e-f4e10fda660c.png)

[2022-01-17 04:48] FayolChang commented on #5274
Hi, Dionaea
     I can not reproduce this bug on my local machine,  would please refer https://github.com/Toumash/mlflow-docker to set up correct tracking uri and registry store?

[2022-01-17 19:58] ealjkl commented on #5265
I don't know if I am missing something but it seems like you are using cd with a file path,

did you try `vim /home/nwoke/.local/lib/python3.8/site-packages/mlflow/utils/conda.py`

to open it? or `nano /home/nwoke/.local/lib/python3.8/site-packages/mlflow/utils/conda.py `

[2022-01-18 11:00] akshayb7 commented on #4836
Was this issue resolved? I am trying to use AWS cognito to set up auth in front of the server and having similar issues as mentioned in the original post.

[2022-01-18 15:35] pedrocwb opened #5291 "[BUG] Bug fix #4238 on v1.18 not present in the v1.22"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?
- [x] No. I cannot contribute a bug fix at this time.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform an

[2022-01-18 18:02] tangcc35 commented on #4005
same when using torch lightning

[2022-01-18 18:04] Jing25 commented on #5227
not yet..

[2022-01-19 08:17] sunov commented on #3030
I am storing artifacts(model.pkl) in private repository and storing metrics and parameters in MYSQL DB. Not able to see metrics and parameters in mlflow UI after these settings. Could you please help me

tracking_uri = f"mysql+pymysql://{mlflow_user}:{mlflow_pass}@localhost:3306/{mysql_database}"
mlflow.set_tracking_uri(tracking_uri)

if not mlflow.get_experiment_by_name(experiment_name):

[2022-01-19 12:20] vitas opened #5293 "[BUG] AWS s3bucker permissions required for mlflow client"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-01-19 16:14] notTheRealSanta commented on #1414
+1 for inter-experiment comparison.

[2022-01-19 19:53] nelsoncardenas commented on #1563
This would be awesome, or at least to produce something similar to the W&B diagrams

[2022-01-19 19:53] sim-san commented on #1849
Party solved by https://github.com/mlflow/mlflow/pull/5017

[2022-01-19 23:38] strangan commented on #4005
So i noticed there hasn't been any movement on this issue since Jan 21st, 2021 when it was first reported. And it doesn't seem to  have anyone assigned to it either. So what happens next? How does this actually get any attention from the mlflow authors/developers?

[2022-01-20 01:14] jinzhang21 commented on #5269
With log_batch, your example code may look like
[code]
Seems not terribly complicated compared to the proposed new API. WDYT?

[2022-01-20 09:44] weidalin opened #5294 "how to log my code to artifact [FR]"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-01-20 21:57] alexcolpitts96 commented on #4749
I realize the thread is old and likely dead but I had the same issue. The solution was using mlflow.pytorch.load_model instead of mlflow.pyfunc.load_model. The pytorch version accepts kwargs.

One thing to keep in mind with this is that the model you load will be a torch model and not a mlflow model.

https://www.mlflow.org/docs/latest/python_api/mlflow.pytorch.html

[2022-01-20 22:25] dbczumar commented on #4821
Hi @coder-freestyle , did you get a chance to take a look at this?

[2022-01-20 22:41] crclark opened #5295 "[FR] Support filtering registered models by multiple tag constraints"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-01-21 01:53] avenatti commented on #2564
sudo apt-get update && sudo apt-get upgrade -y && sudo apt-get install -y git

[2022-01-21 08:12] TUMAAA commented on #2096
I am not sure how you tested that but I am using 1.22 and for sure submitting the tag "user" ( mlflow.set_tag("User","some_user") ) **does not override** the User column but rather adds a new column with that name under the category "Tags".

[2022-01-21 16:32] quantumtrope opened #5297 "[BUG] --serve-artifacts URIs on separate server"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-01-21 21:40] maitre-matt commented on #5294
One option could be to create a custom model. This allows specifying extra files (code or data) that are logged during training and available to load during inference: https://mlflow.org/docs/latest/models.html#id43

Another option could be to use `mlflow.log_artifact()`: https://mlflow.org/docs/latest/python_api/mlflow.html#mlflow.log_artifact

[2022-01-21 22:07] maitre-matt commented on #5242
I can help bringing a PR for discussions with the maintainers. In the meantime I assume there is a security report on https://huntr.dev/ that the maintainers could take a look at? (tagging @dbczumar as I would not have access to it -- potentially start a draft GitHub security advisory for offline discussion https://docs.github.com/en/code-security/security-advisories/creating-a-security-advisory)

[2022-01-24 09:43] OSobky opened #5301 "Running MLprojects using old commit [BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-01-24 10:01] weidalin commented on #5294
thank you very much，`mlflow.log_artifact()`  is what I want

[2022-01-24 10:02] #5294 closed

[2022-01-24 11:03] JamieSlome commented on #5242
@maitre-matt - thanks for your response here.

You are welcome to take a look at the report directly here:

https://huntr.dev/bounties/e5384764-c583-4dec-a1d8-4697f4e12f75/

It is only accessible to maintainers with repository write permissions and remains private until fixed.

[2022-01-25 01:49] socar-hardy commented on #4749
@alexcolpitts96 Thanks! I should use it

[2022-01-25 01:49] #4749 closed

[2022-01-25 06:52] vishal-ramesh2 commented on #2383
Hi @pogil is there an ETA on when this webhooks in model registry might be available?

The way we are looking to use is that we have custom model servers and when we promote a model in the model registry, we want to trigger a Jenkins CI/CD pipeline with some parameters about the model (like the model version or the remote path to download the model from)

[2022-01-25 12:33] ecm200 opened #5308 "[BUG] ONNX deployment on AzureML not working with onnxruntime > v1.9.0"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-01-25 12:50] metalglove commented on #4830
Unfortunately, the solution I provided above does not provide all the other automatically tracked parameters such as git version, source file, executing user, etc.

[2022-01-25 13:47] ecm200 commented on #5308
I should add that I think this has been caused by the separate python packages of `onnxruntime` and `onnxruntime-gpu`. Both of these packages are imported into an environment using `import onnxruntime`, without differentiation between underlying python package.

The way the specification of where the model is run is being handled by the `provider` argument of the `InferenceSession` class. For GPU

[2022-01-25 14:42] ecm200 commented on #5308
A bit more investigation I have found that the `providers` argument can be specified as a list of preference, and therefore all types can be specified, and they will chosen in preferential order. For example, GPU availibility always above CPU:

`self.rt = onnxruntime.InferenceSession(path, provider=[‘CUDAExecutionProvider’, ‘CPUExecutionProvider’])`

[2022-01-26 01:08] lichenran1234 opened #5311 "[BUG] referencing models by stage using models URI suddenly became case sensitive"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [x] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2022-01-26 01:09] lichenran1234 commented on #5311
I'm working on a PR to fix this issue.

[2022-01-26 11:53] ecm200 commented on #5308
PR #5317 put up with proposed changes to the way the ONNX model flavour in `onnx.py` loads model files into an InferenceSession object.

[2022-01-26 11:56] ecm200 commented on #5308
I initially stated this was only an AzureML issue, but thinking more about it, I think that given the changed code is relating to the model flavour, then any deployment process that uses the `mlflow.pyfunc.load_model` function to load a ONNX model will encounter this potential issue if it is called during the deployment process.

In the AzureML case, this function is called by the template entry s

[2022-01-26 18:10] nocibambi commented on #3951
I just had the same issue.

I tried to use `serve` with the `sklearn_logistic_regression` model within the examples.

1. I ran the mlflow (`mlflow run .`): it worked
2. Tried the UI (`mlflow ui`): it worked
3. Tried serving (`mlflow models serve -m runs:/e5339f5169924683822e85325fd12be9/model`): the traceback did not produce any error but the browser showed only the following:

Environment:
- mlfl

[2022-01-26 19:48] #5311 closed

[2022-01-27 10:27] bramrodenburg opened #5327 "[FR] Allow `stage` as version value in `set_model_version_tag`"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-01-27 22:31] lauradang commented on #3361
I'm having this issue right now with my MLflow deployment. Is there any way to deploy the MLflow and have `set_require_primary_key = 0`?

[2022-01-28 07:20] dbczumar commented on #5172
@scottabarnes This is expected behavior. The Databricks Workspace API can be used to restore notebooks and notebook-based experiments.

[2022-01-28 07:21] #5172 closed

[2022-01-28 07:36] dbczumar commented on #5208
@mrkaye97 Apologies for the delay. We'd be very excited about this contribution. Please let me know if you have any questions about getting started.

[2022-01-28 07:39] dbczumar commented on #5262
@LucasCampos Thank you for raising this. Please let me know if you're able to investigate. To confirm, once `import mlflow` is removed, the error no longer occurs?

[2022-01-28 08:31] LucasCampos commented on #5262
I would be happy to, but would need quite a lot of guidance, if that is okay to the MLflow community.

Yes. The error is gone if I remove `import mlflow` or if I remove the `MirroredStrategy`.

[2022-01-28 11:28] JMGGarcia opened #5330 "[BUG] MLFlow + Wasabi + Prophet not working"
### Willingness to contribute

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [x] No. I cannot contribute a bug fix at this time.

### System information
OS: Fedora 31
MLFlow version: 1.22.0
Python: 3.7.9

Train a model and store it in a

### Describe the problem
I've trained a

[2022-01-28 18:22] dbczumar commented on #1550
Hi folks, the MLflow fluent API, including `mlflow.log_metrics()`, is not designed for asynchronous execution (is not thread safe). We recommend using [MlflowClient().log_batch()](https://mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.log_batch) to record metrics asynchronously.

[2022-01-28 18:22] #1550 closed

[2022-01-28 18:22] dbczumar commented on #5262
@LucasCampos Thank you! We're happy to help with diagnosing MLflow-specific failures and creating a fix. If possible, it would be very useful to identify the line(s) responsible for the destructor failure; we can advise from there :).

[2022-01-28 19:07] ggold7046 commented on #2948
Hi , could anybody guide me to the rest api document link ?

[2022-01-28 23:25] phelps-matthew opened #5331 "[FR] Improve logarithm labels within metric plots with standard scientific notation"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-01-29 02:04] you-n-g commented on #1550
We created a simple async wrapper in our project which leverages MLflow

https://github.com/microsoft/qlib/blob/d7d19feb4ebb0c4318ac3bfda32a34c56e28a6a0/qlib/workflow/recorder.py#L298
https://github.com/microsoft/qlib/blob/d7d19feb4ebb0c4318ac3bfda32a34c56e28a6a0/qlib/workflow/recorder.py#L368
https://github.com/microsoft/qlib/blob/d7d19feb4ebb0c4318ac3bfda32a34c56e28a6a0/qlib/utils/paral.py#L94

[2022-01-29 08:19] Karan-Choudhary commented on #1937
Try using
[code]
instead of
[code]
Already solved this issue.

[2022-01-29 18:02] mrkaye97 commented on #5208
Alright @dbczumar, circling back just to clarify I'm looking in the right place before spending a bunch of time. It appears to me that in `mlflow/server/handlers.py` I will need to do something like this? (e.g.):

[code]

Let me know if I'm misunderstanding what's happening inside of this method. If this seems correct. I will give it a shot

[2022-01-29 21:50] nubertj commented on #163
I encounter the same issue. Everything is logged at the correct location except the artifacts.
Also not error or exception is shown.

[2022-01-29 23:43] ankit-db commented on #163
@nubertj which MLflow version are you using?

[2022-01-30 19:35] PhilipMay opened #5332 "[BUG] Memory usage 400MB (very high) - can it be reduced?"
Hi,

I installed MLflow in my one node Kubernetes cluster. It needs 400MB of RAM after fresh install
and without any load. That is a lot...

A fresh Postgres install needs 34Mi and MinIO only 115Mi.

I am using MLflow 1-23-1 with exterbal Postgres and MinIO.
I am starting it with:

[code]

Is there any way you could reduce memory usage or tell me how I can tune it?

[2022-01-31 01:43] harupy commented on #5332
Interesting, can you investigate what's increasing the memory usage?

[2022-01-31 05:58] salmanhiro commented on #2350
Hi, found out that now the solution is no longer working. The error in the `pyngrok` forwarded URL is `Failed to complete tunnel connection` and it shows that, in example `the client failed to establish a connection to the local address localhost:5000.`.

The error encountered was: dial tcp 127.0.0.1:5000: connect: connection refused

Seems like google collab blocks the port?

[2022-01-31 06:05] salmanhiro commented on #2350
Found a solution. add
`get_ipython().system_raw("mlflow ui --port 5000 &")` before running the mlflow. So you actually ran the mlflow ui command inside the ipython terminal before

so it will be
[code]

[2022-01-31 06:56] dbczumar commented on #5208
@mrkaye97 That sounds great!

[2022-01-31 10:18] nubertj commented on #163
I think it is related to this bug #2729

I updated the tracking_uri, but when I printed the artifact_uri, it was still pointing to another (local ./mlruns/...) location, while the tracking uri was set correctly to localhost.
If I do not set the tracking_uri myself, everything works as expected (and is stored locally).

[2022-02-01 08:34] sidiyer20 opened #5334 "xgb.predict() and mlflow.predict() time difference for model prediction on same machine[BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-02-01 16:30] AntoineBachet opened #5335 "[BUG] pyspark required when using mlflow.evaluate"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-02-01 18:04] pkuong opened #5336 "[BUG] meta["lifecycle_stage"] = LifecycleStage.ACTIVE TypeError: 'NoneType' object does not support item assignment"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-02-01 18:26] AntoineBachet opened #5337 "[FR]"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-02-01 19:59] pkuong commented on #5336
Turns out that somehow there are runs folder in "mlflow/runtime/mlruns" with only meta.yaml file in it.. There was probably file writing issue on our side. So, nevermind!

[2022-02-01 19:59] #5336 closed

[2022-02-01 20:02] krstp commented on #5171
Reporting the same issue with `1.23.1`.

[2022-02-01 22:02] tdiepenbrock-databricks opened #5338 "[FR] Parallelize ModelsArtifactRepository.download_artifacts() file access"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-02-02 00:17] notmatthancock opened #5339 "[BUG] tensorflow autolog doesn't capture batch size correct for tf Dataset input"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2022-02-02 12:40] ecm200 opened #5340 "[FR] Make the AzureML entry script accept more data types"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-02-02 12:42] ecm200 commented on #5340
@BenWilson2,

here's the feature request idea I have for the extension of the types of data formats that the boiler template `mlflow.azureml` module supports. Currently it would appear because of the JSON deserialization function from the `mlflow.pyfunc.scoring_server` module that is being used only supports Pandas Dataframe tabular type data formats.

[2022-02-02 12:43] ecm200 commented on #5308
@BenWilson2

Now that the PR for the fix has been merged, closing this isuse.

[2022-02-02 12:43] #5308 closed

[2022-02-02 12:57] jpc opened #5341 "MLflow does not return an error when sorting on non-existing metrics"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-02-02 20:25] daanknoope commented on #5171
@ankit-db apologies for the delay, it's been quite hectic for me the last few weeks. Would still like to help solve this issue, and will contribute as soon as I have time to do so.

@krstp you raise a good point about `cloudpickle`, maybe a note should be added to the documentation to warn for unexpected behaviour when there is a mismatch in versions?

[2022-02-02 22:18] ankit-db commented on #5171
Thanks @daanknoope - please add me as a reviewer and I'm happy to take a look when you have a contribution ready!

Agree - we could add a note to the README maybe that clarifies the mismatch in version behavior. cc: @harupy

@krstp thanks for adding some more color there around the HTTP response code. Actually, more precisely, the only requirement is that the server must have a version greater tha

[2022-02-03 17:15] BenWilson2 commented on #5340
Hi @ecm200 we're getting a few people to take a look at the design implications of this and hope to have an evaluation on the feasibility of this in the next few sprints.
Thank you for the idea and I'll keep you posted on what the team comes back with!

[2022-02-03 20:05] ecm200 commented on #5340
@BenWilson2 that's great to hear, thank you for considering it.

I have a few more thoughts on how this might be achieved.

One other potential idea is to have a schema specific entry script and then write those to handle the different inputs and outputs. A natural boundary would be the current limitation of not allowing the mixing of `TensorSpec` and `ColumnSpec` Schema types in the same Schema d

[2022-02-03 20:14] SimonMolinsky commented on #2497
Hi,

I got similar issue and it was a problem with `conda`, not `mlflow`. As I can tell you, it is probably typo in `conda.yaml` file because conda doesn't have channel **d** (as error states) but channel **defaults**.

As I said, I had a similar issue but it was related to the **missing version of Python in conda**. My `venv` operates on Python=3.8.9 and unfortunately this version was not availab

[2022-02-04 22:50] rvandegrift opened #5349 "[FR] Implement a way to filter experiments by tags"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [X] Yes. I would be willing to contribute this feature with guidance from

[2022-02-05 06:52] ShnDanYao commented on #5110
Hi! Have you solved this question?  I meet it too.

[2022-02-05 19:00] gloin01 commented on #1964
I know this issue is quite old, but I don't see any mentions to the workaround. So I just want to hint at issue #3367
And here a direct link to a partial solution:
https://github.com/mlflow/mlflow/issues/3367#issuecomment-730594616

[2022-02-06 15:46] mrkaye97 commented on #5208
Checking in again @dbczumar. In theory, I think this change should be fairly straightforward. See [this comment](https://github.com/mlflow/mlflow/pull/5350/files#diff-5c10a4e2ca47745f06fa9e7201087acfc102849756cb8d85e774a5ac468cb037R340-R341) in #5350 for an issue I'm having though. It seems like the `_get_foobar()` endpoints call `_get_request_message()`, which in turn calls `parse_dict`, which ca

[2022-02-07 01:41] junhaok opened #5351 "[BUG] Unable to load when there is more than 1 model"
I have 2 keras model store locally, so i registerd both of them as 1 combined model. I am able to register the model into AML workspace as well as creating a endpoint by simply specifying my score.py to call both model to return one results.
Calling it as an endpoint works perfectly fine

However for retraining purpose, i want to load the model from mdoel registery but hit multiple issue.
Model Na

[2022-02-07 09:30] JustinDroege commented on #5241
This would be a nice feature

[2022-02-07 13:19] szczeles opened #5353 "[BUG] Spark model not recorded using `log_model` with distributed storage path"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [x] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2022-02-07 14:07] IgorHoholko opened #5354 "[BUG] Impossible to see run names in Experiments Comparision mode"
![image](https://user-images.githubusercontent.com/27057946/152802982-12442d71-b1c7-4fe8-af1a-487e8fddc5c1.png)

When a run name is quite long it is impossible to see it even from page sources.

[2022-02-07 20:22] Exitare commented on #2690
I just ran into the same issue.
I programmatically deleted the default experiment, by using:
`client.delete_experiment(experiment_id)`
because I wanted to clean up results, and now the error message pops up everytime.

`mlflow.exceptions.MlflowException: Could not create run under non-active experiment with ID 0.
`

[2022-02-07 21:05] JustinCharbonneau commented on #2690
I stopped deleting the "Default" experiment to avoid those types of issues.

[2022-02-07 21:48] TimNooren opened #5358 "[BUG] No basic auth in MlflowArtifactsRepository"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2022-02-08 01:32] #5353 closed

[2022-02-08 04:55] dbczumar commented on #5208
Hi @mrkaye97 , yes, you can use the result of `ParseDict` for validation. To ensure that validation is applied across the various handlers, I'd recommend adding it to `_get_request_message()`. You can creating a mapping from each message type to its associated validation function; when `_get_request_message()` is called, it should resolve the output of `ParseDict` to the appropriate validation fun

[2022-02-08 05:23] dbczumar commented on #5358
@TimNooren Thank you for raising this. This is definitely an oversight. I think replacing the existing usage of `session` with calls to `rest_utils.http_request` (https://github.com/mlflow/mlflow/blob/5cd6dd575941e48313e0fd686d48805e170d57c1/mlflow/utils/rest_utils.py#L79-L88) and `_get_default_host_creds()` (https://github.com/mlflow/mlflow/blob/5cd6dd575941e48313e0fd686d48805e170d57c1/mlflow/tra

[2022-02-08 08:35] TimNooren commented on #5358
@dbczumar Thanks for the quick response:) Happy to give this a try.

[2022-02-08 13:20] sniafas commented on #4996
Hi I would recommend the following

### Build the container

`mlflow sagemaker build-and-push-container --build`

### Deploy the container

[code]

[2022-02-08 13:25] sniafas commented on #5339
Confirm that this have to be a bug. Have created a new variable to record `batch_size` since `autolog()` fails to do it.
Willing to contribute

[2022-02-08 19:36] dianacarvalho1 opened #5360 "[BUG] INTERNAL_SERVER_ERROR when using MSSQL as backend store"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2022-02-08 23:12] pedrocwb commented on #5291
close issue in favor of #5360

[2022-02-08 23:12] #5291 closed

[2022-02-09 05:27] pratikchhapolika opened #5361 "Not able to tag experiment to USER in cloud jupyter notebook for running transformer models"
I am using `mlflow version 1.22.0.`
How can I pass namespace to mlflow experiment in PAZ notebook such that I can see experiment from ai platform.
Currently I am using this:

[code]

But I want to tag it to to user namespace something like:

`mlflow.set_experiment('Experiment',os.environ['USER'])`

`Error: MlflowException: Must specify exactly one of: `experiment_id` or `experiment_name`.`

**I wa

[2022-02-09 07:54] jhallard commented on #5293
FYI this is a known issue and is on the roadmap https://github.com/mlflow/mlflow/issues/629

[2022-02-09 10:07] nuhrberg opened #5364 "[BUG] The scatter plot is empty when this is downloaded."
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [X] No. I cannot contribute

[2022-02-09 10:11] nuhrberg commented on #5364
Okay, sorry. I noticed it myself shortly after I opened the issue. I did the download in Google Chrome and it works.
But I leave the issue open so you can decide if you want to pursue it.

[2022-02-09 16:54] zacharymostowsky commented on #3440
I would like to log models using MLflowClient because that is what is exposed as the `experiment` property in the `MLFlowLogger` class of the pytorch-lightning library. Models can then be logged in a callback, say after training completes.

[2022-02-10 00:46] DavidRavnsborg commented on #1694
I have the same issue with only 100 runs showing. I can click the "Load More" button to load more, but there is a bug where the newly loaded results disappear as soon as you try to sort by any columns (it goes back to the original 100).

[2022-02-10 00:56] DavidRavnsborg opened #5365 "[BUG] Extra run results (past 100), loaded with the "Load more" button, disappear as soon as you sort runs by a column."
- [ ] Yes. I can contribute a fix for this bug independently.
- [.] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute a bug fix at this time.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16

[2022-02-10 07:05] SoulEvill commented on #3414
I am facing the same issue and am not sure if any of you guys were able to figure it out. it is very annoying and I was expecting to get some custom function to get model features all that stuff. please help, thank you!

[2022-02-10 07:22] SoulEvill commented on #3414
I think I found the reason the load model will call _load_pyfunc which will instantiate _PythonModelPyfuncWrapper class that only contains predict function. all customized functions will NOT pass to this. it is not flexible at all. not sure why it was implemented this way.

Not sure what would be the best way to fix it, any ideas?

code link: https://www.mlflow.org/docs/latest/_modules/mlflow/pyfu

[2022-02-11 01:59] amesar opened #5369 "[FR] Add credentials (Databricks) as argument to MLflowClient constructor"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-02-11 18:06] dbczumar commented on #5358
Thank you, @TimNooren !

[2022-02-11 18:23] dbczumar commented on #5369
@amesar This is currently supported through the use of Databricks profiles, as discussed in https://docs.databricks.com/applications/machine-learning/manage-model-lifecycle/multiple-workspaces.html#specify-a-remote-registry  (instructions are given for Model Registry but also apply for MLflow Tracking).

[2022-02-11 18:23] #5369 closed

[2022-02-11 20:17] dianacarvalho1 commented on #5360
I believe this is a sqlalchemy bug instead so opened an issue [there](https://github.com/sqlalchemy/sqlalchemy/issues/7696) as well.

[2022-02-11 20:49] echarso commented on #5335
same problem here

[2022-02-12 00:15] echarso opened #5374 "[BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-02-12 01:04] echarso commented on #5374
Hi ! I am trying to use the new feature of mlflow regarding evaluation of models.
I am using it for a classifier and I am getting the following error:
AttributeError: 'OrdinalEncoder' object has no attribute '_missing_indices'

[2022-02-12 01:04] #5374 closed

[2022-02-14 11:44] stianmikelsen opened #5376 "ModelInfo should contain registered model version[FR]"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [x] Yes. I would be willing to contribute this feature with guidance from

[2022-02-14 11:55] JamieSlome commented on #5242
@maitre-matt - thanks for creating the `SECURITY.md`.

Any follow up on the report itself?

https://huntr.dev/bounties/e5384764-c583-4dec-a1d8-4697f4e12f75/

[2022-02-14 16:04] maitre-matt commented on #5242
I don't have access (I am not maintainer on MLflow) but I could take a look if granted access.

[2022-02-14 16:56] joaquinco opened #5377 "[BUG] Server list artifacts http 500 error for proxied uploads"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-02-14 17:50] notmatthancock commented on #3999
I generally agree, but here's a concrete use-case that doesn't quite fit this mold: I'm using autolog, and [it logs one of the parameters incorrectly](https://github.com/mlflow/mlflow/issues/5339). I'd still like to continue to leverage the convenience of autolog, but I would also (within the same run) like to correct the parameter as a workaround for the value being incorrectly captured by autolo

[2022-02-15 10:23] zimonitrome commented on #3969
@levkk Did your commit fix this issue? If so, how is it used?

[2022-02-15 10:34] ashutoshsaboo commented on #1120
Hello, I'm seeing some new errors with regards to trying to open mlflow in sagemaker notebook, see log below. The UI is opening up fine, but it doesn't show the experiments for some reason. Was anything changed recently that could be causing this? @smurching @harupy @dbczumar If so, can this issue be please re-opened? Or should I create a new issue?

[code]

[2022-02-15 11:39] sniafas opened #5381 "[FR] Add a timeout argument in model serve (scoring server)"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [x] Yes. I would be willing to contribute this feature with guidance from

[2022-02-15 16:32] levkk commented on #3969
Hey @zimonitrome , I have stopped using MLFlow since then and haven't had a chance to work on this further. The commit I proposed uses Python's `shutil` `ignore` parameter which is very similar to how Docker and git implement this functionality in `.dockerignore` and `.gitignore` respectively. Sadly, that commit was never merged.

[2022-02-15 17:31] mmaitre314 commented on #5376
A combination of `autolog()`, `register_model()`, and `set_model_version_tag()` should give you both model signature and custom tags (and `register_model()` would beg to accept tags as optional parameter [here](https://github.com/mlflow/mlflow/blob/582377646f8d56141cfe307abb99f1b27a1962d8/mlflow/tracking/_model_registry/fluent.py#L10)...):

[code]

Output:
[code]

[2022-02-15 18:36] stianmikelsen commented on #5376
Thanks @mmaitre314!
I ran your example, but I did not get any Schema. I have been unable to get those without explicitly running `infer_signature` and adding that to `log_model`
![image](https://user-images.githubusercontent.com/37293403/154126912-718ef429-c6b7-410f-ba0c-eed97c10b567.png)

[2022-02-15 22:24] zimonitrome commented on #3969
Thanks for the follow-up @levkk. Sad that it never got merged :(

May I ask if you migrated to something you enjoy more than MLFlow?

[2022-02-15 22:37] Alec-Stashevsky opened #5383 "[FR]"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-02-15 23:52] levkk commented on #3969
Yup, we just started using Docker and Dockerfiles directly and launch the containers using our existing CI/CD.  The model registry MLFlow provided was neat though, so we kept using that just for metadata tracking.

[2022-02-16 01:44] BenWilson2 commented on #5377
@joaquinco thank you for bringing this to our attention! We'll be working on a fix for this.

[2022-02-16 08:16] stianmikelsen commented on #3362
I have the same issue, is this fixed in some version?

[2022-02-16 12:25] WeichenXu123 commented on #4829
If we add `registered_model_name` as autolog arugument, then every time autolog happen it will use the same model register name.  this is an issue.
@dbczumar we need consider how to auto-generate the registered name, (e.g.  {model_class}_{run_id} ) @mmaitre314 any thoughts on how to generate the name ?

@mmaitre314 This approach might be not a proper way, and we still face the issue of how to auto

[2022-02-16 13:17] WeichenXu123 commented on #4829
I propose a new API like:

mlflow.autolog(auto_register_model=True)

[code]

@dbczumar @mmaitre314 Thoughts ?

[2022-02-16 15:17] KarelMacek commented on #2410
Same here, thanks for inspiration.

[2022-02-16 15:18] KarelMacek commented on #2410
Do you run the script from console or from IDE (e.g. PyCharm)?

[2022-02-16 16:32] mmaitre314 commented on #5376
I am wondering whether `autolog()` was not able to figure out the signature on its own during the calls your code makes to sklearn. Either that or the UI is having an issue displaying it. In the `MLmodel` file this is logged as `signature`.

[code]

If that's an issue with `autolog()`, replacing it with `log_model()` should work around the issue.

[2022-02-16 18:06] jinzhang21 commented on #4829
How about just adding registered_model_name to autolog API? If it's not empty, register the model when it's being logged.
[code]
A main concern is what happens if a model is trained twice. Presumably we can increment the version number here for each registered model if it's supported.

[2022-02-16 19:33] dbczumar commented on #4829
I agree with @jinzhang21 . It makes sense to write all models as new version of a consistent, user-specified `registered_model_name` without requiring the explicit use of `start_run()` .

[2022-02-17 06:26] dbczumar commented on #629
Hi folks, in MLflow 1.23.0, we released the highly-requested capability to stream artifacts through the MLflow server. This is now documented here: https://mlflow.org/docs/latest/tracking.html#using-the-tracking-server-exclusively-for-proxied-artifact-access. Accordingly, I'm going to go ahead and close this issue now that the requested feature has been implemented. Please let me know if there are

[2022-02-17 06:26] #629 closed

[2022-02-17 06:28] dbczumar commented on #5293
Hi @vitas , as indicated by @jhallard , this has been a highly-requested feature tracked by #629. In MLflow 1.23.0, we implemented it. You can now stream artifacts through the MLflow server. This feature is documented here: This is now documented here: https://mlflow.org/docs/latest/tracking.html#using-the-tracking-server-exclusively-for-proxied-artifact-access. Please let me know if you have any

[2022-02-17 06:28] #5293 closed

[2022-02-17 10:19] JarnoRFB commented on #2112
Sound like a duplicate of #1414.

[2022-02-17 12:31] simonvanbernem opened #5387 "mlflow ui fails to load artifacts when using custom backend-store-uri and default-artifact-root"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-02-17 15:57] #5358 closed

[2022-02-17 16:43] andrelima666 opened #5388 "Tracking experiments on both file and db backed tracking servers."
Hello,
I am currently trying to develop a solution for registry of the MLmodels. Already had a tracking server running in a filebased tracking system and wanted to get the registry going aswell, so trying to use a mysql db.
The question is: is there a way to maintain the tracking of the experiments on both servers? (save the mlflow entities on both file:// and mysql:// servers, so that if the DB g

[2022-02-18 01:03] dbczumar commented on #5387
Closing as duplicate. Thanks @simonvanbernem @BenWilson2 !

[2022-02-18 01:03] #5387 closed

[2022-02-18 03:41] weidalin opened #5390 "[FR]Is the mlflow-1.22.1 code architecture based on gRPC or REST API?"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-02-18 08:00] pascal-schetelat commented on #2846
Hi,

I'm facing the same issue here.

Here is how I call the app:

[code]

but I can't see any log.

[2022-02-18 09:24] maxfriedrich opened #5391 "[BUG] XGBoost autologging breaks when metric with @ is used"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-02-18 11:31] sluki commented on #1028
I think this should be divided to two different issues:
 - move runs between experiments (much easier, very useful)
 - organize experiments (much harder, less useful)

ps: difficulty and usefulness are my opinion only
ps2: you can move runs with mlflow-export-import tools (it says it can, i have not tried it)

[2022-02-18 11:40] bhawnaniavinash opened #5392 "Mlflow & vertex AI integration"
Can we integrate vertex AI with mlflow ? If yes, how ?

[2022-02-18 21:58] dbczumar commented on #5383
Hi @Alec-Stashevsky. Thank you for this suggestion! Sounds like a great idea! Would you be able to draft a PR for this? I think we can reuse the existing UI assets and much of the existing logic from the "Download" button on the Experiment Page.

[2022-02-18 22:01] dbczumar commented on #4816
Closing this out now that https://github.com/mlflow/mlflow/pull/4971 is merged. Looking forward to following on with an implementation for `predict()`! Thanks @jamestran201 !

[2022-02-19 00:57] Nithanaroy commented on #4123
I'm also facing the same issue
https://colab.research.google.com/drive/1fZkbBmtzK8gqxLAkAjx85en2hnJsyd24?usp=sharing is a simple snippet to reproduce.

An external process (like ray, optuna, horovod etc) launches to the current mlflow py script in multiple processes, making it harder to implement the proposed solution.

Feels like some race condition issue 🤷

[2022-02-19 06:49] Alec-Stashevsky commented on #5383
@dbczumar I would like to but I am quite unfamiliar with the library. Could you point me to (1) where that data is stored / called to build the existing metrics plots and (2) the existing logic for the Download button?

[2022-02-19 16:41] mmaitre314 commented on #5376
The call to `register_model()` after calls to either `autolog()` or `log_model()` returns the model version, so it should not be necessary to guess that value.

[2022-02-19 19:04] Nithanaroy commented on #4123
If all the jobs accessing mlflow are on the same node / host / machine, Python's multiprocessing module can be used to lock the critical section of experiment creation and retrieval.

**Works with locking**
[code]

**Fails without locking**
[code]

Prior to this complex implementation, I tried using a database as a tracking URI, as SQLite is inherently ACID compliant, i.e. uses locks for using the

[2022-02-20 12:49] toby-htx commented on #4399
Me too.

[2022-02-20 13:49] gthmml commented on #726
hi, could you re-open this incident?

I have tried will larger instances, but unable to get through.
also try adding gunicorn and nginx to requirements.txt as mentioned in other blogs.

Error Message:
2022/02/20 13:18:25 [crit] 22#22: *213 connect() to unix:/tmp/gunicorn.sock failed (2: No such file or directory) while connecting to upstream, client: 10.32.0.2, server: , request: "GET /ping HTTP/1

[2022-02-20 23:25] pme0 opened #5397 "[Feature Request] show multiple plots in Tracking UI"
## Willingness to contribute
- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from the MLflow community.
- [x] No. I cannot contribute this feature at this time.

## Proposal Summary

User Interface (`mlflow ui`)  displaying multiple plots instead of just one.

## Motivation

Currently the Tracking UI seems to allow 1 pl

[2022-02-21 07:10] liuweibin6566396837 commented on #2846
I have add this option in my own git branch

发自我的iPhone

[2022-02-21 07:36] stianmikelsen commented on #5376
This was my point, that to me it seems i need to use `log_model()` with `registered_model_name` in order to get signature working, and then I do not get any model version returned.

[2022-02-21 08:20] pascal-schetelat commented on #2846
I ahd a look at your code.
If I understand correctly,  you added an option to include a config file so that it is used when invoking the web server.

thi is cool, but I already put those option when manually onvoking the webserver and I don't see any log. Did you have a similar issue ?

[2022-02-21 08:54] sniafas commented on #5381
@dbczumar Great! sure I will start working on it. Thanks for your response

[2022-02-21 09:24] liuweibin6566396837 commented on #2846
I got your point. I nerver met your similar issue. You may met a gunicorn issue? If you can not get access or error log from access-logfile error-logfile, I suggest you remove `--access-logfile` and `error-logfile` option, just show logs in your console.

[2022-02-21 09:37] desaintmartin commented on #3783
In order to have an official chart, a requirement would be to have an official container image: https://github.com/mlflow/mlflow/issues/826

[2022-02-21 11:33] toby-htx opened #5400 "[BUG] RuntimeError: Java gateway process exited before sending its port number when Deploying Pyspark model to Azure Container Instance"
I am trying to deploy a PySpark model trained in Azure Databricks with MLflow to an ACI in Azure Machine Learning.

I am following the steps in this link:

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-mlflow-models#example-notebooks

but I get this error:

[code]
My code looks like this:

[code]
While my model settings are:

[code]
Can someone help please?

[2022-02-21 12:48] mikwieczorek commented on #4470
Any update on the Feature Request?
Example from wandb how such logging looks like: [wandb-example](https://wandb.ai/borisd13/char-RNN/runs/cw9gnx9z/system)

[2022-02-21 17:24] mmaitre314 commented on #5376
Slightly different flow: call `log_model()` *without* `registered_model_name`, and then call `register_model()`. The latter call gives the model version.

[2022-02-21 19:05] stianmikelsen commented on #5376
Thanks,
That actually worked:
`import mlflow
from sklearn.datasets import load_iris
from mlflow.models.signature import infer_signature
from sklearn import tree

mlflow.set_tracking_uri("http://myurl.com")
mlflow.set_experiment("testing")
mlflow.sklearn.autolog()

print("Loading data")
iris = load_iris()

print("Training model")
with mlflow.start_run() as run:
    model = tree.DecisionTreeClassifi

[2022-02-21 21:09] BenWilson2 commented on #5400
Hi @toby-htx this seems like an Azure configuration issue. I think you'll get a lot more help by filing an Azure ticket to have one of their experts walk through the issues that you're experiencing and ensuring that their container environment's init for running a Spark model from version 3.2.1 works properly.
One thing that you could try is running this on a slightly older runtime that has a lowe

[2022-02-21 22:13] BenWilson2 commented on #5391
Hi @maxfriedrich thank you for the idea!
Please feel free to submit a PR that patches the metric names from XGBoost's core metrics library within the callback logic in autologging (https://github.com/mlflow/mlflow/blob/b81a1d3ca377ff8ac47d33c9e6111172a31bd145/mlflow/xgboost/_autolog.py#L42-L46).
Please let us know if you have any questions and we'll be sure to review the PR when you file it! Thank

[2022-02-22 04:45] mhamilton723 commented on #5216
Hey @harupy does the community have any thoughts on this proposal?

[2022-02-22 06:09] toby-htx commented on #5400
@BenWilson2 Thanks!!

[2022-02-22 06:09] #5400 closed

[2022-02-22 06:19] iavinas opened #5402 "[BUG] When running mlflow server with --serve-artifacts args. I am getting error on client side "ValueError: Anonymous credentials cannot be refreshed.""
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-02-22 07:45] #5360 closed

[2022-02-22 13:57] leviplj commented on #629
@dbczumar How does this work? I've tried to setup a small server to test it but with no success.

server start:
[code]

python code:
[code]

code call:
[code]

I'm getting this error:
[code]

If I remove `--artifacts-only`, I get the following error:
[code]

[2022-02-22 17:41] ozymand1a opened #5404 "[BUG]"
Thank you for this repo. It's great and now I am using it for my tasks. Recently I encountered the following problem:

I try to push my figure to the server with this method.
[code]
But then I have error:

`AttributeError: module 'matplotlib' has no attribute 'figure'`

Then I find that moment at code here https://github.com/mlflow/mlflow/blob/master/mlflow/tracking/client.py:

<img width="602" al

[2022-02-22 23:48] #5391 closed

[2022-02-22 23:57] maitre-matt commented on #5242
@JamieSlome -- in case there hasn't been progress, would you mind giving me access to take a look?

[2022-02-23 01:06] dbczumar commented on #5404
@ozymand1a What version of matplotlib are you using?

[2022-02-23 01:08] WeichenXu123 commented on #5404
I think the issue is if only import matplotlib, it does not import submodule "matplotlib.figure", we should explicitly import "matplotlib.figure" submodule

[2022-02-23 01:14] WeichenXu123 commented on #5404
create a fix https://github.com/mlflow/mlflow/pull/5406

[2022-02-23 01:22] dbczumar commented on #5402
@iavinas Thank you for using `--serve-artifacts`. You're likely seeing this error because the host running `mlflow server` does not have correct / sufficient credentials configured for writing files to Google Cloud Storage. Can you ensure that you've configured such credentials on your host and try again? Feel free to reopen this issue if that does not resolve it.

[2022-02-23 03:44] iavinas commented on #5402
Yes, the mlflow server pod has admin access to GCS. Manually I can read and write files from the pod using google-cloud-storage.

[2022-02-23 06:54] dbczumar commented on #5402
@iavinas Can you share a complete traceback for the error?

[2022-02-23 08:26] JamieSlome commented on #5242
@ankit-db - any updates?

[2022-02-23 08:44] dbczumar commented on #5242
Hi @JamieSlome , this was addressed in MLflow 1.23.1. I've closed the report. Thank you for bringing this to our attention!

[2022-02-23 13:23] moganesyan commented on #4135
This is needed. I'll try to have a crack at it.

@hughperkins did you manage to solve this?

[2022-02-23 13:59] gabrielhazeredo commented on #2671
The only thing that worked for me was manually assigning to the experiment

mlflow.create_experiment("my_experiment", "../artifacts")
mlflow.set_tracking_uri("http://localhost:5000")
mlflow.set_experiment("my_experiment")

[2022-02-23 14:16] jlmeunier opened #5407 "[BUG] --serve-artifacts seems not working"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-02-23 20:10] TimNooren commented on #5358
@cgebe you're right, this PR does not address your issue:) But I believe this was fixed in https://github.com/mlflow/mlflow/pull/5385.

[2022-02-23 20:32] dbczumar commented on #5407
@jlmeunier Thank you for filing this. If you're referencing an experiment that already exists in `sqlite:///$DIR/data_NMT/server.db`, the MLflow client will continue to use the artifact location associated with that experiment, which refers directly to the inaccessible server. Creating a new experiment and using that should solve your issue because it will be configured with an `mlflow-artifacts:/

[2022-02-24 00:08] ravitashaw commented on #1120
I'm stuck on the same above issue as above ^^

[2022-02-24 01:55] #5404 closed

[2022-02-24 03:31] iavinas commented on #5402
Hi, @dbczumar yesterday I deleted all the old mlflow==1.21.0 artifacts from my bucket and all projects from the interface. Now I am getting this error I try to call log_artifacts("outputs").

In the URL port is None instead of 80 or nothing.

`Traceback (most recent call last):
  File "/home/iavinas/miniconda3/lib/python3.9/site-packages/requests/models.py", line 384, in prepare_url
    scheme, au

[2022-02-24 07:15] jlmeunier commented on #5407
@dbczumar you are absolutely right.

I added a line
mlflow.set_experiment("Corey")
just before the call to start_run and then the example is working perfectly well.

Maybe the example should be modified in this way?

thanks a lot! (I like when problems disappear so easily :) )
JL

[2022-02-24 08:26] D3nn3 commented on #5402
Can confirm, we're currently trying out `--serve-artifacts` too and are facing the same problem. Access isn't the issue since without the flag and only using `-default-artifact-root` works without any problems (but the client needs GCS authentication which we're trying to avoid).

[2022-02-24 08:41] dbczumar commented on #5407
@jlmeunier Fantastic! Glad this worked out! We'll absolutely work to update our examples & docs for this feature to avoid these kinds of pitfalls - great idea. I'll go ahead and close this out for now; feel free to reopen this or raise another issue if additional issues occur.

[2022-02-24 08:41] #5407 closed

[2022-02-24 08:44] dbczumar commented on #5402
@iavinas @D3nn3 Thank you for the clarification. Can you try installing MLflow from the `master` branch? E.g `pip install git+https://github.com/mlflow/mlflow@master`. https://github.com/mlflow/mlflow/pull/5385 was recently merged, which should fix this issue.

[2022-02-24 09:17] D3nn3 commented on #5402
Thank your for the fast answer @dbczumar

Didn't seem to solve the issue on our end, still get the same error:

`InvalidURL: Failed to parse: http://some-url.com:None/api/2.0/mlflow-artifacts/artifacts/5/f3b7a5a8d58941179ba3208730276cdd/artifacts/training_args.bin`

Here is how we start the server:

[code]

[2022-02-24 09:18] ozymand1a commented on #5404
yes, I use this version, but it doesn't help me

[2022-02-24 09:36] dbczumar commented on #5404
@ozymand1a Got it! Thank you! The fix has been merged (#5406) and will be included in the next release.

[2022-02-24 09:57] dbczumar commented on #5402
@D3nn3 Can you confirm that you're running the installation from `master` by checking `mlflow.__version__`? It should say `1.23.1.dev0`. I was able to reproduce the `:None` issue on 1.23.1, but it seems to be fixed on `master`.

[2022-02-24 10:41] D3nn3 commented on #5402
It's a bit tricky to verify since we're building docker images and deploying them in Kubernetes.

Output from the CI when building the docker image:
[code]

This is the used commit which seems about right: https://github.com/mlflow/mlflow/commit/e8db119cc0d5081eea0b06e5b26c94a7193e7336

Additionally the UI on the deployed service doesn't work anymore and this is the error messages shown in the bro

[2022-02-24 11:46] iavinas commented on #5402
@D3nn3 For UI you have to do this either while building docker or before starting Docker build.
`cd mlflow/server/js && \
    npm install && \
    npm run build`

[2022-02-24 11:55] ozymand1a commented on #5404
@dbczumar Thank you!

[2022-02-24 12:17] iavinas commented on #5402
@dbczumar Currently by just installing 1.23.1.dev0 on the client side I am able to upload artifacts. The server is still on 1.23.1 and I am getting this in artifact section of UI- Unable to list artifacts stored under <code>{artifactUri}</code> for the current run.
but the bucket has those files I uploaded.

[2022-02-24 20:49] aprilwebster commented on #2948
Just curious if this thread went anywhere. I was hoping to find a swagger doc somewhere. :)

[2022-02-24 22:27] santiagxf opened #5408 "[BUG] fastai pyfunc implementation doesn't support multiclass classification or models returning probabilities"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-02-25 01:15] dbczumar commented on #5408
Hi @santiagxf , thank you for filing this! We'd be very excited for you to contribute a fix. Please let us known if we can provide any assistance. Once you have a PR, I'm happy to review it!

[2022-02-25 02:29] BenWilson2 commented on #5397
Thank you for the constructive feedback @pme0 . We're going to be discussing options for potentially implementing some UX changes that could simplify axis scaling issues with mixed range metric and parameter values. We appreciate your feedback!

[2022-02-25 02:59] mparkhe commented on #5131
Hi @JuanCorp : Is there a particular query pattern that reproduces this issue?

[2022-02-25 03:23] BenWilson2 commented on #5402
@iavinas that's a different issue with the UI not displaying the artifacts. Our apologies - we're working on it right now: #5393 We're optimistic that all of these bugs will be ironed out for the next release!

[2022-02-25 03:39] #4829 closed

[2022-02-25 07:37] dodatw opened #5410 "[Feature Request] HTML support image in Artifacts"
Current Artifact support preview HTML and image,
But "Html" seem no support load image in Artifact, ex:
<img src="image_in_artifacts.png"/>

Can we support it?

[2022-02-25 14:30] fjpa121197 commented on #1120
Did you solve this? Getting same error

[2022-02-25 17:49] santiagxf commented on #5408
Addressed in PR https://github.com/mlflow/mlflow/pull/5411

[2022-02-25 18:08] BenWilson2 commented on #5402
The second mentioned issue has been resolved in master branch with the merge of #5409

[2022-02-25 18:08] #5402 closed

[2022-02-25 18:09] pogil commented on #5392
@Ark-kun wrote a deployment plugin so you can deploy your MLflow models to Vertex AI. Are there other forms of integration you have in mind?

https://github.com/Ark-kun/google_cloud_mlflow

[2022-02-26 06:29] Ark-kun opened #5419 "[BUG] Models saved under Python 3.8 cannot be loaded under Python 3.7"
### Describe the problem

Under Python 3.7 MLflow cannot load models saved under Python 3.8.
This affects all scikit-learn models and also XGBoost models. Other model types may be affected as well.

Python 3.8 added support for pickle protocol 5, but does not sue it by default.
Python 3.7 or lower does not support "pickle protocol: 5".
However, MLflow uses `cloudpickle` for pickling which defaults

[2022-02-26 06:35] Ark-kun opened #5420 "[FR] Stop using cloudpicle for model saving"
## Proposal Summary

CloudPickle officially states: "Using cloudpickle for long-term object storage is not supported and strongly discouraged."

Using cloudpickle leads to issues like https://github.com/mlflow/mlflow/issues/5419

## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an imple

[2022-02-26 08:41] jlmeunier commented on #5407
Actually, no, there is a problem. :-/

The client code succeed, but when one goes on the experiment page, the artifacts do not appear. Instead there is a message:
[code]

[2022-02-27 01:15] VirajVaitha123 opened #5423 "Discussion: How should I save my object detection.pt weights in mlflow?"
Hi,

I am working on an object detection project that uses Yolov5 with weights.pt format.  We can't store the weights locally, so I came up with a solution with mlflow that downloads the weights from an experiment run in mlflow based on tags we created. I know this isn't the intented way to use mlflow, and I should be registering the model and placing this into the model registry.

When making pre

[2022-02-28 08:50] weidalin commented on #5390
How does mlflow use protobuf to implement REST API?

[2022-02-28 08:51] weidalin commented on #5390
"
rpc listArtifacts (ListArtifacts) returns (ListArtifacts.Response) {
    option (rpc) = {
      endpoints: [{
        method: "GET",
        path: "/mlflow-artifacts/artifacts",
        since { major: 2, minor: 0 },
      }],
      visibility: PUBLIC,
      rpc_doc_title: "List Artifacts",
    };
  }"
What does “since {major: 2, minor: 0}” mean？

[2022-02-28 08:53] weidalin opened #5432 "[FR]How does mlflow use protobuf to implement REST API?"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-02-28 09:30] serena-ruan commented on #5216
Hi @harupy, we're actively chasing on this feature and hope to get some updates from your end ASAP so that I could contribute. Looking forward to hearing any comments!

[2022-02-28 10:11] tidunguyen commented on #4830
Is there any work around for this? Does this mean that there is no way to have a remote mlflow tracking server?

[2022-02-28 10:12] Ankur-singh commented on #3478
any updates on this ? I am facing the same issue. I have a 44 MB model, but because of poor connectivity I am always getting a timeout error. All other artifacts are logged successfully.

[2022-02-28 11:00] harupy commented on #5216
@serena-ruan The proposal makes sense. Looking forward to a PR!

[2022-02-28 14:54] TomasTurlik commented on #1815
If anyone stumbles on this problem I solved it by realizing that artifact path is Experiment specific not server specific.
 That is rerunning the server with different `--default-artifact-root` won't change the path of existing experiments.

[2022-02-28 19:10] #5419 closed

[2022-02-28 19:10] #5420 closed

[2022-02-28 21:29] BradAF commented on #5377
I can confirm updating from release 1.23.1 to release 1.24.0 fixed this issue in my environment.

[2022-02-28 21:41] joaquinco commented on #5377
Yeap, worked for me too. Thanks for your work!

[2022-02-28 21:55] BenWilson2 commented on #5377
@joaquinco thank you for bringing it to our attention. We truly appreciate community feedback like this.

[2022-02-28 21:55] #5377 closed

[2022-02-28 23:00] dtpryce commented on #4865
I think this might be solved by #5359 will test this week!

[2022-03-01 05:29] dbczumar commented on #5432
@weidalin I'm not sure I fully understand the question, but our proto definitions are compiled into Java and Python objects via https://github.com/mlflow/mlflow/blob/master/dev/generate-protos.sh. The resulting generated objects are imported throughout the MLflow Python client / server and MLflow Java client. Please let me know if you have any additional questions.

[2022-03-01 05:29] #5432 closed

[2022-03-01 07:08] #5390 closed

[2022-03-01 07:55] dprateek1991 commented on #925
I received somewhat better performance with this -

mlflow server --backend-store-uri=postgresql://postgres:${RDS_PASSWORD}@${RDS_HOST}:5432/mlflow --default-artifact-root=${ARTIFACT_STORE} --host 0.0.0.0 --port 5000 --gunicorn-opts "--worker-class gevent --threads 3 --workers 3 --timeout 300  --keep-alive 300 --log-level INFO"

[2022-03-01 08:04] dbczumar commented on #5423
Hi @VirajVaitha123 , does https://mlflow.org/docs/latest/models.html#custom-python-models meet your requirements? You can use the `mlflow.pyfunc.log_model()` API to save a custom Python model with a collection of files (artifacts) and custom inference code.

[2022-03-01 08:05] dbczumar commented on #5410
@dodatw Thank you for raising this. Would you be interested in contributing a fix?

[2022-03-01 08:08] dbczumar commented on #5383
@Alec-Stashevsky Apologies for the delay. Here's the code for the Download button: https://github.com/mlflow/mlflow/blob/ddfcccc631b56cae8083dbb00510d1215a1deded/mlflow/server/js/src/experiment-tracking/components/ExperimentView.js#L698-L703. The associated onClick function, `onDownloadCsv()` (https://github.com/mlflow/mlflow/blob/ddfcccc631b56cae8083dbb00510d1215a1deded/mlflow/server/js/src/exper

[2022-03-01 09:00] VirajVaitha123 commented on #5423
Hey dbczumar,

Thanks for your reply.

I've came across this however I was wondering if it's possible to download the artifacts for registered models based on tags ?

When I register custom model(s) In the registry, am i able to view all registered models with their tags.

Ideally we can then filter and select the model we want with our tags instead of with the status = production tag.

Thank you,

[2022-03-01 13:10] leviplj commented on #5377
Found a problem...

If I start the UI server first, using an empty database, and then start the artifact server, the artifacts are not shown on the UI. However, if I start the artifact server first, it works and the files are shown on the UI.

OBS: There are no errors on the log. Before starting the server, delete the database.

[code]
[code]

[code]

[2022-03-01 13:34] leviplj commented on #5377
I noticed that when starting the ui first, the URI for the experiment on the table is `mlflow-artifacts://0.0.0.0:8001/0`, and when starting the artifact server first the URI is `mlflow-artifacts://0`

[2022-03-01 15:07] iavinas commented on #5377
These bugs are fixed in 1.24.0, (Yesterday's release)

[2022-03-01 15:35] leviplj commented on #5377
I've tested it today (01/03) around 13:00 UTC.

[2022-03-01 19:30] dbczumar commented on #5377
@leviplj The issue seems to be that your `UI Server` *and* your `Artifact Server` are both configured with `--serve-artifacts`. When you attempt to list artifacts via the UI, a ListArtifacts request is sent to the `UI Server`, which thinks that it's serving artifacts and attempts to resolve them from the default `--artifacts-destination` of `./mlruns`. If you restart your `UI Server` and omit `--s

[2022-03-01 20:09] ravitashaw commented on #1120
Nope, have a work around for it. Download the generated files (zipped) in local and run mlflow in local

[2022-03-01 20:15] BenWilson2 commented on #5423
Hi @VirajVaitha123 have you been able to access the tags associated with the model registration from `client.get_registered_model(<name>)` (https://www.mlflow.org/docs/latest/_modules/mlflow/tracking/client.html#MlflowClient.get_registered_model) or are you trying to get the tags from the run entry in the tracking server?

[2022-03-02 06:01] jlmeunier opened #5439 "[BUG] Loading Artifacts Failed"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-03-02 07:16] jlmeunier commented on #5439
@iavinas , yes, thanks, the UI now shows the artifacts. Thanks to you all!

[2022-03-02 10:41] pat749 commented on #5351
Another great alternative is to use https://keras.io/api/callbacks/ when you fit your model. Specifically the ModelCheckpoint callback, like this:from keras.callbacks import ModelCheckpoint
#Create instance of ModelCheckpoint
chk = ModelCheckpoint("myModel.h5", monitor='val_loss', save_best_only=False)
#add that callback to the list of callbacks to pass
callbacks_list = [chk]
#create your model
mo

[2022-03-02 10:42] pat749 commented on #5351
for more explanation you can see https://keras.io/api/callbacks/ this documentation.

[2022-03-02 10:46] pat749 commented on #5392
hey you can see this documentation https://pypi.org/project/google-cloud-mlflow/

[2022-03-02 11:10] leviplj commented on #5377
@dbczumar Not using `--serve-artifacts` on the `UI Server`, throws the following error on the terminal when I open the run on the browser:
[code]

And even without the `--serve-artifacts` on the `UI Server`, if I start it before the `Artifacts Server`, the experiment is saved with the URI `mlflow-artifacts://0.0.0.0:8001/0`.
Notice that I always create an empty database before starting the servers

[2022-03-02 13:11] harupy commented on #3785
Query plan comparison:

### Without index:

[code]

### With index:

[code]

[2022-03-02 14:06] bgt-cdedels commented on #5297
I also have a similar issue on a linux machine.  In my case, the error is different, but I suspect that is because I am using a different configuration.

Steps to reproduce:

Artifacts server:
[code]

Mlflow Client (I am using MlflowClient because of a separate issue with run not being ended when I call `mlflow.end_run()`):
[code]

The error at the client I get is below.  I expect this error becau

[2022-03-02 14:12] BenWilson2 commented on #5439
Thank you for the notification nonetheless. I'm happy that it is working for you now in the latest release!

[2022-03-02 14:12] #5439 closed

[2022-03-02 14:48] harupy commented on #3785
Results of `EXPLAIN ANALYZE`:

[code]

### Without index

[code]

### With index

[code]

[2022-03-02 15:09] harupy commented on #3785
@mberr Thanks for the comment. I think I forgot to update the database schema. Here's the new result.

### Without index

[code]

### With index

[code]

[2022-03-02 15:43] BenWilson2 commented on #5377
Hi @leviplj I was able to repro your issue with the following configs:

Artifacts server:
[code]
Tracking server:
[code]
However, by omitting the `backend-store-uri` option from the artifacts server configuration (which is not needed for proxied operation since it is not handling run information, experiment tracking, metrics logging, etc and only handles artifact saving and loading) this should (h

[2022-03-02 15:44] mberr commented on #3785
I am dealing with a larger mlflow instance with around 30GiB of metrics.

[code]

I investigated two different index options, a default (B-tree) index on `metrics(run_uuid)` (called `metrics_run_uuid_idx`), as well as a hash index thereupon (called `metrics_run_uuid_idx1`). I benchmarked the same query as you did before, wrapped in the following snippet
[code]

| b-tree index | hash index | execut

[2022-03-02 15:45] BenWilson2 commented on #5377
We're going to be implementing controls for the cli to ensure that these incompatible configurations won't raise these sorts of frustrating problems for server administrators. Stay tuned!

[2022-03-02 15:45] sr-mpamera opened #5440 "[BUG] Security Vulnerability"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-03-02 15:48] sr-mpamera commented on #5440
Security vulnerability builds fail with the error "Insecure Temporary File in mlflow" even though the mlflow version is upgraded to 1.23.1. Also tried 1.24.0 but no luck.

[2022-03-02 15:52] harupy commented on #3785
@mberr Thanks for benchmarking. This is awesome :)

[2022-03-02 17:12] leviplj commented on #5377
@BenWilson2 that works, but it's not using the new schema `mlflow-artifacts:/`, but `http`. Using `mlflow-artifacts` still breaks the tracking server.
If I don't set `--serve-artifacts`, the artifacts fail to return with the message `Unable to list artifacts stored under <code>{artifactUri}</code> for the current run ...`
If I set `--serve-artifacts`, no artifact is listed but there's no error mes

[2022-03-02 18:49] amesar opened #5441 "[DOC-FIX] Keras vs TensorFlow autologging confusion"
https://www.mlflow.org/docs/latest/tracking.html#scenario-4-mlflow-with-remote-tracking-server-backend-and-artifact-stores

Very confusing that Keras autologging is handled by mlflow.tensorflow.autolog() and not mlflow.keras.autolog(). So what is the purpose of mlflow.keras.autolog? In fact, why have both since Keras now only runs on TensorFlow.

[code]

[2022-03-02 18:57] jparkhilltx commented on #4830
The error messages are just a little unhelpful.
this type of initialization works for me:
`mlflow.set_experiment('hello')
with mlflow.start_run(run_name='tnet_e3nn_reg'):
    log_param("param1", randint(0, 100))`

[2022-03-03 00:17] harupy commented on #3785
@mberr Is it possible to benchmark this query in your environment?

[code]

[2022-03-03 01:04] harupy commented on #3785
cc @dbczumar @BenWilson2

[2022-03-03 02:02] tuhinmallick commented on #2495
I am still having the problem even though I have setup the environement variables properly

` ERROR mlflow.server: Exception on /ajax-api/2.0/preview/mlflow/artifacts/list [GET]
Traceback (most recent call last):
  File "C:\Util\Anaconda3\envs\Working\lib\site-packages\flask\app.py", line 2073, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Util\Anaconda3\envs\Working\lib\site-

[2022-03-03 02:32] dbczumar commented on #5440
@sr-mpamera Please provide more details, such as the environment / code that's producing this message. MLflow always uses secure temporary directory creation procedures in Python.

[2022-03-03 02:36] dbczumar commented on #5441
We'll be removing support for `mlflow.keras.autolog()` shortly.

[2022-03-03 02:36] #5441 closed

[2022-03-03 09:24] mberr commented on #3785
There is not much difference here, since the primary key's index is used (cf. details below).

b-tree index | hash index | execution time
-- | -- | --:
yes | yes | 702.850 ms
no | yes | 702.080 ms
yes | no | 743.145 ms
no | no |  702.850 ms

<summary>Details</summary>
<details>

both
[code]

btree
[code]

hash tree
[code]

none
[code]

table schema
[code]

</details>

[2022-03-03 11:17] Ankur-singh commented on #4170
I am facing the same issue. I am using GCP bucket to store my artifacts. I can see the artifacts in the bucket but for some reason  the UI is not able to display the preview.

- Before `mlflow.end_run()` I see the following message.
<img width="945" alt="image" src="https://user-images.githubusercontent.com/14893062/156553523-85b1c62f-e12f-4ab4-bb2d-36d28485aa9e.png">

- after `mlflow.end_run()`,

[2022-03-03 19:09] rokrokss commented on #2819
let's just size up the width of the sidebar

[2022-03-04 00:02] horatiu-negutoiu opened #5450 "[BUG] unpack_from requires a buffer of at least 4 bytes"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-03-04 01:48] Ark-kun commented on #5392
@bhawnaniavinash @pat749 Hello. I'd be happy to hear your feedback for the [google-cloud-mlflow](https://pypi.org/project/google-cloud-mlflow/) plugin.

[2022-03-04 07:26] jlmeunier opened #5451 "[FR] in the web UI, provide access to some server information, at least the server version"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-03-04 07:42] #3785 closed

[2022-03-04 13:32] harupy commented on #5450
Found this issue that reports the same issue:
https://github.com/rycus86/prometheus_flask_exporter/issues/59

[2022-03-04 14:20] #5450 closed

[2022-03-04 21:39] mengxr opened #5456 "[Proposal] MLX (codename) - Opinionated ML pipelines in MLflow"
## Proposal Summary

(You can find [the latest version of the proposal in this Google doc](https://docs.google.com/document/d/1KDNxLvmS392LdNpqc-bU9EAyoTvv0U3FiB5vRMfQuzI/edit).)

## What are you trying to do? Articulate your objectives using absolutely no jargon.

We want to introduce MLX (codename), an opinionated approach for MLOps, as part of MLflow’s next major release. It adds two key featur

[2022-03-04 23:47] sonichi commented on #5456
This is a very interesting proposal. A similar tool is offered in Visual Studio for .NET developers: https://docs.microsoft.com/en-us/dotnet/machine-learning/automate-training-with-model-builder. There are some differences, but I believe it is worth looking into.

I'm interested in helping, such as doing code reviews.

One question is which pipeline execution engine would you use?

[2022-03-05 02:23] BenWilson2 commented on #5440
Are you able to upgrade to the latest release branch that will not issue this NIST warning? As per the alert, this was fixed in version 1.23.1.

[2022-03-05 06:22] Alec-Stashevsky commented on #5383
@dbczumar thanks for the help! Unfortunately after taking a look around I am unable to contribute to the feature at this time. I have edited the request above.

[2022-03-06 15:06] MichalNawrot commented on #2501
It's still an issue. I've tried it on both [an example from Machine-Learning-Engineering-with-MLflow book](https://github.com/PacktPublishing/Machine-Learning-Engineering-with-MLflow/tree/master/Chapter01/stockpred) & [official MLflow-docker-example](https://github.com/mlflow/mlflow/tree/master/examples/docker) using `mlflow run .` & `mlflow run . -P alpha=0.4` respectively (Windows 10, mlflow v1.

[2022-03-06 19:31] erensahin commented on #4299
I opened this PR: https://github.com/mlflow/mlflow/pull/5460

[2022-03-06 23:12] sr-mpamera commented on #5440
We did upgrade to 1.23.1 but it still fails with same error. We have also tried 1.24.0

[2022-03-07 01:51] harupy commented on #3334
Fixed by https://github.com/mlflow/mlflow/pull/5443.

[2022-03-07 01:51] #3334 closed

[2022-03-07 08:06] Grisly00 commented on #2501
This issue is now open for over 2! years and is allegedly an easy fix. Is there any intention on solving this issue, or is there a different recommended approach to this?

[2022-03-07 15:44] dtpryce commented on #4865
Tested and much better in newest versions so will close here

[2022-03-07 15:44] #4865 closed

[2022-03-07 16:58] mengxr commented on #5456
@sonichi Thanks for the references! I will take a look at ML.NET.

On the pipeline execution engine, I used bazel during prototyping. The pipeline engine won't be end-user facing (except installing some dependencies if manual installation is required). So the actual choice is not important in this phase as long as it meets the functional requirements.

[2022-03-07 17:29] addisonklinke commented on #5456
Overall, I strongly support some kind of pipeline execution native to MLflow. I think that would make it a much more complete platform for MLops. For some background on my questions, I'm a ML engineer with 3.5 years experience focused in deep learning computer vision. Some of my favorite tools are [PyTorch Lightning](https://github.com/PyTorchLightning/pytorch-lightning), MLflow 😄, [Raytune](https

[2022-03-07 18:19] mengxr commented on #5456
@addisonklinke MLX and Kubeflow serve different personas. The initial target for MLX is data scientists who are new to ML under production settings, which we believe are the majority.

IMHO Kubeflow is designed for engineers/ops. Take t[he MNIST example from kubeflow](https://github.com/kubeflow/examples/blob/master/mnist/mnist_vanilla_k8s.ipynb). The very first code cell would scare away many dat

[2022-03-07 19:47] giacomov commented on #5456
it would be great if the structure would be abstract enough to support custom runners. So the engine can compute what need to run, but then the experiments themselves are submitted to an arbitrary infrastructure. There could be support for kubernetes out of the box, but then the user could write a custom runner to run experiments on whatever infrastructure.

[2022-03-07 23:26] jingnanxue commented on #5247
I met the same problem. It turned out that the new version of mlflow doesn't support tensorflow 1.x SavedModel. You can either downgrade the mlflow to previous version (1.14.1 worked for me) or read a tensorflow 2.x SavedModel file.

[2022-03-08 01:20] dbczumar commented on #5440
@sr-mpamera We have verified that this has been fixed in MLflow 1.23.1. Can you please audit or modify the configuration of your security / compliance checker?

[2022-03-08 07:19] jingnanxue opened #5469 "[BUG]Requiring the length of values for each input to be same seems too strict"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-03-08 12:18] Ankur-singh commented on #4463
Any updates on the same? I am facing a similar issue but I am using Pytorch.

I have save my pytorch model (along with transforms) as a `PythonFunction`. I want to load the model in CPU as well as GPU. Is there any provision of passing extra arguments like `use_gpu=True` while logging the model. Ideally, I want to use this extra argument to during `load_model` to load the model in CPU or GPU.

[2022-03-08 13:49] krlng commented on #3686
Is there any activity on this? As there already exists the [get_model_version_stages](https://www.mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.get_model_version_stages) functionality I would assume, having stages configurable was intended in the beginning?

[2022-03-08 14:18] npil commented on #1810
@timonbimon I don't know if this helps you at all but I had a similar requirement (selecting threshold based on P-R curve). My workaround was to log the data as a JSON artifact and log the model as a `python_function` with some custom model loading code to load the threshold data from the JSON file as a pandas DataFrame when the model is loaded. At that point you can effectively search the DataFra

[2022-03-08 22:11] dbczumar commented on #4076
Apologies for the delay. @GavinCameron @CamposContentful @etekin-amfam Is this something you'd be willing to contribute?

[2022-03-09 01:07] dbczumar commented on #5469
@jingnanxue Thank you for raising this. I agree. @tomasatdatabricks can you weigh in here? How difficult would this be to fix?

[2022-03-09 02:59] weidalin opened #5473 "[FR]what is mean Service-rpc-'since' defined in .proto file"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-03-09 06:21] dbczumar commented on #5473
@weidalin Good question! `major` refers to the MLflow REST API major version, and `minor` refers to the REST API minor version. In the future, it's possible that we will introduce new versions of the REST API, so this versioning scheme is helpful. Please let me know if you have any additional questions.

[2022-03-09 06:21] #5473 closed

[2022-03-09 11:18] #5216 closed

[2022-03-09 14:42] AlxndrMlk opened #5474 "[BUG] A problem with type checking for string objects (MLflow-deployed model in SageMaker)"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-03-09 15:30] DOH-WLD0303 commented on #4272
Are there any updates on this feature? Very interested in what's going on here.

[2022-03-09 17:14] tomasatdatabricks commented on #5469
@dbczumar I think we can juts remove the check cc @arjundc-db  who may have more context. I think we should do it to match the tf serving behavior. Thanks for bringing this up @jingnanxue!

[2022-03-09 21:20] MarkYHZhang opened #5475 "[BUG] EvaluationResult from DefaultEvaluator throws ValueError (unknown file extension) when calling .save()"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [x] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2022-03-10 06:03] dbczumar commented on #5475
Thanks @MarkYHZhang !

[2022-03-10 06:07] dbczumar commented on #5474
Hi @AlxndrMlk. Thanks for raising this! Can you paste the inferred model signature? What happens if you call `infer_signature` on a list of strings, rather than an `np.ndarray()`? Can you also share a signature in this case? Does the problem go away?

[2022-03-10 06:11] dbczumar commented on #5474
EDIT: I see, a list of strings is not a supported inferable type. Inferring the signature gives the following output for me:

[code]

Do you see the same thing?

cc @tomasatdatabricks @arjundc-db who may be able to help.

[2022-03-10 07:16] AlxndrMlk commented on #5474
@dbczumar

Hi Corey,

thank you for a quick reply. Yes, I also got an error when passing a list (of lists of strings).

I see the same input signature as you do (`[Tensor('str', (-1, 2))]`) in my MLflow model register (would have to check in the repl, but I suppose it'll be the same).

[2022-03-10 07:41] Xiaxuli opened #5478 "[SETUP-BUG]"
有些不对劲
如果此错误仍然存​​在，请[在此处](https://github.com/mlflow/mlflow/issues)报告问题。  这是我的页面总出现的问题，一不小心就会崩，需要重启服务。
还有就是我使用：nohup mlflow server --backend-store-uri mysql//root@localhost/mlflow_test --host 0.0.0.0 -p 5002 --default-artifact-root s3://mlflow &  命令启动后，无法保存模型，是没法定位，报错如：NoCredentialsError: Unable to locate credentials，求解该如何解决

[2022-03-10 22:29] #5408 closed

[2022-03-10 22:37] santiagxf opened #5479 "[DOC-FIX] Updating built-in deployment tools for MLFlow models in Azure ML"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this documentation issue template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another

[2022-03-11 07:28] antoinevokleber commented on #629
Hi all, i use MLflow 1.24.0 and i  have tested the server with proxied artifact access on blob azure.  When MLflow client, i don't send artifact without added information to access blob azure. I have tried different options on server mlflow (--serve-artifact, --default-artifact-root, --artifacts-destination wasbs://...). when i added AZURE_STORAGE_ACCESS_KEY and AZURE_STORAGE_CONNECTION_STRING var

[2022-03-11 07:59] antoinevokleber opened #5480 "[BUG] MLFLow proxy artifact does not work on blob azure"
Hi All,
i use MLflow 1.24.0 on kubernetes Server

on my docker image, i use python 3.8
my script to launch server mflow :
[code]

On my client linux (python 3.6, debian 4.19), i use example mlflow ElasticnetWineModel to save model on my server with tracking uri of my server.

I have some metrics, logs on the mlflow interface. However, I don't see any artifacts on the user interface MlFlow and the

[2022-03-11 13:31] sebastian-montero opened #5482 "[BUG] Update GCS artifact storage to accept indefinite timeout"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-03-11 15:28] BenWilson2 commented on #5480
Hi @antoinevokleber are you attempting to log new runs to an existing experiment after changing the artifact handling with the MLflow tracking server to use proxied mode?

[2022-03-11 17:43] BenWilson2 commented on #5480
Could you try with:
`mlflow server '--backend-store-uri=postgresql://********@10.0.1.15:5432/mlflow_db' --artifacts-destination wasbs://mlartifacts@pocmlopsvelo.blob.core.windows.net/ --serve-artifacts --host 0.0.0.0 --port 80 --gunicorn-opts "--log-level debug"`

In order to remove the duplicated artifacts-destination and default-artifact-root destination entries and to enable debug mode on API c

[2022-03-12 01:47] rehevkor5 commented on #4166
The formatting of your directory structure examples is not very understandable. I think you may have indentation mistakes which make it difficult to follow.

You don't show how you are actually passing the model location into the Docker container. Are you using `--model_base_path`? If so, maybe you are just making a mistake of setting that as "project_name/1/", when you should be setting it as mor

[2022-03-12 22:55] r3stl355 commented on #4821
Hey, looks like nothing is happening here, can I pick it up?

[2022-03-14 14:28] DraXus opened #5489 "[BUG] Artifacts are saved in a different drive"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-03-14 15:51] antoinekrajnc opened #5490 "[BUG] KeyError: 'metadata' - kubernetes.py"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-03-14 19:25] santiagxf commented on #5479
Addressed on [PR 5491](https://github.com/mlflow/mlflow/pull/5491)

[2022-03-14 22:13] mattyb commented on #5195
Duplicates #3583

[2022-03-15 01:03] harupy opened #5492 "Upgrade GitHub actions managed by `https://github.com/actions` to v3"
https://github.com/actions recently released v3 for their actions (e.g. https://github.com/actions/setup-python/releases/tag/v3.0.0). We should upgrade our GitHub Actions config to use the new version.

Example:

https://github.com/mlflow/mlflow/blob/f9e5200a3a1e8d5ec86fd4ed9776f1c2392ce18e/.github/actions/setup-python/action.yml#L32

[code]

[2022-03-15 01:04] harupy commented on #5492
cc @BenWilson2

[2022-03-15 01:38] harupy commented on #5490
@antoinekrajnc Thanks for reporting this. Does your job template file contain a `metadata` field?

[2022-03-15 03:00] Sohamkayal4103 commented on #5492
@harupy  I would like to work on this issue

[2022-03-15 03:09] harupy commented on #5492
@Sohamkayal4103 Thanks! Feel free to submit a PR. We'd be happy to review it :)

[2022-03-15 09:52] antoinevokleber commented on #5480
Hi,
Below the log:
[code]
for your information, i have created environment variable on the server:
- AZURE_STORAGE_CONNECTION_STRING : connection string to account storage blob
- AZURE_STORAGE_ACCESS_KEY : password for the connection adsl
- MLFLOW_ARTIFACT_PATH  = wasbs://mlartifacts@pocmlopsvelo.blob.core.windows.net/

[2022-03-15 11:35] krlng commented on #4396
I am with @smit1625 . From my experience it is a common pattern to have the same version rolled out in multiple stages. A reason for this might be different services that communicate, so there is a need to always have a model running in all environments. And of course, if there is no newer, better version that should be tested, it is advisable to run the same model in staging as in production.

@s

[2022-03-15 12:59] zbloss opened #5493 "[FR] Create Projects Directory to organize Experiments"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [x] Yes. I would be willing to contribute this feature with guidance from

[2022-03-15 13:58] antoinekrajnc commented on #5490
Yes exactly. Here it is:

[code]

[2022-03-15 20:31] jinzhang21 commented on #4005
Thanks for the raising the issue. We'll prioritize a discussion on possible solution to logging Keras models as Pyfunc type. In the meantime, you can use Keras native model logging to circumvent the issue: https://www.mlflow.org/docs/latest/python_api/mlflow.keras.html#mlflow.keras.log_model

[2022-03-15 21:15] karinapatel opened #5494 "[BUG] Unsupported conversion in PySpark UDF prediction from NumPy array(numpy.ndarray) to a Tensor with TF Custom Estimator"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-03-15 21:28] strangan commented on #4005
@jinzhang21 : Thank you for your response.

I posted something similar on Stackoverflow.com as well to explain why having the ability to log a mlflow Keras model in a pyfunc flavor is important. You can read about it here:

https://stackoverflow.com/questions/70385171/mlflow-on-databricks-cannot-log-a-keras-model-as-a-mlflow-pyfunc-model-get-ty

Thanks

[2022-03-15 23:18] harupy commented on #5490
@antoinekrajnc Thanks for the reply. Can you check what `job_template` looks like?

[2022-03-16 00:33] john-munar opened #5496 "[Question] Can /invocations endpoint return CSV?"
Hello there. I looked at the docs for the /invocation endpoint and though I am able to feed the endpoint with csv data, I get the data returned in json format. Is it possible to get this data returned as csv?

[2022-03-16 01:23] singankit opened #5498 "[BUG] User-Agent added by as a default header gets overwritten if request_header_provider adds the same header"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-03-16 01:30] singankit commented on #5054
This issue is fixed in the [PR](https://github.com/mlflow/mlflow/pull/5236). Hence closing it.

[2022-03-16 01:30] #5054 closed

[2022-03-16 01:50] adamreeve commented on #4750
Hi, I'm also willing to contribute this feature, assuming you're no longer interested @niksbansode? Otherwise if you're still working on this I'm keen to help out. It would be good to get some feedback on my proposed approach before implementing this though, as it looks like this will require reasonably significant changes. It looks like @harupy or @dbczumar, you're the best people for feedback he

[2022-03-16 03:54] dbczumar commented on #5489
Hi @DraXus , your `file://` URI might be incorrect. According to https://en.wikipedia.org/wiki/File_URI_scheme for `Windows`, you should use three slashes after the URI scheme to refer to a location on the local filesystem. I suspect that, because you're only using two slashes after the URI scheme, `Z:` is being interpreted as the hostname.

Please feel free to reopen this if the URI structure is

[2022-03-16 03:54] #5489 closed

[2022-03-16 04:00] dbczumar commented on #5496
Hi @john-munar - the MLflow server can only provide responses in JSON format. This way, consumers of model scoring REST endpoints only have to handle a single output type. Please let me know if there's a particular use case requiring that records be returned in CSV format, and feel free to create a feature request ticket if JSON isn't sufficient for whatever reason. Thank you for using MLflow!