[2022-07-18 14:19] harupy commented on #6255
@hollytb Mleap might work. Have you tried WSL (https://docs.microsoft.com/en-us/windows/wsl/install)?

[2022-07-18 14:32] nreith commented on #6232
@dbczumar Is there any way to have a bit of a sneak peak as to what features it includes? Most importantly, is there any centralization of the architecture to handle multi-tenant?

[2022-07-18 14:42] jdonzallaz commented on #6181
Hi @harupy,

We have the same problem here, when using the server as proxy.
The artifact location of the experiment in the database is "s3://mlflow-artifacts/0". But I have the following error on the client side: `boto3.exceptions.S3UploadFailedError: Failed to upload {user-dir}\AppData\Local\Temp\tmpdot8hrp7\model\conda.yaml to mlflow-artifacts/0/69a7db5a7b9546dda7d80d9b71cca43c/artifacts/conda.y

[2022-07-18 14:43] subramaniam02 commented on #6078
@BenWilson2 @WeichenXu123 I am interested in FR. What will be the workflow look like after support of generic model serving.

mlflow user:
1. run `mlflow models build-image`
2. Create `dockerfile`
2.1 use image from above step
2.2 Copy model
3. `docker run`

I would like to add my opinion that https://github.com/mlflow/mlflow/issues/6084 will be efficient long term solution. But I agree this is go

[2022-07-18 15:04] jdonzallaz commented on #6181
@harupy

Yes, I deleted/recreated new experiments each time.
The key is apparently to not use the `--default-artifact-root` argument as you stated in a previous comment (I didn't tried this before). This works for me.

[2022-07-18 18:02] jinzhang21 opened #6264 "[FR] Stable model comparison URL regarding experiment IDs"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Background of the issue:
Often, we launch a new train, create a comparison for it in MLflow, and then want to click on a metric to compare to monitor throughout the train. We often share the resulting URL with teammates. However, if the metric has not been recorded yet, the link that is created

[2022-07-19 00:43] harupy commented on #6261
Related to https://github.com/mlflow/mlflow/issues/2696

[2022-07-19 04:20] tsungjung411 opened #6268 "[BUG] Can't pickle <function r2_score at 0x7f1b594cf310>: it's not the same object as sklearn.metrics._regression.r2_score"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

mlflow, version 1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04.3 LTS
- **Python version**: Python 3.9.7
- **yarn version, if running the dev UI**: N/A

### Describe the problem

## Root cause
cannot pickle a model on the local side
(unable

[2022-07-19 05:44] harupy commented on #6268
I was able to reproduce the issue. I think the cause is `mlflow.sklearn.autolog` patches `accuracy_score`.

[2022-07-19 05:56] harupy commented on #6268
Checking what happens if we don't patch the sklearn's metric functions.

[2022-07-19 05:56] harupy commented on #6268
[code]

[2022-07-19 06:06] harupy commented on #6268
@tsungjung411 `mlflow.sklearn.autolog(log_post_training_metrics=False)` can prevent the issue.

[2022-07-19 06:22] harupy commented on #6233
@zstern Any updates here?

[2022-07-19 06:43] harupy opened #6269 "Enable `useless-object-inheritance` for pylint"
### Task

Enable `useless-object-inheritance` for pylint to prevent useless object inheritance:
https://pylint.pycqa.org/en/latest/user_guide/messages/refactor/useless-object-inheritance.html

### Lines that need to be changed

https://github.com/mlflow/mlflow/blob/4f5d3f095da9ed6699941d8aacb9925488ff2fb5/pylintrc#L174-L177

[2022-07-19 06:48] harupy opened #6270 "Enable `super-with-arguments` rule for pylint"
### Task

Enable `super-with-arguments` for pylint to prevent useless `super` arguments:
https://pylint.pycqa.org/en/latest/user_guide/messages/refactor/super-with-arguments.html

### Lines that need to be changed

https://github.com/mlflow/mlflow/blob/4f5d3f095da9ed6699941d8aacb9925488ff2fb5/pylintrc#L174-L177

[2022-07-19 07:40] Yingyyyy commented on #4867
same, when trying with code or ui I got the same error message

[2022-07-19 12:12] dhirajsuvarna commented on #2426
any updates on this?

[2022-07-19 12:13] dhirajsuvarna commented on #5927
any updates on this?

[2022-07-19 12:15] sebastien-genete commented on #5927
I am no more time to spend on this topic.
Maybe someone else can try to solve this issue.

[2022-07-19 15:50] zstern commented on #6233
Created new experiment through gui and tried to upload artifacts and also created new experiment via the code snippet you listed above.  Tried to log artifacts and get `NoCredentialsError: Unable to locate credentials` , though in doing some other tests there may be some other admin settings preventing access. For some reason the boto3 access, which was working, does not work now.  Feel free to cl

[2022-07-19 15:50] #6233 closed

[2022-07-19 16:07] okoben commented on #5852
I encountered the same issue. Make sure your MLFLOW_TRACKING_URI environment variable is set and pointing to your tracking server, that solve the issue in my case

[2022-07-19 17:37] RavitejaBadugu opened #6273 "How to do model serve for unsupervised models?"
I am using the code from [This URL. A basic example of using mlflow](https://github.com/RamVegiraju/mlflow-serving/blob/master/train.py).
When I change the model and instead of using the supervised approach when I change it to unsupervised. (Just for checking how to use for unsupervised). The updated code is
[code]
But in artifacts MLmodel file is not having **python_function**
[code]
When I  run

[2022-07-19 21:16] njanopoulos commented on #6181
The creds when logging artifacts successfully from tracking server are properly populated.
The creds when using tracking server as proxy are not populated and appear null.

AttributeError: 'NoneType' object has no attribute 'get_frozen_credentials'

[2022-07-19 22:23] zstern opened #6274 "[BUG] OSError: [Errno 30] Read-only file system"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.0

### System information

NAME="Ubuntu"
VERSION="20.04.4 LTS (Focal Fossa)"
as underlying OS

Running Docker version 20.10.12, build 20.10.12-0ubuntu2~20.04.1
docker-compose version 1.25.0

[code]
[code]

requirements.txt:

mlflow==1.27.0
psyco

[2022-07-19 23:04] harupy commented on #6273
Hi @RavitejaBadugu, we currently don't support serving a scikit-learn model that doesn't implement `predict`.

[2022-07-19 23:09] harupy commented on #6181
@njanopoulos This indicates something is wrong with your credential setup. How do you provide AWS credentials?

[2022-07-19 23:18] harupy commented on #6274
@zstern

Can you share the full stack trace?

[2022-07-19 23:19] jerrylian-db opened #6275 "[DOC-FIX] Cannot run pytests due to missing dependencies in default development environment"
### Willingness to contribute

No. I cannot contribute a documentation fix at this time.

### URL(s) with the issue

CONTRIBUTING.rst

### Description of proposal (what needs changing)

I followed the `CONTRIBUTING.rst` and ran `dev/dev-env-setup.sh -d .venvs/mlflow-dev -q` in a fresh clone of the mlflow repo to create an virtual environment to develop within. However, when I ran `./dev/run-python

[2022-07-19 23:25] jerrylian-db commented on #6275
This was fixed after running
[code]

[2022-07-19 23:27] harupy commented on #6275
@jerrylian-db It should but looks like it actually doesn't:

https://github.com/mlflow/mlflow/blob/0c884e04cfde020b2d9464d18bb455df0ec5c61b/dev/dev-env-setup.sh#L223-L237

`pip install $(quiet_command) -e .[extras]` (which should install `pyyaml`) is only executed when `$full` is not empty.

[2022-07-19 23:36] harupy commented on #6275
@jerrylian-db Filed #6276

[2022-07-19 23:40] harupy commented on #6273
You can extend `NearestNeighbors` like this:

[code]

[2022-07-19 23:40] zstern commented on #6274
[code]

[2022-07-19 23:44] harupy commented on #6274
Looks like it's truncated.

[2022-07-20 00:23] zstern commented on #6274
[code]

[2022-07-20 01:03] #6275 closed

[2022-07-20 02:32] tsungjung411 commented on #6268
The solution is not acceptable. We still need the post training metrics. There is something wrong in mlflow.

## pickle a model: pass
[code]

## pickle a model: failed
[code]

## difference
The difference is the order of mlflow.autolog() and import-AutoSklearnClassifier statement.
- pass
[code]
- failed
[code]

[2022-07-20 02:50] harupy commented on #6268
@tsungjung411 What does `failed` and `pass` mean?

[2022-07-20 02:54] tsungjung411 commented on #6268
**failed**: the program will be stopped due to an error, and cannot output a model to the local disk
[code]

**pass**: the program can output a model to the local disk successfullly

[2022-07-20 03:14] harupy commented on #6268
Executing `mlflow.autolog()` after the import statements didn't work. I got `_pickle.PicklingError: Can't pickle <function accuracy_score at 0x7fe3863f8310>: it's not the same object as sklearn.metrics._classification.accuracy_score`.

[2022-07-20 03:16] harupy commented on #6268
btw sklearn autologging may not work properly with `AutoSklearnClassifier`.

[2022-07-20 03:29] tsungjung411 commented on #6268
`AutoSklearnClassifier` and `AutoSklearnRegressor` are ensemble classes that combine multiple scikit-learn (sklearn) models into one model. Auto-sklearn just uses scikit-learn packages.

[2022-07-20 03:41] tsungjung411 commented on #6268
I have found an easy way to reproduce this case without the auto-sklearn package.

[code]
![image](https://user-images.githubusercontent.com/14820019/179890803-e383bc5c-9188-4b43-b658-36b58e84f3af.png)

- The key point is `self.accu = accuracy_score`.
- Without the statement, the model can be saved successfully.

[2022-07-20 03:43] harupy commented on #6268
The code you attached worked.

[2022-07-20 03:48] #6101 closed

[2022-07-20 03:58] tsungjung411 commented on #6268
Sorry, I forgot to restart the kernerl from Notebook.

Please have a trial again. `mlflow.autolog()` precedes `import accuracy_score`.
[code]
![image](https://user-images.githubusercontent.com/14820019/179893704-593156d8-f35b-4b1f-abec-5ded852c65fc.png)

[2022-07-20 04:20] tsungjung411 commented on #6268
Regression metrics have the same situation.

[code]

![image](https://user-images.githubusercontent.com/14820019/179896048-0e522176-ada8-466c-80f0-266d3dd67791.png)

[2022-07-20 04:20] harupy commented on #6268
In the successful case, `accuracy_score` is the original `accuracy_score` so works.
In the failed case, `accuracy_score` is the patched `accuracy_score` so doesn't work.

[2022-07-20 05:24] tsungjung411 commented on #6268
Some of Scikit-learn's other APIs are also patched, such as `fit`, `score`, but they can still be pickled.

## show patched hashes before and after `mlflow.autolog()`.
[code]
![image](https://user-images.githubusercontent.com/14820019/179901927-69987966-83be-42c7-97e2-23111b7a5d30.png)

<br>

## save a patched object to Python pickle
[code]
![image](https://user-images.githubusercontent.com/148200

[2022-07-20 05:26] harupy commented on #6268
`fit` is a method, but `accuracy_score` is not. I'm not sure why pickle complains.

[2022-07-20 05:27] harupy commented on #6274
@zstern I think you're logging artifacts in the local file system, not in the container.

[2022-07-20 05:57] #6192 closed

[2022-07-20 06:45] tsungjung411 commented on #6268
## code
### `base.py`
[code]

### `utils.py`
[code]

### `main.py`
[code]

<br>

## run
[cannot_pickle_model.zip](https://github.com/mlflow/mlflow/files/9147180/cannot_pickle_model.zip)

[code]

[2022-07-20 12:51] nathaneastwood opened #6280 "[BUG] mlflow::mlflow_download_artifacts_from_uri() does not remove all relevant piece of the output"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution**: Windows Version 10.0.19044 Build 19044
- **Python version**: 3.10.0
- **R version**: 4.1.2
- **mlflow R package version**: 1.26.1

### Describe the problem

I cannot load a model whi

[2022-07-20 14:24] harupy commented on #6181
Did you run `pip install git+https://github.com/harupy/mlflow.git@print-aws-credentials` before launching the tracking server?

[code]

[2022-07-20 17:19] jmahlik commented on #925
With a large timeout set, our problem seems to be only with the ui generating the experiments table with 1000+ experiments. I wonder if defaulting the experiments side bar to hidden would help as a short term fix? Collapsing the sidebar seems to fix the problem (after waiting a few minutes for it to load). Yes, it would break almost immediately when someone clicks to expand it, but a user could st

[2022-07-20 18:17] njanopoulos commented on #6181
The client threw that. I'm not in a position to install things on the proxy server; I need to engage another team in the company for that, so in the meantime, I'm using similar code in the script that runs the model. Makes sense why it works from the proxy server (we see creds there), and not on the client (no creds).

[2022-07-20 21:52] harupy commented on #6274
@zstern Where did you run this code?

[code]

[2022-07-20 22:10] #6096 closed

[2022-07-20 22:29] harupy commented on #6181
@njanopoulos Did the tracking server throw `boto3.exceptions.S3UploadFailedError` in https://github.com/mlflow/mlflow/issues/6181#issuecomment-1177927640? If the tracking server did, that means the token used in the environment where `mlflow server` is running, is malformed or otherwise invalid.

[2022-07-21 01:54] harupy commented on #5349
We implemented this feature in https://github.com/mlflow/mlflow/issues/6096.

[2022-07-21 03:31] KarthikKothareddy commented on #6269
@harupy I can take this if you haven’t started.

[2022-07-21 03:31] KarthikKothareddy commented on #6270
@harupy I can take this too

[2022-07-21 05:12] harupy commented on #6270
@KarthikKothareddy Thanks for the help!

[2022-07-21 07:04] sergeyleyko commented on #925
The problem is not only with a large number of experiments but with a large number of experiment metrics logged, like in my case.
Thus the issue is due to a bad UI design, and I suppose it can be fixed with big refactoring only.

[2022-07-21 14:03] njanopoulos commented on #6181
Yes, when running with a new experiment, I get messages on the tracking server that say malformed or otherwise invalid token.  Why would this be only when running from client?  When running from tracking server, it succeeds.

[2022-07-21 14:29] harupy commented on #6181
Do you have the stack trace?

[2022-07-21 14:36] harupy commented on #6181
This is expected because `s3://bucket/folder/folder` is a non-proxy URI so the client attempts to log artifacts using boto3.

[2022-07-21 15:33] njanopoulos commented on #6181
I think we've uncovered something that is key.

Non-proxied PUT to S3:
- Tracking Sever: works
- Client: fails (no creds)

Proxied PUT to S3:
- Tracking Server fails (malformed token)
- Client fails (malformed token)

I'm still working through the stack trace, but seems the Proxied connection to AWS has an authentication step that is failing, one that is different from how the Non-proxied connecti

[2022-07-21 15:38] harupy commented on #6181
@njanopoulos How do you set up AWS credentials? environment variables?

[2022-07-21 15:43] harupy commented on #6181
- Did the client send requests to log artifacts to the tracking server?
- Who threw the malformed token error?

[2022-07-21 15:45] njanopoulos commented on #6181
Yes - in the yaml file for the container, a file is specified, where the creds are located.

[2022-07-21 15:47] njanopoulos commented on #6181
mlflow.log_artifact(file.png)  is used
tracking server threw the malformed token error...on client it appears as timeout error

[2022-07-21 15:48] harupy commented on #6181
This indicates the environment where `mlflow server` is running has invalid credentials, right?

[2022-07-21 16:08] harupy commented on #1464
In the next version of MLflow (1.28.0), we're going to release [the `search_experiments` API](https://output.circle-artifacts.com/output/job/e39d5078-512d-4710-a1ab-434351710d35/artifacts/0/docs/build/html/python_api/mlflow.html#mlflow.MlflowClient.search_experiments) that enables users to search/discover experiments using names/tags.

[2022-07-21 16:25] harupy commented on #6181
@njanopoulos Does the pod you entered have the same credentials as the pod where `mlflow server` is running?

[2022-07-21 16:26] vishnurvn commented on #6100
Hi @BenWilson2, diviner documentation and the current MLFlow documentation look similar in explaining the concepts. The difference is, that there are fewer comments in the MLFlow documentation. The idea behind this FR is to split the file into chunks and explain them individually? I think I'm missing something here. Would be great if you can provide some clarifications.

[2022-07-21 18:56] njanopoulos commented on #6181
Yes. The mlflow server is running on that very same pod.

[2022-07-21 20:43] zhe-db opened #6295 "[FR] Define Metric Threshold for Model Validation"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Hi everyone; we are working on designing different options for users to define validation criteria (threshold for metric to satisfy) and pass it to MLflow.evaluate API for model validation; we are proposing following three options. We would love to hear

[2022-07-21 21:48] jinzhang21 commented on #6204
Working on this issue this week.

[2022-07-21 23:03] harupy commented on #6181
@njanopoulos Have you checked the process where `mlflow server` is running have valid AWS credentials?

[2022-07-21 23:26] jerrylian-db opened #6298 "[BUG] Spark UDF `env_manager` breaks when run locally"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.1.dev0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS Monterey 12.4
- **Python version**: v3.7.13. My environment is the same environment as what is installed latest via `dev/dev-env-setup.sh -d .v

[2022-07-21 23:44] dbczumar commented on #6298
Thanks @jerrylian-db. Is there any additional stack trace information for:

[code]

?

[2022-07-21 23:56] njanopoulos commented on #6181
Great idea. For whatever reason, scripts that run on the pod get proper creds, but the mlflow server running on the same pod does not get the creds. Need to figure out why.

[2022-07-22 00:05] jerrylian-db commented on #6298
Here's the full stack trace:
[code]

[2022-07-22 00:26] dbczumar commented on #6298
@jerrylian-db This looks like an OSX-specific multithreading security issue; looks like it can be remedied as follows:  https://stackoverflow.com/a/52230415. Here's another StackOverflow issue that mentions Spark UDFs specifically: https://stackoverflow.com/questions/55379298/how-to-use-pandas-udfs-on-macos-mojave-that-fails-due-to-nsplaceholderdicti.

In summary, this isn't an MLflow issue and se

[2022-07-22 00:26] #6298 closed

[2022-07-22 03:52] harupy commented on #6181
@njanopoulos Nice, please ping me once you figure it out.

[2022-07-22 04:36] harupy opened #6299 "Update black target-version to `py37`"
Replace `py36` in the following line with with `py37`:
https://github.com/mlflow/mlflow/blob/11a8f543d22d6243c0eb8765fb6e2b85947f8af8/pyproject.toml#L3

MLflow no longer supports `py36`.

[2022-07-22 05:25] harupy opened #6301 "Replace deprecated CircleCI docker image"
We currently use the `circleci/python:3.7` image on CircleCI. This image is deprecated and should be replaced with `cimg/python:3.7`

https://github.com/mlflow/mlflow/blob/d112aedbc3faa21a688ce1a3545a75008ff2c6bd/.circleci/config.yml#L43

https://github.com/mlflow/mlflow/blob/d112aedbc3faa21a688ce1a3545a75008ff2c6bd/.circleci/config.yml#L72

Warning on CircleCI:

<img width="882" alt="image" src="

[2022-07-22 16:20] JnsLns commented on #2651
I encountered the same issue, which can be a real blocker when using standardized experiment names. A fix would be highly appreciated.

[2022-07-22 19:01] #5327 closed

[2022-07-22 23:06] EPond89 opened #6307 "[BUG] Cannot Deploy MLeap flavor of spark model in Sagemaker"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04 (mlflow-pyfunc:1.27.0)
- **Python version**: 3.9.5

Notes:
- Have Tried also with mlflow-pyfunc:1.26.1 container (and client libs) and e

[2022-07-23 00:14] mlflow-automation commented on #6255
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-07-23 08:57] harupy commented on #6274
@zstern Any updates?

[2022-07-23 08:59] harupy commented on #6273
@RavitejaBadugu Feel free to reopen the issue if extending a class to implement a predict method doesn't help.

[2022-07-23 08:59] #6273 closed

[2022-07-23 11:14] ydennisy commented on #866
@griseau any update on the cloud run version? Is IAP still not available?

[2022-07-24 23:42] harupy commented on #6270
@KarthikKothareddy Any updates?

[2022-07-25 01:55] #6299 closed

[2022-07-25 02:48] #6301 closed

[2022-07-25 05:32] harupy commented on #6181
@njanopoulos Feel free to reopen the issue if providing valid AWS credentials in the pod the mlflow server is running in, doesn't fix the issue.

[2022-07-25 05:32] #6181 closed

[2022-07-25 11:32] floriancircly commented on #3595
Any updates when to expect the fix? I'm using mlflow, version 1.27.0 and there is still no try/except handling in /mlflow/store/artifact/local_artifact_repo.py when deleting artefacts (mlflow gc).

[2022-07-25 16:39] #6270 closed

[2022-07-25 18:27] dbczumar commented on #6307
@EPond89 Thank you for raising this issue. We are investigating and will have an update shortly.

[2022-07-25 18:35] njanopoulos commented on #6181
Thank you for all the help!

[2022-07-25 18:50] dbczumar commented on #6173
@shrinath-suresh Apologies for the delay. I've filed https://github.com/mlflow/mlflow/pull/6323. Please let me know if this addresses the issue on your end.

[2022-07-25 19:18] stsfaroz commented on #4129
Copy  environment \Scripts\mlflow.exe paste it into the working directory where you going to use MLflow ui

[2022-07-25 20:51] strangiato opened #6324 "[BUG] MLFlow Pipelines Open fails on Linux"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

mlflow, version 1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Red Hat Enterprise Linux release 8.6 (Ootpa)

- **Python version**:
4.8

- **yarn version, if running the dev UI**:

### Describe the probl

[2022-07-25 22:00] dbczumar commented on #6324
@strangiato Thank you for identifying this bug and filing a PR to fix it; I've approved https://github.com/mlflow/mlflow/pull/6326 :)

[2022-07-26 00:14] mlflow-automation commented on #6264
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-07-26 00:14] mlflow-automation commented on #6261
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-07-26 02:36] #6269 closed

[2022-07-26 05:25] harupy commented on #6268
`cloudpickle` worked:

[code]

Output:

[code]

[2022-07-26 05:26] harupy commented on #6268
@tsungjung411 Feel free to reopen the issue if you need further help.

[2022-07-26 05:26] #6268 closed

[2022-07-26 09:13] tsungjung411 commented on #6268
Wow! Awesome!

![image](https://user-images.githubusercontent.com/14820019/180970287-66833970-2295-444c-8cff-d3156549e8f1.png)

[2022-07-26 09:41] tsungjung411 commented on #6268
## Another workaround:
just add the import statement to the head (before `mlflow.autolog()`)

[code]

[2022-07-26 11:32] shrinath-suresh commented on #6173
@dbczumar Thanks for the Fix. When is the next release for mllfow. Since, the error strings are changed, we might have to change those test cases in mlflow-torchserve as well.

[2022-07-26 12:46] sniafas opened #6331 "[BUG] Failing to download large artifacts through mlflow dashboard"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.26

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu Server 20.04
- **Python version**: 3.8
- **yarn version, if running the dev UI**:

### Describe the problem

Not sure if this is a bug. Downloading la

[2022-07-26 13:16] hatimbr opened #6332 "[BUG] Metric plot is very slow when X = Time (Relative)"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

mlflow, version 1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04.4 LTS and Red Hat Enterprise Linux release 8.4 (Ootpa)

### Describe the problem

When I try to visualize a loss curve of a training (at least 8000 steps), it’s way slower to l

[2022-07-26 15:06] santiagxf commented on #6109
Hi @franperezlopez. Unfortunately, we don't currently support MLflow SDK for R for tracking artifacts or models, we only support it for metrics and parameters. You can capture artifacts by saving them to the local file system to be captured by our job execution engine, the same as you are doing. If you need to register your model as a subsequent step in the training process, you can use a Pipeline

[2022-07-26 15:17] santiagxf commented on #5846
Hi @bhogasena, the Azure ML plugin for MLflow tries different authentication methods in a sequence base until one that works successfully is identified. For that, it uses the package `azure-identity`. [In the description of the package documentation](https://pypi.org/project/azure-identity/) you will find the logic of in which order different methods are tried out. If you don't want to have an int

[2022-07-26 15:25] santiagxf commented on #5722
@manishpyy, were you able to solve the issue?

[2022-07-26 16:57] abbas123456 opened #6334 "[BUG] "No schema" shown on model version page"
### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux version 5.10.104-linuxkit
- **Python version**: 3.7.13
- **yarn version, if running the dev UI**:

### Describe the problem

When running an experiment and registering a model with a signatur

[2022-07-26 17:02] #6324 closed

[2022-07-26 19:19] dbczumar commented on #6334
Hi @abbas123456 , thank you for identifying this issue and proposing a fix, as well as offering to contribute it to the repository. We're very excited to review your pull request once it is filed; please let me know if you have any questions.

[2022-07-26 19:22] dbczumar commented on #6331
Hi @sniafas, do you have any stacktrace information available from the server when the download(s) time out? This will help determine the cause of the issue. Are you running your MLflow server in `--serve-artifacts` mode?

[2022-07-26 19:27] dbczumar opened #6335 "We'd like your feedback on MLflow Pipelines"
MLflow Pipelines provides a standardized framework for creating production-grade ML pipelines that combine modular ML code with software engineering best practices to make model development and deployment fast & scalable. You can read more about MLflow Pipelines [here](https://mlflow.org/docs/latest/pipelines.html#usage) and try out the first pipeline for building regression models [here](https://

[2022-07-26 19:40] #6173 closed

[2022-07-26 23:50] harupy commented on #6274
If you want to log artifacts in the tracking server, you need to run `mlflow server` with `--serve-artifacts and --artifacts-destination`. [This example](https://github.com/mlflow/mlflow/tree/master/examples/mlflow_artifacts) might help. Feel free to reopen the issue if you need further help.

[2022-07-26 23:50] #6274 closed

[2022-07-27 00:16] mlflow-automation commented on #6195
This issue is stale because it has been open 7 days with no activity. Remove stale label or comment or this will be closed in 14 days.

[2022-07-27 00:25] dbczumar commented on #6195
@mrhimanshu Apologies for the delay. We would be very excited if you could contribute a pull request for these documentation improvements. Please let me know if you have any questions.

[2022-07-27 00:39] jaelynlitz opened #6339 "[BUG] Internal Server Error on delete"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.19.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS 7
- **Python version**: 3.9
- **yarn version, if running the dev UI**:

### Describe the problem

After using mlflow for ~1 year, we've run into thi

[2022-07-27 01:39] johnyNJ commented on #6183
@WeichenXu123 @harupy i am working on PR... i am not clear if I should do db migration script as well ([https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst#database-schema-changes](url) ) since SqlAlchemyStore column is going to be enlarged. Any advice on that? Thanks

[2022-07-27 02:05] harupy commented on #6261
We don't have an immediate plan to support this feature, but we'll keep this issue open to see what the community thinks.

[2022-07-27 02:27] harupy commented on #6339
@jaelynlitz Thanks for reporting this issue! Have you checked the tracking server logs? When an internal server error occurs, the server usually generates logs that looks like this:

[code]

[2022-07-27 02:42] harupy commented on #6183
@johnyNJ The column length should be enlarged through migration.

[2022-07-27 04:11] harupy commented on #6339
`Error: Promised response from onMessage listener went out of scope 5 [background.js:841:170](moz-extension://d6a7add6-de11-4239-898f-0a287b30c3e7/dist/background.js)` is unrelated to MLflow. It comes from a chrome extension.

[2022-07-27 04:32] harupy commented on #6183
[code]

Just changing `String(250)` to `String(500)` doesn't update the DB schema.

[2022-07-27 07:44] harupy commented on #6332
@hatimbr cc @dbczumar

I'm looking at the relevant code.

https://github.com/mlflow/mlflow/blob/086c4114acb73cd2c4981cc62b7b5e464d258460/mlflow/server/js/src/experiment-tracking/components/MetricsPlotView.js#L95-L100

When X is Time (Relative/Wall), we apply `MetricsPlotView.parseTimestamp` to each point.

https://github.com/mlflow/mlflow/blob/086c4114acb73cd2c4981cc62b7b5e464d258460/mlflow/server

[2022-07-27 08:14] harupy commented on #6332
I pulled out `const minTimestamp = _.minBy(history, 'timestamp').timestamp;` from `parseTimestamp` as shown below

[code]

and compared the performance (with 10000 steps):

### Before:

https://user-images.githubusercontent.com/17039389/181196760-acf7edcb-fff9-4f26-b6cc-0fd1eb411eeb.mov

### After:

https://user-images.githubusercontent.com/17039389/181195853-de761765-8ea3-4f51-bcd7-54ab89d86c7d.m

[2022-07-27 08:21] hatimbr commented on #6332
It looks great, thank you !!

[2022-07-27 08:51] #6280 closed

[2022-07-27 09:38] harupy commented on #6332
@hatimbr I filed #6341. The next version (1.28.0) will include this patch :)

[2022-07-27 11:20] sniafas commented on #6331
Hi @dbczumar,
MLflow server runs with a `--backend-store-uri` with postgres and a `--default-artifact-root` pointing an `s3` bucket. It has 2G of ram but does not seem to run out when attempting download.

This is the available stacktrace. Does this help?
[code]

[2022-07-27 17:57] franperezlopez commented on #6109
Thanks, @santiagxf  for your response ... I had this problem working with AzureML .. do you know if the problem persists if I use a self-hosted mlflow server?

[2022-07-27 18:41] #6307 closed

[2022-07-27 19:09] jaelynlitz commented on #6339
Thanks for the quick response @harupy! I found the logs you're looking for:

[code]

[2022-07-27 21:59] dbczumar commented on #6331
@sniafas Got it. Seems like the issue can be resolved by increasing the timeout of the gunicorn workers used by `mlflow server` to process requests. By default, the timeout is 30 seconds. You can increase it via:

[code]

This will set the timeout to 120 seconds; you can configure the timeout as needed.

I'm going to go ahead and close this issue; please let me know if this adjustment does not res

[2022-07-27 21:59] #6331 closed

[2022-07-27 22:06] dbczumar commented on #6339
Hi @jaelynlitz, are you deleting runs permanently using [mlflow gc](https://mlflow.org/docs/latest/cli.html#mlflow-gc), or are you soft-deleting them using MLflow's [delete_run](https://mlflow.org/docs/latest/cli.html#mlflow-gc) API / UI?

[2022-07-27 22:33] jaelynlitz commented on #6339
I was deleting runs using the UI (so I'd check the boxes then hit the delete button)

[2022-07-27 22:44] dbczumar commented on #6339
Got it. The `mlflow.exceptions.MissingConfigException: Yaml file '/data/data/5/14c113ff02da4f5b9125a70482316277/meta.yaml' does not exist.` excerpt from the error message seems to indicate the metadata file associated with the run has been deleted. However, deletion through the UI doesn't actually remove run files, it just writes a `lifecycle_stage: deleted` line to the metadata file. Is anyone el

[2022-07-27 23:11] #6332 closed

[2022-07-27 23:18] #6074 closed

[2022-07-27 23:44] ridhimag11 opened #6348 "We'd like your feedback on MLflow Experiment Tracking"
MLflow Experiments lets you easily track your experiments and compare runs. We're looking to further improve the tracking and comparison UX and would love to get your feedback on some prototypes we are exploring.

If you're interested in chatting with us and giving us feedback, please [sign-up](https://forms.gle/V4kUfQ1YPB31AatP9) here 🙌

[2022-07-28 00:52] harupy commented on #6183
@johnyNJ Please let us know if we can help with migration part.

[2022-07-28 05:28] Jason-CKY commented on #6128
Thanks, was busy for the past few weeks. I will work on this and put up a PR for this feature!

[2022-07-28 07:19] SoulEvill commented on #3999
I am facing the same issue - where I logged 100+ runs and one of the parameters was logged run and the logged parameters will use to trigger the downstream task. now I need to recreate these 100+ runs. I understand by design this is not encouraged behavior but at least it should give the user the flexibility to be able to change it.

[2022-07-28 10:59] abbas123456 commented on #6334
Are you able to provide some guidance on how to add a test for the change I have made in the pull request? I tried to add a test similar to https://github.com/mlflow/mlflow/blob/master/tests/tracking/test_mlflow_artifacts.py#L289 but was unable to register a model in the test.

I tried to register a model in the same way as https://github.com/mlflow/mlflow/blob/master/tests/tracking/test_model_reg

[2022-07-28 12:13] harupy commented on #6339
@jaelynlitz The stack trace indicates `read_yaml` in `_get_run_info_from_dir` returns `None`:

https://github.com/mlflow/mlflow/blob/56698a23f5996e1d6b605cd714a5917434adeb9b/mlflow/store/tracking/file_store.py#L449-L451

`read_yaml` returns `None` when the file `{run_dir}/{FileStore.META_DATA_FILE_NAME}` exists, but it's empty.

During `delete_run`, `meta.yaml` is opened with the `w` mode to updat

[2022-07-28 12:39] harupy commented on #6339
This might not be what's really happening but we can reproduce the error with this script:

[code]

### UI

<img width="1325" alt="image" src="https://user-images.githubusercontent.com/17039389/181506491-9b7868d0-44c5-49e3-9284-d3b1425f265a.png">

### Tracking server log

[code]

[2022-07-28 18:31] dbczumar commented on #6334
Hi @abbas123456. Great question! I think we can address this by setting the `backend_store_uri` to `f'sqlite:///{os.path.join(tmpdir, "mlruns.db")}'` here: https://github.com/mlflow/mlflow/blob/f7b19b8dcacff24ddfa535e7a9808cb51bdf96ea/tests/tracking/test_mlflow_artifacts.py#L52

[2022-07-28 19:04] RynoXLI opened #6360 "Infer Pandas Series name to Schema Input/output name [FR]"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Infer Pandas Series name to Schema Input/output name.

With a Pandas series object there is a "name" attribute since v0.4.

See pandas series object name attribute here:
https://pandas.pydata.org/docs/reference/api/pandas.Series.name.html

See when panda

[2022-07-28 19:18] dbczumar commented on #6360
@RynoXLI Thank you for filing this proposal. It makes sense to me! Looking forward to your pull request; please let me know if you have any questions!

[2022-07-28 20:23] pbarker commented on #3122
All the flags should also be env vars, flags aren't always friendly

[2022-07-28 20:39] RynoXLI commented on #6360
#6361

[2022-07-28 21:17] RynoXLI commented on #6360
@dbczumar added in pull request, please let me know if anything else is needed.

[2022-07-28 21:42] jaelynlitz commented on #6339
@dbczumar I doubt any of our other users are using the `mlflow gc` command or touching the mlruns directory. We mainly interact with mlflow by logging runs through code, then looking through the UI.

[2022-07-29 00:17] mlflow-automation commented on #6295
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-07-29 00:33] dbczumar commented on #6339
@jaelynlitz Thank you for clarifying. @harupy awesome investigation! I'm inclined to believe that the race condition noted by @harupy is the cause of transient `SearchRuns` API request errors that cause UI failures. I will investigate a fix. Note that this also impacts operations that update the run's `meta.yaml` file, such as `end_run()`

[2022-07-29 00:44] jaelynlitz commented on #6339
Awesome! Thank you so much @harupy and @dbczumar! 😄 In the meantime - is there a way to retrieve the runs that were displayed in the broken experiment? I had some users run into this on an important experiment tab

[2022-07-29 00:59] dbczumar commented on #6339
Happy to help! You should be able to view runs again by identifying and removing any empty `meta.yaml` files in your `mlruns` directory. Unfortunately, runs whose `meta.yaml` files are empty may be a bit harder to restore, as you would need to reconstruct the contents of `meta.yaml`; this can be done by copying the contents of a non-empty `meta.yaml` file and changing the run ID field (start and e

[2022-07-29 02:45] jiyoon0630 commented on #5262
I have same error when using tf.distribute.MirroredStrategy and mlflow.
As @LucasCampos said, importing mlflow library causes attribute error.
Is there any further update regarding this issue?

Here is my code.
[code]

Dependancies:
python 3.8.10
tensorflow 2.5.0+nv
mlflow 1.27.0

[2022-07-29 14:39] amie-roten commented on #863
I agree that this feature would be incredibly useful for monitoring the status of and potential source of failure for experiments.

[2022-07-29 19:58] jerrylian-db opened #6369 "[BUG] MLflow Pipelines cannot get active spark session in Jupyter notebook"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.27.1.dev0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS
- **Python version**: 3.7.13
- **yarn version, if running the dev UI**:

### Describe the problem

I tried running the mlp regression pipeline locally using a Jupyter notebook and ingesting dat

[2022-08-01 09:00] cao-nv commented on #3015
I don't think we can expect this feature in the main fork.

[2022-08-01 14:42] griseau commented on #866
Hey @ydennisy,

I left my previous company where I was working on this and unfortunately don't have the time anymore to work on it. You could try to post and issue and ask the question on the repo itself https://github.com/artefactory/one-click-mlflow

[2022-08-01 23:10] nfarley-soaren commented on #4830
I'm using a remote tracking server and I'm having the same problems running a project using `mlflow run .` from the CLI.  When I try to use the `with mlflow start_run` command in my script, I get a
RESOURCE_DOES_NOT_EXIST error.  when I use `run = client.create_run(experiment_id)
run = mlflow.start_run(run_id = run.info.run_id)` suggested by @metalglove I end up kicking off 2 runs.   When I try th

[2022-08-02 00:24] harupy opened #6379 "Migrate environment variables used in MLflow (e.g. `MLFLOW_S3_ENDPOINT_URL`) to the `mlflow.environment_variables` module"
In https://github.com/mlflow/mlflow/pull/5745, we added the `mlflow.environment_variables` module to define environment variables used in MLflow in one place and provide a document for them. We should migrate the environment variables in the table below to this module as we did in https://github.com/mlflow/mlflow/pull/6375.

| Name                                    | Location

[2022-08-02 00:36] harupy commented on #6379
If you're interested in working on this issue, ping me with the item(s) you would like to work on.

[2022-08-02 08:45] khojarohan4 opened #6383 "[FR] Mlflow Evaluation method to provide feasibility to subset the list of evaluation metrics"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Currently, based on the type of the model be it classification or regression, with evaluators as default, Mlflow evaluate method outputs a defined list of evaluation metrics. This feature request is to check if we could achieve a kind of filtering in the

[2022-08-02 10:00] Davidswinkels opened #6384 "[BUG] Logging params with an empty string as value gives INVALID_PARAMETER_VALUE"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows
- **Python version**:
Python 3.8
- **yarn version, if running the dev UI**:

### Describe the problem
**Expected behavior**
mlflow.log_params() can log empty strings.

**Actual behavior**
mlflow.lo

[2022-08-02 12:32] machielg commented on #6335
Being able to define the entire ML project into a R&D friendly, declarative and portable format is a huge step forward for the ML/Spark community!

[2022-08-02 17:17] nfarley-soaren commented on #6181
I know this is a little different from the current issue but stumbled across it in my current search for answers and it seems to have some relevance so I figured I'd ask.   I'm using a similar set up with a remote AWS server as host.  I've tried specifying either and both `--artifacts-destination` and `--default-artifact-root` along with `--serve-artifacts` and got identical results.  Everything e

[2022-08-02 17:24] thiagogualberto opened #6387 "I make a request to the databricks api, but I don't have the schema return of the model signature."
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.26.0

### System information

- Fedora 3.38.5
- Python 3.8.10

### Describe the problem

As can be seen in the implementation (View **Code to reproduce issue**), I did the insertion of signatures in my model. Also, I deployed it to MLflow (The images below confirm this).
![image](https://user-imag

[2022-08-02 18:30] #5839 closed

[2022-08-02 18:31] dbczumar commented on #6384
Hi @Davidswinkels. This has been fixed via https://github.com/mlflow/mlflow/pull/6179, which has been merged into the master branch of MLflow. You can install it via `pip install git+https://github.com/mlflow/mlflow`. This fix will be included in the MLflow 1.28.0 release, which we hope to provide within the next 2 weeks. Apologies for the regression here, and thank you for using MLflow!

[2022-08-02 18:31] #6384 closed

[2022-08-03 08:37] #6339 closed

[2022-08-03 15:50] jinzhang21 commented on #6204
Added a functionality to read a dictionary or a value from an external JSON file.

[2022-08-03 15:50] #6204 closed

[2022-08-03 16:29] nfarley-soaren opened #6394 "[FR] Specify artifact_location when running ml"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

I am currently using S3 for remote artifact logging and would like to be able to specify the name of the artifact location when running an mlflow project.  Right now the location defaults the a directory named by the experiment_id.  Outside of an mlflow project it's easy to do this when creatin

[2022-08-03 23:46] dbczumar commented on #6383
Hi @khojarohan4. Thank you for your feature request; this sounds like a good idea. I think that adding a `metrics` configuration key to the `evaluator_config` dictionary for the default evaluator whose value is a list of metrics to compute seems like a good way to approach it, and we would be excited to review a pull request that implements this approach. Please let me know if you have any questio

[2022-08-03 23:52] dbczumar commented on #6387
Hi @thiagogualberto. Unfortunately, the MLflow Model Registry does not currently provide an API for returning model schema information. The model schema is read directly from the `MLmodel` file associated with the model. Because the UI appears to display the schema, you can be confident that the schema is associated with your model. If you have a use case that requires programmatically querying sc

[2022-08-04 00:13] mlflow-automation commented on #6348
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-08-04 07:55] #6128 closed

[2022-08-04 08:26] LukasLohm opened #6401 "[BUG]"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MS Azure on Databricks
- **Python version**:3.7.5
- **yarn version, if running the dev UI**:

### Describe the problem

I want to register my pyfunc model (XGb + Data Preprocessing) and get an error while

[2022-08-04 11:46] OSobky commented on #6201
I was trying out MLflow pipelines yesterday and I faced the same problem. I see @dbczumar already merged a PR to solve this problem. Maybe also consider adding this note in the [Regression Template](https://github.com/mlflow/mlp-regression-template#installation-instructions) so it is clear everywhere.

[2022-08-04 12:24] manishpyy commented on #5722
Hi @santiagxf, when I'm trying to use the azureml mlflow as in the following code snippet:

mlflow.set_tracking_uri(azureml_mlflow_uri.replace('https', 'azureml'))
exp = mlflow.set_experiment(exp_name)

I'm getting an interactive authentication on browser. I have even passed the 'MLFLOW_TRACKING_URI' and MLFLOW_TRACKING_TOKEN to the environment variables.

Is there any way to not have the interact

[2022-08-04 13:26] OSobky opened #6404 "[BUG] MLflow Pipelines fails if space found in the repository Path (make: *** No rule to make target)"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 11
- **Python version**: 3.7.13
- **yarn version, if running the dev UI**:

### Describe the problem

I was following the instruction on the [Regre

[2022-08-04 13:55] ahlag commented on #6379
@harupy
Can I try?

[2022-08-04 13:56] harupy commented on #6379
@ahlag Absolutely!

[2022-08-04 14:06] santiagxf commented on #6109
Hi @franperezlopez. The open-source version of MLflow supports R for model registration so you should be able to use it without any problem.

[2022-08-04 14:30] santiagxf commented on #5722
Hi @manishpyy, the Azure ML plugin for MLflow tries different authentication methods in a sequence-base until one that works successfully is identified. For that, it uses the package `azure-identity`. [In the description of the package's documentation](https://pypi.org/project/azure-identity/) you will find the order in which different methods are tried out. `MLFLOW_TRACKING_TOKEN` is used to stor

[2022-08-04 14:30] ahlag commented on #6379
@harupy
Could you assign me?

[2022-08-04 15:32] harupy commented on #6379
@ahlag Assigned:)

[2022-08-05 00:00] dbczumar commented on #6394
Hi @nfarley-soaren, thank you for raising this feature request. Currently, we recommend passing the `experiment_id` or `experiment_name` argument to `mlflow.run()` in order to specify the Experiment to which to log MLflow Project Runs. The Experiment determines the artifact location. To use a different artifact location, create a new experiment and specify the `artifact_location` parameter to `mlf

[2022-08-05 00:00] #6394 closed

[2022-08-05 00:05] dbczumar commented on #6401
Hi @LukasLohm, the issue appears to be that your model environment does not specify the `xgboost` dependency. This is happening because the `conda_env` that you're passing to `mlflow.pyfunc.log_model()` does not contain `xgboost`. I recommend removing `conda_env` when calling `mlflow.pyfunc.log_model()`; MLflow will automatically infer which dependencies are necessary for the model to run and will

[2022-08-05 00:05] #6401 closed

[2022-08-05 00:13] dbczumar commented on #6404
@OSobky Thank you for your report. Can you confirm that the pipeline runs properly after renaming the directory so that it no longer includes a space? I'd like to make sure that the space is the root cause :)

[2022-08-05 07:16] WeichenXu123 opened #6410 "[FR] Support Mlflow client search API filter in programming way"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Example:

`run_id in a_list and tag.xx == yy`, the run_id / tag is a pre-defined object in python, and a_list is a python list object, and we can override eq / in / AND operator in python.

Pros:
* We can directly use python object in the filter as the v

[2022-08-05 08:47] WeichenXu123 commented on #6180
@MinuraPunchihewa
We have added tag based searching for model versions. See this PR: https://github.com/mlflow/mlflow/pull/6320

You use the feature in next mlflow release or you can install mlflow master version by `pip install git+https://github.com/mlflow/mlflow.git`

[2022-08-05 10:15] #6183 closed

[2022-08-05 14:33] amesar opened #6414 "[FR] For MlflowClient.transition_model_version_stage() change default value of argument archive_existing_versions to True to be consistent with MLflow UI semantics"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

 For `MlflowClient.transition_model_version_stage()` change the default value of`archive_existing_versions` to True in order make API model stage transition semantics consistent with those of the MLflow UI.

### Motivation

Make API semantics consistent

[2022-08-06 00:13] mlflow-automation commented on #6369
@dbczumar Please triage this issue.

[2022-08-06 07:15] OSobky commented on #6404
@dbczumar yes, I confirm I was able to run the pipeline after renaming the directory name :)

[2022-08-07 11:59] #6095 closed

[2022-08-08 02:26] dbczumar commented on #6414
@amesar Thank you for your feature request. Can you file a PR against `branch-2.0` for this change? Because it's backwards-incompatible, we can only include it in the 2.0 release.

[2022-08-08 02:27] dbczumar commented on #6404
Awesome, thanks @OSobky. We're investigating :)

[2022-08-08 06:33] LukasLohm commented on #6401
thank you @dbczumar ! :)

[2022-08-08 06:41] LukasLohm opened #6421 "[BUG]"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Python version**:
- **yarn version, if running the dev UI**:

### Describe the problem

![image](https://user-images.githubusercontent.com/85754921/183354845-7bb10c0c-209f-4255-8e14-e77f5c214a08.png)

[2022-08-08 07:57] MinuraPunchihewa commented on #6180
@WeichenXu123 Thanks for the info. Much appreciated.

[2022-08-08 19:15] ealizadeh-via commented on #870
@dbczumar @Zangr
I have the same problem with the latest MLflow (**v1.27.0**).
My system is  **macOS Monterey (version 12.4) - Apple M1, 2020** and **Python version= 3.8.13**.

![Screen Shot 2022-08-08 at 12 20 36 PM](https://user-images.githubusercontent.com/84460342/183495947-921f9c4a-a8e4-43b8-abd5-ab4b92fc691f.png)

[2022-08-08 19:58] dbczumar commented on #6421
@ankit-db @arjundc-db @tomasatdatabricks Can you take a look?

[2022-08-08 20:40] dbczumar commented on #870
@ealizadeh-via Apologies, looks like https://github.com/mlflow/mlflow/pull/883 was never merged. It's unclear whether or not this feature ever existed. Reopening. We'll work on an implementation :).

[2022-08-08 23:01] sberryman commented on #6335
I'm looking forward to the classification pipeline. I don't have a project for the regression side at the moment. I would be happy to share feedback on the classification pipeline when that is available.

[2022-08-09 00:55] ealizadeh-via commented on #870
Thanks @dbczumar 🙏 . I thought the feature exists as per your earlier comment on Sep 17, 2021. I'm looking forward to this feature :)

[2022-08-09 07:09] abaveja313 commented on #6410
+1

[2022-08-09 08:58] miriamelia commented on #870
me to, that would really help comparing all childruns, got like 100+ :D

[2022-08-09 14:54] nmaoez commented on #3440
So if I understand it correctly, it is not possible to link auto logging to a specific experiment? Everything that the auto logging feature produces is automatically assigned to the default experiment and I cannot change that?

[2022-08-09 16:58] dbczumar commented on #6404
@OSobky Unfortunately, after significant investigation, it appears that most Make implementations, such as GNU Make (e.g. https://savannah.gnu.org/bugs/?712), do not support file paths with spaces. Because MLflow Pipelines uses Make for execution caching, it is difficult for us to support paths with spaces at this time. I have introduced https://github.com/mlflow/mlflow/pull/6426 to raise a much c

[2022-08-09 17:33] amymsft opened #6427 "[BUG] mlflow models predict SyntaxError on Windows"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.26.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows
- **Python version**: 3.9.10
- **yarn version, if running the dev UI**:

### Describe the problem

`mlflow models predict` hits a `SyntaxError: EOL while scanning string literal` in Windows using A

[2022-08-09 17:42] dbczumar commented on #6334
Addressed via https://github.com/mlflow/mlflow/pull/6355. Thanks @abbas123456 !

[2022-08-09 17:42] #6334 closed

[2022-08-09 17:43] dbczumar commented on #6360
Addressed via https://github.com/mlflow/mlflow/pull/6361/. Thanks @RynoXLI !

[2022-08-09 17:43] #6360 closed

[2022-08-09 17:47] dbczumar commented on #6079
As investigated by @WeichenXu123 , model schemas already solve this problem. See https://github.com/mlflow/mlflow/blob/63af13c2168aeb55ccac12d60981ad48a6ac4513/mlflow/pyfunc/__init__.py#L651 / https://github.com/mlflow/mlflow/blob/63af13c2168aeb55ccac12d60981ad48a6ac4513/mlflow/pyfunc/__init__.py#L488-L491

[2022-08-09 17:47] #6079 closed

[2022-08-09 17:49] dbczumar commented on #6078
This has been addressed by @harupy via https://github.com/mlflow/mlflow/pull/6302. https://github.com/mlflow/mlflow/issues/6084 remains open for docker layer customization. Thanks @harupy !

[2022-08-09 17:49] #6078 closed

[2022-08-09 17:50] dbczumar commented on #6094
Hey @rafaelvp-db , apologies for the delay here. Are you still interested in helping with this?

[2022-08-09 17:52] dbczumar commented on #6383
Hi @khojarohan4 , just following up here - are you still interested in contributing this feature?

[2022-08-09 17:54] dbczumar commented on #6102
Hi @lakshikaparihar, are you still working on this item? If not, @AMMAR-62 , are you interested in contributing it?

[2022-08-09 18:13] dbczumar opened #6428 "[FR] Add APIs for loading text, JSON, and images to mlflow.artifacts"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this featu

[2022-08-09 18:28] dbczumar commented on #6195
Hi @mrhimanshu, are you still interested in working on this item?

[2022-08-09 18:29] dbczumar commented on #6105
Addressed via https://github.com/mlflow/mlflow/pull/6106. Thanks @balvisio !

[2022-08-09 18:29] #6105 closed

[2022-08-09 18:31] dbczumar commented on #5931
@harupy Any updates on https://github.com/mlflow/mlflow/issues/5948?

[2022-08-09 18:37] dbczumar commented on #5295
Addressed via https://github.com/mlflow/mlflow/pull/6320. Thank you for using MLflow!

[2022-08-09 18:37] #5295 closed

[2022-08-09 18:40] dbczumar commented on #5076
https://github.com/mlflow/mlflow/issues/6183 has been addressed. The limit is now >= 500 bytes across all storage backends. Thank you for using MLflow!

[2022-08-09 18:40] #5076 closed

[2022-08-09 18:42] dbczumar commented on #4897
Closing now that https://github.com/mlflow/mlflow/pull/5003 has been merged. Thanks @abatomunkuev !

[2022-08-09 18:50] dbczumar commented on #4411
This issue has been resolved in recent releases of MLflow. Thank you for using MLflow!

[2022-08-09 18:50] #4411 closed

[2022-08-09 18:55] dbczumar commented on #4246
Virtualenv support has been added to MLflow Projects. You can try it out in MLflow 1.27.0. Thank you for using MLflow!

[2022-08-09 18:55] #4246 closed

[2022-08-09 18:56] dbczumar commented on #4165
These APIs are deprecated and will be removed in MLflow 2.0.

[2022-08-09 18:56] #4165 closed

[2022-08-09 18:57] #4073 closed

[2022-08-09 18:57] dbczumar commented on #4073
A refresh button has been added. Thank you for using MLflow!

[2022-08-09 18:59] dbczumar commented on #4055
This has been addressed via https://github.com/mlflow/mlflow/pull/4069. Thank you for your contribution!

[2022-08-09 18:59] #4055 closed

[2022-08-09 19:01] dbczumar commented on #3956
Proxied artifact storage has been introduced to `mlflow server`. Documentation is available at https://mlflow.org/docs/latest/tracking.html#using-the-tracking-server-for-proxied-artifact-access. Thank you for using MLflow!

[2022-08-09 19:01] #3956 closed

[2022-08-09 19:02] ikrizanic commented on #6102
@dbczumar If @lakshikaparihar or @AMMAR-62 won't be able to do it at the moment, I would be happy to contribute

[2022-08-09 19:08] #3744 closed

[2022-08-09 19:09] dbczumar commented on #3733
Experiments are now paginated :)

[2022-08-09 19:09] #3733 closed

[2022-08-09 19:11] dbczumar commented on #3689
Support for this has been included in recent versions of MLflow, e.g. MLflow 1.27.0. The documentation is available here: https://mlflow.org/docs/latest/tracking.html#using-the-tracking-server-for-proxied-artifact-access. Thank you for using MLflow!

[2022-08-09 19:11] #3689 closed

[2022-08-09 19:12] #3578 closed

[2022-08-09 19:12] #3579 closed

[2022-08-09 19:13] dbczumar commented on #3432
This has been addressed in MLflow 1.27.0. Thank you for using MLflow!

[2022-08-09 19:13] #3432 closed

[2022-08-09 19:16] #3159 closed

[2022-08-09 19:21] dbczumar commented on #6102
@ikrizanic Sounds good! I will assign you to the issue :). @AMMAR-62 @lakshikaparihar , feel free to collaborate with @ikrizanic.

[2022-08-09 19:42] PhilipMay commented on #3689
Thanks for letting me know @dbczumar ! I will test this.

[2022-08-09 19:46] PhilipMay commented on #5332
@harupy it is nothing - just a fresh install of a "naked" MLflow without any usage or data.
See here:

![image](https://user-images.githubusercontent.com/229382/183747692-3ffb52d8-bfcf-485e-bf1f-fd34e5cb6964.png)

[2022-08-09 19:47] PhilipMay commented on #3693
Hello? Any news about this?

[2022-08-09 19:48] PhilipMay commented on #3694
Hello? Any news about this?

[2022-08-09 20:01] rwoodard-prog commented on #2407
One minor tweak to that most excellent answer:

It should be `mlflow server` (at least with `mlflow, version 1.27.0`).

[2022-08-09 20:22] dbczumar opened #6431 "MLflow Roadmap: Request for contributions"
MLflow recently launched its latest public roadmap, which you can find here: https://github.com/mlflow/mlflow/milestone/3. We would really like help from the community with completing these roadmap items, many of which are very friendly for new contributors. To begin working on an item, simply comment on the associated GitHub issue. Please let me know if you have any questions; we are happy to hel

[2022-08-09 20:26] dbczumar opened #6432 "Contribute your first feature or improvement!"
We are excited to help you make your first code contribution to MLflow! Many of the open issues on the MLflow repository are very friendly for newcomers and are labeled with `good-first-issue`; you can find these issues here: https://github.com/mlflow/mlflow/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22. To begin working on an item, simply comment on the associated GitHub issue and

[2022-08-09 22:11] ghwatson commented on #2016
+1 would like to see this fixed. I have some permission issues with .git files causing permission issues when mlflow creates the docker image. Would have been nice if could have used dockerignore to get around this.

[2022-08-10 04:49] dbczumar commented on #6404
Closing now that https://github.com/mlflow/mlflow/pull/6426 has been merged :)

[2022-08-10 04:49] #6404 closed

[2022-08-10 07:43] Euraxluo commented on #3583
Is it fixed?
I also have this problem in the 1.27.0 version

[2022-08-10 08:24] Euraxluo opened #6434 "[BUG]Blocked a frame with origin "http://127.0.0.1:5000" from accessing a cross-origin frame."
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: windows
- **Python version**: python3.9
- **yarn version, if running the dev UI**:

### Describe the problem

AppErrorBoundary.js:19 DOMException: Blocked

[2022-08-10 10:08] WeichenXu123 commented on #3694
I think this is a good proposal. We can add a param `delete_child_runs`, to keep backwards compatibilty, set the param to be false by default.
Anyone is interested in contributing this feature ? :)

[2022-08-10 10:50] khojarohan4 commented on #6383
Hi @dbczumar , Apologies I havent had a chance to even look at the codebase yet. I'm really willing to and just been on a tight deadline. If its urgent, I would take a step back. Also, I havent contributed anytime so if you have any doc for the process or any reference, I can atleast take a stab but this isnt likely soon. Let me know.

[2022-08-10 15:56] khojarohan4 commented on #5815
@dbczumar This is still being observed. Do you know if this will be fixed anytime soon? I could try to log artifacts seperately  related to shap along with mlflow.evaluate having {"log_model_explainability": False}. Would this be the right approach as a quick handle of the problem?

[2022-08-10 18:38] dbczumar commented on #6434
Hi @Euraxluo, cross-origin iframe embedding isn't supported; see https://stackoverflow.com/questions/25098021/securityerror-blocked-a-frame-with-origin-from-accessing-a-cross-origin-frame. Can you try changing the port to `3000` from `5000`?

[2022-08-10 18:47] dbczumar commented on #6427
@amymsft I'm unfortunately unable to reproduce the issue locally. If possible, do you have any additional information about the file in which this syntax error occurs?

[2022-08-10 19:11] amesar opened #6436 "[FR] Implement MlflowClient.search_experiments"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Add MlflowClient.search_experiments() analogous to  search_runs, search_registered_models and search_model_versions.

### Motivation

Server-side searching for experiments.

Scalable server-side filtering.

Now you have to fetch all experiments on the cl

[2022-08-10 19:28] dbczumar commented on #6436
@amesar This has already been implemented and will be included in the MLflow 1.28 release.

[2022-08-10 19:28] #6436 closed

[2022-08-10 23:35] ahlag commented on #6379
Hi @harupy

Done! By the way, how will the migrated environment variables be tested?

[2022-08-11 00:14] mlflow-automation commented on #6261
@nlgranger Any updates here? If you're working on a PR, please link it to this issue.

[2022-08-11 00:23] nnethery opened #6439 "[FR] Format CSV output as a table in ArtifactViewer"
### Willingness to contribute

Yes. I can contribute this feature independently.

### Proposal Summary

If a logged artifact is a CSV file, we try parsing the file and laying out a slice of the data in an embedded table in the artifact viewer.

### Motivation

To have a more aesthetically pleasing experience viewing tabular data in MLflow

As users rely more on the artifact viewer as a part of the

[2022-08-11 01:21] amesar commented on #6436
Awesome, will help customer to export subset of 7000 experiments

[2022-08-11 01:40] amesar opened #6441 "[DOC-FIX] Fix documentation bug for MlflowClient.search_runs()"
### Willingness to contribute

No. I cannot contribute a documentation fix at this time.

### URL(s) with the issue

https://mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.search_runs

### Description of proposal (what needs changing)

Is now: Search experiments that fit the search criteria.

Shoud be: Search runs in the specified experiment IDs that fit the se

[2022-08-11 02:39] amesar opened #6444 "[DOC-FIX] Document MLflow experiment delete semantics"
### Willingness to contribute

No. I cannot contribute a documentation fix at this time.

### URL(s) with the issue

https://mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.delete_experiment
https://mlflow.org/docs/latest/rest-api.html#delete-experiment

### Description of proposal (what needs changing)

Apparently when you delete an experiment it is not permane

[2022-08-11 02:40] subramaniam02 commented on #6428
@dbczumar I would like to work on this :) Please assign it to me.

[2022-08-11 03:09] amesar opened #6445 "[BUG] Implement permanent delete of experiment"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.27.0

### System information

- **OSS MLflow**:
- **Python version: python >- 3.7.6**:

### Describe the problem

### Problem

When you delete an experiment in OSS MLflow you cannot then recreate the experiment.  Instead it is "tombstoned" and marked as "deleted" in the "lifecycle_stage" column in

[2022-08-11 04:33] nnethery opened #6446 "[FR] Show waveform for audio files in the ArtifactViewer"
### Willingness to contribute

Yes. I can contribute this feature independently.

### Proposal Summary

For browser playback-supported audio files that are logged as artifacts, the MLflow ArtifactViewer should display a way to playback the audio file accompanied with a waveform visualized.

### Motivation

Researchers in things like text to speech or music information retrieval can quickly debug i

[2022-08-11 04:48] WeichenXu123 commented on #5815
You can also try seting `explainability_algorithm` to be `kernel`. The default shap tree explainer might be buggy.

[2022-08-11 12:40] Andref-cOliveira commented on #6387
Hi @dbczumar, I'm a coworker from @thiagogualberto. In our case, we want to use model signatures to map the return of our model's api to an object in Java. We are using the MLflow with databricks, and using our model register to identifie on Java with models are in production, and then call the model's apis based on names of models. We replicate the registered models to our MongoDB, with all versi

[2022-08-11 16:02] EPond89 opened #6450 "[BUG] Cannot load/serve spark model with custom transformer"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.0 (also in 1.26.1)

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04.4 LTS ([Databricks 11.1 ML Runtime](https://docs.databricks.com/release-notes/runtime/11.1ml.html))
- **Python version**: 3.9

[2022-08-11 16:09] johnyNJ opened #6451 "[BUG] When serving predictions from a spark model, column "prediction" is expected"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution**: MacOS 12.1
- **Python version**: 3.7.12

### Describe the problem

Implementation of `predict` for spark flavour in `mlflow.spark` expects column `prediction` to be present in datafr

[2022-08-11 21:43] dbczumar commented on #6441
Thanks @amesar ! Filed https://github.com/mlflow/mlflow/pull/6452 to fix.

[2022-08-11 21:44] dbczumar commented on #6445
@amesar Can you convert this to a feature request?

[2022-08-11 21:44] #6445 closed

[2022-08-11 21:47] dbczumar commented on #6451
@tomasatdatabricks @arjundc-db Any opinions here with respect to model inference?

[2022-08-11 21:47] dbczumar commented on #6439
@nnethery This is a great idea! Feel free to file a pull request whenever it's convenient; we're looking forward to your contribution!

cc @xanderwebs @sunishsheth2009

[2022-08-11 21:50] dbczumar commented on #6444
@ninabacc-db Can we add some information to the MLflow docs indicating that deleting an experiment does not permanently delete it; rather, the experiment is soft-deleted?

[2022-08-11 21:52] dbczumar commented on #6450
Hi @EPond89; thank you for filing this issue. I am investigating the problem.

[2022-08-11 21:52] dbczumar commented on #6446
Hi @nnethery, this sounds like a great extension for the artifact viewer. Feel free to file a PR whenever it's convenient, and we'd be very excited to review it.

cc @xanderwebs @sunishsheth2009

[2022-08-11 22:08] jerrylian-db opened #6453 "[FR] Add environment restoration to `mlflow.pyfunc.load_model` via `env_manager` parameter"
### Willingness to contribute

Yes. I can contribute this feature independently.

### Proposal Summary

Currently,`mlflow.pyfunc.spark_udf` accepts an `env_manager` parameter that enables users that loads and scores models in an isolated environment that has their training time dependencies recovered. We would like to introduce this parameter / feature to the `mlflow.pync.load_model` model flavor.

[2022-08-11 22:15] smurching commented on #6453
@jerrylian-db thanks for the writeup, this looks reasonable! A few minor questions:

1. I'm assuming the call to `load_model` would restore the model environment if a non-local `env_manager` is specified so that subsequent calls to `predict` can use the already-created env (not sure if there are thread-safety issues with trying to create a virtualenv in parallel if people call `predict` in a multi

[2022-08-11 22:34] poppeGabrielsen commented on #6042
I experience more or less the same error, but only when trying to log a model using service principal, and not with user. SP is an appregistration and has the role "AzureML Data Scientist" on the aml workspace. Loggin metrics with SP will not produce errors, but logging model will. Have tested with mlflow 1.27.0 and 1.28.0. Is this expected behaviour or bug?

Error:
[code]

This code will generate

[2022-08-12 01:54] Euraxluo commented on #4400
**
![image](https://user-images.githubusercontent.com/34028978/184270711-17d2fd0f-9367-49b4-a582-f05e10917b87.png)
**

[2022-08-12 01:54] Euraxluo commented on #4400
![image](https://user-images.githubusercontent.com/34028978/184270752-e451f1a6-37e3-4abb-8377-82d784e6b195.png)

[2022-08-12 01:55] Euraxluo commented on #4400
I have the same problem, can you help me

[2022-08-12 02:01] Euraxluo commented on #4400
![image](https://user-images.githubusercontent.com/34028978/184271313-986c4c0b-e05c-42ed-94b9-fb5e766f0cc6.png)

[2022-08-12 02:03] Euraxluo commented on #4400
![image](https://user-images.githubusercontent.com/34028978/184271544-898bfb6e-fe43-464b-93c3-354f6c7c47b9.png)

[2022-08-12 02:04] Euraxluo commented on #4400
![image](https://user-images.githubusercontent.com/34028978/184271638-ddfa4f18-fa0c-4a08-bf38-8a37eb799c94.png)

[2022-08-12 02:29] Euraxluo commented on #4400
how to fix

[2022-08-12 06:27] Euraxluo commented on #6434
i use K8S ingress  Solved cross -domain problems

[2022-08-12 06:27] #6434 closed

[2022-08-12 06:27] dhirajsuvarna commented on #5034
+1 Can this issue be solved in `mlflow` ?

[2022-08-12 06:40] #6441 closed

[2022-08-12 06:42] dbczumar commented on #6453
Regarding (3), I don't think there's a cost savings by excluding `conda`; it's just a matter of which environment manager string is passed to the MLflow Model Server startup script :)

[2022-08-12 06:44] dbczumar commented on #6428
@subramaniam02 Fantastic! I've assigned this to you. Looking forward to your pull request! Let me know if you have any questions.

[2022-08-12 07:34] RMeli commented on #4400
@Euraxluo IIRC, I just manually changed the variable to point to the correct location.

[2022-08-12 08:10] attilaszuts commented on #1870
This has been fixed in https://github.com/mlflow/mlflow/pull/6358 and can be closed.
[code]

[2022-08-12 08:55] AL1071157 commented on #4595
Hello Everybody, thanks for raising this important issue. Is there any update on this request?

[2022-08-12 10:48] Nikhil-Mudgal commented on #6195
Hi @dbczumar , Can i take up this issue, I am new to open source contributing and I think this might be a good issue to start with.

[2022-08-12 12:50] WeichenXu123 commented on #6092
@serena-ruan volunteers to do this task, assign it to her. :)

[2022-08-12 12:50] WeichenXu123 commented on #4408
@serena-ruan volunteers to do this task, assign it to her. :)

[2022-08-12 13:24] khojarohan4 commented on #5815
This worked @WeichenXu123 . Tried using kernel,permutation and partition.

[2022-08-12 13:30] WeichenXu123 commented on #5815
@khojarohan4
For the shap tree explainer, you can file ticket in shap repo, I think it is shap bug. :)

[2022-08-12 13:34] khojarohan4 commented on #5815
@WeichenXu123 I will file one

[2022-08-12 13:35] WeichenXu123 commented on #6453
yes I agree, for (3), there should be very few extra work.

[2022-08-12 13:38] WeichenXu123 commented on #6453
One issue which made us don't add the feature before is:

We can consider creating a new API (accepts restricted input data type) to support this env_manager.

[2022-08-12 17:07] jerrylian-db commented on #6453
@smurching I've updated the issue description to address your questions. On running `predict` in multithreaded contexts, I'm thinking that during implementation we could write some tests for this to see what issues arise and resolve them.

[2022-08-12 17:26] smurching commented on #6453
@jerrylian-db the updated description LGTM, IMO we can punt any multithreading considerations to the future (if the need arises we can do work to make env restoration thread-safe), no need to write tests for it upfront during implementation.

[2022-08-12 20:10] dbczumar commented on #6178
@nfarley-soaren Your proposal sounds great. If you're still interested in contributing this feature, we'd be happy to review a pull request that extends the `mlflow.sagemaker` module with the custom model naming capability. Please let me know if you have any questions!

[2022-08-12 20:13] dbczumar commented on #6092
Thanks @serena-ruan, looking forward to your contribution!

[2022-08-12 20:14] #6068 closed

[2022-08-12 20:14] dbczumar commented on #6068
Thanks @subramaniam02 !

[2022-08-12 20:15] #6028 closed

[2022-08-12 20:17] #5922 closed

[2022-08-12 20:18] #5899 closed

[2022-08-12 20:19] dbczumar commented on #5894
As indicated by @adamreeve , this has been resolved in recent versions of MLflow. Thank you for using MLflow!

[2022-08-12 20:19] #5894 closed

[2022-08-12 20:24] dbczumar commented on #5738
@WeichenXu123 @harupy @ntakouris Are there any recent updates here?

[2022-08-12 20:25] dbczumar commented on #5706
Hi @rafa-am, any updates here?

[2022-08-12 20:26] #5658 closed

[2022-08-12 20:27] dbczumar commented on #5641
Hi folks, I'm going to go ahead and close this issue because it does not seem to stem from MLflow code. Feel free to reopen it or post on the MLflow community Slack if the issue can, in fact, be traced to MLflow code.

[2022-08-12 20:27] #5641 closed

[2022-08-12 20:28] #5620 closed

[2022-08-12 20:30] dbczumar commented on #5612
@efagerberg Apologies for the delay, and thank you for this feature request. We are currently working on solutions to serve containerized models and expose corresponding inference APIs within a single Python process.

[2022-08-12 20:31] dbczumar commented on #5607
As discussed on the thread, we would very much appreciate a contribution that expands the artifact viewer height for non-image artifacts exceeding 500px in height

[2022-08-12 20:33] dbczumar commented on #5583
@BenWilson2 @harupy Any updates here?

I've added the `help wanted ` label, as it would be very helpful to get community assistance root causing and fixing this issue. Thank you!

[2022-08-12 20:33] dbczumar commented on #5544
Closing this issue out now that https://github.com/mlflow/mlflow/pull/5610 has been merged. Thanks @matthewmayo !

[2022-08-12 20:33] #5544 closed

[2022-08-12 20:36] jeinstei commented on #5641
Will do -- I'll see if it comes up again once we spin up again

[2022-08-12 20:49] efagerberg commented on #5612
Great to hear, thanks.

[2022-08-12 21:28] DougTrajano commented on #5583
Hi folks!

In my case, the host (App Runner) was using a VPC that doesn't have a VPC Endpoint configured to Amazon S3. I added it and the issue was fixed.

[2022-08-13 00:14] mlflow-automation commented on #6410
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-08-13 17:42] cnphil commented on #3122
Working on a PR for this...

[2022-08-13 21:55] subramaniam02 commented on #6084
@BenWilson2 @dbczumar What is the scope of this feature request ? Currently ubuntu is the only OS flavor supported, do we want to support more flavors than ubuntu ? if yes, what is the plan to handle different package installer i.e, yum, apt-get, etc ?

[code]

[2022-08-14 17:45] amesar opened #6458 "[DOC-FIX] Implement HTTP 301 redirect for MLflow 1.28.0 change of mlflow.tracking.MlflowClient to mlflow.client.MlflowClient to preserve existing documentation hyperlinks"
### Willingness to contribute

No. I cannot contribute a documentation fix at this time.

### URL(s) with the issue

https://mlflow.org/docs/latest/python_api/mlflow.client.html

### Description of proposal (what needs changing)

For example, the link https://mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.get_latest_versions returns an HTTP 403 (not 404) status

[2022-08-15 04:00] WeichenXu123 commented on #6458
CC @dbczumar I think this is by design. We export `MlflowClient` to `mlflow` module now.

[2022-08-15 04:03] harupy commented on #6458
@WeichenXu123 The issue is https://mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.get_latest_versions used to be available but not it's not because we changed the module structure.

[2022-08-15 04:12] WeichenXu123 commented on #6458
@amesar As a workaround, you can go to this link to see 1.27 version document. https://mlflow.org/docs/1.27.0/python_api/mlflow.tracking.html

[2022-08-15 04:13] WeichenXu123 commented on #6458
We can try this sphinx plugin https://documatt.gitlab.io/sphinx-reredirects/usage.html to add redirecting instructions.

[2022-08-15 05:11] amesar commented on #6458
@WeichenXu123 But that still requires me (and all others) to edit every document or web page and make change. Why can't our webserver do  a 301 redirect? Pretty standard procedure to prevent broken links. ;)

[2022-08-15 05:21] amesar commented on #6458
The old `mlflow.tracking.html.MlflowClient` works in Python code, so should the links too. From a doc perspective, this is a breaking change.

[2022-08-15 05:47] harupy commented on #6458
mlflow.org is hosted on S3. To redirect https://mlflow.org/docs/latest/python_api/mlflow.client.html to https://mlflow.org/docs/latest/python_api/mlflow.tracking.html, we can apply https://docs.aws.amazon.com/AmazonS3/latest/userguide/how-to-page-redirect.html#redirect-requests-object-metadata, but this requires both `mlflow.client.html` and `mlflow.tracking.html` exist.

[2022-08-15 06:13] dbczumar commented on #6458
Breaking changes in docs are permissible. The issue here is that our Algolia index of pages appears not to have been updated; the root cause is unclear. Updating the index so that searches for MlflowClient yield results in the mlflow.client module is the correct solution. I'm looking into it but would appreciate help from others on this thread as well.

[2022-08-15 07:36] harupy commented on #6458
@dbczumar I'm not sure if this config file is still valid: https://github.com/algolia/docsearch-configs/blob/master/deployed-configs/m/mlflow.js, but the crawler for `mlflow` is scheduled to run at `at 10:20 on Thursday`. If we updated the docs after 10:20 last Friday, we'll need to wait a few more days.

[2022-08-15 08:06] harupy commented on #6458
`mlflow.pipelines` (added in 1.27.0) matches nothing. I think something is wrong with the crawler.

<img width="677" alt="image" src="https://user-images.githubusercontent.com/17039389/184598407-aca8aaa2-f956-4b6b-931d-b9955987b6a6.png">

[2022-08-15 08:37] Andrew-Crosby opened #6462 "[FR] Implement `last_update_time` and `creation_time` for experiments"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Documentation for mlflow experiments returned via the REST API refers to `last_update_time` and `creation_time` fields https://www.mlflow.org/docs/latest/rest-api.html#mlflowexperiment, but these values are never returned in the response.

Under the hood, these fields appear to be missing from

[2022-08-15 12:57] WeichenXu123 commented on #5738
@ntakouris Do you have PR created ? If you are busy I can take over this .

[2022-08-15 13:09] ntakouris commented on #5738
@WeichenXu123 Please feel free to take over.

[2022-08-15 14:32] serena-ruan commented on #6092
@dbczumar May I ask a few questions to clarify the problem a bit?
From the initial issue and description, I feel like that we can directly wrap over mlflow.pyfunc's methods into the utility function to make validation of data schemas work for all flavors, and `predict` just comes for free. The only difference is that _enforce_schema has certain limits on the data type, and prediction results may f

[2022-08-15 18:35] shahasim opened #6471 "[SETUP-BUG] ValueError: Anonymous credentials cannot be refreshed"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux version 5.15.58-flatcar (build@pony-truck.infra.kinvolk.io) (x86_64-cros-linux-gnu-gcc (Gentoo Hardened 10.3.0-r2 p3) 10.3.0
- **MLflow installed from (source or binary)**: source, installed using `pip install mlflow[extras]==1.27.0` in docker container
- **MLflow version (run ``mlflow --version``)**: mlfl

[2022-08-16 00:00] harupy commented on #6471
@shahasim Can you share the full stacktrace?

[2022-08-16 00:16] mlflow-automation commented on #6421
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-08-16 00:49] harupy commented on #6462
@Andrew-Crosby Thanks for the FR! Adding `last_update_time` and `creation_time` makes sense and can enhance experiment search. I added the help-wanted label to ask for help from the community.

[2022-08-16 01:29] cfregly commented on #6434
@Euraxluo Can you share how you solved the cross-domain problem in this case, specifically?

[2022-08-16 03:46] loredp opened #6477 "[BUG]mlflow model use more memory and can't release the used memmory"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.23.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Python version**:3.6.5
- **yarn version, if running the dev UI**:

### Describe the problem

when i load a model with a version, but how can i release the model used memory? just reboot the container?

[2022-08-16 04:10] harupy commented on #6477
@loredp Can you provide the runnable code (that can be copy-and-pasted in a python terminal to reproduce the error)? What are the expected and actual behaviors?

[2022-08-16 04:16] amesar opened #6479 "[FR] Implement OR operator for search methods"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

OR is a standard search operator that is needed for efficient searches for a list of objects. We need the filtering to be done on the server side, not the client side since it wouldn't scale in the latter.

For example, "name = 'sklearn_wine' OR name = '

[2022-08-16 04:20] loredp commented on #6477
[code]
i just want to release the memory used by dict. i cache the model in the dict by model name and version, when i clear the dict and gc.collect is not avaliable.
out put is :
model cache 0.7110894521077474
model clear
model cache 0.7111040751139323

clear is not work!!!

[2022-08-16 04:20] harupy commented on #6479
Duplicate of https://github.com/mlflow/mlflow/issues/6075

[2022-08-16 04:28] harupy commented on #6477
See https://stackoverflow.com/questions/10446839/does-dictionarys-clear-method-delete-all-the-item-related-objects-from-memory

[2022-08-16 05:31] loredp commented on #6477
Thank you! But in my code, we have not more reference just dict,  the method clear() means remove the only reference to the model instance.  So the fact is when the dict clear and model cache is not release.
In my scene, we use the model instance frequently, so i need to cache the instance to be used in the next request. if i don't cache it, any good idea to suggest?

[2022-08-16 05:59] harupy commented on #6477
`loaded_model` is referencing to the model.

[2022-08-16 08:09] shahasim commented on #6471
Hey @harupy, as requested

[code]

[2022-08-16 08:41] harupy commented on #6477
Quick test:

[code]

Output:

[code]

[2022-08-16 10:18] harupy commented on #6471
@shahasim Thanks for the stacktrace.

No, it doesn't by default. I think https://www.mlflow.org/docs/latest/tracking.html#scenario-5-mlflow-tracking-server-enabled-with-proxied-artifact-storage-access can help.

Here's an example: https://github.com/mlflow/mlflow/tree/master/examples/mlflow_artifacts

[2022-08-16 11:24] WeichenXu123 commented on #4408
@dbczumar Shall we make `MlflowClient.log_param` return param value as well ?

[2022-08-16 11:29] shahasim commented on #6471
@harupy thank you for the feedback. I'll investigate this options and get back to you.

I am trying to simplify the use of mlflow for my team, so essentially when they add `mlflow.evaluate()` or `mlflow.log_artifact()` to their pipelines they don't have to explicitly define `os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/Users/myname/Documents/json_serv.json'`..

I'll check the scenario 5 and as

[2022-08-16 13:44] teodora-petkova commented on #4411
Hi!

Thank you so much for creating and improving MLflow!

I just wanted to share my experience with that option if it might be of use for someone else. I guess it is an expected behaviour but I did not come to the conclusion fast enough.

Actually, I still had a similar issue with mlflow (mlflow, version 1.28.0) trying to use MLproject by:
`mlflow run . --no-conda ...`
or the newer approach
`mlfl

[2022-08-16 17:09] Nikhil-Mudgal commented on #6195
Thanks @dbczumar. As per the OP's request where he has proposed 2 solutions to the issue. Carrying out the 2nd one will surely be better as we will be giving providing an explicit section for `models:/` URI in the model registry doc page itself and a link to it from Model Tracking page too. Should i go ahead with that? And can you please provide me link on how to setup the required environment for

[2022-08-16 17:16] dbczumar commented on #6195
@Nikhil-Mudgal I agree, the second solution is better. The following section of the contributing guide should help: https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst#writing-docs

[2022-08-16 18:16] dbczumar commented on #6092
Hi @serena-ruan! Thank you for clarifying.

- I think that exposing an `mlflow.models.validate_schema()` method with the same arguments from your `SchemaUtils.validate_schema` method is a great idea.

- Right now, `mlflow.pyfunc.predict()` already performs schema validation, so `model.predict(data)` will already fail if `data` does not match the model's schema. Accordingly, I don't think we need `

[2022-08-16 18:19] dbczumar opened #6485 "[FR] Add Model Registry support to the FileStore"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Add Model Registry support to the MLflow File Store so that users can use the Model Registry with better scale than sqlite without setting up SQL databases.

### Motivation

Enable easier / more scalable Model Registry use than what we currently provide with sqlite.

^

^

FileStore does not cu

[2022-08-16 18:20] dbczumar commented on #6485
@serena-ruan Would you be interested in working on this item?

[2022-08-16 20:47] nfarley-soaren commented on #6178
@dbczumar I have code to submit but I don't have permission to do so.  How do I get that?

[2022-08-16 23:26] harupy commented on #6471
@shahasim When logging artifact, did you create a new experiment?

[2022-08-16 23:32] harupy commented on #6477
@loredp Feel free to reopen the issue if further investigation is needed.

[2022-08-16 23:32] #6477 closed

[2022-08-16 23:32] #6479 closed

[2022-08-17 00:13] mlflow-automation commented on #6431
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-08-17 00:13] mlflow-automation commented on #6432
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-08-17 00:13] mlflow-automation commented on #6428
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-08-17 00:13] mlflow-automation commented on #6427
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-08-17 01:14] loredp commented on #6477
thank for your patience, OK. i checked and tested my code, it mybe not 0 reference  in uvicorn multiprocess framework.
mlflow is a great product,thank you.

[2022-08-17 01:26] tongyliu commented on #5083
Hey @dbczumar and @sebastiaanboer-db, do you have any estimate on when the fix for this will be made? We're running into the same issue at Nextdoor when trying to upload a large (~10gb) model artifact. Let me know if you need any more info.

[2022-08-17 02:52] serena-ruan commented on #6485
@dbczumar Yes this sounds good, could you provide some entry point for me to get started on this task?

[2022-08-17 05:28] serena-ruan commented on #6092
Hi @dbczumar thanks for the clarification!
1. This sounds good, I'll add the method into mlflow/models/model.py, so that users can directly call mlflow.models.validate_schema().
2. I think `mlflow.pyfunc.predict` only does the input data schema check with `_enforce_schema`, it doesn't validate the output schema of predict. As for the third bullet in the above proposal `Perform a prediction of the

[2022-08-17 07:32] Nabil-Ahmed-Sheikh commented on #5637
@hrishekesh were you able to fix the issue?

[2022-08-17 15:49] subramaniam02 commented on #6462
@harupy Willing to contribute :) Thanks !

[2022-08-17 18:21] ACatAC opened #6496 "local mlflow tracking server on windows"
In the past I was able to follow [this guide][1] to setup a local MLFLow tracking server.
Now, I am stuck with a Windows machine and I am clueless on ow to go about doing the same.

Especially on the

thing, as I am able to install MLFlow locally, of course, but every time I need to spin it up. How can I do that on Win?

Any help is welcome!

  [1]: https://towardsdatascience.com/setup-mlflow-in-p

[2022-08-17 23:51] kriscon-db commented on #5199
Hi Matt.  I took a look into this and I don't think your proposed solution will work.  The HTTR POST call documentation here: https://httr.r-lib.org/reference/POST.html, says that the body needs to be a character or raw vector, so the proposed change will break the mlflow_rest function for POST calls.

Additionally, I have tested the code w/in a Databricks R notebook and the model state transition

[2022-08-17 23:58] mrkaye97 commented on #5199
hey @kriscon-db! thanks for circling back to this. we've been through so many versions and changes now that maybe this is fixed, I'm not sure.

Re: proposed solution for the R package, I think it will work :) I think because the `encode = "json"` is set, but I'd encourage you to try it out. I tested and it worked fine.

For reference, here's my implementation of the API call in our lightMLFlow pac

[2022-08-18 00:38] mrkaye97 opened #6498 "[FR]: Github-like CSV Previews in the MLFlow UI"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Throwing an idea out there -- I have no idea how difficult this would be to implement (am certainly not a JS expert and haven't been in the codebase much).

Right now, CSVs are displayed as text flat files in the UI, which are hard to glance at and understand. In Github, there's nicely formatte

[2022-08-18 01:30] harupy commented on #6496
@ACatAC https://www.reddit.com/r/selfhosted/comments/8ijs26/systemdlike_to_create_windows_services_from/ might help.

[2022-08-18 01:34] harupy commented on #6498
@mrkaye97 The proposal makes sense! Added the `help wanted` to find a contributor who would like to implement this :)

[2022-08-18 02:23] kriscon-db commented on #5199
I did try out an implementation but saw that it broke some other tests (mlflow_log_batch specifically).  I think the stage transition test mocks the `mlflow_rest` function which is why making a change at that deep of a level doesn't actually change the behavior of the test.  You can propose a change to mlflow by making a fork of mlflow, and creating a PR that adds the changes you are proposing to

[2022-08-18 02:24] gaogao110 opened #6499 "[BUG] Failed to save the model to the HDFS"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

mlflow, version 1.27.0

### System information

Centos 7.9

### Describe the problem

I set up :
`mlflow server \
   --backend-store-uri mysql://xxxx:.xxxx@hd01:3306/mlflow_test \
   --host 0.0.0.0 -p 5001 \
   --default-artifact-root hdfs://mycluste

[2022-08-18 02:53] Chesh1re opened #6500 "[BUG] mlflow-artifacts path prefix cause error in docker"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.28.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: docker: FROM condaforge/miniforge3
- **Python version**: 3.8.2
- **yarn version, if running the dev UI**:

### Describe the problem

Logging metrics and pa

[2022-08-18 03:51] harupy commented on #6500
@Chesh1re Please provide the code to reproduce the issue.

[2022-08-18 04:22] Chesh1re commented on #6500
Tracking server setup:
mlflow server --host 0.0.0.0 --port 5000 --backend-store-uri sqlite:////app/MLconfigs/mlruns.db --artifacts-destination ./mlruns --serve-artifacts

Logging code:
    def log_artifact(self, artifact_path):
        """ Log artifact for each run.
        """
        self.logger.info('Logging artifact now.')
        self.utils.load_tracking_uri()
        return mlflow.log_artifa

[2022-08-18 04:27] harupy commented on #6500
`mlflow-artifacts:/0/0a808df7ac4f42ecbdd17d0542dd282c/artifacts` is not a file path. `dir_items = os.listdir(best_run.info.artifact_uri)` needs to be fixed. [`mlflow.artifacts.download_artifacts`](https://www.mlflow.org/docs/latest/python_api/mlflow.artifacts.html#mlflow.artifacts.download_artifacts) might help.

[2022-08-18 04:43] Chesh1re commented on #6500
Thank you for the supplement. Yet, I still do not know how to address this problem. Maybe I put it wrong. The problem is that "best_run.info.artifact_uri" return a "./mlflow/0/*" path outside the container, yet return a "mlflow-artifacts:/0/*" inside the container. Also, the "mlflow.log_artifact(local_file_path)" is not working, therefore my "./mlruns/" directory is empty.

And I don't know what c

[2022-08-18 04:47] dbczumar commented on #6092
1. Awesome! :)

2. I don't think we want to validate the output schema of predictions produced by the model, since we can trust that the model produces outputs according to its schema. In contrast, we cannot trust that an arbitrary input complies with the model's schema, which is why a separate utility for validating a dataset against a schema is really helpful.

3. `Model.get_model_info()` requir

[2022-08-18 04:52] dbczumar commented on #6498
@harupy @mrkaye97 Is this equivalent to https://github.com/mlflow/mlflow/issues/6439, which is currently being worked on?

[2022-08-18 05:07] harupy commented on #6498
It is. Let's close this issue.

[2022-08-18 05:09] harupy commented on #6498
Updated https://github.com/mlflow/mlflow/issues/6439 to include Github's CSV viewer as an example.

[2022-08-18 05:09] #6498 closed

[2022-08-18 05:18] #4408 closed

[2022-08-18 05:51] dbczumar opened #6503 "[BUG] mlflow.evaluate() fails for dataframes containing non-string column names"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.28.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS
- **Python version**: 3.8
- **yarn version, if running the dev UI**: NA

### Describe the problem

When passing a Pandas DataFrame dataset to ``mlflow.evaluate()`` that contains non-string column nam

[2022-08-18 06:06] harupy commented on #6500
@Chesh1re Can you share the full code?

[2022-08-18 06:13] harupy commented on #6500
btw if you just want to log artifacts in `mlruns`, you can just run `mlflow server --host 0.0.0.0 --port 5000 --backend-store-uri sqlite:////app/MLconfigs/mlruns.db`.

[2022-08-18 06:16] harupy commented on #4408
As a follow-up, do we need to update `log_params` as well?

[2022-08-18 06:32] Chesh1re commented on #6500
Thank you. I address this issue by adding a no cache tag after the docker build command: " docker build -t test -f Dockerfile . --no-cache".

[2022-08-18 06:32] #6500 closed

[2022-08-18 07:48] harupy commented on #6499
@gaogao110 I found a few related issues:

- https://stackoverflow.com/questions/53027961/unable-to-load-libhdfs
- https://stackoverflow.com/questions/53087752/unable-to-load-libhdfs-when-using-pyarrow

[2022-08-18 07:51] harupy commented on #6499
This is where MLflow establishes the connection to HDFS:

https://github.com/mlflow/mlflow/blob/16bf9f558ad51eb14f8682e2241cfac50797ddf7/mlflow/store/artifact/hdfs_artifact_repo.py#L160-L190

Can you directly run this code and check if the error occurs?

[2022-08-18 07:54] gaogao110 commented on #6499
thanks for your reply ，I test

` hdfs = pa.HadoopFileSystem(host, port, user='hdfs', kerb_ticket=kerb_ticket)
__main__:1: FutureWarning: pyarrow.hdfs.HadoopFileSystem is deprecated as of 2.0.0, please use pyarrow.fs.HadoopFileSystem instead.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/anaconda3/envs/pyarrow-test/lib/python3.7/site-packages/pyarrow/hdfs.py

[2022-08-18 07:56] harupy commented on #6499
Thanks for the test. It looks like this is a pyarrow issue.

[2022-08-18 09:08] gaogao110 commented on #6499
Thanks for your reply , I try python 3.8  is successed

[2022-08-18 09:08] harupy commented on #6499
Can we close this ticket?

[2022-08-18 09:08] gaogao110 commented on #6499
Thanks for your reply , I try python 3.8  is successed

[2022-08-18 09:08] #6499 closed

[2022-08-18 11:25] mrkaye97 commented on #6498
Awesome, this is super cool! thanks a bunch @harupy @dbczumar :)

[2022-08-18 11:46] dsgibbons commented on #6097
Could I please work on this item?

[2022-08-18 16:18] mrkaye97 commented on #5199
Aha okay, that makes sense! I didn't try running the actual test suite -- I just tested out API calls against a local server manually.

Going to close this now, since honestly I don't think it's worth making changes like this to the package -- IMO it needs a bigger overhaul :/ and we've been using our own API wrapper package instead

[2022-08-18 16:18] #5199 closed

[2022-08-18 21:46] jinzhang21 commented on #3931
@xavierfontaine What's the longest prompts you've used?

[2022-08-19 00:15] mlflow-automation commented on #6453
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-08-19 00:26] jerrylian-db commented on #6453
Update: after discussion, we've decided to deprioritize adding env restoration to `mlflow.pyfunc.load_model` and instead will be working on building env restoration directly into the `mlflow.evaluate` API. To build env restoration into `load_model` we would need to figure out how to kill model servers started by the `load_model` on the death or exit of the Python process on all platforms, which wo

[2022-08-19 07:12] nov301996 opened #6513 "DockerFile build is Failing"
### Discussed in https://github.com/mlflow/mlflow/discussions/6512

<div type='discussions-op-text'>

<sup>Originally posted by **nov301996** August 19, 2022</sup>
Hi Guys, The Docker Build is getting failed with the below error, Please have a look at this issue.

8 78.80 Setting up gpg-wks-server (2.2.19-3ubuntu2.2) ...
#8 78.80 Setting up zlib1g-dev:amd64 (1:1.2.11.dfsg-2ubuntu1.3) ...
#8 78.81

[2022-08-19 07:16] harupy commented on #6513
@nov301996 Can you retry the build as the error message (`simple retry will get you on your way`) suggests?

[2022-08-19 07:31] nov301996 commented on #6513
@harupy , we tried a lot of times but still we are getting same error

[2022-08-19 07:45] harupy commented on #6513
I guess something is wrong with your network. Can you try the build with this dockerfile?

[code]

[2022-08-19 07:52] nov301996 commented on #6513
Still same error -

 mlflow % docker build . -t mlflow_orgin

[+] Building 12.5s (6/10)
 => [internal] load build definition from Dockerfile                                                                                                                                                   0.0s
 => => transferring dockerfile: 37B

[2022-08-19 07:57] nov301996 commented on #6513
@harupy  - I also tried with different python versions but still it failed with same error

[2022-08-19 07:59] harupy commented on #6513
@nov301996 What happens when you run conda on your host machine?

[2022-08-19 09:04] nov301996 commented on #6513
@harupy -

mlflow % conda --version
conda 4.12.0

mlflow % conda create -y -n my-python-env python=3.9.12
Collecting package metadata (current_repodata.json): done
Solving environment: done

==> WARNING: A newer version of conda exists. <==
  current version: 4.12.0
  latest version: 4.13.0

Please update conda by running

    $ conda update -n base -c defaults conda

It is actually create a new c

[2022-08-19 09:11] harupy commented on #6513
I have no clue why it fails when building the image.

[2022-08-19 09:16] harupy commented on #6513
Can you try the docker build again?

[2022-08-19 09:30] nov301996 commented on #6513
@harupy  - sure, tried with and without VPN, both the time it is failing

[2022-08-19 09:31] nov301996 commented on #6513
It will be helpful if you can tag someone who knows/worked on this DockerFile

[2022-08-19 09:44] VC86 opened #6515 "[BUG] Permissions issue when writing on /workspace"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 22.04.1 LTS
- **Python version**: 3.9 (Mambaforge)
- **yarn version, if running the dev UI**: n/a

### Describe the problem

After terminating an unfinished run (while writing and debugging code), I

[2022-08-19 09:56] harupy commented on #6515
Do you have permission to create `/workspace`?

[2022-08-19 10:00] harupy commented on #6513
I think you can file an issue in https://github.com/conda/conda.

[2022-08-19 10:00] #6513 closed

[2022-08-19 10:36] VC86 commented on #6515
@harupy  I did not pick `/workspace` as default destination (presumably for artifacts since the Artifact URI is `file:///workspace/mlruns/0/5b986cb300594fe2b2730742acf6953a/artifacts`). Indeed, user has no permissions to write to `/workspace` or to create `/workspace`, but it is unclear why this error happens only when another run has started and was terminated before completing. So I would still

[2022-08-19 10:58] harupy commented on #6515
Can you open `/home/local/dev/mlruns/0/meta.yaml` and what the value of `artifact_location` is?

To use a different artifact URI, you need to create a new experiment with `mlflow.create_experiment` ([doc](https://www.mlflow.org/docs/latest/python_api/mlflow.html#mlflow.create_experiment)).

[2022-08-19 11:22] VC86 commented on #6515
@harupy thanks for your prompt feedback.
Sure:
[code]

However I normally run my code under a second experiment
[code]

Perhaps I am missing out on what the sense of having multiple runs on the same experiment is?

I set the experiment explicitly in my training script:
[code]

[2022-08-19 12:45] stevehadd commented on #863
I think this would be very helpful for debugging, especially where you might only notice a problem and want to know how long its been happening for, you could look for clues in stdout/stderr in past runs.

One additional helpful options this would be to extend the FileHandler in default Python logging module to be an MLFlowHandler, which writes info written to the python logger as an artifact in t

[2022-08-19 13:00] harupy commented on #6515
@VC86

[code]

Does this code run successfully?

[2022-08-19 14:17] VC86 commented on #6515
Nope, this:

[code]

yields:

[code]

[2022-08-19 16:39] harupy commented on #6515
@VC86 Are you sure this issue occurs only when the last run didn't terminate properly?

[2022-08-19 17:00] VC86 commented on #6515
@harupy
1. Yes, I am sure. I reran the minimal example you provided and indeed, if the run terminates properly the assertion fails. This is because the artifact URI (when, e.g., deleting the `mlruns/` folder in the current directory and "starting from scratch") is then `file:///home/localuser/dev/mlruns/0/b59819c7deb14880b7168f91f857f224/artifacts` for example, instead of `file:///workspace/mlruns

[2022-08-19 19:27] shaikmoeed commented on #3015
@dmatrix I am also interested in this feature. Is there any possibility to add this feature? I am willing to contribute with community guidance :)

[2022-08-19 20:10] shaikmoeed commented on #4219
@echarso & @dmatrix  I am also interested in this feature. Is there any possibility to add this feature? I am willing to contribute with community guidance :)

[2022-08-19 20:39] ridhwan-saal commented on #4830
Run using python /path/to/file.py and the Python API of MLFlow will work. Running `mlflow run` and having Python API do not work nicely together.

[2022-08-19 22:27] ghost opened #6519 "[BUG] CLI Arguments do not match Python API environment and they have higher precedence when they should not"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.28.0

### System information

- Ubuntu 20.04
- Python 3.9.0

### Describe the problem

NOTE: This BUG references #4830 due to the similar behavior.

There seems to be a bug in the CLI vs API configuration.
Scenario 1:
You have `main.py` that has `s

[2022-08-19 23:12] dsgibbons commented on #6503
I can provide a fix for this

[2022-08-20 00:00] harupy commented on #6515
This is strange. I have no clue why this happens. Can you create a script that can this behavior?

[2022-08-20 01:09] thethiny commented on #6515
I also faced the same issue with `/workspace`. For some reason this location just refuses to work. My setup involved docker. The solution for me was to use `/opt/workspace/` or literally any other workspace location. However it seems to me that your error is that `workspace` is not created by you, therefore can you print your `env` and show us the contents?

[2022-08-20 02:15] dbczumar commented on #6503
Thank you, @dsgibbons ! Feel free to file a PR, and let me know if you have any questions.

[2022-08-20 05:34] dsgibbons commented on #6335
MLflow Pipelines look great, and I am excited to see where it will go. My main feature requests at this point would be:
- Better support for unstructured datasets that don't neatly fit in pandas DataFrames (e.g. images, text data, video).
- Ability to train on datasets that don't fit into memory (maybe by allowing for pandas to be substituted with dask or Modin).
- Explicit function for online dat

[2022-08-20 07:26] VC86 commented on #6515
@thethiny thanks, can I ask you how do you set your `/workspace` to `/opt/workspace/`? This is not yet clear to me...

[2022-08-20 07:28] VC86 commented on #6515
@harupy I will try, unfortunately the script is full of confidential information. I tried to create one minimal working example with your code snippet. It shows the error but only after the other script has failed to terminate properly (i.e., I halt execution in PyCharm).

[2022-08-20 07:39] harupy commented on #6515
@VC86 Can you check the value of the `MLFLOW_TRACKING_URI` environment variable when the script succeeds and doesn't?

[2022-08-20 09:08] dbczumar commented on #6503
Thanks @dsgibbons !

[2022-08-20 09:08] #6503 closed

[2022-08-20 14:48] ridhwan-saal commented on #6515
As I said I'm running in docker therefore I Change dockerfile Workdir

[2022-08-20 17:25] VC86 commented on #6515
Right, makes sense thanks.
I have the current issue on a system where I develop "interactively", i.e., including line-by-line debugging, eager execution in TF, etc.
Great to know docker has a workaround, do you have anything in mind to work around this without virtualization?

[2022-08-20 17:29] VC86 commented on #6515
@harupy my environment as per `os.environ` is:
[code]

I actually don't see any environment variable being set there, and I've obtained this after `mlflow.start_run()` and right before `mlflow.log_dict()`, whose first call breaks execution as it is the first artifact being logged.
I will remark -- if I comment the `log_dict` call and wait for the epoch artifacts to be generated (I dump images at e

[2022-08-20 17:42] thethiny commented on #6515
[code]

Can I understand why you are using Artifact URI to /workspace? Also try to use the Tracking URI as a path and not a URI, as in /home/local/dev/mlruns? Also can you share the command you're using to run?
`mlflow server` or `mlflow ui`? Finally, can you share your `mlflow run` command or `python file.py`? I would like to get as much information as I can to help you sustain the issue.

[2022-08-21 01:01] harupy commented on #6515
`mlflow server` or `mlflow ui` looks suspicious:

[code]

generates `meta.yaml` that looks like:

[code]

which looks the same as the one in https://github.com/mlflow/mlflow/issues/6515#issuecomment-1220557434.

[2022-08-21 01:33] thethiny commented on #6515
What's the command you use to run this? If I run this using `mlflow run` I face an error that the experiment is not the same as the experiment ID, use CLI instead.

[2022-08-21 01:35] harupy commented on #6515
I don't use `mlflow run`. I just created a python script and ran it.

[2022-08-21 01:47] thethiny commented on #6515
`mlflow run` is probably the worst thing that is provided by MLFlow. Everything else is fine. I vote to remove this feature completely.

[2022-08-21 12:22] VC86 commented on #6515
@thethiny I'd like to point out that I am **not actively setting any URI**, I'm just using the default URIs of MLflow Tracking API. I never `set_tracking_uri()` anywhere, nor set the artifacts' URI to a non-default location. The `/workspace` write attempt appears in the event that the previous training didn't complete and was terminated (the process was killed, for example).
I just run my training

[2022-08-21 14:00] harupy commented on #6515
@VC86 Can you try this?

1. Delete the `mlruns` directory in the current working directory?
2. Run the script
3. Open `mlruns/1/meta.yaml` and check the `artifact_location` value
4. Terminate the script
5. Open `mlruns/1/meta.yaml` and check the `artifact_location` value

?

[2022-08-21 15:01] VC86 commented on #6515
Oups I should have edited out the name of the experiment -.- (sorry @harupy )

[code]

The artifact location reported in that `mlruns/1/meta.yaml` is indeed `file:///workspace/mlruns/1`. Terminating doesn't change it. However for the actual run there is also an own `meta.yaml` with content (for, e.g., run `d2b444572f22439e9403ddc41c40b570` in `mlruns/1/d2b444572f22439e9403ddc41c40b570`)
[code]

[2022-08-21 15:24] harupy commented on #6515
@VC86 Did you run the script in `/workspace`? Are you using `mlflow run?

[2022-08-21 15:58] harupy commented on #6515
I found the following command in https://github.com/mlflow/mlflow/issues/6515#issuecomment-1220735269:

[code]

[2022-08-22 00:15] mlflow-automation commented on #6458
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-08-22 01:42] #6496 closed

[2022-08-22 05:46] harupy opened #6531 "Enable `consider-using-set-comprehension` for pylint"
Enable the `consider-using-set-comprehension` rule (https://pylint.pycqa.org/en/latest/user_guide/messages/refactor/consider-using-set-comprehension.html) to improve readability and avoid transient list creation.

Instructions:

1. Add `consider-using-set-comprehension` in `pylintrc`:

[code]

2. Run `pylint $(git ls-files | grep '\.py$')`. The output should look like:

[code]

3. Fix the lines li

[2022-08-22 06:06] amesar commented on #6445
@dbczumar
I have converted the issue to FR. Why is this been marked as "closed this as completed"? If I delete experiment "foo", I currently cannot create a new experiment "foo".

[2022-08-22 06:09] anuarkaliyev23 opened #6532 "[FR] create new cli command for generating dockerfile"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

We have ability to create an docker image for ml model, stored and tracked in mlflow with command
`mlflow models build-docker <...> `
This command has several arguments\flags that can be specified, full list of which can be found in the [documentation](h

[2022-08-22 07:55] VC86 commented on #6515
@harupy yes, I run the script via PyCharm as it is our IDE of choice.
I will look into running the script off-IDE to see if it solves the issue.
Thanks!

[2022-08-22 09:06] harupy opened #6535 "Fix `use-set-literal` lint errors"
Fix `use-set-literal` lint errors by following the instructions below (example PR: #6534):

https://github.com/mlflow/mlflow/blob/1b89add428da0a4453e7523a20d13f04f6291f37/pylint_plugins/set_checker.py#L12-L41

## What needs to be fixed?

`set` applied on `list` or `tuple` literal need to be converted to `set` literal:

[code]

## Files

| File

[2022-08-22 09:52] harupy commented on #6532
@anuarkaliyev23 Thanks for the FR! Creating a new CLI command for generating a Dockerfile sounds good to me.

[2022-08-22 11:07] anuarkaliyev23 commented on #6532
I am very glad to hear it.
As was said, I am willing to contribute with guidance from the community. Since my experience with Python is very limited, I will be more than glad to hear any suggestions or tips regarding contributing to this issue.
My initial plan was to add new function somewhere in `mlflow/models/cli.py`, with pretty much the same decorators as `build_docker` function is defined

Th

[2022-08-22 11:18] dsgibbons commented on #6535
I'm happy to look at all the mlflow/ files. Do you definitely want a separate PR for each file?

[2022-08-22 11:50] harupy commented on #6535
@dsgibbons Thanks for the help! I've updated the description. You can fix 1 ~ 3 items per pull request.

[2022-08-22 12:05] Monkero commented on #6535
Can I also participate?

[2022-08-22 12:07] harupy commented on #6535
@Monkero Absolutely!

[2022-08-22 12:11] dsgibbons commented on #6535
I'll start putting together PRs for this issue in about 12 hours @Monkero so if you want to make a start then go ahead. I'll then start fixing the ones that don't already have PRs against them, starting from the top of the list.

[2022-08-22 12:13] dsgibbons commented on #6097
I've started working on scenario 2 @BenWilson2. I'll probably also work on scenario 6 too as there is a lot of overlap there.

[2022-08-22 12:22] harupy commented on #6535
@harupy Would you mind saving the number of items you will fix for first-time contributors?

[2022-08-22 12:24] harupy commented on #6535
@Monkero Assigned the first three items to you :)

[2022-08-22 12:25] Monkero commented on #6535
Ok, I`ve done them, but do I have to write tests for it? If the answer is 'yes', then the question is 'how?'

[2022-08-22 12:26] harupy commented on #6535
@Monkero No. Did you update `mlflow/pylint_plugins/set_checker.py`?

[2022-08-22 17:29] marijncv commented on #3908
Hey @dbczumar, I created #6526 to address this FR. Curious to hear what you think!

[2022-08-22 20:36] efagerberg commented on #2413
I agree that the model training and model inference envs may be different. I am not as familiar with conda, but it would be awesome if we could have some way to mark these dependencies in the MLProject itself so that when we go to train or run the model, the appropriate env is created.

[2022-08-22 23:17] dsgibbons commented on #6535
`mlflow/utils/search_utils.py` is contained within `pylint_plugins/set_checker.py` but is not included in the table above. `mlflow/utils/search_utils.py` still uses `set()` instead of `{}`.

[2022-08-23 00:16] mlflow-automation commented on #6471
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-08-23 00:16] mlflow-automation commented on #6414
@amesar Any updates here? If you're working on a PR, please link it to this issue.

[2022-08-23 00:50] harupy commented on #6535
I forgot to include the items I fixed in #6534. Updated the table.

[2022-08-23 01:33] nov301996 commented on #5885
@haripraghash , Do you have a solution to this ?

[2022-08-23 01:44] nov301996 opened #6546 "I want to start the MLFlow UI using the (mlflow server --backend-store-uri ...) command , but I am facing Issue with SSL DB Connection"
### Discussed in https://github.com/mlflow/mlflow/discussions/6545

<div type='discussions-op-text'>

<sup>Originally posted by **nov301996** August 23, 2022</sup>
I want to start the MLFlow UI using the (mlflow server --backend-store-uri ...) command , but I am facing Issue with SSL DB Connection.

I tried to start the MLFLow UI but providing the SSL Connection in mlflow server but looks like SQL

[2022-08-23 01:46] nov301996 commented on #6546
If this feature support is there, Please point out the correct command . Else, Please let me know the starting entry point of which file such that I can tweak the code to support SSL

[2022-08-23 01:58] nov301996 commented on #6546
I mean after entering cli.py, where are these being used ? or where is this being referenced ?

[2022-08-23 02:39] harupy commented on #6471
@shahasim Any updates here?

[2022-08-23 02:44] dsgibbons commented on #6503
It looks as though the above code breaks if `log_model_explainability=True`. I'll file an issue and find a fix.

[2022-08-23 02:54] harupy commented on #6546
@nov301996 Are you looking for how to specify options for SSL like https://stackoverflow.com/a/48851490?

[2022-08-23 03:27] harupy opened #6548 "Remove useless `os.system` calls"
We can remove the following useless `os.system` calls:

https://github.com/mlflow/mlflow/blob/f15aa399c0fab866e95b54dab858b794a760cfe5/mlflow/models/container/__init__.py#L190-L192

https://github.com/mlflow/mlflow/blob/bd56ed75f776cbfaf4bb8b4c5f204d59acbe6fc6/mlflow/models/docker_utils.py#L193

[2022-08-23 04:04] nov301996 commented on #6546
@harupy , but Can I know the entry point when I run the command -

When I run the command -

mlflow server --backend-store-uri postgresql://postgres:postgres@localhost:5432/test --default-artifact-root /Users/a222340/mlflow/examples/quickstart

On a high level, Can i know the flow of which file is called first and it goes to which file ?

[2022-08-23 06:48] dsgibbons opened #6554 "[BUG] Truncation issues when using default_evaluator with explainability"
### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### MLflow version

eb273d656fa2778cf6c98031fd33c9ee85bec304

### System information

- macOS
- Python 3.7.13

### Describe the problem

#6503 was recently fixed to allow `mlflow.evaluate` to accept non-string column names. Since the bug fix, if the code example from #6503 is changed to set `log_model_explainab

[2022-08-23 06:49] harupy commented on #6554
@dsgibbons Thanks for reporting this issue. Looking forward to your PR!

[2022-08-23 06:50] harupy commented on #6546
@nov301996 What do you mean by "the entry point"?

[2022-08-23 07:25] notniknot commented on #6335
A declarative way to describe the entire pipeline enables Data Scientists to operationalize their models. That's a great step in the right direction!

But many developers are using Windows to write their code. I find it strange that MLflow Pipelines uses `make` which is not installed on Windows. Thus, local tests cannot be executed.

I would like the idea to automatically orchestrate the pipeline

[2022-08-23 07:37] shahasim commented on #6471
@harupy .. apologies for not getting back to you earlier. We went down a rabbit role trying to understand the example you shared, mainly our fault … for some reason we felt we needed a separate `tracking` and `artefact` server. Whereas all we needed was the `serve-artifacts` flag on the tracking server and a new experiment. Based on the initial tests with this setup I think we are good. Please fee

[2022-08-23 07:45] harupy commented on #6471
Got it! Thanks for reply :)

[2022-08-23 07:45] #6471 closed

[2022-08-23 07:48] danilopeixoto opened #6556 "Absolute URLs in Font Awesome CSS [BUG]"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.28.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04.4 LTS
- **Python version**: 3.8.0
- **yarn version, if running the dev UI**: No, installed by pip.

### Describe the problem

Should the Font

[2022-08-23 08:44] iamthen0ise commented on #6535
@harupy Hi! I'd like to take some files from this task.

[2022-08-23 08:49] harupy commented on #6535
@iamthen0ise Awesome! Let me assign some items to you.

[2022-08-23 08:50] harupy commented on #6535
@iamthen0ise Done!

[2022-08-23 09:10] harupy commented on #6532
@anuarkaliyev23 The plan sounds great!

[2022-08-23 09:18] #6531 closed

[2022-08-23 10:14] chenyhsu commented on #3743
Want list type to, and it may helps resolve #5061.
It would be very helpful for hyper-parameter tuning.

[2022-08-23 11:14] harupy commented on #6556
@danilopeixoto Thanks for reporting the issue. Could you provide code/repository/Dockerfile/docker-compose.yml that can reproduce the problem?

[2022-08-23 12:47] kitsiosvas commented on #6548
Hello, is this issue open?

[2022-08-23 15:14] attilaszuts commented on #6097
@BenWilson2 can you assign me to this issue? I'm going to start working on this task:

[2022-08-23 16:59] #6548 closed

[2022-08-23 20:34] jmahlik opened #6562 "[SETUP-BUG] Relax docker version to allow 6.0.0"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows
- **MLflow installed from (source or binary)**: either, wheel or git
- **MLflow version (run ``mlflow --version``)**: 1.28.0
- **Python version**: 3.10.6

### Code to reproduce issue

requirements.txt

[code]

constraints.txt

[code]

[code]

### Describe the problem

Currently, the docker major version

[2022-08-23 23:25] harupy commented on #6562
Hi @jmahlik, we filed https://github.com/mlflow/mlflow/pull/6564 to update the docker requirement.

[2022-08-23 23:31] danilopeixoto commented on #6556
Dockerfile

`Dockerfile
FROM python:3.8

RUN python3 -m pip install mlflow==1.28.0
RUN STATIC_DIR=$(python3 -c 'from mlflow.server import STATIC_DIR;print(STATIC_DIR)') && \
    echo $(cat ${STATIC_DIR}/static/css/main.*.css | tr ' ' '\n' | grep '/static')
`

Output

`text
Step 3/3 : RUN STATIC_DIR=$(python3 -c 'from mlflow.server import STATIC_DIR;print(STATIC_DIR)') &&     echo $(cat ${STATIC_DI

[2022-08-23 23:41] harupy commented on #6556
@danilopeixoto I meant the Dockerfile/repository that can reproduce the error in this screenshot:

![image](https://user-images.githubusercontent.com/17039389/186284731-ab27a664-f9e4-455a-aa73-735b3153f3ac.png)

[2022-08-24 00:07] danilopeixoto commented on #6556
@harupy, this one:

Dockerfile

[code]

Go to `http://127.0.0.1:5000/test`.

[2022-08-24 00:14] mlflow-automation commented on #6485
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-08-24 00:24] RenaultAI commented on #1939
I couldn't find any documentation about how I can integrate mlflow with Sentry. Does anyone know? Thanks!

[2022-08-24 00:24] #6562 closed

[2022-08-24 01:07] harupy commented on #6556
@danilopeixoto Thanks! I'll try to reproduce the issue.

[2022-08-24 01:18] harupy opened #6566 "Repalce `unittest.TestCase.assesrtTrue` with plain `assert`"
`unittest.TestCase.assesrtTrue` should be replaced with `assert` to get more detailed test failure information.

### Example:

[code]

[code]

[code]

- `assertTrue` only tells us `True` or `False`.
- `assert` (rewritten by pytest) tells us what's different.

[2022-08-24 05:53] harupy commented on #6556
I was able to reproduce the issue.

[2022-08-24 07:58] danilopeixoto commented on #6556
Thanks @harupy!

[2022-08-24 08:14] haripraghash commented on #5885
@nov301996 We run mlflow on AKS and we use Azure Database for MySql. Our docker image has an custom entrypoint which is a script. We do the following

mlflow server --backend-store-`uri=mysql+pymysql://${MLFLOW_USER}:${MLFLOW_PASS}@${MLFLOW_DB_ADDR}:${MLFLOW_DB_PORT}/${MLFLOW_DB_NAME}?ssl_ca=./BaltimoreCyberTrustRoot.crt.pem --default-artifact-root=${MLFLOW_ARTIFACT_PATH} --serve-artifacts --gunic

[2022-08-24 08:16] haripraghash commented on #6546
@nov301996 We run mlflow on AKS and we use Azure Database for MySql. We have configured MySQL to accept onlt SSL connections. Our docker image has an custom entrypoint which is a script and we bake the certificate within the image. We do the following. I am not sure if this is what you are expecting?

mlflow server --backend-store-uri=mysql+pymysql://${MLFLOW_USER}:${MLFLOW_PASS}@${MLFLOW_DB_ADDR}

[2022-08-24 08:19] ibobak opened #6572 "[BUG] Problems with protobuf: Descriptors cannot not be created directly"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.25.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Ubuntu 20.04
- **Python version**:  3.9
- **yarn version, if running the dev UI**:

### Describe the problem

This code
[code]
produces this exception - see stacktrace below.
I had the latest protobuf, an

[2022-08-24 08:31] harupy commented on #6572
@ibobak https://github.com/mlflow/mlflow/pull/5945 fixed this issue. You can upgrade mlflow to a newer version.

[2022-08-24 08:31] #6572 closed

[2022-08-24 10:26] #6566 closed

[2022-08-24 11:18] harupy commented on #6556
I investigated how we can solve this issue:

Option 1: Use relative URLs (proposed by @danilopeixoto):

[code]

Option 2: Add a handler for `/static-files/`

[code]

[2022-08-24 11:23] afanzott commented on #4176
Hello, I have exactly the same issue. I'm running mlflow locally with /mlruns as artifact and backend store and everything works fine, but when I input

`tracking_uri = "sqlite:///" + os.getcwd() + "/setup/mlruns.db"`
`mlflow.set_tracking_uri(tracking_uri)`

before `with mlflow.start_run():` I get the same error stating, that he can't find the RUN_id.
I tried literally everything to fix it, but co

[2022-08-24 15:54] johnyNJ commented on #6451
@dbczumar Any update?

I can prepare a PR to:

- minimalistic change just to drop the requirement for `prediction` column. Even this small change seems to be the step in the right direction since no other flavour seems to require any specific column name, OR
- larger PR to instead take the requested column(s) from a provided model signature (if any).

[2022-08-24 19:18] #3122 closed

[2022-08-24 20:38] dbczumar commented on #6451
Hi @johnyNJ , apologies for the delay here. I think that a PR to take the requested column(s) from a provided model signature sounds like a great idea!

[2022-08-24 22:17] harupy commented on #6515
@VC86 Any updates here?

[2022-08-24 22:19] harupy commented on #6546
@haripraghash Thanks for the comment! Can you try using the suggested command?

[2022-08-24 22:20] thethiny commented on #6515
@VC86 try to reset your database or change your store location and run. I believe they when the db is reused the workspace gets corrupted. I tried it here and surely enough a 2nd run is weird.

[2022-08-24 22:34] harupy commented on #6535
@dsgibbons Can you fix the remaining files?

[2022-08-24 22:41] hughperkins opened #6583 "[FR] Heavy installation requirements, many conflicts. Please create separate client and server pypi package."
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

[FR] Heavy installation requirements, many conflicts. Please create separate client and server pypi package.

### Motivation

Tried to `poetry add mlflow` on my M2 mac. It tries to install various really old dependencies, such as scipy and numpy. Which f

[2022-08-24 22:45] dsgibbons commented on #6535
Yes @harupy

[2022-08-24 22:46] harupy commented on #6535
@dsgibbons Thanks! When you file a PR, can you remove the `IGNORED_FILES` variable?

[2022-08-25 00:08] WeichenXu123 commented on #6583
Could you try install mlflow-skinny ?

[2022-08-25 00:15] nfarley-soaren opened #6585 "[BUG] unable to pass artifacts between steps in multistep workflow"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Python version**: 3.10.4
- **yarn version, if running the dev UI**:

### Describe the problem

I'm trying to run a multistep mlflow project.  When trying to use artifacts generated in an ear

[2022-08-25 00:50] mlflow-automation commented on #6383
@dbczumar Please reply to comments.

[2022-08-25 00:50] mlflow-automation commented on #6379
@harupy Please reply to comments.

[2022-08-25 00:50] mlflow-automation commented on #6261
This issue is stale because it has been open 14 days with no activity. Remove stale label or comment or this will be closed in 35 days.

[2022-08-25 01:00] #6535 closed

[2022-08-25 02:06] harupy commented on #6535
@dsgibbons @iamthen0ise @Monkero Thanks for working on this issue! We have more [good-first issues.](https://github.com/mlflow/mlflow/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) Please let me know if you're interested in working on them :)

[2022-08-25 03:05] harupy commented on #6585
@nfarley-soaren On Windows, what does the following command print out?

[code]

On Ubuntu, the output is:

[code]

[2022-08-25 03:13] harupy commented on #6585
Single quotes are added in this line: https://github.com/mlflow/mlflow/blob/aa9ad78d175839144d40237ef662a9f8a0e9e4e6/mlflow/projects/_project_spec.py#L230

[code]

[2022-08-25 04:08] harupy commented on #6583
Would you be interested in filing a PR to improve the doc?

[2022-08-25 04:13] harupy commented on #6583
`mlflow-client` doesn't sounds like it's a lightweight version of `mlflow`.

[2022-08-25 04:24] oojo12 commented on #6093
@dbczumar I'd like to take a stab at it a few questions:

1. Is there a base image to inherit from?
2. From the base image would it effectively be a COPY statement for https://github.com/mlflow/mlflow/tree/master/mlflow/tracking
3. What would the CMD statement in the Dockerfile be to start the tracking server?
4. The addition of a workflow to automatically tag + release docker images here - https:

[2022-08-25 06:15] harupy opened #6587 "Replace `tempfile.mkdtemp()` with pytest's `tmp_path` fixture in tests"
`tempfile.mkdtemp()` (which doesn't clean up the created directory) should be replaced with [pytest's `tmp_path` fixture ](https://docs.pytest.org/en/7.1.x/how-to/tmp_path.html#the-tmp-path-fixture).

[2022-08-25 07:49] iamthen0ise commented on #6535
@harupy sure, let's try. and thank you too!

[2022-08-25 07:50] Monkero commented on #6535
Of course, thanks for helping me too, @harupy

[2022-08-25 07:53] #6587 closed

[2022-08-25 13:48] VC86 commented on #6515
I currently put a "patch" on the issue by `find -name "meta.yaml" -maxdepth 4 -print0 | xargs -0 sed -i 's/workspace/other_artifacts_location/g'>` so that I basically replace forcefully `/workspace` on all runs in the `mlruns/` folder. But this is not a permanent solution.

I haven't had the time to run the script off of PyCharm.

[2022-08-25 13:59] harupy commented on #6515
@VC86 Got it. Can you check where PyCharm runs your script by printing out `os.getcwd()`?

[2022-08-25 15:52] nfarley-soaren commented on #6585
@harupy On windows, you test.py prints out:
param1 'C:\Users\test'
param2 C:\Users\test

I traced the issue through the source code.  In projects/utils.py get_entry_point_command() calls the
 _get_storage_dir function which creates a temp directory for downloading artifacts.  The subdirectories get added by compute_value() in _project_spec.py.  The file paths that are returned have single quotes.

[2022-08-25 19:15] fabian-gringel opened #6594 "[FR] Support for flags as arguments for runs"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Currently, when using the `mlflow run` command, parameters can be passed on to an entry point specified in `MLproject` using the option
[`-P, --param-list <NAME=VALUE>`](https://mlflow.org/docs/latest/cli.html#cmdoption-mlflow-run-P). This option does no

[2022-08-25 22:24] #3908 closed

[2022-08-25 22:47] dbczumar commented on #6594
Hi fabian, could this be achieved currently as follows?

MLproject file `main` entrypoint section:

[code]

`mlflow run` invocation:

[code]

Let me know if this helps.

[2022-08-25 22:59] harupy commented on #6585
Looks like `shlex.quote` should not be used on Windowss: https://docs.python.org/3/library/shlex.html#shlex.quote

[2022-08-26 00:22] mlflow-automation commented on #6444
@amesar Any updates here? If you're working on a PR, please link it to this issue.

[2022-08-26 00:22] mlflow-automation commented on #6450
@EPond89 Any updates here? If you're working on a PR, please link it to this issue.

[2022-08-26 00:22] mlflow-automation commented on #6439
@nnethery Any updates here? If you're working on a PR, please link it to this issue.

[2022-08-26 00:22] mlflow-automation commented on #6387
@dbczumar Please reply to comments.

[2022-08-26 00:40] WeichenXu123 opened #6598 "[DOC-FIX] Make doc link static and provide dropdown to select doc version"
### Willingness to contribute

No. I cannot contribute a documentation fix at this time.

### URL(s) with the issue

https://www.mlflow.org/docs/latest/python_api/mlflow.pyfunc.html#mlflow.pyfunc.PyFuncModel.predict

### Description of proposal (what needs changing)

* Make doc link static, e.g., replace [https://www.mlflow.org/docs/latest/python_api/…](https://www.mlflow.org/docs/latest/python_ap

[2022-08-26 00:42] WeichenXu123 opened #6599 "[FR] Support `pyspark.ml.linalg.Vector` type for mlflow.spark model schema"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Support `pyspark.ml.linalg.Vector` type for mlflow.spark model schema

### Motivation

Without this , the model schema saving will be skipped if input data contains vector type column.

### Details

Support `pyspark.ml.linalg.Vector` type for mlflow.spar

[2022-08-26 01:01] dbczumar commented on #6387
@Andref-cOliveira understood! We are currently introducing a Python API to make this workflow easier (see https://github.com/mlflow/mlflow/pull/6494) and would happily accept a contribution for a Java API equivalent. I've gone ahead and converted this to a "help wanted" feature request :)

[2022-08-26 03:08] stobias123 opened #6601 "[BUG] - Sagemaker - Can't deploy pytorch model trained on GPU to CPU"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.28

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OSX
- **Python version**: 3.9

### Describe the problem

When I've trained a model on GPU, I cannot run sagemaker on CPU. There seem to be extremely limited options for customizing or modifying the sagemaker

[2022-08-26 03:51] harupy opened #6602 "[FR] Implement `getRegisteredModel` in Java client"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Implement `getRegisteredModel` in Java client to provide users a way to get a registered model in Java.

#### References:

- [`get_registered_model` in Python](https://www.mlflow.org/docs/latest/python_api/mlflow.client.html#mlflow.client.MlflowClient.get_registered_model)

### Motivation

To p

[2022-08-26 04:15] harupy opened #6603 "[FR] Implement `getModelVersion` in Java client"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Implement `getModelVersion` in Java client to provide users a way to get a model version in Java.

#### References

- [`get_model_version` in Python](https://www.mlflow.org/docs/latest/python_api/mlflow.client.html#mlflow.client.MlflowClient.get_model_version)

### Motivation

To provide users

[2022-08-26 05:31] harupy opened #6604 "Use `tuple` instead a comma-separated string in `pytest.mark.parametrize` for better readability"
## Example

[code]

## Instructions

1. Save the following code as `a.py` and run it in the repository root.
2. Remove `a.py`
3. Run `black tests`.
4. File a PR.

[code]

## References

- https://docs.pytest.org/en/7.1.x/reference/reference.html#pytest.Metafunc.parametrize

[2022-08-26 08:29] shraddhafalane commented on #6604
Would like to take this up

[2022-08-26 08:46] shraddhafalane commented on #6604
Would like to take this up

[2022-08-26 08:48] harupy commented on #6604
@shraddhafalane Thanks for the help!

[2022-08-26 08:53] harupy commented on #6604
@shraddhafalane When you make a commit, please ensure to use `-s` to sign off the commit.

[2022-08-26 10:13] fabian-gringel commented on #6594
Hi Corey,

that actually solves my problem. Thanks a lot for the quick help!

[2022-08-26 10:13] #6594 closed

[2022-08-26 13:38] nsantavas opened #6606 "[BUG] Cannot delete experiments with deleted runs"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution**: Ubuntu 20.04
- **Python version**: 3.8

### Describe the problem

I am trying to delete experiments, using both the UI and the client, but I am getting the following error ``` INVALI

[2022-08-26 14:19] greatzt opened #6607 "[BUG]icon of deleting experiment is gone on MLflow 1.28.0"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.28.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Python version**:
- **yarn version, if running the dev UI**:

### Describe the problem

we upgraded to mlflow 1.28, but found the experiment deleting b

[2022-08-26 15:54] nfarley-soaren commented on #6585
@harupy That seems like a pretty big problem.

[2022-08-26 16:02] philmassie opened #6608 "[BUG] Uncaught warning: WARN FileStreamSink: Assume no metadata directory. Error while looking for metadata directory in the path: mlflowdbfs:///artifact?run_id=foo&path=/bar."
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.28.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Amazon Linux 2
- **Python version**: 3.7.11
- **yarn version, if running the dev UI**: Unknown
- Spark 3.2.1

### Describe the problem

Hello
I dont know i

[2022-08-26 16:07] hemanth-marukala opened #6609 "[FR]"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Use Vertica database as a MLFlow tracking server to store the experiment parameters, model versions and other metrics.

Vertica has an sql alchemy dialect(https://pypi.org/project/sqlalchemy-vertica-python/) that we can use to connect to the database. Ve

[2022-08-26 16:12] philmassie commented on #6608
For the time being my workaround is to comment out the contents of `_should_use_mlflowdbfs()`, I'm sure that's not what you're supposed to do though.

[2022-08-26 16:14] hemanth-marukala commented on #6609
I have tried updating the code to include "vertica"/"vertica+vertica_python" to the db_types.py file but it creates a directory locally.
**Here is the command i trying to execute:**

mlflow server --backend-store-uri vertica://dbadmin:password@x.x.x.x:5433/VMart --default-artifact-root sftp://dbadmin:password@x.x.x.x:~/mlflow/mlruns --host 0.0.0.0 -p 8000

**Here is the error log:**
mlflow/mlruns

[2022-08-26 18:53] skylarbpayne commented on #694
@smurching Coming back to this. This seems like something a lot of folks would find useful. Seems a tad silly to have all users write their own custom wrapper just to change the predict function.

How would you feel about me making a PR to add an optional argument to the sklearn model flavor to specify the "predict" function that should be used? This would be backwards compatible and would avoid t

[2022-08-26 20:53] LiamConnell opened #6610 "[BUG] _TF2Wrapper.predict method fails to handle 1-dimensional output tensors"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS, Ubuntu 18
- **Python version**: 3.8.13

### Describe the problem

I have a model that was trained using the Tensorflow Object Detection API and save

[2022-08-26 21:05] nfarley-soaren opened #6611 "[BUG] conda environment creation attempt when running project with --no-conda/--env-manager=local causes failure"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Windows Server 2019 Standard
- **Python version**: 3.10.4
- **yarn version, if running the dev UI**:

### Describe the problem

I am attempting to run mlflow project from a github repo on remote Windows S

[2022-08-26 23:45] ssimontacchi commented on #694
That would be amazing. My workaround has been to save a path to an unwrapped model object and just use that. So yeah — this would be worlds better!

[2022-08-27 00:14] mlflow-automation commented on #6515
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-08-27 00:14] mlflow-automation commented on #6519
@harupy Please triage this issue.

[2022-08-27 04:44] johnyNJ commented on #6451
hi @dbczumar thanks for your reply, let me kick-off the PR

[2022-08-28 06:53] jhagege commented on #3908
Thanks much!!

[2022-08-28 18:58] dbczumar opened #6615 "[FR] Implement a searchModelVersions API in the MLflow Java client"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Implement a searchModelVersions API in the MLflow Java client with equivalent behavior to https://github.com/mlflow/mlflow/blob/0645f9228b874e0b1d9f37cb0a0761c0736fea30/mlflow/tracking/client.py#L2700.

### Motivation

### Details

For reference, the existing implementation of searchExperiments

[2022-08-28 19:05] dbczumar opened #6616 "[FR] Implement a search_model_versions API in the R client"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Implement a search_model_versions API in the MLflow R client with equivalent behavior to https://github.com/mlflow/mlflow/blob/0645f9228b874e0b1d9f37cb0a0761c0736fea30/mlflow/tracking/client.py#L2700.

### Motivation

Enable R users to search for registered model versions.

^

^

No such API ex

[2022-08-28 19:10] dbczumar commented on #6611
Hi @nfarley-soaren, thank you for raising this issue. I'll investigate why `--env-manager=local` is still resulting in the use of Conda during an MLflow Project invocation.

[2022-08-28 19:18] dbczumar opened #6617 "[FR] Extend `mlflow gc` to support removing deleted experiments"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Add an `--experiment-ids` flag to the `mlflow gc` CLI (https://mlflow.org/docs/latest/cli.html#mlflow-gc). For each experiment ID that is specified, `mlflow gc` should remove the experiment and all of its runs.

Before performing deletion, `mlflow gc` should verify that all of the specified exp

[2022-08-28 19:26] dbczumar opened #6618 "[FR] Implement a set_model_version_tag API in the R client"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Implement a set_model_version_tag API in the MLflow R client, which should provide equivalent functionality to https://github.com/mlflow/mlflow/blob/0645f9228b874e0b1d9f37cb0a0761c0736fea30/mlflow/tracking/client.py#L2804-L2806.

### Motivation

Enable R users to set model version tags.

^

^

[2022-08-28 19:29] dbczumar opened #6619 "[FR] Implement a set_registered_model_tag API in the R client"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Implement a set_model_version_tag API in the MLflow R client, which should provide equivalent functionality to https://github.com/mlflow/mlflow/blob/0645f9228b874e0b1d9f37cb0a0761c0736fea30/mlflow/tracking/client.py#L2186.

### Motivation

Enable R users to set registered model tags.

^

^

No

[2022-08-28 19:37] dbczumar opened #6620 "[FR] Add MlflowException on the top level"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Make `mlflow.exceptions.MlflowException` importable as `mlflow.MlflowException`.

### Motivation

Make it easier for users to catch MLflow errors.

^

^

The `mlflow.exceptions` module is not documented, so it's difficult for users to find out how to import and catch `MlflowException`.

### Det

[2022-08-28 20:38] dbczumar commented on #6093
Hi @oojo12, thank you for volunteering to implement this feature! Please feel free to get started on a pull request and let me know if you have additional questions.

1. Using `FROM ubuntu:20.04` as a base image seems like a great idea.
2. From the base image, we should `pip install` MLflow from a specified branch of the MLflow GitHub repository
3. The CMD for starting the tracking server should b

[2022-08-29 00:31] dbczumar commented on #6444
Awesome! Thanks @ninabacc-db! We'll track this using the Databricks Docs tickets. I've also filed https://github.com/mlflow/mlflow/issues/6617 to track introducing a mechanism for permanently removing deleted experiments.

[2022-08-29 00:31] #6444 closed

[2022-08-29 04:54] harupy commented on #6546
@nov301996 Any updates?

[2022-08-29 06:22] CarlaFernandez opened #6625 "[BUG] Error loading Pyspark model from databricks connect"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.26.1

### System information

- Windows 10 Pro, Version 21H2, OS compilation 19044.1889, Windows Feature Experience Pack 120.2212.4180.0
- Python 3.8
- Databricks cluster  runtime: 9.1 LTS ML (includes Apache Spark 3.1.2, Scala 2.12)
- Databricks Connect version 9.1.16
- Pyspark version: 3.1

###

[2022-08-29 06:30] harupy opened #6626 "[FR] Add argument (e.g. `save_format`) to specify model save format to `mlflow.xgboost.log_model`"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

The XGBoost model file name is currently hardcoded as `model.xgb`:

https://github.com/mlflow/mlflow/blob/cf96d39d81932423d70d267f8a4ab6640e14ec7e/mlflow/xgboost/__init__.py#L154

This makes it impossible to [save an XGBoost model in JSON format](https://xgboost.readthedocs.io/en/stable/tutoria

[2022-08-29 06:48] thinkall opened #6627 "[FR] Support argument for `local_tmpdir` when loading spark model."
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

In the current implementation of `load_model` in `mlflow/spark.py`, `_download_artifact_from_uri` will be called to download the artifacts to a local path. The thing is that `load_model` doesn't support passing a value to the argument `output_path` in `_

[2022-08-29 07:29] harupy commented on #4106
Duplicate of https://github.com/mlflow/mlflow/issues/6626.

[2022-08-29 07:49] harupy commented on #6611
@nfarley-soaren

Looks like your `main.py` calls `mlflow.run`, which attempts to create a project environment with conda when `env_manager` is unspecified.

[code]

[2022-08-29 09:32] WeichenXu123 commented on #6626
What about add a param to log_model like "model_format" ? Available values can be "json" or "binary". And we can consider add this param to autolog.

[2022-08-29 09:44] harupy commented on #6626
@WeichenXu123 That sounds good. I'll fix the PR title and description.

[2022-08-29 15:27] FlMart commented on #4128
Hi everyone, having the same issue here.

- OS Platform and Distribution (e.g., Linux Centos7.7): Manjaro 21.3.7
- MLflow installed from (source or binary): Installed with `python -m pip install mlflow`
- MLflow version =1.26.1:
- Python version=3.10.5:
- Exact command to reproduce:

Output of `mlflow server`:
[code]
Output of `which mlflow`: `/home/flo/.local/bin/mlflow`
Output of `which gunicorn

[2022-08-29 15:52] skylarbpayne commented on #694
E.g.: https://github.com/mlflow/mlflow/pull/6631 is a simple way to address this need. Happy to iterate on it, but given how lightweight it was to implement it, felt it would be easier to have a concrete solution to critique :)

[2022-08-29 16:47] nfarley-soaren commented on #6611
@harupy Thank you!

[2022-08-29 16:47] #6611 closed

[2022-08-29 19:44] MinuraPunchihewa opened #6636 "[FR] Python API for Accepting and Rejecting Transition Requests"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

As a user, I would like to be able to accept or reject transition requests using the Python API for MLflow. This capability is, of course, already available with the REST API.

### Motivation

To automate the process of deciding whether to accept or reje

[2022-08-30 00:15] dbczumar commented on #6607
@greatzt Thank you for filing this issue. We've addressed it via https://github.com/mlflow/mlflow/pull/6569, which will be released in a couple of weeks as part of MLflow 1.29.0. Thank you for using MLflow!

[2022-08-30 00:15] #6607 closed

[2022-08-30 00:50] mlflow-automation commented on #6532
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-08-30 01:23] harupy commented on #6515
@VC86 Any updates?

[2022-08-30 04:18] Jeriousman commented on #4867
I got the same issue. Anybody who solved it?

[2022-08-30 04:29] #6604 closed

[2022-08-30 04:41] dbczumar commented on #6636
@arpitjasa-db @smurching Are there any plans to support this kind of API for the Model Registry on Databricks?

[2022-08-30 04:42] dbczumar commented on #6627
@thinkall Your proposal sounds great! Feel free to file a pull request and let me know if you have any questions! :)

[2022-08-30 04:43] dbczumar commented on #6585
@harupy Any updates here?

[2022-08-30 05:01] dbczumar commented on #6601
Hi @stobias123, thank you for raising this issue. The best solution available at the moment is to create a custom python model with custom loading logic as follows:

[code]

Then, you should be able to run `mlflow sagemaker run-local` with the model URI output by the above script. Please let me know if this helps and feel free to reopen the issue if this solution does not resolve the problem. Than

[2022-08-30 05:01] #6601 closed

[2022-08-30 05:07] dbczumar commented on #6606
@nsantavas Thank you for pointing this out. This is definitely a bug, and we are working on a fix.

[2022-08-30 05:27] dbczumar commented on #6606
Filed https://github.com/mlflow/mlflow/pull/6641 to address this issue. Once merged, it will be included in the MLflow 1.29.0 release in a couple of weeks :)

[2022-08-30 05:28] dbczumar commented on #6609
Hi @hemanth-marukala, can you try installing https://pypi.org/project/sqlalchemy-vertica/ and running your `mlflow server` command again?

[2022-08-30 05:32] dbczumar commented on #6608
Hi @philmassie, apologies for introducing this nuisance of a warning message. Fortunately, this has been addressed via https://github.com/mlflow/mlflow/pull/6474, which will be included in the MLflow 1.29.0 release. For now, if you install MLflow from master via `pip install git+https://github.com/mlflow/mlflow@master`, the warning should disappear. Thank you for using MLflow!

[2022-08-30 05:32] #6608 closed

[2022-08-30 05:41] dbczumar commented on #6610
Hi @LiamConnell, thank you for raising this issue! We'd be thrilled to review a PR that fixes the issue. Please let me know if you have any questions, and we're looking forward to your fix!

[2022-08-30 06:41] harupy commented on #6585
@nfarley-soaren The approach in [this StackOverflow answer](https://stackoverflow.com/a/29215357) might be able to solve the issue.

[2022-08-30 07:01] thinkall commented on #6627
Thanks @dbczumar , I created a PR #6642 for this proposal. Could you help review it?

[2022-08-30 07:55] WeichenXu123 opened #6643 "[FR] Make Spark ML model schema logging support `pyspark.ml.linalg.Vector` type field"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Make Spark ML model schema logging support `pyspark.ml.linalg.Vector` type field

### Motivation

Make Spark ML model schema logging support `pyspark.ml.linalg.Vector` type field.

`Vector` type field is very common as input feature column in spark ML mo

[2022-08-30 16:06] #6627 closed

[2022-08-30 16:29] #6428 closed

[2022-08-30 17:17] smurching commented on #6636
Thanks @MinuraPunchihewa ! We're actively thinking about how to simplify model management across environments, we should have an update in a few weeks - certainly it may make sense to have this API for model registry on Databricks, but we just want to make sure first that it aligns with our long term plans for model management. Will check back in once we have a clearer answer for you :)

[2022-08-30 20:09] andreakress opened #6652 "[DOC-FIX] broken link to outdated blog post on mlflow.org"
### Willingness to contribute

No. I cannot contribute a documentation fix at this time.

### URL(s) with the issue

https://mlflow.org/

<img width="1231" alt="image (1)" src="https://user-images.githubusercontent.com/62267356/187533297-7ba90bfa-9aa1-46d8-96db-ac15f9ba5ef5.png">

### Description of proposal (what needs changing)

The link highlighted in the previous field goes to a 404.

[2022-08-30 23:59] #6606 closed

[2022-08-31 00:10] db-william-lee commented on #6652
Redirect added to correct URL

[2022-08-31 00:46] mlflow-automation commented on #6554
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-08-31 02:39] umialpha commented on #3783
any update?  an official image on dockerhub is really needed today.

[2022-08-31 08:52] dingobar opened #6657 "[FR] Allow giving a model name when serving with mlserver"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

When we serve models with mlserver, it is important to have traceability: Which model gave which predictions? The way it is now, `mlflow models serve <uri> --enable-mlserver` gives a default name that cannot be changed (`mlflow-model`, see https://github

[2022-08-31 10:42] dingobar commented on #6093
As for 1., why not use `FROM python:3.x-slim-bullseye` (which is based on Debian)? Why build from the ubuntu image? In my experience, the python image has many fewer security issues, is tailored towards python applications (which mlflow is), and still allows using debian packages if need be just like the ubuntu image.

[2022-08-31 11:27] oojo12 commented on #6093
Would alpine not be better also do we care which python version the image
is using?

On Wed, Aug 31, 2022, 6:42 AM Martin Morset ***@***.***>
wrote:

[2022-08-31 11:28] oojo12 commented on #6093
I'll be starting on this issue today.

On Wed, Aug 31, 2022, 7:27 AM Femi ***@***.***> wrote:

[2022-08-31 12:34] dingobar commented on #6093
`mlflow` depends on some very heavy `cython`-based libaries such as `pandas` and `numpy`. In my experience, it is finnicky to run them on alpine without some tricks. Try for example this dockerfile:
[code]
This will not work, because it is missing `gcc`. This is just one example where getting this to work on alpine will be "finnicky" (not impossible of course). If we can live with the `slim` image

[2022-08-31 16:14] mautini opened #6659 "[BUG] Can't gc a run: Run not found"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.0

### System information

I'm using mlflow-cli

### Describe the problem

I would like to permanently delete some deleted runs in my mlflow server but the command `mlflow gc` seems to do nothing, so I tried to gc a particular run with the comma

[2022-08-31 18:55] dbczumar commented on #6652
Thanks @db-william-lee !

[2022-08-31 18:55] #6652 closed

[2022-08-31 19:00] nfx commented on #6086
@dbczumar i can take a stab at it, as per our meeting today ;)

[2022-08-31 19:01] dbczumar commented on #6086
Thanks @nfx ! :D

[2022-08-31 22:32] dbczumar commented on #6659
Hi @mautini, if you run `mlflow gc` without specifying a `--backend-store-uri`, `mlflow gc` will search for runs in the `./mlruns` directory under the current working directory by default. Specifying `--backend-store-uri <uri_for_your_mlflow_tracking_store>` should resolve the issue. Thank you for using MLflow!

[2022-08-31 22:32] #6659 closed

[2022-08-31 22:41] dbczumar commented on #6583
Going to go ahead and close this out, since `mlflow-skinny` is the recommended solution. While I think that `mlflow-client` would be a more intuitive name, we don't currently plan to change the package name. Thanks @hughperkins !

[2022-08-31 22:41] #6583 closed

[2022-09-01 00:44] mlflow-automation commented on #6585
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-01 03:44] WeichenXu123 commented on #6625
I guess this issue is because of local installed spark client has different version with the remote connected cluster.

[2022-09-01 04:11] #6092 closed

[2022-09-01 05:35] #6178 closed

[2022-09-01 06:20] CarlaFernandez commented on #6625
Thanks @dbczumar , I will try, but it might take a bit since I don't currently have permissions to create or modify clusters.

@WeichenXu123 I do have a different pyspark version in my local machine than required (3.2.2 vs 3.1 which is required by databricks runtime 9.1), but it's on a different virtual environment. In the venv where I use databricks-connect I don't have pyspark installed. Do you

[2022-09-01 07:23] gabrielfu commented on #2910
any update on this?

[2022-09-01 09:39] CarlaFernandez commented on #6625
@WeichenXu123 thanks, basically, the parsing and planning of the job runs on your local machine. Then, the logical representation of the job is sent to the Spark server running in Databricks for execution in the cluster. That's why you don't actually shouldn't have pyspark installed in the same environment as databricks-connect. I've tried downgrading my (other) pyspark to match the version in the

[2022-09-01 09:53] WeichenXu123 commented on #6625
OK. I suggest you file a databricks ES ticket, it looks like pyspark py4j issues. I am not familiar with databricks-connect.

[2022-09-01 10:55] CarlaFernandez commented on #6625
Will do, thanks!

[2022-09-01 16:34] dbczumar commented on #6093
@dingobar I think that Debian `slim` also sounds great! :)

[2022-09-01 17:02] dbczumar opened #6675 "Use the MLflow import-export tool for migrating between MLflow Tracking servers"
The https://github.com/mlflow/mlflow-export-import/ tool was recently made available, and it enables you to move runs and experiments from one MLflow Tracking server to another. This is very useful for migrating from local development to a remote MLflow Tracking server. Please let me know if you have any questions, and we're looking forward to your feedback on the MLflow import-export tool!

[2022-09-01 17:50] Akshaykumarcp commented on #4129
copy mlflow.exe and waitress-serve.exe files
from below location
C:\Users\USERNAME\AppData\Roaming\Python\Python37\Scripts
and paste to the below location
C:\Users\USERNAME\Anaconda3\envs\VIRTUAL_ENV_NAME\Scripts)

[2022-09-01 18:22] BenWilson2 commented on #6657
@dingobar thank you for the great suggestion! We're going to discuss with some of the other maintainers and get back to you on this.

[2022-09-01 18:30] MinuraPunchihewa commented on #6636
@smurching Thank you for your response. That's completely understandable. Hope to hear from you again!

[2022-09-01 19:12] zbloss commented on #4272
An update would be greatly appreciated here!

[2022-09-01 21:52] jmahlik commented on #6434
If you're referencing the problem with cors running mlflow behind a k8's nginx ingress controller with `networking.k8s.io/v1`.

Adding the annotation `nginx.ingress.kubernetes.io/enable-cors: "true"` seems to get around the cors issue with serving static files. Additional annotations might be needed if the defaults this turns on don't work for you.

https://github.com/kubernetes/ingress-nginx/blob

[2022-09-02 00:40] BenWilson2 commented on #6657
Hi @dingobar there is a PR under review by @tomasatdatabricks that will greatly help in enabling this FR:
https://github.com/mlflow/mlflow/pull/6575

Once this PR is merged, let's see about getting artifact information fed to the response object of the endpoint. Once again, thank you for bringing this up!

[2022-09-02 03:19] gwy1995 opened #6682 "[BUG] Duplicate _SPARK_MODEL_PATH_SUB in mlflow.spark.log_model"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

v1.28.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Python version**:
- **yarn version, if running the dev UI**:

### Describe the problem

There is a duplicate `_SPARK_MODEL_PATH_SUB` in `_maybe_save_m

[2022-09-02 06:54] #6515 closed

[2022-09-02 06:57] dingobar commented on #6657
Sounds great, having that json wrapper opens for some customization. Is that pr related to the mlserver serving, or just the native mlflow server?

I opened this issue in mlserver: https://github.com/SeldonIO/MLServer/issues/709

[2022-09-02 07:04] shraddhafalane commented on #6620
Could you elaborate more on this?

[2022-09-02 07:10] kamrapooja commented on #3645
I also faced the same issue. AFter insalling azure blob storage package when i try to use application it gives same error : "ImportError: cannot import name 'BlobClient' from 'azure.storage.blob". And then manually reinstallation resolves the issue.
But how to resolve the issue if the installation is being done using requirement.txt in wheel package.
Please help.

[2022-09-02 07:29] dbczumar commented on #6620
Absolutely, we just want to import `MlflowException` in this module: https://github.com/mlflow/mlflow/blob/master/mlflow/__init__.py so that users can access `MlflowException` as `mlflow.MlflowException`

[2022-09-02 11:08] tomasatdatabricks commented on #6657
@BenWilson2 @dingobar  Note that the PR 6575 is against 2.0 branch - it will be released with mlflow 2.0. and we're not planning on porting it to mlflow 1.x. MLServer will need some minor changes in order to be compatible with MLflow 2.0.

[2022-09-02 11:43] harupy commented on #6585
@nfarley-soaren Would you mind running this code and sharing the output?

[code]

[2022-09-02 12:30] Christos-Hadjinikolis commented on #1595
Has this changed?

[2022-09-02 15:10] #6620 closed

[2022-09-03 00:25] mlflow-automation commented on #6603
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-03 00:25] mlflow-automation commented on #6602
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-03 00:25] mlflow-automation commented on #6599
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-03 00:25] mlflow-automation commented on #6598
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-03 01:46] lizelive opened #6692 "[BUG] R Unsupported scheme: 'azureml'"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.28.0

### System information

R.Version()

packageVersion("mlflow")

$platform
    'x86_64-pc-linux-gnu'
$arch
    'x86_64'
$os
    'linux-gnu'
$system
    'x86_64, linux-gnu'
$status
    ''
$major
    '4'
$minor
    '2.1'
$year
    '2022'
$month

[2022-09-03 15:29] marijncv commented on #6099
@dbczumar I created #6694 that contributes to this FR. Let me know if you think it's going in the right direction, then I can try some of the other flavours afterwards!

[2022-09-03 21:27] Amanuel3065 commented on #6675
ad mlops

[2022-09-04 00:26] oojo12 commented on #6093
done with the dockerfile portion @dbczumar can you provide an example command so I can validate that this container works as expected?

[2022-09-04 01:17] oojo12 commented on #6093
Also, the current work is [here](https://github.com/oojo12/mlflow/tree/tracking-server-image) if you wanted to collaborate on it.

1. [docker-compose file ](https://github.com/oojo12/mlflow/blob/tracking-server-image/mlflow/docker-compose.yml)
2. [dockerfile](https://github.com/oojo12/mlflow/blob/tracking-server-image/mlflow/tracking/Dockerfile)
3. [workflow](https://github.com/oojo12/mlflow/blob/

[2022-09-04 01:23] oojo12 commented on #6093
Actually, since we are just pip installing from the repo I suppose we can simplify and make a base Mlflow docker image and just update the entrypoint command in the docker-compose file for all of mlflows services.

[2022-09-04 09:27] umialpha commented on #5844
our company needs this feature so much

[2022-09-04 10:31] lifesboy commented on #4399
I'm having same issue when run
`/usr/local/bin/mlflow server --host 0.0.0.0 --port 5000 --backend-store-uri postgresql://postgres:postgres@127.0.0.1:5432/postgres --default-artifact-root /drl/mlruns`

gotting error:
[code]

[2022-09-04 10:43] lifesboy commented on #4399
Find solution: Fixed by add enviroment variable before starting ray
`Environment=MLFLOW_TRACKING_URI=postgresql://postgres:postgres@127.0.0.1:5432/postgres`

[2022-09-04 14:33] dingobar commented on #6093
If we are introducing images to the project now I think we should have a linter for that with a pre-commit. I suggest https://github.com/hadolint/hadolint . It will come with relevant performance and security suggestions.

[2022-09-04 15:23] oojo12 commented on #6093
Like the idea. I didn't know linters existed for Dockerfiles.

On Sun, Sep 4, 2022, 10:33 AM Martin Morset ***@***.***>
wrote:

[2022-09-04 15:50] GreyDGL commented on #873
Same problem in 2022

[2022-09-05 00:17] mlflow-automation commented on #6619
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-05 00:17] mlflow-automation commented on #6618
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-05 00:17] mlflow-automation commented on #6617
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-05 00:17] mlflow-automation commented on #6616
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-05 00:17] mlflow-automation commented on #6615
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-05 01:20] fzhcary commented on #6084
Is this serving python or R models? I am interested

[2022-09-05 01:56] fzhcary commented on #3393
I have the same issue. is there any updates on this?

[2022-09-05 15:23] Neethugkp opened #6703 "[BUG]MlflowException: Detected out-of-date database schema (found version bd07f7e963c5, but expected cc1f77228345). Mlflow 1.28"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

Mlflow 1.28.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Python version**:
- **yarn version, if running the dev UI**:

### Describe the problem

Failed to initialize database.
DB in use MSSQL 2016

Wor

[2022-09-05 23:09] harupy commented on #6703
@Neethugkp Did you run `mlflow db upgrade <database_uri>`?

[2022-09-06 00:30] mlflow-automation commented on #6626
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-06 03:25] harupy commented on #6643
@WeichenXu123 What's the difference between this issue and https://github.com/mlflow/mlflow/issues/6599?

[2022-09-06 09:18] bwallima opened #6709 "MlflowClient set tracking_uri not working"
https://github.com/mlflow/mlflow/blob/c20c664e037b895ff4bd49dda4a26604e55a9b93/mlflow/tracking/client.py#L46

When handing over the tracking_uri and at the same time an environment variable "MLFLOW_TRACKING_URI" is set, the artifact is tried to be downloaded from the uri set in the environment variable "MLFLOW_TRACKING_URI" and not from the handed over parameter:
[code]
However when you change the

[2022-09-06 09:31] harupy commented on #6709
@bwallima

[code]

worked. Am I missing something?

[2022-09-06 09:36] bwallima commented on #6709
This is not working for me:
[code]

However this is working:
[code]

[2022-09-06 09:37] harupy commented on #6709
What do you mean by `not working`?

[2022-09-06 09:38] bwallima commented on #6709
well I get back an error 'not found'. I mean 'bla' is not existing.

[2022-09-06 09:38] harupy commented on #6709
Can you share the traceback?

[2022-09-06 09:40] bwallima commented on #6709
by the way I use  "from mlflow.tracking import MlflowClient" with mlflow==1.24.0. Ist that wrong?

[2022-09-06 09:41] harupy commented on #6709
No, it's fine.

[2022-09-06 09:41] harupy commented on #6709
You can try a newer version of mlflow.

[2022-09-06 09:43] bwallima commented on #6709
ok, I will try that.

[2022-09-06 14:48] #6709 closed

[2022-09-06 18:10] nfarley-soaren commented on #6585
@harupy  Sure thing.  I received the following error:
`test.py: error: unrecognized arguments: c --param3 ^a b c`

[2022-09-06 21:41] seb2704 opened #6716 "[BUG]mlflow project run with backend kubernetes crashs, due to a error during docker image push"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.28.0

### System information

- **WSL Ubuntu 20.04**:
- **Python 3.8.10**:

### Describe the problem

I would like to run a mlflow project on kubernetes. I set the repository-uri in the kubernetes-config.json file to a public repository on docker hub. When I run the mlflow run command with backend

[2022-09-06 23:23] BenWilson2 commented on #6716
Hi @seb2704, did you login to dockerhub prior to executing the command? It may be helpful to see your job conf `kubernetes-backend.json` and the job spec `kubernetes_job_template.yaml` to aid in pinpointing what might be the issue here.

[2022-09-06 23:57] seb2704 commented on #6716
Hi, yes I logged in with `docker login`.

my  kubernetes_job_template.yaml looks like this:
[code]
kubernetes-backend.json:
[code]

[2022-09-07 00:08] dbczumar commented on #6692
@akshaya-a @trangevi @wamartin-aml Can you provide guidance here for usage of MLflow + R on AzureML?

[2022-09-07 00:13] BenWilson2 commented on #6716
Could you try to access the public repository (pushing a basic docker image that has nothing to do with MLflow) with your credentials and verify that you have access with the credentials that you've logged in with?

[2022-09-07 00:25] seb2704 commented on #6716
Yes I've tried `docker push`  to that repository already and it works.

[2022-09-07 01:00] mlflow-automation commented on #6643
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-07 06:03] santiagxf commented on #6692
Hi @lizelive. This error is likely produced because the plugin `azureml-mlflow` is not installed. Even when using R, this package is used under the hood to understand the `azureml:/` protocol. Do you have the package in your default Python installation? How are you running/submitting the experiment?

[2022-09-07 09:26] dingobar commented on #4272
It's a bad idea to include these headers by default. There is a reason why CORS is not enabled for all hosts out of the box, it's unsafe. If you need this functionality, I would suggest placing the mlflow API behind a proxy that adds the headers.

[2022-09-07 10:50] olbapjose commented on #3849
Any advances on this? I think it would be useful as there are some algorithms which support null values directly (e.g. XGBoost, which also supports categorical variables in a straightforward way from now on).

[2022-09-07 10:58] olbapjose commented on #5152
I would say it is not caused by the null value but by having a categorical column, no matter if it has nulls or not. Pandas category columns are not supported by infer_signature yet.

[2022-09-07 11:19] dumaas commented on #2972
@dingobar @dbczumar I'm willing to take a shot at this one!

[2022-09-07 11:26] dingobar commented on #2972
It's been some time since I added this fr, I'd forgotten about it. These days, mlflow can serve using mlserver from seldon. I'd suggest seeing if this could be implemented in the `mlserver-mlflow` plugin for mlserver!

[2022-09-07 15:58] addisonklinke opened #6726 "[FR] Netron rendering for model artifacts"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Use [Netron](https://github.com/lutzroeder/netron) to render model graph artifacts (PyTorch, TensorFlow, ONNX, etc) in the tracking server and model registry UIs

### Motivation

Quick visual inspection of model layers from  browser

ML engineers often need to view the structure of a deep learn

[2022-09-07 16:55] BenWilson2 commented on #6726
@harupy thoughts on this?

[2022-09-07 22:42] dbczumar commented on #6093
@oojo12 This looks great! Can you create a PR for the official dockerfile from https://github.com/oojo12/mlflow/blob/tracking-server-image/mlflow/tracking/Dockerfile?

[2022-09-08 00:25] mlflow-automation commented on #6657
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-08 00:25] mlflow-automation commented on #6556
@danilopeixoto Any updates here? If you're working on a PR, please link it to this issue.

[2022-09-08 00:37] #6682 closed

[2022-09-08 04:24] oojo12 commented on #6093
@dbczumar seems simple enough per this [documentation](https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry#authenticating-to-the-container-registry). I will submit two separate PRs. One for the image and one for the workflow.

[2022-09-08 04:58] oojo12 commented on #6093
The modular PR's have been made. I suppose we still require an update to documentation mentioning the tracking server Docker image and an example on running the server with it? Also @dingobar were you making an issue for the Dockerfile linter or was the intention for this issue to cover that as well?

[2022-09-08 05:04] oojo12 commented on #6093
Assuming everything is satisfactory and gets merged I can also take up #6094 @dbczumar, since it looks stale.

[2022-09-08 06:58] dingobar commented on #6093
A linter is more of a nice-to-have, we can add it later.

[2022-09-08 08:24] MinuraPunchihewa opened #6734 "[BUG] ValueError: Enum ErrorCode has no value defined for name '403' in mlflow.set_experiment()"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.19.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows
- **Python version**: 3.10.4
- **databricks-connect version**: 7.3.45

### Describe the problem

I am trying to run some code to  train a model, wh

[2022-09-08 11:23] harupy commented on #6726
@addisonklinke Does Netron support exporting the structure as an image or an HTML file?

[2022-09-08 12:03] BenWilson2 commented on #6734
Is your REST API token still valid?

[2022-09-08 12:23] dingobar commented on #6657
I have an implementation light suggestion to this: Can we set the `version` parameter for the mlserver model to the `run_id` somehow? What way, we can have a constant model name, but different versions, and request the model metadata slightly before/after inference. It still has the issue that we don't know if the model changed between the two API-calls, but it's better than nothing.

[2022-09-08 13:54] MinuraPunchihewa commented on #6734
@BenWilson2 Yes, I generated a new one today.

[2022-09-08 16:57] BenWilson2 commented on #6734
Did you restart your computer to ensure that cached references to that key aren't pushing the old key through DBConnect?

[2022-09-08 17:08] michaguenther commented on #2152
Here is a script to delete all artifacts pointing to deleted runs. I needed this to clean up space on my s3 bucket
[code]

[2022-09-08 17:45] olbapjose commented on #6626
Just a comment: maybe this would also fix the error thrown when trying to `xgboost.log_model` with an XGBoost model with categorical variables using the (experimental) support for DataFrame `category` data type. The error says:
[code]

[2022-09-08 17:45] MinuraPunchihewa commented on #6734
@BenWilson2 I just tried restarting my computer and running it again. No change.

[2022-09-08 17:46] dbczumar commented on #6626
@olbapjose Awesome! Would you be interested in contributing support for this feature?

[2022-09-08 17:53] olbapjose commented on #6626
@dbczumar Thanks a lot but unfortunately I do not have time these weeks... despite I have been struggling very hard to log an XGBoost model and then retrieve it. No way with Spark XGBoost (it was possible to log it but not to retrieve it when it is a multi-class model), and no way with python xgboost as it contains category columns...

[2022-09-08 17:54] dbczumar commented on #6626
@olbapjose Got it! Understood! Thank you for your feedback; we're excited about getting this issue resolved.

[2022-09-08 19:11] fzhcary opened #6738 "[BUG] mlflow installation error in R studio"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

NA

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows
- **Python version**: NA
- **yarn version, if running the dev UI**: NA
- Rstudio version 4.2.1
- MLFlow version 1.28.0

### Describe the problem

Tryin

[2022-09-08 21:18] addisonklinke commented on #6726
Not that I know of, maybe @lutzroeder can give a better answer?

From a UI perspective, exporting the network to a static image isn't going to be very helpful. Netron's GUI lets you zoom in and expand the details of different nodes which is important for the use-cases I described in the FR motivation

[2022-09-08 21:29] hemanth-marukala commented on #6609
Hello dbczumar,

I already have installed sqlalchemy-vertica and i have also tried copying the files under the dielect directory, modifies the __init__.py to add vertica

dbadmin@dbadmin-virtual-machine:/usr/local/lib/python3.8/dist-packages/sqlalchemy/dialects$ ls
firebird  **__init__.py**  mssql  mysql  oracle  postgresql  __pycache__  sqlite  sybase  **vertica**
dbadmin@dbadmin-virtual-machine:

[2022-09-09 00:10] BenWilson2 commented on #6738
If you have those environment variables set you do not need to attempt to run mlflow:install_mlflow(). R should be able to communicate to Python directly just fine with those two environment variables set.

[2022-09-09 00:10] #6738 closed

[2022-09-09 00:17] mlflow-automation commented on #6675
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-09 01:05] WeichenXu123 commented on #6599
Duplicated issue. Close it.

[2022-09-09 01:05] #6599 closed

[2022-09-09 01:06] lutzroeder commented on #6726
lutzroeder/netron#965

[2022-09-09 04:23] WeichenXu123 opened #6739 "[FR] Support experiment search by last_update_time, creation_time"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Support experiment search by last_update_time, creation_time.

### Motivation

### Details

Support experiment search by last_update_time, creation_time.

### What component(s) does this bug affect?

- [ ] `area/artifacts`: Artifact stores and artifact l

[2022-09-09 04:25] WeichenXu123 opened #6740 "[FR] Display tags on the experiment page"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Display tags on the experiment page. Collapsed by default.

### Motivation

We can view experiment tags on UI.

### Details

Display tags on the experiment page. Collapsed by default.

### What component(s) does this bug affect?

- [ ] `area/artifacts`:

[2022-09-09 04:25] #6739 closed

[2022-09-09 09:47] GregRav commented on #6585
Maybe on windows something similar would solve the problem (in _project_spec.py).

[code]

At least for me it worked for windows quoting issues in multistep projects.

[2022-09-09 10:01] VishnuMurthyChakka opened #6744 "No such command 'models'"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.27.0

### System information

Windows 10
- python 3.10.2

### Describe the problem

When I am trying to build API end point for machine learning model using mlflow, it is returning the error message

C:\Users\user\Machine Learning>mlflow models --help
C:\Users\user\anaconda3\lib\site-packages\nump

[2022-09-09 10:23] harupy commented on #6585
@GregRav Thanks for the comment! I'll try `mslex` :)

[2022-09-09 10:35] harupy commented on #6585
@nfarley-soaren I opened https://github.com/mlflow/mlflow/pull/6745. Can you run the following command and check whether the PR can fix this issue?

[code]

[2022-09-09 13:29] fzhcary commented on #6738
Thanks for explanation. so my understand is that this error doesn't affect functionality.  should it convert to documentation issue instead of closing it?

[2022-09-09 13:35] fzhcary opened #6746 "[BUG] mlflow_ui() doesn't work as expected"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.28.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: windows 10
- **Python version**: 3.10
- **yarn version, if running the dev UI**: NA

### Describe the problem

after install mlflow, mlflow_ui() doesn't serve properly.
[code]

After this, when open localh

[2022-09-09 14:51] marrrcin commented on #6086
Are there any plans to use move model serving to FastAPI or to provide automated Open API spec generation for `mflow models serve` component?

[2022-09-09 15:27] BenWilson2 commented on #6738
I'll open a FR for a doc change :) Thanks for reporting the confusing instructions and if you'd like to commit to that FR, please feel free!

[2022-09-09 15:31] BenWilson2 commented on #6734
Since you are a Databricks customer and this issue is related to DBConnect (and perhaps your account), could you contact your support team (or file a support ticket with Databricks) for resolution and assistance in troubleshooting?

[2022-09-09 15:31] #6734 closed

[2022-09-09 15:33] BenWilson2 commented on #6703
@Neethugkp please ensure that you upgrade your database definitions with the utility function that @harupy mentioned. This should solve your issue.

[2022-09-09 15:33] #6703 closed

[2022-09-09 15:40] BenWilson2 commented on #6744
Did you install that library that the stack trace is telling you to install on your system?

[2022-09-09 15:45] BenWilson2 opened #6747 "[DOC-FIX] Make R installation instructions more clear"
### Willingness to contribute

No. I cannot contribute a documentation fix at this time.

### URL(s) with the issue

https://www.mlflow.org/docs/latest/R-api.html#details

### Description of proposal (what needs changing)

The instructions are not perfectly clear about the sequence of commands required for installing MLflow on R in the event that a conda environment is not available.
The documenta

[2022-09-09 15:57] BenWilson2 opened #6748 "[FR] Add the ability to search runs based on 'user_id'"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Enable run search to perform searches based on the `user_id` that submitted the run.

### Motivation

To return runs that have been initiated by a particular user while using run search functionality.

Quality of life improvement for navigating within the UI

It is not supported right now.

###

[2022-09-09 16:03] BenWilson2 opened #6749 "[FR] Runs page UI links to initiate search when clicked"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Within a runs page, the fields `user_id` and `lifecycle_stage` should be links that, when clicked, execute a search for runs that match the current run's criteria.

For instance, if I am viewing a run initiated by myself, I should be able to click my user_id which will execute a runs search of

[2022-09-09 19:35] BenWilson2 commented on #6746
Did you set the `library(mlflow)` command?

[2022-09-10 00:16] mlflow-automation commented on #6450
This issue is stale because it has been open 14 days with no activity. Remove stale label or comment or this will be closed in 35 days.

[2022-09-10 00:22] dbczumar commented on #6450
@mlflow-automation @EPond89 Still working on this. I'll have a fix out shortly. Apologies for the delay.

[2022-09-10 23:46] fzhcary commented on #6746
yes i did.

[2022-09-11 00:15] mlflow-automation commented on #6692
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-11 02:39] SiftingSands opened #6755 "[BUG] Nested runs not showing up on Firefox"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.28.0

### System information

- **Ubuntu 20.04**:
- **Python 3.8.6**:

### Describe the problem

Nested runs don't have a drop down feature on Firefox but it works on Chrome. I tried clearing my cache on Firefox, but the issue was still present.

### Steps to reproduce the bug

Firefox 100.0.2 (64

[2022-09-11 12:10] nfx commented on #6086
@marrrcin Currently, the generation of this spec is semi-manual. I'm going to add model registry to the PR and we could consider it done, for now at least. Later in the future there's a possibility of a more automated generator, but it still has to be defined more in a scope of a bigger initiative at Databricks.

Could you please share your intended usages of OpenAPI spec, by the way? It'll help u

[2022-09-11 16:54] SiftingSands commented on #6755
After playing around with the UI a bit, I discovered that pressing the "Start Time" column fixes the issue.

[2022-09-11 16:54] #6755 closed

[2022-09-12 00:15] mlflow-automation commented on #6451
@dbczumar Please reply to comments.

[2022-09-12 00:57] harupy opened #6757 "Add padding to artifact text viewer"
Text displayed in the artifact text viewer almost touches the left edge as shown in the screenshot below. Padding should be inserted to make it look nice.

<img width="527" alt="Screen Shot 2022-09-12 at 9 51 25" src="https://user-images.githubusercontent.com/17039389/189556982-5a9cd623-671f-461b-894d-d6cc3a78d9e3.png">

[2022-09-12 01:04] harupy opened #6758 "[FR] Log HTML representation of estimator in scikit-learn autologging"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Log an HTML representation of an estimator in scikit-learn autologging using [`sklearn.utils.estimator_html_repr`](https://scikit-learn.org/stable/modules/generated/sklearn.utils.estimator_html_repr.html#sklearn.utils.estimator_html_repr).

<img width="1166" alt="image" src="https://user-images

[2022-09-12 01:09] harupy opened #6759 "Convert `CONTRIBUTION.rst` to markdown"
Convert `CONTRIBUTION.rst` to markdown for the following reasons:

1. Markdown has better syntax highlighting support (e.g. VSCode).
2. Markdown has better formatting support (e.g. prettier).
3. Markdown is easier to write than reStructuredText.

[2022-09-12 02:25] dbczumar commented on #6451
Hi @johnyNJ , any updates here?

[2022-09-12 05:27] Neethugkp commented on #6703
Thank you @harupy @BenWilson2 . After upgrade of dburi it worked.

[2022-09-12 07:53] VishnuMurthyChakka commented on #6744
Hi Ben, after resolveing the issue related to mkl-server, I am able to see 'models' as an option for mlflow. Thanks for your help.

[2022-09-12 07:53] #6744 closed

[2022-09-12 08:07] marrrcin commented on #6086
It would be great to have an OpenAPI spec generated for the `/invocations` path, so that API users (developers) will be able to quickly play with served models by sending example requests to them e.g. from Swagger UI. The spec could be generated (optionally) from the logged model's `signature` and `input_example`.

[2022-09-12 08:12] nfx commented on #6086
@marrrcin Ah I get what you mean now. OpenAPI for /invocations is a separate issue, not that much related to this one. We need to create a separate issue to track that one

[2022-09-12 10:05] bsridatta commented on #4470
Any comments from the team? Would love to have this feature

[2022-09-12 13:05] aviralsharma07 commented on #6759
@harupy
- I am exploring Open Source and I want to work on this issue.
- Can you guide me on what to do and assign it to me?
- I'd love to help and learn.

[2022-09-12 15:53] Shinigami92 commented on #6759
Did you try a service like this? https://cloudconvert.com/rst-to-md

<details>
<summary>Output</summary>

[code]

</details>

[2022-09-12 21:15] RohanBha1 commented on #6757
Hey could I work on this issue?

[2022-09-12 21:34] skylarbpayne opened #6767 "[FR] Support Pandas Extension Types with Signatures"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Today, we do not support pandas extension types. These are useful as they let us represent missingness of values other than floats. While many (I would even acknowledge _most_) ML tools do not work with these extension types, there are some that do.

Tho

[2022-09-12 23:30] #6439 closed

[2022-09-13 00:06] BenWilson2 commented on #6767
@tomasatdatabricks @arjundc-db @mehtayogita Could you all please take a look at this and let us know what you think?

[2022-09-13 00:44] harupy commented on #6759
@aviralsharma07 Thanks for the help!

I think you can use https://cloudconvert.com/rst-to-md as @Shinigami92 suggested (thanks!) and manually check everything renders the same as `.rst`.

[2022-09-13 01:05] mlflow-automation commented on #6546
@nov301996 Any updates here? If you're working on a PR, please link it to this issue.

[2022-09-13 01:31] harupy commented on #6757
@RohanBha1 Thanks for the comment!

First, I think you need to set up the dev environment:

https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst#javascript-and-ui

[2022-09-13 01:51] jerrylian-db opened #6770 "[BUG] Register step reruns model evaluation, predict step reruns ingest scoring"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.28.1.dev0 (installed from mlflow master commit 3016c02fb59928a129dac2dae21c762e7992578e)

### System information

- Databricks runtime 11.X snapshot Machine Learning

### Describe the problem

I cloned the [mlp-regression-template](https://github.com/mlflow/mlp-regression-template) and imported it

[2022-09-13 02:21] harupy commented on #6757
@RohanBha1 Once the dev environment is setup, you can modify `ShowArtifactTextView.js`:

[code]

[2022-09-13 02:27] jerrylian-db opened #6771 "[BUG] Default model evaluator cannot log TreeEnsemble shap explainer"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

latest master - commit: f65429478255b88a211d7dd262c159b4939b44b2

### System information

Databricks MLR 11.X

### Describe the problem

I ran the [model validation example](https://github.com/mlflow/mlflow/blob/master/examples/evaluation/evaluate_with_model_validation.py) off of the latest master.

[2022-09-13 02:35] harupy commented on #6771
Seems related to https://github.com/slundberg/shap/issues/2122.

[2022-09-13 03:54] #6585 closed

[2022-09-13 03:56] dbczumar commented on #6609
Hmm...I'm unfortunately not quite sure what's going on here either, but it seems to be a Vertica + SQLAlchemy issue, rather than an MLflow issue. To confirm, did you try using `vertica+vertica_python://` as the scheme of your URI, rather than `vertica://`? If this still isn't working, I recommend filing an issue on the Vertica GitHub repository. Happy to reopen this if there's an identifiable MLfl

[2022-09-13 03:56] #6609 closed

[2022-09-13 06:20] #6532 closed

[2022-09-13 10:38] adamuas commented on #6098
@BenWilson2 Hi, big fan on **mlflow** here who will like to contribute to it. Can I help with this one?  :)

[2022-09-13 14:59] harupy commented on #6758
@shraddhafalane Thanks! We can make a change like this:

[code]

[2022-09-13 15:03] harupy commented on #6757
@shraddhafalane Would you mind giving @RohanBha1 an opportunity to contribute to OSS?

[2022-09-13 17:04] RohanBha1 commented on #6757
Did @shraddhafalane solve the issue already?

[2022-09-13 18:56] nfarley-soaren opened #6783 "[FR] Increase model signature flexibility to allow for occasionally missing fields while retaining datatype enforcement"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

When creating a model signature, it would helpful to have the option to allow certain fields to be missing in incoming data while retaining the datatype check functionality when they are present.  Currently, all fields must be present in the model signature and all of those features must be pas

[2022-09-13 20:12] adamfrly commented on #5883
Hello, does this issue still require fixing? I'm relatively new to open source contributing and would like to try resolving it.

[2022-09-13 23:09] harupy commented on #6757
@RohanBha1 She did. See https://github.com/mlflow/mlflow/pull/6778.

[2022-09-14 01:43] mlflow-automation commented on #6610
@LiamConnell Any updates here? If you're working on a PR, please link it to this issue.

[2022-09-14 01:52] johnyNJ commented on #6451
@dbczumar I have already started this but I am quite busy with my job... I think I could finish this within one month... would that be okay?

[2022-09-14 02:11] harupy commented on #6757
@RohanBha1 If it's ok for you, we can assign you a different issue.

[2022-09-14 02:42] #6759 closed

[2022-09-14 05:41] RohanBha1 commented on #6757
Hey, @harupy @shraddhafalane if this issue is already taken care of I do not mind working on any other issues around the same difficulty.