[2022-11-17 03:11] harupy commented on #7356
@gvelimir Are you using https://github.com/ArrichM/dynaflow? It looks like `search_experiments` is not implemented. The reason it didn't stop working in MLflow 2.0 might be because we removed `list_experiments` in MLflow 2.0.

[2022-11-17 05:53] shaikmoeed opened #7358 "[BUG] Autologging not detecting metrics that uses make_scorer (GridSearchCV)"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

- Client: 1.29.0

### System information

- **OS Platform a

[2022-11-17 06:21] gvelimir commented on #7356
Yes, that's the package i'm using to create the backand strore table structure in DynamoDB. Are you saying that the fix should be applied to Dynaflow?

[2022-11-17 06:28] harupy commented on #7356
Yes.

[2022-11-17 07:21] AmbroxMr commented on #6334
I have the same problem using [scenario 4](https://www.mlflow.org/docs/latest/tracking.html#scenario-4-mlflow-with-remote-tracking-server-backend-and-artifact-stores). The signature appears on the MLFlow file stored in the S3, but is not in UI.

[2022-11-17 07:28] AmbroxMr commented on #6334
I still have the same problem using MLFlow 1.30.0 and [scenario 4](https://www.mlflow.org/docs/latest/tracking.html#scenario-4-mlflow-with-remote-tracking-server-backend-and-artifact-stores).

[2022-11-17 07:56] harupy commented on #7304
@pravingadakh I ran this command, but I wasn't able to reproduce the error:

[code]

[2022-11-17 07:56] harupy commented on #7304
Maybe your pyspark version is too old.

[2022-11-17 21:39] dfdx opened #7360 "[BUG] Downloading an artifact from a remote MLflow results in "Connection broken: IncompleteRead""
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

- Client: 2.0.1
- Tracking server: 1.28.0

### System infor

[2022-11-17 22:49] dbczumar commented on #7360
Hi @dfdx, thank you for raising this. The client-side HTTP request timeout is 120 seconds (https://mlflow.org/docs/latest/python_api/mlflow.environment_variables.html#mlflow.environment_variables.MLFLOW_HTTP_REQUEST_TIMEOUT), so I agree that this does not appear to be a client-side timeout issue.

However, I suspect that the server may be killing the request after a certain period if time. Note th

[2022-11-17 22:49] #7360 closed

[2022-11-17 22:57] dbczumar commented on #7358
Hi @shaikmoeed, thank you for raising this issue. We would be thrilled to review / merge a PR that implements autologging support for scikit-learn metrics defined with the `make_scorer` API. Feel free to submit one, and we'll work with you to get it merged. Please let me know if you have any questions! Thank you for using MLflow!

[2022-11-17 23:53] #7357 closed

[2022-11-18 00:15] mlflow-automation commented on #7304
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-18 04:33] harupy commented on #7356
https://github.com/ArrichM/dynaflow/issues/2

[2022-11-18 11:14] serkef opened #7362 "[BUG] pymysql.err.IntegrityError on java client `startRun` (duplicate runName argument)"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

- Client: 1.30
- Tracking server: 1.30

### System informat

[2022-11-18 12:10] serkef commented on #7362
As a workaround, I tried this and it works:

[code]

[2022-11-18 21:49] dannyfriar opened #7365 "[FR] Batch API for retrieving metric data across runs"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Add a `get_metrics_for_experiment` to the client-facing API to allow retrieving a set of metric histories across all runs in an experiment. Something like below:

`get_metrics_for_experiment(experiment_uuid: str, metrics: Optional[List[str]] = None) -> p

[2022-11-19 00:17] mlflow-automation commented on #7320
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-19 00:17] mlflow-automation commented on #7316
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-19 05:45] shaikmoeed commented on #7358
@dbczumar Can you please share where (related files/functions locations) to find the related information? I will try to understand the code and share my approach to support this feature (and get verified before creating a PR)

[2022-11-19 15:35] ramsey-superpedestrian opened #7367 "[SETUP-BUG] - MLFlow / Google Colab compatibility issues."
### System information

- ** Google Colab
[code]

- **MLflow installed from (source or binary)**: binary: aka `pip install mlflow==2.0.1`
- **MLflow version (run ``mlflow --version``)**:  `ERROR: Could not find a version that satisfies the requirement mlflow==2.0.1`
- **Python version**: 3.7

### Code to reproduce issue

[code]

### Describe the problem

It looks like about 3 weeks ago, mlflow 2.0

[2022-11-19 19:28] ShuxinLin commented on #3741
It seems this feature are not in release. I tested both PR https://github.com/mlflow/mlflow/pull/3742 and https://github.com/mlflow/mlflow/pull/3987, and both works well. I would love to see this feature get merged to the release by the mlflow developers. Thanks!

[2022-11-19 19:52] DhavalRepo18 commented on #3741
@oreh @fg91
@ShuxinLin has tested it extensively and it works.

[2022-11-19 23:14] ramsey-superpedestrian commented on #7367
After a little extra experimentation trying to loosen this version constraint, it appears that decision that is forcing the upgrade to python 3.8 is the use of assignment expressions.

Would you consider replacing the assignment expressions with their equivelant python3.7 code to permit Google Colab users to utilize the MLFlow 2.0 client?

[2022-11-19 23:16] ramsey-superpedestrian commented on #7367
It also appears that there's only 1 use of assignment expressions on line `mlflow/_doctor.py:81`

[code]

This line could just be replaced with
[code]

Which would allow the constraint to be loosened to 3.7

[2022-11-20 02:18] BenWilson2 commented on #7367
Hi @ramsey-superpedestrian . We're sorry that you're encountering this issue.
A bit of context for why we made this change:

The scientific computing community has been following the lead that the numpy team has set with this notification:
https://numpy.org/neps/nep-0029-deprecation_policy.html

As of 12/26/2021, Numpy's official support of Python 3.7 was dropped. In their follow-up release, this

[2022-11-21 08:57] paprocki-r commented on #7316
That sounds delightful, thank you. Further multi-label classification support will be a big step, so I look forward to that.
And yes, creating my own Evaluator would be a workaround, thank you for the tips!

[2022-11-21 09:54] Rusteam commented on #6099
I can help out with ONNX

[2022-11-21 10:01] Rusteam commented on #6097
@BenWilson2  I can help out with:
- [Scenario 3: MLflow on localhost with Tracking Server](https://mlflow.org/docs/latest/tracking.html#id34)

[2022-11-21 12:52] maufl opened #7369 "[SETUP-BUG] MLFlow 1.22 installs MLFlow 2.0 for serving models"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian 11/ Docker image https://hub.docker.com/r/continuumio/miniconda3/
- **MLflow installed from (source or binary)**: using pip
- **MLflow version (run ``mlflow --version``)**: 1.22
- **Python version**: 3.9.12

### Code to reproduce issue

[code]

### Describe the problem

Running `mlflow models serve` will

[2022-11-21 12:53] maufl commented on #7369
I'm closing this since it can be fixed with a new version/the right flags. I just wanted it documented here for other people to find.

[2022-11-21 12:53] #7369 closed

[2022-11-21 13:09] ramsey-superpedestrian commented on #7367
Thank you for the thoughtful response.

This is most unfortunate news.

Yes, I came across this post, but it seemed unlikely that this was the preferred method.  I suppose it'll have to do.  It's likely to substantially impede adoption.  It seems that this solution requires the use of a modified ipynb file.

It's going to be a difficult choice, either we: a) commit to using mlflow server 1.30.0 wh

[2022-11-21 13:09] #7367 closed

[2022-11-21 15:33] BenWilson2 commented on #6099
@Rusteam thank you for volunteering! Please tag us in the PR when you file it and let us know if you have any questions :)

[2022-11-22 00:13] dbczumar commented on #7358
Hi @shaikmoeed , here's the relevant code entrypoint that MLflow autologging uses to monkey patch scikit-learn metric computations: https://github.com/mlflow/mlflow/blob/589ee6ecbb89680ce718e026e84900d04307f6c0/mlflow/sklearn/__init__.py#L1750-L1756. Please let me know if you have additional questions - happy to help!

[2022-11-22 01:10] jyk4100 commented on #2152
@michaguenther Can I ask what version of mlflow are you working with?

[2022-11-22 01:47] dbczumar commented on #7362
Hi @serkef , this has been fixed in MLflow 2.0. Thank you for using MLflow!

[2022-11-22 01:47] #7362 closed

[2022-11-22 03:12] BenWilson2 commented on #6097
@Rusteam Sure thing! Please ping me when you file your PR :) Thank you for volunteering!

[2022-11-22 06:29] michaguenther commented on #2152
I am using 1.27.0

[2022-11-22 06:58] Rusteam opened #7374 "[BUG] Documentation build error with python=3.10 (update sphinx)"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### MLflow version

VERSION = "2.0.2.dev0"

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu

[2022-11-22 08:16] harupy commented on #7374
https://github.com/mlflow/mlflow/pull/4480

[2022-11-22 08:41] Rusteam commented on #7374
I see now, that's unfortunate.
What could the fix be for this? For now I used python=3.9 to build docs and it worked.

[2022-11-22 08:45] harupy commented on #7374
I think we need to fix https://github.com/mlflow/mlflow/blob/master/docs/theme/mlflow/static/css/custom.css.

[2022-11-22 09:15] Rusteam commented on #7374
I can have a look at it. Can you point me into the right css class?

[2022-11-22 09:39] harupy commented on #7374
We need to fix a style for ` .rst-content dl:not(.docutils) .property`.

[code]

[2022-11-22 10:46] praksharma opened #7378 "Can't see my runs. "No runs yet""
I am using mlflow 1.30.0. I can't see my runs even though I run `mlflow ui`  in the same directory containing the `mlruns` directory. The directory structure is like this:

[code]

I run the `mlflow ui` command in the same directory:
[code]

It shows me 5 days old training results from another directory:

![image](https://user-images.githubusercontent.com/70601302/203293257-b08a0a65-2e2f-4496-836d

[2022-11-22 10:54] harupy commented on #7378
Hi @praksharma, can you run `env | grep MLFLOW_BACKEND_STORE_URI` to see whether `MLFLOW_BACKEND_STORE_URI` is set or not?

[2022-11-22 10:58] praksharma commented on #7378
Hi, it is empty.

[code]

[2022-11-22 11:17] praksharma commented on #7378
Is there some sort of cache which it loads by default? I check the hidden files. Nothing there.

[2022-11-22 11:23] harupy commented on #7378
No, there isn't.

[2022-11-22 11:31] harupy commented on #7378
@praksharma

What is the relative path to the different directory from your working directory?

[2022-11-22 11:41] praksharma commented on #7378
The one starting with `10.` is the 5 days older results. The one starting with `15.` is my directory of interest.
[code]

One more thing, I just found in this directory `10. mlflow and hydra `, mlflow is creating a new directory each time I create a new experiment in `mlflow ui` alongside the existing one created 5 days ago.

[code]

This is weird.

[2022-11-22 11:48] harupy commented on #7378
@praksharma Can you create an empty directory, move in the directory, run `mlflow server`, and open `http://127.0.0.1:5000`?

[2022-11-22 12:03] harupy commented on #7378
Have you run a tracking server against `10. mlflow and hydra ` before?

[2022-11-22 12:06] praksharma commented on #7378
Sorry, I don't remember. How do I revert it and make things normal?

[2022-11-22 12:09] harupy commented on #7378
Can you try running `pkill -f mlflow`?

[2022-11-22 12:15] harupy commented on #7378
This indicates there is a tracking server running against

[2022-11-22 12:17] praksharma commented on #7378
Thank you so much. I can finally see the training in action.

![image](https://user-images.githubusercontent.com/70601302/203311707-03868493-c5e6-487c-af5b-0d03955cd974.png)

[2022-11-22 12:17] #7378 closed

[2022-11-22 12:27] harupy commented on #7378
What was the cause?

[2022-11-22 12:29] praksharma commented on #7378
Looks like a server was running in the backend. This one worked `pkill -f mlflow`.

[2022-11-22 12:44] praksharma commented on #7378
So, I was using an HPC cluster not local PC. There are multiple login nodes with its own set of ports. It was running on `sl1` port 5000. I was using `sl2` port 5000. The problem is when I was port forwarding the port 5000 to my local PC I was not specifying the login node, so connects me to the `sl1` port 5000. I will just make sure that I port forward from within the same login node. Also, I wil

[2022-11-22 12:46] harupy commented on #7378
Makes sense. Thanks for the reply :)

[2022-11-22 13:02] shaikmoeed commented on #7358
@dbczumar  Thanks for directing me to the right files.

I see that, `make_scorer` is getting excluded here https://github.com/mlflow/mlflow/blob/589ee6ecbb89680ce718e026e84900d04307f6c0/mlflow/sklearn/__init__.py#L885

and

https://github.com/mlflow/mlflow/blob/589ee6ecbb89680ce718e026e84900d04307f6c0/mlflow/sklearn/__init__.py#L1755

are used. By including `make_scorer` and removing  `sklearn.met

[2022-11-22 16:57] pravingadakh commented on #7304
@harupy I've found the root cause for the issue. There was a bug with the custom ArtifactRepository plugin that we use with MLflow. This is can be closed. Thank you for spending your time on this.

[2022-11-22 16:57] #7304 closed

[2022-11-23 00:14] mlflow-automation commented on #7347
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-23 00:14] mlflow-automation commented on #6962
@dbczumar Please reply to comments.

[2022-11-23 01:53] llzhng opened #7385 "[BUG] cannot load synapseML LightGBM model using MLflow"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

- Client: 1.18.0
- Tracking server: 1.18.0

### System information

- **OS Platform and Distribution (e.g., L

[2022-11-23 05:36] amesar commented on #7356
The following list methods have been replaced by corresponding search methods in 2.x. The list methods have been removed from 2.x.
- Use search_experiments() instead of list_experiments()
- Use search_runs() instead of list_run_infos()
- Use search_registered_models() instead of list_registered_models()

See https://www.mlflow.org/news/2022/11/14/2.0.1-release/index.html - Breaking changes:
- [Tra

[2022-11-23 07:57] ztxjack opened #7387 "[BUG] FileNotFoundError: [Errno 2] No such file or directory: 'pyenv'"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version
[code]

### System information
[code]
[code]

### Describe t

[2022-11-23 07:59] ztxjack commented on #7387
Could someone help to look at this issue? thanks.

[2022-11-23 12:47] harupy commented on #7387
Hi @ztxjack, you can try `mlflow run . --env-manager=local` or install pyenv.

[2022-11-23 12:50] benjaminbluhm commented on #6102
@dbczumar would be very happy to work on this issue if @ikrizanic cannot devote any capacity at the moment.

I could start dedicating significant capacity in December, but would definitely need some guidance/alignment before starting to contribute

[2022-11-23 13:03] ikrizanic commented on #6102
@benjaminbluhm @dbczumar My apologies, I forgot about this issue and currently don't have any capacity to work on this, so I'll be happy to hand over it to you.

[2022-11-23 18:01] agapebondservant opened #7389 "[BUG] mlflow.artifacts.download_artifacts throws "cannot schedule new futures after interpreter shutdown" in Python 3.10"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

- Client: 1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debi

[2022-11-23 18:46] dbczumar commented on #7387
Closing this, as `pyenv` is required to run MLflow Projects with the `virtualenv` environment manager. Thanks for the suggestions, @harupy , and thank you for using MLflow, @ztxjack !

[2022-11-23 18:46] #7387 closed

[2022-11-23 19:50] benjaminbluhm commented on #6102
@BenWilson2 @dbczumar I would have a few questions to better understand your idea for the custom flavor example to be added to the docs.

Do you suggest we create the custom flavor example using a simple fake model (along the lines of ["add n" model](https://mlflow.org/docs/latest/models.html#example-creating-a-custom-add-n-model) in the docs) or would you prefer we create this for a well establis

[2022-11-23 20:05] BenWilson2 commented on #6102
Hi @benjaminbluhm I think the best place for it to live for a step-by-step working example would be within the `examples` section of Mlflow, here: https://github.com/mlflow/mlflow/tree/master/examples .
The main crux of this FR isn't just a code example though. It's in building a step-by-step walkthrough of the components, nuances, and 'gotchas' surrounding custom model creation and utilization to

[2022-11-23 21:52] dbczumar commented on #7365
Thanks for raising this @dannyfriar ! It's definitely relevant and also very prescient for upcoming frontend work. Do you have suggestions about how the REST API should look?

[2022-11-23 23:04] dbczumar commented on #7374
Going to close this for now, since there's likely substantial work required to achieve Sphinx 4.x compatibility, and there's fortunately a workaround (build docs on Python 3.9). Thank you for using MLflow!

[2022-11-23 23:04] #7374 closed

[2022-11-23 23:06] dbczumar commented on #7385
Hi @llzhng, can you try upgrading to MLflow 1.30.0 and running again?

cc @wamartin-aml @trangevi @akshaya-a who may be able to provide additional guidance.

[2022-11-23 23:15] dbczumar commented on #7389
Hi @agapebondservant, thank you for raising this issue. To confirm, are you able to successfully download the artifacts if you call `mlflow.artifacts.download_artifacts()` from the program's main thread? This will help isolate the issue to the daemon thread, which I suspect is the source of the problem.

[2022-11-24 00:14] mlflow-automation commented on #7356
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-24 00:14] mlflow-automation commented on #7355
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-24 00:14] mlflow-automation commented on #7205
@harupy Please reply to comments.

[2022-11-24 00:52] agapebondservant commented on #7389
Thanks, yes, this is correct - works from the main thread.

[2022-11-24 01:40] cao-nv commented on #724
We all really want to have multi-tenancy built in MLFlow, but this feature requires too much effort.

[2022-11-24 02:02] jaehyeongAN opened #7392 "[FR] Why is there no 'log_model()' function in mlflow.client?"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

I want to use mlflow by parallel runs. But, mlflow is not thread-safe. when using `mlflow.start_run()` code, run id  becomes a global variable. So, every parallel runs become crashed.

I found a method of `log_artifact() in `mlflow.client()`. This method

[2022-11-24 02:14] ztxjack commented on #7387
Hi @harupy , @dbczumar
Thanks for your suggestion I think ### mlflow run . --env-manager=local  for example cases. but do you know if there is any link or document that could give some instructions on the pyenv, conda related required dependency installation? I'm using conda env instead of virtualenv but got some other errors after install a version of
### pyenv 2.3.6-15-g13d85686
when run ### mlf

[2022-11-24 03:51] WeichenXu123 opened #7394 "[FR] Make PyFuncModel support pandas DataFrame containing numpy array values"
### Willingness to contribute

Yes. I can contribute this feature independently.

### Proposal Summary

Make PyFuncModel support pandas DataFrame containing numpy array values, and the spark_udf does not need to convert UDF input numpy array as list when calling `PyFuncModel.predict`.

Blocker:
Scoring server does not support serializing pandas DataFrame containing numpy array values, see https://

[2022-11-24 05:36] lakshikaparihar commented on #6102
Hi @dbczumar @benjaminbluhm @BenWilson2 , sorry forgot about this FR I do
have One Usecase in mind i.e "How to do prediction using .predict() for any
type of model/framework", lemme know if you want to work on it, would be
happy to collaborate.

On Thu, 24 Nov 2022, 01:35 Ben Wilson, ***@***.***> wrote:

[2022-11-24 06:39] benjaminbluhm commented on #6102
Hi @BenWilson2 thanks for clarification and explaining the scope of having in-depth step-by-step walkthrough. After your feedback yesterday I aligned with @aiwalter from [sktime](https://github.com/sktime/sktime) team, plan is to create custom model flavor for sktime (see [feature request](https://github.com/sktime/sktime/issues/1215) in their repo). I think sktime could be a nice candidate for th

[2022-11-24 07:29] karthickme commented on #2501
I'm also facing the same issue, why container_path is an absolute path? this will impact all windows users.

https://github.com/mlflow/mlflow/blob/7c25e4ddd36d209d22488cdce699419430d74205/mlflow/projects/backend/local.py#L325-L332

[2022-11-24 07:31] harupy commented on #7387
@ztxjack Can you open `/tmp/python-build.20221124100604.608859.log` and check what's in this file?

[2022-11-24 07:32] harupy commented on #7387
You might need to install tools for building Python: https://github.com/pyenv/pyenv/wiki

[2022-11-24 09:59] Voigt1022 opened #7397 "Change version number of model manually"
Can I set version number of model to whatever string I want to set?
Or it have to be version1.0, version 2.0 ... generated by MLflow automatically?

[2022-11-24 10:31] ztxjack commented on #7387
Yes, I just checked out that log file and get the problem cause which is most likely as your speculation, and so I update and install the associated ubuntu dependencies and the above error does not occur again.
But I also see a very long span of time for the requirements installation.
Either run mlflow run . by default
and with network connection error when do the quiet installation after waiting

[2022-11-24 11:12] WeichenXu123 commented on #7392
I think we can add a method `MLflowClient.log_model`, like:

[code]
@dbczumar @harupy @BenWilson2 WDYT ?

[2022-11-24 11:18] WeichenXu123 commented on #7397
No, you can't.
See https://github.com/mlflow/mlflow/blob/9c38bd649fe33cf9d2d48316fddc2bb24d765e7c/mlflow/utils/validation.py#L347

But, you can append a version tag to store any string you like. :)

[2022-11-24 22:54] VC86 opened #7400 "Remove entry point parameters from run"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

- Client: 1.29
- Tracking server: 1.29

### System information

- **OS Platform and Distribution (e.g., Linux

[2022-11-25 00:13] mlflow-automation commented on #7358
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-25 01:21] harupy commented on #7392
Can we just add `run_id` to `mlflow.<flavor>.log_model`?

[2022-11-25 02:09] jaehyeongAN commented on #7392
@WeichenXu123
As I tested, after adding `log_model()` function to mlflow.client, like this.
`
# This function referd from mlflow.models.model.log()
@classmethod
    def log(
        cls,
        run_id,
        local_path,
        artifact_path,
        flavor,
        registered_model_name=None,
        await_registration_for=DEFAULT_AWAIT_MAX_SLEEP_SECONDS,
        **kwargs,
    ):
        with

[2022-11-25 03:16] leeweijie commented on #6618
@dbczumar thank you! I've just created a PR (#7401 ) for this issue.

[2022-11-25 07:29] tsungjung411 opened #7402 "[BUG][Warning][MlflowException] Changing param values is not allowed."
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

- mlflow: 1.29.0
- Client: (how to query it?)
- Tracking server: (how to query it?)

### System information

[2022-11-25 07:31] pablo-fernandez-IGZ commented on #2751
Hi! Is there any plans on adding this functionality?
As predicted by the OP, Vega-lite is being used by many tools and would be nice to be able to declare plots in a single way for all tools.

[2022-11-25 07:40] WeichenXu123 commented on #7392
This is a bit of using MLflowClient, because MlflowClient might use another `tracking_uri` and `registry_uri` that are different with the globally set tracking_uri / registry_uri

[2022-11-25 07:42] #7397 closed

[2022-11-25 09:22] Rusteam commented on #6097
seems like @attilaszuts has already requested to cover that example. Are you still going to do it or should I?

[2022-11-25 09:22] tsungjung411 commented on #7402
## stack trace for 2nd `log_params`
[[lightgbm][native] lightgbm+iris+mlflow-log_params-2nd.zip](https://github.com/mlflow/mlflow/files/10090304/lightgbm.native.lightgbm%2Biris%2Bmlflow-log_params-2nd.zip)

## stack trace for 3rd `log_params()`
[[lightgbm][native] lightgbm+iris+mlflow-log_params-3rd.zip](https://github.com/mlflow/mlflow/files/10090311/lightgbm.native.lightgbm%2Biris%2Bmlflow-log_p

[2022-11-25 09:24] WeichenXu123 commented on #7402
Thank you for reporting the bug. I just reproduced it. I will file fix soon.

[2022-11-25 11:05] WeichenXu123 commented on #7402
According to correct design, mlflow should skip logging the nested estimator in pipeline, but this case it does not skip it. It is a bug. Let me fix it.

[2022-11-25 11:44] WeichenXu123 commented on #7400
@VC86

This should be by design,
see https://github.com/mlflow/mlflow/blob/ff55883373f045a33a6abdfacc878ee0d190c6ff/mlflow/projects/utils.py#L309

it is not a bug.

[2022-11-25 12:13] VC86 commented on #7400
Understood and thanks for the feedback @WeichenXu123 , is there a way to work around that, e.g., by overwriting or removing explicitly the unwanted parameters as per this other issue you are looking into https://github.com/mlflow/mlflow/issues/7402 ?

[2022-11-26 00:12] mlflow-automation commented on #7017
@dbczumar Please reply to comments.

[2022-11-26 05:41] WeichenXu123 commented on #7400
Could you describe what's the exception ? And then I can consider a good workaround for it.

[2022-11-26 08:34] VC86 commented on #7400
I tried as workaround to go through the list of arguments that are passed to the entry point, and to set them to `None` by calling `log_params()`.

For example, a naive attempt would be to set:
[code]
Which yields
[code]
as expected, "by design".

@WeichenXu123 the exception is then the same as the one reported in #7402 (trying to overwrite existing parameters).

[2022-11-26 17:07] lumamachiron commented on #697
any updates?

[2022-11-28 12:59] harupy commented on #7402
@tsungjung411 It looks like enabling both `lightgbm` and `sklearn` autologging causes this issue. You can avoid the issue by enabling only sklearn autologging.

[2022-11-28 13:14] WeichenXu123 commented on #7402
This causes another issue, if solely run `LGBMClassifier.fit`, the `parameter, metric, and non-model artifact` won't be logged.

[2022-11-28 13:25] harupy commented on #7402
sklearn autologging should only enable logging for sklearn's estimators.

[2022-11-28 13:31] harupy commented on #7402
Fix to suppress the error:

[code]

[2022-11-28 14:07] harupy commented on #7392
@WeichenXu123 Got it.

This approach sounds good to me.

[2022-11-28 14:09] WeichenXu123 commented on #7402
[code]

This has an issue, LGBMModel is a public estimator class, we should patch autologging for it, and in previous version we already do autologging for it.

[2022-11-28 14:12] harupy commented on #7402
Ok, I thought LGBMModel is a base class. Remove it.

[2022-11-28 14:17] Nika-St opened #7412 "[BUG] Even with 'Only show differences' turned on, all columns are displayed"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 22.04.1
- **Python version**: 3.10.6
- **yarn version, if running the dev UI**:

### Describe the problem

Even with 'Only show differences' turned on, all columns are displayed. Maybe this filter a

[2022-11-28 14:30] Nika-St opened #7413 "[FR] Display 'Start Time' as an absolute timestamp and not a relative reference"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

In previous versions, 'Start Time' used to be displayed as an absolute timestamp (something like "%d.%m.%Y, %H:%M:%S"). At some point, it was changed to relative references (like '3 hours ago').
Please change this back or allow the user to choose. It is very inconvenient trying to identify the

[2022-11-28 16:43] cristofp commented on #7280
If I can add some suggestion to this FR:

In my company we are designing automatic training and deployment of fresh models in production.
In this case we need to have versioning pattern **that will let for disthinguishing following changes in the model**:
- a) new version of model breaks backward compatibility (inference method new signature is not backward compatible)
- b) new version of model is

[2022-11-28 16:53] addisonklinke commented on #7280
@cristofp yes exactly! I think many production workflows need more granularity in the version number beyond a single integer. This is standard practice in traditional software, so it makes a lot of sense to provide the same capability for ML models

[2022-11-28 18:29] dbczumar commented on #697
Hi @lumamachiron, we introduced artifact streaming through the MLflow server in MLflow 1.23.0. Additionally, the MLflow tracking server now operates in this mode by default as of MLflow 2.0. You can find more information on https://mlflow.org/docs/latest/tracking.html, specifically https://mlflow.org/docs/latest/tracking.html#using-the-tracking-server-for-proxied-artifact-access. Thank you for usi

[2022-11-28 20:51] sunishsheth2009 commented on #6335
Hey guys, wanted to follow up on this. We now have released binary classification as part of MLFlow 2.0 release. We have an [example](https://github.com/mlflow/recipes-examples/tree/main/classification) repo and a [template](https://github.com/mlflow/recipes-classification-template) repo to get started. :)
Would love to hear some feedback on the same.

[2022-11-28 23:07] dbczumar commented on #7392
Sounds good to me as well!

[2022-11-28 23:10] dbczumar commented on #7358
I think we'll need to create a separate monkey patch for `make_scorer` using MLflow's `safe_patch` utility. This patched `make_scorer` should also call `safe_patch` to create & return a monkey patched `scorer`. This returned scorer should log metrics to MLflow when the scorer is called.

[2022-11-28 23:16] dbczumar commented on #7389
Got it. @agapebondservant is your daemon thread terminating before `mlflow.artifacts.download_artifacts()` returns? From https://github.com/mlflow/mlflow/blob/7f2152370b8e93ed7bf8cc3e5e1e7ff39cd69ca5/mlflow/store/artifact/artifact_repo.py#L258, it appears we join all outstanding futures prior to returning.

[2022-11-28 23:26] dbczumar opened #7416 "[FR] Add Python fluent API for search_registered_models"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Introduce a Python API for search_registered_models:

[code]

### Motivation

Help users easily search registered models without having to handle pagination

### Details

The API should be implemented in https://github.com/mlflow/mlflow/blob/7f2152370b8e93ed7bf8cc3e5e1e7ff39cd69ca5/mlflow/track

[2022-11-28 23:46] dbczumar opened #7417 "[FR] Introduce page_token argument to MlflowClient.search_model_versions"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Introduce a `page_token` argument to https://mlflow.org/docs/latest/python_api/mlflow.client.html#mlflow.client.MlflowClient.search_model_versions in the MLflow Python client.

### Motivation

### Details

We'll need to introduce a `page_token=None` argument to https://mlflow.org/docs/latest/py

[2022-11-28 23:47] dbczumar commented on #7417
@serena-ruan Would you be interested in working on this? As a follow-up, it would be great to introduce `order_by` and `max_results` args as well, if you're up for it!

[2022-11-29 00:02] harupy commented on #7412
@Nika-St We removed the `Only show differences` switch in MLflow 2.0.

[2022-11-29 00:02] #7412 closed

[2022-11-29 00:11] harupy commented on #7413
@Nika-St Thanks for the FR. We'll discuss this in the team and get back to you.

[2022-11-29 02:04] tsungjung411 commented on #7402
In our computing container, we installed sklearn, xgboost, lightgbm, autosklearn(AutoML), autogluon (AutoML). Following your recommendations, we should only enable `sklearn` autologgining (call `mlflow.sklearn.autolog()`) no matter user's input ML algorithm (Xgboost, LightGBM, Autosklearn, AutoGluon, else: sklearn)

i.e.
- sklearn's pipeline + sklearn -> `mlflow.sklearn.autolog()`
- sklearn's pipe

[2022-11-29 02:08] harupy commented on #7413
@Nika-St You can view absolute timestamps by hovering on runs.

<img width="556" alt="image" src="https://user-images.githubusercontent.com/17039389/204420946-f5be3093-df92-49c8-98b2-b86e253440a7.png">

However, this is insufficient, right?

[2022-11-29 03:58] WeichenXu123 commented on #7400
@VC86

MLflow does not allow removing or overwriting logged params.

I think you can add prefix for the param key like: `entry.param1`, `entry.param2`,
and in your application, when you want to read logged params, ignore params that key starting with `entry.`

What do you think of this workaround ?

[2022-11-29 07:49] VC86 commented on #7400
I can indeed do that via UI, not super-elegant, but works.

[2022-11-29 07:49] #7400 closed

[2022-11-29 08:48] WeichenXu123 commented on #7392
@jaehyeongAN

We get consensus to add API like:
[code]
Would you contribute this new API ?

Thank you!

[2022-11-29 09:11] tsungjung411 commented on #7402
### For the case: **sklearn's pipeline + autosklearn**

### Full code
[code]

![image](https://user-images.githubusercontent.com/14820019/204487229-65bf1251-f2ed-45ab-a860-2de16b2be656.png)

![image](https://user-images.githubusercontent.com/14820019/204487157-3e8f558d-c7f8-4fff-a3d4-48c2d06511a0.png)

It works fine. No nested logging found.

[2022-11-29 09:31] jaehyeongAN commented on #7392
@WeichenXu123 Cool, I want to do that.

[2022-11-29 09:45] Nika-St commented on #7413
Thanks @harupy ! Yes? hovering over each run isn't convenient. Maybe it's possible to swap the two: show the timestamp permanently and 'X days/hours'etc. ago' on hover?

[2022-11-29 09:52] Nika-St commented on #7412
Oh no....

[2022-11-29 10:02] serena-ruan commented on #7417
Yes sounds good :) Will work on it as soon as I get free a bit!

[2022-11-29 10:04] Nika-St opened #7420 "[FR] Show only relevant columns"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

1) Show only columns which have values at least for one of the currently displayed (selected/filtered) runs
2) Show only columns with more than one unique value for the currently displayed runs
3) Remember user's selection of columns and don't show all the columns again as soon as another run s

[2022-11-29 10:39] tsungjung411 commented on #7402
### For the case: **sklearn's pipeline + autosklearn**
[code]

#### Full code
[code]
![image](https://user-images.githubusercontent.com/14820019/204505930-957824de-07f3-4634-8357-b414d4912432.png)

It works fine. No nested logging found.

But there are no AutoGluon parameters in the pipeline. I thought AutoGluon does not implement `get_param` and `set_params`(?), so mlflow could not fill the AutoG

[2022-11-29 11:27] LieberwirthF opened #7422 "[BUG] downloading directories with many subdirectories using SFTP causes deadlock"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

- Client: 2.0.1
- Tracking server: 2.0.1

### System inform

[2022-11-29 13:35] nathaneastwood opened #7424 "[BUG] Cannot use databricks connection with R"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

mlflow, version 1.27.0

### System information

- Window
-

[2022-11-29 14:08] nathaneastwood commented on #7424
I managed to get a working version of this by manually setting the `active_run_stack` but this feels incredibly hacky.

[code]

[2022-11-29 14:13] harupy commented on #7422
@LieberwirthF Thanks for reporting the issue. I'll take a look tomorrow.

[2022-11-29 14:13] nathaneastwood commented on #7424
Yes that does indeed seem to work. I ran the following in a fresh R session with no issues:

[code]

So have I misunderstood the documentation?

[2022-11-29 14:26] nathaneastwood commented on #7424
Good question. Seems I had this set many months ago when I was first working with this code locally. Now we have DataBricks set up I have come back to it and so continued to use it which is where I found the issue. I think we can close this now, thanks for your (very) quick help!

[2022-11-29 14:26] #7424 closed

[2022-11-29 16:08] daniel-sali commented on #3583
I had a similar issue with MLFlow 2.0.1, had to remove the `window.top?.location.href` references from the JS front-end code.

[2022-11-29 19:38] TSienki commented on #7416
I'll try this one

[2022-11-29 23:45] dbczumar commented on #7416
Thank you, @TSienki ! I've assigned the issue to you. Please let me know if you have any questions!

[2022-11-30 00:21] harupy commented on #7420
@Nika-St

MLflow UI should remember user's selection of columns. Which version of MLflow are you using?

[2022-11-30 01:33] harupy commented on #7413
I don't think we can swap the two. We could add a toggle switch in the toolbar above the table or perhaps in the column header. Added the `help wanted` label so someone in the community can contribute.

[2022-11-30 05:19] #6618 closed

[2022-11-30 16:09] TSienki commented on #7416
@dbczumar  I created a PR earlier, but doing this change I come up with one question.
 I've found out that `search_experiments` (without specifying order) returns records (experiments here) ordered reversed to the order of inserting. On the other hand, `search_registered_models` returns records (registered models here) sorted alphabetically.
Is it intended behavior? IMO, The default behavior for f

[2022-11-30 22:23] eliwoods commented on #3849
I know this is an old issue, but would love to see support for this as well. `auto-sklearn` makes use of the category dtype as well to add the list of libraries that directly leverage this functionality.

As an intermediate solution, it could be possible to accept the category type by casting to a generic `object` dtype and ignoring the dictionaries of category values. This obviously isn't ideal,

[2022-11-30 22:31] dbczumar commented on #3849
@tomasatdatabricks What are your latest thoughts here?