[2020-06-17 18:51] #2755 closed

[2020-06-17 19:52] gabegrand opened #2956 "[BUG] Incorrect sort order for exponential notation metrics/params"
I've noticed that metrics and parameters which have been autoconverted to exponential notation via https://github.com/mlflow/mlflow/pull/2022 do not sort correctly in the main experiment table view.

![Screen Shot 2020-06-17 at 3 42 44 PM](https://user-images.githubusercontent.com/10052880/84943102-de177280-b0b1-11ea-8af7-c8aa31b95176.png)

This bug makes it difficult to sort runs by fields that t

[2020-06-17 22:40] sudivate opened #2958 "[BUG] Remote run completes with status succeeded but throws an error mlflow.exceptions.RestException: RESOURCE_DOES_NOT_EXIST: Run 'd1aabdea68ab4d919b5687cfedb32065' not found."
**Issue**

Remotely submitting run on Azure Databricks. Tracking URL set to
`mlflow.set_tracking_uri("databricks")`

Remote run completes with a status succeeded but throws an error at the end

**Area**
MLflow Projects

**Full Stack Trace:**
2020/06/17 22:09:11 INFO mlflow.projects: === Run (ID '7dcea2b93466470fac23080877286ffc') **succeeded** ===
/opt/mlflow/mlflowproject
FINISHED
7dcea2b93466470

[2020-06-18 02:40] rolzy commented on #852
I had the same problem. I used @maximeturenne and @AlexMRuch 's approach.

What I have is:
[code]

I am not finding trouble with delete_run at the moment.
Hopefully it helps for anyone else with the same problem!

[2020-06-18 04:49] hhsecond commented on #2274
This is implemented and merged to master

[2020-06-18 04:49] #2274 closed

[2020-06-18 05:20] nehalecky commented on #1465
https://github.com/mlflow/mlflow/pull/2327, has been merged. Congrats @hhsecond!

This with the KFServing Python API, the https://github.com/kubeflow/kfserving/pull/218, makes all things aligned. Myself and @pakelley are interested to see this move forward, and wanted to know how we can contribute. @rakelkar @pisymbol @AveshCSingh , is a proposal in motion? Let us know how we can help, and thanks

[2020-06-18 12:08] GJAE-nv opened #2961 "[BUG] TypeError: can't pickle fasttext_pybind.fasttext objects"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-06-18 14:28] erichhuang commented on #902
+1

[2020-06-18 18:01] rossmooney commented on #1997
I've had this same issue and fixed it by replicating the mlflow log h2o model functions and replacing save_model with download_model.  Loading models can replace load_model with upload_model.

I suggest we add a ` is_distributed ` flag that can call the appropriate functions using an if statement.

If there is interest in this, I will put together a PR. (very simple change)

[2020-06-18 21:28] #2831 closed

[2020-06-19 00:01] andyk opened #2967 "If main.py exists but MLProject does not, use main.py as default entry point [FR]"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [x] Yes. I can contribute this feature independently.
- [x ] Yes. I would be willing to contribute this feature with guidance fro

[2020-06-19 00:59] AveshCSingh commented on #1465
Fantastic. Now that #2317 has been merged, we have the capability to add plugins for serving. I would recommend creating a separate repo to host the plugin, then linking to it from https://github.com/mlflow/mlflow/blob/master/docs/source/plugins.rst#deployment-plugins.

We'll be pushing an update to document the deployment plugin interface in https://mlflow.org/docs/latest/plugins.html over the ne

[2020-06-19 10:31] dingobar opened #2972 "[FR] Open API 2.0 specs for model webservices"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-06-19 10:34] KPLauritzen commented on #2972
This would be super helpful for me! +1

[2020-06-19 12:29] nandakumar212 opened #2973 "[FR] Add delete_metric() functionality so that when a run is restarted from intermediate epoch checkpoint, data after this point can be purged"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-06-20 04:43] dbczumar commented on #2956
@gabegrand thank you for pointing this out. This is definitely an issue. Out of curiosity, what happens when you query this data using the MLflow search API with descending or ascending ordering on the metric? Is the ordering correct there? That'll help is narrow down whether or not this is a UI-specific issue.

[2020-06-20 04:44] dbczumar commented on #2954
This has been fixed by #2955 . Thanks @Polyphenolx !

[2020-06-20 04:44] #2954 closed

[2020-06-20 06:03] harupy commented on #2956
It looks like `learning_rate` is sorted in alphabetical order. Is this because params are sorted as a string?

[2020-06-20 06:09] dbczumar commented on #2956
@harupy that explanation makes sense, assuming this is a parameter (sounds like `learning_rate` would be a parameter rather than a metric).

[2020-06-20 06:12] harupy commented on #2956
Metrics are sorted correctly even in exponential notation.

![Screen Shot 2020-06-20 at 14 55 41](https://user-images.githubusercontent.com/17039389/85194296-3d6ec000-b308-11ea-8c3e-2d04509a997f.png)

https://colab.research.google.com/drive/1UlUznVB1bsi_UoMtE4u63FxpYA9E78wF#scrollTo=Vch5HVFSNnfU

[2020-06-20 06:17] dbczumar commented on #2956
Awesome! I wonder if the lexical ordering for non-exponentional-notation parameters matches the numerical ordering. If it does, we may want to consider sorting parameters by non-exponential values and then convert them to exponential form for display. @harupy can you investigate this?

[2020-06-20 07:00] harupy commented on #2956
That approach seems to work.

![Screen Shot 2020-06-20 at 15 54 22](https://user-images.githubusercontent.com/17039389/85195529-55e1d900-b30e-11ea-9837-30938dfeba8a.png)

https://colab.research.google.com/drive/1UlUznVB1bsi_UoMtE4u63FxpYA9E78wF?usp=sharing

[2020-06-20 10:01] harupy opened #2976 "[BUG] `mlflow.search_runs` does not raise error or warning when passed invalid `order_by` expression"
`mlflow.search_runs` does not raise error or warning when passed invalid `order_by` expression. I think this behavior is dangerous. Let's consider a scenario where a user wants to select the best model from a bunch of runs and writes the code below:

[code]

What this code does is:
- The `order_by` expression `"metrics.accuracy DECS"` doesn't end with ` desc` or ` asc` so it's parsed as a metric n

[2020-06-20 10:03] jsanjay63 opened #2977 "[BUG] Description update in model versions page of mlflow ui doesn't work"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-06-20 16:34] jkthompson commented on #2877
@mparkhe - would it be possible to get feedback on this proposed design?  If it goes in the right direction I could start working on this in the next few weeks.

[2020-06-21 00:56] jkthompson opened #2978 "question / [FR] - how to download model from UI?"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-06-21 09:34] eavidan opened #2979 "[BUG] mlflow version is not fixed in default conda env"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [x] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-06-21 14:19] harupy opened #2980 "[BUG] Error when opening the registered-models page on the UI due to a file store backend"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-06-21 18:58] sn1c commented on #1945
@tanmaymathur89 I feel like the reason for the stand for booleans and against actions is, that the developers seem to want MLflow to be as language-agnostic as possible. What is your take on that?

[2020-06-21 19:44] tfurmston commented on #867
Hi,

What is the status on this issue? Is the approach proposed by @amesar the agreed approach? Would be great to get an understanding of these point.

Thanks! :)

[2020-06-21 19:58] tfurmston commented on #1563
Hi,

I would also be interested in getting an update of multi-step pipelines in mlflow.

The existing multi-step workflow in the examples has some issues (as noted in the example itself) which are really not ideal. Currently libraries such as DVC seem to handle this case more elegantly.

It would be great to get an update of the current status of multi-step pipelines in mlflow, along with any road

[2020-06-22 04:46] akk5597 opened #2984 "[FR] Specify what conda environment to activate while running a project"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-06-22 11:42] SebastianRiechert opened #2986 "[DOC-FIX]"
![Unbenannt](https://user-images.githubusercontent.com/23136185/85283960-936d7000-b48e-11ea-99b7-c959bdf5fed3.png)
### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another member of your organization be willing to contribute a fix for this documentation issue to the MLflow code base?

- [ ] Yes. I can contribute a documentation fix indepen

[2020-06-22 15:26] igonro opened #2987 "Argument for specifying new docker image name?"
I'm trying to run a project using mlflow and a docker image, like:
`mlflow run . --experiment-name EXP -A gpus=all -P ...`

In the docs, I've read the following:

And my question is: Is there any argument to specify the name of new docker image that mlflow creates? I've been looking into the code, but I couldn't find anything. Thanks!

[2020-06-22 15:37] amiryi365 opened #2989 "[BUG] Postgressql and local aren't synchronized, artifacts saved to wrong folder"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows10
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**: 1.9.0
- **Python version**: 3.7.3
- **npm version, if running the dev UI**:
- **Exact command to r

[2020-06-22 20:09] tanmaymathur89 commented on #1945
IMO its just a pass through. Adding additional grammar is confusing but thats my IMO.

[2020-06-22 20:14] mareksimunek commented on #2769
@harupy would you please ping any of MLflow team member to look at it? By checking your contribution in this project seems like you know who to ask :).

[2020-06-23 08:53] vrobinho commented on #2154
Thanks for this post! It helped me to solve a similar issue with fasttext.

I initially followed the xgb_boost example from the documentation (https://www.mlflow.org/docs/latest/models.html#example-saving-an-xgboost-model-in-mlflow-format), but to no avail.

Does it mean that the xgb_boost example should be fixed in the documentation?

[2020-06-23 10:00] vrobinho commented on #2437
Could you share the code that you used to register the model?

[2020-06-23 14:57] monicatao commented on #884
Hi, I still have the same problem when I run `mlflow server ` and it's still unclear for me how to solve this. Any suggestion?

[2020-06-23 15:48] wuqunfei opened #2991 "[BUG] AzureBlobArtifactRepository.list_artifacts() wrong"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-06-23 17:45] tomasatdatabricks commented on #2154
Hi @vrobinho, yes it does look like the conda environment in the example does not work. It should install xgboost and cloudpickle from pip. Thanks for pointing it out!

[2020-06-23 17:52] gkonstanty commented on #925
I have just upgraded server to run on 1.9.0 version (without postgres backend) and nothing has changed.

Adding ` --gunicorn-opts "--timeout 180"` has somehow helped, but the number of our experiments is constantly growing, so even 180sec will be not sufficient soon. And waiting so long for some simple queries results is kinda annoying.

Could you please check this issue?

[2020-06-23 21:52] data-fool commented on #2645
@gioa do you have an estimate for when this will be worked on/ implemented? Thank you!

[2020-06-23 23:13] pogil commented on #2986
Looks like a broken link. The docs should point to https://www.mlflow.org/docs/latest/tracking.html#backend-stores

[2020-06-23 23:21] pogil commented on #2950
Hi @lipsajohny

Please review the docs on how to launch a tracking server (https://mlflow.org/docs/latest/tracking.html#tracking-server) and how to connect to that server (https://mlflow.org/docs/latest/quickstart.html#logging-to-a-remote-tracking-server).

[2020-06-23 23:21] #2950 closed

[2020-06-23 23:30] pogil commented on #2958
Hi @sudivate - would you please open an issue with Databricks support? We'll be able to much more effectively help you with Databricks issues that way. Use "submit case" link here: https://help.databricks.com/s/

[2020-06-23 23:30] #2958 closed

[2020-06-23 23:36] pogil commented on #2972
related: #2948

[2020-06-23 23:43] pogil commented on #2980
@harupy is this on 1.9?

[2020-06-23 23:48] harupy commented on #2980
@pogil Yes

[2020-06-24 00:29] Zangr commented on #2645
@data-fool thank you for following up on this. What do you think about the following flow for handling model version description?

1. Provide a text field during registration to input the initial description.
2. Add a "Description" column in the model version table showing “First 32 chars of actual desc…”.

Will the above 2 changes solve the problem for your use case?
Note: The actual model versio

[2020-06-24 01:16] Zangr commented on #2645
@data-fool thanks for checking, we are having a discussion about this proposal, will get back to you when I get more information.

[2020-06-24 02:52] data-fool commented on #2645
32 chars for a version description should be enough for my use case. Thank you @Zangr

[2020-06-24 03:36] harupy commented on #2977
I was able to reproduce the same error. Removing `Number` in the following line should fix the error.

https://github.com/mlflow/mlflow/blob/0f7393ec90745864b2beba9f91f684647c10e99d/mlflow/server/js/src/model-registry/components/ModelVersionPage.js#L189

[2020-06-24 06:09] Janus-Xu opened #2993 "[BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-06-24 06:46] PhilipMay commented on #2931
Hi. What about this? Do you have an opinion about my suggestion?

[2020-06-24 07:08] amiryi365 commented on #2989
To summarize, I have 3 problems:

- Working in **distributed deployment**: mlflow backend server and mlflow projects runs in different machines

- Working with **Postgressql** as backend store

- Working with **remote path** as default artifact root

I keep trying many run configurations, including Windows and Linux (Centos), yet without success...

- **All local**: (e.g. Windows) The only success

[2020-06-24 07:21] iamkuldeepsingh opened #2994 "[SETUP-BUG] Option to compare model version no longer available"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this installation issue template to ensure a timely and thorough response.**

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **MLflow

[2020-06-24 07:58] harupy commented on #2994
@iamkuldeepsingh The UI in your screenshot looks similar to the UI for MLflow 1.7.0:

![Screen Shot 2020-06-24 at 16 48 43](https://user-images.githubusercontent.com/17039389/85518302-103d4d00-b63b-11ea-9f76-341b0acae7e9.png)

Can you check the version of MLflow running the following command?

[code]

[2020-06-24 08:57] iamkuldeepsingh commented on #2994
@harupy Thanks for quick response, you might be right- Is there a way to find it from UI (I am running server and client separately) about the version, I can cross check else I will wait for the team who maintains it to run the command and share with me.

[2020-06-24 10:04] harupy commented on #2994
@iamkuldeepsingh Can you check the name of the main js file on your browser?

![Screen Shot 2020-06-24 at 18 58 33](https://user-images.githubusercontent.com/17039389/85535768-7501a300-b64d-11ea-81a8-465f33a6ed16.png)

[2020-06-24 10:13] iamkuldeepsingh commented on #2994
Here you go, it looks same as yours
![image](https://user-images.githubusercontent.com/26478064/85537096-4bd31980-b631-11ea-9f86-8f155ead0c36.png)

[2020-06-24 10:18] harupy commented on #2994
Mine is for MLflow 1.7.0.

[2020-06-24 10:24] iamkuldeepsingh commented on #2994
This helps, Thanks a lot for all the help. I will close the issue

[2020-06-24 10:24] #2994 closed

[2020-06-24 10:25] harupy commented on #2994
@iamkuldeepsingh My pleasure!

[2020-06-24 13:33] Zethson commented on #2898
I am willing to contribute, but would like some response from the developers first.

Do you guys give me green light for this feature?

[2020-06-24 16:34] lipsajohny opened #2996 "how to upoad the yaml file ,mlproject,model or artifacts to s3 bucket using mlflow"

[2020-06-24 17:42] gtadamson opened #2997 "[FR] Add/Expose tags for registered models"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-06-24 18:45] ankitmathur-db commented on #2976
I think this is because we attempt to parse ASC or DESC from the oder by clause, but we default to `is_ascending=True` if we can't parse something valid from it

I can take this one

[2020-06-24 18:55] ankitmathur-db commented on #2980
@harupy are you sure you're on 1.9 and not master when you experience this issue? I would expect https://github.com/mlflow/mlflow/commit/4f576bbcb889275fda303fe531344ff6bb160c9d to be causing this issue, and I currently have an in-progress UI PR that will fix this.

[2020-06-24 19:00] ankitmathur-db commented on #2980
@harupy Confirmed this just now - installing mlflow 1.9.0 and running the UI doesn't show any error on the registered models page for me.

I'll track this issue in the UI PR and close when that merges. Thanks (and let me know if I'm missing some particular configuration here)!

[2020-06-24 20:20] #2977 closed

[2020-06-25 01:18] Zangr commented on #2645
@data-fool Thanks for confirming. Directly using model version description is a straightforward implementation. We should be able to add it in Q3.
We've also discussed offline `last activity` and `source run` among MLflow committer and we think these two information are more detail-oriented and should stay inside the model version details page.

[2020-06-25 06:58] harupy opened #3006 "[BUG] `_enforce_schema` raises `TypeError` in pandas >= 1.0.0 when a dataframe contains string column"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-06-25 07:09] johny-c commented on #1806
Well, I guess someone at databricks had the same thought :P
[databricks acquires redash](https://techcrunch.com/2020/06/24/databricks-acquires-redash-a-visualizations-service-for-data-scientists/?guccounter=1&guce_referrer=aHR0cHM6Ly9kdWNrZHVja2dvLmNvbS8&guce_referrer_sig=AQAAABO-TnUR3hfSbDftd62tyHw2gAJ4tg3T8oKK48DwBHYaTO0lmsDVNO2i6GkW3KLOriTlzYL8W2hnT1ZzNkNicnCT3A0a5iz8JUUSvlb7g3qUVLYZqS63EEceI6E

[2020-06-25 07:35] harupy opened #3007 "[FR] Put a download button on each artiafct tree node to make it easier to download multiple files"
![artifact-buttons](https://user-images.githubusercontent.com/17039389/85675779-f8300100-b700-11ea-978d-a8d760053e93.gif)

Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/b

[2020-06-25 09:10] dingobar commented on #2972
As far as I understand, that one deals with just having a static OpenAPI spec for the mlflow server rest API right? This issue is about having that on the individual models when doing `mlflow serve`. Therefore I don't see how they are related other than that they are both dealing with OpenAPI. Please correct me if I am wrong!

[2020-06-25 17:19] wamartin-aml opened #3008 "[FR] allow kwarg passing to MLmodel for pyfunc loader_module paradigm"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-06-25 17:23] wamartin-aml commented on #3008
To be clear, this is a separate request from #2360

[2020-06-25 18:49] wuqunfei commented on #2991
HI @Trollgeir, yes. I debug inside yesterday. After training successfully, the files have saved on Azure blob storage, but when we want to download the file from Mlflow UI, to click the files like model.pkl, we can never download now. the logic likes following,

1. Click a file or path on UI, the backend will check it is dir or is a file. but the method  self.list_artifacts(artifact_path) is alway

[2020-06-25 18:54] wuqunfei commented on #2991
[code]

I think some logic in Infos.append(p1, True, P3), this True is wrong because it is a file.

[2020-06-25 20:38] #2996 closed

[2020-06-25 21:58] smurching commented on #1806
@johny-c haha :P - yeah I think an example demonstrating how to display & query MLflow experiment data with redash would make a lot of sense. Looks like redash supports JSON-over-HTTP as a datasource ([see docs](https://redash.io/help/data-sources/querying/json-api)). Thus it could be worth looking into building a redash dashboard backed by the MLflow search API - if you or someone else is interes

[2020-06-26 01:30] xinluh opened #3009 "[SETUP-BUG] azure requirement required by default"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this installation issue template to ensure a timely and thorough response.**

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: cross platform
- **MLflow inst

[2020-06-26 07:03] johny-c commented on #1806
@smurching , that's great, I didn't know about JSON as datasource. For me it is hard to dedicate time now, as I'm trying to finish my PhD..

[2020-06-26 11:46] creinders opened #3010 "[FR] logging metrics via log_batch using SqlAlchemyStore takes very long"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [x] Yes. I would be willing to contribute this feature with guidance from

[2020-06-26 14:31] ludaavics commented on #2997
@gtadamson are you still able to tag model versions in 1.9.0 ? I get 404's just trying to figure out if i'm missing something.

[2020-06-26 14:55] gtadamson commented on #2997
I can tag active runs. If I try to tag "deleted" ones I get an error message. Is that what you're talking about?

This ticket is in reference to adding tags on the registered models so those tags would be associated with that family of versions that are associated with a registered model.

[2020-06-26 15:16] ludaavics commented on #2997
No -- I think we're on the same page, talking about tagging registered models and/or versions within a registered model.

Your ticket made it sounds like you were able to tag a registered model's specific versions, presumably using [this endpoint](https://www.mlflow.org/docs/latest/rest-api.html#set-model-version-tag), and you were using it as a workaround for the inability to tag the registered m

[2020-06-26 15:39] gtadamson commented on #2997
I have not tried to programmatically add the tags, my portion of the team is using mlflow in a read-only capacity to drive another system. Adding them programmatically and then not being able to view them in the GUI would not be viable with our current workflow (even if it worked). I had seen in the documentation (like you have) that it seemed to indicate that you could add tags, however in the GU

[2020-06-26 16:46] ludaavics commented on #2997
Gotcha, that clarifies things, thanks.

FWIW, looking more closely, it looks like the deployed html doc we have been looking at might be out of sync with the [generating markup](https://github.com/mlflow/mlflow/blob/master/docs/source/rest-api.rst), let alone with the code. I am not a react guy, but from what i can tell these api routes don't exist in the [code](https://github.com/mlflow/mlflow/bl

[2020-06-26 20:57] ankitmathur-db commented on #3010
Looks great! It sounds like you've made some progress on this, so I think the best course of action is you submit that as a PR and we can go from there!

[2020-06-28 00:35] sylus opened #3012 "MLFLOW with cookie support"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-06-28 01:53] smurching commented on #3007
@harupy nice! The use case of downloading multiple artifacts seems pretty reasonable. An alternative UX for this would be to add a checkbox e.g. to the left of each artifact tree node & a download button (e.g. have a checkbox UX for selecting artifacts similar to the runs table)

This would potentially enable a select-all-artifacts-and-download-as-zip flow in the future & make it harder to misclic

[2020-06-28 02:22] smurching commented on #2967
@andyk makes sense to me! Would be happy to review a PR adding support for this. Note that the current alternative would be to `mlflow run <project-url> -e main.py`, but that workaround is pretty hard to discover & there don't seem to be any negative long-term consequences of making it easy to e.g. `mlflow run https://github.com/yunjey/stargan`. Also agree that main.py is a reasonable default entr

[2020-06-28 02:44] smurching commented on #2933
Hi @tienthegainz, you should be able to specify the git branch of your code to run using the `version` argument to `mlflow run` (e.g. `mlflow run <your-project-uri> --version <desired-branch-name>`). See the [CLI docs](https://www.mlflow.org/docs/latest/cli.html#mlflow-run) and [Python API docs](https://www.mlflow.org/docs/latest/projects.html) for more details, & let me know if that works!

[2020-06-28 03:29] harupy commented on #3007
@smurching The checkbox approach definitely makes sense (it might complicates the UI though). It'd be nice if the checkbox on a directory node allows selecting all files under that directory, which definitely helps a user when the number of files the user wants to download is large.

[2020-06-28 20:12] mrugeles opened #3013 "Issues deploying to AWS SageMaker with aws-cli v2"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-06-28 21:21] mrugeles commented on #3013
I think a solution would be adding a method at `mlflow/mlflow/sagemaker/__init__.py ` to verify the version from the aws cli and return the correct command accordingly.

[2020-06-29 04:43] #2986 closed

[2020-06-29 04:49] dbczumar commented on #2997
Hi @ludaavics @gtadamson , this feature is currently under development. Unfortunately, it looks like our docs for model registry tags were published prior to completion of the feature. We're aiming to introduce this functionality within the next month or so.

[2020-06-29 06:53] cafeal commented on #2980
I got same error on both 1.9.0 and 1.9.1
This may be because of using file store backend.

In 1.9.1, I got a error message shown in browser console.

![image](https://user-images.githubusercontent.com/6898958/85982305-8fa69400-ba20-11ea-9076-428a7fbbcdf3.png)
(This is generated by commit https://github.com/mlflow/mlflow/commit/8e7c94e0115d283fd98a70bfdfcb37713b4b66ff)

[2020-06-29 08:33] harupy commented on #2980
@cafeal It definitely makes sense to show an error message (instead of `something went wrong`) on the UI like below.

![Screen Shot 2020-06-29 at 17 32 53](https://user-images.githubusercontent.com/17039389/85991591-9c31e900-ba2e-11ea-905a-3ac6fb0da95d.png)

[2020-06-29 14:05] monicatao commented on #572
Hi, is there any update for this so far? Can we log artifacts on server now?

[2020-06-29 14:12] Trollgeir commented on #2991
Thanks for the find @wuqunfei - I believe this bug has existed since the first implementation.

https://github.com/mlflow/mlflow/pull/3014 should address this.

[2020-06-29 15:24] gtadamson commented on #2997
@dbczumar that's great news. Feel free to close this ticket or leave it open, whatever is most useful for you.

[2020-06-29 15:53] gtadamson opened #3015 "[FR] Event based notifications for model registry changes"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-06-29 16:09] gtadamson opened #3016 "[FR] Atomic Chained Stage Transitioning"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-06-29 16:44] gtadamson opened #3017 "[FR] Option to show more than 10 registered models per page (or just don't paginate)"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-06-29 16:46] dmatrix commented on #3015
@gtadamson

Thanks for filling this enhancement. In general, it's a seems like good idea to have an event-based notification that triggers an action, such as execute custom code at the registered endpoint. Webhooks for actions come to mind.  Is that what you had in mind?

[2020-06-29 17:11] gtadamson commented on #3015
That is fine. We use Kafka as our messaging bus but having an HTTP container that interfaces with MLflow and then publishes to a topic is easy enough. I'm certainly not an expert in this domain so any solution that is amenable to others is acceptable to me.

[2020-06-29 17:13] ankitmathur-db commented on #2980
That sounds like a better thing to do @harupy! If you end up making a PR for this soon, I'd be happy to review

[2020-06-29 17:49] gtadamson opened #3018 "[FR] Sort/Filter Registered Models in GUI"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-06-29 19:02] andychow-db commented on #1817
Since this time, we've added the ability to download an MLflow artifact via the Java client.

[MlflowClient.downloadModelVersion(model_name, version)](https://github.com/mlflow/mlflow/blob/master/mlflow/java/client/src/main/java/org/mlflow/tracking/MlflowClient.java#L750)

Is that sufficient for y'alls needs?

[2020-06-29 19:11] dmatrix commented on #3016
@gtadamson,

Thanks for filing this enhancement. This multi-step atomic transition feature is part of the enterprise-grade MLflow on Databricks, where you can elect to transition other models versions in the production stage to the archived stage. The net effect is that, as you point out, only a single version is production: "transition v2 from Staging to Production, and v1 from Production to Arch

[2020-06-29 19:33] gtadamson commented on #3016
@dmatrix thanks for the information. Unfortunately our use case requires us to run our own server and it doesn't appear your enterprise edition is purchasable as a software package.

[2020-06-29 20:17] dmatrix commented on #3016
No, it's not a separate package but integrated with the Databricks Unified Analytics Platform. For now, I'll close this enhancement. Let me know if that' okay with you.

[2020-06-29 20:21] gtadamson commented on #3016
That is fine with me unless you think someone in the community will pick it
up to work on. I leave it up to you to know what the best course of action
is.

On Mon, Jun 29, 2020 at 2:17 PM dmatrix <notifications@github.com> wrote:

[2020-06-29 20:21] huberemanuel opened #3021 "[FR] Add pip native support"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [X] Yes. I can contribute this feature independently.
- [X] Yes. I would be willing to contribute this feature with guidance from

[2020-06-29 20:59] amueller commented on #2050
Just heard about this in the databricks keynote (https://www.youtube.com/watch?v=d71ayzZPjas) and would be happy to chat about this.

[2020-06-29 22:11] cafeal commented on #2980
The critical problem is that when I clicked `Models`, the entire application fails.
(e.g. If I clicked Experiments after it, it also shows `something went wrong`.)
So, IMO, this UI should handle this 400 error correctly.

[2020-06-29 22:16] echarso commented on #3015
Hi also interested in this  in the form of webhooks.

Webhooks are more effective than implementing a service pulling information from MLflow about the status of a model and then triggering a proper deployment job.

According to this #2383 (https://github.com/mlflow/mlflow/issues/2383)
 I thought that there is ongoing work on that .

[2020-06-30 01:35] gioa commented on #3007
Thanks, @harupy for working on this! I also feel the checkbox may complicate the UI. To download multiple files under one folder, can we add a download per folder (download-as-zip)? We can also extend it to a "More actions" icon so later we can add more actions like Copy Path in its dropdown.

Also since the primary function of this artifact viewer is to browse files, what do you think of hiding a

[2020-06-30 06:07] sueann commented on #3016
There is actually already an option available in the MLflow client to perform this particular type of chained state transitions: https://github.com/mlflow/mlflow/blob/8cb5e58bb3e7698cc1a004d70b276567544fc21f/mlflow/tracking/_model_registry/client.py#L162-L163. But the model registry backend (`SQLAlchemyStore`) does not implement it yet. We do want to add this support soon, so let's leave this issu

[2020-06-30 06:16] sotte commented on #863
I would also vote for this features. All the other tracking tools (w&b, neptune, comet, sacred, ...) have this feature builtin.

[2020-06-30 10:59] battlesnake commented on #2194
In the next month, I'll be starting on the task that this issue relates to.

So the current approach, if I understand, is:
 - start a parent run in orchestrator, get ID
 - pass ID to child tasks
 - each child task "resumes" the parent run then creates a child run within it

[2020-06-30 13:30] shdowofdeath commented on #2401
any update on this issue ?

[2020-06-30 16:14] dmatrix commented on #3016
Thanks @sueann.

[2020-06-30 16:23] dmatrix commented on #3017
@Zangr Do you have any feedback on this enhancement?

1. Can we preconfigure the number of models per page, with default being 10?
2. Is back arrow takes you to the previous page or the first page?

[2020-06-30 16:45] dmatrix commented on #3013
@mrugeles Thanks for filling this issue and providing steps to reproduce and offering the suggested solutions.

@dbczumar @ankitmathur-db Does this sound reasonable as a proposed solution?
We do compose the aws cmd in the __init__.py (https://github.com/mlflow/mlflow/blob/ffbc6f20b9df10b7a40b2a2ea010144e6279bc98/mlflow/sagemaker/__init__.py#L138)

If so perhaps, have @mrugeles file a PR since he's

[2020-06-30 17:34] jkthompson commented on #3007
This approach would address #2978.  Would be a big help for my use case.

[2020-06-30 18:11] harupy commented on #3007
@gioa Thanks for great ideas! I have created a prototype for the download-all approach (by tweaking the server-side code a bit).

![zip-demo](https://user-images.githubusercontent.com/17039389/86161326-0e4a2100-bb48-11ea-849b-d92c6f47a14a.gif)

[2020-06-30 18:17] gioa commented on #3007
@harupy Awesome! Thank you for the quick turnaround!

[2020-06-30 18:32] harupy opened #3026 "[FR] Introduce a bot that automatically applies labels on issues and pull requests"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-06-30 19:16] AgrawalAmey commented on #2823
MLflow works fine with nginx, in the following configuration also offload the static file serving part to nginx:

[code]

[2020-06-30 19:27] elgalu commented on #2823
@AgrawalAmey #597 still unsolved

[2020-06-30 19:43] AgrawalAmey commented on #2823
@elgalu I think the issue with leading "/" has already been solve in https://github.com/mlflow/mlflow/commit/1e39ef24160717a23dfb96ed1c0e92febca1afc3 . I have been running MLflow in a subdirectory behind nginx without any issues.

[2020-06-30 21:28] dbczumar commented on #3013
@mrugeles @dmatrix the described approach sounds good to me. @mrugeles would you be willing to file a PR with this change?

[2020-06-30 22:08] mrugeles commented on #3013
Hi, I had another look at the code and maybe a better solution is to simply change `get-login --no-include-email` by `get-login-password`.

`get-login` was already [deprecated in V1](https://docs.aws.amazon.com/cli/latest/reference/ecr/get-login.html)

[2020-06-30 22:47] dmatrix commented on #3017
@ankitmathur-db including you to comment on this too.

[2020-06-30 22:53] ankitmathur-db commented on #3017
The issue with the URL back/forward should be fixed by: https://github.com/mlflow/mlflow/pull/3022

I'm open to exploring possible ways to pre-configure things - is that actually necessary if the back/forward functionality works @gtadamson

[2020-06-30 23:16] #2976 closed

[2020-06-30 23:49] Zangr commented on #3017
Thanks for creating the FR @gtadamson. It makes sense to make the model version per page configurable.
cc @gioa maybe we can provide a list of options like 10 20 50 100? What do you think?

[2020-07-01 00:42] gtadamson commented on #3017
@ankitmathur-db Personally I prefer more models per page under any circumstances (even if the page navigation is fixed). I've seen the 10 25 50 100 type options before, that seems reasonable. It would be nice if your choice was stored as the default for the next time you viewed it. Maybe I'm an outlier but I always immediately select the largest number of results per page.

[2020-07-01 02:10] cafeal commented on #2980
Can I fix this?
or, someone do?

[2020-07-01 08:14] ciberger commented on #884
Hi, after hours searching online I couldn't find a solution when storing artifacts locally. Strangely, my test file is located within the run's artifacts directory, but it's not shown on the mlflow UI. Tried `mlflow ui --backend-store-uri models/mlruns --default-artifact-root models/mlruns` unsuccessfully. YAML file points to the right folder.

[code]

[code]

[2020-07-01 08:23] ciberger opened #3030 "artifacts not shown in UI"
Hi, after hours searching online I couldn't find a solution when storing artifacts locally. Strangely, my test file is located within the run's artifacts directory, but it's not shown on the mlflow UI. Tried `mlflow ui --backend-store-uri models/mlruns --default-artifact-root models/mlruns` unsuccessfully. YAML file points to the right folder.

[code]

[code]

# System information
**Have I written

[2020-07-01 08:25] wuqunfei commented on #2991
thanks, @Trollgeir for the fix, I saw you commit. Waiting for the next release version.

[2020-07-01 08:40] ciberger commented on #2152
`mlflow gc`didn't remove deleted runs from file directory when run locally. I'd to do this manually.

[2020-07-01 11:33] mapa17 opened #3031 "Accessing model context for pyfunc packaged model in mlflow >= 1.9"
Hello,

i am not sure if this is considered a feature request or a bug, but this might be an particular issue based on the way I use mlflow.

## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow co

[2020-07-01 15:18] julien-h opened #3032 "[BUG] Error when using mlflow.keras.log_model(model, 'best_model')"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-07-01 15:30] rlizzo commented on #867
Hi Everyone,

I am a maintainer of the [Hangar](https://github.com/tensorwerk/hangar-py) project for data versioning.

I have the same question as @tfurmston above. We'd like to integrate with ML flow, but don't have a clear picture of how to make that happen. As mentioned above, data versioning is fairly complex, and the approaches taken by each of the individual tools are wildly different. How c

[2020-07-01 15:36] dmatrix commented on #3026
@harupy Thanks for this enhancement. This would aid in my initial triage, as it'll automatically consign labels with ones selected
in the PR/FR/Issue list.

Will assign this to you, then.

cc @pogil

[2020-07-01 15:58] harupy commented on #3026
@dmatrix Thanks! Could you jump to [this issue](https://github.com/harupy/auto-labeling/issues/18) and just check the `enhancement` checkbox? I just want to check how the bot reacts to this change.

[2020-07-01 16:03] harupy commented on #3026
@dmatrix Thanks! Could you open an issue in [harupy/auto-labeling](https://github.com/harupy/auto-labeling) with the following description? I just want to check how the bot works when a new issue is opened.

[code]

[2020-07-01 16:13] dmatrix commented on #3030
If you running this on localhost, MLflow creates the default `mlruns` directory as your local artifact and store for you. Take this
example,
`import mlflow
  import joblib

if __name__ == '__main__':
     with open('test.file', 'wb') as f:
        test = range(20)
        joblib.dump(test, f)

   with mlflow.start_run() as run:
      run_id = run.run_id = run.info.run_uuid
      mlflow.log_artifac

[2020-07-01 16:23] dmatrix commented on #3030
You only want to specify ``back-end-uri`` and `--default-artifact-root` as options to `mlflow ui` if

-  your tracking server is running remotely or locally as a server,

- you are using a backend store and artifact store are at different locations or you backstore is an `SQLAlchemy` compatible database

- you can read about this [here](https://mlflow.org/docs/latest/tracking.html#storage)

But if

[2020-07-01 18:27] arjundc-db commented on #3009
Hi @xinluh
Thanks for filing.
The azure dependency was changed to support a new artifact repository added (https://github.com/mlflow/mlflow/pull/2911) in the 1.9 release.
I will go ahead and close this issue, thanks for filing again.

[2020-07-01 18:27] #3009 closed

[2020-07-01 18:58] ciberger commented on #3030
@dmatrix, thanks for your timely response 🚀

You're totally right! After running `mlflow ui` inside the `mlruns`directory I finally found the artifacts folder.

[2020-07-01 18:58] #3030 closed

[2020-07-01 21:05] dmatrix commented on #3026
@harupy, I just filed an [issue](https://github.com/harupy/auto-labeling/issues/35)

[2020-07-01 21:32] dmatrix commented on #3026
@harupy, created a second issue to test enhancement: https://github.com/harupy/auto-labeling/issues/36

Both `bug-fix` and `enhancement` seem to work.
Cheers!

[2020-07-01 22:41] ankitmathur-db commented on #2898
Hey @Zethson! Thanks for bringing this up - @dbczumar for context

[2020-07-01 22:43] dbczumar commented on #2284
Now that #2375 is merged, I'm going to go ahead and close this! Thanks @csteegz !

[2020-07-01 22:43] #2284 closed

[2020-07-01 22:47] apurva-koti commented on #2903
Hello! Conda is used to install dependencies for `mlflow run` by default. You can use the `--no-conda` option to avoid this.
https://www.mlflow.org/docs/latest/quickstart.html#running-mlflow-projects

[2020-07-01 22:47] #2903 closed

[2020-07-01 22:49] smurching commented on #2406
@harupy this is awesome! Would be happy to review a PR for this - how much larger does the new dependency make the MLflow UI bundle?

[2020-07-01 22:50] #2336 closed

[2020-07-01 22:50] smurching commented on #2336
Should be fixed in MLflow 1.8.0

[2020-07-01 22:50] #2478 closed

[2020-07-01 22:51] dbczumar commented on #2134
Thanks folks, closing this as a duplicate of #2565

[2020-07-01 22:51] #2134 closed

[2020-07-01 22:52] juntai-zheng commented on #2390
I think changing `every_n_iter=1` and updating the example would be good. I'll open up a PR tomorrow for that.

[2020-07-01 22:56] dmatrix commented on #2227
@khosravipasha

Did you try any of the suggestions here? If not, we can close this issue.

[2020-07-01 22:56] AveshCSingh commented on #2435
Hi @arita37. Would you mind providing some more details, including the manual steps you would like to automated?

I'm closing this issue since it is underspecified. Please open a new issue with the above if this is still an issue for you.

[2020-07-01 22:56] #2435 closed

[2020-07-01 22:58] smurching commented on #866
@gogasca awesome! BTW, note that we've actually released a plugin API for model deployment - see guidelines [here](https://mlflow.org/docs/latest/plugins.html#writing-your-own-mlflow-plugins) for writing a new plugin, a [dummy example plugin](https://github.com/mlflow/mlflow/blob/master/tests/resources/mlflow-test-plugin/mlflow_test_plugin/fake_deployment_plugin.py), and the user-facing API / exam

[2020-07-01 23:00] #1529 closed

[2020-07-01 23:01] sueann commented on #1735
Would the `search_runs` API work for you? You can specify the ordering via the `order_by` parameter. https://www.mlflow.org/docs/latest/search-syntax.html#python

[2020-07-01 23:02] dmatrix commented on #2437
Can you please indicate or share the steps or code you used that resulted into this problem?

[2020-07-01 23:03] #1298 closed

[2020-07-01 23:03] smurching commented on #866
If anyone's interested in writing such a plugin, let me know & we can collaborate on the design - we did some super high-level investigation of what deployment to GCP might look like in the [design doc](https://docs.google.com/document/d/1KsyYO82OtHPEV4Uq8_ukDyZdBfgt7EuCtE2zFSQVea4/edit#heading=h.meupc7tyg8fr) for the plugin interface. I'll copy-paste it below for reference:

GCP AI platform
* Dep

[2020-07-01 23:04] #2015 closed

[2020-07-01 23:04] juntai-zheng commented on #2250
Hi @wqcqikvc, I'm going to close this for now. If upgrading MLflow doesn't work for you, feel free to reopen this issue. Thanks!

[2020-07-01 23:04] #2250 closed

[2020-07-01 23:05] ankitmathur-db commented on #1818
@akashkumar398 please ping us if the issue persists

[2020-07-01 23:05] #1818 closed

[2020-07-01 23:06] sueann commented on #1772
All done

[2020-07-01 23:06] #1772 closed

[2020-07-01 23:08] dmatrix commented on #2350
You can install mlflow on the colab and it will run and track the experiment under your colabs drive. When you launch `mlflow ui`, it will launch try to launch to the server on the colab machine, and there is no way connect to it. Nor can you set the enviornment variable
`DISPLAY localhost:0.0` because it cannot the connect to your host.

One workaround is to download the `mlruns` directory from y

[2020-07-01 23:10] ankitmathur-db commented on #1252
@dmatrix @pogil @mateiz - I think our processes around this have evolved quite a bit since the last response and since we became a part of Linux Foundation. Maybe you all can comment more on it

[2020-07-01 23:10] khosravipasha commented on #2227
Yes, feel free to close the issue. My issue was resolved but it was a while ago so don't remeber the exact thing I tried.

[2020-07-01 23:11] sueann commented on #1811
It sounds like you want something like `getOrCreate` - could you write a wrapper method around that?

[2020-07-01 23:12] smurching commented on #1452
Seems like this has since been resolved (see discussion in https://github.com/mlflow/mlflow/pull/1635), closing

[2020-07-01 23:12] #1452 closed

[2020-07-01 23:14] #2031 closed

[2020-07-01 23:17] smurching commented on #1711
Hi @smwade! There's now a plugin interface for running MLflow projects against custom backends - see https://mlflow.org/docs/latest/plugins.html for details. If you or someone else ends up writing a plugin for executing projects on Azure, we'd be happy to link to it / document it on mlflow.org - thanks!

[2020-07-01 23:20] dmatrix commented on #2350
![Screen Shot 2020-07-01 at 4 19 26 PM](https://user-images.githubusercontent.com/1117597/86300075-ad0d6680-bbb6-11ea-8584-9c5fa3c38e47.png)

[2020-07-01 23:24] Zangr commented on #2084
New runs table with column filters is implemented in https://github.com/mlflow/mlflow/pull/2251

[2020-07-01 23:24] #2084 closed

[2020-07-01 23:27] dmatrix commented on #2350
I would not consider this as a bug.

[2020-07-02 00:21] dmatrix commented on #2227
Okay, thanks @khosravipasha. will close it

[2020-07-02 00:21] #2227 closed

[2020-07-02 00:43] harupy commented on #3026
@dmatrix Thanks for filing the issues! I'll briefly explain how the bot works.

The bot does the following on specified events.

1. Extract labels (checkboxes) from the description using a specified regular expression
2. Add checked ones and remove unchecked ones (ignore ones that don't exist in the repo)

For an issue, we can use the `issues` event and add labels right after the issue is opened o

[2020-07-02 00:44] harupy commented on #3026
I'll submit a PR when it's ready.

[2020-07-02 00:45] lqdev opened #3034 "[FR] Create Log Artifacts Handler/Endpoint for REST API server"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-07-02 03:29] huberemanuel commented on #3021
After carefully reading the Project section on the docs, I found that is possible to use the flag "--no-conda" to use the mlflow without a conda environment. It's a peculiar design choice to the conda environment to be the standard choice, instead of the system current environment, but this solves the issue. I will close this issue.

[2020-07-02 04:38] mrugeles commented on #3013
@dbczumar
I'll do

[2020-07-02 04:38] mrugeles commented on #3013
https://github.com/mlflow/mlflow/pull/3036

[2020-07-02 05:58] gogasca commented on #866
@smurching thanks for the details, I will be interested in working on this. More than happy to sync up next week.

[2020-07-02 12:23] echarso opened #3038 "[BUG]ImportError: cannot import name 'NumpyEncoder' from 'mlflow.utils.proto_json_utils'"
### Willingness to contribute

- [ ] No. I cannot contribute a bug fix at this time.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**:
NO

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
mac os Siera 10.12.6

- **MLflow installed from (source or binary)**:
pip3 install mlflow
- **MLflow version (run ``mlflow --v

[2020-07-02 14:39] mlwkshops commented on #973
Re-opening the bug. Facing same problem.

[2020-07-02 14:59] harupy commented on #2406
@smurching

The current master (commit hash: bceb50024c98c8b372092557cbe4e93330fb2c94)

[code]

[Light Build](https://github.com/conorhastings/react-syntax-highlighter#light-build)

[code]

[2020-07-02 15:45] AgrawalAmey opened #3039 "[FR] Hydra Support"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-07-02 16:05] hyzhak commented on #1529
@2mariya yes, I usually do that way but it somehow work only in case of binary classification, but quickly becomes inefficient when number of classes grows

[2020-07-02 18:24] smurching commented on #2406
@harupy nice! Seems like minimal impact either way, but especially minimal impact if we use the light build, if that's not too much work :) - would be happy to review a PR

[2020-07-02 18:25] smurching commented on #2406
Oh, I see - with the light build we need to explicitly specify which languages to enable syntax highlighting for. Given the relatively minimal bundle-size impact + lower maintenance burden of using the full build, maybe we can just use that.

[2020-07-02 18:43] smurching commented on #2050
@amueller that'd be awesome! @dbczumar is leading design/development efforts on this, we'll reach out to set up time to discuss :)

[2020-07-02 18:48] smurching commented on #866
@gogasca awesome, that'd be great! I'll reach out to you over open-source Slack (let me know if there's a better way) to set up time to discuss :)

[2020-07-02 19:49] amueller commented on #2050
Cool! There's a discussion that might be relevant here:
https://github.com/scikit-learn/scikit-learn/issues/78

[2020-07-03 00:37] harupy commented on #2406
Agree with using the full build. I'll submit a PR!

[2020-07-03 02:38] harupy commented on #2406
@smurching Submitted a PR ⬆️

[2020-07-03 06:38] harupy commented on #3032
@julien-h I wrote a [colab notebook](https://colab.research.google.com/drive/1ws_i1Lu6Gx6_8WWEMzv0kOPlL7tAEvQJ#scrollTo=0Uv6sxTpTNGV) to investigate this issue.

The error is caused by the `mlflow.log-model.history` tag. On each epoch, `mlflow.keras.log_model` appends logged model info (a dict which looks like below) to this tag. After several epochs, this tag becomes very large and exceeds the le

[2020-07-03 10:24] jtilly opened #3042 "[FR] Increase height of artifact viewer (or make the height flexible)"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [x] Yes. I would be willing to contribute this feature with guidance from

[2020-07-03 10:48] mikeoconnor0308 opened #3043 "[BUG] MLFlow version not specified in packages"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [x] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-07-03 15:14] OlivierBondu opened #3044 "[FR] UI should show the version and point to according documentation"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-07-03 15:49] OlivierBondu commented on #2835
@ankitmathur-db : please see the PR refered in the thread. The changes are quite minimal but would have saved me overlooking this section at first.

[2020-07-03 16:12] OlivierBondu commented on #2834
Hi @AveshCSingh

please see above a tentative PR for fixing this :)

[2020-07-03 16:35] ankitmathur-db commented on #2835
Thanks for submitting the PR @OlivierBondu - will take a look on Monday

[2020-07-03 17:37] flouraNadar commented on #163
Even I encountered a similar issue. I am unable to store, view, and retrieve the artifacts in MLFlow. The artifact folder is empty irrespective of creating a new experiment and assign proper experiment name and location.

Server: mlflow server --backend-store-uri mlruns/ --default-artifact-root mlruns/ --host 0.0.0.0 --port 5000

Create an Experiment: mlflow.create_experiment(exp_name, artifact_lo

[2020-07-03 17:50] yl790 opened #3047 "[CI] move R tests from Travis to github actions"
As discussed with Javier, this change should help unblock https://github.com/mlflow/mlflow/pull/2367

[2020-07-03 18:01] lorenzwalthert commented on #3047
I have wip at https://github.com/lorenzwalthert/mlflow/pull/2. Will open a PR here today or tomorrow.

[2020-07-03 19:20] yl790 commented on #3047
@lorenzwalthert Great!
Re familiarity with GH action: yes I worked with GH actions on 2 projects, so, I would somewhat experienced : )
Let me know if you need help.

[2020-07-03 22:40] lorenzwalthert commented on #3047
@yl790 I submitted #3048, you are welcome to have a look. I think we should at some point clean up all the CI/CD scripts for R, but I'd like to wait until after we merged #2367 because there is some interaction between the two topics.

[2020-07-04 04:44] #2862 closed

[2020-07-04 19:53] abdoulsn commented on #3030
Let's test this . I did not found any solution since.

[2020-07-04 23:15] #2406 closed

[2020-07-05 07:09] hoangphucITJP opened #3052 "[BUG] Metric 'min_val_loss' is malformed; persisted metric data contained 1 fields. Expected 2 or 3 fields."
**Please fill in this bug report template to ensure a timely and thorough response.**

### Willingness to contribute
- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute a bug fix at this time.

### System information
- **OS Platform and Distribution: Ubunt

[2020-07-05 09:35] jhagege opened #3053 "WARNING: mlflow 1.9.1 does not provide the extra 'aliyun-oss'"
### System information
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**: 1.9.1
- **Python version**: 3.8
- **Exact command to reproduce**: pip install mlflow[aliyun-oss]

### Describe the problem
When trying to install with pip install mlflow[aliyun-oss], I get the following error:

Is it p

[2020-07-05 10:44] edgBR commented on #2890
Hi @dmatrix

We tried to add snowflake to the SQL alchemy backends but we got the following error:
[code]

Any hints?

[2020-07-05 18:33] #3047 closed

[2020-07-06 03:40] hoangphucITJP commented on #3052
It works now after I removed the last line in metric logs:
[code]

[2020-07-06 03:40] #3052 closed

[2020-07-06 08:35] jhagege commented on #3053
I solved with the following:
`pip install mlflow[aliyun-oss]==1.9.1 --no-binary mlflow`

[2020-07-06 08:35] #3053 closed

[2020-07-06 13:15] faddey-w commented on #925
same issue, number of runs is ~50. In my case this machine also runs Tensorboard which uses a lot of RAM - look like less available RAM makes this issue more severe.

[2020-07-06 16:48] dmatrix commented on #3038
@echarso Thanks for filing this. Can you try installing the following:

- `conda install -c conda-forge xgboost`

- `conda install -c anaconda py-xgboost`

[2020-07-06 16:59] dmatrix commented on #3034
@lqdev

Can you elaborate a little more on the use case where you want to log artifacts? For example, what languages, in particular, you want to issue REST calls from, and are you using MLflow to create runs and experiments for?

[2020-07-06 17:06] dmatrix commented on #3039
Can you answer the motivation questions above so that we can understand what's the need for this integration?

- What is the use case for this feature?
- Why is this use case valuable to support for MLflow users in general?
- Why is this use case valuable to support for your project(s) or organization?
- Why is it currently difficult to achieve this use case? (please be as specific as possible abo

[2020-07-06 17:11] dmatrix commented on #3030
@abdoulsn

This issue was closed as demonstrated. The problem was how and what you specified as arguments to mlflow ui. The issuer
tried it and worked for him.

[2020-07-06 17:15] dmatrix commented on #3042
@jtilly Thanks for filing this enhancement.

@Zangr @ankitmathur-db is this something reasonable and doable?

[2020-07-06 17:49] dmatrix commented on #3043
@mikeoconnor0308

Thanks for filing this issue.

Have you been able to save a model with a specific version of mlflow and run that as a project, to see if the versions are identical?

@dbczumar @tomasatdatabricks We don't seem to save mlfow version as part of the conda.yaml
![Screen Shot 2020-07-06 at 10 47 47 AM](https://user-images.githubusercontent.com/1117597/86623298-32f22e80-bf76-11ea-8a41-4

[2020-07-06 18:56] dmatrix commented on #3044
@OlivierBondu

Thanks for filling this bug. I assume that you are referring to the `Docs` link in the MLflow UI launched.

Your ask is that depending on what version of the MLflow you are currently running, the docs link should go to that respective version of the docs, not always the latest, and that mlflow ui should indicate that respective version?

![Screen Shot 2020-07-06 at 11 28 47 AM](http

[2020-07-06 18:57] tomasatdatabricks commented on #3043
@dmatrix @mikeoconnor0308 Yes this is indeed intentional and the assumption is that models logged with older versions of MLflow will continue to work with newer MLflow versions.

The main reason for this is that the MLflow dependency is also used to serve the model (i.e. it defines the web server) and if there are any changes to the model server in the future MLflow these would not apply to older

[2020-07-06 22:09] ankitmathur-db commented on #3017
@gtadamson - some other UI work is pending, but I have code written for this. The v1 probably won't remember your settings across sessions (just based on bandwidth), but I'll ping here once that PR is up

[2020-07-06 22:09] ankitmathur-db commented on #3044
Seems reasonable to me! @OlivierBondu, would you be able to file a PR for this that we could review?

[2020-07-06 22:17] ankitmathur-db commented on #2980
@cafeal , if you have bandwidth, we'd love to review a PR on this. @harupy might also be able to take it on

[2020-07-06 22:38] dmatrix commented on #3043
Thanks, @tomasatdatabricks for the quick response.

@mikeoconnor0308, this indeed is intentional for forward compatibility. As much, can we close this issue, not as a bug?

[2020-07-06 22:40] dbczumar commented on #2050
Hi @amueller ! I sent an email to the address listed on your website (https://amueller.github.io/). Looking forward to discussing autologging / scikit-learn metadata collection with you!

[2020-07-06 22:43] dmatrix commented on #3017
Thanks @ankitmathur-db for responding and prioritizing.

[2020-07-06 22:53] dbczumar commented on #2987
@igonro This is a good question! Currently, the MLflow Project name is used for the image name. You can always rename the image after it's built using `docker tag` (https://docs.docker.com/engine/reference/commandline/tag/). Does this meet your requirements?

[2020-07-06 22:56] dmatrix commented on #2890
@edgBR,

Thanks for filing this. Normally, for big feature enhancement, we would like to see some design or follow the guidelines
in [contribution process](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst).

Plus, it's hard to say from the stack trace where the problem is.
@mparkhe @dbczumar do have any hints where he should do next?

[2020-07-06 22:58] dbczumar commented on #2898
Hi @Zethson . I think adding the `-t` flag makes sense. Can you file a PR for this? More than happy to review it!

[2020-07-06 23:08] dbczumar commented on #2851
Hi folks, I've added the `help wanted` label to this issue. It would be great to put together a PR that leverages Docker's `-v` flag to create sibling containers for multi-step Docker project workflows.

[2020-07-06 23:12] dbczumar commented on #2850
Hi folks! @smurching @Zethson I think that support conda and Docker environments in MLprojects file would be a great enhancement. I agree that flags of the form `--with-docker` and `--with-conda` or a `--env` flag that can be used to specify the environment would be very useful. We could also deprecate `--no-conda` and replace this with `--no-env`. It would be great to get a concrete design for th

[2020-07-06 23:20] dbczumar commented on #2621
Hi @saelha01 , the DockerHub documentation seems to suggest leveraging Docker client configuration instead, which should be picked up by MLflow: https://docs.docker.com/network/proxy/#configure-the-docker-client. Can you try this out and let me know if it helps?

[2020-07-06 23:23] dbczumar commented on #2492
Hi folks! I'm going to go ahead and close out this issue, since it seems that the reported Docker installation issues have been resolved. Thanks for all the help @AdamBarnhard ! :)

[2020-07-06 23:23] #2492 closed

[2020-07-06 23:28] dbczumar commented on #2321
Hi @argoyal @sueann, I'm going to close this issue due to inactivity. @argoyal Please feel free to re-open this if the suggestion in https://github.com/mlflow/mlflow/issues/2321#issuecomment-580915616 does not satisfy your requirements.

[2020-07-06 23:28] #2321 closed

[2020-07-06 23:31] dbczumar commented on #2199
Hi @cfusting, sorry for the absurd delay here. Can you take a look at https://mlflow.org/docs/latest/models.html#custom-python-models and see if this meets your requirements? Custom Python models allow arbitrary feature transformations and business logic to be encoded in your model's inference routine. During serving, this logic is ultimately executed behind the RESTful server created by `mlflow m

[2020-07-06 23:36] #2835 closed

[2020-07-07 00:08] cafeal commented on #2980
@ankitmathur-db thanks for your reply, I will make PR.
Before that, I wanna discuss with you about the direction.
1. handling the 400 error in frontend
2. don't throw 400 error in server side
Which one do you think is better?

[2020-07-07 00:11] dbczumar commented on #2108
Hi folks, I agree that the existing conflict between gunicorn, gevent, and TensorFlow is problematic. I'm a bit concerned about defaulting to gthread for stability reasons, since any process-level issues caused by a single request will impact all requests (afaik, gthread serves requests using threads within a single process).

[2020-07-07 00:18] dbczumar commented on #2028
Hi @chuber1986 , this is currently supported by the `docker_env#image` attribute of the MLproject configuration (see https://github.com/mlflow/mlflow/blob/master/examples/docker/MLproject#L4). You can provide your own Docker base image using this field; I would recommend use a base image built on top of the MLflow Docker image produced by `mlflow build-docker`. For more information, see https://ml

[2020-07-07 00:18] #2028 closed

[2020-07-07 00:21] ankitmathur-db commented on #2980
I think for the time being, I think proceeding with a frontend fix would make sense

[2020-07-07 00:28] dbczumar commented on #1920
Hi @srinivascreddy , I think that publishing an MLflow image to dockerhub is a great idea. I'll work with the MLflow Commiters to get a DockerHub account created and periodically push images.

[2020-07-07 00:37] dbczumar commented on #1441
Hi @samgd , assuming that you're referring to Docker containers in the context of MLflow Projects, the `docker_env` attribute of your MLproject configuration file supports a list of mounts that can be used to provide access to your large files / data within the Docker container, without the need for copying. Each mount point is exposed to the container using the `docker run -v` flag. More informat

[2020-07-07 00:37] #1441 closed

[2020-07-07 00:44] Zangr commented on #3044
Currently, the doc link is hardcoded in App.js.
[code]
We can change this to `https://mlflow.org/docs/<x.y.z>/quickstart.html` based on the current MLflow version.
cc @andreakress to confirm the docs URL pattern

We also need a way to get the current version of MLflow like a static file that gets update per release.
cc @smurching, do you know if we have a file with updated current version?

[2020-07-07 00:52] Zangr commented on #3042
@jtilly, thank you for the FR. Yes, it makes sense to set a `min-height` for the outer box and allow larger content to push down. You are welcome to submit a PR and we'd love to help review it.

[2020-07-07 00:55] dmatrix commented on #3042
Thank you @Zangr for the quick response. @jtilly, looking forward to your PR.

[2020-07-07 01:17] dmatrix commented on #3044
@Zangr, @andreakress,

The `https://mlflow.org` site Docs link, IMHO, should point to the latest, which is hardcoded in the `index.html`.  However, for the mlflow ui, when launched, could dynamically link to https://mlflow.org/docs/<x.y.z>/index.html`, reflecting the installed version of the mlflow.

There is an `mlflow/version.py` in our mlflow Github that gets updated. @smurching can confirm it.

[2020-07-07 01:20] dmatrix commented on #1252
@pogil and I are working on updating the CONTRIBUTIONS to include Governance, technical steering committee, and other related guidelines with respect to Linux Foundation.

[2020-07-07 08:15] mikeoconnor0308 commented on #3043
Yep, thanks for the explanations.

[2020-07-07 08:15] #3043 closed

[2020-07-07 16:20] mberr commented on #2907
Hi @dmatrix , @nsidn98 .

Is there any progress towards this issue? I am also interested in this use case. To be a bit more specific, I am looking for a method with an interface similar to

[code]

returning a dataframe (in long-format) with columns `timestamp, step, metric, value` comprising all metric values logged throughout a run.

Moreover, it may be interesting to retrieve these dataframes f

[2020-07-07 17:45] cafeal commented on #2980
@ankitmathur-db
I made a PR for this issue.
Actually, I'm very new in both mlflow and react.
I hope you review it gently :)

[2020-07-07 18:19] hmcp22 opened #3063 "[BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-07-07 18:32] Zangr commented on #3063
cc @smurching @juntai-zheng

[2020-07-07 20:12] ankitmathur-db commented on #2980
Thanks @cafeal! I'll take a look when I have some time. Don't worry about being new at it! We're very thankful for contributions

[2020-07-08 00:13] leobenkel commented on #2861
I am trying to set where the model artifact should be written to so that the MLFlow server can find them but it seems that `MLFLOW_ARTIFACT_URI` does not do anything.

Is there a way so that not each Data scientist have to write the same `artifact_location` over and over ?

It seems that this issue talk about the issue but I dont see a resolution.

[2020-07-08 00:14] leobenkel commented on #2861
It seems that does not work if the path is a local path. I am building a POC with `docker-compose` and both the client and server will write to their path in their own container but it is the same local folder on the host machine.
Just so i dont have to set up S3 connection and permission etc... for a POC.

[2020-07-08 00:44] AveshCSingh commented on #2834
Thank you for contributing this, @OlivierBondu! I've just left some comments.

[2020-07-08 00:48] lqdev commented on #3034
Hi @dmatrix,

I'm looking to use MLFlow with .NET. With the REST API, I can log metadata on runs / experiments. However, for model and artifact management, I'm limited.

[2020-07-08 00:49] smurching opened #3065 "[FR] Support serving Pytorch models via TorchServe"
**Please fill in this feature request template to ensure a timely and thorough response.**

## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this featur

[2020-07-08 01:04] AveshCSingh commented on #2298
It looks like this issue is not pertinent to OSS mlflow, so I'm going to close it.

If you're a Databricks customer, please follow up Databricks support, or at ideas.databricks.com.

[2020-07-08 01:04] #2298 closed

[2020-07-08 01:36] AveshCSingh commented on #2973
Hi @nandakumar212. Thanks for submitting this feature request. It sounds reasonable to me.

Would you be interested in implementing it?

[2020-07-08 02:27] sunny1401 commented on #2861
I could be wrong but I think if you have a custom location you need to add MLFLOW_ARTIFACT_URI as a environment variable in bash profile. So in my case every person logging has this location set in their bash profile- and mlflow reads it from there.. also if your location is different from the set location at MLFLOW_ARTIFACT_ URI then u can pass artifact location while creating experiment. But for

[2020-07-08 02:30] bickyealias opened #3069 "[BUG]Issue with R API log artifacts"
We are trying to use MFLOW from RStudio.
MLFLOW tracking server is hosted on a remote server[docker container] access over https served by an nginx.
We have noticed 2 errors

- RUN ID missing.At times it complains that the run id generated its not found.However that run ID is existing on MLFLOWServer .However if we rename the run id on the tracking server and re run the code the run id is accepted

[2020-07-08 02:31] leobenkel commented on #2861
So I have the server running on container1 , and the client with jupyter on container2 . Both are sharing a volume when i start the docker images.

The metrics are being submitted correctly, I see them in the UI of MLFlow.

But the `mlflow.sklearn.log_model` write to `./tmp/mlflow` .

On container2 `MLFLOW_ARTIFACT_URI` is set to the local folder attached to the same volume on the host.
But it doe

[2020-07-08 02:32] leobenkel commented on #2861
<img width="576" alt="Screen Shot 2020-07-07 at 19 31 55" src="https://user-images.githubusercontent.com/4960573/86867931-91a7cd00-c088-11ea-969a-0d1340485f16.png">

This is a screenshot of the terminal from within Jupyter on container2

[2020-07-08 02:33] leobenkel commented on #2861
But when I call `mlflow.sklearn.log_model`

it goes to the wrong place:

<img width="824" alt="Screen Shot 2020-07-07 at 19 33 19" src="https://user-images.githubusercontent.com/4960573/86868040-c4ea5c00-c088-11ea-86a4-4bfc803309a2.png">

[2020-07-08 02:34] sunny1401 commented on #2861
Did you try logging files using log_artifact and check if other artifacts are getting logged correctly.?

[2020-07-08 02:35] leobenkel commented on #2861
I am using the examples from the mlflow repo.
What should I change ?

[2020-07-08 02:37] leobenkel commented on #2861
<img width="1166" alt="Screen Shot 2020-07-07 at 19 36 50" src="https://user-images.githubusercontent.com/4960573/86868257-3a562c80-c089-11ea-8969-bcd7e32bd369.png">

this is what is inside the output folders

[2020-07-08 02:41] sunny1401 commented on #2861
What I meant was like probably confirming if the artifact location is being read by both containers- so I would try running the experiment from both containers and also try logging the wine.csv file as an artifact using mlflow.log_artifact(<file_path>). This is probably a stupid question - but could it be because your artifact location is a hidden folder? I concur that its not reading the artifact

[2020-07-08 02:43] leobenkel commented on #2861
Nothing is ever written into `MLFLOW_ARTIFACT_URI=/home/jovyan/.mlflow/artifacts` but container2.
So container1 where MLFlow server is running is never seeing any artifact

[2020-07-08 02:43] sunny1401 commented on #2861
Also metrics can be seen cause they are set using tracking uri - so they work..

[2020-07-08 02:44] sunny1401 commented on #2861
Okay - let me check on my system by changing mlflow artifact uri to hidden location

[2020-07-08 02:47] leobenkel commented on #2861
with `mlflow.log_artifact("wine-quality.csv")`, it saves in the same location:

<img width="1158" alt="Screen Shot 2020-07-07 at 19 46 26" src="https://user-images.githubusercontent.com/4960573/86868993-9d948e80-c08a-11ea-8018-2db1a21d028d.png">

in the `tmp` folder

[2020-07-08 02:47] leobenkel commented on #2861
I use to have a different path earlier that was without the `.` folder and the result was the same

[2020-07-08 02:50] sunny1401 commented on #2861
Can container1 access different files in container2. And does it have write access on the second container?

[2020-07-08 02:53] leobenkel commented on #2861
they cant write into each other folders , they share the same network, containe2 is able to send packets to container1 since the metrics are being recorded.

The `--default-artifact-root` point to `container1/folder`
and on container2 `MLFLOW_ARTIFACT_URI` point to `conainer2/folder`
but both containers have a `-v localFolder:container1/folder` and `-v localFolder:container2/folder` so they are es

[2020-07-08 02:59] leobenkel commented on #2861
Oh ! I might have found something:

<img width="601" alt="Screen Shot 2020-07-07 at 19 59 16" src="https://user-images.githubusercontent.com/4960573/86869967-60310080-c08c-11ea-9006-ad7a616825c4.png">

it looks like the path value is coming from here !

[2020-07-08 03:00] leobenkel commented on #2861
this is a screenshot taken from the MLFlow UI

[2020-07-08 03:07] sunny1401 commented on #2861
So this os the default location where mlflow would save the artifact if you dont provide anything - So I am assuming you are setting the volume using docker-compose -? Also if you manually add the files - can they be read by mlflow or you see then interactively? Sorry for being confused. I just dont understand why is it not reading

[2020-07-08 03:09] leobenkel commented on #2861
Reading is not the problem. the problem is the writing.

[2020-07-08 03:09] leobenkel commented on #2861
yes i am using docker-compose

[2020-07-08 03:31] leobenkel commented on #2861
I figured out a way.

If I make the `container1/folder` and the `container2/folder` path the exact same identical one. Even tho they are on two different images. Then it works

[2020-07-08 03:37] sunny1401 commented on #2861
Neat - congrats! Also thanks for explaining - quite interesting. Makes sense I guess since in the end its the shared location path that mlflow is getting.

[2020-07-08 03:41] leobenkel commented on #2861
hmm yeah i guess. It's not very convenient.
Also there are A LOT of issues with `experiment-id` vs `experiment-name` , and in the code vs through `cli`. I could go on and on about it but this thread is not about it

[2020-07-08 06:51] adream307 opened #3071 "[FR] set proxy on build docker image"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-07-08 08:12] igonro commented on #2987
Yes, I guess it's a workaround. The problem I was facing was that I had an experiment name with uppercase letters and I've been having some errors because of that (Docker doesn't like uppercase letters in image names). What I finally did was create a new experiment, and then it worked fine. My question was because having a way to choose the image name, would allow to have experiments with uppercas

[2020-07-08 08:12] #2987 closed

[2020-07-08 16:38] dmatrix commented on #3065
@tomasatdatabricks @juntai-zheng Do you guys want to take a look at it this and assign the appropriate priority?
cc @smurching

[2020-07-08 16:41] dmatrix commented on #3069
@javierluraschi @kevinykuo Do you have any feedback on this?

[2020-07-08 16:41] AveshCSingh commented on #2931
Sorry for the delayed response on this, Philip. I agree that there's not a compelling reason to throw here, and we should instead truncate + issue a warning.

If you are still interested in contributing this, I would be happy to review the PR.

[2020-07-08 16:47] AveshCSingh commented on #3032
Thanks for reporting this @julien-h and debugging @harupy.

Related: The proposal in #2931 is to truncate long tags rather than failing, which would band-aid this issue.

[2020-07-08 16:57] dmatrix commented on #3034
@lqdev

Thanks for the response. @arjundc-db @smurching Any reason not to expose `runs/log_artifacts` REST API?

[2020-07-08 17:10] AveshCSingh commented on #2907
@nsidn98, I believe you can use the get_metric_history function mentioned by @mberr to get an array of metrics for a run, and cal this repeatedly for every run in your experiment.

I've attached the label "priority/awaiting-more-evidence" to this issue, because I don't currently see a lot of value in adding a batch API here.

[2020-07-08 17:16] #2801 closed

[2020-07-08 17:20] AveshCSingh commented on #2841
I think you may want `mlflow.search_runs(filter_string="tags.project.entryPoint='ep'")`. I'm closing this issue, but feel free to re-open if this does not work.

[2020-07-08 17:20] #2841 closed

[2020-07-08 17:42] AveshCSingh commented on #2505
Hi @cdancette,

Thanks for submitting this enhancement idea. If we add an auto_increment parameter, what should happen when some metrics are logged for all epochs, while others are only logged for some? I believe this is a common pattern when evaluating a model is expensive.

Because of this, I'm not sure this improvement would be worthwhile.

This simplifies a process that is already quite simple

[2020-07-08 17:42] #2505 closed

[2020-07-08 19:36] aarondav commented on #2419
There has never been autoincrement behavior for steps. However, if you sort by timestamp, you get a behavior that pretty closely approximates this:

![image](https://user-images.githubusercontent.com/1400247/86961893-d8440880-c116-11ea-87a6-199913b652dd.png)

This behavior has not changed since the introduction of steps.

(Thanks to @dbczumar for the screenshot and info.)

[2020-07-08 21:16] AveshCSingh commented on #2111
I think the most common use case for this is to set the active experiment. This is already covered by [mlflow.set_experiment](https://www.mlflow.org/docs/latest/python_api/mlflow.html#mlflow.set_experiment), so I'm going to close this issue.

[2020-07-08 21:16] #2111 closed

[2020-07-08 21:16] #2081 closed

[2020-07-08 21:20] AveshCSingh commented on #2025
Closing this issue, as it was fixed by #2874.

[2020-07-08 21:20] #2025 closed

[2020-07-08 21:32] AveshCSingh commented on #2953
Hi @sackh. You should not need to run the `mlflow server` to specify a `backend-store-uri` and `default-artifact-root`. You can set the backend-store-uri for the client by calling mlflow.set_tracking_uri or setting the MLFLOW_TRACKING_URI environment variable, and can set the artifact location in [create_experiment](https://mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.Mlf

[2020-07-08 21:32] #2953 closed

[2020-07-08 21:54] AveshCSingh commented on #1901
Closing as this was fixed by #2022

[2020-07-08 21:54] #1901 closed

[2020-07-08 22:06] AveshCSingh commented on #1825
There's an open issue to remove barriers to running MLflow behind a reverse proxy (#1825). MLflow does not support OAuth, but once these barriers are resolved you should be able to run MLflow on a server that requires authentication.

[2020-07-08 22:13] AveshCSingh commented on #1721
Hi @LeanderK. Is this issue still relevant to you?

If so, did you have in mind a diff of .txt model artifacts or of params?

[2020-07-08 22:22] AveshCSingh commented on #2505
By the way, check out the workaround here: https://github.com/mlflow/mlflow/issues/2419#issuecomment-655714430

[2020-07-09 07:03] akk5597 commented on #2984
Hello MLflow team, I have made the changes for this FR, and would like to contribute it to the source code. I'll make a pull request and provide the changes for review. Please let me know if this is okay with you.

[2020-07-09 07:15] bickyealias opened #3077 "[BUG]Operation failed after waiting for 10 seconds"
Currenty when we try to run a sample code to log the experiment
we get the below error
[code]
Code we ran are:
[code]
Is it possible to configure this on our side to have an increased timeOut?
I see the reference [here](https://github.com/mlflow/mlflow/blob/4edf15a88d3792915fffee5f37257e2cbab87200/mlflow/R/mlflow/R/tracking-server.R#L101)

[2020-07-09 14:14] TsvetanRangelov opened #3079 "Mlflow tracking server error when exploring artifacts"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this installation issue template to ensure a timely and thorough response.**

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Mac OS 10.14
- **MLflow insta

[2020-07-09 16:02] n8shadow opened #3081 "[DOC-FIX] List of URIs needed to be white-listed for mlflow on (azure) databricks"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this documentation issue template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another

[2020-07-09 16:19] dmatrix commented on #2163
@sephib and @asandu1971
Is this still an issue now. Can we close the bug?

[2020-07-09 21:10] dmatrix commented on #2350
Here is an [example](https://github.com/dmatrix/google-colab/blob/master/mlflow_issue_2350.ipynb)

[2020-07-09 22:00] dmatrix commented on #2163
The general convention is that you launch the `mlflow ui` from the directory where you either ran the example as a MLflow Project `mlflow run . -e <entry_point>` or `cd examples/dir_name; python file_name.py`

Let me know if this is still an issue. We are planning to have more extensive documentation with this `examples` README.md file to clarify and expound how to use these examples

[2020-07-09 22:05] dmatrix commented on #3077
@kevinykuo @javierluraschi any comments on this possibility?

[2020-07-09 22:16] dmatrix commented on #3079
@TsvetanRangelov Thanks for filing this.

Can you elaborate what do you mean the interface crashes? Does the `mlflow ui` interface crashes? Do you any stacktrace? From what  read, it seems like the `mlflow ui` comes up okay and you can peruse and view the metric, but "crashes" when clicking on the model artifact.

Can you saving with `mlflow.pyfunc.log_model("pyfunc_model", python_model=a)`?

[2020-07-09 22:25] dmatrix commented on #3081
@pogil @aarondav Is this something that MFllow should exercise or the user should. Is such a `white-listed` for mlflow usage exist?

[2020-07-09 22:36] dmatrix commented on #2948
@pogil how do we want to prioritize this? backlog or community help?

[2020-07-09 22:52] dmatrix commented on #2837
@OlivierBondu

What version of the `pyarrow` is needed? Presumably, that version may change over time, so do need to update documentation each time when a new version is available?
cc: @arjundc-db

[2020-07-09 23:04] dmatrix commented on #2248
This is a continuing effort to enhance document all APIs with:

- code snippets

- description of input and output parameters

- method description, behavior, and semantics

- Any errors returned or exception thrown.

[2020-07-09 23:09] smurching commented on #3034
We probably don't want to introduce `LogArtifacts` as a standard MLflow REST API for the reasons described in https://github.com/mlflow/mlflow/issues/629#issuecomment-587959112. However, as described in that issue, we'd welcome a design proposal to enable logging artifacts via the tracking server. Let's continue discussion on https://github.com/mlflow/mlflow/issues/629 :)

[2020-07-09 23:12] smurching commented on #3034
In particular, the idea would be to in fact introduce a handler for logging artifacts to the Python MLflow server and introduce a generic HTTP artifact URI scheme that clients interact with by POSTing artifacts to the specified URI, but not introduce a standard LogArtifacts REST API. Will close for now as a duplicate of #629 , but feel free to reopen!

[2020-07-09 23:12] #3034 closed

[2020-07-09 23:17] dmatrix commented on #2722
This has been fixed now.

https://mlflow.org/docs/latest/plugins.html#writing-your-own-mlflow-plugins

[2020-07-09 23:17] #2722 closed

[2020-07-09 23:21] smurching commented on #3012
@sylus does your server support HTTP basic authentication or bearer auth? It's possible to configure the client to use basic or bearer auth via environment variables as described in https://www.mlflow.org/docs/latest/tracking.html#logging-to-a-tracking-server

[2020-07-09 23:23] dmatrix commented on #2778
@harupy Since you are willing to contribute it, can you prioritize it?

[2020-07-09 23:28] smurching commented on #2948
@lqdev and others, thanks for raising this - we'd be happy to review a proposal of how Swagger API docs might be added & what it'd entail for the development workflow (for example, can we autogenerate Swagger API docs from our existing protobuf REST API definitions?)

[2020-07-09 23:36] smurching commented on #2944
@DogeWatch could you clarify the intended use case here a bit more? I don't think we want to allow execution of arbitrary scripts (stored in artifacts) on the MLflow server via the UI - it seems like that could lead to security issues. Note that it is possible to download scripts locally from the artifact folder & execute them on your laptop

[2020-07-09 23:46] smurching commented on #2922
@andycraig I think your current workaround is the current-best way to identify runs that are missing a particular param (you could also use the `mlflow.search_runs()` API without a filter to get the runs as a pandas DataFrame, and then call `isna` directly on the DataFrame, if you want to do this entirely programatically).

I'd be happy to brainstorm ways to enhance the search API to support your

[2020-07-09 23:57] smurching commented on #2838
Hi @johny-c, thanks for filing this! Do you need to log the params as a dictionary, or would it be feasible to log each key-value pair in the dictionary as a separate param to work around the current limitations of the UI?

[2020-07-10 00:49] dmatrix commented on #2948
Excellent! Thanks, @pogil @smurching @lqdev Hopefully, we can get community help on this one.

[2020-07-10 06:06] n8shadow commented on #3081
At least few I could figure out for now:

Running R command mlflow::install_mlflow() on azure databricks requires at least access to:

- https://www.anaconda.com
- https://repo.anaconda.com/pkgs/r/noarch/repodata.json.bz2
- ??? pip._vendor.urllib3.connection.VerifiedHTTPSConnection ...... /simple/mlflow/

The last thing I am not sure about.

Here are two excerpts of the of the error messages I am

[2020-07-10 08:02] LeanderK commented on #1721
unfortunately I have moved on and not used mlflow in a while. I had something similar to git diff in mind. I have always stored a textual representation of all the hyper-parameter I could find for the model, implicit or explicit, so that I can compare them by comparing the files (learning rate etc.). It looked like this:

[code]

 I also had a simple textual representation of the model via https:/

[2020-07-10 08:25] johny-c commented on #2838
Hi @smurching, I think it makes more sence to log the params as a dictionary (a single json/yaml file). Flattening the dictionary would leave you with the question of a level separator that can only work for string keys. In any case, indexing/being able to search the config is what's important. Maybe now that databricks acquired redash, JSON makes even more sense, as I guess you can get some parsi

[2020-07-10 11:38] n8shadow commented on #3081
Having white listed IPs of subsequent uri, installation finally worked.

https://www.python.org/getit/
 https://docs.conda.io/projects/conda/en/latest/user-guide/install/
https://repo.anaconda.com/pkgs/r/noarch/repodata.json.bz2
https://repo.anaconda.com/pkgs/main/linux-64/current_repodata.json
'https://repo.anaconda.com/pkgs/main/linux-64'
https://www.anaconda.com
https://repo.anaconda.com/pkgs/r

[2020-07-10 14:44] TsvetanRangelov commented on #3079
@dmatrix
It shows the page with something went wrong and a splash picture. I cannot find any relevant information to the error on the client side and there is no relevant log on the server side relating to an exception. The js response to the click contains these files which I can verify exist.
files: [{path: "/home/mlflow/0/8b4569d7a578423b9ced8b5750c3a317/artifacts/model/MLmodel", is_dir: false,

[2020-07-10 15:09] harupy commented on #3079
@TsvetanRangelov Can you open the dev console on the browser and check if there are error messages?

[2020-07-10 15:18] TsvetanRangelov commented on #3079
Oh, there actually is an error! Here is the stack trace
[code]

[2020-07-10 15:24] harupy commented on #3079
It looks like this line causes the error:

https://github.com/mlflow/mlflow/blob/add51b931951dfc77716da3bd04c87c3684b4f97/mlflow/server/js/src/experiment-tracking/reducers/Reducers.js#L292

[2020-07-10 16:24] sansagara commented on #1756
DS projects keep geting complicated with time, and type checks are usually checked/enforced more each time. I have a project with lots of dependencies and MLflow is the only one giving me mypy issues. I would love that to not be the case :)

[2020-07-10 16:32] sp7412 commented on #109
This issue was a major gotcha for me. Took several hours and then I found this post.

[2020-07-10 17:24] AveshCSingh commented on #1721
Thanks for the reply! I agree that this would be useful.

[2020-07-10 18:35] #3026 closed

[2020-07-10 18:52] smurching commented on #1756
@sansagara makes a lot of sense! Since my last comment, we've dropped Python 2 support in MLflow, so it should be easier to introduce type-checking to the MLflow codebase (note that we've already started to use types when introducing new Python code to MLflow, e.g. https://github.com/mlflow/mlflow/pull/2775)

We'd welcome contributions to start adding type annotations to other parts of the codebas

[2020-07-10 19:01] sansagara commented on #1756
Love it! I will try and get some time to contribute a bit on the core files. Maybe start with cli.py

[2020-07-10 19:02] dmatrix commented on #3081
This issue might be user/organization-specific where they white-list certain IPs and URIs. Can we close this issue? If this was a serious issue in the wider community since release of MLflow 1.x, we would have heard it by now.

[2020-07-10 19:12] OlivierBondu commented on #2837
I have no clue how correct versioning is ensured. For me it does look like the import is done at runtime, so I really don't know (see [ONNX import](https://github.com/mlflow/mlflow/blob/6bf10023dc6b9612606558e40f98624e91049c17/mlflow/onnx.py#L37), [scikit-learn import](https://github.com/mlflow/mlflow/blob/6bf10023dc6b9612606558e40f98624e91049c17/mlflow/sklearn.py#L46), [XGBoost import](https://gi

[2020-07-10 19:27] dmatrix commented on #2837
Let me discuss this among our committers.

[2020-07-10 19:38] harupy commented on #1756
@smurching I think we should drop Python 3.5 if we add type annotations because Python 3.5 does not support [variable annotations](https://www.python.org/dev/peps/pep-0526/)

[2020-07-10 23:36] #2898 closed

[2020-07-11 21:04] lorenzwalthert commented on #3077
I am not sure I understand you run mlflow the way it was intended to be ran because of the following points:

- ids are usually only specified in `mlflow_start_run()` when you want to run code as part of an already existing id. I don't think the idea is to create new runs with a specific ID.
- to log parameters and metrics, you don't need to specify the run id if a run is active already.
- note th

[2020-07-11 21:12] lorenzwalthert commented on #3069
Do you run mlflow v1 on all involved components? Because this version was [released a year ago](https://github.com/mlflow/mlflow/tree/1.0.0) and I can imagine that either the bug was fixed already or caused by version incompatibilities. And as discussed in #3077, maybe also with the fact that you are pre-assigning an ID. I admit that this is a speculation 😄.

[2020-07-11 21:16] lorenzwalthert commented on #1423
I implemented support for xgboost in #3085 (following the keras model implementation), so I think it wouldn't be too hard to adapt for h2o.

[2020-07-11 22:05] smurching commented on #1423
Yeah, we'd be happy to review a contribution adding support for logging h2o models from R. Following the approach used by the [existing keras flavor](https://github.com/mlflow/mlflow/blob/master/mlflow/R/mlflow/R/model-keras.R) seems like a reasonable way to go, would be happy to discuss further if anybody's interested in contributing :)

[2020-07-12 00:53] flouraNadar opened #3086 "No Artifacts Recorded"
I am unable to store, view, and retrieve the artifacts in MLFlow. The artifact folder is empty irrespective of creating a new experiment and assign proper experiment name and location.

Server: mlflow server --backend-store-uri mlruns/ --default-artifact-root mlruns/ --host 0.0.0.0 --port 5000

Create an Experiment: mlflow.create_experiment(exp_name, artifact_location='mlruns/')

[code]
The code c

[2020-07-13 03:28] smurching commented on #2818
Looks like this was fixed in #2827 , thanks @harupy! Closing

[2020-07-13 03:28] #2818 closed

[2020-07-13 03:30] smurching commented on #2814
Closing for now, thanks @dbczumar for clarifying!

[2020-07-13 03:30] #2814 closed

[2020-07-13 03:42] smurching commented on #2768
@tanmaymathur89 just to make sure we understand, it seems like your goal is the ability "to see the metrics trends over time" across runs, where the metric in question has a single relevant value per run (e.g. see how final model accuracy changes over time across different runs). One solution could be to log the run's start time as parameter or metric, and then rely on the scatter plot in the run

[2020-07-13 04:38] smurching commented on #2746
Closing this for now as the original question's been answered, but feel free to reopen!

[2020-07-13 04:38] #2746 closed

[2020-07-13 04:51] smurching commented on #2730
@rom1504 thanks for filing, just wanted to check in - were you able to profile the SQL queries / do you have a reproducible example to facilitate further investigation?

[2020-07-13 05:10] smurching commented on #2682
Looking at the stacktrace, looks like we call `write_yaml` [here](https://github.com/mlflow/mlflow/blob/v1.3.0/mlflow/store/file_store.py#L211) with a `meta_dir` that is `None`. AFAICT the only way this can happen is if `mkdir` returns `None` [here](https://github.com/mlflow/mlflow/blob/v1.3.0/mlflow/store/file_store.py#L205), which only seems possible if `self.root_directory` is `None` in the `Fi

[2020-07-13 05:17] smurching commented on #2816
@you-n-g that's right - this actually seems like a bug in MLflow. Namely, we should update [this line](https://github.com/mlflow/mlflow/blob/939b494d9cccbb32999439fa744076f5fad28749/mlflow/store/tracking/__init__.py#L12) to ensure that we compute an absolute path for the default artifact URI (i.e. replace it with `os.path.abspath(DEFAULT_LOCAL_FILE_AND_ARTIFACT_PATH)`). Would you be interested in

[2020-07-13 05:27] smurching commented on #2526
Closing for now, but @redballon345 please feel free to reopen if you're still hitting this issue/have a reproducible example!

[2020-07-13 05:27] #2526 closed

[2020-07-13 05:36] smurching commented on #2464
@Minyus thanks for filing - the same question actually came up in #1924, where the resolution was that adding an `artifact_location` parameter to `set_experiment` makes the API hard to reason about, as you're not guaranteed that the artifact location will actually be set on the newly-created experiment (the `artifact_location` will be honored if the experiment doesn't already exist with a differen

[2020-07-13 05:40] smurching commented on #2448
@mjlbach thank you again for contributing this performance improvement! Marking the issue as closed 🎉

[2020-07-13 05:40] #2448 closed

[2020-07-13 05:42] smurching commented on #2382
Related: https://github.com/mlflow/mlflow/issues/2382

[2020-07-13 05:43] smurching commented on #2676
Closing as dup of #2382

[2020-07-13 05:43] #2676 closed

[2020-07-13 05:45] smurching commented on #2240
@Ahmedn1 apologies for the delay, could you clarify a bit more about the exact error behavior you see? e.g. attempting to connect to the server hangs, etc?

[2020-07-13 05:54] smurching commented on #2096
As @mparkhe mentioned, the MLflow client uses the ID of the user who launched the current Python process (e.g. the user who launched your remote jupyter server) as the run's user ID. Running the jupyter server as a different user should work, as should overwriting the `mlflow.user` tag (just verified the latter works using MLflow 1.9.1). Closing for now, but feel free to reopen if you're still run

[2020-07-13 05:54] #2096 closed

[2020-07-13 05:56] smurching commented on #2126
@suoych apologies for the delay, would you be able to retry with the latest MLflow and attach full server logs? The search_model_versions error should be fixed.

[2020-07-13 05:59] smurching commented on #2150
@jmdinis apologies for the delay - would you be able to try e.g. listing artifacts in your target S3 bucket via the AWS CLI from your server, to verify that AWS credentials are configured correctly on the server? MLflow just uses boto3 (the official AWS s3 Python client) under the hood, so if S3 credentials are configured correctly I'd expect the server to be able to access S3

[2020-07-13 06:21] smurching commented on #1856
@SkyWaffles thanks for the input! CTRL+C should kill the gunicorn processes - if not, that might be a separate bug/issue.

As next steps for this feature, we should:
* Write out use cases for this feature (can be brief). So far, the main use cases I'm aware of are finding/referencing `mlflow server` processes and stopping said processes (not sure what use case for the `--pause` functionality is)
*

[2020-07-13 06:22] smurching commented on #1856
Applying the important-longterm issue for now, can bump the priority if someone's interested in writing up use cases/a detailed design for this feature

[2020-07-13 06:43] bickyealias commented on #3069
@lorenzwalthert thanks for your response.
Below is the code we are running.After replacing ```run_uuid``` with ```run_id``` as per your suggestion in [3077](https://github.com/mlflow/mlflow/issues/3077)
[code]
The latest error we see is
[code]
Earlier my assumption was this error is caused by ```mlflow_log_artifact```.However when calling ```mlflow_log_param``` alone by commenting other calls,it t

[2020-07-13 08:11] smurching commented on #2464
^Actually, better than logging a warning would be to just throw if the user-provided `artifact_location` doesn't match the artifact location of the existing experiment, if an experiment with the same name already exists.

[2020-07-13 10:56] harupy commented on #3086
@flouraNadar Thanks for filing this. Does the same thing happen when you run the python code without running `mlflow server ...`?

[2020-07-13 12:06] harupy commented on #2135
Adressed by https://github.com/mlflow/mlflow/pull/2225

[2020-07-13 12:06] #2135 closed

[2020-07-13 14:12] flouraNadar commented on #3086
Yes, even without using mlflow server(used mlflow ui) for tracking and also without using mlflow.create_experiment() encountered the same problem. Nothing recorded in artifacts.

FYI: The artifacts folder is created in mlruns folder in default location but does not log any information in it.

[2020-07-13 14:25] tanmaymathur89 commented on #2768
@smurching I dont believe you can log the start time as a [metric](https://www.mlflow.org/docs/latest/python_api/mlflow.html#mlflow.log_metric).Logging it as a parameter might work but we cannot enforce logging the start_time parameter.

It would be ideal if the graph could be plotted against the start time of the run since the information is already available.

Since we wan't it with in the UI, p

[2020-07-13 15:33] dmatrix commented on #3079
@TsvetanRangelov
How are you launching the `mflow ui`?  Are you using`mlflow ui --backend-store-uri postgresql://xx:xx@postgres/mlflow_db`?

[2020-07-13 16:23] dmatrix commented on #2834
@OlivierBondu
I like the diagram flow above. A suggestion if you going to add this to the docs as part of the PR:

Diagram all the scenarios of interaction among the client, tracking server, and mlflow ui:

1. localhost
2. remote host

Showing how entities—params, metrics, artifacts—flow and logged among the individual components during these scenarios; helps visualize what transpires. As @AveshCS

[2020-07-13 16:28] dmatrix commented on #2224
All this has changed with the new CONTRIBUTION.rst guidelines. Closing this.

[2020-07-13 16:28] #2224 closed

[2020-07-13 16:47] MishaVeldhoen commented on #3063
I'm having the same issue, and have also looked at the code briefly. It looks like the local mlflow generates a random run id here https://github.com/mlflow/mlflow/blob/939b494d9cccbb32999439fa744076f5fad28749/mlflow/store/tracking/file_store.py#L383, and then passes the ID along to kubernetes as an environment variable for the pod. The pod doesn't know about this run ID and throws the exception.

[2020-07-13 17:36] smurching commented on #2102
Thanks @rom1504 for filing, looks like column filters were implemented in https://github.com/mlflow/mlflow/pull/2251 :), closing for now!

[2020-07-13 17:36] #2102 closed

[2020-07-13 17:40] smurching commented on #1984
Related: https://github.com/mlflow/mlflow/issues/1896

[2020-07-13 17:42] smurching commented on #1970
@mirekphd the lack of boto3 dependency in core MLflow is indeed intentional to keep the set of MLflow dependencies minimal. Note that you can `pip install mlflow[extras]` and boto3 will be installed

[2020-07-13 17:42] #1970 closed

[2020-07-13 17:48] #354 closed

[2020-07-13 18:02] smurching commented on #2984
@akk5597 could your use case be solved by activating the desired conda environment (e.g. `conda activate your-desired-env`) before invoking `mlflow run`, rather than passing the environment name to `mlflow run`?

[2020-07-13 18:37] arjundc-db commented on #2991
Fixed by #3014. Thanks @Trollgeir

[2020-07-13 18:37] #2991 closed

[2020-07-13 18:48] OlivierBondu commented on #2834
@dmatrix : it is not currently part of the PR (see https://github.com/mlflow/mlflow/pull/3046)

I can relate that diagrams would definitely help, it did help me, as we say in French: ["Un bon croquis vaut mieux qu'un long discours"](https://citations.ouest-france.fr/citation-napoleon-bonaparte/bon-croquis-vaut-mieux-long-28889.html) (a picture says a thousand words)

However if we want 'all the sc

[2020-07-13 21:24] smurching commented on #2824
@kokoff makes sense, would be happy to review a PR that scopes the git URL regex more appropriately! Adding the `important-longterm` label but let me know if you're interested in contributing and I'll update to `important-soon`

[2020-07-13 21:30] smurching commented on #2264
@Tradunsky apologies for the delay, would you be able to provide more details around how to reproduce this issue? Does seem like it'd be good for us to ensure conda-env-creation logs are visible. At least on my Mac & MLflow 1.9.1, I can in fact see the output of `conda env create` while running a project

[2020-07-13 21:41] Tradunsky commented on #2264
@smurching since our users use pip inside conda.yaml, these errors not directly related to conda env creation, but pip used inside it. Apparently, conda does a poor job integrating pip environments also - in contrast to conda environment creation, pip is not running in transaction.

Since long time passed, I cannot come up with exact code or steps to stably reproduce the issue. However, the simple

[2020-07-13 22:08] sp7412 commented on #2350
So there's no way to make this work in the cloud?

[2020-07-13 22:13] sp7412 commented on #863
Is it possible to capture stdout text from training a tensorflow model and view it in the mlfow web ui as an artifact?

[2020-07-13 22:13] smurching commented on #2016
Got it, thanks for the clarification - it's surprising to me as AFAICT we basically execute a `COPY` dockerfile command to copy files into the container, so .dockerignore should be honored: https://github.com/mlflow/mlflow/blob/361f1ecc17e96edd1e6d2d8f10345d986ad45192/mlflow/projects/__init__.py#L660-L674

Happy to help guide further investigation if anyone's able to / interested in taking a look,

[2020-07-13 22:25] smurching commented on #1866
Hi @arita37 - thanks for raising this. We currently encourage discussion of MLflow on Slack at https://mlflow-users.slack.com/ (see invite link on https://mlflow.org/), closing this for now

[2020-07-13 22:25] #1866 closed

[2020-07-13 22:27] smurching commented on #2280
@Connossor makes sense, we'd welcome a contribution to fix this issue

[2020-07-13 23:12] smurching commented on #2543
@whensbrunch what version of postgres are you running with? And what version of MLflow did you previously use that worked? Do things work if you attempt to run the server using the latest version of MLflow (1.9.1)?

[2020-07-14 00:05] dmatrix commented on #2834
For diagrams, I guess using Google slides and converting them into PNG  is probably okay, as others have access to it.

No worries, I'll file a separate PR and work on it as I'm going through the process of improving doc across all MLflow components and am familiar with components too.

[2020-07-14 00:09] you-n-g commented on #2816
I've encoutered some problems when deploying mlflow develop environment

1. I install mlflow by `python setup.py develop`
2. I follow the [instructures](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst#running-the-javascript-dev-server)
![image](https://user-images.githubusercontent.com/465606/87365609-41110200-c5a9-11ea-81fe-0e573da03ec8.png)
![image](https://user-images.githubuserco

[2020-07-14 06:20] catapulta opened #3097 "[FR] Save logs to artifact store when running in Kuberentes"
Hello. I'd love to be able to run experiments using `mlflow run --backend kubernetes` and have the container logs saved as an artifact in the artifact store. Today, I find myself having to search through pod logs through `kubectl`, which is a painstaking and highly technical task. Being able to read those logs from MLFlow UI would be of great help -- it'd help tremendously in debugging and trackin

[2020-07-14 08:21] sansagara commented on #724
Nice to see this is at least considered. I was wondering, since i saw this:

Is this actually something that enterprise plans include?

[2020-07-14 12:38] MishaVeldhoen commented on #3063
As suggested by @hmcp22, simply removing `MLFLOW_RUN_ID` seems to fix the issue, although it feels sort of like a hacky fix.

Changing https://github.com/mlflow/mlflow/blob/09e7a398d8f756dd3774a39efbcb6e06645a3279/mlflow/projects/kubernetes.py#L39 to:

[code]
does resolve the problem with this particular example.

[2020-07-14 14:38] jaklan commented on #2016
@smurching we've replaced MLFlow Projects with Kedro (it's much more advanced) and don't play with it for months, so I haven't tested that issue since the original post. It should be quite simple to reproduce anyway - just put .dockerignore in the main project folder and check if it is honored.

[2020-07-14 15:38] dmatrix commented on #3097
@catapulta Thanks for filing this feature request enhancement. Seems like a reasonable request and addition to the experimental `--backend kubernetes`

A couple of questions:
- Are these container logs that you want to be saved as artifacts associated specifically with a run? That is, does the code in your MLflow project log to stdin and stdout for debugging the model?
- And if true, then you will

[2020-07-14 16:08] dmatrix commented on #2837
@tomasatdatabricks @juntai-zheng Do you know how we ascertain what version of the `pyarrow` for `ftp, boto3 for s3`, etc. is compatible? (We don't install `pyarrow` during our `pip install mlflow`, but expect the right version available)

[2020-07-14 16:18] dmatrix commented on #2123
@ca8888

User provisioning/authentication varies across many organizations, and there's no real generic way to do that. What was suggested far the most generic way to do it via nginx. We would love the help from the community to write various plugins to do auth via identity management scheme, such as SCIM.

Or if they have done via other schemes to share with the community.

[2020-07-14 16:22] dmatrix commented on #2045
This is related to [this issue](https://github.com/mlflow/mlflow/issues/2834) and will get documented once the PR is filed, reviewed, and merged.

[2020-07-14 16:23] #2045 closed

[2020-07-14 16:59] javierluraschi opened #3099 "[FR] Support for pre/post-processing for R models"
Looks like we might be missing support for custom pre/post-processing for R models.

From public Slack group:

[code]

[2020-07-14 17:16] tomasatdatabricks commented on #2837
Importing dependencies at run time is unfortunately necessary to keep the required dependencies minimal. We do not expect all MLflow users to use all modules - e.g. there is no need to to install boto3 if you do not use s3.

Documenting necessary dependencies for each module is definitely a good idea.

@dmatrix The current pyarrow requirement for hdfs artifact repo is pyarrow <= 0.17.0 ( presumabl

[2020-07-14 18:06] catapulta commented on #3097
@dmatrix thanks for the fast reply -- answers below:

- Are these container logs that you want to be saved as artifacts associated specifically with a run? That is, does the code in your MLflow project log to stdin and stdout for debugging the model?
-- Yes, the container logs are associated to a run. In our normal use case, the code in the MLflow project prints to stdout and if anything fails we'

[2020-07-14 18:47] OlivierBondu commented on #2837
Thinking about it, maybe a good way to go for this would be to add a generic statement wherever needed in the docs (like 'to use this feature you need additional dependencies, please refer to <link to the code>) and link to the various / appropriate `requirements.txt`.

You guys have many of them for properly testing features, these could be the single point of reference (code as documentation) an

[2020-07-14 19:10] sp7412 commented on #2740
Is there a plan to implement this capability?

[2020-07-14 20:57] dannydk6 opened #3100 "[BUG] Multiple Runs created for one Run when using MLFlow Server"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-07-15 01:04] AveshCSingh opened #3101 "[FR] Reorder Runs table columns, including parameters and metrics"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-07-15 01:06] AveshCSingh commented on #2179
This is a good idea, but I think a better interface would be to allow the user to drag and reorder columns within the Runs Table. I've added a feature request for this here: https://github.com/mlflow/mlflow/issues/3101

I will close this Issue to consolidate discussion to the above feature request. If anyone feels that it would be better to order the columns by order of calling `log_parameter` and

[2020-07-15 01:06] #2179 closed

[2020-07-15 05:12] akk5597 commented on #2984
Hi @smurching, we are developing a product in which we are using MLflow to execute the algorithms. Every algorithm has different requirements and hence cannot use the same underlying environment. We understand what environment is to be used at runtime and cannot set it prior. Also, there will be no internet access for the environment to be created at runtime.

[2020-07-15 11:23] TsvetanRangelov commented on #3079
I am launching a tracking server via:
`
mlflow server -p 8000 -h 0.0.0.0 --backend-store-uri postgresql://xx:xx@postgres/mlflow_db --default-artifact-root ftp://xx:xx@ftpserver/home/mlflow
`
and just opening it on localhost

[2020-07-15 14:11] iqDF commented on #1415
Hi @ahmed-shariff have you figured out a way around this? I know Sagemaker can do but I want it from MLFlow, Pytorch serving or TFserving if possible.

I would like to have the following features:

1. Ability to seperate AI model deployment and API deployment, such that both AI modelling and API deployment can be decoupled. Say Data Science team do their own research, Backedn/Devops focus on app.

[2020-07-15 14:54] saroup opened #3106 "mlflow.log_artifact errors with "cannot import name 'BlockBlobService' from 'azure.storage.blob' ..""
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### System

[2020-07-15 15:50] saroup commented on #3106
This was solved by using 2.1.0 for azure storage blob

[2020-07-15 15:50] #3106 closed

[2020-07-15 17:48] nielsenrechia commented on #3099
Maybe it can help you https://mdneuzerling.com/post/deploying-r-models-with-mlflow-and-docker/
I think R is out of examples, but I generated a crate model with preprocessing function on the wine example fallowing the post above. I'm just analyzing it just now.

[2020-07-15 17:50] dmatrix commented on #2837
@OlivierBondu
The best place to add this would be in the `[Note](https://mlflow.org/docs/latest/quickstart.html)` section after installing with `pip install mlflow`.

Since you want to contribute, do you want to file PR with this suggestion?

[2020-07-15 17:54] dmatrix commented on #3099
thanks @javierluraschi taking on this.

[2020-07-15 17:57] dmatrix commented on #3097
@smurching @juntai-zheng
Do you have any additional comments or requirements on this request?

[2020-07-15 19:10] dmatrix opened #3108 "[FR] Show diagrams and elaborate on interaction between the client and the tracking server"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this documentation issue template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another

[2020-07-15 20:27] saroup opened #3109 "Question on how managed MLFLow is different from unmanaged"
From reading the documentation I got that when you use MLFlow on databricks then you are using the managed version of it.
Where as when you use it in a local setting you would be using the unmanaged version of it.

From my local environment, if I am connecting through databricks-CLI to a databricks that exists on a vnet and setting experiment and creating runs then which version of MLFlow am I usi

[2020-07-15 21:17] cfusting commented on #2199
Hey @dbczumar. I have a PR open 2189 that encapsulates the need for a custom base image. Looks like it's just about ready to go pending a final review.

[2020-07-15 21:21] dbczumar commented on #2199
Hi @cfusting ! We'll get that reviewed promptly! So sorry for the delay

[2020-07-16 06:09] omanges commented on #1963
In which release are you planning to release this feature?

[2020-07-16 08:50] akk5597 commented on #2984
Hi @smurching, I'll make a PR for this and put it up to review. Please let me know if this is fine.

[2020-07-16 12:32] cfusting commented on #2199
I just realized that this was a completely separate issue from the PR I pointed you to. Yes I believe the functionality you pointed out would work for this.

[2020-07-16 15:35] raman-nbg commented on #3108
I would really appreciate this. I'm confused about the parameters and which component (client/server) uses which backend/store.

[2020-07-16 15:56] raman-nbg opened #3116 "[DOC-FIX] Does the mlflow server include mlflow tracking AND mlflow model registry"
### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another member of your organization be willing to contribute a fix for this documentation issue to the MLflow code base?

- [ ] Yes. I can contribute a documentation fix independently.
- [x] Yes. I would be willing to contribute a document fix with guidance from the MLflow community.
- [ ] N

[2020-07-16 15:58] jdlesage opened #3117 "[BUG]Cannot parse "Order by a metric" if it contains a space"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-07-16 16:59] dmatrix commented on #3116
This is all going to be addressed and explained in #3108

[2020-07-16 17:07] dmatrix commented on #3081
@n8shadow n8shadow, I had to change the use of terms `whitelist` and `blacklist` terms

[2020-07-16 17:47] dmatrix commented on #3117
@jdlesage thanks for filing this. I tried with the following code examples, and I could order the column in ascending and descending order. Note that the metric has spaces in them.

[code]

`mlflow ui -backend-store-uri sqlite:///mlruns.db`

Ascedingind and descending order of the columns:

![Screen Shot 2020-07-16 at 10 41 34 AM](https://user-images.githubusercontent.com/1117597/87704487-52950e00

[2020-07-16 18:05] dmatrix commented on #3109
@saroup Thanks for posing this question.
I assume the documentation you referring is this [docs](https://docs.databricks.com/applications/mlflow/index.html):

When you configure your localhost to use databricks-cli to connect to the databricks cluster, effectively you are using "Managed MLflow" on your cluster, for all tracking your experiments' and runs' entities: all MLfow entities will be store

[2020-07-16 19:16] lorenzwalthert commented on #3069
can you please clarify what exactly do you mean?

Well the version of the R and conda binary should correspond, i.e. when getting the R package version 1.9.1 from CRAN and you run `mlflow::install_mlflow()`, you should see
[code]
Which is not what you see.

I also don't see why you are using `with()` above. I think this is used in mlflow Python, but I haven't seen this in the R API. And as I said,

[2020-07-16 20:39] saroup commented on #3109
yes that makes things clearer, thanks!
closing it.

[2020-07-16 20:39] #3109 closed

[2020-07-16 21:46] voganrc commented on #2704
@dbczumar Do you have any updates on the timeline for this?

[2020-07-17 02:13] harupy commented on #3117
@dmatrix I was able to reproduce the issue.

[2020-07-17 06:57] dbczumar commented on #2672
Hi @thisisandreeeee, can you provide an example workflow that is relevant to this use case? Presently, you may be able to achieve the behavior you're looking for by setting an artifact location as a tag on an MLflow run. You can leverage  the `mlflow artifacts download` CLI (https://mlflow.org/docs/latest/cli.html#mlflow-artifacts-download) to fetch artifacts from these tagged locations. If it's h

[2020-07-17 07:03] dbczumar commented on #2495
Hi folks, please let me know if Azure storage configurations are an ongoing issue with MLflow - it sounds like @cdeptuckUEI 's suggestion was sufficient to resolve the problem. Accordingly, I'm going to go ahead and close this issue. Feel free to reopen it if necessary!

[2020-07-17 07:03] #2495 closed

[2020-07-17 07:05] dbczumar commented on #1764
Now that #1300 has been merged and released, I'm going to go ahead and close this issue! Please let me know if additional support is missing in this area.

[2020-07-17 07:05] #1764 closed

[2020-07-17 07:14] dbczumar commented on #1990
Hi @mirekphd - were you able to find a workaround for this issue? I suppose I'm not familiar enough with Minio to understand the need for passing an S3 endpoint URL without an `http://` prefix (which is required by boto). Given the age of this issue and the fact that this seems to be a limitation of S3's boto client, I'm going to go ahead and close it. Please let me know if this is causing a funda

[2020-07-17 07:14] #1990 closed

[2020-07-17 07:19] dbczumar commented on #902
Hi folks, the source of confusion here appears to be the fundamental lack of support for proxying artifact uploads through the MLflow server. We're tracking this issue in #629 and would absolutely welcome designs for this capability. For now, I'm going to close this issue as a duplicate of #629 - please feel free to continue the discussion / contribute implementation ideas there!

[2020-07-17 07:19] #902 closed

[2020-07-17 07:22] dbczumar commented on #1971
Hi @mohammedi-haroune @mirekphd, the behavior you've described where the MLflow server *and* client must configure authorization variables in order to read/write artifacts is intended. To ease confusion, we're working to improve our documentation in this area. As @mohammedi-haroune points out, we're also looking to support a simpler workflow that proxies artifacts through the MLflow server, removi

[2020-07-17 07:22] #1971 closed

[2020-07-17 08:37] dbczumar commented on #3034
@smurching I think it may be worth clarifying what we mean by standard vs nonstandard artifacts REST API. I absolutely agree that the MLflow Service API is not the right place to define LogArtifact / DownloadArtifact APIs, but I think it makes a lot of sense to produce a well-defined artifacts REST API in the form of a new proto service (e.g., `MlflowArtifactsService`) that can be implemented with

[2020-07-17 10:47] Zangr commented on #3018
@gtadamson Thank you for submitting the FR. We do have a long term plan to provide a more fine-grained search for model/model-version. Click sorting on the stage tag is a nice suggestion for the short term.

[2020-07-17 11:22] Zangr commented on #2748
@gioa Thank you for providing the design. @JJSong0805 you are welcome to submit a PR for this feature. Building on top of the current simple table view should be good. We can always convert to a virtualized table solution later.

[2020-07-17 11:24] Zangr commented on #2728
Resolved by #2802 #2071 #2872

[2020-07-17 11:24] #2728 closed

[2020-07-17 11:30] Zangr commented on #2719
Thank you @dbczumar for filing this, and @Valentyn1997 and @leeoniya for the references, we should definitely keep an eye on the ongoing Plotly performance improvement efforts and perform upgrades accordingly.

[2020-07-17 11:35] Zangr commented on #2550
@Rizhiy thanks for filing this FR. We are aware of this issue and have a plan to implement column drag/drop and memorized column position width for the runs table. Here is the FR https://github.com/mlflow/mlflow/issues/3101

[2020-07-17 11:35] #2550 closed

[2020-07-17 11:43] harupy commented on #2961
@GJAE-nv #2689 added [the `fastai` flavor](https://github.com/mlflow/mlflow/blob/master/mlflow/fastai.py). Can you try the code below?

[code]

[2020-07-17 11:46] Zangr commented on #2475
This is more of a UX decision. I feel it's valid to only show columns introduced by all visible runs. @gioa what do you think about always showing all columns?

[2020-07-17 11:49] Zangr commented on #2440
Thank you @johny-c for the FR, sounds valid for a long term consideration.

[2020-07-17 11:55] Zangr commented on #2380
@smurching what do you think about supporting search by `run_id`?

[2020-07-17 12:02] Zangr commented on #2139
@smurching what do you think about making certain security-related features opt-in in some configurable way to unlock more OSS usages?

[2020-07-17 12:05] Zangr commented on #2099
@miwojc thank you for the FR and this use case make sense to me. @gioa what do you think about providing an auto-update toggle for certain visualization pages?

[2020-07-17 12:07] Zangr commented on #2091
@ruibastos-xpand  thank you for submitting the FR. It makes sense and we will consider this while working on improving the run comparison UI.

[2020-07-17 12:11] larribas opened #3122 "[FR] Allow specifying mlflow server configurations as environment variables"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Feature s

[2020-07-17 12:11] Zangr commented on #1979
@C-nit Thank you for filing this bug. It makes sense to have UI show more explanatory text rather than just break. Would you like to submit a PR to fix it?

[2020-07-17 12:18] larribas commented on #3122
A bit more specifically, this is how MLFlow on top of ECS looks like for me right now:

[code]

Which breaks the encapsulation of the docker image's API and forces it to provide a shell.

And this is how this proposal would allow it to look:

[code]

Allowing me to use any image which provides `mlflow` or `mlflow server` as an entrypoint.

[2020-07-17 12:20] Zangr commented on #1827
@aim-nfunke Thank you for submitting the feature request. It makes sense to be considered as part of plan for MLflow to provide more customized visualization.

[2020-07-17 12:23] Zangr commented on #1752
@bfowler1 Thank you for submitting the feature request. Could you please elaborate more on your specific use case where zoom can help?

[2020-07-17 12:25] Zangr commented on #1701
Resolved by https://github.com/mlflow/mlflow/pull/2251

[2020-07-17 12:25] #1701 closed

[2020-07-17 12:27] Zangr commented on #1645
@wegamekinglc Thank you for submitting the FR, this makes sense. We will consider it in recent planning.

[2020-07-17 13:04] Zangr commented on #1839
Resolved by #2251

[2020-07-17 13:04] #1839 closed

[2020-07-17 15:06] Focus opened #3123 "[FR] Allow users to specify a cache directory for loading models"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [x] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-07-17 16:06] jrm346 opened #3125 "[BUG] Representation Error for mlflow.pyfunc.PythonModel SubClass"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-07-17 16:27] dmatrix commented on #3117
@harupy Can you specify what [search expression](https://mlflow.org/docs/latest/search-syntax.html#search) did you use to reproduce this error?

For example, you can type in `DESC metric.` or `ORDER BY metric.` as search filter, and both will result in the `Invalid clause(s) in filter string: 'DESC', 'metric.'` and `Invalid clause(s) in filter string: ORDER BY', 'metric.'` error. The question is a

[2020-07-17 16:54] harupy commented on #3117
@dmatrix I just ran the code you attached, launched the UI, and clicked the `MEAN SQUARE ERROR` column in the table to apply sorting.

[2020-07-17 17:27] dmatrix opened #3126 "[FR] Add Fastai model flavor example code in the MLflow examples"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-07-17 17:33] vivianjiang18 opened #3127 "[FR] Viewing deleted experiments in the MLflow UI [UI]"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [X] Yes. I would be willing to contribute this feature with guidance from

[2020-07-17 20:53] dmatrix commented on #2350
No, at this moment MLflow UI works only in the Databricks and Azure cloud.

Currently, as far as I know, you can't.

[2020-07-17 23:25] andychow-db commented on #2384
@echarso Would you mind expanding what type of model you would be running. Without more information, I would suggest taking a look at [ONNX](https://onnx.ai/) which allows you store and serve models with different languages.

[2020-07-17 23:27] dmatrix commented on #3117
And I did exactly the same, hence those two attachment images that show up arrow and down arrow. Weird?

[2020-07-18 00:00] bickyealias commented on #3069
HI @dmatrix thanks for your response.

Am only using an experiment id that is generated from the previous step of creating the experiment
Also I removed the ```with``` block and below is my updated code.
[code]
Added python bin path to MLFLOW_PYTHON_BIN as per [this](https://mlflow.org/docs/latest/R-api.html#install-mlflow) documentation.
After the above changes,

1. mlflow_log_param works fine
2.

[2020-07-18 04:26] mparkhe commented on #3117
This seems like a legitimate issue. We handle [spaces and other special characters](https://mlflow.org/docs/latest/search-syntax.html#entity-names-containing-special-characters) in parsing of search `filter_string` but they are unprotected in `order_by`.

Using @dmatrix 's example above this works:

[code]

or

[code]

This would be a great first issue.

[2020-07-18 04:28] mparkhe commented on #3117
Removing tags `area/sqlalchemy`

[2020-07-18 04:48] mparkhe commented on #1475
Couple of comments from the RFC

For **Autoincrementing Primary Keys**, the proposal recommends changing `experiment_id` field to be `Sequence` based rather than using `autoincremental` for Oracle backend. The datamodel for `SqlExperiment` in `tracking/dbmodels/models.py` are independent of the type of DB backend used in `SqlAlchemyStore`. This simplifies the SQL alchemy logic and only the `SqlAlc

[2020-07-18 05:04] mparkhe commented on #2890
@edgBR

This seems be an error from the connector code trying to create experiment table. I would debug this by trying to create the table using `sqlalchemy` library (which MLflow uses for `SqlAlchemyStore` backend) and try and create the experiment table as defined with the DML printed above. The `CHECK` keyword seems to be an issue which is required to ensure that value for  `lifecycle_stage ` f

[2020-07-18 05:25] mparkhe commented on #2993
Is `pymysql` a MySQL dialect you need to use? Do you have the necessary libraries installed for that? I would try running the server without this dialect like

[code]

More information at [MLflow Backend Stores](https://mlflow.org/docs/latest/tracking.html#backend-stores)

[2020-07-18 05:41] mparkhe commented on #2382
@smurching

Changing the prioritization for this to `important-longterm` anding a `help wanted`.

[2020-07-18 06:36] lorenzwalthert commented on #3069
From

  databricks_pb2.RESOURCE_DOES_NOT_EXIST)
mlflow.exceptions.MlflowException: Run '4a2f3e382fa547e6909d652b95b313f1' not found
Error in run(mlflow_bin, args = unlist(args), echo = echo, echo_cmd = verbose,  :
System command error

We can see that you use the r-mlflow-1.0.0 environment, which is a hint that the version used is not 1.9.1 here. I’d remove this conda  env if it does not contain a

[2020-07-18 06:47] lorenzwalthert commented on #3069
Ask not sure why you use an absolute path as the target directory for the artifact. I think this should be relative, since the file will be logged somewhere under your run id -> artifacts -> relative dir. Try just the file name `artifact_path` instead of an absolute path.

[2020-07-18 08:07] ahmed-shariff commented on #1415
I had moved on from that project, and I haven't done much in terms of deployment recently, so what I had done might be a little outdated. I mean that was pre-pytroch serving and all. It is just as I describe in the OP. My lambda function looked something like this:

[code]

The way I had set up the pipeline, the models get pushed from the data science end of things to s3. So the next time a lambda

[2020-07-18 08:31] dbczumar commented on #2842
Hi folks, I believe this was fixed by #3014 (thanks @arjundc-db). Feel free to reopen this issue if #3014 did not resolve it.

[2020-07-18 08:31] #2842 closed

[2020-07-18 08:34] dbczumar commented on #2463
Hi folks, I'm going to close this issue due to inactivit. As @pogil indicated, this appears to be an an sftp authentication obstacle preventing the server from fetching artifacts.

[2020-07-18 08:34] #2463 closed

[2020-07-18 09:29] andycraig commented on #2922
Hi @smurching, thank you for considering. Thank you also for the suggestion of `mlflow.search_runs()` without a filter - I've switched to that and it's much simpler.

In terms of enhancing the search API I could imagine something like:

[code]

But I'm entirely happy with the `mlflow.search_runs()` pandas approach, so if there hasn't been much demand for this feature and adding it to the search AP

[2020-07-19 01:54] bickyealias commented on #3069
@lorenzwalthert thanks for your reference.
I changed the code to remove reference from conda env.
[code]
Currently getting a whole different error- which I think is a progress :).Moving to same versions on R and conda has helped to git rid of the previous errors.
[code]
As per recommendation I have passed only the file name to the artifact path.However the issue is in the first parameter.
As per[t

[2020-07-19 02:48] wegamekinglc commented on #1645
Great thanks. I m looking forward to it~

[2020-07-19 03:00] gitE0Z9 commented on #3079
same issue here, is there any update?

[2020-07-19 04:13] readicculus commented on #2672
I would find this useful.  I work with a fairly large dataset and am limited in storage space so I need to be really careful about what is being stored in s3.  I have runs that generate transformed/augmented sets of this dataset that many future runs, potentially across experiments will consume.  I would like to keep these augmented datasets organized as artifacts of the run that generated the dat

[2020-07-19 06:48] lorenzwalthert commented on #3069
Can you use the [reprex](https://reprex.tidyverse.org) package so we see where exactly which error occurs? Also, you example contains a lot of code that is not required here. I dropped it. From running your code with a local client, I also got a 'no such file or directory error', but slightly different (because I use a local client). I think the problem was that the file you want to log should be

[2020-07-19 06:56] lorenzwalthert commented on #3069
So here is the reprex that shows we can't log from the home directory for example, and that it fails uninformatively. It's exactly the same code as in my previous comment, but `tmp` is `"~"` instead of `tempdir()`.

[code]

<sup>Created on 2020-07-19 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-07-19 07:06] lorenzwalthert commented on #3069
Can you use the [reprex](https://reprex.tidyverse.org) package so we see where exactly which error occurs? In your code, you don't create the file `"/home/ealiasbi/mflow/test.txt"`, and I don't know if you created it earlier, but it must exist. I.e. you can't log an artifact that you have not yet created.

Also, you example contains a lot of code that is not required here. I dropped it. I usually

[2020-07-19 08:41] bickyealias commented on #3069
@lorenzwalthert thanks for your reference.
Towards the end of my above comment if you see the file is existing on the disk.So its clearly  not the case of file not present.
So I dont think the new code is needed.
Nevertheless,I ran your code as is.

On the next step to log param,if I run this
```mlflow_log_param("parameter", 5)``` it fails with
[code]

![image](https://user-images.githubuserconten

[2020-07-19 22:17] smurching opened #3132 "[FR] Draft & publish MLflow Python version support policy."
**Please fill in this feature request template to ensure a timely and thorough response.**

## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this featur

[2020-07-20 00:05] sueann commented on #3016
Assigning it to @harupy since he is currently implementing this feature.

[2020-07-20 00:56] dmatrix commented on #3116
@raman-nbg #3108 will address all these issues. Can you close this issue, if you don't mind?

[2020-07-20 03:11] harupy commented on #3125
@jrm346 Thanks for filing this. It looks like you use incorrect arguments. `mlflow.pyfunc.log_model(skill_matcher, "skills")` is equivalent to `mlflow.pyfunc.log_model(artifact_path=skill_matcher, loader_module="skills")`. Can you try the code below instead?

[code]

[2020-07-20 03:21] harupy commented on #2344
@smurching Can we close this issue because we have completely migrated to GitHub Actions?

[2020-07-20 04:48] raman-nbg commented on #3116
@dmatrix yes, please. You can close the issue. :)

[2020-07-20 04:49] #3116 closed

[2020-07-20 05:51] smurching commented on #2344
@harupy yes! Thanks for all the hard work on this!

[2020-07-20 05:51] #2344 closed

[2020-07-20 08:18] jrm346 commented on #3125
Sorry pasted the wrong traceback. the bug is still the same but the code that spawned it differs. Have changed the error log above

[2020-07-20 08:26] jrm346 commented on #3125
Hey made the change with the argument order and it works. Thanks. I would suggest that you standardize the signature across different `log_model()` methods as `mlflow.sklearn.log_model(model, path)` is quite different to  `model.pyfunc.log_model(path, python_model=model)`

[2020-07-20 09:35] juntai-zheng commented on #3038
Hi @echarso, since it's been a while since the last response, I'll go ahead and close the issue. Feel free to reopen/create a new issue if you are still having trouble. Thanks!

[2020-07-20 09:35] #3038 closed

[2020-07-20 09:41] juntai-zheng commented on #2979
Agreed - pinning the mlflow version would be useful in terms of reproducibility. Would you be willing to open a PR to add this version inference?

[2020-07-20 09:52] juntai-zheng commented on #2798
Closing this issue - feel free to reopen if you're still running into this issue. Thanks!

[2020-07-20 09:52] #2798 closed

[2020-07-20 09:56] juntai-zheng commented on #2772
Hi folks, did we want to discuss this any further? Otherwise I can close this issue. @naduhrin78 if you want to open another issue for a feature request, feel free to do so.

[2020-07-20 09:57] juntai-zheng commented on #2697
@tomasatdatabricks @dbczumar any thoughts on this?

[2020-07-20 10:01] juntai-zheng commented on #2544
Hi @ksanjeevan, do you think you're still willing to work on this?

[2020-07-20 10:13] juntai-zheng commented on #2437
Hi @ukab23, I'm going to close this issue for now. Feel free to reopen it if needed, thanks!

[2020-07-20 10:13] #2437 closed

[2020-07-20 10:15] juntai-zheng commented on #2429
Thanks everyone for the input and fix! Will close this issue now.

[2020-07-20 10:15] #2429 closed

[2020-07-20 10:23] juntai-zheng commented on #2159
Hi @torjush, is this issue still happening with MLflow 1.9? And if so, would you be willing to open a PR to fix the issue? Thanks!

[2020-07-20 15:29] dmatrix opened #3137 "[FR] Add spacy and fastai built-in models links on three model-related documentation pages"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-07-20 15:38] jdlesage commented on #3117
Indeed could be a good first issue... but when I wrote the ticket, I started the investigation and saw the line to change in the SearchUtils python file. So I proposed a fix here: https://github.com/mlflow/mlflow/pull/3118

[2020-07-20 16:27] anggao commented on #2360
Any updates on this, this feature will be useful to some of our models :)

[2020-07-20 18:58] KarishmaDaga opened #3138 "[BUG] Inconsistency with arguments in mlflow.projects._run call to abstract backend run definition"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-07-20 19:06] ksanjeevan commented on #2544
Hey @juntai-zheng - I am, and can put together a PR draft to have some discussion and then go from there if that sounds good to you.

[2020-07-20 21:26] juntai-zheng commented on #2933
Closing this issue for now - feel free to reopen if you encounter any problems!

[2020-07-20 21:26] #2933 closed

[2020-07-20 22:33] juntai-zheng commented on #1817
Hi all, will close this issue now that we have implemented the above mentioned API. Feel free to reopen if it doesn't fulfill your requirements. Thanks!

[2020-07-20 22:33] #1817 closed

[2020-07-21 08:56] hbanzhaf opened #3144 "[FR] artifact location when moving mlruns folder"
From time to time, the path to the _mlruns_ folder changes, e.g., when an experiment is moved to another folder. This also affects the _artifact_location_, which is currently only stored globally in the _meta.yaml_. What are the best practices to avoid this? Are there any efforts to only save a relative path to the artifacts?

[2020-07-21 09:50] tsabata commented on #2551
The bug is still active. @arjundc-db Can you reopen it, please?

[2020-07-21 14:35] yl790 commented on #2673
I think the fix for this might be as simple as https://github.com/mlflow/mlflow/pull/3145

Let me know what you think.

[2020-07-21 15:24] yl790 commented on #1423
Hey @smurching I'm interested in taking on this task as an exercise to get up-to-speed with mlflow. I'll let you know if I run into any question.

[2020-07-21 16:42] dmatrix commented on #3144
@hbanzhaf Thanks for posing this question.

The path to `mlruns` directory will depend on where you run your python code with the mlflow to track your entities. By default, this will be in the `mlruns` directory. And within it, a directory '0' with the `meta.yaml` that will have a path stored in it. The default experiment is always "Default," if you don't specify a name.

If you move your python c

[2020-07-21 17:02] lorenzwalthert commented on #1423
Great @yl790. I just pushed some tests I forgot to push to my [xgboost PR](https://github.com/mlflow/mlflow/pull/3085/files). I think these tests could be taken more or less 1 to 1 for h2o - and they are more comprehensive than the ones for keras, namely because they also test non-R / R API interactions.

[2020-07-21 19:01] devstein commented on #1598
@jdlesage We've also been wanting to use partial string matching (`LIKE` operator) in our searches. After reading through the [search code](https://github.com/mlflow/mlflow/blob/7779b87540ea57ec56d1b7ac42e420a6a6f9df23/mlflow/utils/search_utils.py#L20-L21), it looks like it is supported. I ran the following query via the UI and it appears to work:

[code]

Does anyone know why this feature undocum

[2020-07-21 20:42] #2846 closed

[2020-07-21 20:42] tomasatdatabricks commented on #2846
Closing due to inactivity.

[2020-07-21 20:52] tomasatdatabricks commented on #2828
@LarsDu thanks for filing the issue. We do not plan to enable custom endpoints in the nearest future, primarily because we do not have good use cases to base it on at this point. Do you have some concrete use cases you can share here?

I think easier shorter term goal would be to extend the existing built-in model endoints.

[2020-07-21 20:56] #2747 closed

[2020-07-21 21:00] tomasatdatabricks commented on #2740
@sp7412 We do not have any immediate plans to implement this but we would be interested in contributions.

[2020-07-21 21:02] #2452 closed

[2020-07-21 21:15] tomasatdatabricks commented on #2412
I don't think this is a bug in mlflow. The model that does not expect multi-indexed data frame.

[2020-07-21 21:15] #2412 closed

[2020-07-21 21:29] #1916 closed

[2020-07-21 21:34] #1286 closed

[2020-07-21 21:48] tomasatdatabricks commented on #3125
Did you save the model via mlflow.pyfunc.save_model or mlflow.pyfunc.log_model function? save_model saves to local filesystem on the relative path, log_model saves to artifact repository. To load model from the artifact repository, you can pass it a runs uri such as ```mlflow.pyfunc.load_model("runs:/{run_id}/{model_path}".format(run_id=<run id>, model_path=model_path)```

[2020-07-21 23:18] tomasatdatabricks commented on #3031
Hi @mapa17, thanks for filing.

The pyfunc models are wrapped to ensure uniform interface. I think it's ok to access the _model_impl directly in your case since you know that your model is a `mlflow.pyfunc.PythonModel` and there is no way to load it directly. We may add a public accessor or a way to store additional metadata directly in the MLmodel file in the future. But for now I would recommend

[2020-07-21 23:31] tomasatdatabricks commented on #3008
Hi @wamartin-aml, sorry for the delayed response!

Can you clarify what parameters do you need to add in your case?  One way fo doing this today is to include additional file with metadata for your model and read it in your loader module. Would that work for you?

[2020-07-22 00:05] harupy opened #3147 "[BUG] Dummy issue to make sure the auto-labeling bot ignores labels added or removed by maintainers"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-07-22 00:07] arjundc-db commented on #2551
I apologize (did not see @lopezco comments after I closed the issue), I am reopening and issue and will look into @lopezco suggestion.
Thank you @tsabata

[2020-07-22 00:16] harupy commented on #3147
The bot should ignore the `area/model-registry` label.

[2020-07-22 00:34] harupy commented on #3147
The bot should not add the `area/examples` label because I have added it.

[2020-07-22 00:54] gioa commented on #2099
Thank you for FR!
Stupid question: why don't we always auto-update visualization? Is there a use case that users don't want to see the updates?

[2020-07-22 01:03] gioa commented on #2475
@Zangr I forgot why we only show the columns introduced by all visible runs. This indeed introduced inconsistency when you load more or sort, as pointed out here.

[2020-07-22 06:11] yzz-cver commented on #2851
Hello, I encountered the same problem after running multisteps, but the docker in docker problem was solved through the Docker -V command, but the following problem appeared when I ran it again

2020/07/22 13:49:45 INFO mlflow.projects: === Building docker image docker-example ===
2020/07/22 13:49:45 INFO mlflow.projects: === Created directory /tmp/tmppymw6wfg for downloading remote URIs passed to

[2020-07-22 06:15] yzz-cver commented on #2851
Hello, I encountered the same problem after running multisteps, but the docker in docker problem was solved through the Docker -V command, but the following problem appeared when I ran it again

2020/07/22 13:32:46 INFO mlflow.projects: === Building docker image docker-example ===
2020/07/22 13:32:46 INFO mlflow.projects: === Created directory /tmp/tmpew6ys6fe for downloading remote URIs passed to

[2020-07-22 07:17] Astonzzh opened #3149 "I cannot see the model signature and input_example in MLmodel file of a spark flavor model"
Hi, I am wondering if I have miss something when I try to log model with signature and input example? Can anyone help me please. Thank you!

My tracking-uri and backend-store-uri are the same mysql database uri
and default-artifact-root is ./mlruns

I am trying to train an ALS model using pyspark2 ml package and log it by mlflow,
but on the mlflow ui http://<ip_address>:<port>, I cannot see the mo

[2020-07-22 07:45] Zangr commented on #2475
@gioa thanks for confirming this. To always show all columns, we need to make some BE change to provide more metadata information. I'll adjust priority.

cc @sueann

[2020-07-22 07:51] harupy commented on #3149
@Astonzzh Thanks for filing this issue. I was able to reproduce the issue.

[code]

[2020-07-22 08:00] harupy commented on #3149
I found `signature` and `input_example` are not passed to `Model.log`.

https://github.com/mlflow/mlflow/blob/c2708b5735354e10ec052164253eb74243c5603f/mlflow/spark.py#L174-L177

[2020-07-22 08:04] harupy commented on #3149
I have confirmed that adding missing `input_example` and `signature` solves this issue.

[code]

![Screen Shot 2020-07-22 at 17 01 08](https://user-images.githubusercontent.com/17039389/88150972-0e1bdd80-cc3d-11ea-8070-7a490c32b67b.png)

[2020-07-22 09:18] Astonzzh commented on #3149
Cool! Thank you!

[2020-07-22 10:03] Astonzzh opened #3152 "How can I use these functionalities in registry"
Please remind me if I miss somthing on lastest doc, thank you.

In the webpage https://databricks.com/blog/2020/06/25/mlflow-joins-the-linux-foundation-to-become-the-open-standard-for-machine-learning-platforms.html, I can see this picture

![image](https://user-images.githubusercontent.com/60844171/88162142-838aac80-cc43-11ea-9ddb-fbc8caa68efb.png)

Seems like this picture illustrates that by com

[2020-07-22 10:16] yzz-cver opened #3153 "Problems encountered in multistep running under docker"
The following problem occurs when running the  mlflow run .   command.

2020/07/22 18:07:31 INFO mlflow.projects: === Building docker image docker-example ===
2020/07/22 18:07:31 INFO mlflow.projects: === Created directory /tmp/tmp20yr16p3 for downloading remote URIs passed to arguments of type 'path' ===
2020/07/22 18:07:31 INFO mlflow.projects: === Running command 'docker run --rm -v /home/zyz/c

[2020-07-22 10:46] eavidan commented on #2979
sure @juntai-zheng. Will open the PR. anything special I need to know?

[2020-07-22 10:47] ne-bo commented on #2813
I have the same problem with CRITICAL WORKER TIMEOUT

[2020-07-22 11:41] harupy commented on #3016
Addressed by #3134

[2020-07-22 11:41] #3016 closed

[2020-07-22 11:59] amiryi365 opened #3154 "[BUG] IsADirectoryError while selecting S3 artifact in the UI"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: centos 7.4
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**: 1.9.0
- **Python version**: 3.7.3
- **npm version, if running the dev UI**: NA
- **Exact command

[2020-07-22 11:59] #3147 closed

[2020-07-22 12:45] jdlesage commented on #2475
With the help from @rom1504 , we already implemented the feature in our fork. (this branch: https://github.com/criteo-forks/mlflow/tree/criteo-master)
It enables us to solve this bug
+ implement columns filtering (put in the payload only the columns that are displayed). It improves a lot the search with experiments that have tons of columns (some figures in this PR https://github.com/criteo-forks/

[2020-07-22 13:10] pvillacorta-stratio commented on #1414
@jaklan +1 , I am doing exactly the same. One experiment per day, one run per stage. From one day to another, the source data may slightly change, or the way it is processed / joined may change. We are logging parameters concerning this pre-processing + join stage. Cleaning data and fitting models would be subsequent stages. It would be very nice to compare the same stage across different days (ex

[2020-07-22 13:26] harupy commented on #3154
@amiryi365 Thanks for filing this issue. I was able to reproduce the same error using a folder named `test.txt`. Does your folder name contain a text file extension?

https://github.com/mlflow/mlflow/blob/df7cc84746f88cfe6aae3f086ba20b7e19f7c998/mlflow/server/handlers.py#L169-L171

[2020-07-22 14:29] chatan89 opened #3155 "ImportError: cannot import name 'RegisteredModelTag' from 'mlflow.entities.model_registry'"
I am using azuresql for tracking and azure blob for artifact. But i came across an issue while trying to create experiment/ run experiement.

**Error :**
ImportError: cannot import name 'RegisteredModelTag' from 'mlflow.entities.model_registry' (**/User\AppData\Local\Continuum\anaconda3\lib\site-packages\mlflow\entities\model_registry\__init__.py)

Manually checked the local  path and i could find

[2020-07-22 14:39] harupy commented on #3155
@chatan89 Thanks for filing this. Can you share the whole stack trace?

[2020-07-22 14:57] chatan89 commented on #3155
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-46-43a4ead2b0bb> in <module>
      1 experiment_name = "experimentsklearn_test_model"
      2 ## check if the experiment already exists
----> 3 if not mlflow.get_experiment_by_name(experiment_name):
      4     mlflow.create_experime

[2020-07-22 15:06] harupy commented on #3155
@chatan89 Thanks! How does your `mlflow\entities\model_registry\_init_.py` look like?

[2020-07-22 15:08] wamartin-aml commented on #3008
No problem! We've come up with a workaround in the meantime using Model.log() directly.

Our parameters are metadata associated with Model Explanations which we want to be able to query on without downloading all of the files of a given model. We're well aware that we could pass metadata in its own special file, but that isn't the neat solution we're hoping for.

In particular, this request comes

[2020-07-22 15:14] chatan89 commented on #3155
@harupy
Thats correct... its same as above
i checked it before too and it matched with the source code in git

[2020-07-22 15:18] harupy commented on #3155
@chatan89 hmm strange

[2020-07-22 15:32] harupy commented on #3155
@chatan89 can you execute `from mlflow.entities.model_registry.registered_model_tag import RegisteredModelTag` or does it throw an error?

[2020-07-22 15:34] chatan89 commented on #3155
same error

[2020-07-22 15:47] #3149 closed

[2020-07-22 15:47] jackhart opened #3156 "[BUG] Import error with mlflow.onnx with version 1.10.0 but not in later versions"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### System information
- OS Platform and Distribution: Linux Ubuntu 16.04.6
- MLflow version 1.10.0
- Python version: 3.7.3

### Describe the problem

I need the newest version of MLflow due to some dependencies between MLFlow and Databricks platform releases.  However, importing mlflow.onnx results in an ImportError.

[2020-07-22 15:56] chatan89 commented on #3155
@harupy   After reinstalling it worked.  Thanks for the help

[2020-07-22 15:57] tomasatdatabricks commented on #3008
Thanks for the clarification!

Yes, definitely, either the docs need to be fixed or the kwargs should be passed to the MLmodel file. We're considering whether to allow arbitrary kwargs as pyfunc arguments. The reason why we did not do it initially was to keep MLmodel file minimal.

[2020-07-22 16:04] harupy commented on #3155
@chatan89 my pleasure!

[2020-07-22 16:13] harupy commented on #3156
@jackhart Thanks for filing this. I was able to import `NumpyEncoder` from `mlflow.utils.proto_json_utils` with version 1.10.0.

<img width="506" alt="Screen Shot 2020-07-23 at 1 10 57" src="https://user-images.githubusercontent.com/17039389/88200791-97ed9a00-cc81-11ea-9694-1c214e94c50e.png">

[2020-07-22 16:20] dmatrix commented on #3156
@jackhart like @harupy I was able to run this. As he suggested, reinstall it. I just upgraded my 1.9.1 version to 1.10.0  conda env.

![Screen Shot 2020-07-22 at 9 19 10 AM](https://user-images.githubusercontent.com/1117597/88201645-929a3c00-cbfc-11ea-8dcc-f4af47bd9199.png)
![Screen Shot 2020-07-22 at 9 19 22 AM](https://user-images.githubusercontent.com/1117597/88201666-99c14a00-cbfc-11ea-8aba-3d

[2020-07-22 16:26] #3155 closed

[2020-07-22 16:29] t-henri commented on #1598
Hello, I developed the feature some time ago and it is indeed possible to search using the LIKE operator.
But you're right I forgot to add documentation, I will do a PR to add it.

[2020-07-22 16:30] tomasatdatabricks commented on #2469
Hi @avflor, thanks fro submitting. I think this would fit perfectly into our new [deployment plugin system](https://www.mlflow.org/docs/latest/cli.html#mlflow-deployments). Can you check that out and let us know if there is anything missing for your use case?

[2020-07-22 16:37] tomasatdatabricks commented on #2401
Hi @rrma, sorry for dropping this. Have you resolved you issue in the meantime? I am not sure if this is an mlflow issue as it seems that the problem is in boto client itself. Can you verify if you can generate the pickle file yourself and upload it to s3 using boto client directly?

[2020-07-22 16:55] dmatrix commented on #3153
@yzz-cver Can you try to install docker on your local machine and try this again?

[2020-07-22 17:09] wamartin-aml commented on #3008
Wonderful! Thanks for upping priority - either option seems reasonable, it'll just be nice to have the system and docs consistent.

[2020-07-22 18:18] dmatrix commented on #3138
@jdlesage is this inconsistency between the two signature a problem?

https://github.com/mlflow/mlflow/blob/83aabfd00096ed0939fc319bb20719957e573088/mlflow/projects/backend/abstract_backend.py#L15 and https://github.com/mlflow/mlflow/blob/c6b7d7f00ddafba1c19bea41d9d4de8fbb7d7ae7/mlflow/projects/__init__.py#L99

cc: @juntai-zheng @smurching

[2020-07-22 18:27] tomasatdatabricks commented on #2151
Hi @y-tee. Are you executing mlflow model serve from a spark driver? I think the problem is that you have gunicorn that runs in python 3.6 and spark that runs python 3.7. Can you verify what does the conda environment for the model look like and what is your spark configuration?

[2020-07-22 18:31] tomasatdatabricks commented on #2041
Thanks for responding @MichaelMarien!

[2020-07-22 18:31] #2041 closed

[2020-07-22 18:34] #1732 closed

[2020-07-22 18:47] trangevi opened #3157 "[FR] Pagination support for list_run_infos"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-07-22 20:40] avflor commented on #2469
Thanks @tomasatdatabricks  for the pointer. I was waiting for this plugin! Will check it out and let you know if it works.

[2020-07-22 21:56] zhidongqu-db commented on #3152
@Astonzzh Thanks for reaching out! The compare model version view that is displayed in the webpage is currently only supported in Databricks MLflow, you can check it out right now in the community version of databricks. In the meantime, We are definitely planning to open source this feature in the near future so stay tuned for that!

[2020-07-22 23:23] dmatrix commented on #3152
@Astonzzh Based on @zhidongqu-db comments and its future availability, can we close the issue?

[2020-07-23 01:14] yzz-cver commented on #3153
@dmatrix  Yes, I installed docker locally, but the following problems still occur

2020/07/23 09:12:19 INFO mlflow.projects: === Building docker image docker-example ===
2020/07/23 09:12:19 INFO mlflow.projects: === Created directory /tmp/tmpw5wfq4q5 for downloading remote URIs passed to arguments of type 'path' ===
2020/07/23 09:12:19 INFO mlflow.projects: === Running command 'docker run --rm -v

[2020-07-23 01:15] Astonzzh commented on #3152
I see, Thank you for explaining!

[2020-07-23 01:15] #3152 closed

[2020-07-23 01:49] LarsDu commented on #2828
A very simple use case would be a situation where the user wants to retrieve different predictions from a scoring server based on some continuous value under certain conditions.

We have a use case where our scoring service's predict() function returns raw probability values under most cases, but the decision thresholds (e.g. f1/f-beta thresholds) are stored separately. This allows us to switch de

[2020-07-23 02:32] Janus-Xu commented on #2993
I've been checked all necessary libraries installed. I wanna all proj infos can be saved to mysql db.
the doc [backend-stores](https://mlflow.org/docs/latest/tracking.html#backend-stores) shows that,A database-backed store as SQLAlchemy database URI.
but as I know SQLAlchemy is a database toolkit for python, not support other languages, i think this is the reason why the error happens.
is there an

[2020-07-23 03:53] chatan89 commented on #3155
Was installation error

[2020-07-23 04:32] smurching opened #3159 "[FR] Support tensor inputs to MLflow inference APIs"
**Please fill in this feature request template to ensure a timely and thorough response.**

## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this featur

[2020-07-23 04:56] xinluh opened #3160 "[FR] Prevent run being deleted if a model from the run is registered"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-07-23 05:04] amiryi365 commented on #3154
Thanks for replying @harupy
Yes, all my artifacts are text files from the list (log, json, py). I also found this list in the source...
Is there a workaround for this bug?

[2020-07-23 05:10] harupy commented on #3154
@amiryi365 Can you share your code which caused this issue?

[2020-07-23 05:35] amiryi365 commented on #3154
@harupy the bug is probably not in my code, i,e, I wrote the run code, but it worked well (no exceptions, I can see all run details in PG tables and in the UI, I can see all the files in minio browser and download them, and they look fine).
The bug is taking place in the mlflow server while the web client requests to get an artifact content.
In my code I do the following (only mlflow related lines

[2020-07-23 05:43] harupy commented on #3154
@amiryi365 Are you experiencing an error like below?

<img width="900" alt="Screen Shot 2020-07-23 at 14 41 20" src="https://user-images.githubusercontent.com/17039389/88255218-c9527e00-ccf2-11ea-8b27-0cd67a965776.png">

[2020-07-23 05:48] amiryi365 commented on #3154
Exactly!

[2020-07-23 05:52] harupy commented on #3154
@amiryi365 Can you take a screenshot and share it if possible?

[2020-07-23 06:06] amiryi365 commented on #3154
@harupy I can't. But you say you can reproduce the bug...
It seems to be a server bug of reading from S3.
In both server and client sides I use env vars for S3, maybe it worth to run the server with configuration file for AWS instead?

More Info: My client is Windows10 and I run it directly as python (from pycharm), not with `mlflow run`

[2020-07-23 06:11] harupy commented on #3154
@amiryi365 Got it. Do your artifacts contain a folder?

[2020-07-23 06:27] amiryi365 commented on #3154
@harupy I logged all artifacts under 'log' but It didn't help...

[2020-07-23 06:28] amiryi365 commented on #3154
@harupy In your image I can see you're using file uri and not s3 uri

[2020-07-23 06:31] hbanzhaf commented on #3144
Thank you for your fast answer. Unfortunately, this does not resolve my problem yet. I use the function `mlflow.set_tracking_uri()` to set the path to the `mlruns` folder. Sometimes, this folder must be moved to another location (due to various reasons). If I then run the `mlflow ui` in the new location (in order to once again look into the results of this experiment), the UI shows me all logged p

[2020-07-23 06:36] harupy commented on #3154
@amiryi365 Yep I just wanted to show that a folder named like `xxx.txt` or `log` causes the error.

[2020-07-23 06:39] amiryi365 commented on #3154
I've just used 2 folders: 'logs' and 'config' - the bug is still there for all files!

[2020-07-23 06:43] harupy commented on #3154
So your folder structure looks like:

[code]

and when you try to open `foo.xxx`, the error occurs, correct?

[2020-07-23 06:44] amiryi365 commented on #3154
@harupy Exactly!

[2020-07-23 08:27] harupy commented on #2844
@mc55boy @sijuveugin Thanks for reporting the issue. Does the same thing occur when you log artifacts in local instead of an FPT file store?

[2020-07-23 08:34] harupy commented on #3154
@amiryi365

[code]

Does this mean that you have a folder named like `/tmp/path/to/foo.xxx` and there is nothing in it?

[2020-07-23 08:50] amiryi365 commented on #3154
@harupy There's a folder named like `/tmp/path/to/foo.xxx`
Inside this folder there's **another** folder with a generated name (a long name of letters and digits).
Inside that folder there's nothing

[2020-07-23 09:58] harupy commented on #3154
@amiryi365 I have setup up minio server following [this doc](https://docs.min.io/docs/minio-docker-quickstart-guide.html) and tested artifact logging, but wasn't able to reproduce the issue.

![minio](https://user-images.githubusercontent.com/17039389/88274252-5bb84900-cd16-11ea-809f-f114803b1bc8.gif)

[2020-07-23 11:19] amiryi365 commented on #3154
@harupy  I see...
I'm trying to find meaningful differences between our mlflow servers:

1. What is your botocore and boto3 packages versions? (I have botocore 1.14.14, boto3 1.11.14)

1. Could it be related to server OS, env, other services, etc.? (my server runs on linux Centos 7.4)

1. How do you define minio credentials in the server? (I tried env vars and also ./aws/credentials config file)

[2020-07-23 11:41] harupy commented on #2961
@GJAE-nv

Wrote an example script to log a fasttext model: https://github.com/harupy/fasttext-flavor

[2020-07-23 11:59] sijuveugin commented on #2844
Hi Harutaka,

While logging artifacts in local it is fine.
This is an issue with pysftp client only.

On Thu, Jul 23, 2020, 4:27 AM Harutaka Kawamura <notifications@github.com>
wrote:

[2020-07-23 12:10] harupy commented on #2844
@sijuveugin Thanks for the reply. Are files stored correctly in an FPT file store?

[2020-07-23 12:48] sijuveugin commented on #2844
FPT - Hope you mean SFTP.

Only the file path issue is there. Files are not corrupted. If we refactor
file path everything will work fine.

Thanks
Siju Eugin

On Thu, Jul 23, 2020, 8:10 AM Harutaka Kawamura <notifications@github.com>
wrote:

[2020-07-23 15:21] #3006 closed

[2020-07-23 15:23] tomasatdatabricks commented on #2828
Thanks for the clarification! So if I understand it correctly, you would want to have predict_label, predict_probabilities, and metadata endpoints?

I think we can think of a way of allowing users to store additional model metadata and exposing those on /metadata endpoint. As for the probability vs prediction, I think the best way there is to always return both the label and the probability. Would

[2020-07-23 15:54] LarsDu commented on #2828
In this case, having those three endpoints would cover our use case. However in a broader sense, this would still be a bit insufficient as there are even more endpoints I did not mention. For example, what if we wanted to ask what "interpolated precision" a sample has computed from the precision-recall curve of the holdout set of a model? This type of information is useful for getting an estimate

[2020-07-23 17:13] tomasatdatabricks commented on #2828
Hey @LarsDu, thanks for quick reply. My concern is not reliance on Flask but keeping unified model interface. One of the major goals of mlflow models is to abstract from implementational details so that you can deploy and and query mlflow models without knowing too much about them. So any extra stuff we add should be generalized and described in the MLmodel file. Can you elaborate on your proposal

[2020-07-23 17:17] harupy commented on #2844
I was finally able to reproduce the issue.

<img width="444" alt="Screen Shot 2020-07-24 at 2 16 31" src="https://user-images.githubusercontent.com/17039389/88317144-d3589900-cd53-11ea-8099-e5d3a02c7d7c.png">

[2020-07-23 17:24] sijuveugin commented on #2844
Great

On Thu, Jul 23, 2020, 1:17 PM Harutaka Kawamura <notifications@github.com>
wrote:

[2020-07-23 18:00] harupy commented on #2844
@sijuveugin Looks like the issue has been fixed using [this stackoverflow answer](https://stackoverflow.com/a/50130813).

<img width="360" alt="Screen Shot 2020-07-24 at 2 58 05" src="https://user-images.githubusercontent.com/17039389/88321097-92fc1980-cd59-11ea-94f5-b51984469322.png">

[2020-07-23 21:48] KarishmaDaga opened #3162 "[FR] Add 'use_conda' parameter to MLflow projects backend plugin"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

## Willingness to contribute
The MLflow Community encourages new feature contributions. Wo

[2020-07-24 04:34] AveshCSingh commented on #3157
Thank you for the feature request @trangevi.

I agree that it is problematic that users must migrate away from list_run_infos after creating many runs. I also agree that pagination is a good solution.

Here are two reference PRs that implement pagination for search_runs:
1) https://github.com/mlflow/mlflow/pull/1444
2) https://github.com/mlflow/mlflow/pull/1542

CCing the authors in case they have

[2020-07-24 06:16] quoctinphan commented on #3063
I also noticed that not only `MLFLOW_TRACKING_URI` but also `MLFLOW_RUN_ID` and `MLFLOW_EXPERIMENT_ID` are set inside Docker container. It causes start_run() to be failed because MLFlow looks to resume an existing run ID.

[2020-07-24 08:56] LarsDu commented on #2828
Right now it seems scoring servers have an `invocations` endpoint where users can pass json/pandas.Dataframe data to a predict() function.
I think in a general sense the following additional endpoints would cover many (and perhaps all use cases). I think these should also be reasonably RESTful in the sense of allowing for granular responses and being stateless:
- `service_info`: Returns some metad

[2020-07-24 12:25] jdlesage commented on #3138
Yes it is a mistake in my PR. @fhoering did a fix: https://github.com/mlflow/mlflow/pull/3115. Could you merge it, please ?

[2020-07-24 13:28] harupy commented on #2844
@sijuveugin Opened a PR ⬆︎⬆︎⬆︎. You can try the fixed version MLflow with:

[code]

[2020-07-24 13:35] sijuveugin commented on #2844
Thanks Harutaka,
 I will try and let you know.

Thank You
Siju Eugin

On Fri, Jul 24, 2020, 9:28 AM Harutaka Kawamura <notifications@github.com>
wrote:

[2020-07-24 14:12] jdlesage commented on #3162
Hello @KarishmaDaga.  In the original PR we agreed with mlflow core developers to use the backend_config to pass this argument. The local backend will be good example for the AzureML plugin you are developing. The PR is still in review but you can have a look on how I get this information: https://github.com/mlflow/mlflow/pull/3124/files#diff-093ff776ec235c7cdf333d81948e87f0R50

In this PR, the co

[2020-07-24 14:30] harupy commented on #3117
Fixed by #3118

[2020-07-24 14:30] #3117 closed

[2020-07-24 15:19] fhoering commented on #3162
Hello,

Some additional information. We currently building a yarn backend that implements this api:
https://github.com/criteo/mlflow-yarn

Currently it supports conda.yaml by the mlflow internal apis:
https://github.com/criteo/mlflow-yarn/blob/master/mlflow_yarn/yarn_backend.py#L99

As a next step we will use our own library cluster-pack for packaging which supports conda & using pip with pypi onl

[2020-07-24 16:02] KarishmaDaga commented on #3162
Hey @jdlesage! Using backend_config works for me, thanks for linking the local backend PR :)
@fhoering This looks interesting, it might not fit our use case for the plugin but I'll check it out.

[2020-07-24 16:02] #3162 closed

[2020-07-24 16:48] dmatrix commented on #3138
Thanks, @jdlesage for responding. I see that #3115 is pending review from @dbczumar. Once that's merged, @KarishmaDaga we can close this issue.

[2020-07-24 17:10] KarishmaDaga commented on #3138
Sounds great! Thanks @dmatrix @jdlesage :)

[2020-07-24 17:55] smurching commented on #3138
Merged the PR, thanks @fhoering for the fix and @KarishmaDaga for the catch!

[2020-07-24 17:55] #3138 closed

[2020-07-24 18:20] dmatrix commented on #3144
The `--default-artifact-root`, by design, is something that we reckon does not change frequently in production for a number of reasons: people want to backup their artifacts for data disaster and recovery; use of efficient and reliable cloud storage for scalability and replication. So changing and moving `--default-artifact-root` frequently is not a best practice.

On the other hand, in your case,

[2020-07-24 20:00] smurching commented on #2557
Thinking about this some more, some more off-the-cuff thoughts:
* Tracking & model registry: given that we want to drop the gunicorn & SQLalchemy dependencies, seems reasonable for the client to contain only FileStore and RestStore implementations of the tracking & model registry AbstractStores (with ``mlflow-client``, you can log to a remote server or your local filesystem)
* Projects: The client

[2020-07-25 18:13] xinluh commented on #3009
@arjundc-db Circling back on this - is the new artifact repository mandatory? For example, if user only uses gcs or aws, will the azure dependency ever come into play? Mlflow seems to be doing a good job in being modular and backend agnostic so far; this seems to break the pattern a little.

[2020-07-25 18:13] MAHESH-HASBI opened #3169 "[FR]Adding description to models while registering from API"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-07-26 13:31] amiryi365 commented on #3154
@harupy Hi there!
I seemingly found a bug in the mlflow code:
at: **mlflow/store/artifact/s3_artifact_repo.py** function **_download_file**:
Original code is:
[code]
My patch fix is:
[code]
It seems **s3_root_path** includes already the filename, e.g.:
`s3_root_path = '3/xxxxxxxxxxxxxxxxxxx/artifacts/myfile.log'`
and **remote_file_path** is the file path under the artifacts, e.g:
`remote_file_path

[2020-07-26 14:09] harupy commented on #3154
@amiryi365 Thanks! Did your patched code fix the issue?

[2020-07-26 21:46] ankitmathur-db opened #3170 "[BUG] PDF worker file can't be found when running MLflow UI server"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-07-27 02:26] amesar opened #3173 "[DOC-FIX] Description of filter argument syntax for MlflowClient.search_registered_models is missing"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this documentation issue template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another

[2020-07-27 06:35] amiryi365 commented on #3154
@harupy I'm not sure...
Actually I don't know how to debug the server as it has nested runs...
I also failed to find a way to get a good debug level log (using `--gunicorn-opts "--log-level"` didn't help a lot..)
If you could help me with those it would be great!
I just took code samples from the mlflow package, changed them a bit to make them independent, then ran them with my own params, maybe I

[2020-07-27 06:37] danielvdende opened #3175 "[FR] Block registered models from being updated"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [X] Yes. I would be willing to contribute this feature with guidance from

[2020-07-27 06:49] harupy commented on #3154
@amiryi365 You can use [`mlflow.get_artifact_uri`](https://www.mlflow.org/docs/latest/python_api/mlflow.html#mlflow.get_artifact_uri) which display the current artifact_uri.

[2020-07-27 07:12] amiryi365 commented on #3154
@harupy I get: **s3://mlflow/3/xxx/artifacts**, so I was wrong putting the params in my test...
Anyway, I'm talking about the server, not the client!
My client seems to work well and I can see the result artifacts in the minio browser as I told you before.
I meant the mlflow server is kind of a nested python runs (not mlflow runs), so running it with "-m pdb" doesn't help to debug...
I want to **d

[2020-07-27 07:26] harupy commented on #3154
@amiryi365 What do you mean by `a nested python runs`?

[2020-07-27 07:36] amiryi365 commented on #3154
@harupy I ran somthing like: `mlflow server -m pdb ...` and put breakpoints in **s3_artifact_repo.py**, but it never stopped there.
Looking at the code, I understand  that the server run internal python command, and that's is probably the reason..
In general' what I look for is the right technique to debug the server!

[2020-07-27 07:39] harupy commented on #3154
@amiryi365 DId you try inserting `print` to check values passed to `_download_file`?

[2020-07-27 07:43] amiryi365 commented on #3154
@harupy see above (I edited it), I already told you what was my problem adding prints

[2020-07-27 07:59] harupy commented on #3154
@amiryi365 Actually, you can change the insalled package code. The code below shows where `s3_artifact_reop.py` is located. You can just open it and tweak the code to debug.

[code]

[2020-07-27 08:09] amiryi365 commented on #3154
@harupy that what I did! but although I changed the py file, and also deleted its pyc file, it didn't run my new file!
It compiled the original py again and ran it.
I just read that the right method to do that is to clone the source code, do the change there and install it as a package. It's complicated for me because it runs in a closed network...

[2020-07-27 08:12] harupy commented on #3154
That's strange. How did you install the changed version? Ran `pip install -e .`?

[2020-07-27 08:15] amiryi365 commented on #3154
@harupy I didn't.
I did yesterday exactly what you suggested me just now, and I failed because it used the original version somehow.

[2020-07-27 08:17] harupy commented on #3154
@amiryi365 Did you run `pip installl -e .` after the change?

[2020-07-27 08:28] amiryi365 commented on #3154
@harupy I just tried - it doesn't work on the installed package.
It should work on the cloned source code from github (with the setup.py etc.)

[2020-07-27 08:31] harupy commented on #3154
That's strange. It should work for installed packages.

[2020-07-27 08:51] harupy commented on #2989
@amiryi365 You need to set `MLFLOW_TRACKING_URI` to your postgres URI.

[2020-07-27 10:09] rrma commented on #2401
hi @tomasatdatabricks
sorry for getting back to you so late. I was able to resolve the issue by increasing the upload limit (no clean code yet). But I am not sure if this is the best solution for this problem. I plan to clean the code and then add a PR

[2020-07-27 10:49] harupy commented on #3079
@TsvetanRangelov Can you share your docker file?

[2020-07-27 12:53] amiryi365 commented on #3154
@harupy I added prints to the source code of the installed mlfow, but it didn't "catch" it because it ran the original code.
I also made a fix but now I think it's wrong...
I can't find a way to check what's going on inside the server...

[2020-07-27 13:03] harupy commented on #3154
@amiryi365 How did you confirm `it didn't catch it`?

[2020-07-27 13:19] amiryi365 commented on #3154
@harupy I didn't see my prints. Also, when I deleted the pyc file, it recreated the original one.
See [here](https://stackoverflow.com/questions/23075397/python-how-to-edit-an-installed-package) how to do it right.
But in may case I can't do that...

**Other tries:**
Also, I found that pdb cannot attach an already running python process.
I also tried to run httpry to see rest messages between the

[2020-07-27 13:23] harupy commented on #3154
@amiryi365 What did you do after changing the code?

[2020-07-27 13:26] amiryi365 commented on #3154
@harupy  rerun it in the same way: `mlflow server ...`

[2020-07-27 13:31] amiryi365 commented on #3154
@harupy sure

[2020-07-27 13:32] harupy commented on #3154
@amiryi365 I think just running `mlflow server ...` doesn't call `_download_file`. Can you launch the UI and open artifacts? or did you alread try this?

[2020-07-27 13:44] amiryi365 commented on #3154
@harupy of course it should call  `_download_file` when I click on an artifact in the UI

[2020-07-27 13:50] harupy commented on #3154
@amiryi365 So you clicked an artifact in the UI and nothing prints out. Did you get the same error?

[2020-07-27 14:11] amiryi365 commented on #3154
@harupy  of course I get the error. If I wouldn't, I could say I solved it..

[2020-07-27 14:13] harupy commented on #3154
@amiryi365 Can you open a file in the error stack trace and edit it?

[2020-07-27 15:51] n8shadow opened #3177 "[SETUP-BUG] Databricks/R: install_mlflow() by setting MLFLOW_PYTHON_BIN and MLFLOW_BIN"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux 4.15.0-1050-azure
- **MLflow installed from (source or binary)**: Databricks runtime ML 7.1
- **MLflow version (run ``mlflow --version``)**: 1.10.0
- **Python version**: 3.6
- **Exact command to reproduce**: %r mlflow::install_mlflow(...)

### Describe the problem
I'm working on Azure Databricks and I woul

[2020-07-27 16:17] tomasatdatabricks commented on #2401
Ok, thanks for the update. PR would be appreciated!

[2020-07-27 16:46] dmatrix commented on #3173
@amesar thanks for filling this. We'll work on providing code snippets and descriptions, not only to newly added APIs but to all APIs. This is an ongoing effort.

[2020-07-27 17:07] dmatrix commented on #3175
@danielvdende Thanks for filling this enhance issues.

Registered models' stages and versions change over the course of none, testing, and productizing. For example, you might add/update the description or add a search tag to a registered model in any of these stages.  So freezing a model just because a version of it is a model registry may not be optimal for the model registry workflows.

Perhaps

[2020-07-27 18:48] dmatrix commented on #3177
@n8shadow thanks for filling this.

Are you a Databricks customer? If so you might want to file a ticket. Mostly issues here deal with OSS.

[2020-07-27 19:21] n8shadow commented on #3177
@dmatrix thanks for replying. Yes, I am a Databricks customer. However, I guess the mlflow R - package is maintained on mlflow side and I hoped to get quick help in form of an extension/elaboration of the package docu which is lacking details. That would be great!

[2020-07-27 20:48] dmatrix commented on #3177
@n8shadow Even though [MLflow -R ](https://rdrr.io/cran/mlflow/) maintained as part of OSS MLflow,  you are referring to[ this documentation](https://www.mlflow.org/docs/latest/R-api.html#install-mlflow) lacking details. What additional details you think are missing?

One way you can set these environment variables is via the ["Advanced Options"](https://stackoverflow.com/questions/56856005/how-to

[2020-07-28 06:32] danielvdende commented on #3175
@dmatrix I think that any freezing behaviour should be tied to a version. But once a model has been registered with a particular version, I personally think it shouldn't be allowed to change any more. Perhaps a description could change, but what we've seen is that it's possible to overwrite existing artifacts in place, without any downstream consumers/users of the model being aware.

For me, the m

[2020-07-28 09:28] amiryi365 commented on #3154
@harupy  **_I found the bug!!!_**
It's inconsistent behavior of the minio (probably of the specific version), to my opinion.
I share here the details how to debug it and exactly what's the error.

**How to debug mlflow server:**

1. Run mlflow server with flags to reduce num of workers to 1 and increase timeout so it wouldn't exit the worker during the debug: `mlflow server --gunicorn-opts "--time

[2020-07-28 10:02] synchronizing opened #3182 "[DOC-FIX] SFTP Documentation"
### Willingness to contribute
- [x] Yes. I can contribute a documentation fix independently.
- [ ] Yes. I would be willing to contribute a document fix with guidance from the MLflow community.
- [ ] No. I cannot contribute a documentation fix at this time.

### URL(s) with the issue:

- https://www.mlflow.org/docs/latest/tracking.html#sftp-server

### Description of Proposal

The `SFTP` artifact s

[2020-07-28 11:19] harupy commented on #2778
Addressed by #3142

[2020-07-28 11:19] #2778 closed

[2020-07-28 11:43] harupy commented on #3086
@flouraNadar Can you try runnning this code after deleting a `mlruns` directory?

[code]

[2020-07-28 14:31] flouraNadar commented on #3086
I did try the above code, it does not add anything to the MLFlow interface. But does create mlruns and a folder with name 0 (I understand the 0th run) which contains only a metafile.

[2020-07-28 14:39] harupy commented on #3086
@flouraNadar Thanks! That's strange. Can you run the code below and check where your tracking uri points to?

[code]

[2020-07-28 14:56] flouraNadar commented on #3086
Hey,

Thank you so much. It does register now. I might have set the environment value for artifacts URI to the default location which was different than the one where it was pointing to in the code. Resolved. Thank you

[2020-07-28 14:57] harupy commented on #3086
@flouraNadar My pleasure!

[2020-07-28 14:59] flouraNadar commented on #3086
Yes! definitely

[2020-07-28 14:59] #3086 closed

[2020-07-28 15:34] #2405 closed

[2020-07-28 16:14] dmatrix commented on #3175
When you say it is possible to overwrite existing artifacts in place, are you referring to using [MLflowClient().log_artfact(run_id..)](https://mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.log_artifact) to overwrite it? That is if that run_id is associated with a registered model and version, you may effectively change the model's associated artifacts logged