[2022-03-16 04:00] #5496 closed

[2022-03-16 04:11] dbczumar commented on #5493
Hi @zbloss , thank you for raising this! We've had similar asks in the past for higher levels of content organization in MLflow. We're currently tracking these requests via https://github.com/mlflow/mlflow/issues/1464. For full transparency, we don't intend to implement an additional unit of organization in the near-term.

However, we are assessing potential improvements to the experiment search /

[2022-03-16 04:11] #5493 closed

[2022-03-16 04:17] dbczumar commented on #5494
@WeichenXu123 Can you comment here?

[2022-03-16 04:20] dbczumar commented on #5498
Hi @singankit. Thank you for raising this! Would you be willing to submit a PR to address this issue?

[2022-03-16 04:26] dbczumar commented on #5480
@antoinevokleber What issue(s) are you seeing when you run with the latest configuration suggested by @BenWilson2 ? To confirm, did you create another new experiment after updating the configuration? This is necessary because all of the preexisting experiments will continue to reference `wasbs:/` in the artifact root, causing the MLflow client to attempt to write to Azure Blob Storage directly, ra

[2022-03-16 04:40] dbczumar commented on #4750
Hi @dannyfriar @niksbansode @adamreeve. Apologies for the delayed response. I think we can leverage the existing GetMetricHistory API (https://mlflow.org/docs/latest/rest-api.html#get-metric-history) to implement this feature. This will require the frontend to scan the values of each metric and determine the min / max, but it should be much easier to implement than extending the `Metric` or `RunDa

[2022-03-16 04:41] dbczumar commented on #5479
Hi @santiagxf , I'm going to go ahead and close this issue now that we have a PR. Thank you for contributing this!

[2022-03-16 04:41] #5479 closed

[2022-03-16 04:44] dbczumar commented on #5478
@Xiaxuli As noted by @BenWilson2 , the issue appears to be that your MLflow server and clients haven't been configured with credentials for reading and writing objects from / to S3. The following reference may be helpful: https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html. Thank you for using MLflow!

[2022-03-16 04:44] #5478 closed

[2022-03-16 04:45] dbczumar commented on #5469
@arjundc-db Can you weigh in here?

[2022-03-16 04:50] dbczumar commented on #5474
Got it! Thank you for the clarification! One more question: What happens when you load the model in Python via `mlflow.pyfunc.load_model()` and call `model.predict()`? Do you see the same error?

[2022-03-16 04:52] dbczumar commented on #5451
Hi @jlmeunier ! Thank you for raising this. It's being tracked by https://github.com/mlflow/mlflow/issues/3044. We'd absolutely welcome contributions for this. @adamreeve, is this something you could contribute?

[2022-03-16 04:53] dbczumar commented on #5451
Closing this in lieu of https://github.com/mlflow/mlflow/issues/3044.

[2022-03-16 04:53] #5451 closed

[2022-03-16 04:54] dbczumar commented on #5440
Closing this now that the underlying security issue has been addressed. Thank you for using MLflow, @sr-mpamera !

[2022-03-16 04:54] #5440 closed

[2022-03-16 05:01] dbczumar commented on #2512
This has (finally) been implemented in MLflow 1.24.0. You can check it out the updated docs here - https://mlflow.org/docs/latest/tracking.html#mlflow-tracking-servers.

[2022-03-16 05:01] #2512 closed

[2022-03-16 08:15] DraXus commented on #5489
@dbczumar that was the issue indeed. Thanks for your help!

[2022-03-16 08:31] AlxndrMlk commented on #5474
@dbczumar

Hey Corey,

I tried this with one of the previous versions of the model, and it seems that after reading the model locally with  `mlflow.pyfunc.load_model()` everything works smooth. I do not get an error.

[2022-03-16 08:51] AlxndrMlk commented on #1529
Hey everyone,

one thing that you can use is `mlflow-extend`. It enhances `mlflow` capabilities by adding confusion matrix logging and a couple of other useful functionalities:

**Repo:** https://pypi.org/project/mlflow-extend/

**Docs:** https://mlflow-extend.readthedocs.io/en/latest/index.html

[2022-03-16 10:36] HaraldVanWoerkom opened #5499 "sqlalchemy.exc.CompileError: MSSQL requires an order_by when using an OFFSET or a non-simple LIMIT clause"
I get the mentioned exception when I query my experiments (this is also the query used by the mlflow module):
<MLFLOW HOST>/api/2.0/mlflow/experiments/list?view_type=ALL&max_results=1000
I do not get this when I ask for the full list:
<MLFLOW HOST>/api/2.0/mlflow/experiments/list

In our configuration, we use a tracking server with the mssql+pyodbc: protocol.

The error is self-explanatory: if you

[2022-03-16 13:29] jpvmm commented on #5301
any updates on this?

[2022-03-16 13:30] antoinekrajnc commented on #5490
@harupy not sure what you mean actually. I thought it was the file content I just written above. Is there something else?

[2022-03-16 15:49] harupy commented on #5490
I meant the variable `job_template`.

[2022-03-16 16:45] addisonklinke commented on #5456
@zbloss Agreed, I think there's already a plethora of pipeline tools out there (Pachyderm, ClearML, MLRun, ZenML, Flyte, Kedro... the list goes on) so it would be nice to start coalescing around some industry standards

[2022-03-16 18:04] antoinekrajnc commented on #5490
Hmm, I'm not sure actually how to check that. Do you mind helping me out on this?

[2022-03-16 18:23] antoinekrajnc commented on #5490
The whole stack trace I have is the one stated above :

[code]

But maybe I'm missing something out

[2022-03-16 19:10] dbczumar opened #5501 "[FR] Add MLflow version to the MLModel spec"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-03-16 21:10] julled commented on #1414
+1 for inter-experiment comparison.

[2022-03-16 22:27] adamreeve commented on #4750
Hi @dbczumar, computing the min and max on the UI side seems reasonable for the single run view, but showing the min/max values in the experiment view for multiple runs and potentially being able to sort and search based on the min/max values seems more useful, eg. to allow easily comparing runs, and that would probably require server side support.

I would think it should be possible to do this i

[2022-03-16 23:33] #5482 closed

[2022-03-17 01:42] harupy commented on #5490
@antoinekrajnc I created a [branch](https://github.com/harupy/mlflow/tree/issue-5490) on my fork for investigation. You can install it via:

[code]

This version should print out `job_template` (see https://github.com/harupy/mlflow/commit/dbaf3151d21b8551678ef65b61e431b188189056)

[2022-03-17 02:48] adamreeve commented on #5451
Hi @dbczumar, sure, I've opened a PR for this at #5504, although it looks like this needs some support from someone at Databricks to update the script that modifies version numbers for releases.

[2022-03-17 12:44] HaraldVanWoerkom commented on #5499
Hi @dbczumar . Unfortunately I do not have a development environment for mlflow set up (I hacked my fix directly into my Python environment). I'm afraid that setting up an environment that also runs all tests will be a lengthy exercise.

[2022-03-17 14:17] DOH-WLD0303 commented on #1655
Reviving this thread as I think it would be an incredibly useful feature where I currently work. We're currently leveraging the Databricks hosted MLflow instance and being able to pass in additional header content would allow for more flexible model pipelines. The use case I have been investigating is record linkage and having the ability to signal which dataset is being used and how to treat it o

[2022-03-17 16:11] sreerama-naga opened #5506 "Guide to integrate mlflow spark automatic logging using java API"
Hi,

Looking for a guide or document which explains about  how to integrate spark automatic logging using java API.
Understood that the _mlflow-spark_ library is the one to use for integration.

Python API documentation is available here https://www.mlflow.org/docs/latest/tracking.html#spark.
Looking for similar type of guide/documentation  with steps for java API.

Precisely,
1) What are the conf

[2022-03-17 16:16] Davidswinkels opened #5507 "[FR] Improve performance by lowering amount of calls to retrieve model"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-03-17 17:46] andy1122 commented on #5501
I would like to collaborate with you.

[2022-03-17 19:41] #5475 closed

[2022-03-17 19:59] dbczumar commented on #4750
Absolutely, I agree that comparing and sorting runs based on min / max metric values would be quite helpful. I think it would be great to take incremental steps toward a solution, beginning with UIs for display min / max metric values for a single run. The next step we could take would be to display this information on the Compare Run page. After those, we can then work together to determine wheth

[2022-03-18 00:39] BenWilson2 commented on #5506
Hi @sreerama-naga , due to the relatively low utilization of the JavaAPI, we haven't spent much time on ensuring complete feature parity between the primary Python APIs and the Java APIs. So, for the missing functionality, such as autologging, I'm afraid that we just don't have that implementation prioritized, opting instead to work on features within the Python API.
That being said, we would cert

[2022-03-18 00:56] BenWilson2 commented on #5507
Hi @Davidswinkels have you taken a look at the model registry functionality?
https://www.mlflow.org/docs/latest/model-registry.html#fetching-an-mlflow-model-from-the-model-registry

The ability to retrieve a particular model with a single API call is in there, allowing you to get an artifact by specifying a version or a stage directly. This might simplify your use case.

As far as tightly coupling

[2022-03-18 01:51] BenWilson2 commented on #5499
@HaraldVanWoerkom thank you again for bringing this issue up to us! This should be completely fixed in the next release of MLflow so that you don't have to fork the repo and apply a manual fix. Cheers!

[2022-03-18 01:51] #5499 closed

[2022-03-18 02:01] palol commented on #3478
@morkru are your changes available in any of the new versions of mlflow? I'm currently on v1.24.0 (latest release at the time of writing) and am not seeing any changes from overriding the default timeout.

I tried adding the following to my code, but with no success
[code]

[2022-03-18 03:14] #5492 closed

[2022-03-18 04:36] sreerama-naga commented on #5506
@BenWilson2 thank so much for the details. It certainly helps.

One more question:
Does save or log model functionality is still not available with Java API? means the answer [here](
https://github.com/mlflow/mlflow/issues/1595) is still valid?

Alternate option I see, to log_model is treat the models as artifacts and log as artifact by taking advantage of log_artifact(s) functions. But I am not s

[2022-03-18 07:23] HaraldVanWoerkom commented on #5499
@BenWilson2 Thanks for picking this up so promptly.

[2022-03-18 07:39] Davidswinkels commented on #5507
Hi Ben. Thanks for the answer! We will look into the model registry documentation even more to see if that improves performance and if we can fetch models easier with less code. Then we will get back here. Yes agree from a loose-coupling perspective it's nice to keep tracking server and artifact retrieval separated. So then it's not wise to do:
`model = mlflow.sklearn.load_latest_model(experiment_

[2022-03-18 08:33] antoinevokleber commented on #5480
Hello, yes i have create a new experiment . The problem is that the upload of artifacts from the client required access to the server storage and moreover required to know the connection string, which in my opinion is anti pattern with the proxy artifact mlflow. The user in this architecture proxy don't need to know server storage.

[2022-03-18 08:43] #5480 closed

[2022-03-18 21:03] yxiong opened #5512 "[FR] Improve binary classification metric support in `eval_and_log_metrics`"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-03-19 03:45] amesar commented on #5506
The Java/Scala client is a limited subset of the full-fledged Python implementation. Much of the rich Python functionality (flavors, projects) is implemented on the client side. Due to low demand, this has not been implemented for Java/Scala. For Java/Scala there is no concept of ML "flavors" (sklearn, keras, etc.) so you have to log your model as a barebones artifact.

[2022-03-19 17:58] ahmadarbain commented on #1669
@ankit-db can you please help me, i got this issue while i try model serve in

[code]

[2022-03-19 18:27] #3044 closed

[2022-03-19 22:48] r3stl355 commented on #5501
Hey @andy1122 , I frankly don't know what to say. I never collaborated with anyone in this type of setup. I prefer having my own pace for this type of work and don't want to set any expectations/constraints or depend on others. This is a bite-size contribution so you can easily submit your own PR.

[2022-03-19 22:49] r3stl355 commented on #5501
Hey @andy1122 , I frankly don't know what to say. I never collaborated with anyone in this type of setup. I prefer having my own pace for this type of work and don't want to set any expectations/constraints or depend on others. This is a bite-size contribution so you can easily submit your own PR.

[2022-03-20 06:19] andy1122 commented on #5501
Hi @r3stl355, Okay you can goahead with this task. I will search for some other "good_first_issue". Since i am new to this project, so i was looking to collaborate with others who are more experienced.

[2022-03-20 07:27] ahmadarbain commented on #3633
@safuvanpp how could you fix this, I had similliar issue l

[2022-03-20 14:24] jhadjar commented on #629
@mohammedi-haroune Does the previous mention by @Toumash affect automatic experiment tracking (detecting models, metrics, parameters, and saving to S3) for notebooks on iko.ai?

[2022-03-20 19:48] rgaudenzi-fub opened #5514 "[SETUP-BUG] Problem setting up Scenario 5 using Minio server to store artifacts"
Good evening, I'm trying to setup a MLflow deploy based on docker container following the structure depicted in Scenario 5 (https://mlflow.org/docs/latest/tracking.html#scenario-5-mlflow-tracking-server-enabled-with-proxied-artifact-storage-access) where MLflow acts as artifact proxy.
My idea was to have three container:
- a MySQL container to store data about runs, metrics and parameters;
- a con

[2022-03-21 01:06] jparkhill commented on #572
Yeah. Gotta agree... I hardly see the purpose of MLflow beyond a per-experiment key-value store without this feature. You'd pretty much be better off writing your own with FastAPI or something.

[2022-03-21 03:20] #4235 closed

[2022-03-21 05:35] sreerama-naga commented on #5506
@amesar thank you.

[2022-03-21 09:10] mwzhu opened #5518 "[BUG] Source activate command not working for conda environment"
I am following the quickstart tutorial (https://www.mlflow.org/docs/latest/tutorials-and-examples/tutorial.html) and when running trying to package the model in a conda environment with `mlflow run sklearn_elasticnet_wine -P alpha=0.42` I get this error:
`2022/03/21 02:05:21 INFO mlflow.projects.utils: === Created directory /tmp/tmpspwgyjnt for downloading remote URIs passed to arguments of type '

[2022-03-21 09:37] rgaudenzi-fub commented on #5514
Please notice that the MinIO credentials passed to the MLflow server are correct: in fact, if I try to access an already existing file (e.g., uploaded manually on Minio outside MLflow) using the REST API (e.g., localhost/api/2.0/mlflow-artifacts/artifacts/numbers.txt) then I get the file successfully.

The problem is that the client code just can't upload its artifacts without accessing the bucket

[2022-03-21 10:22] morkru commented on #3478
@palol Hi! I'm guessing they will be in v.1.25.0 next month

[2022-03-21 10:48] mokrueger commented on #3478
@palol Hi! I'm guessing they will be in v.1.25.0 next month

[2022-03-21 15:54] BenWilson2 commented on #5514
Hi @rgaudenzi-fub could you make sure that you're installing the latest version of MLflow? This functionality only became available recently in version 1.24.0, released on 2/28/22 (portions of it were released in 1.23.x, but there were a few issues with it, so please use 1.24.0).
The exception that you posted would only be generated by an MLflow version < 1.23.0.

[2022-03-21 16:21] rgaudenzi-fub commented on #5514
@BenWilson2 Hi Ben, thank you for your help. I noticed there was a new version and installed it on server-side, but unfortunately I didn't think to update MLflow on client-side. Now it works without any problem. Thanks!

[2022-03-21 16:21] #5514 closed

[2022-03-21 16:21] #5506 closed

[2022-03-21 16:51] BenWilson2 commented on #5507
There certainly won't be a need to search for the experiment name while using the model registry since there is a very small subset of "production-capable" models that would be registered.
That being said, that doesn't seem like what your use case is for if you're asking about searching for runs based on experiment names.
We'll have an internal discussion around whether we'd like to pursue somethi

[2022-03-21 20:51] singankit commented on #5204
@peguerosdc MLflow R uses mlflow cli for artifacts related tracking API which can be found [here](https://github.com/mlflow/mlflow/blob/3ab6fbf3757fc58b2600a10cd67f2104fdd1be23/mlflow/R/mlflow/R/tracking-runs.R#L481). Which then are handled by python package. For custom tracking store like Azure Machine Learning (AML) it requires `azureml-mlflow` package to be installed. This package will handle t

[2022-03-22 00:24] BenWilson2 commented on #5507
Hi @Davidswinkels if you're up for creating a search_runs_by_experiment_name() implementation that performs the client-side resolution of experiment names to experiment_id's and then submits those to the search_runs() API, please feel free to file a PR and we'll be more than happy to review and provide feedback.

[2022-03-22 03:34] WeichenXu123 commented on #5518
Could you run `conda activate mlflow-7122f0cb71f385d249fbb61cc599afd8045ab238` manually and see whether it succeeds ?
If manually run failed, could you run `conda env list | grep mlflow-7122f0cb71f385d249fbb61cc599afd8045ab238` and attach output here for helping our debugging ?

[2022-03-22 04:02] mithrandir184 commented on #4830
Hi, is there any work around this?

[2022-03-22 15:30] tahesse opened #5519 "[BUG] MLflow fails to upload artifacts to the designated folder"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-03-22 23:18] BenWilson2 commented on #5519
What version of MLflow is the docker container (tracking server) configured to use? Is it latest or did you pin it to 1.21.0?

[2022-03-23 06:12] tahesse commented on #5519
It's pinned to 1.21.0.

[2022-03-23 08:17] Rusteam opened #5523 "[FR] add a "name" parameter when creating runs from `client.create_run()`"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [x] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2022-03-23 10:22] tahesse commented on #5519
I also checked the MySQL database entries and nothing seems off. Frankly, I am puzzled why the mlflow sdk shows this behavior. SDK version is `mlflow~=1.21.0` (mlflow, version 1.21.0) as well according to my requirements.txt.

[2022-03-23 14:37] moshinde opened #5524 "[BUG] Aquasec scan failed for the docker image from dockerutil.py"
Hi,

Aquasec scan is failing for the docker image generated by "mlflow models build-docker".
Please find an attached json file containing all the vulnerabilities.

[AquascanReports.docx](https://github.com/mlflow/mlflow/files/8333905/AquascanReports.docx)

[2022-03-23 15:56] jinzhang21 commented on #4005
Synced with team members. To log a Keras model (or any other flavor) in Pyfunc format, please follow the example below: https://www.mlflow.org/docs/latest/models.html#example-saving-an-xgboost-model-in-mlflow-format

I agree the approach is not self-evident and not very searchable. We'll fix the documentation in the near term, and think about how to better address the usability in long term.

[2022-03-23 20:00] #5498 closed

[2022-03-23 20:31] r3stl355 commented on #5512
Can pick this up if no one else is looking

[2022-03-23 21:12] vvijay-bolt opened #5525 "[BUG] Inconsistency in serving between json and csv data"
The parse csv input function [here](https://github.com/mlflow/mlflow/blob/master/mlflow/pyfunc/scoring_server/__init__.py) is used to decode requests during model serving. Unlike the json function in the same file, it does not use the model schema to inform the choice of datatypes. This causes errors when the dataframe is later compared against the schema [here](https://github.com/mlflow/mlflow/bl

[2022-03-24 00:06] dbczumar commented on #5525
@arjundc-db @tomasatdatabricks Can you take a look?

[2022-03-24 00:29] BenWilson2 commented on #5524
Is this in reference to the miniconda vulnerabilities listed in this NIST report? If so, we are using the latest version of miniconda. A better place to refer to might be to notify anaconda of these vulnerabilities.

[2022-03-24 00:29] #5524 closed

[2022-03-24 00:31] BenWilson2 commented on #5519
Thanks for clarifying @tahesse . We'll try to get a repro going to see if we can figure out what might be going on.

[2022-03-24 00:32] dbczumar commented on #5474
@AlxndrMlk Got it! @arjundc-db is investigating. Given that this issue doesn't occur for local inference, my hunch is that it's related to input parsing and validation in the MLflow model scoring server.

[2022-03-24 00:35] strangan commented on #4005
Thanks @jinzhang21

But i'm still having trouble. Maybe it's a silly error on my part. I followed the recipe you laid out from the XGBOOST example. However, it fails right at the end when I try to load the pyfunc model using ```mlflow.pyfunc.load_model``` The specific error is ```AttributeError: 'Model' object has no attribute 'load_model'``` which is strange because I'm calling the entire class m

[2022-03-24 01:02] #5501 closed

[2022-03-24 02:48] dbczumar commented on #4005
Hi @strangan , I think you need to replace the following:

[code]

with

[code]

Let me know if this helps.

[2022-03-24 03:37] dbczumar commented on #5523
@Rusteam thank you for filing this, and, @tahesse, thank you for responding. We have merged https://github.com/mlflow/mlflow/pull/5187 to address this issue. Thank you for using MLflow!

[2022-03-24 03:37] dbczumar commented on #2804
We have merged https://github.com/mlflow/mlflow/pull/5187 to address this issue. Thank you for using MLflow!

[2022-03-24 03:37] #2804 closed

[2022-03-24 05:04] strangan commented on #4005
Oh my god! What a silly mistake! I poured over the code line by line and nearly lost my mind. Thank you so much @dbczumar . This works now.

[2022-03-24 06:53] AlxndrMlk commented on #5474
Thanks for the update, @dbczumar !

Yes, it seems so.

[2022-03-24 07:46] Rusteam commented on #5523
@dbczumar that PR seems to address MLflow Projects.
Would it also allow to set a run name from `MLflowClient().create_run()` for other use cases?

[2022-03-24 07:55] Rakesh-Raushan commented on #884
I had this problem, solved it by installing azure-blob-storage package in the environment where I was running MLflow UI  and also setting the environment variables for blob like this:
import os
os.environ['AZURE_STORAGE_ACCOUNT'] = <storage_account_name>
os.environ['AZURE_STORAGE_KEY'] = <storage_key>
os.environ['AZURE_STORAGE_CONNECTION_STRING'] = <storage_connection_string>
os.environ['AZURE_STO

[2022-03-24 11:46] Sergiodiaz53 commented on #4655
I'm using MLFlow 1.24. Is this working in any other version?

Im registering the model using:

`if __name__ == "__main__":

    remote_server_uri = "http://127.0.0.1:5000"
    mlflow.set_tracking_uri(remote_server_uri)

    # Load and compile Keras model
    model = tf.keras.applications.MobileNetV2((32, 32, 3), classes=10, weights=None)
    model.compile("adam", "sparse_categorical_crossentropy",

[2022-03-24 12:48] tahesse commented on #5519
@BenWilson2 I just set up a fresh mlflow installation and encountered the exact same issue. Could it be the case that the error stems from `mlflow.pytorch.log_model`?

The artifact Uri prints: `s3://<bucket-name>/mlflow/1/a951531a7a31422c938dab6a1e24f396/artifacts`

[2022-03-24 13:21] WeichenXu123 commented on #5494
Seems like tensorflow side code issue.

Did you try to use `tensorflow.saved_model.load` to load model and run prediction (without mlflow) to see whether it works ?

[2022-03-24 13:39] WeichenXu123 commented on #5494
I think current mlflow tensorflow serving code cannot support your case:
https://github.com/mlflow/mlflow/blob/82d402173880991f0139b5f0268e4d28c7672645/mlflow/tensorflow/__init__.py#L515

If the input column is an array type, here it will feed a pandas series instance contains multiple numpy array objects,
but the `tensorflow.constant` requires an 2D numpy array (last dim = 4) in your case, so it

[2022-03-24 17:24] BenWilson2 commented on #5519
Hi @tahesse could you run this and confirm that the 2nd tuple return value is `'mlflow/1/a951531a7a31422c938dab6a1e24f396/artifacts'` ?

[code]

[2022-03-24 17:55] tahesse commented on #5519
@BenWilson2 It dissects `s3://<bucket-name>/mlflow` into `("<bucket-name>", "mlflow")`.

[2022-03-24 18:30] BenWilson2 commented on #5519
It might help troubleshooting if you put your artifact uri directly into:

[code]
to see what the parsed elements are.

For example, the uri parsing from the above example returns:

[code]

If your netloc value is not present (which is what I think is happening because of some unparseable syntax) that might lead us down to coming up with a fix for this.

[2022-03-24 18:44] BenWilson2 commented on #5519
@tahesse would you be ok sharing the bucket name with us on slack? mlflow-users.slack.com

[2022-03-24 19:07] BenWilson2 commented on #5519
Also, could you do a double-check on what your server env config is for ``${AWS_S3_URL}`` just to make extra certain that it's:
`export AWS_S3_URL="s3://<bucket>"`
and not
`export AWS_S3_URL="s3:///<bucket>"`

with an additional "/" this will definitely give the behavior that you're seeing.

[2022-03-24 19:40] tahesse commented on #5519
@BenWilson2 The bucket name is `product-mlflow-bucket` whereas product is our internal product name. Just lowercase characters. The S3 url starts with `s3://`. I even hard-coded it to make sure that is not the issue.
I wonder if a change in S3 configuration may cause this issue, because this is really everything that changed before it showing this behavior.

[2022-03-24 20:08] BenWilson2 commented on #5519
does this behavior still happen if you create a new experiment and log new runs to it after the s3 config change?

[2022-03-24 21:50] dbczumar commented on #5523
@Rusteam My apologies. I misinterpreted. We're excited to review a PR for this, if you're still willing to contribute one.

[2022-03-24 22:19] dogeplusplus opened #5526 "[FR] Be able to set the description of a run programmatically"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-03-24 23:17] BenWilson2 commented on #5526
Hi @dogeplusplus would the current functionality included in the context wrapper `mlflow.start_run()` that supports defining the arguments `run_name` and `tags`={"run_description": "This is what this model is for..."}` solve your use case?
There isn't a specific construct for a 'run description' present in the signature for an MLflowObject (a run). Any UI-based description fields that are present

[2022-03-24 23:40] dogeplusplus commented on #5526
Technically yes I could use the tags or the run name to do that. I just thought it would be nice to be able to inject like a paragraph since there is a description box right there. The box is also wider which makes it slightly more easier to read longer pieces than the tags section. However I know that my use case may be niche so feel free to close this issue if it's not worth implementing.

[2022-03-24 23:44] Jingnan-Jia opened #5527 "[FR] Why donot open the "Discussion" feature of Github?"
Hi,

I found that mlflow github did not open the "Discussions" feature of Github like [`Pytorch.Lighting`](https://github.com/PyTorchLightning/pytorch-lightning/discussions).

From the `README` of mlflow, it show "For help or questions about MLflow usage (e.g. "how do I do X?") see the [docs](https://mlflow.org/docs/latest/index.html) or [Stack Overflow](https://stackoverflow.com/questions/tagged/

[2022-03-24 23:54] BenWilson2 commented on #5526
Oh, not at all! Thank you for the reported idea. We'll discuss it internally and determine if it's something that we'd like to include. We appreciate your ideas and if you have any others, please feel free to share them!

[2022-03-25 00:04] Jingnan-Jia commented on #5526
This is a very necessary feature, I have been looking forward to it for a long time.

Nowthat the experiment/run's name, tags can be customed, why the `description` can not?

In the following figure, we can see all titles (Parameters, Metrics, tags, Artifacts) could be assigned values by users except `description`.
![image](https://user-images.githubusercontent.com/34941987/160029182-c9910160-e5c0

[2022-03-25 00:07] Jingnan-Jia commented on #5527
By the way, Stack Overflow is not as convenient as Discussions. In Discussions it is easier to convert a discussion to issue or reverse.

[2022-03-25 00:34] BenWilson2 commented on #5526
If anyone would like to contribute a PR for this, please feel free to add the `description` argument to the fluent API and have it set the appropriate tag key that populates this Description field in the UI. We'll be happy to review it!

[2022-03-25 01:11] BenWilson2 commented on #5526
![Screen Shot 2022-03-24 at 9 11 02 PM](https://user-images.githubusercontent.com/39283302/160035325-0df8fdac-2117-4914-a3c5-953e06594cdd.png)

[2022-03-25 03:06] froody opened #5528 "[BUG] mlflow.start_run(...) causes XLA crash with TensorFlow 2.8.0 on a TPU v2-8"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-03-25 07:25] tahesse commented on #5519
@BenWilson2 Pardon, in my previous post I was running
`S3ArtifactRepository.parse_s3_uri('s3://product-mlflow-bucket/mlflow')` which did yield the tuple I mentioned atop.

If I run
`S3ArtifactRepository.parse_s3_uri("s3://my-bucket-mlflow/mlflow/1/a951531a7a31422c938dab6a1e24f396/artifacts")`,
I receive
`('my-bucket-mlflow', 'mlflow/1/a951531a7a31422c938dab6a1e24f396/artifacts')`
as an output.

Th

[2022-03-25 08:48] Rusteam commented on #5523
Definitely. I can do this.

In a nutshell, what I have to do is to:
- add `run_name` parameter to `create_run()` in **sqlalchemy_store.py**
- add `run_name` parameter to `RunInfo()` in **run_info.py** in the call inside `create_run()` in `file_store.py`
- to set a `run_name` from `create_run()` in `tracking.MLflowClient()`, default is None or "".

anything else?

[2022-03-25 11:04] Davidswinkels commented on #5507
Hey Ben. We were thinking of adding this since we were using MLFlow with file-based backend-store-uri. We are currently switching to a database backend to improve performance. From initial performance check the "get_experiment_by_name" does not seem the bottleneck anymore:

[code]

Performance comparison of MLFlow model retrieval (file-based vs SQLite database) over 10 calls:

<html>
<body>

  | F

[2022-03-25 12:23] tahesse commented on #5519
I did a fresh scenario 4 docker swarm setup and it isn't working there as well.

[2022-03-25 16:26] mattpotma opened #5530 "[BUG] Autologging error No encoder for object when adding regularization to pretrained model"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-03-25 18:30] mattpotma commented on #5530
This may just be an issue on TensorFlow's end. It's just raising an error from this line: https://github.com/mlflow/mlflow/blob/2e175e7fd65d86d12d204b648aa5ff73063a7dc9/mlflow/keras.py#L266

The model will save as `h5` format only, but sadly it appears MLFlow logging only supports the `SavedModel` format.

[2022-03-25 18:33] #5530 closed

[2022-03-25 20:24] vvijay-bolt commented on #5525
I opened a pr here: https://github.com/mlflow/mlflow/pull/5531

Could you please take a look?

The tests seem to be failing because there's an error while building the docs. My changes shouldn't be causing it.

[2022-03-26 01:05] #5519 closed

[2022-03-26 12:29] dogeplusplus commented on #5526
Now that it's the weekend I had some time to give this a go: #5534. Feel free to make changes directly on it or suggest ones that I can try to implement.

[2022-03-28 07:03] #4689 closed

[2022-03-28 07:58] hugowschneider commented on #4219
Hi @echarso and @dmatrix,

I was looking into this FR and I am very interested in following up on that and if possible contribute :), have any of you started any implementation?

I like the proposed approach to implemented is similar to the plugins. I was hoping to achieve with this a 2-step approach.

1. A callable would give feedback, based on the information stored in MLFlow, if a model can be

[2022-03-28 08:50] ekosman commented on #1896
Has anyone found a solution or a workaround for this?

I encounter a similar issue: child runs float on the top of the board until I scroll down and click "Load More".

[2022-03-28 09:38] smiraldr opened #5541 "[FR]Add functionality to permanent delete of run from UI - removing from backend db and S3 artifacts"
## Proposal Summary

Does mlflow ui have an option to delete runs , experiment which reflects in the postgres backend and also automatically deletes s3 artifacts?
[https://github.com/mlflow/mlflow/issues/2152](url) This one had no resolution

## Motivation
- Everytime I delete a run due to some improper triggering of any ml training , I have to manually locate the run in s3 and delete the artifact

[2022-03-28 09:44] serena-ruan opened #5542 "[BUG]Spark autolog `sparkDatasourceInfo` tag not reset between runs"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2022-03-28 13:17] matthewmayo opened #5544 "[BUG] MLflow permission errors when creating Sagemaker Serverless endpoints"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-03-28 13:37] WeichenXu123 commented on #5494
@karinapatel
I create a draft fix branch:
You can use this branch:
[code]
as a workaround.

Note there's another issue: tensorflow autolog does not log signature. So the "feed_dict" key "DATA" mismatch with the UDF feed key name "0" (when no signature provided the key is generated like '0', '1', ...)

So your code  you need change another place:
[code]

[2022-03-28 16:32] pogil opened #5546 "[FR] Make mlflow.tracking.artifact_utils._download_artifact_from_uri a public function"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-03-28 21:00] Exitare commented on #2347
Is there any update on this? Is really counterintuitive to not delete child runs when the parent-run is being deleted.

[2022-03-29 00:08] dbczumar commented on #5542
Hi @serena-ruan. Thank you for raising this! Would you be able to root cause the issue and file a fix? Happy to help provide guidance and PR review!

[2022-03-29 00:09] BenWilson2 commented on #5544
Hi @matthewmayo would you be interested in digging into this a bit more and working on a PR fix? Let us know if you'd like to bounce some ideas around during the investigation if you're inclined. Thanks!

[2022-03-29 08:15] zeeshanahmad10809 commented on #2690
I resolved the same issue using following steps:

1. Empty the mlruns/.trash directory (or delete the 0 folder).
2. Run `mlflow experiments create -n Default`

That's all.

[2022-03-29 09:21] cogito288 commented on #2152
I'm also encountering a similar issue.
The command that I'm using is  `mlflow gc --backend-store-uri https://<azure_storage>.file.core.windows.net/mlflow/mlruns/`

I got this error message `mlflow.exceptions.MlflowException: This cli can only be used with a backend that allows hard-deleting runs`

So, does it mean that hard deletion through mlflow gc is not allowed? Do I have to manually delete th

[2022-03-29 09:46] tahesse commented on #5519
To anyone else who encounters this problem, I finally managed to solve it with Scenario 4 deployment.

I had an environmental variable set locally:
[code]
which caused this odd behavior! The issue is pretty much in this code block (https://github.com/mlflow/mlflow/blob/19a82fe7ea7c3ca7aa291741e6fa19ce5011d713/mlflow/store/artifact/s3_artifact_repo.py#L85-L126):
Having `MLFLOW_S3_ENDPOINT_URL` set

[2022-03-29 10:06] tahesse commented on #5519
As a heads up, I will try to draft a docker swarm deployment for the Mlflow Scenario 4 deployment with minio this week and link it here or contribute it to the docs.

[2022-03-29 11:14] Kr4is opened #5551 "[BUG] PyTorch LightningDeprecationWarning ModelSummary and get_gpu_memory_map"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or

[2022-03-29 18:17] BenWilson2 commented on #5551
Thank you for filing this @Kr4is . Please feel free to submit a backwards-compatible Version validation fix for the library deprecation and we'll be sure to take a look at the PR! Thanks!

[2022-03-29 18:21] BenWilson2 commented on #5541
Does the client API's `.delete_run(run_id)` and `.delete_experiment(experiment_id)` not work for what you're looking to do?

[2022-03-29 18:55] jdowning10 commented on #863
Keen to have this functionality incorporated into the start_run context manager.
Something akin to the Tee operator in Linux with the option to delete the log if the run finished successfully

[2022-03-29 19:27] smiraldr commented on #5541
I never tried using client api for deleting runs as I would have to fetch runs from db and was wondering if it works directly from UI now as this has been a known issue from sometime. Just to confirm does the .delete_run(run_id) delete a run completely from db backend and also delete it's existing s3 artifacts?

[2022-03-29 21:16] ghwatson commented on #863
ditto. any mlops tool should have live monitoring capabilities. i'd go much further to say it should at least have feature partiy with tensorboard's live monitoring capabilities (ex: the mlflow autolog function should do live plotting).

[2022-03-30 00:05] BenWilson2 commented on #5519
Hi @tahesse Firstly, great job on keeping up with the debugging! :)
Secondly, I like your idea of adding an explicit warning about reserved env variables with one caveat: let's go one level higher and make mention in the docs of the behavior of having any unintended local ENV variables set that are reserved by MLflow for any of the backend artifact stores. Feel free to draft up a docs change (an '

[2022-03-30 00:36] BenWilson2 commented on #5541
Hi @smiraldr I see what you're looking for with regards to enabling UI support for this. Unfortunately, the scope of implementing such a feature is substantial when factoring in security, authentication, and properly handling access rights to delete (vs., say, view a run or experiment). We likely will not be looking at this in the short-term for a priority. We hear your request and we'll mark it f

[2022-03-30 00:36] #5541 closed

[2022-03-30 04:57] tahesse commented on #5519
@BenWilson2 To the ​Artifact Stores section?

[2022-03-30 05:27] amesar commented on #5456
Are there any code examples? For notebooks (Jupyter and Databricks) and non-notebook IDE-based code.

[2022-03-30 05:55] #5494 closed

[2022-03-30 08:53] r3stl355 commented on #5507
I'll give this a try

[2022-03-30 08:59] jajinmori1 opened #5558 "[BUG]"
#%%
import json
import os
from sklearn.metrics import classification_report
import time
import mlflow
from mlflow.models.signature import infer_signature
from urllib.parse import urlparse
import pandas as pd
import glob
import pymysql
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split

mlflow.set_tracking_uri("###")
mlflow.get_tracking_uri()

PIP_REQUIREMENTS

[2022-03-30 11:29] Rusteam commented on #5523
@dbczumar,

stuck at this error:
[code]

added:
[code]
 to **service_pb2.py**

and ` optional string run_name = 11;` to `CreateRun` in **service.proto**,
but without any luck.

If you can give me some directions how to fix this issue, would save me tons of time. Thanks

[2022-03-30 12:23] #5551 closed

[2022-03-30 14:22] fernando080 opened #5563 "[Question] How can I connect mlflow server via nginx ssl authentication?"
System information
OS Platform and Distribution: Windows 10
MLflow installed: using pip
MLflow version: version 1.24.0
**Python version: Python 3.9.7 **

Describe the problem
I have created a docker-compose system with a backend/artifact storages, mlflow server and nginx to add an authentication layer.
[code]
I have created an user/password via htpasswd and a custom SSL CA (.pem/.key) using openss

[2022-03-30 19:38] nikunjbjj commented on #4645
@napulen  have you tried using something like this- https://chrome.google.com/webstore/detail/take-webpage-screenshots/mcbpblocgmgfnpjjppndjkmgjaogfceg?utm_source=chrome-ntp-icon  which kind of takes the screenshot of your entire page and gives you a static view that can be done? Or did you care about the actual HTML code of the page?

[2022-03-30 19:49] napulen commented on #4645
@nikunjbjj I tried automatic scrappers and it didn't work. I haven't tried that particular tool you mentioned, though.

I guess I do care about the HTML in the sense that I want people to be able to, for example, compare the results of two experiments. All of the data is already present in the tensorboard logs, so I know it is all there and can be theoretically done in a static website, but I went

[2022-03-30 19:52] napulen commented on #4645
The screenshots of that project, as far as I understand, would capture the look of a particular site, but not the cool interactions (e.g., look at two accuracy plots, side-by-side), which is the main point of sharing these experiments with others.

Maybe later I'll look again at the codebase and try to come up with a branch for this.

[2022-03-30 22:00] arjundc-db commented on #5469
Yes, that makes sense. I will add a PR to change this behavior.
I think the intention was to ensure that if a user is inputting `instances`, every instance should contain all the `named` tensors. However, this check was incorrectly applied to both `instances` and `inputs`.
@tomasatdatabricks it would make sense to keep this behavior/modify it iff the json contains an `instance`. Does that make sen

[2022-03-30 23:07] arjundc-db commented on #5474
Hey @AlxndrMlk, I am not able to reproduce this on my local machine. Can you help me reproduce this?
Essentially, model invocation calls [this piece of code ](https://github.com/mlflow/mlflow/blob/master/mlflow/pyfunc/scoring_server/__init__.py#L232). In both your approaches, the logic finally calls `mlflow/utils/proto_json_utils._dataframe_from_json`. I tested calling `_dataframe_from_json` local

[2022-03-30 23:20] dbczumar commented on #5474
@arjundc-db Can you try reproducing this using `mlflow server`?

[2022-03-31 00:51] chesterxgchen commented on #5456
@mengxr I am also wondering how this be integrated with other pipelines such as Airflow, as part of the pipelines are using Scala-based spark jobs do the heavy lifting transformation and featuring engineering. when data is large, we also using Spark to calculating the statistics comparison like you are demo with Facets-Overview. In that case, we use https://github.com/gopro/facets-overview-spark.

[2022-03-31 01:29] harupy commented on #5558
@jajinmori1 Do you log artifacts on your local machine or a remote artifact store like S3?

[2022-03-31 02:21] jajinmori1 commented on #5558
I didnt. first I wanna see my model on my UI.

[2022-03-31 03:01] harupy commented on #5558
@jajinmori1 I think you did because your code contains `mlflow.lightgbm.log_model`. Can you check where your model artifacts are stored on UI?

<img width="1242" alt="image" src="https://user-images.githubusercontent.com/17039389/160967713-e7516d79-71e1-45d4-9c4f-8226440005f7.png">

[2022-03-31 04:13] jajinmori1 commented on #5558
@harupy
![image](https://user-images.githubusercontent.com/80096854/160975024-927fa4e5-99dd-4859-a396-05f9fe5a817c.png)
UI can't load arifacts.

[2022-03-31 04:15] jajinmori1 commented on #5558
@harupy When I first Execute this cord, I can see model and artifacts just like u uploaded, but suddenly I can't see anything...

[2022-03-31 04:26] harupy commented on #5558
Could you open the dev console of your browser and see if there any error message s?

[2022-03-31 04:33] jajinmori1 commented on #5558
@harupy there is no error message....T.T

[2022-03-31 04:34] jajinmori1 commented on #5558
![image](https://user-images.githubusercontent.com/80096854/160977227-bd8c683c-b079-4b93-a36d-90ef93426b77.png)
@harupy do u wanna see this one?

[2022-03-31 04:39] harupy commented on #5558
Can you see params and metrics?

[2022-03-31 04:40] jajinmori1 commented on #5558
@harupy I didn't load params and metrics, I just loaded model

[2022-03-31 04:44] jajinmori1 commented on #5558
@harupy when I load params and metrics, I can see on UI, only model and pictures some kind of artifacts, I can't see them on UI

[2022-03-31 04:45] harupy commented on #5558
Is your tracking server logging something?

[2022-03-31 04:52] jajinmori1 commented on #5558
@harupy I'm not sure, but it's public db(dompany team db)

[2022-03-31 04:53] serena-ruan commented on #5542
Sure, I'll see what I can do!

[2022-03-31 05:00] harupy commented on #5558
I guess something is wrong with your tracking server. Could you ask the person who maintains the tracking server?

[2022-03-31 05:40] jajinmori1 commented on #5558
@harupy Ok, I will try. thx sir

[2022-03-31 05:42] AlxndrMlk commented on #5474
@arjundc-db,  `infer_signature()` also worked for me in my deployment pipeline. I only experienced the issue when trying to invoke the endpoint after deployment. Also, it works perfectly fine with other data structures (like a list of lists of `int` or `float`).

I only noticed this issue when querying the endpoint with a list of lists of `str`.

[2022-03-31 06:11] harupy opened #5566 "Remove `print` functions in `tests`"
In https://github.com/mlflow/mlflow/pull/5556, we added a custom pylint rule to prevent print function usage. As a follow-up task for this, we should remove `print` functions in the `tests` directory:

## Instructions

1. Remove the following lines:
https://github.com/mlflow/mlflow/blob/5f956fbdfc1ca741c66743d4e8f0082a26393870/pylint_plugins/print_function.py#L13-L14

2. Remove all `print` functio

[2022-03-31 06:16] harupy commented on #5566
Command to list lines containing `print`:

[code]

output should look like:

[code]

[2022-03-31 08:48] WeichenXu123 commented on #5542
Appreciate your help!

[2022-03-31 09:16] tahesse commented on #5171
I came across a similar issue for the `` endpoint.
MLflow server version: 1.21.0 (docs: https://www.mlflow.org/docs/1.21.0/rest-api.html#get-latest-modelversions)
MLflow client version: 1.24.0 (docs: https://www.mlflow.org/docs/1.24.0/rest-api.html#get-latest-modelversions)

The obvious first: the request method changed from `GET` to `POST`. Apparently, the MLflow team tries to accommodate for the

[2022-03-31 09:17] tahesse commented on #5274
This bug is likely related to https://github.com/mlflow/mlflow/issues/5171.
See my comment https://github.com/mlflow/mlflow/issues/5171#issuecomment-1084309201.

[2022-03-31 10:42] harupy opened #5569 "Replace scikit-learn plotting fuctions with plotting class methods"
Plotting functions in scikit-learn (e.g. `plot_confusion_matrix`) are deprecated in 1.0 and will be removed in 1.2. They should be replaced with plotting class methods (e.g. `ConfusionMatrixDisplay.from_predictions`).

https://github.com/mlflow/mlflow/blob/1ddb2c9b5ace0fa605195a4b14c595e274a8c384/mlflow/sklearn/utils.py#L313

For example, the code above can be fixed as follows:

[code]

## Depreca

[2022-03-31 11:17] harupy commented on #5569
cc @ktksq

[2022-03-31 11:32] ktksq commented on #5569
@harupy
I'll fix this issue!

[2022-03-31 11:39] harupy commented on #5569
@ktksq Awesome, looking forward to your PR!

[2022-03-31 17:53] zhh210 commented on #3711
Had the same issue running multiprocessing with GPU. Only spawn is supported with CUDA:
`RuntimeError: Cannot re-initialize CUDA in forked subprocess. To use CUDA with multiprocessing, you must use the 'spawn' start method`

[2022-03-31 23:02] jhallard commented on #2823
It's unclear from the comments in this issue - is one able to run MLflow tracking server behind a reverse proxy and under a leading path e.g. http://my-server.com/mlflow?

[2022-04-01 05:15] dbczumar commented on #5523
Hi @Rusteam , apologies for the delay here. Instead of extending the REST API, can we add a `name=None` argument to `create_run()` and, if it's not `None`, add the corresponding run name tag to the dictionary of tags that are passed as part of the CreateRun request?

[2022-04-01 06:20] Clayrisee commented on #4830
I have same problem, I think the current solution is to remove the python api mlflow.start_run() and manually add experiment name when you run this command.
[code]

or you can set the environment variable for experiment_name and tracking_uri.

[2022-04-01 06:30] Clayrisee opened #5575 "[FR] Custom Name Model Versioning"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-04-01 07:41] serena-ruan commented on #5542
Hey @dbczumar  I found this PR: https://github.com/mlflow/mlflow/commit/fc0da837f1e079ed9c536163e0c88c12fe39f970 Is this behavior by desgin?

[2022-04-01 08:16] Kr4is commented on #5566
We should delete also eprints `from mlflow.utils.logging_utils import eprint`? Change prints by eprints? or just delete prints as said at the issue title? :thinking:

[2022-04-01 08:18] harupy commented on #5566
@Kr4is I think we can just remove print in the tests directory.

[2022-04-01 08:22] Kr4is commented on #5566
@harupy okay! I'll fix this issue!

[2022-04-01 08:25] harupy commented on #5566
@Kr4is Thanks!

[2022-04-01 08:31] manish-globant opened #5579 "[BUG] Unable to Build an Azure ML Container Image for an MLflow model"
I am unable to build an Azure ML Container Image for an MLflow model. While building the docker image using the code:

azure_image, azure_model = mlflow.azureml.build_image(model_uri="<model_uri path>", workspace=<azure_workspace>, synchronous=True)

Getting the following error in the log:

Step 9/13 : RUN pip install mlflow==1.24.0
 ---> Running in c52dae9d410a
[91mERROR: Could not find a versio

[2022-04-01 08:35] harupy commented on #5579
Are you using python 3.6? 1.24.0 only supports python >= 3.7.

[2022-04-01 08:39] manish-globant commented on #5579
My python version is 3.9.7

[2022-04-01 09:04] harupy commented on #5579
In which python version was your model logged?

[2022-04-01 09:58] manish-globant commented on #5579
3.8

[2022-04-01 10:07] harupy commented on #5579
[code]

This dockerfile gave:

[code]

[2022-04-01 10:08] kyle-jarvis opened #5582 "`mlflow.pyfunc.PythonModel`s referencing multiple artifacts with distinct uris but common sub-paths do not work as expected"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or

[2022-04-01 10:10] manish-globant commented on #5579
So the python version is 3.6 in the image. Is there any way to specify the python version while building this image?

[2022-04-01 10:27] manish-globant commented on #5579
Ok, sure

[2022-04-01 12:06] WeichenXu123 commented on #5542
https://github.com/mlflow/mlflow/pull/4086
Interesting, looks like it is a feature not a bug, @dbczumar Why we do that by design ?

[2022-04-01 14:18] Rusteam commented on #5523
That's what I was gonna do.
In that case it wouldn't be handled by FileStore and SQLAlchemyStore, would it?

[2022-04-01 17:17] dbczumar commented on #5542
Hi @serena-ruan @WeichenXu123, the goal of https://github.com/mlflow/mlflow/commit/fc0da837f1e079ed9c536163e0c88c12fe39f970 was to make sure that the following example code logs the data source of `df` to both of the runs because `df` was loaded outside of both runs:

[code]

The goal was not to make the following code log `df` to both runs, since `df` was only loaded inside the first run:

[code]

[2022-04-01 17:36] SaiKumarNerella opened #5583 "[BUG] Unable to load Articrafts in UI - AJAX Internal server error 500"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-04-01 20:48] BenWilson2 commented on #5583
Do the artifacts appear on OCI object store (do they actually get written?)

[2022-04-02 02:37] SaiKumarNerella commented on #5583
Yes

[2022-04-02 18:15] #5526 closed

[2022-04-04 07:47] manishpyy opened #5588 "Unable to deploy mlflow model on Azure ML"
I am following the mlflow documentation for deploying the model in Azure ML (doc link: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-mlflow-models). In the following piece of code:
<img width="458" alt="Capture" src="https://user-images.githubusercontent.com/102793299/161497019-e0139e1d-ca3e-48f7-ae19-b0d23c5b0e84.PNG">

The output of mlflow.get_tracking_uri = 'http://127.0

[2022-04-04 09:30] ThorHe commented on #5514
@rgaudenzi-fub which version of `--artifacts-destination` and/or `--default-artifact-root` ended up working for you?

[2022-04-04 09:41] harupy commented on #5588
@manishpyy Did you set the MLflow tracking URI to your Azure ML Workspace?

[2022-04-04 09:43] manishpyy commented on #5588
Yes,  I had set the tracking URI, this is the command for the same:

mlflow.set_tracking_uri("http://127.0.0.1:5000/")
mlflow.set_experiment("wine_regression")

[2022-04-04 10:02] harupy commented on #5588
Is `http://127.0.0.1:5000/` is your local address, right? Can you follow https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-mlflow#set-up-tracking-environment and set up the tracking URI properly?

[2022-04-04 10:19] manishpyy commented on #5588
Yes, I had set it to the local address, hence the error. I guess had to set it to the uri of the microsoft workspace. Closing this issue. Thanks :)

[2022-04-04 10:19] #5588 closed

[2022-04-04 12:46] #5566 closed

[2022-04-04 13:50] rgaudenzi-fub commented on #5514
Hi @ThorHe, of course, I'll share anything that could help.

On server-side, I start MLflow using the following commands:

export MLFLOW_S3_ENDPOINT_URL="<your_s3_endpoint_url>"
export AWS_ACCESS_KEY_ID="<your_s3_username>"
export AWS_SECRET_ACCESS_KEY="<your_s3_password>"
mlflow server \
--backend-store-uri mysql+mysqlconnector://$DB_USER:$DB_PWD@db:3306/mlflowtest \
--artifacts-destination s3://

[2022-04-04 13:52] harupy opened #5590 "Replace `["--no-conda"]` with `["--env-manager", "local"]` in tests"
In https://github.com/mlflow/mlflow/pull/5567, we added `--env-manager` to specify an environment manager (e.g. `conda`) to restore a model's environment for MLflow Models and Projects, and marked `--no-conda` as deprecated. We still use `--no-conda` in tests, which should be replaced with `--env-manager local`.

### Example

https://github.com/mlflow/mlflow/blob/881919bc96f6858381e79f80c367f27039

[2022-04-04 15:55] harupy commented on #5590
@nishipy Yes! Looking forward to your PR!

[2022-04-04 16:00] nishipy commented on #5590
Thank you! Let me try to fix it and get back to you later.

[2022-04-04 16:03] harupy commented on #5590
@nishipy Assigned this task to you :)

[2022-04-04 16:45] tomasatdatabricks commented on #5469
@arjundc-db Makes sense to me but I think we want to keep parity with tf serving in this case because we use the tf-serving format. Can you check what is the behavior of tf-serving in this case?

[2022-04-04 18:28] pbarker commented on #892
I take it this is to push people to the enterprise product? I'm in a bit of disbelief that this tool offers no means to deploy to the most used platforms.

Can the MLflow team at least address this? Instead of just closing issues or leaving PRs open that aim to solve this problem. Is this an actual open source project or just a marketing stunt?

[2022-04-04 20:50] guelate opened #5594 "[DOC-FIX] Add a Twitter badge on README"
**What is the expected behavior?**

I want to add the dependency for Twitter

[![Twitter follow](https://img.shields.io/twitter/follow/MLflow?style=social)](https://twitter.com/MLflow)

**What is motivation or use case for adding/changing the behavior?**

I think it is important to put forward the community.

[2022-04-04 22:48] harupy commented on #5594
@guelate Makes sense, looking forward to your PR :)

[2022-04-05 02:48] harupy commented on #5579
@manishpyy `ContainerImage.image_configuration` provides a parameter named `base_image` which specifies a base image to be used:

https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.image.containerimage?view=azure-ml-py#azureml-core-image-containerimage-image-configuration

However, MLflow doesn't expose this parameter.

[2022-04-05 02:50] harupy commented on #5579
btw `mlflow.azureml.build_image` is deprecated and we'd recommend using the azureml deployment plugin: https://aka.ms/aml-mlflow-deploy. Could you give this a shot?

[2022-04-05 03:15] harupy opened #5598 "Add `MlflowException.invalid_parameter_value`"
## Motivation

We often construct an `MlflowException` object with `error_code=INVALID_PARAMETER_VALUE`:

[code]

If we had a class method like this:

[code]

We could simplify the original code to:

[code]

[2022-04-05 05:26] adamreeve commented on #5397
Hi @BenWilson2. I'm also interested in this feature and willing to implement this if it fits in with your other plans. The way I'm thinking this could work is that a button for adding additional plots could be added to the existing metric view, and when multiple plots are visible, any one can be removed. I've had a go at implementing a proof of concept to show that this approach can work, but ther

[2022-04-05 07:45] manishpyy commented on #5579
Yes I did try the get_deploy_client api from the mlflow.deployments
from mlflow.deployments import get_deploy_client

I guess the above is possible only if the MLflow tracking URI is set to the Azure ML Workspace. However in my case, we need the mlflow server on another external server, and because of it I'm getting an error:

MlflowException: No plugin found for managing model deployments to "htt

[2022-04-05 08:28] nishipy commented on #5590
I created PR #5604 so please review it.

[2022-04-05 09:45] ThorHe commented on #5514
Thank you for this writeup @rgaudenzi-fub! It really helped in getting the setup right.

I had to make a few changes, as I'm using [Azure Blob Storage](https://www.mlflow.org/docs/latest/tracking.html#azure-blob-storage) to host my artifacts.
1. I have not supplied any other storage related variables other than `AZURE_STORAGE_ACCESS_KEY`
2. The `--artifact-destination` argument supplied with the f

[2022-04-05 09:54] guelate commented on #5594
@harupy Yes, here it is: https://github.com/mlflow/mlflow/pull/5605 :)

[2022-04-05 09:59] rgaudenzi-fub commented on #5514
@ThorHe You're welcome, I'm glad to share what I've done with others who faced the same problems :)

About the experiment, there is no real reasoning to be honest: the code I pasted here was just a proof-of-concept that I did to show MLflow to my colleagues at work and test the deploy on a remote server.

If you've found any guide o tutorial that shows how to use MLflow properly on these matters I

[2022-04-05 10:44] #5590 closed

[2022-04-05 11:04] harupy commented on #5558
@jajinmori1 Are you still experiencing the issue?

[2022-04-05 11:43] harupy commented on #5594
Addressed by https://github.com/mlflow/mlflow/pull/5605

[2022-04-05 11:43] #5594 closed

[2022-04-05 12:01] ibobak opened #5607 "Expand artifact viewer height to > 500px for all artifact types"
https://github.com/mlflow/mlflow/blob/e7caa0a1ffd47255f52b2818fad49d34ed332d99/mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactHtmlView.js#L57

Could you be so kind as to put "100%" instead of "500px" here?

I've patched this in my mlflow instance, and viewing the attached html files (especially plotly charts) became MUCH better.

[2022-04-05 12:12] NickSmyr commented on #4154
Hello,

Is this issue still relevant? Me and [Neproxx](https://github.com/Neproxx) are willing to work on this. We are especially interested in the integration with Azure and SageMaker

[2022-04-05 12:16] adin786 commented on #2945
This is seemingly an old issue but I'm facing the same problem.  I'm on mlflow version 1.24.0

I'm logging to mlflow from inside a Jupyter-lab notebook and the run is being logged with an incorrect source of "ipykernel_launcher.py".  This is messing with the way git commit versions are being detected too, which is kind of spoiling the convenience of mlflow logging in terms of tracking versions of

[2022-04-05 17:05] skylarbpayne commented on #5456
I broadly enjoy the idea, and this is largely an MLFlow-native version of any other pipeline library that exists (i.e. most of these have converaged to the same broad architecture of having a pipeline be a collection of steps with separate runs, etc).

But I think the interface of YAML is probably not the best idea. If your target user is truly a data scientist, context switching between YAML and

[2022-04-05 18:34] matthewmayo commented on #5544
@BenWilson2 I have proposed a solution to this error.  It is something AWS had identified as an issue with file permissions in Sagemaker Serverless.  Let me know if there is more info I can provide beyond what's in the PR.  Thanks!

[2022-04-05 18:41] lungdart commented on #3783
This issue is for creating the container, not for a helm chart.

We we're considering using this tool at our company, but the lack of movement on the issues regarding containers and helm charts is a big red flag for us!

[2022-04-05 19:39] dbczumar commented on #5575
Hi @Clayrisee , unfortunately, many components of MLflow and the Model Registry depend on the autoincrementing version scheme. We don't have plans to loosen or adjust the version scheme at this time. One workaround that may help would be to use Model Registry tags (e.g. https://mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.set_model_version_tag) to tag your mo

[2022-04-05 19:39] #5575 closed

[2022-04-05 19:43] dbczumar commented on #4821
Upon further investigation, we've determined that this capability isn't quite what users want. Multi-column sorting is only useful in the case of breaking ties, and most models are unlikely to commonly produce identical values for one or more metrics.

[2022-04-05 19:43] #4821 closed

[2022-04-05 19:45] dbczumar opened #5611 "[FR] Display model schemas in the Model Registry UI"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-04-05 20:15] efagerberg opened #5612 "[FR] Enable python clients to serve models from python code"
## Willingness to contribute
- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from the MLflow community.
- [x] No. I cannot contribute this feature at this time.

## Proposal Summary

Enable python clients to serve models from python code

## Motivation
- What is the use case for this feature?
This is a very similar use

[2022-04-06 02:03] Clayrisee commented on #5575
awesome! thanks for your reply!

[2022-04-06 06:30] serena-ruan commented on #5542
Ah I see, thanks for the clarification! I'll try to fix it this week 😄

[2022-04-06 10:52] harupy commented on #5607
@ibobak https://github.com/mlflow/mlflow/pull/5606 was filed to resolve this issue.

[2022-04-06 10:55] harupy commented on #5558
@jajinmori1 I'll close this issue. Feel free to reopen if you need further investigation.

[2022-04-06 10:55] #5558 closed

[2022-04-06 11:35] harupy opened #5617 "Replace `all(list comprehension)` with `all(generator)` to lazily evaluate elements"
Replace:

[code]

with:

[code]

### Why do we need this change?

https://eklitzke.org/generator-comprehensions-and-using-any-and-all-in-python

### Instructions:

1. Copy & save this script.

[code]

2. Run the script in the repository root to list the lines containing `all(list comprehension)` or `any(list comprehension)`:

[code]

3. Fix the listed lines.
4. Run the script again and make sure i

[2022-04-06 12:28] henrytdsimmons commented on #5337
+1 For this enhancement!

[2022-04-06 17:09] karinapatel commented on #5494
Hi @WeichenXu123
Thanks for your help -- I have tested this code and have confirmed it resolves the numpy to tensor conversion. I encountered a follow up bug using this mlflow fix branch + TF 2 code (no longer using estimators as they are not supported by TF). I have created a simple example using TF keras that is almost identical to the example in TF documentation but have encountered a bug when

[2022-04-06 17:13] karinapatel commented on #5494
`
%pip install git+https://github.com/mlflow/mlflow.git@master

import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow.keras.layers import Dense, Flatten, Conv2D
from tensorflow.keras import Model
from pyspark.sql import functions as F
from pyspark.sql.types import *
import fnmatch
import os
import mlflow
mlflow.tensorflow.autolog()

def load_data():
  mnist = tf.keras.data

[2022-04-06 17:17] sivaprasad-cs opened #5620 "[FR] Pass the access_control_list to the mlflow job submitted through cli or API"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-04-06 21:05] #5611 closed

[2022-04-06 23:44] cterrelljones commented on #5598
May I take this one?

[2022-04-07 00:37] harupy commented on #5598
@cterrelljones Yes, looking forward to your PR!

[2022-04-07 00:40] harupy commented on #5620
@sivaprasad-cs Thanks for filing this issue. Could you fill in the template?

[2022-04-07 01:22] cterrelljones commented on #5598
Sorry, this is my first time contributing to open source. I want to push my code but I am getting

ERROR: Permission to mlflow/mlflow.git denied to cterrelljones.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

Is there a step I haven't done yet?

[2022-04-07 01:40] harupy commented on #5598
@cterrelljones Did you for the repo? https://opensource.com/article/19/7/create-pull-request-github might help.

[2022-04-07 07:13] krlng commented on #4396
Our solution currently is a small request logic, that assumes, that a model-version that is deployed in production should also run in staging, if there is no explicit version defined for staging. So we first request the staging version, if this is None, we use the production version.

[2022-04-07 13:15] akrabdev commented on #5617
can take this one

[2022-04-07 16:02] alexdivet opened #5628 "[FR]"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-04-07 16:58] nchittela commented on #5617
hello! I'm new to open source and was hoping to contribute. Can I work on this issue?

[2022-04-07 17:18] mengxr commented on #5456
Do you mean working code examples or mocked? In the attached video, I did a quick walkthrough of the designed workflow. But the code is mainly for demoing purpose, not ready for sharing :(

[2022-04-07 17:51] harupy commented on #5617
@nchittela Yes!

[2022-04-07 18:07] mengxr commented on #5456
@giacomov @zbloss @addisonklinke We don't plan to implement a pipeline execution engine. In the first stage, we will adopt an existing one. For example, the code used in the video demo used Bazel. `make` should work well. Essentially what we need is a build tool. In the future, we will support multiple pipeline execution engines like Airflow, Kubeflow, etc.

[2022-04-07 23:37] harupy commented on #5598
@cterrelljones Yes, you can add `Fix #5598` in https://github.com/mlflow/mlflow/pull/5627 so GitHub will automatically close this issue once #5627 is merged.

[2022-04-08 00:45] harupy commented on #5628
@alexdivet Thanks for reporting this issue! Would you be interested in fixing it?

[2022-04-08 01:17] samuelthan commented on #2573
We've encounter the same error message ```Failure reason
Failed to download model data for container "container_1" from URL: "s3://xxx-ap-southeast-2-xxx-model/xxxx/1385/model.tar.gz". Please ensure that there is an object located at the URL and that the role passed to CreateModel has permissions to download the object.```.  Found out that if you are encrypting the model using your own custom KMS

[2022-04-08 03:32] harupy commented on #5617
Thanks @akrabdev for giving @nchittela a chance to contribute to OSS :)

[2022-04-08 07:54] harupy opened #5635 "Concatenate adjacent strings that look like `"a" "b"`"
Concatenate strings that look like this:

[code]

This should be fixed to:

[code]

These adjacent strings were created when we introduced black in this repository.

### Example:

https://github.com/mlflow/mlflow/blob/191ce7038e7aee44bd8ee55917338229f70e55a0/mlflow/deployments/cli.py#L123

### Instructions:

- If your code editor supports regular expression search, `" "[^"]+"` should find lines co

[2022-04-08 10:24] marcindulak commented on #3686
Do configurable stages look compatible with the model registry webhooks https://databricks.com/blog/2022/02/01/streamline-mlops-with-mlflow-model-registry-webhooks.html or would require extra work?

[2022-04-08 10:46] r3stl355 commented on #5582
@kyle-jarvis is this just a type here - you seem to be loading twice the same context (first_step_model)?
[code]

[2022-04-08 10:50] hrishekesh opened #5637 "[BUG] Custom plugin for user authentication and authorization"
I am trying to develop a custom plugin for user authentication and authorization for users using mlflow.
As per the documentation, available at https://www.mlflow.org/docs/latest/plugins.html , I tried to develop a plugin where I create a subclass of mlflow.tracking.request_header.abstract_request_header_provider.RequestHeaderProvider. This was with the expectation that a custom request header pro

[2022-04-08 11:21] harupy commented on #5637
@hrishekesh Can you share the source code or repository of your plugin?

[2022-04-08 11:39] hrishekesh commented on #5637
I have tried to provide the necessary code here.
Following is the code for setup.py
from setuptools import setup, find_packages
`setup(
    name="mlflow-authl-authz-plugin",
    version="0.0.3",
    description="Authentication and Authorization plugin for MLflow",
    packages=find_packages(),
    # Require MLflow as a dependency of the plugin, so that plugin users can simply install
    # the plu

[2022-04-08 12:09] kyle-jarvis commented on #5582
@r3stl355 Yes, thanks for spotting. It is just a typo in the example I gave, it's corrected and the description of the issue is otherwise correct.
Incase helpful to illustrate the point further, I was able to work around by making the changes indicated below. This required back-tracking to the point at which the 'source' model artifacts were logged, and logging them to new uniquely-named paths in

[2022-04-08 12:23] krlng commented on #3686
Not sure how the webhooks are built internally (actually I did even miss their release). If they accept any string (as it looks to me when I check the pip-package quickly) this should just be fine.

[2022-04-08 14:01] SeropB commented on #3144
any progress on this?? I am facing the same problem

[2022-04-08 14:08] r3stl355 commented on #5582
Each path of the downloaded artifact is explicitly captured and stored in `custom_model_config_kwargs[CONFIG_KEY_ARTIFACTS] = saved_artifacts_config` so adding another level in each path should not really matter (e.g. use a indexer previx `0/`, '1/'... prefixes if there is more than one artifact. This will prevent the throwing and would still work with matching model names
    https://github.com/m

[2022-04-08 16:33] nchittela commented on #5617
@harupy i've just submitted a PR #5640. Please let me know if you have any feedback :)

Thank you @akrabdev for the opportunity!

[2022-04-08 16:38] jeinstei opened #5641 "[BUG] MLflow quickstart reporting failure"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-04-08 17:16] #5617 closed

[2022-04-08 20:21] jrbarclay37 commented on #5469
Hi, I am also facing the same issue with a model using PyTorch Geometric, which takes two tensors for the inputs. One tensor represents the **nodes** in the graph and another represents the **edges**. This works for batch inference, but not for online serving. My format is the same as above in the code to reproduce the issue:

'{
"inputs":{
  "nodes": tensor(num_nodes, num_features),
  "edge_index

[2022-04-08 20:32] BenWilson2 commented on #5635
@erich-db has claimed this one! :)

[2022-04-08 20:59] dbczumar commented on #5546
Addressed via https://github.com/mlflow/mlflow/pull/5585

[2022-04-08 20:59] #5546 closed

[2022-04-08 23:06] kutal10 commented on #5635
Hey @BenWilson2 , didn't see the prior assignment to erich, but just added a PR to resolve this at #5646

[2022-04-08 23:55] #5635 closed

[2022-04-09 05:36] mohammedi-haroune commented on #629
No effect on [iko.ai](https://iko.ai).

[2022-04-09 12:32] ameya-parab commented on #4154
The issue seems still relevant if using mlflow, but on our project we ended up using TorchServe to host our models.

[2022-04-10 15:36] tianlinzx commented on #724
Any Progress on this ?

[2022-04-10 23:42] harupy commented on #5641
Hi @jeinstei, can you try directly running `python mnist_tensorboard_artifact.py`? That might give us more detailed error logs?

[2022-04-11 02:34] adamreeve opened #5653 "[BUG] Loading more runs in the experiment UI becomes very slow with a large number of rows"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [x] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2022-04-11 08:08] alexdivet commented on #5628
@harupy happy to do it – I'll work on this, submit a PR and attach it to this issue

[2022-04-11 08:30] tejal567 opened #5655 "[BUG] OSError: [Errno 30] Read-only file system: '/app'"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-04-11 08:34] rsundqvist opened #5656 "[BUG] 1.24.0 regression: Deadlock when downloading directory (async download)"
# Regression: Downloading directories using SFTP may cause deadlocks on 1.24.0

### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for

[2022-04-11 09:50] harupy commented on #5655
@tejal567 Can you try running this code?

[code]

[2022-04-11 09:53] harupy commented on #5655
Your stack trace contains `local_artifact_repo.py` which indicates you're saving artifact on the local file system. Are you really sure this is correct?

[2022-04-11 10:17] harupy commented on #5656
@rsundqvist https://github.com/mlflow/mlflow/commit/70fc2dd41162156d11f6070b2e75a478db7ad627 seems suspicious.

[2022-04-11 10:30] harupy commented on #5569
@ktksq Are you still working on this or not?

[2022-04-11 11:10] tejal567 commented on #5655
@harupy os.mkdir above is not working on my macOS, it is saying "read only file system" even with sudo and all.
below get_artifact_uri returned this value: /app/mlruns/0/c9b60459303d460c832daa094315c1b5/artifacts

[2022-04-11 11:17] harupy commented on #5655
I guess the run you used is stored in an experiment whose artifact URI points to S3.

[2022-04-11 11:18] harupy commented on #5655
`/app/mlruns/0/c9b60459303d460c832daa094315c1b5/artifacts` indicates the default experiment is used.

[2022-04-11 11:18] tejal567 commented on #5655
We are using ceph storage for storing artifacts. By default if we dont provide any run_id then it should automatically create a new run id and log the artifacts on the ceph storage. The same piece of code was working fine a few days ago, but we dont know what happened after that.

[2022-04-11 11:21] tejal567 commented on #5655
The expected behaviour is it should log the artifacts in the ceph storage everytime we call mlflow.pyfunc.log_model even without a run_id. I dont know why it is pointing to /app/mlruns.....

[2022-04-11 11:22] harupy commented on #5655
Can you print out the tracking URI?

[2022-04-11 11:25] tejal567 commented on #5655
Yes, it is printing it correctly whatever I have set in above code by mlflow.set_tracking_uri(...)

[2022-04-11 11:30] kyle-jarvis commented on #5582
@r3stl355 Thanks for the input, I have created a PR with a small patch that I'd be grateful for you to give a quick glance over and feedback and further suggestions. #5657

[2022-04-11 11:49] harupy commented on #5655
Have you tried `mlflow.set_experiment`?

[2022-04-11 11:58] r3stl355 commented on #5582
@kyle-jarvis I think that should do but I don't have any power of formal review/approval

[2022-04-11 12:38] eriktavares opened #5658 "MLFLOW Server or MLFLOW BUILD DOCKER"
os.environ['MLFLOW_TRACKING_URI'] = 'http://127.0.0.1:5000'

!mlflow models serve -m "models:/modelo_cancer/Production"  -p 5001
========================================================

**mlflow, version 1.24.0**

2022/04/11 08:28:36 INFO mlflow.models.cli: Selected backend for flavor 'python_function'
2022/04/11 08:28:38 INFO mlflow.pyfunc.backend: === Running command 'conda activate mlflow-c764

[2022-04-11 12:58] jeinstei commented on #5641
Yeah, that definitely was a bit more interesting. I get this output:

[code]

But the MLflow record in the Tracking UI shows that it succeeded. I should look in to what is segfaulting

[2022-04-11 13:07] harupy commented on #5655
Do you remember in which experiment you were logging?

[2022-04-11 13:14] ibobak opened #5659 "Proxy server for artifacts just doesn't work"
Based on documentation https://www.mlflow.org/docs/latest/tracking.html#scenario-5-mlflow-tracking-server-enabled-with-proxied-artifact-storage-access
there is a scenario when tracking server should act as proxy artifact:
![image](https://user-images.githubusercontent.com/8807043/162745908-1c87d48a-0107-4845-81df-b2d86f3f8130.png)

I am running the server using this command:
[code]

But unfortunat

[2022-04-11 13:17] jeinstei commented on #5641
I think the seg fault is something local, so I'll look in to that on my own as it isn't making sense. It is not occurring in the MLflow code unless it's a separate thread issue that I'm unaware of. But TL;DR, the Tracking UI shows it succeeds when running the python file directly

[2022-04-11 13:18] tejal567 commented on #5655
The above code that I have provided in the issue was working fine before. I did not create any experiment manually before. According to the documentation, if no experiment is provided then it will take the default experiment as defined by the tracking server. So that might be the cause of this error ?

[2022-04-11 13:19] tejal567 commented on #5655
Can we know what is the default experiment used by the tracking server ?

[2022-04-11 13:30] harupy commented on #5656
@rsundqvist Have you seen https://github.com/paramiko/paramiko/issues/395?

[2022-04-11 13:31] rcallagh opened #5660 "[BUG] Git fails checking out old commit with submodules"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-04-11 14:09] harupy commented on #5655
@tejal567 You can use `mlflow.get_experiment("0")`.

[2022-04-11 22:20] #5660 closed

[2022-04-11 22:29] harupy commented on #5656
@rsundqvist Thanks for the reply. Can you create a reproducible example (e.g. by using docker)?

[2022-04-11 22:48] harupy commented on #5658
@eriktavares Please share the code you ran.

[2022-04-11 22:58] harupy commented on #5659
@ibobak What does the code below print out in your environment?

[code]

[2022-04-12 00:10] #5582 closed

[2022-04-12 00:14] harupy commented on #5659
@ibobak Is the experiment "test" a new experiment? If it's not, it might use an S3 artifact URI because the artifact URI doesn't change.

[2022-04-12 00:40] harupy commented on #5653
Hi @adamreeve!

YES!

[2022-04-12 01:22] harupy commented on #5656
@rsundqvist We created a [branch](https://github.com/harupy/mlflow/commits/issue-5656
) that contains a fix for this issue. Can you install mlflow from this branch using the command below and check if it can fix the issue?

[code]

[2022-04-12 02:43] harupy opened #5667 "Remove unnecessary `warnings.simplefilter("ignore")` and `warnings.catch_warnings()`"
Remove unnecessary `warnings.simplefilter("ignore")` and `warnings.catch_warnings()` because warnings are usually helpful and should not be hidden unless they cause errors or print out too many messages.

## Example

https://github.com/mlflow/mlflow/blob/fe6618823a2e6038149ee0da675503d2764552ca/tests/store/tracking/test_sqlalchemy_store.py#L777-L781

This block needs to be fixed to:

[code]

[2022-04-12 07:03] rsundqvist commented on #5656
Could not use that command:
[code]
Using `pip install git+https://github.com/harupy/mlflow.git@issue-5656` did the trick though, giving ´1.24.1.dev0` which is what I would expected looking at your branch.

@harupy Doesn't seem to work unfortunately. Deadlocks in the same place.

[2022-04-12 07:28] tejal567 commented on #5655
Hi, I checked. You were right, the artifact uri of the default experiment is set to this: /app/mlruns/0. So I think this is the cause of my error, to mitigate this, we should always define an experiment before whatever we do with mlflow, right ?

[2022-04-12 07:48] harupy commented on #5655
Not always. For example, if you just want to test mlflow's features, you can use the default experiment, but if you want to do parameter tuning, I think you should create a separate experiment.

[2022-04-12 07:51] tejal567 commented on #5655
Got it. I think this is not a bug in mlflow then. I am closing this issue. Thank you for your help @harupy . Much appreciated.

[2022-04-12 07:51] #5655 closed

[2022-04-12 11:56] arsenkadoian opened #5673 "Issues when running MLflow UI inside a terminal in vs code on MAC Monterey v. 12.3.1"
I am running mlflow ui in a terminal inside vscode to see the models that have been produced after following the following steps: https://mlflow.org/docs/latest/tutorials-and-examples/tutorial.html until the point "Comparing the Models".

The error in the terminal reads:

[2022-04-12 13:46:42 +0200] [3264] [INFO] Starting gunicorn 20.1.0
[2022-04-12 13:46:42 +0200] [3264] [ERROR] Connection in use

[2022-04-12 11:59] harupy commented on #5673
@arsenkadoian Is something running on 0.0.0.0:5000?

[2022-04-12 12:00] ibobak commented on #5659
Yes, you're right:  "test" was created before I made a run with --serve-artifacts.

So, I created a new experiment and now I am getting this when running print(mlflow.get_artifact_uri()):
[code]
I removed all S3 credentials on the client side and even removed boto3 library from the environment, and I see it is writing artifact files anyway, which means that it does it using proxy.

So, it means th

[2022-04-12 12:01] ibobak commented on #5659
Feel free to close the issue, if needed.  Or change status  to "problem in documentation", whatever.

Thanks again!

[2022-04-12 12:03] harupy commented on #5659
@ibobak Thanks for the reply!

[2022-04-12 12:03] #5659 closed

[2022-04-12 12:21] harupy commented on #5673
you can try changing host and port.

[2022-04-12 12:24] harupy commented on #5673
You can use --host and --port options

[2022-04-12 12:25] chedikouki commented on #4204
is there any solution
mlflow.xgboost.save_model(pipeline,'Model')
AttributeError: 'Pipeline' object has no attribute 'save_model'

[2022-04-12 12:29] harupy commented on #5673
[code]

should list available ports

ref: https://www.cyberciti.biz/faq/unix-linux-check-if-port-is-in-use-command/

[2022-04-12 12:33] Davidswinkels commented on #5507
This issue was resolved by this PR (https://github.com/mlflow/mlflow/pull/5564) and mlflow 1.25.0 release. Did a small test on MLFlow==1.25.0 with a SQLite database. Performance varied quite a bit compared to before. Probably due too environment (local vs kubernetes cluster, and file-based vs SQLite) and also how many runs/models were stored.

### Summary performance check model retrieval per code

[2022-04-12 12:33] #5507 closed

[2022-04-12 12:47] harupy commented on #5673
@arsenkadoian Can we close this issue? I don't think this is an MLflow's issue.

[2022-04-12 12:55] Davidswinkels opened #5674 "[BUG] Documentation improvement: mlflow.search_runs(experiment_name=['name']) should be mlflow.search_runs(experiment_names=['name'])"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-04-12 12:59] Davidswinkels commented on #5674
Currently I'm trying to fix this in a fork :)

[2022-04-12 13:14] Neethugkp commented on #5146
@alexsee, Thank you for your reply. I was able to solve the issues

[2022-04-12 13:48] harupy commented on #5673
Got it, feel free to reopen the issue if you need further investigation.

[2022-04-12 13:48] #5673 closed

[2022-04-12 13:56] #5674 closed

[2022-04-12 14:12] Safirangi commented on #5667
Can I work on this issue?

[2022-04-12 14:15] harupy commented on #5667
@Safirangi Yes, looking forward to your PR!

[2022-04-12 14:15] harupy commented on #5667
Please let me know if you have any questions :)

[2022-04-12 14:24] Safirangi commented on #5667
Since I'm changing this from the browser, do I have to run tests?

[2022-04-12 14:31] rajesh-chawla opened #5678 "Issue with retrieving model from ray"
Hi folks,

I'm having issues retrieving a mlflow model from a ray cluster using mlflow deployment. In the stack trace I see.
[code]

I've started a ray cluster using the commands:
[code]

The specific command I'm executing is:
[code]

Items I've tried / done:

- tried setting MLFLOW_TRACKING_URI to http://localhost:5001, which is where I view the MLFlow UI
- tried setting MLFLOW_TRACKING_URI  to '

[2022-04-12 14:35] harupy commented on #5678
@rajesh-chawla Can you share the full stack trace?

[2022-04-12 14:41] Safirangi commented on #5667
I have problem with understanding the Pull Request format, since it asks questions about classifying the issue. So I haven't changed much in the pull request.

[2022-04-12 14:45] harupy commented on #5667
Ok, let me update the PR description.

[2022-04-12 14:51] harupy opened #5680 "Replace `unittest.TestCase.assertRaises` with `unittest.TestCase.assertRaisesRegex`"
Some tests use `unittest.TestCase.assertRaises` to test an exception is raised for illegal operations, but they need to be replaces with `unittest.TestCase.assertRaisesRegex`.

### Why do we need this change?

Let's say we have a function that raises an exception:

[code]

If we test this function using `assertRaises`:

[code]

If we test this function using `assertRaisesRegex`:

[code]

### Examp

[2022-04-12 14:52] rajesh-chawla commented on #5678
@harupy -- Please see the stack trace below
[code]

[2022-04-12 15:01] harupy commented on #5680
cc @BenWilson2

[2022-04-12 15:25] BenWilson2 commented on #5680
@erich-db this one is all yours!

[2022-04-12 22:22] erich-db commented on #5680
@BenWilson2 On it!

[2022-04-12 22:49] FedericoGarza opened #5682 "[FR] AutoARIMA from StatsForecast"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-04-12 22:53] harupy commented on #5667
https://github.com/mlflow/mlflow/pull/5679#discussion_r848658410

[2022-04-13 00:36] harupy commented on #5659
@ibobak

Thanks for the suggestion, but this is already documented :)

https://mlflow.org/docs/latest/tracking.html

<img width="1355" alt="image" src="https://user-images.githubusercontent.com/17039389/163076254-78c6304a-7baf-4719-857c-be44c2be7bcd.png">

[2022-04-13 05:19] harupy commented on #5680
Hi @erich-db, could you tell me which file you're going to fix?

[2022-04-13 06:24] #5667 closed

[2022-04-13 07:07] jnp commented on #5456
This is a great direction for mlflow. The execution of pipelines is an essential part of ml operations, therefore, it makes sense to have pipelines managed in mlflow itself. I have a couple of questions/comments in this regard
1) Where will the pipeline templates be stored? It might make sense to store the templates with the mlflow service itself for management and sharing of the templates. These

[2022-04-13 09:35] pelekhs opened #5689 "[FR] U8darts Integration"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [x] Yes. I would be willing to contribute this feature with guidance from

[2022-04-13 12:13] phdd commented on #4399
This is not a fix, as tracking data persistence will not work. This issue has to be reopened.

[2022-04-13 13:13] TheMightiestCarrot commented on #2719
maybe implementing this package could help resove this issue:
https://github.com/predict-idlab/plotly-resampler
(ill just leave it here and fly away)

[2022-04-13 16:41] alexdivet commented on #3337
is someone working on this PR right now?

I have a use case to get environment variables passed when deploying to SageMaker

[2022-04-14 04:04] mkspwr commented on #4426
Thanks for getting to this point..but, after resolving this error..I am now stuck at this :

Error in wait_for(function() mlflow_rest("experiments", "list", client = client),  :
  Operation failed after waiting for 10 seconds

[2022-04-14 04:07] mkspwr opened #5694 "[SETUP-BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this installation issue template to ensure a timely and thorough response.**

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- Edition	Windows 11 Enterpris

[2022-04-14 05:01] Aksh97 commented on #1473
Any solution to this?

[2022-04-14 06:32] harupy opened #5697 "Replace `--no-conda` in examples"
We recently deprecated `--no-conda` flag, but our examples still use it. They should be updated to use `--env-manager=local` instead.

https://github.com/mlflow/mlflow/blame/master/examples/pytorch/AxHyperOptimizationPTL/README.md#L26

[code]

The code above needs be fixed to the following:

[code]

[2022-04-14 07:01] saichandrapandraju opened #5698 "urllib3.exceptions.ReadTimeoutError: AWSHTTPConnectionPool"
Hi,

I'm using Minio server as artifact store for logging models. But I'm getting following error while uploading artifacts to Minio -

[code]
Could anyone suggest solution for this .. ?

[2022-04-14 08:09] panchengl commented on #4553
I have the same problem, is there any solution?

[2022-04-14 08:10] panchengl commented on #4553
@dbczumar

[2022-04-14 09:43] saichandrapandraju commented on #3478
Hi,
What if I'm using Minio ?
Is there a similar ENV variable for Minio?

[2022-04-14 12:05] rsundqvist commented on #5656
Looked into this. The issue seems to be that paramiko is not thread safe which causes a deadlock.

I've tested this a bit and it seems you can "corrupt" a `pysftp.Connection` by trying continously triggering multi-threaded downloads. Once in a bad state the error is always thrown even if trying to fetch "correctly" from a single thread.

The `SFTPArtifactRepository` class probably needs a connecti

[2022-04-14 12:37] harishankar-gopalan opened #5699 "[FR] Support for vanilla PyTorch autologging"
Is there any plans for supporting autologging of parameters and metrics for vanilla Pytorch ? The main concern here is for frameworks like fairseq which are essentially models subclassed from torch.nn.Module.

Also is there any workaround to achieve it via MlFlow ? Any help would be greatly appreciated.

[2022-04-14 17:38] aashish-khub commented on #5697
I'd like to work on this! @harupy

[2022-04-14 17:41] shaikmoeed commented on #5697
Do we need to update in `readme.md` file? @harupy

[2022-04-14 17:45] shaikmoeed commented on #5569
Can I pick this up? @harupy

[2022-04-14 18:07] cgebe commented on #5514
I am facing a similar issue getting the following error:

[code]

My entrypoint for the server:

[code]

My environment vars:

[code]

What am i supposed to set here? When i set `MLFLOW_S3_ENDPOINT_URL` to `"https://s3.eu-central-003.backblazeb2.com"` the client basically appends the `ARTIFACT_DESTINATION` to the `MLFLOW_S3_ENDPOINT_URL` which naturally results in an error. The documentation is un

[2022-04-14 22:27] #4299 closed

[2022-04-14 22:28] dbczumar commented on #4353
Addressed via #4299. Apologies for the delay!

[2022-04-14 22:28] #4353 closed

[2022-04-14 22:35] harupy commented on #5697
@aashish-khub thanks!

[2022-04-14 23:04] harupy commented on #5641
I think this is because the seg fault occurred after the run is logged. The script below logs a run whose status is `FINISHED`.

[code]

[2022-04-15 00:06] dbczumar commented on #5699
@akshaya-a Do you have input here?

[2022-04-15 00:08] dbczumar commented on #5694
@mkspwr What is the error that you're facing? cc @WeichenXu123

[2022-04-15 00:20] dbczumar commented on #5698
Hi @saichandrapandraju, it looks like your MLflow server is having trouble using the boto client library to write to S3. I would recommend investigating `AWSHTTPConnectionPool(host='localhost', port=3128): Read timed out. (read timeout=60)` in the context of boto3 and Minio.

[2022-04-15 01:58] harupy commented on #5699
Related tickets:

- https://github.com/mlflow/mlflow/issues/3230
- https://github.com/mlflow/mlflow/issues/2087

[2022-04-15 02:06] harupy commented on #5699
Not sure if this is useful, but you could create your own autologging like this:

[code]

The actual implementation is much more complicated.

[2022-04-15 03:46] mkspwr commented on #5694
Sorry..forgot to add it earlier 👍
Here is the error message:

**Error in wait_for(function() mlflow_rest("experiments", "list", client = client),  :
  Operation failed after waiting for 10 seconds**

[2022-04-15 04:30] harupy opened #5701 "Remove trailing white spaces"
Some files in the repository contain trailing white spaces. They should be removed.

## Instructions

1. Run this command:

[code]

2. Check only trailing white spaces have been removed.
3. Check only text files have been changed.
4. Open a PR.

[2022-04-15 05:17] dbczumar commented on #5694
@mkspwr Is there a more detailed stacktrace?

[2022-04-15 05:23] dbczumar commented on #1645
Closing this out, as this capability is now available. Thanks folks!

[2022-04-15 05:23] #1645 closed

[2022-04-15 09:04] saichandrapandraju commented on #5698
Hi @dbczumar ,

Yes you're correct.
I tested uploading sample file using boto3 client without MLFlow. It is due to proxy that boto3 is not able to write to Minio. If I set `NO_PROXY` env variable to Minio host name, boto3 is able to write to S3(Minio).

However, it seems I cannot use `NO_PROXY` with MLFlow because I'm using MLFlow's conda features in my workflow and now conda is throwing below err

[2022-04-15 12:12] seBasKov commented on #4881
Hi Marijn, Its me Sebastiaan. I was looking into this issue again. What I noticed when looking at the DatabricksSubmitRunOperator of Airflow, that they use the Databricks API 2.1 (https://docs.databricks.com/dev-tools/api/latest/jobs.html#operation/JobsRunsSubmit) version where you can submit runs to an existing cluster. This would mean that your proposed change could be implemented. Do you agree?

[2022-04-15 12:17] #5569 closed

[2022-04-15 12:22] jeinstei commented on #5641
Yes -- but that means that I need to go line-by-line debugging the exit of start_run() or in the non-Python handling of the python. Regardless, I'm getting a segfault with the quickstart example using the YAML.

[2022-04-15 14:21] mkspwr commented on #5694
Here is what I see when I run the traceback() function:

[[1]]
[1] "stop(\"Operation failed after waiting for \", wait, \" seconds\")"

[[2]]
[1] "wait_for(function() mlflow_rest(\"experiments\", \"list\", client = client), "
[2] "    getOption(\"mlflow.connect.wait\", 10), getOption(\"mlflow.connect.sleep\", "
[3] "        1))"

[[3]]
[1] "mlflow_validate_server(client)"

[[4]]
[1] "mlflow_client

[2022-04-15 15:10] erich-db commented on #5680
@harupy I'll start with these three:
1. tests/entities/test_run_status.py
2. tests/store/db/test_utils.py
3. tests/store/tracking/__init__.py

[2022-04-15 15:13] #5701 closed

[2022-04-15 15:13] harupy commented on #5680
@erich-db Sounds good!

[2022-04-15 17:29] grybeck opened #5704 "[BUG] DB IntegrityError is not caught causing the server to hang for over 60 seconds"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-04-15 21:23] arjundc-db commented on #5525
Fixed by https://github.com/mlflow/mlflow/pull/5531

[2022-04-15 21:23] #5525 closed

[2022-04-16 00:12] harupy commented on #2029
Addressed by #3378

[2022-04-16 00:12] #2029 closed

[2022-04-16 09:13] mkao006 opened #5705 "[BUG] "download_to_filename() got an unexpected keyword argument \'timeout\'""
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-04-16 09:50] andy1122 commented on #5680
@harupy I would like to work on this file.

 tests/store/tracking/test_file_store.py

[2022-04-16 09:51] harupy commented on #5680
@andy1122 Awesome, looking forward to your PR :)

[2022-04-16 09:59] harupy commented on #5705
Hi @mkao006, what does this command print out?

[code]

[2022-04-16 10:01] harupy commented on #5705
https://github.com/googleapis/python-storage/commit/6eeb855aa0e6a7835d1d4f6e72951e43af22ab57 indicates older versions of `google.cloud.storage` don't support the `timeout` option.

[2022-04-16 12:06] rafa-am commented on #4799
It's a nice one improvement. Actually, it should be extensible to every `mlflow.sagemaker` functionality, which accepts environment variables to behavior customizing.

[2022-04-16 12:17] Ankur-singh commented on #4671
I am also facing the same issue. It takes around 25 seconds to load a pyfunc model. I have the `dst_path` set but it takes same amount of time. I think, its downloading the model everytime. Some sort of caching and checking before downloading can drastically improve the loading time.

If I am doing something wrong, then do let me know. Any help would be really appreciated.

[2022-04-16 19:37] rafa-am opened #5706 "[FR] Support to custom tags at AWS resources on Sagemaker deploy"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [x] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2022-04-17 05:49] jielou commented on #5432
I am new in this area and also have this question, and please bear with me for asking this "silly" question. Based on my research, protobuf is commonly used in gRPC. However, in python client code, it eventually uses requests library to send http requests to the server with json parameter by parsing dictionary from protobuf objects. I am wondering why protobuf is used in the intermediate layer to

[2022-04-17 08:13] AlxndrMlk commented on #5474
Thanks for the update, @tomasatdatabricks

Yes.

By *tensorflow serving* format you mean the format specified here: https://www.tensorflow.org/tfx/serving/api_rest#request_format_2
?

[2022-04-17 10:16] AlxndrMlk commented on #5474
@tomasatdatabricks,

tried the following format specified in the TF Serving API doc:

[code]
and got the following error:

[code]

[2022-04-18 02:36] harupy commented on #5680
@erich-db @andy1122 Let me share the documentation of `assertRaies`:

https://docs.python.org/3/library/unittest.html#unittest.TestCase.assertRaises

[2022-04-18 02:40] harupy commented on #5680
@erich-db @andy1122 Looks like my understanding of the `msg` argument was wrong. Let me update the PR description.

[2022-04-18 03:43] harupy commented on #5680
Filed https://github.com/mlflow/mlflow/pull/5708 to fix the rule. @BenWilson2 Would you mind taking a look?

[2022-04-18 04:32] harupy opened #5709 "Convert the bug report template into a GitHub issue form"
## Task

Convert [the bug report template](https://github.com/mlflow/mlflow/blob/master/.github/ISSUE_TEMPLATE/bug_report_template.md) into a GitHub issue form:

## Motivation

- To make it easier to write a bug report.
- To clarify which information is required to submit an issue.

## Example

scikit-learn's bug report form:

https://github.com/scikit-learn/scikit-learn/issues/new?assignees=&labe

[2022-04-18 05:40] harupy commented on #5697
Addressed by https://github.com/mlflow/mlflow/pull/5707, Thanks @aashish-khub!

[2022-04-18 05:40] #5697 closed

[2022-04-18 08:59] sp1thas commented on #5173
Personally, I'm using this approach to set the run name. The thing is that setting the run name using the `set_tag` is a bit weird and unclear for the users (especially for the new-comers). From my pov, although `mlflow.set_run_name` won't add any new functionality, will improve the usability and clarity of the API. Feel free to close this issue based on your judgement.

[2022-04-18 10:27] harupy opened #5712 "Typos"
| Line                                                             | Typo          | Assignee         | PR    |
| :--------------------------------------------------------------- | :------------ | :--------------- | :---- |
| [dev/set_matrix.py#l304]                                         | exisiting     | @shaikmoeed      | #5730 |
| [mlflow/projects/databricks.py#L21]

[2022-04-18 10:41] harupy commented on #5712
For those willing to address this issue, please fix only one item per pull request.

[2022-04-18 12:58] grybeck opened #5713 "[BUG] Postgresql sqlalchemy.exc.DataError is not caught causing the server to hang for over 60 seconds"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-04-18 13:14] WeichenXu123 commented on #5713
I think we need to validate the "experiment_id" argument type (only support string / int type) in `mlflow.start_run`.
is there any other more limitations for "experiment_id" ? @dbczumar
thanks :)

[2022-04-18 13:23] Neethugkp opened #5714 "REST API document for mlflow version 1.25.1"
Update the REST API document for mlflow version 1.25.1. (scenario 5)

Can you please help by providing request & response structure of api call
PUT //api/2.0/mlflow-artifacts/artifacts/2/ce16fe9ec5554f5486521479d7b6a975/artifacts/output.txt

[2022-04-18 13:24] grybeck commented on #5713
Yep, I think that's all that is needed as well, thanks.

[2022-04-18 13:24] WeichenXu123 commented on #5705
what about we restrict the "google-cloud-storage" version to be >= 1.30.0 ?

[2022-04-18 13:46] WeichenXu123 commented on #5694
@mkspwr Would you mind share the dataset used in the reproducing code ?

[2022-04-18 14:42] mkspwr commented on #5694
yes..its the wine_quality.csv which is available at the following link
mlflow-example/wine-quality.csv at master · mlflow/mlflow-example
(github.com)
<https://github.com/mlflow/mlflow-example/blob/master/wine-quality.csv>

On Mon, Apr 18, 2022 at 6:47 AM WeichenXu ***@***.***> wrote:

[2022-04-18 14:51] WeichenXu123 commented on #5704
I found 2 issues related to this ticket:
1. The DB server worker raise mlflow exception with message set as an IntegrityError instance which cannot be dumped as JSON.
2. The client keeps retries when requests failed. this is why it hangs for about 1 minute.

I create a fixing PR https://github.com/mlflow/mlflow/pull/5715

[2022-04-18 15:05] WeichenXu123 commented on #5698
Conda does not allow environment contains "NO_PROXY" key. see https://github.com/conda/conda/issues/1094

@dbczumar What about adding a "MLFLOW_NO_PROXY" environment support for mlflow, i.e, mlflow check whether there's a "MLFLOW_NO_PROXY" env, if there is, then set "NO_PROXY" env when running boto3 client.

[2022-04-18 16:11] marcelatoffernet opened #5716 "[FR] Support Nerdctl"
## Willingness to contribute

- [ ] Yes. I can contribute this feature independently.
- [X] Yes. I would be willing to contribute this feature with guidance from the MLflow community.
- [ ] No. I cannot contribute this feature at this time.

## Proposal Summary

Support Nerdctl at https://github.com/mlflow/mlflow/blob/14d2000cc1c073f0fa155beed9d927cb0d407821/mlflow/models/flavor_backend_registry.p

[2022-04-18 22:20] adin786 opened #5718 "[BUG] running an Mlflow Project from github URL with 'main' branch instead of 'master'"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-04-19 00:12] dbczumar commented on #5713
Yep! Sounds great to me!

[2022-04-19 00:40] WeichenXu123 commented on #5698
@saichandrapandraju Are you interested in contributing code to mlflow to fix this issue ? :) We propose this solution to address it:
adding a "MLFLOW_NO_PROXY" environment support for mlflow, i.e, mlflow check whether there's a "MLFLOW_NO_PROXY" env, if there is, then set "NO_PROXY" env when running boto3 client.

[2022-04-19 04:40] #5705 closed

[2022-04-19 04:41] harupy commented on #5705
@mkao006 Feel free to reopen this issue if upgrading `google-cloud-storage` doesn't work.

[2022-04-19 05:26] #5208 closed

[2022-04-19 06:35] manishpyy opened #5722 "How to obtain the azureml mlflow tracking server URL"
Is there any way to obtain the azureml mlflow tracking server URL.

For example, in Databricks, to access the MLflow tracking server from outside Databricks, we can use the url in the form - 'https://adb-(workspace-id).azuredatabricks.net/'.  Is there any such way in AzureML to access the server?

[2022-04-19 13:22] #5713 closed

[2022-04-19 14:02] zionsofer commented on #2385
Facing the same issue with trying to extend an existing Docker image with my own private github repository

[2022-04-19 14:37] WeichenXu123 commented on #5722
Could you try run "mlflow.get_tracking_uri()" to get the tracking server uri ?

[2022-04-19 14:42] WeichenXu123 commented on #5722
Do you mean to access the server outside of the "AzureML" ? I am not sure whether "AzureML" provides you the permission to do that, i.e., you need the permission to visit the node by a public hostname and the server port.

[2022-04-19 14:46] WeichenXu123 commented on #5718
I propose if without `--version` specified, automatically detect the "main" or "master" branch, if both of them exists, then it is ambiguous and raise error, but if only one of them exists, then use it.

[2022-04-19 18:03] honestaburke commented on #2390
Same issue as OP. I tried `mlflow.tensorflow.autolog()` as well, which leads to a different issue.

[2022-04-19 18:59] #5339 closed

[2022-04-20 00:04] dbczumar commented on #5722
@akshaya-a Can you comment?

[2022-04-20 00:09] dbczumar commented on #5718
@WeichenXu123 That proposal sounds great!

@adin786 Feel free to file a pull request; we'd be happy to review it and provide guidance where necessary! Thank you in advance for your contribution!

[2022-04-20 00:24] WeichenXu123 commented on #5716
@marcelatoffernet Would you mind to provide more information about why we need to support Nerdctl ? (e.g. it support some advanced feature ? )

[2022-04-20 00:25] dbczumar commented on #5706
@rafa-am Thank you for filing this thorough, detailed feature request. We'd be happy to review a pull request for this feature. Can we add tag specification support to the `SageMakerDeploymentClient` (https://mlflow.org/docs/latest/python_api/mlflow.sagemaker.html#mlflow.sagemaker.SageMakerDeploymentClient) as part of the `config` dictionary?

We're planning to deprecate `mlflow.sagemaker.deploy()

[2022-04-20 00:29] WeichenXu123 commented on #5714
You can see this file:
https://github.com/mlflow/mlflow/blob/master/mlflow/protos/mlflow_artifacts.proto

[2022-04-20 00:45] rafa-am commented on #5706
Of course! Make a lot of sense. Thank u for feedback, @dbczumar.

I'm using a mlflow version older than 1.24 and have not yet contact to this `SageMakerDeploymentClient`. I'll check it and work on the pull request.

[2022-04-20 01:38] nreith commented on #724
Been a long time, but the 2019 reply seemed open as long as they don't need to add a new parameter to every single api call. That sounds reasonable and means we just need to put our brains together and come up with a way to implement a plugin or wrapper without hacking the core code to bits. Should be doable with some creativity. Have those who are asking done any work on this?

[2022-04-20 02:04] harupy commented on #5718
[code]

worked.

[2022-04-20 02:14] harupy commented on #5718
I also tested this but it didn't work:

[code]

[code]

[2022-04-20 06:05] subramaniam02 commented on #5712
@harupy I am interested in this issue. Please let me know.

[2022-04-20 06:07] harupy commented on #5712
@subramaniam02 Thanks! Please let me know which items you would like to work on :)

[2022-04-20 06:24] manishpyy commented on #5722
The uri I am getting is azureml://

I need a url starting with https:// to do a post/get request from outside the server, in the same way how we can get for databricks - https://adb-(workspace-id).azuredatabricks.net/

[2022-04-20 07:45] Neethugkp commented on #5714
@WeichenXu123 ,

Tried the below steps:-
Rest call:-    PUT /mlflow-artifacts/artifacts
                    parameter artifact_path

Output from client:-
HTTPError: 404 Client Error: Not Found for url: https://api_url/api/2.0/mlflow-artifacts/artifacts/2/f9fae9e8459b4d60a38ea20ce0a9ca8a/artifacts/output.txt

[2022-04-20 08:48] zionsofer commented on #1963
Any updated to this? This is really needed for us to install private dependencies

[2022-04-20 10:21] marcelatoffernet commented on #5716
@WeichenXu123 I think it will increase adoption of mlflow if additional container runtimes were supported.

As an example: Many people are forced to use containerd instead of Docker, because their company doesn't want to pay the the enterprise license for Docker Desktop

[2022-04-20 10:27] krlng commented on #3686
I realized, that this feature will actually requires an additional API endpoint, as the server has to tell the clients about the available model stages as well as the color information. I would suggest: `2.0/preview/mlflow/stages/list`. I think it won't require any parameters and would return a list of `stage` and `color`, both string.

Current development can be found here: https://github.com/krl

[2022-04-20 11:03] WeichenXu123 commented on #5716
@marcelatoffernet Sounds reasonable.
Is docker community version not allowed to be used in company ?

CC @dbczumar Thoughts ?

[2022-04-20 11:30] marcelatoffernet commented on #5716
@WeichenXu123 Please see [](https://www.docker.com/pricing/faq/) at the "How will Docker enforce the new subscription terms for Docker Desktop?" section.

Business with revenue over 10mil$ in annual revenue face legal issues using any docker tooling without licences.

I know a fair number of business who are trying to wean themselves off Docker before they hit this limit.

[2022-04-20 15:06] manishpyy commented on #5722
Not aware of fetching the bearer token. Could you share any documentation for the same?

[2022-04-20 15:09] akshaya-a commented on #5722
What type of identity are you trying to use to authenticate? As yourself in AAD or some managed identity/service principal?

[2022-04-20 15:10] manishpyy commented on #5722
managed identity/service principal

[2022-04-20 15:14] akshaya-a commented on #5722
Here is a complete service principal Auth flow in Java: https://github.com/Azure/azureml-examples/tree/main/cli/jobs/single-step/java/iris

The relevant Auth code is here: https://github.com/Azure/azureml-examples/blob/main/cli/jobs/single-step/java/iris/src/main/java/com/microsoft/aml/auth/AMLAuthentication.java

Note that this is just general AAD and applies to most resources, not just AML

[2022-04-20 15:17] akshaya-a commented on #5722
And in general this area falls under Azure Identity, which publishes sdks in python, .NET, etc that simplify that process. Once you get the token, send it as a bearer token in every mlflow request

[2022-04-20 16:11] rilesdg3 commented on #666
I vote for a c++ api. I do all my ai/data science/machine learning in c++.

[2022-04-20 16:52] Hiteshsaai opened #5729 "Error running MLflow server for spark saved model (using mlflow) in local[BUG]"
when i try to run this command in terminal ```mlflow models serve -m spark_model --no-conda --host 0.0.0.0 --port 15```
and getting this as error
```Can't assign requested address: Service 'sparkDriver' failed after 16 retries (on a random free port)```

**spark_model** was saved using mlflow.spark.save_model()

Would like to know the solution for this, Thanks !

Below is the whole error:

[code]

[2022-04-20 17:28] shaikmoeed commented on #5712
@harupy I will work on [dev/set_matrix.py#l304](https://github.com/mlflow/mlflow/blob/22e69c3bdba7c4af616f6f0ce4e74821dc665b10/dev/set_matrix.py#L304), [mlflow/projects/databricks.py#L21](https://github.com/mlflow/mlflow/blob/fe6618823a2e6038149ee0da675503d2764552ca/mlflow/projects/databricks.py#L213), [tests/store/tracking/init.py#L10](https://github.com/mlflow/mlflow/blob/19e84f6cfd0c137925d1136

[2022-04-20 17:58] dbczumar commented on #1963
Hi @zionsofer, apologies for the delay. We'll revisit this shortly. Is the solution presented in https://github.com/mlflow/mlflow/pull/2189, which provides base image customization, satisfactory for your use case, or would you prefer to specify your own template with placeholders for MLflow-specific operations, such as `{install_mlflow}`? Are both of these useful?

[2022-04-20 21:31] dbczumar commented on #5656
@rsundqvist Thank you for diagnosing this! Would you be able to introduce a connection pool to `SFTPArtifactRepository` to address this issue?

[2022-04-20 21:32] dbczumar commented on #5338
Closing now that #5359 is merged :)

[2022-04-20 21:32] #5338 closed

[2022-04-20 21:39] dbczumar commented on #4258
We're now publishing roadmaps incrementally using GitHub Issue milestones. Thanks folks!

[2022-04-20 21:39] #4258 closed

[2022-04-20 21:43] dbczumar commented on #2823
Hi @jhallard. Yes, this should work.

[2022-04-20 23:03] Hiteshsaai opened #5732 "Error running MLflow server for spark saved model (using mlflow) in[BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-04-20 23:04] Hiteshsaai opened #5733 "[BUG] 'sparkDriver' Error by running MLflow server for spark saved model"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-04-20 23:04] #5729 closed

[2022-04-20 23:17] harupy commented on #5712
@shaikmoeed Thanks, assigned them to you!

[2022-04-20 23:22] lucalves commented on #5712
@harupy I will work on [dev/update_ml_package_versions.py#L122](https://github.com/mlflow/mlflow/blob/19d34e0d49577e0903577bdc8d558f63975cc504/dev/update_ml_package_versions.py#L122), [dev/update_pypi_package_index.py#L3](https://github.com/mlflow/mlflow/blob/258e0281026c3586b4f6bde6e2ee6b864d5c01f0/dev/update_pypi_package_index.py#L3) and [mlflow/models/utils.py#l54](https://github.com/mlflow/mlf

[2022-04-20 23:31] harupy commented on #5712
@lucalves Awesome, assigned them to you!

[2022-04-20 23:37] browser-bug commented on #2823
So if I'm running a reverse proxy with NGINX, proxy passing the location as `location /mlflow`, is it sufficient to be running the server with `--static-prefix /mlflow` or there are some other adjustments that need to be done? Ex. when setting the tracking uri etc.

[2022-04-21 00:22] kzhang01 commented on #5712
@harupy Hi I can work on [mlflow/projects/utils.py#l186](https://github.com/mlflow/mlflow/blob/c423e3ef6c648fdcdf1546d11e6768a536edfa85/mlflow/projects/utils.py#L186), [mlflow/server/handlers.py#l726](https://github.com/mlflow/mlflow/blob/a274c5b7d540d05b5f7b9c512cdc3ac8b30f9498/mlflow/server/handlers.py#L726), and  [mlflow/tracking/context/registry.py#L72](https://github.com/mlflow/mlflow/blob/19

[2022-04-21 00:51] harupy commented on #5712
@kzhang01 Thanks!

[2022-04-21 01:58] subramaniam02 commented on #5712
@harupy I will work on rest of the files ? Thanks !

[2022-04-21 01:59] harupy commented on #5712
@subramaniam02 Yes!

[2022-04-21 02:08] subramaniam02 commented on #5712
@harupy
mlflow/tracking/request_header/registry.py#L56
mlflow/store/artifact/s3_artifact_repo.py#L35
/tests/store/tracking/test_sqlalchemy_store.py#L2054

[2022-04-21 06:09] Someone894 opened #5736 "R Bug: System command 'mlflow.exe' failed, exit status: -1073741819"
On Windows 10 with R version 4.1.2 I try to use MLFlow with a remote server in R.
I'm using R and python version 1.25.1 of the MLflow package.
But it I can't get around the following problem:

[code]

I found the problem within:
[code]

and strangely enough `system` and `system2` do work fine.
when you run the error code through a hex converter you get: 0xC0000005 = -1073741819
which seems to be a

[2022-04-21 07:45] saichandrapandraju commented on #5698
Hi @WeichenXu123 ,
It seems conda supports NO_PROXY after referring [conda/conda#11022](https://github.com/conda/conda/issues/11022)

My issue got resolved after adding our company's repository url to `NO_PROXY` in addition to Minio server host name.
It will be something like -
`export NO_PROXY=<company_name>artifactory.ad.<company_name>.com,<minio_host_name>`

[2022-04-21 07:45] #5698 closed

[2022-04-21 10:57] WeichenXu123 commented on #5716
Got it.
Is Nerdctl totally open-sourced and can be used without any limitations ?

[2022-04-21 11:10] WeichenXu123 commented on #5732
@Hiteshsaai

Could you provide the `mlflow models serve -m spark_model --no-conda --host 0.0.0.0 --port 15` command output ?  It should including some error , it might because of model loading failure or other errors.

[2022-04-21 11:10] WeichenXu123 commented on #5732
oh I saw this ticket. https://github.com/mlflow/mlflow/issues/5733

[2022-04-21 11:10] #5732 closed

[2022-04-21 11:13] WeichenXu123 commented on #5733
This is a spark issue.
You can set an environment variable `export SPARK_LOCAL_IP = 127.0.0.1` to address it. i.e.

[code]

[2022-04-21 11:15] ntakouris opened #5738 "[BUG] Metric Logging: Specifying timestamp ms as a float, blows up after logging, while viewing the ui"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ x ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribut

[2022-04-21 11:31] ntakouris opened #5739 "[FR] Better support for ndarrays and tensors"
**Please fill in this feature request template to ensure a timely and thorough response.**

## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this featur

[2022-04-21 11:39] marcelatoffernet opened #5740 "[DOC-FIX] Spelling mistake"
### Willingness to contribute
- [X] Yes. I would be willing to contribute a document fix with guidance from the MLflow community.

### URL(s) with the issue:

[build-docker](https://mlflow.org/docs/latest/cli.html#cmdoption-mlflow-models-build-docker-install-mlflow)

### Description of proposal (what needs changing):
asthe -> as the

[2022-04-21 11:44] marcelatoffernet commented on #5716
It's apache licence 2.0 (https://github.com/containerd/nerdctl/blob/master/LICENSE), falls under the containrd project, which in turn is part of the Cloud Native Computing Foundation.

I'm not a lawyer obviously so don't take my opinion as fact here.

[2022-04-21 11:48] peyerroger commented on #2651
Any update on this bug? Would be nice to have this fixed.

[2022-04-21 17:48] akaigraham commented on #5712
Can I take these?
mlflow/sklearn/init.py#l1518
mlflow/server/init.py#l17
mlflow/fastai/init.py#l441

[2022-04-21 20:37] peterdhansen opened #5744 "[FR] Customizable timeout and retry for rest_store api calls."
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-04-21 23:17] harupy commented on #5712
@akaigraham Yes!

[2022-04-21 23:44] zhixuanevelynwu commented on #5712
@harupy Hi! May I work on [mlflow/sklearn/utils.py#l809](https://github.com/mlflow/mlflow/blob/017674d2d9958298100a7b3ca3df443467446b30/mlflow/sklearn/utils.py#L809) and  [tests/spark/autologging/ml/test_pyspark_ml_autologging.py#l747](https://github.com/mlflow/mlflow/blob/fe6ee93bed24d9885abc2cad597ceade40091f32/tests/spark/autologging/ml/test_pyspark_ml_autologging.py#L747)?

[2022-04-22 01:30] Yevgnen commented on #5086
Any update?

[2022-04-22 01:55] harupy commented on #5712
@ zhixuanevelynwu Yes!

[2022-04-22 02:11] joyatcloudfall commented on #5086
No update. I cannot solve this issue.

[2022-04-22 04:40] #5712 closed

[2022-04-22 09:22] WeichenXu123 commented on #5739
Good proposal !

1. We can support array type params, but we do not support array type metric.
2. We can support automatically call detach() / item() / tolist() , etc. methods.

@ntakouris Are you interested in contributing this feature ? :)

[2022-04-22 10:05] ntakouris commented on #5739
@WeichenXu123 yes, but please provide some guidance regarding files and constructs that need change.

[2022-04-22 10:58] WeichenXu123 commented on #5738
@ntakouris

I created a draft PR, https://github.com/mlflow/mlflow/pull/5750 ,
you can take over it :)

thank you!

[2022-04-22 11:37] WeichenXu123 commented on #5744
Shall we add related configs for rest API service ?

[2022-04-22 17:43] #5739 closed

[2022-04-23 18:23] jkthompson commented on #2877
@florianblume  - I have not been working on this and don't have a lot of time to do so.  I'd be happy to provide feedback if you want to implement.  Would be good to get a blessing from the core devs before putting too much work into it though.

[2022-04-24 06:05] Alaya-in-Matrix opened #5762 "How to see results via `mlflow ui` for experiments logged on another server?"
I was running ML experiments on a ssh server, the experiments were logged via mlflow and stored in local `mlruns` on the server.

The code were just basic usage of mlflow and looks like this

[code]

Now I want to see the logged metrics and artifactos from my own laptop, so I tried

[code]

However, it looks like nothing showed in `localhost:8888` on my own laptop.

Anything I did wrong about the

[2022-04-24 07:10] zionsofer commented on #1963
Hi, @dbczumar , thanks for the reply.
The solution proposed in #2189 is sufficient in its idea, but I believe the implementation lacks two things:
1. Add support for supplying a base image in the CLI of SageMaker (to be able to use the direct build/push functionality through mlflow.sagemaker)
2. When supplying your own docker base image with custom properties/private dependencies, you'd sometimes

[2022-04-24 13:57] #5740 closed

[2022-04-25 07:15] manishpyy opened #5770 "Unable to access mlflow client functions outside Databricks"
I am unable to access the mlflow client functions outside Databricks environment. For example, to list the experiments in an mlflow server, using the get_experiment_by_name() function, I am getting unauthorized error 401. I am also setting the 'DATABRICKS_HOST', 'DATABRICKS_TOKEN' environment variables as well.

os.environ['MLFLOW_TRACKING_URI'] = 'databricks'
os.environ['DATABRICKS_HOST'] = https

[2022-04-25 07:28] manishpyy opened #5771 "Upload model and artifacts to a mlflow server"
I have the artifacts/model in my local computer. I am able to create a registered model using the mlflow REST API, but is there any way to transfer this artifacts/model to the mlflow server (in databricks) from my local machine?

[2022-04-25 07:35] harupy commented on #5770
@manishpyy Can you run this code?

[code]

[2022-04-25 07:41] manishpyy commented on #5770
I am still getting 401 unauthorized error.

[2022-04-25 08:07] harupy commented on #5770
Is your token valid?

[2022-04-25 08:16] manishpyy commented on #5770
Yes, when I do a GET request using the token as bearer token, it gives the output

headers = {"Authorization": "Bearer %s" %db_auth_token}
experiments_list = requests.get(databricks_tracking_uri+'api/2.0/mlflow/experiments/get-by-name',
 params={'view_type':'ALL','experiment_name': '/Users/username/exp-name'}, headers=headers)

When I am trying to acheive the same using the get_experiment_by_name

[2022-04-25 08:25] harupy commented on #5770
Can you try this?

[code]

[2022-04-25 09:40] manishpyy commented on #5770
oh yes, got it. So I had to set the tracking uri as just 'databricks', before this I was setting the uri as the entire databricks url. Thank you for your help.

[2022-04-25 10:40] WeichenXu123 commented on #5771
Could you try this rest API ?
https://github.com/mlflow/mlflow/blob/43237e94af2f52b16776a72c72c12423762a0b37/mlflow/protos/mlflow_artifacts.proto#L4

[2022-04-25 11:21] WeichenXu123 commented on #5771
You can see this doc page:
https://docs.databricks.com/applications/mlflow/access-hosted-tracking-server.html

to config your local mlflow to connect to databricks mlflow server,

then run `mlflow.log_artifact` uri in your local machine, it will log files to databricks mlflow server.

Thank you.

[2022-04-25 11:21] harupy commented on #5770
You're welcome!

[2022-04-25 11:21] #5770 closed

[2022-04-25 11:51] Clayrisee opened #5773 "[ASK] Where is the artifact model downloaded by load_state_dict?"
Hello MLFlow Team!

I have a question, I already stored my state_dict artifact in S3 bucket and I want to load the artifact model using this code.

[code]

My question is, where is the downloaded ```state_dict.pth```  in my local computer?

Thank you

[2022-04-25 12:21] WeichenXu123 commented on #5762
You set inconsistent backend store / artifact root path between your "mlflow ui" and your client program.

An easy way to address:

Under the same directory, run your client program and "mlflow ui", (mlflow ui without  `--default-artifact-root` argument ), then data will be logged into `./mlruns` and show correctly.

For advanced setup, you can see https://www.mlflow.org/docs/latest/tracking.html#

[2022-04-25 12:25] WeichenXu123 commented on #5714
Could you try mlflow python API to see whether it work ? (In python code you should call `mlflow.set_tracking_uri` to set the correct tracking server uri first)

The rest API is used internally, and python API should be able to fulfill all your demands.

[2022-04-25 13:41] adamwawrzynski opened #5774 "[BUG] Problems with change run name in UI"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [x] No. I cannot contribute

[2022-04-25 22:18] rajesh-chawla commented on #5678
Resolved issue.

[2022-04-25 22:18] #5678 closed

[2022-04-26 08:14] #5733 closed

[2022-04-26 09:01] WeichenXu123 commented on #5716
@marcelatoffernet Make sense! Are you interested in contributing ? We are happy to review your work, thank you!

[2022-04-26 09:01] harupy commented on #5774
@adamwawrzynski Could you take a screen recording and share it?

[2022-04-26 09:24] marcelatoffernet commented on #5716
@WeichenXu123 I am willing to contribute. I will just need a few pointers / possible way to do it or where to start looking.

[2022-04-26 11:05] pimdh opened #5779 "[BUG] Metric plot slow for many data points"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [X] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2022-04-26 13:04] WeichenXu123 commented on #5716
You can start looking from https://github.com/mlflow/mlflow/blob/970ac4362bb53ce64a2bdd8743d2e8ed4dd42f83/mlflow/pyfunc/backend.py#L282

thanks! :)

[2022-04-26 23:47] git-thor opened #5783 "Providing notice of Stable Baselines3 PR around automated MLflow logging integration"
Please refer with feedback, discussions or support to https://github.com/DLR-RM/stable-baselines3/pull/889

[2022-04-27 02:56] dbczumar commented on #5779
Hi @pimdh , thank you for raising this! We would be very excited about integrating https://github.com/predict-idlab/plotly-resampler to improve plot scalability. I think it would be best to introduce a toggle that users can select to explicitly enable sampling, ensuring that they can still access the complete set of data (even if it's slow). We would be thrilled to review and provide guidance on a

[2022-04-27 03:01] dbczumar commented on #3021
Hi folks, in MLflow 1.26.0, we will be introducing support for virtualenv + pyenv + pip as an alterative to conda. You can try this out on the MLflow `master` branch by specifying the `--env-manager virtualenv` flag for relevant CLI commands (e.g. `mlflow run`, `mlflow models serve`) and the `env_manager="virtualenv"` option for relevant API commands (e.g. `mlflow.run`, `mlflow.models.build_docker

[2022-04-27 03:01] #3021 closed

[2022-04-27 03:12] happilyeverafter95 opened #5784 "[FR] Mask GitHub token if present in Git URI"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-04-27 04:33] #4900 closed

[2022-04-27 04:33] #2901 closed

[2022-04-27 07:19] pbower commented on #3021
Outstanding thanks!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Corey Zumar ***@***.***>
Sent: Wednesday, April 27, 2022 1:01:32 PM
To: mlflow/mlflow ***@***.***>
Cc: Peter ***@***.***>; Comment ***@***.***>
Subject: Re: [mlflow/mlflow] [FR] Add pip native support (#3021)

Closed #3021<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.c

[2022-04-27 07:26] rsundqvist commented on #5656
@dbczumar I have an ad-hoc solution, however it will fail in cases where the `client` argument is given when creating the `SFTPArtifactRepository` instance. Any idea when (if?) this will happen? I didn't find any conditions under which `client` was anything other than `None` during my testing.

[2022-04-27 07:40] zionsofer opened #5786 "[BUG] Bug in extra added code paths when getting code directories from model"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2022-04-27 07:52] pedrety opened #5787 "[BUG] Error while upgrading the database schema (Duplicated key name 'index_params_run_uuid')"
### Willingness to contribute

The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2022-04-27 08:30] #5771 closed

[2022-04-27 08:30] #5762 closed

[2022-04-27 08:31] #5704 closed

[2022-04-27 08:32] #5714 closed

[2022-04-27 08:36] WeichenXu123 commented on #5736
This is the fixing PR:
https://github.com/mlflow/mlflow/pull/5767

[2022-04-27 09:22] #5736 closed

[2022-04-27 10:05] WeichenXu123 commented on #5694
A fixing PR for mlflow-R was merged: https://github.com/mlflow/mlflow/pull/5767
Could you build latest mlflow-R from master and retry ? :)

[2022-04-27 10:43] pedrety commented on #5787
# Update

For the past hours I've been trying some things and I think i came to a solution, or at least a partial solution.

I will detail the steps I followed:

- The error I was having said that: `(1061, "Duplicate key name 'index_params_run_uuid'")`. With this in mind I just tried to remove that index manually but I did not succeed because it was needed in a foreign key constraint.
- After that

[2022-04-27 11:28] ikergon98 opened #5788 "[FR] Create serverless inference deployment on sagemaker"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2022-04-27 15:21] ahlag commented on #5709
@harupy
Can I have a try?

[2022-04-27 15:54] harupy commented on #5709
@ahlag Yes!

[2022-04-27 16:21] Jingnan-Jia opened #5789 "[FR] Freeze the first row (title row) of mlflow UI"
**Please fill in this feature request template to ensure a timely and thorough response.**

## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this featur

[2022-04-27 16:23] Jingnan-Jia commented on #5789
split the two screenshots.

[2022-04-27 20:31] momoa16 opened #5791 "[BUG] "exception Object of type _EnvManager is not JSON serializable" when I execute "mlflow run -b databricks" MLFlow 1.25.1"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [X] No. I cannot contribute

[2022-04-27 21:57] KrSiddhartha commented on #5656
I am having the exact same issue working with mlflow, while trying to load model.

[2022-04-27 21:58] KrSiddhartha commented on #5656
I have the exact same issue working with mlflow when trying to load models from the previous runs. Can you share the ad-hoc method which is working for you?

[2022-04-27 23:18] harupy commented on #5791
@momoa16 Thanks for reporting this issue. I was able to reproduce the error. Can you try installing a development version of mlflow from the master branch and check if it works?

[code]

[2022-04-28 00:22] dbczumar commented on #4828
Closing this out now that https://github.com/mlflow/mlflow/pull/5719, https://github.com/mlflow/mlflow/pull/5510, and https://github.com/mlflow/mlflow/pull/5461 have been merged, which introduce signature / input example autologging for TensorFlow and PySpark ML. Thanks a bunch, @bali0019 !

[2022-04-28 00:22] #4828 closed

[2022-04-28 03:54] yudhiesh commented on #5297
Hey I am facing the same issue, did you manage to fix ti?

[2022-04-28 07:04] rsundqvist commented on #5656
@KrSiddhartha They're on master in rsundqvist/mlflow. See the commits linked above in this thread :)

[2022-04-28 08:07] pimdh opened #5796 "[FR] Metric view legend abbreviation - hoover for full name"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [X] Yes. I would be willing to contribute this feature with guidance from

[2022-04-28 09:47] ahlag commented on #5709
@harupy
Thank you!

[2022-04-28 10:28] marcelatoffernet commented on #5716
@WeichenXu123  Please see this commit: https://github.com/marcelatoffernet/mlflow/commit/a75d4c9f67315ed01bd0de928990e5b306c767df

[code]

Observe that Podman manages to stand in as direct replacement for Docker:

[code]

The reason Miniconda executable failed to run was because I'm on arm. I suggest that we look into substituting the Minconda that gets pulled. Perhaps with

[code]

[2022-04-28 11:49] bgt-cdedels commented on #5297
No.  I have moved to [scenario 4](https://mlflow.org/docs/latest/tracking.html#scenario-4-mlflow-with-remote-tracking-server-backend-and-artifact-stores).  [Scenario 5](https://mlflow.org/docs/latest/tracking.html#scenario-5-mlflow-tracking-server-enabled-with-proxied-artifact-storage-access) doesn't seem to work for me as documented.

[2022-04-28 14:33] pimdh commented on #5779
Hi @dbczumar,
It seems like the library I mentioned is based on the Dash framework and thus appears difficult to integrate with the existing code-base. At the moment, I don't think I've got time to implement adaptive resampling from scratch. Would you also be interested in a fixed subsampling, whereby the user sets a number of samples in the UI, then, for example, the server subsamples at `Trackin

[2022-04-28 22:28] dbczumar commented on #5789
@Jingnan-Jia Thank you for raising this issue! I completely agree that this is necessary for a good user experience. I've added the `good first issue` and `help wanted` labels in hopes of soliciting a contribution.

[2022-04-28 22:32] dbczumar commented on #5787
@pedrety Thank you for raising this and for providing your workaround as a reference to others; glad you're unblocked! @harupy Any idea how we might've ended up with a duplicate key name for this? My theory is that the first upgrade attempted failed midway through and subsequent upgrades could not proceed because the index creation is not idempotent.  @pedrety is that accurate? Did you try running

[2022-04-28 22:34] dbczumar commented on #5788
@ikergon98 Thank you for your suggestion! Would you be willing to contribute a pull request for this change that adds a new configuration argument to https://mlflow.org/docs/latest/_modules/mlflow/sagemaker.html#SageMakerDeploymentClient.create_deployment / https://mlflow.org/docs/latest/python_api/mlflow.sagemaker.html#mlflow.sagemaker.SageMakerDeploymentClient.update_deployment?

Note that the `

[2022-04-28 22:34] dbczumar commented on #5796
@pimdh Thank you for pointing this out. We'd be very excited to review a pull request that implements the proposed solution. We're looking forward to your contribution! :)

[2022-04-29 00:08] dbczumar commented on #5786
@zionsofer Thank you for pointing this out and helping us root cause the issue. We're working on a fix right now.

[2022-04-29 00:10] dbczumar commented on #5789
@sunishsheth2009 Do you know how we can fix this?

[2022-04-29 03:22] ankit-db commented on #5178
Closing because this was added in https://github.com/mlflow/mlflow/pull/5448

[2022-04-29 03:22] #5178 closed

[2022-04-29 05:29] Neethugkp commented on #5714
with right datatype for parameters in API method solved the issue.

Thank you

[2022-04-29 06:24] harupy commented on #5789
Related SO post: https://stackoverflow.com/questions/40427888/ag-grid-keep-header-on-top-while-scrolling

[2022-04-29 06:31] sunishsheth2009 commented on #5789
Hey @harupy and @dbczumar we already have a fix for this and will be merged soon by Hubert. Lets wait for his fix to be merged soon. :)

[2022-04-29 07:01] mChowdhury-91 opened #5798 "Question: Mlflow metrics with distributed training using pytorch/tensorflow"
I would like to know if there is any documentation or example for logging mlflow metrics with distributed training using tensorflow or pytorch.

[2022-04-29 07:04] Sergiodiaz53 opened #5799 "[DOC-FIX] SFTP configuration example"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this documentation issue template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another

[2022-04-29 07:05] pedrety commented on #5787
Yes indeed, once it failed I tried to run it again and then I get that error, so I guess you are right, the first time the database got partially upgraded and some indexes may have been created. Sadly I don't have the first attempt output.

I didn't update to version 1.25.1 yet in my main server because I don't know if the way I fixed it is the best one, so I'll keep waiting until you guys can giv

[2022-04-29 08:27] ArtificialTruth commented on #4830
There is no parameter called `--tracking_uri`
The parameter `--experiment_name` should be `--experiment-name`
Unfournataly this does not work for me, I tried to remove `with mlflow.start_run()` and keep `mlflow.set_tracking_uri()` in the code

[2022-04-29 08:36] harupy commented on #5607
#5606 only fixed the image artifact viewer.

[2022-04-29 08:37] #2535 closed

[2022-04-29 08:42] ikergon98 commented on #5788
Unfortunately, right now, i dont have time. But if someone want to help, my idea basically is add a boolean optional parameter, for use serverless inference option, and 2 more that will be none if false and an int value if true, following more or less this idea, just the part of ServerlessConfig.
[https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/sagemaker.html#SageMaker.C

[2022-04-29 18:33] anjakuchenbecker opened #5804 "[DOC-FIX] mlflow.set_experiment() code example (fluent API)"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this documentation issue template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another

[2022-04-29 22:58] dbczumar commented on #5786
@zionsofer I've filed https://github.com/mlflow/mlflow/pull/5806 to address this issue.

[2022-04-30 00:37] #5786 closed

[2022-04-30 04:46] harupy commented on #5774
@adamwawrzynski gentle ping

[2022-04-30 11:25] ketangangal commented on #5804
I am willing to fix this issue!

[2022-04-30 12:17] ketangangal commented on #5804
I have fixed the issue and created a pull request.

[2022-04-30 12:19] ketangangal commented on #5804
#5808

[2022-04-30 14:35] zionsofer commented on #5786
Amazing, thanks for the quick fix and update!

[2022-05-02 09:05] alexdivet commented on #5628
@harupy could please have a look at PR #5801 and let me know if there's anything I'd need to add? 🙇🏻‍♂️

[2022-05-02 15:00] adeandrade commented on #5301
I am experiencing this as well. Maybe MLFlow does a shallow clone?

[2022-05-02 15:43] aravishdatabricks commented on #5295
@crclark  Could we get some updates here, please?

We can run below on Databricks to search model by tags, but open-source implementation fails with an error in this bug.

[code]

[2022-05-02 18:18] Jingnan-Jia commented on #5789
Another related feature should be: Make it possible to scroll right/left without the need to scroll down to the bottom.

In the following image, at present when I want to check more metrics (outsied the "screen") of the current runs, I have to scroll down to the bottom to get the horizontal bar, then press and hold the horizontal bar to the left/right to see more metrics.

![image](https://user-im

[2022-05-02 18:46] crclark commented on #5295
Sorry, not sure I understand what you're asking. As far as I know, this bug is still present.

[2022-05-02 22:11] dbczumar commented on #5783
Hi @git-thor. Thank you for the notice. In contrast to the recommendation from @araffin here https://github.com/DLR-RM/stable-baselines3/pull/889#issuecomment-1110638553, we would prefer that this functionality be contributed directly to Stable Baselines3 or to separate package / repository. Thank you for your interest in MLflow!

[2022-05-02 22:11] #5783 closed

[2022-05-02 22:20] dbczumar commented on #5784
Hi @happilyeverafter95, thank you for raising this issue! While I agree that the URI may contain sensitive information, I don't think redaction from log statements / UI displays comprehensively solves the issue. This information is still available in the form of MLflow Run Tags. The best way to address these security concerns is to set up an auth layer in front of MLflow (e.g. with the help of ngi

[2022-05-02 22:20] #5784 closed

[2022-05-02 22:24] dbczumar commented on #5773
Hi @Clayrisee - great question! The state dict is downloaded to a temporary location on the filesystem that is not clearly exposed by this method. To download the state dict artifact to your local filesystem and obtain the resulting path, I recommend using the `mlflow.artifacts.download_artifacts` API (https://mlflow.org/docs/latest/python_api/mlflow.artifacts.html#mlflow.artifacts.download_artifa

[2022-05-02 22:24] #5773 closed

[2022-05-02 22:28] dbczumar commented on #5682
Hi @FedericoGarza. Thank you for your feature request, and apologies for the delay. While we are not currently accepting contributions of new MLflow Model flavors for forecasting in the main MLflow repository, we would be happy to provide guidance for implementing this feature as a third-party package / repository. Once released, we would also be excited to list the package on our website. Please

[2022-05-02 22:28] dbczumar commented on #5689
Hi @pelekhs. Thank you for your feature request, and apologies for the delay. While we are not currently accepting contributions of new MLflow Model flavors for forecasting in the main MLflow repository, we would be happy to provide guidance for implementing this feature as a third-party package / repository. Once released, we would also be excited to list the package on our website. Please let me

[2022-05-02 22:52] dbczumar commented on #5798
@shrinath-suresh Do you have example references for distributed training? I see that https://medium.com/pytorch/mlflow-and-pytorch-where-cutting-edge-ai-meets-mlops-1985cf8aa789 mentions the existence of such examples, but https://github.com/mlflow/mlflow/blob/master/examples/pytorch/BertNewsClassification/bert_classification.py doesn't seem to contain distributed example content.

[2022-05-02 23:01] pelekhs commented on #5689
Hi!

Thanks for your reply and the will to help.

Yes I am interested!

Could we somehow duscuss the process to be followed?

On Tue, May 3, 2022, 01:29 Corey Zumar ***@***.***> wrote:

[2022-05-02 23:56] dbczumar commented on #5799
Hi @Sergiodiaz53, using `~/.ssh/config` is indeed the recommended approach for specifying custom private keys and other host-specific connection properties. To confirm, is the hostname included in the artifact URI? If you don't mind doing some printline debugging, perhaps printing the value of `user_config` in https://github.com/mlflow/mlflow/blob/d0d307f7f7b49f013727191a672ae2139bf37343/mlflow/st

[2022-05-02 23:57] dbczumar commented on #5804
Thanks so much, @ketangangal @anjakuchenbecker ! This is an excellent docs improvement!

[2022-05-02 23:57] #5804 closed

[2022-05-03 00:45] dbczumar commented on #5133
Following up here, MLflow 1.24.0+ now provides an `mlflow.pyfunc.get_model_dependencies()` method (https://mlflow.org/docs/latest/python_api/mlflow.pyfunc.html#mlflow.pyfunc.get_model_dependencies) that downloads the model's dependencies in either `pip` or `conda` format. This can be used in conjunction with `pip` and `conda` commands to restore the environment, as is demonstrated (using Jupyter `

[2022-05-03 00:45] #5133 closed

[2022-05-03 07:24] aravishdatabricks commented on #5295
@crclark  This is being tracked here
https://github.com/mlflow/mlflow/pull/3296

[2022-05-03 10:02] agarfau opened #5814 "[BUG] Delete temporary directory and its content created by mlflow.pytorch.load_state_dict"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian Buster (docker image python:3.9-slim-buster)
- **MLflow installed from (sou

[2022-05-03 14:58] harupy commented on #5709
Addressed by #5797 and #5803

[2022-05-03 14:58] #5709 closed

[2022-05-03 16:02] mengxr commented on #5456
@jnp Thanks for your feedback!

We plan to store the pipeline templates under mlflow github org, one repo per templates similar to GitHub Actions. After we open up APIs for pipelines and steps, 3rd-party can define their own templates in their own public/private repos or inline them inside a project.

We initially target less sophisticated ML problems. We do expect the official templates can cover

[2022-05-03 16:07] FedericoGarza commented on #5682
Thanks! We are not trying to add new models but to upgrade Arima from experimental to prod.  This version of AutoARIMA is more accurate and faster than `pmdarima` and would be a better fit for MLFlow.  In case it is not an option, what would be the next steps for implementing the feature as a third-party package, or what does that mean exactly?

[2022-05-03 16:52] AnastasiaProkaieva opened #5815 "[BUG]"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### System information

- **Running MlFlow on Databricks runtime 10.4 ML LTS**:
- **MLflow version is '1.24.0'**:
- **Python version is '3.8.10'**:

### Describe the problem

While executing mlflow.evaluate on Databricks runtime 10.4 get an error :

The error is coming

[2022-05-03 17:13] #5512 closed

[2022-05-03 18:26] dbczumar commented on #5814
@agarfau These contents are downloaded to a temporary directory, and temp directories are eventually removed by the OS. The reason we do not remove files immediately after they are read into memory is that it's hard to determine whether or not the API used to load the files into memory might try to access them later; for example, some frameworks incrementally read model contents from a directory o

[2022-05-03 18:26] #5814 closed

[2022-05-03 18:34] dbczumar commented on #5815
Hi @AnastasiaProkaieva, thank you for raising this! Can you try setting the `explainability_nsamples` value in the `evaluator_config`  argument of `mlflow.evaluate()` to a smaller value? If that doesn't work, we can absolutely implement support for disabling the additivity check, though setting this flag to `False` doesn't appear to be recommended.

Finally, if you aren't interested in SHAP output

[2022-05-03 18:48] shrinath-suresh commented on #5798
@dbczumar [MNIST example](https://github.com/mlflow/mlflow/tree/master/examples/pytorch/MNIST) can be used as a reference . `python mnist_autolog_example.py --max_epochs 1 --gpus 2 --strategy ddp` trains the model in multi gpu mode.

In latest version of PTL the backend name has changed from `accelerator` to `strategy`. I have issued a [PR](https://github.com/mlflow/mlflow/pull/5816) and attached

[2022-05-03 18:50] dbczumar commented on #5798
Thanks so much, @shrinath-suresh ! I've approved your PR. I'll go ahead and close out this issue; thank you for providing these examples to @mChowdhury-91 and the rest of the community!

[2022-05-03 18:50] #5798 closed

[2022-05-03 18:51] dbczumar commented on #5787
@pedrety  Your approach sounds great! Thanks for confirming my prior suspicion. If this issue continues to arise, we will take an action item to refactor the migration so that it's idempotent; apologies for the oversight here initially. Thank you for using MLflow!

[2022-05-03 18:51] #5787 closed

[2022-05-03 18:54] dbczumar commented on #5779
@pimdh Thank you for your suggestion! Unfortunately, it's challenging to make such changes to the MLflow service API without substantial debate & coordination because it's implemented by a variety of third-party providers (e.g. Databricks, AzureML). Since the issue appears to be restricted to Plotly performance, can we subsample on the frontend before passing datapoints to plotly?

[2022-05-04 10:45] mChowdhury-91 commented on #5798
@shrinath-suresh Thank you for sharing the example. I've a follow-up question to this example.
If I run this on 2 gpu's, will the autolog not create 2mlflow logs, what is the best practice? Should the logs be created from master?

[2022-05-04 10:55] mChowdhury-91 opened #5817 "Follow-up Question - Mlflow creates multiple logs for distributed training with multiple workers"
This is a follow up question to the closed thread https://github.com/mlflow/mlflow/issues/5798

@shrinath-suresh Thank you for sharing the example. I've a follow-up question to this example.
If I run this on 2 gpu's, will the autolog not create 2mlflow logs, what is the best practice? Should the logs be created from master?

[2022-05-04 14:10] AnastasiaProkaieva commented on #5815
Hi @dbczumar, I tried to set`explainability_nsamples` to 12,50,100,500 (instead of default 2000) and the error stays the same. Then it seems that this TreeExplainer is not working anymore without `additivity check=False`, I recently had the same issuer with my old Shap script.

Meanwhile, when I am setting the value of `explainability_nsamples < num_feautes` - there is another error that is raised

[2022-05-04 14:26] harupy commented on #5774
@adamwawrzynski Thanks for the video, can you clarify the steps to reproduce the issue?

[2022-05-04 14:32] adamwawrzynski commented on #5774
@harupy I've installed latest `mlflow==1.25.1` in virtualenv with Python `3.8`. I've created bunch of experiments and runs to test this tool. When I enter any run and try to change it's name (as in video) text field is selecting all content after typing any character. So to pass desired run name I have to select right arrow after every typed character to unselect content of text field. It's annoyi

[2022-05-04 14:51] adamwawrzynski commented on #5774
@harupy It works just fine.

[2022-05-04 14:59] harupy commented on #5774
Can you open this page?

https://harupy-mlflow-7rwqxj6rcxg6j-3000.githubpreview.dev/#/experiments/0

[2022-05-04 15:01] adamwawrzynski commented on #5774
@harupy Yes and I can change run name without problems. That's weird.

[2022-05-04 15:15] harupy commented on #5774
I was able to reproduce the issue using `mlflow==1.25.1`.

[2022-05-04 16:47] shrinath-suresh commented on #5817
@dbczumar  The initial version of [autolog](https://github.com/mlflow/mlflow/blob/c56d92002fc6dae387e54684b6a61f25896edc9f/mlflow/pytorch/_pytorch_autolog.py#L32) logged only the rank zero model.

In the current version, the log_model method is called for all the gpus. Is this change intentional ? Should we apply rank_zero_only tag for log_model as well?

[2022-05-04 16:49] shrinath-suresh commented on #5817
@mChowdhury-91 When running in multi gpu environment, Its generally a practice to save the model with rank zero gpu. You can use the experiment with rank 0 gpu. It contains all the information (hyper params, metrics and model)

[2022-05-04 17:54] Jingnan-Jia commented on #5383
Any update now? I really expect this feature !

[2022-05-05 05:41] harupy commented on #5774
It appears MLflow UI assets in mlflow versions >= 1.24.0 were created using `npm install && npm run build` but they should've been created using `yarn install && yarn build`. We'll fix this in the next release.

[2022-05-05 06:41] dbczumar commented on #5301
Hi folks, this appears to have been addressed by https://github.com/mlflow/mlflow/pull/5661. Thank you for using MLflow!

[2022-05-05 06:41] #5301 closed

[2022-05-05 06:48] dbczumar commented on #5817
@shrinath-suresh Models only appear to be logged from the driver process after training completes: https://github.com/mlflow/mlflow/blob/1539d9e467bcd865c335e800dad597517b0a9bcd/mlflow/pytorch/_pytorch_autolog.py#L387-L395. I don't see any other calls to `log_model()`. Please let me know if I'm missing something.

[2022-05-05 06:53] dbczumar commented on #5815
@AnastasiaProkaieva Thanks for trying this out! I'll go ahead and file a PR to support `additivity_check=False`. Apologies for the inconvenience!

[2022-05-05 06:56] hubertzub-db commented on #5789
@Jingnan-Jia @sunishsheth2009
PR containing fixed header row is here
https://github.com/mlflow/mlflow/pull/5818
Example:
![Apr-28-2022 17-48-45](https://user-images.githubusercontent.com/104438646/166874634-fe316780-97a8-4e7d-9c3d-746794cd31a6.gif)

Regarding https://github.com/mlflow/mlflow/issues/5789#issuecomment-1115211507 comment:
It is possible to scroll horizontally by using trackpad or shi

[2022-05-05 08:08] ghost opened #5819 "[FR] Deletion of an experiment to mark runs associated with that experiment to be deleted"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Proposal -
1. Deleting an experiment from UI to also mark runs associated with that experiment to be deleted
2. Restoring an experiment should also mark the runs to a non-deleted state.

### Motivation

#### What is the use case for this feature?

When I

[2022-05-05 08:15] cacharle opened #5820 "[FR] Allow passing pathlib.Path to set_tracking_uri"
### Willingness to contribute

Yes. I can contribute this feature independently.

### Proposal Summary

It would be intuitive that we could pass the standard library's paths object to `set_tracking_uri`.

It's also easy to implement, we just have to call `path.as_uri()`.

I assume there is other places where the user can pass an uri, would be nice if the behavior could be uniform across the API.

[2022-05-05 11:10] saichandrapandraju opened #5821 "Support inference script for serving models"
Hi,

I trained a model and it is saved using MLFlow's autologging api. Now I can call `mlflow models serve` to serve the model.
However, there is no way I can pass an inference script to control the `predict` call of the model (eg. I may preprocess the data before predict call).

Could anyone plz suggest how can I add a custom inference script while deploying..?

[2022-05-05 18:31] WillersonAbreu opened #5823 "Can I obfuscate the Git repository address when use Mlflow + Azure ML?"
Hi, in our project we are using the Mlflow with a tracking URI pointing to Azure ML.
The trigger to execute our workflow is  triggered through the **mlflow.projects.run** method passing the project git address and other information.
My question is as follow: Can I obfuscate the git address when running our workflow through **mlflow.projects.run**?

Check printscreen from the info I want to obfusca

[2022-05-05 19:55] DavidRosen commented on #2169
The lack of any history or audit trail for which model was Production in the past is a serious controls issue according to my management.  Also the fact that a Version registration (or its underlying Experiment/artifacts) may have been deleted without leaving any historical record of itself,  or even of who deleted it or when.

[2022-05-05 23:19] dbczumar commented on #5819
@aditya-iyengar-rtl-de Thank you for raising this feature request! We'd love to review a PR that implements this capability for the `FileStore` and the `SqlAlchemyStore`. Please let me know if you have any questions!

[2022-05-05 23:21] dbczumar commented on #5820
Hi @cacharle , thank you for raising this feature request. We'd be happy to review a PR that implements it. Thank you in advance for your contribution!

[2022-05-05 23:22] dbczumar commented on #5823
@akshaya-a @wamartin-aml @trangevi Can you provide guidance here?

[2022-05-05 23:27] dbczumar commented on #5821
Hi @saichandrapandraju. Great question! We recommend following the guidance in https://mlflow.org/docs/latest/models.html#custom-python-models. Once you've logged a model with autologging, you can follow these instructions to create a new model based on your logged model that adds preprocessing / postprocessing capabilities. Please let me know if you have any questions, and thank you for using MLf

[2022-05-05 23:27] #5821 closed

[2022-05-06 05:28] jhallard commented on #5820
Why are we using `pathlib.Path` to represent a URI? `pathlib.Path("http://localhost:5000").as_uri()` doesn't even appear to work

[2022-05-06 07:02] cacharle commented on #5820
@jhallard I use it to represent paths, not URI.

[code]

[2022-05-06 08:54] saichandrapandraju commented on #5821
Hi @dbczumar , Thanks for the reply!

You're suggesting to create a new python model with inference logic and log this model before deploying. Is my understanding correct ?

But what if I want to add inference script on-the-fly while deploying ?
The main reason for asking this is -
I will have multiple runs and delegate logging (params, metrics, artifacts) to MLflow.
After multiple runs, I registe

[2022-05-06 11:40] harupy commented on #5381
addressed by #5381

[2022-05-06 11:40] #5381 closed

[2022-05-06 13:22] shrinath-suresh commented on #5817
I added a print statement above log_model and compiled mlflow from source. Tested MNIST example with CPU and 2 GPUs.

search for `Log model called with run_id` in logs

[mnist_with_gpu.txt](https://github.com/mlflow/mlflow/files/8640276/mnist_with_gpu.txt)
[mnist_without_gpu.txt](https://github.com/mlflow/mlflow/files/8640277/mnist_without_gpu.txt)

In case of 2 gpus, the log model is getting call

[2022-05-06 16:48] jhallard commented on #5820
Yes, but tracking servers aren't at local file paths..

[2022-05-06 19:05] Xctrunner commented on #5823
@dbczumar thanks for alerting us - we'll discuss and get back to you next week

[2022-05-06 19:07] wamartin-aml commented on #5823
@dbczumar thanks for alerting us - we'll discuss and get back to you next week

[2022-05-06 19:13] akshaya-a commented on #5823
While @wamartin-aml  helps drive this discussion, @WillersonAbreu can you share a bit more information on at least the structure and source of this git repo url? Does it embed a secret, which is why you want to obfuscate it? Do you just want to remove showing that property even if an API caller can retrieve it?

Happy to learn more about the reasoning so we can deliver a solution at the right laye

[2022-05-06 19:17] WillersonAbreu commented on #5823
You are right! We are using a Personal Access Token to enable the mlflow to access the repository. So, we want to at least obfuscate this token.

[2022-05-06 19:28] akshaya-a commented on #5823
@WillersonAbreu as a short term thing, can you try setting AZUREML_GIT_REPOSITORY_URI as an env var *where you are submitting from* (that is, where you run mlflow.projects.run) not as an env var in the remote job

[2022-05-06 19:58] WillersonAbreu commented on #5823
Ok, I will try this implementation at next monday and get back with the results.

[2022-05-06 21:49] #5469 closed

[2022-05-06 22:42] #5653 closed

[2022-05-07 05:45] dbczumar commented on #5817
@shrinath-suresh Thanks for trying this out! In that case, this is definitely a regression. Do you have bandwidth to explore restoring the `rank_zero_only` decorator for the model logging operation? Apologies for the oversight here!

[2022-05-07 08:32] cacharle commented on #5820
Not sure I understand, I just use  `set_tracking_uri` to change where the logs and artifacts are stored on the disk (I don't use a remote server)

[2022-05-07 10:27] Jingnan-Jia opened #5828 "Is it possible to show multiple experiments stored in different folders?"
### Discussed in https://github.com/mlflow/mlflow/discussions/5827

<div type='discussions-op-text'>

<sup>Originally posted by **Jingnan-Jia** May  7, 2022</sup>
Hi, I am runing multiple different projects and want to track them. The structures are like：

Project1
- docs
- source_code
  - main.py
  - mlruns
    - 0
      - a6de16f6cb134095b607967b20eff70e
      - a6de16f6cb134095b607967b20eff70f

[2022-05-08 11:19] browser-bug opened #5831 "Handle different runs concurrently on multiple tracking servers?"
Hi everyone! I don't know if this can be labeled as feature request since I'm still quite new to the library and hence I'm creating a blank issue. Feel free to delete this if it's not the right place to discuss this matter but I'm looking for some insight on this and I think this is the best place to find expert opinions.

That being said, are there any resources or insights on handling multiple t

[2022-05-08 17:45] jklen commented on #834
same here....

[2022-05-09 01:47] Clayrisee commented on #5773
Thank you for your reply! its really great help for me!

[2022-05-09 01:52] Clayrisee commented on #4830
Well, you can try this step.

1. Export MLFLow Tracking Server variable like this code below.
[code]
2. Run your MLflow Project with this command line.
[code]

Notes:
- You must remove mlflow.start_run() in your python code, if you don't remove this line it will create 2 running experiments and create errors
- You don't have to use ```mlflow.set_tracking_uri()```, because it is already set in your

[2022-05-09 07:07] hubertzub-db commented on #5789
@Jingnan-Jia
I'm not sure when the current code is going to be released in the `pip` registry, however since it's been merged you can clone the code and run it by yourself. You can refer to the following document:
https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst#developing-and-testing-mlflow

[2022-05-09 08:22] ognis1205 commented on #5680
Hello, folks!
I would like to contribute to the project so I am considering to participate in this issue to start with. It seems nobody is working on the following two files:

  tests/store/model_registry/test_sqlalchemy_store.py
  tests/store/tracking/test_sqlalchemy_store.py

Would you mind if I worked on these two files? Thank you.

[2022-05-09 09:02] harupy commented on #5680
@ognis1205 Thanks, looking forward to your PR!

[2022-05-09 09:58] xavierfontaine commented on #3931
A comment to support the current issue. The discussed limitation in parameter length makes MLFlow less suited for use cases such as Natural Language Generation. For [prompt-based NLG](https://en.wikipedia.org/wiki/Prompt_engineering), _prompts_ (strings, often long ones) are hyper-parameters that are central to model performances, alongside other numerical/boolean parameters.

For now, my team and

[2022-05-09 13:33] Sergiodiaz53 commented on #5799
Hi dbczumar,

Sorry for the delay.
I'm running MLFLOW in a docker with a exposed port to localhost in :5000
I'm running SFTP in a remote host 2.2.2.2:9222
I'm running my CLIENT in localhost

Im launching MLFlow inside my docker container as root using:
`mlflow server  --port 5000  --host 0.0.0.0  --backend-store-uri sqlite:///db/test}.db --default-artifact-root sftp://mlflow@ 2.2.2.2:9222`

I'm la

[2022-05-09 13:45] WillersonAbreu commented on #5823
@akshaya-a I've tried the short term implementation, but the git repo address continues to be shown at Azure ML.
How can you see below, I've created the env variable AZUREML_GIT_REPOSITORY_URI on my OS:
![env_var](https://user-images.githubusercontent.com/42680931/167417109-33462f2c-ec91-4173-b8a2-35cc882fd1b4.png)

And I'm submitting the experiment as shown below:
![projects_run](https://user-ima

[2022-05-09 14:18] ntakouris opened #5835 "[BUG] Artifacts not saved to local filesystem"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Ubuntu 20.04 LTS
- **MLflow installed from (source or binary)**: yes
- **MLflow version (run ``mlflow --version``)**: 1.25.1
- **Py

[2022-05-09 14:54] #5297 closed

[2022-05-09 17:38] shrinath-suresh commented on #5817
@dbczumar The model logging issue is just a part of it. The root cause of the problem is - On multiple gpu environment, each gpu holds the copy of the autolog method and it results in multiple runs.

For example, `pytorch mnist_autolog_example.py --max_epochs 1 --gpus 3 --strategy ddp` creates 3 different runs.

I have added three possible solutions in the PR. please review with the team and let m

[2022-05-09 19:05] momoa16 commented on #5791
The error disappeared with the version on git (mlflow==1.25.2.dev0) with "--env-manager local"
If no --env-manager is specified execution fails with error --env-manager is "" expecting local or conda.

[2022-05-09 19:15] napulen commented on #4645
@matiasdahl That's awesome, virtually the same thing I've tried to do. I'll take a look into the setup of this gh-page demo.

[2022-05-09 20:34] akshaya-a commented on #5823
@WillersonAbreu apologies for the weak guidance - let me confirm on my own repro and get back to you. Just to clarify, you're setting the AZUREML_GIT_REPOSITORY_URI to a dummy value like "ignoreme" instead of your actual URI, correct? The point is whatever is in this variable overrides what you see in the UI, while leaving the actual snapshotted project correct (so don't change how you invoke mlfl

[2022-05-09 21:16] browser-bug commented on #5835
Just a shot in the dark but I don't think MLflow does (or can) support a local directory as artifact storage while using a remote backend store (e.g. an SQL-like database). Even if no errors are displayed on the CLI during launch, most probably the tracking server cannot find the artifact giving the local path, hence the unexpected behavior (you could verify this looking at the browser console log

[2022-05-09 22:17] temporaer opened #5839 "[BUG] mlflow autologging with mlflow skinny broken in recent versions"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: linux ubuntu
- **MLflow installed from (source or binary)**: pip
- **MLflow versio

[2022-05-09 23:39] harupy commented on #5839
@temporaer I think this line fails:

https://github.com/mlflow/mlflow/blob/c577c7f199d9efa076344785dabb2121edb7e6c8/mlflow/models/__init__.py#L44

Can you install `scipy` and run `mlflow.autolog` again?

[2022-05-09 23:58] harupy commented on #5828
@Jingnan-Jia https://github.com/mlflow/mlflow/pull/5822 is going to support viewing runs from different experiments. To use this feature, project 1 and 2 need to log runs in the same tracking server.

[code]

[code]

[2022-05-10 01:11] harupy commented on #5835
@ntakouris The following code saves artifacts in the `foo` directory. Am I missing something?

[code]

[code]

Output:

[code]

[2022-05-10 01:42] harupy commented on #5791
@momoa16

Could you share the command you used?

[2022-05-10 02:22] akshaya-a commented on #5823
And yes, @WillersonAbreu I'm able to confirm this works on my end. Perhaps you can try setting it right before submitting? ie
`
import os
os.environ["AZUREML_GIT_REPOSITORY_URI"] = "dummyvalinmem"
submitted_run = mlflow.projects.run(...)
`

![image](https://user-images.githubusercontent.com/16749003/167529435-60fbb343-de27-4b45-9fff-a28feb03c911.png)

[2022-05-10 02:46] WillersonAbreu commented on #5823
@akshaya-a I thought that I had to use the env variable instead of use the URI into the mlflow.projects.run but now it's ok, the URI was obfuscated on Azure ML UI. You've help me a lot, the way you supported me I never seen before. Thank you so much for the support!!!

[2022-05-10 02:46] #5823 closed

[2022-05-10 05:03] temporaer commented on #5839
Oh wow, it does work, thank you! I'm installing mlflow-skinny because i don't want heavy dependencies. Is scipy really always needed for autolog? Can we defer the import? Also even if that's not possible, could we print a more obvious error message?

[2022-05-10 05:16] harupy commented on #5839
Good question. No, it's needed only when you're using sparse matrices.

[2022-05-10 07:05] ntakouris commented on #5835
@browser-bug So, if I set sftp to localhost it's going to work? That's a weird workaround.

@harupy I was using the sqlite variant before, and it did create a `mlruns.sqlite` and an `mlruns/` directory at the same directory when I did run the python (training) script command. But it was using that without the mlflow server.

Let's say I do `cd ~/testing && mlflow server --backend-store-uri sqlite:

[2022-05-10 07:17] harupy commented on #5835
@ntakouris Are you creating a new experiment? What does `print(mlflow.get_artifact_uri())` print out?

[2022-05-10 07:54] ntakouris commented on #5835
@harupy The `mlflow.tracking.MlflowClient` class does not contain a method `get_artifact_uri()`. I am passing in `tracking_uri="http://localhost:5000"` as expected, though.

[2022-05-10 08:02] harupy commented on #5835
If so, please run `print(run)`. The output should look like this:

[code]

[2022-05-10 08:50] ntakouris commented on #5835
@harupy

[code]

... but the directory `/opt/mlflow/mlruns` is empty.

I figured out the problem right now: it does not communicate with the server and instead tries to save this locally.

So, instead of saving to the os `/opt/mlflow/mlruns`, it saves it inside the docker container where the training script is running. (So, the tracking server is not used to save the artifacts).

[2022-05-10 10:11] cgebe commented on #5514
To answer my own question:

Make sure to set the `ARTIFACT_DESTINATION` to just the scheme and bucket without netloc -> `s3://bucket/path`. In my case setting `"s3://s3.eu-central-003.backblazeb2.com/mlflowbucket"` to `s3://mlflowbucket` fixed it for me, after debugging the code and seeing how the boto3 client is actually called...

[2022-05-10 12:32] christianbaumberger commented on #2991
Hi everyone, I still get the same error. Here my setup:
- MLFlow version 1.25.1
- Artefact Store: Azure Blog Storage
- Authentication via DefaultAzureCredential()
I log a model from a jupyter notebook via python api and it gets correctly logged at the azure container:
![grafik](https://user-images.githubusercontent.com/44830049/167628615-65a82aff-0905-4651-b7fa-b5d432419259.png)

When I download t

[2022-05-10 15:54] harupy commented on #5835
@ntakouris Got it, can you try running this command?

[code]

doc: https://www.mlflow.org/docs/latest/tracking.html#artifact-stores

[2022-05-10 16:02] momoa16 commented on #5791
Yes, I wasn't using --env-manager at all, expecting conda to be used as default as specified in https://mlflow.org/docs/latest/cli.html#mlflow-run,  "If unspecified, default to conda"

[2022-05-10 16:45] #5820 closed

[2022-05-10 17:35] WillersonAbreu commented on #5823
@akshaya-a I have more one question. My main entry point execute another entry points as child (I'm using **mlflow.run** like the multi step workflow example) and the Git URI is passing as tags for all the child. Exists a way to obfuscate the URI of the tags?

[2022-05-10 18:46] akshaya-a commented on #5823
@WillersonAbreu can you clarify exactly how you're submitting the children? At a high level, any process that you spawn, if you set the above environment variable, it will override the value that AzureML even receives, let alone shows in the UI. So by setting AZUREML_GIT_REPOSITORY_URI to a dummy value in any process you start, you never even send AML that secret.

You mention tags, though, so I m

[2022-05-10 19:48] WillersonAbreu commented on #5823
@akshaya-a I'm submitting the children this way on my main script (Note that the main (parent job) script is submitted from one Airflow DAG using the **mlflow.projects.run:**):
![children_call](https://user-images.githubusercontent.com/42680931/167708207-78036630-7349-41ca-913d-0e8f55637d67.png)

Submitting this way, each child receives some tags from parent, among these tags the **mlflow.gitRepoU

[2022-05-10 23:44] harupy commented on #5791
@momoa16 Got it, is the `mlflow run ` command printed out somewhere in stdout or stderr?

[2022-05-11 02:11] harupy commented on #5791
I was able to reproduce the error. Investigating what's causing this error.

[2022-05-11 02:24] harupy commented on #5791
Identified the root cause. When `--env-mangaer` is unspecified, `mlflow_run_arr` looks like `[..., "--env-manager", "''"]` because `env_manager` is `None` and `shlex_quote` returns `''`:

https://github.com/mlflow/mlflow/blob/d9058fcddb47f473dacd6435f4b4fa96c370935b/mlflow/projects/databricks.py#L330-L344

[2022-05-11 02:31] harupy commented on #5791
👆👆👆 Filed a PR

[2022-05-11 04:12] altruistcoder opened #5844 "Support for Multi-Tenancy"
Hello All,

I have an MLFlow Instance deployed on an Openshift cluster where the backend store is running as a PostGreSQL Instance and the Artifact Store is taken as a bucket in our Rook Ceph cluster..

I have two questions to ask:

1. First, is it possible to add Multi-tenancy to a single instance of MLFlow so as to filter Experiments, Backend Store and Artifacts Store on the basis of User Authen

[2022-05-11 07:49] ntakouris commented on #5835
@harupy they are still being saved inside the container (wrong machine).

From the docs you linked: `mlflow-artifacts:/` is supposed to link to whatever existing artifact storage there is (ex. s3). I've not configured s3. I just want the artifacts to be stored on the local directory, of the machine/container that the tracking server runs.

[2022-05-11 08:13] harupy commented on #5835
@ntakouris Can you try running this command?

[code]

and this code

[code]

[2022-05-11 09:15] ntakouris commented on #5835
@harupy It gets stuck with log message: `INFO mlflow.tracking.fluent: Experiment with name '0395ab8d3a5b4c2d94885b713befacfa' does not exist. Creating a new experiment.`

Same thing happens if I use `--artifacts-destination /opt/mlflow/mlruns --default-artifact-root mlflow-artifacts:/artifacts`

[2022-05-11 09:19] ntakouris commented on #5835
If I `^C` it,

[code]

[2022-05-11 09:20] harupy commented on #5835
Did you use `--serve-artifacts`?

[2022-05-11 09:47] ntakouris commented on #5835
@harupy Thank you for your help,

`mlflow server --backend-store-uri postgresql://mlflow:mlflow@localhost/mlflow --serve-artifacts --artifacts-destination /opt/mlflow/mlruns  -h 0.0.0.0 -p 5000` Solved the issue (no need to `--default-artifact-root mlflow-artifacts:/mlartifacts`, it's picked up automatically and placed under `/opt/mlflow/mlruns`.

Before I mark this issue as resolved, do you want

[2022-05-11 13:28] manishpyy opened #5846 "Access mlflow functions outside the azureml mlflow server"
I am able to create an azureml mlflow client outside azure, like this.

mlflow_client = mlflow.tracking.MlflowClient(tracking_uri='https://westeurope.api.azureml.ms/mlflow/v1.0/subscriptions/.............')
mlflow_client.list_experiments()

But to access any functions, like for example list_experiments, I am getting the following error:
mlflow.exceptions.RestException: INTERNAL_ERROR: Response: {'

[2022-05-11 15:22] harupy commented on #5835
@ntakouris I think we already have a similar command example in https://www.mlflow.org/docs/latest/tracking.html#scenario-5-mlflow-tracking-server-enabled-with-proxied-artifact-storage-access.

[2022-05-11 19:31] #5791 closed

[2022-05-11 19:49] grybeck opened #5847 "[BUG] Uncaught 500 Error for python tracking api create_run with bad input on experiment_id, e.g. experiment_name, for Postgres backend"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac Big Sur
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**: 1.25.1
- **Pytho

[2022-05-11 19:59] grybeck opened #5848 "[BUG] Uncaught 500 Server Error for search runs with bad input with postgres backend"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  CentOS Linux 7
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**: 1.25.1
- **Pyth

[2022-05-11 20:01] #5835 closed

[2022-05-11 20:15] grybeck opened #5849 "[BUG] MLflow UI 1.25.1 "No Experiments Exist" bug"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS Linux 7
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**: 1.25.1
- **Pytho

[2022-05-11 20:22] grybeck commented on #5849
We believe the issue is from this change: https://github.com/mlflow/mlflow/pull/5504/files#diff-e9c073048d4146ed9784ee913351e44b92d5c88dcb55366e96d32e07d32d8f08

[2022-05-11 21:11] lineback opened #5850 "[BUG] mlflow.pyfunc.get_model_dependencies raises exception when using `model:/<model_name>/<version>`"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  docker container from  continuumio/miniconda3:4.11.0
- **MLflow installe

[2022-05-12 00:13] harupy commented on #5774
@adamwawrzynski We fixed our internal Jenkins job that publishes a new version. We're going to release MLflow 1.26.0 soon!

[2022-05-12 00:13] #5774 closed

[2022-05-12 00:33] akshaya-a commented on #5846
@manishpyy  are you using the azureml-mlflow plugin? it should handle auth for you if you then use the azureml:// form of the URI. If you're trying to use the rest store/api directly, you can follow the standard ADAL/ azure-identity package flows to retrieve a token and set it in MLFLOW_TRACKING_TOKEN I believe based on this code:

https://github.com/mlflow/mlflow/blob/f011a1862cd6399702d994d4d213

[2022-05-12 01:20] harupy commented on #5849
@grybeck How did you launch your tracking server? Did you use `--backend-store-uri` like

[code]

?

[2022-05-12 01:44] harupy commented on #5849
https://github.com/mlflow/mlflow/pull/5504/files#diff-e9c073048d4146ed9784ee913351e44b92d5c88dcb55366e96d32e07d32d8f08 is probably not the cause of this issue because it didn't change how MLflow UI fetches experiments.

[2022-05-12 02:05] stobias123 opened #5851 "[BUG] Obscure error when Docker not started"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: Nope - pretty standard
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OSX
- **MLflow installed from (source or binary)**: pip
- **MLflow version (run ``mlflow --version``)**: mlflow,

[2022-05-12 02:13] lineback commented on #5850
When trying to fetch the model configuration file in [_get_flavor_configuration_from_uri](https://github.com/mlflow/mlflow/blob/c1722fd13aa0428b64ff0575c24a43efef0c9bdc/mlflow/utils/model_utils.py#L45) `MLmodel` is appended to the model uri.  Because of [this check](https://github.com/mlflow/mlflow/blob/master/mlflow/tracking/artifact_utils.py#L87) in `_ _download_artifact_from_uri` the model uri

[2022-05-12 02:15] harupy commented on #5850
@lineback I was able to reproduce the issue. Looks like we need to resolve `models:/MyModel/1` first, and then append `MLmodel`.

[2022-05-12 02:28] harupy commented on #5850
@lineback Would you be interested in fixing this issue?

[2022-05-12 02:28] Sumanth077 commented on #5680
@harupy I would like to contribute to this, do any other files remaining.
Thank You

[2022-05-12 02:30] harupy commented on #5851
@stobias123 Please share the full stack trace.

[2022-05-12 02:37] stobias123 commented on #5851
[code]

[2022-05-12 02:50] harupy commented on #5851
Are you sure docker is running on your system?

[2022-05-12 02:51] harupy commented on #5851
https://stackoverflow.com/questions/64952238/docker-errors-dockerexception-error-while-fetching-server-api-version seems related

[2022-05-12 02:51] harupy commented on #5850
cc @WeichenXu123

[2022-05-12 03:04] trillionmonster opened #5852 "[BUG]mlflow gc command raise exception when serve-artifacts as local file"
### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**:  no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 20.04
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**:

[2022-05-12 03:18] stobias123 commented on #5851
No that's what I said is the bug.

I would expect this to be a simple pre-execution check. Instead I wait for quite some time, then get a cryptic error message as shown in stacktrace above. Took me a while to realize what was going on.

[2022-05-12 03:38] harupy commented on #5851
Sorry, I misunderstood. Filed #5853

[2022-05-12 03:49] lineback commented on #5850
@harupy yes, I can work on it.

[2022-05-12 05:56] harupy commented on #5850
@lineback Looking forward to your PR!

[2022-05-12 06:16] trillionmonster opened #5855 "[BUG]sftp Artifact password not work"
### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**:no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 20.04
- **MLflow installed from (source or binary)**:binary
- **MLflow version (run ``mlflow --version``)**:1.25.

[2022-05-12 06:23] harupy commented on #5855
This is a known issue: https://stackoverflow.com/questions/38939454/verify-host-key-with-pysftp

[2022-05-12 06:34] trillionmonster commented on #5855
yes,but still exist

[2022-05-12 06:34] harupy commented on #5855
Can you try downgrading pysftp?

[code]

[2022-05-12 06:36] manishpyy commented on #5846
Could you help me with some sample piece of code to connect to the azureml-mllfow or some documentation for using the azureml-mlflow plugin. I am trying to use the azureml:// form of the URI, but not sure how to create an mlflow tracking client, and use all the functionalities(get_experiment, get_run, list_artifacts, create_run, etc) of the tracking client.

[2022-05-12 06:36] trillionmonster commented on #5855
I just add three lines code as Describe

[2022-05-12 06:39] harupy commented on #5855
@trillionmonster

See https://stackoverflow.com/a/43389508

[2022-05-12 06:44] trillionmonster commented on #5855
@harupy
I suggest you do it my way, same as this https://stackoverflow.com/a/43389508

[2022-05-12 06:59] harupy commented on #5855
https://stackoverflow.com/a/43389508 doesn't recommend your approach.

[2022-05-12 07:20] christianbaumberger opened #5856 "[BUG] IsADirectoryError while selecting Azure artifact in the UI"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian GNU/Linux 11 (bullseye)
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)*

[2022-05-12 09:49] harupy commented on #5855
Can you set up key-based authentication?

[2022-05-12 13:08] grybeck commented on #5849
this bug did not occur in 1.24.1 with the same `mlflow server --backend-stre-uri <postgres URI> ` start up command

[2022-05-12 14:45] harupy commented on #5849
@grybeck I was able to reproduce the issue and filed https://github.com/mlflow/mlflow/pull/5859

[2022-05-12 15:59] grybeck opened #5860 "[BUG] 500 uncaught server error from get artifact call with bad GCS path"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**:  CentOS Linux 7
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS Linux 7
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**: