[2020-07-28 16:21] dmatrix commented on #3182
@synchronizing thanks for filling this issue. Yes, we would love to get clarification on the documentation. Please do file a PR
and follow the guidelines in [CONTRIBUTIONS.rst](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst#building-a-distributable-artifact)

[2020-07-28 17:14] #3170 closed

[2020-07-28 17:17] synchronizing commented on #3182
Hey @dmatrix. I'm willing to help-out, but currently there are some issues with `SFTP`. I've added them to the bottom of my post. 😄

[2020-07-28 18:42] synchronizing commented on #3182
I figured out the issue. It's directly inside [`/mlflow/store/artifact/sftp_artifact_repo.py`](https://github.com/mlflow/mlflow/blob/bde9c044f7b883723b3255e3c39eeb49a3c81fc2/mlflow/store/artifact/sftp_artifact_repo.py). I'll fix the issue and create a PR.

[2020-07-28 19:30] synchronizing commented on #629
Is there a reason why the `mlflow.set_artifact_uri()` (mentioned here https://github.com/mlflow/mlflow/issues/2671) function, and `MFLOW_ARTIFACT_URI` environmental variable is missing from the codebase?

I have been quite lost regarding this. With the current codebase, are we have to have our data scientists manually push the local artifacts folder to our SFTP server? Documentation does not make

[2020-07-28 19:51] TheTravellingSalesman commented on #2645
Hello, piping in with my 2cts regarding this:

I think it would be preferable to be able to replace the "Version 1, Version2, ..." strings in the registry with a short and descriptive alias. This would ideally be set upon model registration.

Reason being that "Version 1, Version2, ..." isn't a very descriptive way to differentiate between models. What's more, certain use cases require that multip

[2020-07-28 22:44] trangevi opened #3186 "[FR] load_model Support for Windows Absolute Path"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-07-29 00:17] bickyealias commented on #3069
@lorenzwalthert any thoughts on how to proceed further?

[2020-07-29 06:06] lorenzwalthert commented on #3069
I think it's important to distinguish the two backends according to the [docs](https://mlflow.org/docs/latest/tracking.html#mlflow-tracking-servers):

- artifact store (defaults to local file system, can be S3 or similar)
- backend store (defaults to file system, can be a data base)

Can you verify that the parameters are logged correctly before tackling the artifact problem? Because according to

[2020-07-29 06:23] danielvdende commented on #3175
Yes :-), that's exactly what I mean.

We were considering this, but what we didn't want was 2 places where "the same" model would be stored. Especially if those start to diverge because of the `log_artifact` point, because reconciling those differences would be tricky. Our point of view was: let's treat the MLflow model registry as our source of truth

I'm very happy to help with this :-), is ther

[2020-07-29 09:40] n8shadow commented on #3177
@dmatrix Here is what worked for in the end without docker image or init script. I suggest to add such a code snippet to the R package docu:
     ### run on databricks R notebook to use existing environment
     library(mlflow)
     ## get paths
     system("which mlflow")
     # /databricks/conda/envs/databricks-ml/bin/mlflow
     system("which python")
     # /databricks/conda/envs/databricks-ml

[2020-07-29 09:40] #3177 closed

[2020-07-29 17:34] dmatrix commented on #3177
Excellent!

[2020-07-29 21:01] dmatrix commented on #3069
@lorenzwalthert, we are going to address this distinction clearly and succinctly in #3108

[2020-07-29 22:04] no-blockers commented on #2426
Hi,

I'm very interested in this issue! We want to deploy tens/hundreds of models using mlflow build-docker, and the image size is clearly a blocker!

In general, I have 2 comments:
1. The docker image already provides a decent form of virtualization. Creating another conda environment inside it can be redundant.
2. I would imagine an even more customized feature (please point me to an issue if cr

[2020-07-29 22:54] dmatrix opened #3195 "[DOC-FIX] Add code snippets where necessary to MLflow Python fluent API module"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this documentation issue template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another

[2020-07-30 02:30] Sjankatti opened #3196 "Distribution development issue"
As we all aware that distribution computing will enhance the processing performance my suggestion here is to
collect the data regarding pros and cons of distributing the development of metro cities across small cities of the nation..
which definitely contribute to the economy growth of the nation and which may overcome issues of COVID in future

[2020-07-30 03:30] shaneing opened #3197 "[BUG] Failed to load model from the FTP store"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-07-30 03:43] harupy commented on #3197
@shaneing Thanks for filing this. Is the model file stored correctly in your FTP file store?

[2020-07-30 04:08] shaneing commented on #3197
Sorry, I have updated the issue. Please review it again.

[2020-07-30 05:08] harupy commented on #3197
@shaneing

I wasn't able to reproduce the issue. Here's my code.

[code]

[2020-07-30 05:27] harupy commented on #3197
@shaneing Can you share your code to log a pytorch model?

[2020-07-30 05:41] harupy commented on #3197
@shaneing
I was able to reproduce the same error by executing `mlflow.pytorch.load_model` against an empty directory. Could you check the model files exist in your FTP file store by running `ls path/to/modeld_dir`?

[2020-07-30 06:23] n8shadow commented on #1009
Hi @sstorey-nephila,
I am working on Databricks wishing to enable mlflow for our projects. However, I'm getting an error similar to that reported by @vrankenjulie:

 `Elasticnet model (alpha=0.5, lambda=0.5): Error in rethrow_call(c_processx_exec, command, c(command, args), stdin,  : `
  `cannot start processx process '0' (system error 2, No such file or directory) @unix/processx.c:592 (processx_e

[2020-07-30 06:51] shaneing commented on #3197
I have located the problem.  It will occur error when `ftp.nlst` return files with the absolute path. I am using image `bogem/ftp`.

[2020-07-30 07:15] harupy commented on #3197
@shaneing I was able to reproduce the same error with `bogem/ftp`.

[2020-07-30 08:09] harupy commented on #3182
@synchronizing Can you try running the code below and see what it prints out?

[code]

This code is almost the same as what `pysftp` executes internally ([link](https://bitbucket.org/dundeemt/pysftp-dev/src/2d015d8e2e62e1486578489037c8e0cf4935b4af/pysftp/__init__.py?at=default#lines-74))

[2020-07-30 08:23] TsvetanRangelov commented on #3079
[code]

in example_model.py:
[code]

Dockerfiles just set up libraries nothing much

[2020-07-30 09:34] CuriousSingularity commented on #1414
@jaklan + 1, this is a nice feature to have, as the comparison between the different runs from different experiment is essential.

[2020-07-30 12:00] harupy commented on #3079
@TsvetanRangelov Thanks for the docker-compose.yml and python script. The root cause is [`ftp.nlst`](https://github.com/mlflow/mlflow/blob/065550f36372f8f8ea2b87b9d251d0e63c2b26a7/mlflow/store/artifact/ftp_artifact_repo.py#L113) returns abosolute paths instead of relative paths for vsftpd like below (you can firm this in the devconsole on the browser).

![Screen Shot 2020-07-30 at 20 57 28](https:

[2020-07-30 12:03] Nielsmitie opened #3198 "[BUG] Failed to load registered model from the FTP store"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-07-30 12:52] Nielsmitie commented on #3197
I have the same problem. Changing the FTP Server resolved this particular issue. But when I register my model I can't used the downloaded registered model from the FTP sever.

I opened the above issue for this.

[2020-07-30 13:20] harupy commented on #3079
Using [`stilliard/pure-ftpd`](https://github.com/stilliard/docker-pure-ftpd) image instead of `fauria/vsftpd` sovles the issue for me.

[2020-07-30 14:57] harupy commented on #3198
@Nielsmitie Thanks for reporting this issue. I tweaked the code a bit to fix #2641 and ran your code, and it worked. I'll make a PR fix #2641, which should solve this issue as well.

[2020-07-30 16:32] dmatrix commented on #3196
@Sjankatti Collecting data is good any issues regarding pandemics and using technology to make data-driven policies is imperative.

However, not sure if this statement of a proclamation here is the right avenue. This avenue is for issues related to MLflow platform.

Cheers
Jules

[2020-07-30 16:32] #3196 closed

[2020-07-30 19:36] Dhaval08 opened #3199 "Unable to log pytorch models"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Descri

[2020-07-30 20:25] Dhaval08 commented on #3199
Logging sklearn model works fine. This error comes up only while logging pytorch model.

[2020-07-30 21:02] AgrawalAmey opened #3202 "[FR] Need hooks for start and end run events in RunContextProvider"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-07-30 21:03] AgrawalAmey commented on #3202
I have created PR https://github.com/mlflow/mlflow/pull/3201 for this issue.

[2020-07-30 22:58] AveshCSingh commented on #3127
Hi @vivianjiang18,

Thank you for filing this issue.

Viewing deleted runs makes sense because it's common to quickly delete invalid runs or parameter sweeps, and also common to want to undo that operation on realizing that a deleted run actually contains useful information.

But I don't think deleting experiments is as common, so I'm not convinced that viewing deleted experiments deserves UI supp

[2020-07-30 22:58] #3127 closed

[2020-07-31 00:58] murphycj opened #3203 "[BUG] Too many connections while using AWS RDS as backend"
### Willingness to contribute
- [ ] Yes. I can contribute a fix for this bug independently.
- [X] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute a bug fix at this time.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**:
No
- **OS Platform and Distr

[2020-07-31 01:12] harupy commented on #3126
Addressed by #3158

[2020-07-31 02:24] shaneing commented on #3197
@harupy it's easy to fix this error by `list(map(lambda x: os.path.basename(x), artifact_files))`.

[2020-07-31 06:31] mijung-kim opened #3205 "[BUG] Exception loading pytorch pretrained model from local Jupyter server."
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-07-31 06:31] harupy commented on #3199
@Dhaval08 Thanks for filing this. I was able to reproduce the issue.

[2020-07-31 06:39] arjundc-db commented on #2551
Hey @lopezco, your fix should work, thank you for investigating the bug and proposing a solution. Would you be able to raise a PR with this change. A good place to start would be here : https://github.com/mlflow/mlflow/blob/master/mlflow/store/tracking/sqlalchemy_store.py#L809.

For a complete PR, I would also request that you add tests to test_sqlalchemy_store.py that expose this error and show t

[2020-07-31 06:46] harupy commented on #3205
@mijung-kim Thanks for filing this. Can you try running this code?

[code]

[2020-07-31 06:50] mijung-kim commented on #3205
@harupy , Thanks for the prompt reply.
I ran the code, and got the error below.

---------------------------------------------------------------------------
MlflowException                           Traceback (most recent call last)
<ipython-input-1-82d48a572bd0> in <module>
     32
     33
---> 34 with mlflow.start_run():
     35     print('mlflow version:', mlflow.__version__)
     36     print(

[2020-07-31 06:56] harupy commented on #3205
Did you setup your tracking server?

[2020-07-31 06:57] harupy commented on #3205
If my code throws an error, can you try this instead? I fixed your code in description.

[code]
with mlflow.start_run():

    model = StampNet(args.num_classes)
    mlflow.pytorch.log_model(model, 'models')
    uri = mlflow.get_artifact_uri()
    model = mlflow.pytorch.load_model(os.path.join(uri, 'model'))
    model.eval()
[code]

[2020-07-31 07:14] harupy commented on #3199
Looks like this is an issue in MLflow. Removing `pickle_module` in `torch_model.save` fixes the issue for me.

<img width="746" alt="Screen Shot 2020-07-31 at 16 13 10" src="https://user-images.githubusercontent.com/17039389/89010028-cc7be880-d348-11ea-9c02-7b8f8b42988a.png">

https://github.com/harupy/mlflow/commit/a918f3e3a5fdc36a1a8b42354337aed38fa88c47

[2020-07-31 07:14] harupy commented on #3199
cc @dbczumar

[2020-07-31 07:20] mijung-kim commented on #3205
@harupy , Thank you for the code! I also slightly modified your code and got the result. I will share the code here.

`
        with mlflow.start_run():

        print('mlflow version:', mlflow.__version__)
        print('tracking URI:', mlflow.get_artifact_uri())
        print('artifact URI:', mlflow.get_tracking_uri())

        model = StampNet(args.num_classes)
        model.load_state_dict(tor

[2020-07-31 07:20] harupy commented on #3205
cool!

[2020-07-31 07:21] harupy commented on #3205
Can you close this issue then?

[2020-07-31 07:21] #3205 closed

[2020-07-31 07:33] lopezco commented on #2551
Hello @arjundc-db, I'm currently packet at work. I might have time to work on it on September/October (not sure).
I hope someone could get to work on this PR before September.

[2020-07-31 07:38] harupy commented on #3198
@Nielsmitie I opened https://github.com/mlflow/mlflow/pull/3204 to fix #2641.

[2020-07-31 07:40] Nielsmitie commented on #3198
Thank you for your time and support. And fixing the problem :-)

[2020-07-31 09:05] bickyealias commented on #3069
@lorenzwalthert thanks for your response.We are not using AWS or S3.We are running MLFLOW server on a docker container and RStudio on another container. They use POSIX compliant file systems.Nothing fancy.
I can confirm parameters and metrics are uploaded correctly
<img width="1318" alt="Screen Shot 2020-07-31 at 6 30 16 pm" src="https://user-images.githubusercontent.com/16069726/89017018-05be5380

[2020-07-31 10:04] harupy commented on #3199
@Dhaval08 I found removing `tensorboardX.SummaryWriter` also fixes the issue.

[2020-07-31 11:25] harupy commented on #3197
@shaneing I have confirmed inserting `artifact_files = list(map(lambda x: os.path.basename(x), artifact_files))` under the following line fixes the issue.

https://github.com/mlflow/mlflow/blob/af4e753a0bc3fcc7ab2c74bf9c4ed459de6db1ef/mlflow/store/artifact/ftp_artifact_repo.py#L114

Would you be interested in making a PR?

[2020-07-31 12:20] KarimSamehSadek opened #3206 "mlflow not found in r-mlflow-1.10.0 conda environment | mlflow rith R"
### System information
- OS: Windows
-source: library(mlflow)
- version: 1.1
- **Python version**:3.6
- **Exact command to reproduce**:
library(mlflow)
install_mlflow(python_version = "3.6")
mlflow_log_param("param1", 5)

### Describe the problem
After installing mlflow in rstudio and run any mlflow command such as mlflow_log_param("param1", 5) i recieve the below error. I tried to manually copy m

[2020-07-31 12:20] shaneing commented on #3197
Ok

Harutaka Kawamura <notifications@github.com>于2020年7月31日 周五下午7:26写道：

[2020-07-31 13:12] bobdemp opened #3207 "How to create logging from a custom mlflow.pyfunc.PythonModel from "mlflow models build-docker""
Hi

Not sure were to ask this.

I have a custom mlflow.pyfunc.PythonModel model that I build into a docker container using mlflow models build-docker.  The problem I am encountering is how to get the logging into the container stdout.  Nothing appears.

When I use the model from a notebook

[code]

I get output.  I also get output when I use mlflow serve the output appears as well

My custom mlflo

[2020-07-31 15:52] harupy commented on #3207
@bobdemp If you use `_logger.warn`, does it output something?

[2020-07-31 16:20] bobdemp opened #3208 "Docker Size Reduction"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-07-31 16:29] dmatrix commented on #3203
@murphycj thanks for filing this issue and detailed explanation and reproducible code.

Can you try using [mlflow.log_batch()](https://www.mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.log_batch)? to see if that helps mitigate?
Your changed code would like as follows:

[code]

[2020-07-31 16:32] bobdemp commented on #3207
Just that and nothing in the container output

[2020-07-31 17:28] Dhaval08 commented on #3199
@harupy  Yes, I did read it on some other post that having tensorboardX was creating issues to save/log models. Removing that solved the issue but I wasn't able to log the events file. Will this be fixed in upcoming versions?
Thank you for the help.

[2020-07-31 17:37] harupy commented on #3199
@Dhaval08 I'm still not sure if this is really an MLflow's issue. Another workaround is pass `pickle` to `pickle_module` argument in `mlflow.pytorch.log_model`.

[2020-08-01 08:08] harupy commented on #3207
@bobdemp Can you try this? In my environment, this wrapper outputs log.

[code]

[2020-08-01 20:04] murphycj commented on #3203
@dmatrix Thanks for your reply. I did made your suggested modifications (see the code below), but I still get the same issue.

I should also add I do have a MetricCallback class defined that gets called during training and I do have metrics being logged to mlflow. I thought that that might be part of the issue, but when I removed the callback it made no apparent difference.

[code]

[2020-08-02 02:07] haddadz commented on #3206
Facing the same issue here in R. However, completely functional in python.

[2020-08-02 22:09] astronauti commented on #3052
I am having the same problem. I am using the autolog function for keras and logging the training and validation loss

[2020-08-02 22:38] jralfonsog commented on #2682
Naming the experiment with uuid, the problem remains in my case :/

I am able to view an existent experiment from before (I am using a volume for the "experiment" folder which already has a run from before this setup), but I can't create a new one because each time I try it gives the error.

[2020-08-03 00:40] sueann commented on #3175
Would it be sufficient to disallow `MlflowClient.log_artifact` on runs that have been registered into model registry? It'd be hairy (or impossible) to disallow overwriting existing files in arbitrary locations (e.g. if someone us writing directly to an S3 location, or using `ArtifactRepository` to do so).

[2020-08-03 00:42] sueann commented on #3175
Also, I think it may be a bit too forceful to disallow it by default - perhaps we can think of having a config or a flag (for `mlflow server` | `mlflow ui`). At the least we this should be a consideration in the design.

[2020-08-03 00:43] sueann commented on #3160
This is quite related to https://github.com/mlflow/mlflow/issues/3175, where we're discussing disallowing artifact logging under runs that have a model registered. Perhaps you can participate in the discussion / design there @xinluh ?

[2020-08-03 05:36] amiryi365 commented on #3154
I found that this bug disappear with an older release of **minio - 2020-04-28T23:56:56Z**
See https://github.com/minio/minio/issues/10157
Actually: although the browser displays well all artifacts files, the server still raises the **IsADirectoryError** when I click on a dir in the artifacts tree (in mlflow run web page). But it doesn't have any external effect so it doesn't bother me.

[2020-08-03 05:36] #3154 closed

[2020-08-03 05:52] harupy commented on #3154
@amiryi365 Thanks for the investigation :)

[2020-08-03 09:45] bobdemp commented on #3207
Hi

That does work but it seems only for

[code]

info does not have an effect

[code]

I tried running the container with

[code]

and tweaking the dockerfile

[code]

but that had no effect on the the output

[2020-08-03 10:40] cw-aniket opened #3215 "[FR] Artifact comparisions for different runs"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-08-03 12:38] harupy commented on #3215
dup of https://github.com/mlflow/mlflow/issues/2696

[2020-08-03 12:38] #3215 closed

[2020-08-03 14:11] kevinzurek opened #3217 "[BUG] Can not render the UI after clicking on the "Models" page in the navigation bar"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-08-03 14:41] harupy commented on #3217
@kevinzurek Thanks for filing this issue. Did you set `--backend-store-uri` when running `mlflow server` or `mlflow ui`?

[2020-08-03 14:54] kevinzurek commented on #3217
@harupy Yes, `--backend-store-uri` is set when running `mlflow server`

`mssql+pyodbc://<user>:<pass>@<hostname>:<port>/<db_name>?driver=ODBC+Driver+17+for+SQL+Server`

[2020-08-03 15:43] harupy commented on #3217
@kevinzurek I have confirmed that this is an MLflow issue. It looks like the API request to fetch registered models contains an unnecessary parameter (`order_by=name%20ASC`). I'll make a PR to fix this issue.

[code]

[2020-08-03 16:15] harupy commented on #3207
@bobdemp That's strange. Did you rebuild the docker image using the modified model wrapper?

[2020-08-03 16:19] bobdemp commented on #3207
I tried

[code]

[2020-08-03 16:36] dmatrix commented on #3203
I suspect the issue might be your [limited default connection pool ](https://stackoverflow.com/questions/30778015/how-to-increase-the-max-connections-in-postgres)is exhausted. A similar issue wrt to [SQLALchemy DB](https://github.com/mlflow/mlflow/issues/1452) was resolved.

Do you want to try[ expanding connections pool](https://mlflow.org/docs/latest/tracking.html#sqlalchemy-options) and setting

[2020-08-03 16:45] harupy commented on #3207
@bobdemp My question is did you log a model using the modified model wrapper and build a new docker imgae that serves the model?

[2020-08-03 18:07] lotsoffood opened #3218 "Migrating from file-store to database-store without losing experiment information?"
Is it possible to migrate from a file-store backend to a database-store backend without losing any existing experiment data or artifacts?

[2020-08-03 18:29] dmatrix commented on #3218
@lotsoffood Yes, there are [tools and scripts](https://github.com/amesar/mlflow-tools/tree/master/mlflow_tools/export_import) you can use for migration.

[2020-08-03 18:50] lotsoffood commented on #3218
@dmatrix Thank you! I was no aware of that set of tools. I'll close this out, as it does what I"m looking for.

[2020-08-03 18:50] #3218 closed

[2020-08-03 22:56] Dhaval08 opened #3222 "[FR]"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

## Proposal Summary

(In a few sentences, provide a clear, high-level description of the f

[2020-08-03 22:57] Dhaval08 commented on #724
Any update regarding the multi-tenancy feature?

[2020-08-04 01:42] bickyealias commented on #3069
@lorenzwalthert-As I mentioned before we are using an NGINX reverse proxy that is serving the MLFlow server(since mlflow currently doesnt support SSL/https).I wanted to rule out if that is causing the issue with log_artifact .However am still getting the same error even if I bypass the proxy completely.
[code]
![Screen Shot 2020-08-04 at 11 34 06 am](https://user-images.githubusercontent.com/16069

[2020-08-04 01:45] saroup opened #3223 "Failed to start sparklyr backend: there is no package called ‘SparR""
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### System

[2020-08-04 03:19] #2821 closed

[2020-08-04 04:17] amesar opened #3224 "[BUG] Cannot save Keras/TF_2.x model as SavedModel format using mlflow.keras.log_model with kwargs { "save_format": "tf" }"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-08-04 05:11] harupy commented on #3224
@amesar Thanks for filing this. Would you be interested in making a PR?

[2020-08-04 08:09] bobdemp commented on #3207
@harupy

So each time I make a change to the model I log it and promote it to the new staging model.

[code]

I then run

[code]

[2020-08-04 08:25] harupy commented on #3207
@bobdemp Did you run `docker run ...` after these commamds?

[2020-08-04 08:39] bobdemp commented on #3207
@harupy

[code]

[2020-08-04 08:45] harupy commented on #3207
@bobdemp Did you try running `docker run` with `GUNICORN_CMD_ARGS`?

[code]

[2020-08-04 09:15] bobdemp commented on #3207
@hajapy

Tried that as well.  Again only warning messages not info.

I don't know if something is overiding the setting?

[2020-08-04 09:24] harupy commented on #3207
@bobdemp Can you share your model wrapper code?

[2020-08-04 09:40] bobdemp commented on #3207
[code]

[2020-08-04 09:45] harupy commented on #3207
@bobdemp Can you move these lines into `load_context`, and then rebuild & run the docker image?

[code]

[2020-08-04 10:29] bobdemp commented on #3207
@harupy Cool that did the trick

[2020-08-04 10:29] #3207 closed

[2020-08-04 10:43] naman-mehta opened #3226 "[SETUP-BUG] Unable to log using mlflow.tensorflow.log_model()"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this installation issue template to ensure a timely and thorough response.**

### System information
- **OS Platform and Distribution :Ubuntu 18.04
- **MLflow installed from :source
- **MLflow v

[2020-08-04 10:48] harupy commented on #3207
@bobdemp Awesome!

[2020-08-04 10:58] harupy commented on #3226
@naman-mehta

Can you provide the whole stack trace?

[2020-08-04 16:25] dmatrix commented on #3222
@Dhaval08 thanks for filing the feature enhancement. What would you prefer: live tail of the logs in the UI or after the run to inspect the logs?

[2020-08-04 16:52] Dhaval08 commented on #3222
@dmatrix  Live tail of logs on the UI. So that the users can keep track of an ongoing job and even debug in case the job fails. At the moment, if the job fails, there's no way to debug the issue if you don't have access to the cloud node that's running the job.

[2020-08-04 17:40] ZhiliangWu commented on #3144
Hi, @dmatrix, if I understand correctly, there is no way to remap the artifact locations when launching the interface with `mlflow ui`. Everything should be predetermined. IMO, this would be a bit inconvenient, as pulling results containing artifacts from the remote servers will inevitably result in path mismatch. Or is there any quick method to fix this, when the artifacts are saved without too m

[2020-08-04 20:26] mgermain opened #3228 "[BUG] Resuming runs with mlflow.start_run(run_id=) does not set state properly."
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-08-04 22:08] avflor opened #3229 "[BUG] ONNX predict fails for high-dimensional models"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [x] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-08-05 03:00] harupy commented on #2980
Fixed by https://github.com/mlflow/mlflow/pull/2939

[2020-08-05 03:01] #2641 closed

[2020-08-05 03:12] harupy commented on #3198
Manually verified #3204 also fixed this issue.

[2020-08-05 03:12] #3198 closed

[2020-08-05 03:42] smurching opened #3230 "[FR] Enhance Pytorch autologging support to extend to other higher-level frameworks (e.g. Pytorch lightning, etc)"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-08-05 03:55] smurching commented on #3230
@chauhang's been working on an initial implementation of autologging for Pytorch Lightning.

To get started writing & running tests, here are some links:
* [Contributing guide instructions](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst#prerequisites) for setting up conda environment with necessary test dependencies (e.g. pytest)
* Example PR adding fastai autologging, to use as a t

[2020-08-05 03:59] harupy commented on #3217
@kevinzurek Can you run the following code? I'd like to check if the same thing occurs when searching runs with a quey that contains duplicates.

[code]

[2020-08-05 04:19] smurching commented on #3065
@chauhang is taking a look at this!

[2020-08-05 04:48] #2980 closed

[2020-08-05 08:56] naman-mehta commented on #3226
@harupy
Thanks for your time.
The stack trace for the whole error is-
I get the error - TypeError: 'NoneType' object is not iterable
Please have a look here-
Traceback (most recent call last):
  File "train.py", line 485, in <module>
    tf.app.run()
  File "/home/annotation/venv_tf_1/lib/python3.6/site-packages/tensorflow_core/python/platform/app.py", line 40, in run
    _run(main=main, argv=argv

[2020-08-05 09:44] #3197 closed

[2020-08-05 09:46] harupy commented on #3079
Fixed by #3210

[2020-08-05 09:46] #3079 closed

[2020-08-05 09:48] harupy commented on #2671
@Roffild Did you set `artifact_location` when you created `AutoPytorch` experiment?

[2020-08-05 10:20] harupy commented on #3226
@naman-mehta What happens if you pass an empty list `[]` to `tf_meta_graph_tags`?

[2020-08-05 10:36] harupy commented on #2819
Fixed by #2827

[2020-08-05 10:36] #2819 closed

[2020-08-05 10:46] harupy commented on #2421
@mk2s6 How did you launch the MLflow UI?

[2020-08-05 11:03] mk2s6 commented on #2421
@harupy Do check in Command Line options -  To Start MLFLOW UI You need to run command **`mlflow ui`** command in terminal or cmd or any other command line applications, That will get your UI opened on a new browser window.

[2020-08-05 11:13] harupy commented on #2421
@mk2s6 Thanks. Are you still experiencing this issue?

[2020-08-05 11:20] mk2s6 commented on #2421
@harupy No we don't see this issue currently, and also we use it with Databricks currently, so we don't see this issue now.

[2020-08-05 11:20] harupy commented on #2421
@mk2s6 Cool. Can I close this issue?

[2020-08-05 11:34] mk2s6 commented on #2421
@harupy  Yes. You Can. Thank You

[2020-08-05 11:34] #2421 closed

[2020-08-05 11:43] prakharter commented on #1023
@brijenshah I also got the same issue but with Scikit-learn. Can you please advise where you edit the conda.yaml as i am not getting any option to edit it either on databricks or Azure ML. Thank you

[2020-08-05 12:16] naman-mehta commented on #3226
Thanks @harupy  It is an awesome suggestion. It is not None rather it is an empty list which is an iterable also.
i.e. why my saved_model_cli gives following output-
saved_model_cli show --dir ~/naman_workspace/mlflow_docker_deeplab/training_dir/export_model/
The given SavedModel contains the following tag-sets:

This solves the half of the issue.
The other half is tf_signature_def_key is also a r

[2020-08-05 13:23] harupy commented on #3226
@naman-mehta

Just because it doesn't raise an error doesn't mean it's a correct value.

[2020-08-05 13:45] harupy commented on #3226
@naman-mehta
Can you try pass these values to `log_model`?

[code]

[2020-08-05 16:01] naman-mehta commented on #3226
@harupy
[code]
For the first time I tried these values only. This doesn't work as there are no tags in my tf_meta_graph_tags.
This gives the following error-
[code]
the output from saved_cli is
saved_model_cli show --dir ~/naman_workspace/mlflow_docker_deeplab/training_dir/export_model/
[code]

[2020-08-05 16:12] dmatrix commented on #3229
@avflor Thanks for filing and discovering the bug. Looking forward for your contribution and fix.

[2020-08-05 20:00] abhishekmm commented on #2047
Hi all,
I tried using  the  sqlite as well as MYSQL  on ubuntu system using following command :
mlflow server --backend-store-uri  sqlite:///mlruns.db --default-artifact-root gs://mflowdemo/ --host 0.0.0.0
yet I am not ablet register the model from mlflow UI

[2020-08-06 01:58] jerrylian-db opened #3234 "[BUG] mlflow_get_experiment() in R API does not work."
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [x] No. I cannot contribute

[2020-08-06 02:15] jerrylian-db commented on #3234
### How to reproduce outside of Databricks.

I installed a fresh version of Rstudio on my computer. Then I ran:
[code]
which installed `mlflow_1.10.0`.

Then I ran:
[code]
Here is the error:
[code]

[2020-08-06 07:50] abhishekmm commented on #2079
Hi all,
I tried using the sqlite as well as MYSQL on ubuntu system using following command :
mlflow server --backend-store-uri sqlite:///mlruns.db --default-artifact-root gs://mflowdemo/ --host 0.0.0.0
yet I am not ablet register the model from mlflow UI
mlflow --version
mlflow, version 1.10.0

[2020-08-06 07:56] abhishekmm opened #3235 "[BUG]Model Registry is not working from the UI."
Hi all,
I tried using the sqlite as well as MYSQL on ubuntu system using following command :
mlflow server --backend-store-uri sqlite:///mlruns.db --default-artifact-root gs://mflowdemo/ --host 0.0.0.0
yet I am not ablet register the model from mlflow UI
mlflow --version
mlflow, version 1.10.0

[2020-08-06 08:00] harupy commented on #3235
@abhishekmm Thanks for filing this. Did you got an error when you tried to register a model from the run page?

[2020-08-06 08:37] harupy commented on #2682
@jralfonsog I was able to run the following on Jupyter using your docker-compose.yml:

[code]

[2020-08-06 09:05] jralfonsog commented on #2682
And suddenly, after all this time... it works now! I have an EXT4 unit for Linux, a NTFS for Windows, and a bigger NTFS shared one (where I had placed the project). Turns out that I was having some kind of permission problems, and they were solved by moving it to the EXT4. I can't believe it...

Thanks a lot to everyone for your time.

[2020-08-06 09:06] harupy commented on #2682
@jralfonsog Awesome! Can we close this issue?

[2020-08-06 09:07] jralfonsog commented on #2682
Yes! I had just edited my message to say so :)

Thanks again!

[2020-08-06 09:13] #2682 closed

[2020-08-06 09:18] abhishekmm commented on #3235
@harupy I am not any error on log console. the register button itself is not visible
![reg_issue](https://user-images.githubusercontent.com/8172732/89514712-d2177980-d7f3-11ea-82c9-0db362efc3cc.png)

[2020-08-06 09:20] harupy commented on #2961
@GJAE-nv Have you tried tha fasttext flavor that I created?

[2020-08-06 09:22] harupy commented on #3235
@abhishekmm Thanks. I guess you're using an old version of MLflow. Can you update it to the latest?

[2020-08-06 09:29] GJAE-nv commented on #2961
Ow sorry @harupy harupy, for some reason I'm not able to open your link. It's giving an error.
However, I also found a solution that worked for me:

**custommodel.py**
`import mlflow.pyfunc as custom_model
import fasttext

class CustomModel(custom_model.PythonModel):

    def __init__(self):
        return

    def load_context(self, context):
        super(CustomModel, self).load_context(context)

[2020-08-06 09:32] harupy commented on #2961
@GJAE-nv Thanks for the quick reply. Sorry I forgot to make my repo public.

[2020-08-06 09:33] harupy commented on #2961
btw glad you have found the solution. Can we close this issue?

[2020-08-06 09:34] GJAE-nv commented on #2961
@harupy, yes thank you very much.

[2020-08-06 09:34] #2961 closed

[2020-08-06 09:35] harupy commented on #3156
@jackhart Have you tried reinstall mlflow?

[2020-08-06 09:38] #3126 closed

[2020-08-06 09:42] harupy commented on #2989
@amiryi365 Have you tried running my code above?

[2020-08-06 11:11] abhishekmm commented on #3235
@harupy
I have  used following line  in
mlflow.sklearn.log_model(sk_model=model,artifact_path=None)

[2020-08-06 11:18] harupy commented on #3235
@abhishekmm
Can you try `mlflow.sklearn.log_model(sk_model=model, artifact_path="model")` instead? After running this, you should be able to see a `mdoel` folder in the UI.

[2020-08-06 11:20] abhishekmm commented on #3235
@harupy
I agree even expected the same however the  register-model button is not visible onUI as shown in screenshot before

[2020-08-06 11:29] harupy commented on #3235
@abhishekmm Do you see a folder named "model"?

[2020-08-06 11:37] abhishekmm commented on #3235
@harupy   yes  I am  able  see regester button
artifact_path: model
previously it was null
thanks

[2020-08-06 11:38] harupy commented on #3235
@abhishekmm My pleasure!

[2020-08-06 11:38] #3235 closed

[2020-08-06 13:02] jonnor commented on #1825
That link leads back to this issue. I think correct issue is #2823

[2020-08-06 13:04] jonnor commented on #2823
We've been using MLFlow behind a nginx reverse proxy a bit using https://github.com/soundsensing/mlflow-easyauth, and mostly working OK

[2020-08-06 13:10] AdemFr commented on #2016
I experience the same issue. I hope I found the reason for this.

It seems to me that the .dockerignore file is not honored in python docker, when `fileobj` or `custom_context` is passed to `client.images.build`: https://github.com/docker/docker-py/blob/26d8045ffa99ec402e451cde67415b14b13cc95a/docker/api/build.py#L138-L162

I don't think docker itself takes care of the build context with the `COPY

[2020-08-06 13:18] OlivierBondu commented on #2837
@dmatrix : sure, I can help with the doc part as well as commenting the parts I understand of the `requirements.txt`, however I do believe a complete (and consistent) commenting of the `requirements.txt` would help

[2020-08-06 15:56] dmatrix commented on #3234
@jerrylian-db Thanks for filing this. @javierluraschi any comments on this?

[2020-08-06 20:07] mauvilsa opened #3237 "[FR] Log metrics with confidence intervals and include them in plots"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [X] Yes. I would be willing to contribute this feature with guidance from

[2020-08-06 20:21] AveshCSingh commented on #3157
Resolved by #3183. Thanks @trangevi !

[2020-08-06 20:32] #3157 closed

[2020-08-06 23:33] harupy commented on #3237
@mauvilsa Thanks for filing this.

You can create a plot and log it as an artifact (we currently don't support comparing artifacts across runs though). Doesn't this approach work for you?

[2020-08-07 01:04] dmatrix commented on #2837
@OlivierBondu Please file a PR and we will review it. Whether we need a dedicated  `requirements.txt` or an addendum to the[ Install MLflow](https://mlflow.org/docs/latest/quickstart.html#installing-mlflow) section can be addressed in the PR.

[2020-08-07 02:40] GitHunter0 commented on #1009
I am having similar issue...

[2020-08-07 05:32] n8shadow commented on #1009
Here is what fixed my issue and made mlflow fully work for me https://github.com/mlflow/mlflow/issues/3177.
In addition there seems to be a mismatch of the versions of mlflow python backend and R package (both should be 1.10.0). It turned out that an init script getting correct versions and setting the environment variables works best.

[2020-08-07 06:42] mauvilsa commented on #3237
@harupy indeed, we already use artifacts to store plots with confidence intervals. However, this is not good enough. The most important part of the feature request is to be able to compare across runs. Being able to compare artifacts across runs would also be an interesting feature to have. But using artifacts to compare metrics would not be very optimal. It is important to observe metrics on the

[2020-08-07 07:48] sevmardi commented on #1465
Is KFServing migration a work-in-progress?

[2020-08-07 10:08] TobiRoby opened #3239 "[DOC-FIX] List of artifact viewer supported file types"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this documentation issue template to ensure a timely and thorough response.**

## Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another

[2020-08-07 12:31] ashwar-zeotap opened #3240 "Error in loading spark ml models from gcs_artifact_storage [BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-08-07 12:41] harupy commented on #3240
@ashwar-zeotap Thanks for filing this. Does the same thing occur for other model type (e.g. sklearn)?

[2020-08-07 13:10] ashwar-zeotap commented on #3240
@harupy No, was able to load sklearn models from gcs bucket. It is because model here is stored as just one file

[2020-08-07 13:56] GitHunter0 commented on #1009
@n8shadow , I do not use databricks, I tried to set the environment variables but still does not work, but thank you for the response.

[2020-08-07 14:43] n8shadow commented on #1009
So then, what is the environment you are working on? As said mismatching versions and/or need to set variables might cause that.

[2020-08-07 15:43] GitHunter0 commented on #1009
@n8shadow , right now I'm just experimenting with MLflow locally

[2020-08-07 19:04] dmatrix commented on #3239
@TobiRoby Thanks for filing this. It's helpful at least to list supported files that can be viewed.

[2020-08-07 19:10] dmatrix commented on #3239
@Zhidong Qu @Zangr Do you which documents (in file formats) we plan to support to visualize in the artifact section of the UI?

[2020-08-08 20:37] OlivierBondu commented on #3044
@ankitmathur-db : unfortunately UI-facing changes are not really part of my skillset, I think this would be solved quicker and in a cleaner way by someone else... This should be an easy fix though ?

[2020-08-09 10:03] #1939 closed

[2020-08-10 01:59] amesar opened #3246 "[FR] Serializtion format for TensorFlow 2.x (Keras) model should be Save Model per TF 2.0 doc"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-08-10 02:22] ashwar-zeotap commented on #3240
@harupy Yes, https://github.com/mlflow/mlflow/pull/3242 will fix the bug. Just wanted to know, why could I raise the PR for this issue?

[2020-08-10 02:24] Zangr commented on #3044
@OlivierBondu, we are currently working on improving the MLflow onboarding user journey in Q3. I'll include this FR to the effort and update this thread with our progress.

[2020-08-10 09:51] harupy commented on #3240
@ashwar-zeotap I wasn't able to reproduce the issue: Here's my code. Am I missing something?

[code]

[2020-08-10 11:18] harupy commented on #3240
Is this issue related to the behavior described in https://github.com/googleapis/google-cloud-python/issues/5163#issuecomment-379875797?

[2020-08-10 11:27] harupy commented on #3240
@ashwar-zeotap I was able to get `<FileInfo: file_size=0, is_dir=False, path=artifact_relative_path +'/'>` by running `list_artifacts` against a directory that I manually created on the cloud storage browser.

[2020-08-10 15:03] #3240 closed

[2020-08-10 23:18] harupy opened #3251 "[FR]"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-08-10 23:19] harupy commented on #3251
Edit labels in the description

[2020-08-10 23:23] #3251 closed

[2020-08-11 04:52] harupy commented on #3224
Fixing this issue might break backward compatibility because `mlflow.kears` currently expects a keras model to be saved as `model.h5`, but to save a model in the `SavedModel` format, we have to use a file name that **does not end with ".h5"** (e.g. `model`). This means older versions of MLflow would fail to load models logged by newer versions of MLflow in the `SaveModel` format.

[2020-08-11 04:58] harupy opened #3254 "[FR] test"
- [ ] `area/artifacts`: Artifact stores and artifact logging
- [ ] `area/build`: Build and test infrastructure for MLflow
- [ ] `area/docs`: MLflow documentation pages
- [ ] `area/examples`: Example code
- [ ] `area/model-registry`: Model Registry service, APIs, and the fluent client calls for Model Registry
- [ ] `area/models`: MLmodel format, model serialization/deserialization, flavors
- [ ] `a

[2020-08-11 05:12] #3254 closed

[2020-08-11 08:44] danielvdende commented on #3175
@sueann firstly, sorry for the delay in my response!

I agree that it's virtually impossible to block (over)writing to arbitrary filesystems. If someone goes in to the S3 location the model files are stored in, I don't think it's MLflow's "fault" if things behave unusually. Perhaps a check in the `MlflowClient.log_artifact` function would be a good place to start. I'll look into it!

I think it de

[2020-08-11 12:55] Zethson opened #3258 "[BUG] mlflow serve pytorch model -> no module named torch"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [X ] No. I cannot contribute

[2020-08-11 13:11] Zethson commented on #3258
I actually run into the same issue with tensorflow based models.

[code]

[2020-08-11 13:17] Zethson commented on #3258
All right, so one actually has to have Pytorch/Tensorflow installed?

This is not documented anywhere (from what I've seen). I expected the conda environment to take care of that?

[2020-08-11 13:18] Zethson commented on #3258
However, now when serving the tensorflow model I run into:

[code]

Is this a new issue that warrants a new issue to be opened?

[2020-08-11 13:26] Zethson commented on #3258
When attempting to serve a Pytorch model I still run into the same issue from above.

[2020-08-11 13:51] harupy commented on #3258
@Zethson Thanks for filing. It looks like the gunicorn process is running in your current environment rather than an environment that `mlflow models serve` creates.

[2020-08-11 13:52] harupy commented on #3258
Can you run this command: `conda activate mlflow-893cda55aba11fe2f781cd4d9c1bd06f48e8e7c1`?

[2020-08-11 13:53] Zethson commented on #3258
I already activated the environment and the libraries are available in those. (Mentioned in the issue description).

[2020-08-11 13:54] Zethson commented on #3258
As mentioned in the issue description I already activated the environments manually and the libraries are available in those.

Happy to provide more information if required.

[2020-08-11 14:05] harupy commented on #3258
I guess you're currently in `mlf-cor`, not `conda activate mlflow-893cda55aba11fe2f781cd4d9c1bd06f48e8e7c1`.

[2020-08-11 14:11] Zethson commented on #3258
So for the sake of reproducibility here's a full log:

[code]

So we trained.
Next we try to serve:

[code]

which fails with this error.
Let's examine the conda environment!

[code]

[2020-08-11 14:16] harupy commented on #3258
`File "/home/zeth/anaconda3/lib/python3.7/site-packages/mlflow/pytorch/__init__.py", line 331, in _load_model` indicates that `_load_model` is not executed in `mlflow-dd325f076f6465c8205b2342fd8ab4531e905e1a`.

[2020-08-11 14:17] Zethson commented on #3258
You are correct. But why is it not using the correct Conda environment? What can I do about it?

[2020-08-11 14:18] harupy commented on #3258
Can you remove the conda environment by `conda remove --all --name <env_name>` and run `moflow models serve ...` again?

[2020-08-11 14:24] Zethson commented on #3258
[code]

[2020-08-11 14:33] harupy commented on #3258
Found a similar issue: https://github.com/pytorch/pytorch/issues/18325

[2020-08-11 14:35] Zethson commented on #3258
Well all I do is:
`mlflow.pytorch.log_model(model, 'models')`

[2020-08-11 14:38] Zethson commented on #3258
https://github.com/pytorch/pytorch/issues/3678

So I guess I have to restructure my code to serve the model?
That's pretty shitty.

@harupy Do you come to the same conclusion?

[2020-08-11 14:40] Zethson commented on #3258
-> Is this also an issue of mlflow.pytorch.log_model() ?

[2020-08-11 14:42] harupy commented on #3258
Just to confirm, do you define your model in `model.py` and import it `exploding_springfield.py`?

[2020-08-11 14:43] harupy commented on #3258
I guess so. It seems we currenlyt log a pytorch model in an unrecommended way.

[2020-08-11 14:44] Zethson commented on #3258
[code]

<- Description of my file structure

[2020-08-11 14:46] Zethson commented on #3258
@harupy
In that case we should open a new issue and summarize the issue here and you can assign it the appropriate priority?
(Pretty serious bug to me actually. Surprised that I am the first one to come across this? Does no one modularize their code? haha)

I shall now test Tensorflow again, since I ran into issues with Tensorflow as well.

[2020-08-11 14:52] harupy commented on #3258
cc @smurching

[2020-08-11 14:55] Zethson commented on #3258
@harupy All right, so Tensorflow works.

I actually think that I ran into this issue, because the Conda environment for Tensorflow wasn't created correctly.
This is an issue with MLflow and Linux assigning all created files to root -> I have to serve as sudo so that the Conda environment gets created with sudo -> Conda environment gets created directly.

I've described this issue already in https:

[2020-08-11 15:16] harupy commented on #3258
I was able to reproduce the same issue for pytorch.

folder structure

[code]

[2020-08-11 21:53] Dhaval08 commented on #3222
@dmatrix any update on this?
Thank you.

[2020-08-12 06:01] dqsy opened #3261 "Package mlflow model with preprocessing"
Is there any way we can package a deployed mlflow model with preprocessing required for model input such that the end user can simply call the API curl command using the original raw features which returns the prediction?

[2020-08-12 08:37] mauvilsa commented on #572
Is there a feature request to support logging artifacts on a remove mlflow server? This seems to me an obvious feature that many people would like to have.

[2020-08-12 16:20] dmatrix commented on #3222
@Dhaval08 I wanted to circle back and clarify some functionality delineation that might be misconstrued. Or we elected the wrong phrases in the documentation that might have easily misinterpreted.

MLflow does _not manage_ your machine learning training "runs." It only records your machine learning runs' results: metrics, parameters, artifacts (models, gifs, text files, etc). The client, your mach

[2020-08-12 16:41] dmatrix commented on #3261
@dqsy There maybe a couple of ways to achieve this. One way is to write it the model as [Python Customized Model](https://mlflow.org/docs/latest/models.html#custom-python-models), which will allow you to pre-and post-process your input code.

Another way is to create a REST endpoint which does the following:

- Loads your desired model

- preprocess the model's input

- invoke model.predict(modief

[2020-08-12 19:54] #2844 closed

[2020-08-13 13:17] sephib commented on #2984
Hi,
I'll be happy to test your code since we have a similar requirement - since we are working in an offline environment.

[2020-08-13 19:16] alanjcastonguay opened #3268 "[BUG] If default experiment 0 is deleted and mlflow restarted, observe psycopg2.errors.UniqueViolation: Key (experiment_id)=(0) already exists."
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-08-13 19:52] alanjcastonguay commented on #3268
Some overlap with #2690 and #3057, latter of which would prevent this situation.

[2020-08-14 09:30] kkendzia opened #3273 "[BUG] Something went wrong"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-08-14 11:05] kkendzia commented on #3273
So the page crashes and just displays "Something went wrong", and I have to reload the page completly before I can interact with any button again.

[2020-08-14 14:41] harupy commented on #3273
https://github.com/mlflow/mlflow/pull/3210 fixed this issue.

[2020-08-14 19:59] lorenzwalthert commented on #3234
There is a typo in your reprex (`mlfow_get_experiment()`), but otherwise I agree. I think the problem is that the the active run is set on `mlflow::mlflow_start_run()`, but the experiment not, so we need to add a call to `mlflow::mlflow_set_experiment()`. I did so in https://github.com/mlflow/mlflow/pull/3276.

[2020-08-14 20:21] lorenzwalthert commented on #3069
@bickyealias sorry I can't help out further here, also I doubt other people can because we can't reproduce your error. I think if I was you, I'd use `debug(mlflow_log_artifact)` next in RStudio as well as `debug( some other function from the stack lower down that you find is going to cause problems)` and try to get more context of the error and post this here. Also, I hope #3108 is going to clarif

[2020-08-14 20:26] yitao-li opened #3277 "[DOC-FIX] switch from Rd to markdown documentation"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this documentation issue template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another

[2020-08-14 20:39] lorenzwalthert commented on #3099
FYI @ mdneuzerling. To contextualise: How is this solved in for the `python_function` flavour? I was also wondering if we could use `conda` for dependency management of the R flavour since the infrastructure is already there for Python.

[2020-08-14 21:31] lorenzwalthert commented on #1423
xgboost PR merged, let's proceed with more model flavours 🎉 .

[2020-08-14 23:05] mdneuzerling commented on #3099
Hi @lorenzwalthert. I'm not overly familiar with the Python side of MLflow outside of `sklearn` models. But [looking at the docs](https://www.mlflow.org/docs/latest/python_api/mlflow.pyfunc.html), I notice that the `pyfunc` flavour has a `code` argument. I'm guessing that this loads all of the code from the given directory into the container? That would work for R since the user could export their

[2020-08-14 23:40] extrospective opened #3278 "[BUG] mlflow tutorial: error running curl command on Windows 10"
I am attempting to use the mlflow tutorial https://www.mlflow.org/docs/latest/tutorials-and-examples/tutorial.html#serving-the-model.

The curl invocation line when trying to call the served model is not working for me.

Windows 10.

Attempted on curl 7.55.1 and on 7.71.1.

Error:
[code]

### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another memb

[2020-08-14 23:50] harupy commented on #3278
@extrospective Thank you for filing this. Can you try this: https://stackoverflow.com/a/17560899?

[2020-08-15 00:14] harupy commented on #3273
@kkendzia

You can install the latest dev version by running:

[code]

[2020-08-15 02:07] extrospective commented on #3278
Thank you, I was able to get it working by doing the following quoting:

[code]

What I did, per the stackoverflow link:
* Converted the outer single quotes into double quotes
* Took the double quotes embedded within the double quotes and escaped them with a backslash

This worked.

I did try PowerShell and ran into this error:

[code]

I was not trying to get PowerShell working, but documenting i

[2020-08-15 02:20] harupy commented on #3278
Found a related issue for the powershell issue: https://stackoverflow.com/questions/45183355/invoke-webrequest-cannot-bind-parameter-headers/48521023

[2020-08-15 02:25] harupy commented on #3278
btw what did you use to run `curl`?  command prompt?

[2020-08-15 12:54] lorenzwalthert commented on #3206
I can't provide code but I had a very similar problem on my Mac. Then, after restarting RStudio, things worked.Did you try that?

[2020-08-15 14:05] Gsbreddy commented on #1853
Hey @gioa
Hope you are well.
I am using mlflow svg icon you provided in my own application. I wanted to know if there is a license for this image. I opened up that zip you provided and there's no license in there either. Without a license, we can't use the images, is there perhaps one on website or anything? (here's an example from github [https://github.com/logos](https://github.com/logos))

Plea

[2020-08-15 14:07] Gsbreddy opened #3280 "License for MLflow icon"
Hey @gioa
Hope you are well.
I am using mlflow svg icon you [provided](https://github.com/mlflow/mlflow/issues/1853) in my own application. I wanted to know if there is a license for this image. I opened up that[ zip ](https://github.com/mlflow/mlflow/files/3881869/MLflow-logo-set.zip)you provided and there's no license in there either. Without a license, I can't use the images, is there perhaps o

[2020-08-15 14:22] extrospective commented on #3278
I used command prompt to run curl.

[2020-08-15 14:43] extrospective opened #3281 "[BUG] hyperparam examples failure - could not read from remote repository - windows 10 - mlflow 1.10.0"
- [ ] Yes. I can contribute a fix for this bug independently.
- [ x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute a bug fix at this time.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 1

[2020-08-15 19:57] harupy commented on #3281
dup of #2824

[2020-08-15 19:57] #3281 closed

[2020-08-16 07:33] gufengxiaoyuehan opened #3283 "[FR] build image from customize base image for performance and varitieties of usage"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [x] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-08-16 07:49] gufengxiaoyuehan opened #3284 "[FR] _build_image return values for integrate with other services in python"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [x] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-08-16 10:00] mdneuzerling commented on #3099
One _partial_ solution to this problem would be to add a flavour for models implemented with [the `tidymodels` metapackage](https://www.tidymodels.org/). The `parsnip` package provides a unified interface to various R modelling packages, and the `recipes` package is used for pre-processing. These are combined with the `workflows` package, which both pre-processes and predicts on new data.

I've be

[2020-08-16 10:22] Nithinbs18 opened #3285 "[BUG] Unable to retrive all models information from model registry"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-08-16 10:49] harupy commented on #3285
@Nithinbs18 You need to use `search_model_versions`: https://www.mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.search_model_versions

[2020-08-16 13:22] Nithinbs18 commented on #3285
@harupy  Thank you very much. I got it 👍

[2020-08-16 13:22] #3285 closed

[2020-08-16 13:44] ritesh-nanda opened #3286 "[BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-08-16 14:42] #3273 closed

[2020-08-16 14:42] harupy commented on #3273
@kkendzia Feel free to reopen this issue if the error still persists.

[2020-08-16 14:43] harupy commented on #3286
@ritesh-nanda Can you provdie more details?

[2020-08-16 14:48] harupy commented on #3278
@extrospective Would you be interested in making a PR that adds the command below in the tutorial?

[code]

[2020-08-16 14:57] lorenzwalthert commented on #3277
I'd suggest to use https://github.com/r-lib/roxygen2md or `usethis::use_roxygen_md()`and compare the `Rd` diff. Markdown syntax is simpler than the Rd syntax, e.g. for cross-linking and many people are already familiar with it.

[2020-08-16 19:05] extrospective commented on #3278
I could do that.  It would be a good learning experience for me.

[2020-08-16 20:37] kkendzia commented on #3273
Thank you! We'll wait for the next release.

[2020-08-16 21:13] #3286 closed

[2020-08-17 08:54] AllieUbisse commented on #572
# Logging Plugin
---

Please help me with creating a custom plugin to log the current running notebook and also log .py to a remote server.

[2020-08-17 10:19] Gsbreddy commented on #3280
Can anyone please help me on this? Thanks in advance.

[2020-08-17 16:23] dmatrix commented on #3280
@Gsbreddy Thanks for asking this question. @pogil given MLfow joining the Linux Foundation, do we any additional license requirements that you are aware of for using MLflow usage other than[ LICENSE.txt](https://github.com/mlflow/mlflow/blob/master/LICENSE.txt)?

[2020-08-17 16:25] dmatrix commented on #3277
@lorenzwalthert Thanks for responding. Presumably, you'll review @yitao-li PR once filed.

[2020-08-17 21:08] gioa commented on #3280
Thank you for the question @Gsbreddy! Here is the trademark policy from Linux Foundation which includes MLflow:
https://lfprojects.org/policies/trademark-policy/

Let us know what else you may need!

[2020-08-17 22:00] peidaqi opened #3290 "[BUG] MLFlow on Mac OS with Python3 and no Conda"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [X ] No. I cannot contribute

[2020-08-18 01:23] peidaqi commented on #3290
Just to add that I tried this on my Linux machine and it works by changing the default /usr/bin/python to point to python3.

I think it would make sense to add an environment variable where the default interpreter can be set.

[2020-08-18 01:55] harupy commented on #3290
Sounds like this is not an MLflow's issue.

[2020-08-18 01:57] harupy commented on #3290
Can you run `python -c "import pandas"` and check if it works?

[2020-08-18 09:10] jdlesage opened #3291 "[FR] Order by tag from the UI"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [X] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-08-18 09:26] jdlesage opened #3293 "[BUG] Resize columns when experiments list is minimized"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [X] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-08-18 10:13] harupy commented on #3293
@jdlesage Thanks for filing this. I was able to reproduce the bug.

[2020-08-18 10:19] harupy commented on #3291
@jdlesage Thanks for filing this. Maybe we should add a `contribution-welcome` label.

[2020-08-18 15:55] dmatrix commented on #3291
@jdlesage We have a tag called `help-wanted`, which is equivalent.

[2020-08-18 23:38] bhan-apple commented on #2745
I’d like to work on this feature. I want to share my high level design first to get your feedbacks. Basic proof of concept is done with this design.

1. Use boto3 sagemaker API, it has more flexibility than sagemaker sdk, and it doesn’t require to bring in sagemaker pkg as dependency.
2. Add transform() in mlflow.sagemaker.cli.py, which calls a new transform() in mlflow.sagemaker.__init__.py, whic

[2020-08-19 02:11] tw-rwth commented on #925
I face the same issue with version 1.10.0 and file system. All files are generated as expected, but the same "WORKIER TIMEOUT" message returns when I try to access individual records (i.e., clicking date's hyperlinks).

[2020-08-19 13:37] danielvdende commented on #3175
I did a bit of digging around in the code and I have a rough idea of what we could/should do to achieve this. I've tried to structure my thoughts as best as possible and hope you can follow along. If anything is unclear or if I've missed/misunderstood anything, please let me know!

## Problem
Currently, it's possible to overwrite artifacts stored with an MLflow run, even if that run has been regis

[2020-08-19 14:46] Gsbreddy commented on #3280
Let me take this back and see if this is what we are looking for. Thanks guys!

[2020-08-19 15:25] jdlesage commented on #3291
It seems I am not allowed to change labels. Could you please add it ?

[2020-08-19 16:07] harupy commented on #3291
@jdlesage done!

[2020-08-19 18:49] dmatrix commented on #3137
Issue fixed and as part of  https://github.com/mlflow/mlflow/pull/3194

[2020-08-19 18:49] #3137 closed

[2020-08-19 22:35] AnimeshAgrawal opened #3297 "[FR] Enhancements to the Runs search bar"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-08-20 01:01] #3217 closed

[2020-08-20 01:10] murphycj commented on #3203
@dmatrix Sorry for belated reply, just been busy. I tried your new suggestion via the following:

[code]

Mlflow does seem to recognize that I set those options because before each epoch it prints out this message:

[code]

However, that still does not seem to work. I am still getting the number of connections going up to ~15-20. It seems that it creates a new connection for each epoch, but after

[2020-08-20 01:11] murphycj commented on #3203
I should also add that I did try setting those values to something else like below and it also did not help:

[code]

[2020-08-20 02:02] dmatrix commented on #3280
@Gsbreddy, you welcome. I'll close this issue.

[2020-08-20 02:02] #3280 closed

[2020-08-20 02:48] hajapy opened #3298 "[FR] Support creating conda environments from spec files"
## Willingness to contribute
- [x] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from the MLflow community.
- [ ] No. I cannot contribute this feature at this time.

## Proposal Summary
Extend the conda support in mlflow to also support spec files in addition to an environment.yml file.

## Motivation
- What is the use case

[2020-08-20 05:41] #3261 closed

[2020-08-20 09:06] shaneing opened #3299 "[FR] Support update experiment or delete experiment permanently"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [x] Yes. I would be willing to contribute this feature with guidance from

[2020-08-20 10:13] KarimSamehSadek commented on #3206
Thank you for your input, however I am running on windows and tried this several times and to run on different machines but the problem persists

[2020-08-20 10:25] KarimSamehSadek opened #3300 "[BUG]"
- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [X] No. I cannot contribute a bug fix at this time.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: stock example
- **OS Platform and Distribution (e.g., Linu

[2020-08-20 10:35] harupy commented on #3300
@KarimSamehSadek Can you provide your code?

[2020-08-20 10:41] KarimSamehSadek commented on #3300
Hi, I already resolved it. I created a new file and copied the same code and worked. thank you though

[2020-08-20 10:41] #3300 closed

[2020-08-20 15:37] bramrodenburg opened #3301 "[BUG] Unclear exception upon incorrectly configuring DATABRICKS_HOST"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [X] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-08-20 17:28] dmatrix commented on #3301
@bramrodenburg Thanks for filing this bug. If I read you correctly, in some cases when the `DATABRICKS_HOST` is misconfigured with an invalid path (as stated above), the status code returned is 200 yet mlflow crashes. Do you mean that `examples/rest_api/mlflow_tracking_rest_api.py` fails with an exception?

This is more on the [client-side checking ](https://github.com/mlflow/mlflow/blob/master/ml

[2020-08-20 18:09] bramrodenburg commented on #3301
In this case I was using `mlflow experiments create`, which I believe refers to `mlflow/experiments.py` -> `create`.

An exception is indeed thrown, which I think is correct given that the endpoint is not configured correctly, however I think the type of error and its message are not clear, and could be handled in a better way.

[2020-08-20 19:52] Zangr commented on #925
Reopening this issue as per community request and reassign priority to get it into the queue.

[2020-08-20 21:44] dmatrix commented on #2350
I have updated the notebook to show how to use MLflow in Google Colab. You can use `pyngrok` to tunnel. Realy simple!
https://github.com/dmatrix/google-colab/blob/master/mlflow_issue_2350.ipynb

[2020-08-20 22:19] AveshCSingh commented on #3297
Thank you for filing this issue, @AnimeshAgrawal.

I completely agree that the MLflow search documentation is lacking. I think a good first step would be to file a PR that improves this documentation to include `LIKE` and `ILIKE`

Re new `OR` and `IN` operators: This is a good idea, though it may be non-trivial to implement. If you're interested in filing a PR to add this functionality, would you

[2020-08-20 23:08] sueann commented on #3169
https://github.com/mlflow/mlflow/pull/3271 which addresses this issue has been merged.

[2020-08-20 23:08] #3169 closed

[2020-08-21 02:03] amesar commented on #3301
The server is incorrectly returning HTML instead of JSON.
https://github.com/mlflow/mlflow/blob/master/mlflow/utils/rest_utils.py#L156

[code]

[2020-08-21 03:07] amesar opened #3303 "[FR] Support serving Keras/TensorFlow models with TensorFlow Serving"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-08-21 07:42] TFrascaroli commented on #599
@conradbm After installing it, it told me where it installed to, warning me that its path was not in PATH. For me (and I guess for everyone) it is located at `/home/<username>/.local/bin`. Then doing
`PATH=$PATH:/home/<username>/.local/bin`
fixed the issue, and now I can run mlflow ui.

[2020-08-21 23:08] rd16395p opened #3305 "[SETUP-BUG] Mlflow is not writting to the s3 bucket"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this installation issue template to ensure a timely and thorough response.**

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 20.04
- **MLflow

[2020-08-23 16:55] rd16395p commented on #3305
@harupy Just tried this out and it is not showing on my mlflow tracking server - but it is logged to my s3 bucket. Is there something I am missing?

[2020-08-23 17:00] harupy commented on #3305
What's not show in your mlflow server?

[2020-08-23 21:56] rd16395p commented on #3305
@harupy Yup, the experiment itself.

[2020-08-23 23:16] harupy commented on #3305
@rd16395p Just to confirm, the code in https://github.com/mlflow/mlflow/issues/3305#issuecomment-678787885 worked and showed the experiment properly on the UI?

[2020-08-24 01:00] rd16395p commented on #3305
@harupy  Yes, it did when I tried it on the server itself.

If I store my experiments on the same s3 and postgres, would it show up on the mlflow server?

Thank you for helping me so much!

[2020-08-24 01:43] harupy commented on #3305
@rd16395p

I think it would if the mlfow server points to the correct backed store.

[2020-08-24 10:52] MatthiasHerp opened #3317 "How do I set a different local directory for mlflow?"
I want to run the mlflow ui from a different folder. By default it creates a folder called 'mlruns' in the folder of my user. If create runs in a Jupiter-Notebook using a specific working directory a new Folder 'mlruns' is created in that directory. My goal is to run the mlflow ui acccessing the 'mlruns' Folder in this self specified Directory. So far I have tried:
running mlflow ui in the anacond

[2020-08-24 12:08] harupy commented on #3317
@MatthiasHerp What issue are you experiencing?

[2020-08-24 14:12] rd16395p commented on #3305
@harupy I understand, but it would be better to send it to the server right?

[2020-08-24 16:36] dmatrix commented on #3317
@MatthiasHerp Thanks for asking the question. You have to set the experiment URI too.

Here is a [Jupyter Example](https://github.com/dmatrix/google-colab/blob/master/mlflow_issue_3317.ipynb).

[2020-08-24 19:29] mirekphd commented on #2923
Update: have been ignoring this issue for some time thanks to containers that make it easy to rollback to a last working version.

But now after upgrading MariaDB database used by MLflow Tracking from v10.3 (via v10.4) to v10.5 (using its dedicated tool `mysql_upgrade`) I've found that only the original container with `mlflow==1.3` (`mirekphd/ml-mlflow:20191024`) and `SQLalchemy==1.3.10` works cor

[2020-08-24 19:43] mirekphd commented on #2923
I've gone through the docker build logs of the errorring container (`mirekphd:ml-mlflow:20200824`) and found this strange condition in `pip install` output (notice the inequality in the incorrect direction!) that sets back SQLAlchemy by 7 months from its latest version `1.3.19` (and I do not pin anything apart from `mlflow==1.10.0` in this container):
[code]

[2020-08-24 20:23] ghalibminhas opened #3319 "mlflow installation issue on Windows 10 [BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-08-24 20:34] jrock08 commented on #1811
Just want to suggest that this might be closed since set_experiment seems to implement the get or create functionality that @sueann suggested.

[2020-08-24 21:37] saroup opened #3321 "R on databricks: ..cannot import name 'BlobPrefix' when calling mlflow_load_model"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [X] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-08-24 22:04] saroup commented on #3321
install_mlflow() shows that azure-storage-blob 12.4.0 is being installed.

[2020-08-25 07:34] mirekphd commented on #2049
This was my case too (except I have MariaDB and I used its dedicated tool (not `mlflow db upgrade`)). But I have one legacy container with `mlflow==1.3` where the problem does **not** apply - it recognizes the updated database is correct and it works correctly! Only the more recent versions do not. More details here: https://github.com/mlflow/mlflow/issues/2923#issuecomment-679321747

[2020-08-25 08:19] mirekphd commented on #2923
Let us find the newest working version of mlflow then.

I rebuilt the `mirekphd/ml-mlflow` container using the code from the last working version (container tag 20191024), where mlflow was pinned at 1.3.0. It works OK (recognizes MariaDB database upgrade from 1.3 via 1.4 to 1.5). Now for other versions.

[2020-08-25 09:12] mirekphd commented on #2923
So even a minor version upgrade of mlflow causes the "out-of-date database schema" error, and in the error message the "expected version" stays the same, while the "found version" changes with each mlflow version. The hashes corresponding to mlflow versions that are displayed in the error message (instead of mlflow versions for example...) are hard-coded in mflow [here](https://github.com/mlflow/m

[2020-08-25 10:27] mirekphd commented on #2923
So I finally modified the container template to replace the entrypoint so as to run `mlflow db upgrade <sqlalchemy_db_conn_str>` instead of `mlflow server <params>`, using the desired new version of `mlflow==1.10.0`,

It printed this message (which is [apparently](https://docs.openstack.org/networking-sfc/ocata/alembic_migration.html) normal):
[code]

... and then I was eventually able to run the

[2020-08-25 10:31] #2923 closed

[2020-08-25 17:34] saroup commented on #3321
In azure-blob-storage 12.4.0 blobPrefix hasn't been imported here : https://github.com/Azure/azure-sdk-for-python/blob/azure-storage-blob_12.4.0/sdk/storage/azure-storage-blob/azure/storage/blob/_models.py
where as in 12.3.2: https://github.com/Azure/azure-sdk-for-python/blob/azure-storage-blob_12.3.2/sdk/storage/azure-storage-blob/azure/storage/blob/_models.py

[2020-08-25 23:45] apurva-koti commented on #3228
Thank you for filing this issue @mgermain ! A fix for this is tracked in #3329.

[2020-08-26 08:52] mpbrigham opened #3331 "[BUG] Trained model artifact not saved under Windows 10"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-08-26 09:04] mpbrigham opened #3332 "[BUG] Error with `mlflow models serve no--conda` under Windows 10"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-08-26 09:07] harupy commented on #3331
@mpbrigham Can you run the command below and see what it prints out?

[code]

[2020-08-26 09:23] mpbrigham commented on #3331
@harupy sure thing, here it is:

``
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
artifact uri: ./mlruns/0/303cd1563bfd495eba06523d9021b12c/artifacts
2020/08/26 10:21:48 INFO mlflow.projects: === Run (ID '303cd1563bfd495eba06523d9021b12c') succeeded ===
``

[2020-08-26 09:54] harupy commented on #3331
@mpbrigham Can you run this code and see if it logs a trained model?

[code]

[2020-08-26 09:59] mpbrigham commented on #3331
@harupy Yes, the above code successfully saves a trained model.

[2020-08-26 10:05] harupy commented on #3331
Do you use power shell or command prompt?

[2020-08-26 10:06] mpbrigham commented on #3331
I use the command prompt.

[2020-08-26 10:08] harupy commented on #3331
Can you try the same thing in powershell?

[2020-08-26 10:12] mpbrigham commented on #3331
I get the same results as with the command prompt:
- trained model not saved with `https://github.com/harupy/mlflow-example.git -P alpha=5.0`
- trained model saved with the python code above

[2020-08-26 10:24] harupy commented on #3331
Can you run `https://github.com/harupy/mlflow-example.git -P alpha=5.0` again (in the comman prompt)? I have fixed the code a bit?

[2020-08-26 10:27] harupy commented on #3332
similar to this issue: https://bugs.python.org/issue32764

[2020-08-26 10:28] mpbrigham commented on #3331
Hmmm, the trained model is still not saved.

[code]

[2020-08-26 10:30] mpbrigham commented on #3332
Is there a workaround? It works well with `mlflow run` though.

[2020-08-26 10:32] harupy commented on #3331
`.\mlruns\0\42dc84b832bb4c71833249b9b98cf546\artifacts\model` is where your model should be located. Is it still empty?

[2020-08-26 10:36] harupy commented on #3332
[git for windows](https://gitforwindows.org/) could solve the issue.

[2020-08-26 10:37] mpbrigham commented on #3331
Yes, `.\mlruns\0\42dc84b832bb4c71833249b9b98cf546\artifacts` is empty.

[2020-08-26 10:40] harupy commented on #3331
what is your python version?

[2020-08-26 10:44] mpbrigham commented on #3331
Python version: `3.8.5`

[2020-08-26 10:45] mpbrigham commented on #3332
@harupy In what way would [git for windows](https://gitforwindows.org/) solve the issue? I've just installed it and I see no changes?

[2020-08-26 10:46] harupy commented on #3331
Can you run `https://github.com/harupy/mlflow-example.git -P alpha=5.0` again?

[2020-08-26 10:48] mpbrigham commented on #3331
Still empty.

[code]

[2020-08-26 10:52] harupy commented on #3331
sorry the code has not been updated. Can you try again?

[2020-08-26 10:52] mberr opened #3334 "[BUG] http.client.RemoteDisconnected for get_metric_history"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-08-26 10:55] mpbrigham commented on #3331
Thank you for the update. The parent folder `.\mlruns\0\49605b28704042288581892d2bd84d6e\artifacts` is still empty.

[code]

[2020-08-26 10:59] harupy commented on #3331
strange. `os.listdir` says `['conda.yaml', 'MLmodel', 'model.pkl']` are in `.\mlruns\0\49605b28704042288581892d2bd84d6e\artifacts\model`

[2020-08-26 11:05] mpbrigham commented on #3331
Very strange. This is the output I get with `dir`:

[code]

[2020-08-26 11:08] harupy commented on #3331
Are you in `Z:\mlflow_apps`?

[2020-08-26 11:14] harupy commented on #3331
can you try `dir Z:\mlflow_apps\mlruns\0\49605b28704042288581892d2bd84d6e\artifacts\models`?

[2020-08-26 11:18] mpbrigham commented on #3331
Yes, I am executing from `Z:\mlflow_apps` and `dir Z:\mlflow_apps\mlruns\0\49605b28704042288581892d2bd84d6e\artifacts\models` returns `File Not Found`.

However, I see that the `artifacts` folder is populated correctly in `C:\Users\marco\AppData\Local\Temp` but doesn't seem to be copied back correctly.

[2020-08-26 11:20] harupy commented on #3331
sorry I have typed the command wrong. Can you run `dir Z:\mlflow_apps\mlruns\0\49605b28704042288581892d2bd84d6e\artifacts\model`?

[2020-08-26 11:23] mpbrigham commented on #3331
Yes, `dir Z:\mlflow_apps\mlruns\0\49605b28704042288581892d2bd84d6e\artifacts\model` also returns `File Not Found`.

[2020-08-26 11:31] MatthiasHerp commented on #3317
@harupy : there was no error message. the server works but doesn't go to the desired folder.

@dmatrix: thanks for the response and the example.
And sorry for the late response.

I tried the following Code:
(my URI is at : C:User/User/mah/Desktop/M5_Wallmart_Challenge)

import mlflow

mlflow.set_tracking_uri("file:///Desktop/M5_Wallmart_Challenge")

get_ipython().system_raw("mlflow ui --backend-st

[2020-08-26 11:38] harupy commented on #3317
@MatthiasHerp have you tried using `\` instead of `/`?

[2020-08-26 11:45] harupy commented on #3331
I have updated the code to use `shutil.copytree` instead of `dir_util.copy_tree`. Can you try `https://github.com/harupy/mlflow-example.git -P alpha=5.0` again?

[2020-08-26 11:46] MatthiasHerp commented on #3317
@harupy yes, then I get the error:

<>:1: DeprecationWarning: invalid escape sequence \D
<>:1: DeprecationWarning: invalid escape sequence \D
<>:1: DeprecationWarning: invalid escape sequence \D
<ipython-input-3-b9629adec179>:1: DeprecationWarning: invalid escape sequence \D
  mlflow.set_tracking_uri("file:\\\Desktop\M5_Wallmart_Challenge")

[2020-08-26 11:48] harupy commented on #3317
Can you try `file:///\D\...`?

[2020-08-26 11:55] MatthiasHerp commented on #3317
@harupy I get the same error as above:

I tried it with two or three slashes (/), as well as with User twice and one in the URI as you wrote above.

[2020-08-26 11:56] harupy commented on #3317
I have updated the command

[2020-08-26 12:09] MatthiasHerp commented on #3317
The Code only run with / . Could It be something else. For example to run the Server I run 'mlflow ui' in the anaconda prompt powershell. I tired running it in the Default loacation (C:/User/mah) and in the specific Folder (C:/User/mah/desktop/M5_Wallmart_Challenge) but neither helped. Do I Need to deactivate the old server?

[2020-08-26 12:18] harupy commented on #3317
Have you tried without `file://`?

[2020-08-26 12:24] harupy commented on #3332
sorry git for windows seems unrelated to this issue.

[2020-08-26 12:25] harupy commented on #3332
@mpbrigham I have tried `mlflow models serve -m runs:/75614813307443a48a8c6fb80b9959d5/model --no-conda` using python 3.8 + macbook pro, but wasn't able to reproduce the issue.

[2020-08-26 12:31] harupy commented on #3331
btw I have tested using windows + powershell + (python 3.7) and it seems to be working fine:

https://github.com/mlflow/mlflow/pull/3333/checks?check_run_id=1030907362#step:8:493

[2020-08-26 12:40] mberr commented on #3334
The problem seems to be caused by gunicorn workers timing out:
[code]

Increasing the worker timeout by adding
[code]
to the server start script does not (reliably) solve the issue.

Also the behaviour is not always reproducible: In some cases the server returns an answer in short time.

Further investigating via `htop` shows that the database operation is running too slow (top is showing `postgre

[2020-08-26 12:45] MatthiasHerp commented on #3317
just tried it.

get_ipython().system_raw("mlflow ui --backend-store-uri C:/User/mah/Desktop/M5_Wallmart_Challenge --port 5000 &")

now Ends and doesn't run continously. But still the Directory of the ui does not change

[2020-08-26 13:34] harupy commented on #3317
Are runs logged in the directory set by `mlflow.set_tracking_uri`?

[2020-08-26 13:59] xstex opened #3337 "[FR] pass custom environment variables to sagemaker docker"
**Please fill in this feature request template to ensure a timely and thorough response.**

## Willingness to contribute
- [x] Yes. I can contribute this feature independently.

## Proposal Summary

Allow an optional dict of environment variables to be passed on sagemaker (both run_local and deploy) docker image.

## Motivation
My use case if to inject a pip extra-url that points to a private pypi

[2020-08-26 14:12] MatthiasHerp commented on #3317
@harupy : yes

[2020-08-26 14:20] mpbrigham commented on #3331
I've reproduced the error with the latest `mlflow run https://github.com/harupy/mlflow-example.git -P alpha=5.0` and the original `mlflow run https://github.com/mlflow/mlflow-example.git -P alpha=5.0` under the following combinations:
[code]

[2020-08-26 14:41] mpbrigham commented on #3331
@harupy I ran `mlflow run https://github.com/mlflow/mlflow-example.git -P alpha=5.0` on my home folder and it works like a charm, thank you!

Shall I close the issue since we have a workaround?

[2020-08-26 14:44] mpbrigham commented on #3332
Thank you so much for your support @harupy! How can I help troubleshoot this issue?

[2020-08-26 14:44] harupy commented on #3331
Yes, please close this issue

[2020-08-26 14:44] #3331 closed

[2020-08-26 14:46] harupy commented on #3332
I'm still not sure why this issue is happening

[2020-08-26 14:48] harupy commented on #3332
Can you veriy subprocess.popen works by running some command?

[2020-08-26 14:50] harupy commented on #3317
When you run `mlflow ui` in the anaconda prompt, did you gey an error or a warning?

[2020-08-26 14:54] mpbrigham commented on #3332
Yes, this works as expected:
[code]

[2020-08-26 14:59] harupy commented on #3332
Does this work?

subprocess.Popen(["dir c:".split(" ")])

[2020-08-26 15:16] mpbrigham commented on #3332
Nope, doesn't work:
[code]

[2020-08-26 15:21] mpbrigham commented on #3332
However, these work as expected:

[code]

[2020-08-26 15:27] mpbrigham commented on #3332
It seems to be working with Python 3.7:
[code]

[2020-08-26 15:36] mpbrigham commented on #3332
I get a different error with Python 3.7:
[code]

[2020-08-26 15:41] mberr commented on #3334
I could resolve the problem by adding an index on the `run_uuid` column of the metrics table:

[code]

Afterwards, also the web frontend got notably faster.

For reference, the `metrics` table currently contains `51,945,952` rows.

[2020-08-26 15:45] mpbrigham commented on #3332
It may not be related, but I get a similar error when running `subprocess.Popen` without `shell=True` (with Python 3.7 and 3.8):

[code]

[code]

[2020-08-26 16:45] mpbrigham commented on #3332
There are changes in [`subprocess.Popen`](https://docs.python.org/3/library/subprocess.html#subprocess.Popen) for Python>=3.6:

The following workaround was tested with Python 3.6, 3.7 and 3.8, and will submit a PR soon.

Replace the last line in function `mlflow.pyfunc.backend.serve`:
[code]
with

[code]

[2020-08-26 19:25] xia-m commented on #2016
I have encountered the same issue. Here is how I found out .dockerignore was not honored:
1. Place both MLproject and .dockerignore files in my project's root directory.
2. MLproject is set to use docker_env.
3. Execute `mlflow run .` in the project's root dir and wait for the run to complete.
4. Examine the files inside `/mlflow/projects/code` in the newly built image with this command `docker ru

[2020-08-26 20:01] rrma commented on #2401
Hi @tomasatdatabricks,

I wanted to start working on a fix today but it looks like in the meantime it was fixed through another change.
So, I'll close the ticket 😄

[2020-08-26 20:01] #2401 closed

[2020-08-27 15:24] alpancs opened #3346 "[BUG] mlflow run won't accept parameters' value containing "=""
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [x] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-08-27 17:03] dmatrix commented on #3346
@alpancs Thanks for filing this issue.

With MLproject file:
[code]
and the equation_parser.py:
[code]

`mlflow run . -e main -P equation="2mx+c"`         # <- seems to work
`mlflow run . -e main`                                                     # <- seems to work
`mlflow run . -e main -P equation="y=2mx+c"`   # <- gives you the error

Invalid format for -P parameter: 'equation=y=2mx+c'. Use -P

[2020-08-27 17:41] alpancs commented on #3346
@dmatrix: for instance, I need to pass an URI that points to a table's snapshot in a data warehouse, e.g.
[code]

Actually it is valid on mlflow 1.9.1, but invalid on mlflow 1.10.0.

[2020-08-27 20:19] dbczumar commented on #3346
@alpancs Thanks for pointing this out. This is a regression in 1.10.0 introduced by #3061. I've filed #3347 to fix it; this will be merged and included in the next release of MLflow (slated for release next week). For now, you can either leverage MLflow 1.9.1 or check out the PR branch and install MLflow from there (https://github.com/dbczumar/mlflow/tree/param_fix). Sorry for the inconvenience th

[2020-08-27 21:45] dbczumar commented on #3321
Hi @saroup , I've filed #3348 to address this issue. In 12.4.0, it appears that the `BlobPrefix` object became part of the public API and is now included as `azure.storage.blob.BlobPrefix`, rather than `azure.storage.blob._models.BlobPrefix`. This fix will be merged and included in MLflow 1.11.0 (due for release next week).

[2020-08-27 23:53] #3173 closed

[2020-08-28 01:15] dbczumar commented on #3321
#3348 has been merged - this issue should now be resolved!

[2020-08-28 01:15] #3321 closed

[2020-08-28 02:57] alpancs commented on #3346
Thanks @dbczumar for fixing it!

[2020-08-28 03:15] #3346 closed

[2020-08-28 07:36] kkendzia opened #3351 "[BUG] 550 Failed to open file when using FTP as backend"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-08-28 07:40] harupy commented on #3351
looks similar to this error: https://serverfault.com/questions/294250/ftp-failed-to-open-file#:~:text=2%20Answers&text=The%20550%20error%20code%20should,sure%20how%20likely%20that%20is.

[2020-08-28 08:31] kkendzia commented on #3351
Writing works fine, file permissions are
`-rw-rw-rw-    1 ftp      ftp            300 Aug 28 08:16 MLmodel
-rw-rw-rw-    1 ftp      ftp            128 Aug 28 08:16 conda.yaml
-rw-rw-rw-    1 ftp      ftp            103 Aug 28 08:16 python_model.pkl`

`ftp> ls -la
227 Entering Passive Mode (10,19,10,23,125,24).
150 Here comes the directory listing.
drwxrwxr-x    2 ftp      ftp          4096 Aug 28

[2020-08-28 16:07] CaselIT opened #3353 "Unpin sqlalchemy"
Hi,

Currently mlflow pins sqlalchemy to `<= 1.3.13`. I wanted to use this package on a projects that requires a more updated version of sqlalchemy.
Would it be possible to unpit sqlalchemy or to change the constraint to disallow specific version of it? (like `!=1.3.14` etc?)

Thanks

[2020-08-28 17:06] amesar opened #3354 "[BUG] MLflow scoring server should return 4xx HTTP status code for bad request data"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-08-28 17:12] dmatrix commented on #3354
@amesar makes sense since this is a [client error](https://www.restapitutorial.com/httpstatuscodes.html).

[2020-08-29 06:19] dpsommer opened #3361 "[BUG] Database initialization fails if primary keys enforced"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [x] No. I cannot contribute

[2020-08-29 16:39] PriyaTomar commented on #1515
I am facing similar type of problem.  I am using Java API to log the artifacts. I get error when I need to download the pre-stored artifacts. The error is:
''Failed to exec 'python -m mlflow.store.artifact.cli', needed to access artifacts within the non-Java-native artifact store at 'null'. Please make sure mlflow is available on your local system path (e.g., from 'pip install mlflow')''.

Any sol

[2020-08-29 16:43] pycaret opened #3362 "Exception using infer_signature from mlflow.models.signature"
## System Details
python_version: 3.6.10
python_build: ('default', 'May  7 2020 19:46:08')
machine: AMD64
platform: Windows-10-10.0.18362-SP0
mlflow==1.10.0

## Issue
When using `infer_signature` from `mlflow.models.signature` facing this error (see below traceback). Here is how you can reproduce the error.

[code]

Dataset: https://www.kaggle.com/c/titanic/data?select=train.csv

**Traceback**
---

[2020-08-31 03:19] gwadhwa commented on #1475
Hello Guys, Is the oracle supported by ML Flow? I get an unsupported dialect error if I use oracle or oracle+oracle_cx as suggested by  SQL Alchemy. Please advise.

[2020-08-31 06:07] kkendzia commented on #3351
Any ideas here? Or does it have something to do with my vsftpd config?

    anonymous_enable=YES
    local_enable=NO
    write_enable=YES
    local_umask=000
    anon_upload_enable=YES
    anon_world_readable_only=YES
    hide_ids=YES
    anon_mkdir_write_enable=YES
    anon_other_write_enable=YES
    dirmessage_enable=YES
    xferlog_enable=YES
    connect_from_port_20=YES
    chown_uploads=YES

[2020-08-31 07:09] kkendzia commented on #3351
Ok I found the problem.

SFTP puts the MLmodel file to a different folder:

   sftp> ls -la
   drwxr-xr-x    2 1000     100          4096 Aug 25 13:55 .
   drwxr-xr-x    3 1000     100          4096 Aug 25 13:55 ..
   -rw-r--r--    1 1000     100           300 Aug 25 13:55 MLmodel
   -rw-r--r--    1 1000     100           128 Aug 25 13:55 conda.yaml
   -rw-r--r--    1 1000     100           103 Au

[2020-08-31 08:34] kkendzia commented on #3351
/label area/artifacts

[2020-08-31 08:45] kkendzia commented on #3351
I'll close this down and rename it.

[2020-08-31 08:45] #3351 closed

[2020-08-31 08:49] kkendzia opened #3366 "[BUG] Inconsistent artifact store path FTP / SFTP"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-08-31 08:59] kkendzia commented on #3366
fixed by https://github.com/mlflow/mlflow/pull/3204

[2020-08-31 08:59] #3366 closed

[2020-08-31 09:17] briankosw commented on #1849
This would be really helpful! I think a workflow similar to how TensorBoard works - automatically fetch information after some period of time AND fetch information when the some form of reload button is pressed - would be really convenient instead of manually reloading the entire website.

[2020-08-31 15:58] greenorblack opened #3367 "[BUG] Autologging metrics for object detection in Tensorflow 2.x"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux Ubuntu 18.04
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**: 1.10.0
- **Python version**: 3.7.3
- **Tensorflow version**: 2.2.0
- **npm version, if ru

[2020-08-31 16:31] zdrescher opened #3368 "[BUG] Load model from Model Registry fails"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-09-01 07:02] harupy commented on #3368
@zdrescher Can you provide the code you used to log the model?

[2020-09-01 08:08] Gingersna opened #3372 "If synchronous was False, it won't pass docker_args in subprocess?"
https://github.com/mlflow/mlflow/blob/d743a40426d5dedbde395a4e6bbdeebadbccd4dc/mlflow/projects/backend/local.py#L101-L109

[2020-09-01 09:46] harupy commented on #3353
@CaselIT Thanks for filing this.

https://stackoverflow.com/a/12759996/6943581

[2020-09-01 10:20] CaselIT commented on #3353
Thanks for the suggestion, but I would then manually have to track all the other mlflow dependencies, so it becomes hard to maintain. I'll do that for the moment.

[2020-09-01 10:22] harupy commented on #3353
Or you can try:

[code]

you'll get a warning though.

[2020-09-01 10:44] CaselIT commented on #3353
Would a PR be accepted to unpin it? I gather that the problem was 1.3.14?

[2020-09-01 12:15] mirekphd commented on #2923
I've also found the reason why optuna clashes with mlflow, raising this error (in its latest stable version of 2.0.0):
[code]

The reason is that both mlflow and optuna store their database schema versions (courtesy of Alembic) in the same database table named `alembic_version`, overwriting each other's versions and making it impossible to use them together (at least in the same database).

Here's

[2020-09-01 12:36] mirekphd opened #3374 "MLflow overwrites Alembic version data for other applications [BUG]"
The field `version_num` in `alembic_version` table is also used by applications other than MLflow, such as Optuna. This causes MLflow to overwrite these applications' version numbers, making them unusable and upgrade-resistant. Manually creating a separate database for each application and granting db user read/write access to each database is currently required to avoid this problem.

More detail

[2020-09-01 13:01] mk2s6 commented on #2925
@MotiBaadror Hi Can you just elaborate the solution for this. As i am having the same issue.

[2020-09-01 15:04] edgBR commented on #2890
Dear @mparkhe should I contact then the creator of the snowflake connector or the ones from the sql alchemy engine?

[2020-09-01 15:17] mobiuscreek commented on #3230
Might be off-topic but it's worth noting that fastai has been updated to version 2 and unfortunately it brought a lot of breaking changes to `mlflow.fastai` and `mlflow.fastai.autolog`, that are now outdated.

[2020-09-01 15:46] t-henri commented on #3293
Hello, so I investigated a bit and I found that when clicking on the button to hide the experiment list, we call the following function in HomeView.js:

`onClickListExperiments() {
    this.setState({ listExperimentsExpanded: !this.state.listExperimentsExpanded });
 }`

So the setState should trigger a render of the HomeView.js component and all of its child components, but in our case it doesn't

[2020-09-01 16:02] dmatrix commented on #3372
@smurching what do you think, it seems like the behavior for [constructing the cmd_str ](https://github.com/mlflow/mlflow/blob/d743a40426d5dedbde395a4e6bbdeebadbccd4dc/mlflow/projects/backend/local.py#L94)is different if the `synchronous` flag is `true.` Is that intentional?

[2020-09-01 18:49] smurching commented on #3230
Ah @mobiuscreek thanks for raising this - it would be good to open a separate issue for the fastai breaking changes, are they something you'd be willing to help fix?

[2020-09-02 02:51] harupy commented on #3353
See https://github.com/mlflow/mlflow/pull/2587

[2020-09-02 06:08] CaselIT commented on #3353
#2587 is outdated, 1.3.16+ no longer use pep517.

[2020-09-02 06:20] harupy commented on #3353
@CaselIT you're right. In 1.3.16, sqlalchemy started uploading wheels: https://pypi.org/project/SQLAlchemy/1.3.16/#files

[2020-09-02 06:41] harupy commented on #3353
@smurching Should we unpin `sqlalchemy` (We need to verify that a newer version of `sqlalchemy` doesn't cause errors in Databricks though)?

[2020-09-02 06:44] CaselIT commented on #3353
Yes, also pep517 was disabled here https://github.com/sqlalchemy/sqlalchemy/commit/fcb22fa8e26eaf7f0c1a99b8b20275a3557a240f

[2020-09-02 12:30] RealArpanBhattacharya commented on #2029
@pogil @alexnikitchuk  Potential fix - https://github.com/mlflow/mlflow/pull/3378

[2020-09-02 16:45] zdrescher commented on #3368
Turns out I was logging model as different flavor than I was loading.

[2020-09-02 16:45] #3368 closed

[2020-09-02 23:38] harupy commented on #3362
Simple example to reproduce the issue:

[code]

[2020-09-02 23:51] harupy commented on #3362
@pycaret This looks like a bug. I'll file a PR.

[2020-09-03 08:22] TaikiInoue opened #3381 "[BUG] MLflow Projects: can't copy environment variables to docker container environment"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [x] No. I cannot contribute

[2020-09-03 09:37] harupy commented on #3381
@TaikiInoue Thanks for filing this. I have created a fixed version for this issue. Can you install it using the command below and see if it works?

[code]

[2020-09-03 11:17] TaikiInoue commented on #3381
@harupy Thank you for the quick response! Your modification solves my issue :tada:

[2020-09-03 14:35] TaikiInoue opened #3383 "[BUG] MLflow Projects: there is no --docker-args option in MLflow UI"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [x] No. I cannot contribute

[2020-09-03 14:56] patrick-plutoflume opened #3384 "[BUG] Accidentally clicking on large previewable artifacts causes the web UI to hang"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-09-04 00:55] AveshCSingh commented on #3301
Thanks for fixing this in #3302 , @bramrodenburg !

[2020-09-04 00:55] #3301 closed

[2020-09-04 05:17] kzm4269 opened #3388 "[BUG] `FTPArtifactRepository.log_artifacts` does not work with `artifact_path` keyword argument."
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-09-04 06:18] harupy commented on #3388
@kzm4269 Thanks for repoting this. It looks like this is a bug. The test for `FTPArtifactRepository.log_artifacts` doesn't seem to cover a case where a directory to log contains another directory (please take a look at the code below). We'd be happy to reviewa PR.

https://github.com/mlflow/mlflow/blob/5cf346fec70d1a680915c4760a809386b1a402f2/tests/store/artifact/test_ftp_artifact_repo.py#L214-L23

[2020-09-04 10:46] MatthiasHerp commented on #3317
Hello,
I looked into the Problem with a fresh perspective after I tended to urgent work.
Apparently your tipps worked fine, i don't really know what my issue was.

In short:
1. To set up the UI Server taking the experiment and run information from a certain folder type the following in the Anaconda Prompt Powershell: mlflow ui --backend-store-uri file///:'Directory to the mlrun folder' for example

[2020-09-04 10:46] #3317 closed

[2020-09-04 14:48] Rakesh5005 commented on #2410
@RookieAKA  could you please suggest how did you solve this issue as I am still facing this issue

[2020-09-04 17:16] richardliaw opened #3389 "Integration with Ray Tune?"
Hi all, thanks for creating such a great open source project!

I'm reaching out on behalf of the Ray team, and I was wondering if you would be interested in some form of integration in Ray Tune?

[Ray Tune](http://tune.io/) is an open source project for distributed hyperparameter tuning. We recently announced a [W&B integration](https://medium.com/distributed-computing-with-ray/ray-tune-weights-an

[2020-09-04 17:19] spott opened #3390 "[FR] Stack trace on run failure"
I would be willing to contribute, but I'll need guidance, and it is possible that I won't have a lot of time for this.

## Proposal Summary

(In a few sentences, provide a clear, high-level description of the feature request)

## Motivation
- What is the use case for this feature?

Understanding *why* a job has failed is frequently more important than understanding that it failed.  Getting the sta

[2020-09-04 17:41] apurva-koti commented on #3367
Hi @greenorblack! Thanks for filing. This sounds like a great improvement.
You would need to patch the `train_loop` and `evaluate_continuously` functions you mentioned in `tensorflow.py` and set those functions to point to your patched versions. [Here is an example.](https://github.com/mlflow/mlflow/blob/5cf346fec70d1a680915c4760a809386b1a402f2/mlflow/tensorflow.py#L856) Let me know if you need an

[2020-09-05 03:18] MotiBaadror commented on #2925
@mk2s6 The JSON file is the key to access cloud. The file in my case looks like below.
[code]

[2020-09-05 19:24] smurching opened #3392 "[FR] Add model explainability with SHAP"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-09-06 09:17] shinhongwu opened #3393 "[BUG] Error in wait_for(function() mlflow_rest("experiments", "list", client = client), : Operation failed after waiting for 10 seconds"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-09-07 13:48] harupy opened #3395 "[DOC-FIX] Migrate to NumPy documentation style"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this documentation issue template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another

[2020-09-07 14:09] MatthiasHerp opened #3396 "How to log a custom model as artifact when it is run remotey from GitHub"
I've stored my model in Github with MLProject so that others may run it in various variations. Now I would like to log the models created by runs as artifacts so that users can load them with MLModel. As my model is custom this is not as simple as with flavors such as spark.
I first saved and loaded the model locally to make sure my Environment, model and artifact Code works.
Now I want to include

[2020-09-07 14:24] harupy commented on #3396
@MatthiasHerp Thanks for filing this.

Did this work or not?

[2020-09-07 14:41] MatthiasHerp commented on #3396
The Idea is that anyone can run the MLProject with the URI to create a model.  So when a user runs the MLProject the run stores the created model inside the artifacts of the run created locally. Then the user can acess the model for further use locally by loading it from he artifact Folder of the run.
In a sense similar to logging a model run from an example on Github.

[2020-09-07 14:41] TallakBergheim opened #3397 "[BUG]"
###Willingness to contribute
- [x ] No. I cannot contribute a bug fix at this time.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows Server 2016 Standard 64 bit
- **MLflow installed from (source or binary)**: Installed with Anaconda GUI
- **MLflow versi

[2020-09-07 14:47] harupy commented on #3396
@MatthiasHerp Just to confirm, you don't store your model in GitHub, correct?

[2020-09-07 14:48] MatthiasHerp commented on #3396
correct. I run the Project from GitHub and then want to store the model in the run Folder as an artifact

[2020-09-07 14:51] harupy commented on #3396
why don't you try to run your project via the command below and see if it works?

[code]

[2020-09-07 14:55] MatthiasHerp commented on #3396
My Project is running. I just want to additionally store the created model every time I run the Project as the model is Always different since it depends on the Parameters i run the model with. Does that make sense?

I'll look into that:

But I dont think it is related to storing a model right?

[2020-09-07 15:09] harupy commented on #3396
It is if your `train.py` logs a model.

[2020-09-07 15:15] MatthiasHerp commented on #3396
Yes. But my Problem is with logging the custom model. I dont seem to get the python script right.
How would you log a custom model as an artifact of a run?

[2020-09-07 15:19] harupy commented on #3396
https://github.com/MatthiasHerp/ETS_Ex_BA_MLFlow/blob/master/train.py#L672

Doesn't this line log your model?

[2020-09-07 15:20] MatthiasHerp commented on #3396
Yes it should but it doesn't, I'm getting an error back. So I'm wondering if I made made any mistake in logging the model or defining the artifacts

[2020-09-07 15:21] harupy commented on #3396
Can you provide the stacktrace when you got an error?

[2020-09-07 15:38] harupy commented on #3397
@TallakBergheim Thanks for filing this.

Looks like timestamp is stored as decimal instead of integer.

[2020-09-08 01:52] harupy commented on #3392
@smurching At my previous company, I was logging shap plot and explainer like this:

[code]

[2020-09-08 08:15] TallakBergheim commented on #3397
This might be the case. I have used a standard MLFlow command to create the database tables:
python "C:\ProgramData\Anaconda3\envs\UtvPy_38_MLFlow\Scripts\mlflow.exe" server --backend-store-uri mssql+pymssql://<my-msssql-database> --default-artifact-root file://E:/Prosjekter/MLFlow/ --host 0.0.0.0

The database runs table looks like this:
![image](https://user-images.githubusercontent.com/3862760/

[2020-09-08 09:00] greenorblack commented on #3367
HI @apurva-koti , thanks for getting back !
So, I did patch `train_loop` function to print train_steps as opposed to steps/max_steps in the previous. It works. However, there are no metrics dict created in `train_loop`, so there is nothing of significance to log here.
The main issue for me is in `eval_continuously`.

[`Eval_continuously`](https://github.com/tensorflow/models/blob/master/research/o

[2020-09-08 12:56] MatthiasHerp commented on #3396
Yes, I saved the stack trace as a MLFLow parameter in an exception.

The stack trace:
Traceback (most recent call last): File "train.py", line 677, in <module> mlflow.pyfunc.save_model(python_model=ETS_Exogen, conda_env=conda_env, artifacts=artifacts) TypeError: save_model() missing 1 required positional argument: 'path'

So I tried defining a path. As i want to store the model locally in the arti

[2020-09-08 13:13] harupy commented on #3396
Have you tried `mlflow.pyfunc.log_model(artifact_path="model", ...)` which log a specified model in the active run?

[2020-09-08 13:20] MatthiasHerp commented on #3396
@harupy That was what I was missing. Thank you. Know the model logs.

Do you have any Tipp for my second Issue?

[2020-09-08 13:23] harupy commented on #3396
This SO post might be helpful: https://stackoverflow.com/a/23464217/6943581

[2020-09-08 13:34] harupy commented on #3392
I feel like `mlflow.shap.log_explainer(explainer, path)` will be equivalent to `log_pickle` in my code.

[2020-09-08 14:27] harupy commented on #3397
@TallakBergheim Can you run code like below using against the database table and check the type of `start_time`?

Example in http://www.pymssql.org/pymssql_examples.html#iterating-through-results:

[code]

[2020-09-08 15:05] harupy commented on #3392
Found a discussion about how to save an explainer: https://github.com/slundberg/shap/issues/295

[2020-09-08 17:33] MatthiasHerp commented on #3396
@harupy , that worked. Thank you very much :)

[2020-09-08 17:33] #3396 closed

[2020-09-08 17:42] dmatrix commented on #3395
Looks more readable as part of the docstring. This is also the direction that new improvements for PySpark are heading as part of the
[Project Zen](https://databricks.com/blog/2020/09/04/an-update-on-project-zen-improving-apache-spark-for-python-users.html)

[2020-09-08 18:24] ankit-db commented on #3389
Hey @richardliaw! Setting up a meeting to chat sounds good - let me know if you'd prefer to join the MLflow Slack and communicate on there (https://join.slack.com/t/mlflow-users/shared_invite/zt-g6qwro5u-odM7pRnZxNX_w56mcsHp8g) or just email me at ankit@databricks.com

[2020-09-08 19:19] tmcclintock opened #3400 "[BUG] - `mlruns` directory automatically created without doing anything"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-09-08 20:35] TallakBergheim commented on #3397
Running this with _cursor.execute('SELECT start_time FROM dbo.runs')_ yields
![image](https://user-images.githubusercontent.com/3862760/92524644-bb18dc80-f222-11ea-8867-53105d2b1827.png)
So, yes, start_time is returned as a decimal.
Do you believe the error is on the definition of the SQL table, or in the interface between mssql and MLFlow? Anything else I can investigate?

[2020-09-08 21:24] harin commented on #3224
Hi, is there a workaround for this issue?

[2020-09-09 10:28] AlonAvrahami commented on #2651
Hi, seems like I'm having this issue too, any progress on this enhancement?
for now, as a workaround, deleting the relevant rows from the experiments table will allow me to create new experiments with previous names?

[2020-09-09 10:46] sephib opened #3402 "keras.autolog() fails when running model within a sklearn pipeline [BUG]"
## Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### System information
- **Have I written custom code (as opposed to using a stock example s

[2020-09-09 13:38] kaushalvivek commented on #2437
Found the error/fix @ukab23 ?

[2020-09-09 16:00] desertnaut commented on #2350
@dmatrix many thanks for this!

Since this issue still appears open and your post is rather "buried" in here, I took the liberty to post your code as an answer to the Stack Overflow question [Setting-up MLflow on Google Colab](https://stackoverflow.com/questions/61615818/setting-up-mlflow-on-google-colab), with full attribution of course (including links to your notebook and here).

In case you fe

[2020-09-09 19:52] dmatrix commented on #2350
Am closing this since we have a solution now.

[2020-09-09 19:52] #2350 closed

[2020-09-10 11:02] humcasma opened #3406 "[BUG] If an experiment contains a run that has an empty or NaN metric, trying to sort the runs in the UI based on that metric fails"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-09-10 16:47] Dhaval08 commented on #841
Any updates? User based filters for tracking UI would be a welcome feature.

[2020-09-11 02:33] harupy commented on #3406
@humcasma Thanks for reporting this. I was able to reproduce the error.

![issue-3406](https://user-images.githubusercontent.com/17039389/92845762-4c09d680-f422-11ea-88e7-781cfbdf8269.gif)

Looks like the error occurs when metrics cotains both an empty and `NaN`.

[2020-09-11 04:47] harupy commented on #3400
@tmcclintock Thanks for reporting this. I was able to reproduce the issue.

[2020-09-11 05:51] harupy commented on #3400
I investigated the error by inserting `raise Exception` in `FileStore.__init__` like below:

![Screen Shot 2020-09-11 at 14 49 20](https://user-images.githubusercontent.com/17039389/92869751-1d015e00-f43e-11ea-82b5-805e5780de7d.png)

Here's the stack trace.

[code]

Looks like the `mlruns` folder is created when import the tensorflow flavor.

[2020-09-11 06:47] brightsparc commented on #644
I am revisiting this to create a plugin based on the latest code a new architecture.

[2020-09-11 14:18] AdemFr opened #3412 "[BUG] mlflow run with --backend kubernetes fails when local docker image with same IMAGE ID exists"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [x] No. I cannot contribute

[2020-09-11 14:29] tbachlechner opened #3413 "[BUG] any json request to MLFLow server containing "://" fails with the current pandas version"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [X] No. I cannot contribute

[2020-09-11 15:28] harupy commented on #3413
@tbachlechner Thanks for reporting this issue. Looks like we should pin pandas.

cc @smurching @dbczumar

[2020-09-11 16:03] eedeleon commented on #3392
We have been looking into this space for a bit in our interpret-community package. Awesome to see it pop up as a top level issue!

https://github.com/interpretml/interpret-community/blob/master/python/interpret_community/mlflow/__init__.py

We targeted explanations, but explainers is another angle. I had looked at interpretable glassbox models as another approach https://github.com/interpretml/int

[2020-09-11 16:59] ankit-db commented on #3384
Thanks for filing this @patrick-plutoflume - I've set up an action item to take a look at this soon

[2020-09-11 17:31] tallen94 opened #3414 "[BUG] Loading Pyfunc Class missing custom instance methods"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-09-11 17:45] tmcclintock commented on #3400
I checked out your repository, installed, and performed `python -c "import mlflow"` and the `mlruns` directory was still created.

MacOS 10.15.4
Python 3.8.5

The reported mlflow version is 10.10.1.dev0 when I install from your fork.

Note that if you are interactive mode, the `mlruns` directory is not created until the mode is exited, not when `import mlflow` is executed.

[2020-09-11 18:07] eedeleon opened #3415 "[FR] Allow plugin support for tracking_uris that are only the schema mlflow.set_tracking_uri("plugin_schema")"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-09-11 18:07] abhi9cr7 commented on #2050
I was using both mlflow.sklearn.autolog() and mlflow.sklearn.log_model() within my experiment run. This is logging two artifacts under that specific run. When I compare those two artifacts, it looks like the artifact from autolog() is just labelled as 'model' and is smaller in size compared to the artifact from log_model().

When I try to use the artifact from autolog() by registering it in a mode

[2020-09-11 18:08] harupy commented on #3400
@tmcclintock Thanks for the comment. In my environment, `python -c "import mlflow"` doesn't create `mlruns` directory.

[2020-09-11 18:22] dbczumar commented on #2050
@abhi9cr7 Can you provide a snippet of the code that's producing this error?

[2020-09-11 18:28] harupy commented on #3400
@tmcclintock Can you share the commands you used to install `mlflow` on my branch?

[2020-09-11 18:32] yitao-li commented on #1423
@smurching @lorenzwalthert I created [PR](https://github.com/mlflow/mlflow/pull/3416) for this and saw it working in my local dev env, but there are a lot of unrelated failures from other tests in Github CI (mostly along the lines of http 404/experiment does not exist, etc). I wonder if I'm missing something.

[2020-09-11 18:43] abhi9cr7 commented on #2050
@dbczumar After training the model, these are the two artifacts I am seeing in the experiment. The LinearSVC-Model is the one logged through mlflow.sklearn.log_model() and "model" is the one logged through mlflow.sklearn.autolog().

<img width="286" alt="image" src="https://user-images.githubusercontent.com/18094820/92960842-45885880-f43c-11ea-8eba-8240b65f837e.png">

Loading the "LinearSVC-model"

[2020-09-11 18:45] dbczumar commented on #2050
Got it. Can you provide a snippet of your model training / logging code?

[2020-09-11 18:51] nlauchande commented on #3032
@AveshCSingh: I am trying to get started in OSS contributions for mlflow wonder if a can try to tackle this one with some mentorship from the community.

[2020-09-11 18:58] tmcclintock commented on #3400
I take back what I posted before. I was accidentally on `master` when I tried your test. Your fix works! Thank you.

Let me know if you want me to post in your PR.

[2020-09-11 19:04] dbczumar commented on #2050
@abhi9cr7 I'm a bit confused by the code here. It looks like `model` is undefined when passed to `mlflow.sklearn.log_model`. Also, we're reassigning `LinearSVC` to the output of `pipeline.fit()`, which I think overrides the sklearn class name in that scope. Is this the exact code you're using for training? Is the type of model you're trying to produce a pipeline or a LinearSVC model?

[2020-09-11 19:08] abhi9cr7 commented on #2050
Sorry, a typo. I am passing LinearSVC as the model in mlflow.sklearn.log_model(LinearSVC,'LinearSVC-model')

[2020-09-11 19:14] dbczumar commented on #2050
@abhi9cr7 Got it. What type of model object is returned when you call `load_model()` on the autologged model and on the model you logged manually? Are they the same? Different?

[2020-09-11 19:26] abhi9cr7 commented on #2050
@dbczumar The autologged model is loaded as sklearn.preprocessing.label.LabelEncoder and the manual logged model is loaded as a pipeline.

[2020-09-11 19:31] dbczumar commented on #2050
@abhi9cr7 Are you explicitly fitting a LabelEncoder object at any point prior to your `pipeline.fit()` call? Which sklearn execution backend are you using (single threaded, multithreaded, multiprocessing, etc)?

[2020-09-11 19:42] abhi9cr7 commented on #2050
I am using single threaded execution. I haven't explicitly fitted any LabelEncoder object. The above snippet is all of the training code.

[2020-09-11 20:05] dbczumar commented on #2050
@abhi9cr7 If you remove the call to `pipeline.fit()`, is autologging still producing a model? Also, where and how is `tfidf_transformer` defined?

[2020-09-11 20:25] abhi9cr7 commented on #2050
@dbczumar It seems like `tfidfTransformer()` is what is creating that model artifact. When I cleared the cluster state and executed again with just `autolog()`, it didn't produce any model. But when I called `tfidfTransformer()` along with `autolog()`, it produced a model artifact( didn't include `pipeline.fit()` in this run)
[code]

[2020-09-11 20:43] dbczumar commented on #2050
@abhi9cr7 Got it. Correct - each `fit()` call creates a run with a model artifact. I would recommend fitting `TfIdfTransformer` along with the pipeline itself by placing an unfit `TfIdfTransformer` in the pipeline definition *or* moving the `TfIdfTransformer` outside of your MLflow run that is used for pipeline training.

[2020-09-12 07:36] nlauchande commented on #2931
@AveshCSingh: I am trying to get started in OSS contributions for mlflow wonder if a can try to tackle this one with some mentorship from the community.

[2020-09-12 13:02] lorenzwalthert commented on #3393
I can't reproduce the problem on macOS. I get this
![Screenshot 2020-09-12 at 15 01 31](https://user-images.githubusercontent.com/10477073/92996064-d9bff180-f508-11ea-8270-304b38e8a045.png)

Maybe you can adapt the title of the issue to make it more clear it might be a windows problem? Seems with #3296 and #3319, there seem a few problems with R + Windows... -.-

[2020-09-13 23:13] sueann commented on #3299
Thanks for filing the issue. Could you clarify a few things?
1. Do you mean to update/delete experiments in Tracking, or models in Model Registry? From the title & description it sounds like you are talking about Experiments in MLflow Tracking, but you do mention `update_registered_model`, which is for updating the description of a model in model registry.

2. I think there are a few things you wa

[2020-09-13 23:52] sueann commented on #3175
Hi @danielvdende, so sorry for the delay. I think the proposal makes sense! As for your questions:

There isn't a configuration file for servers currently, so yeah adding an option to `mlflow server` would make sense. Where do you foresee the enforcement happening, though? It's a bit tricky:
* For `delete_run`, you could handle it directly in https://github.com/mlflow/mlflow/blob/master/mlflow/ser

[2020-09-13 23:55] sueann commented on #2997
@dbczumar can this issue be closed now? :-)

[2020-09-14 12:03] mdneuzerling opened #3418 "[FR] Support for `tidymodels` flavours for R"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [x] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-09-14 16:39] dmatrix commented on #3418
cc: @lorenzwalthert @javierluraschi

[2020-09-14 20:45] lorenzwalthert commented on #3418
Interesting. The follwing question arise:

- Why was the initial R flavor implemented with `{carrier}` and not just simple `rds` serialisation? And has this question any relevance for the proposed flavor.
- Autologging sounds also interesting but I'd treat that separately from the tidymodels flavors

I think we should think about dependency management also. In particular in an (partly) automated d

[2020-09-14 21:43] mdneuzerling commented on #3418
My initial attempt at this did use `carrier::crate`. It works just fine. But because this only needs one accompanying object (the model) it feels like overkill:

[code]

Even with `carrier::crate`, the ability to bundle up the pre-processing of `recipes` into a `workflow` object is extremely powerful.

Oh, and `renv` support would be excellent!

[2020-09-15 01:03] AveshCSingh commented on #2931
Hi @nlauchande, that sounds wonderful. Thank you! Feel free to ping me on the OSS Slack channel if you have any questions or would like to bounce ideas off of someone.

[2020-09-15 01:05] AveshCSingh commented on #3032
Absolutely, @nlauchande! Are you planning on implementing [this FR](https://github.com/mlflow/mlflow/issues/2931) to resolve the issue?

[2020-09-15 01:17] #3228 closed

[2020-09-15 05:52] zhangchi1 opened #3425 "Best practice to include private libraries/dependencies for Mlflow model"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-09-15 06:51] danielvdende commented on #3175
Thanks for the extensive answer @sueann :-). Glad to hear I was thinking in the right direction. Last week I actually took some time to rummage around the codebase a bit and got something working. Even if this isn't the actual solution (yet) it was time well spent, as I got to know the codebase a bit better :-).

At a high-level, I added 2 endpoints that can be used to check if it's safe to overwr

[2020-09-15 10:18] battlesnake commented on #2194
I did a quick experiment yesterday which seems to work:

tuning.py
[code]

training.py
[code]

Output from running tuning.py:

![image](https://user-images.githubusercontent.com/4949354/93198561-dcfbed00-f755-11ea-83ae-6dc1b98763c0.png)

[2020-09-15 23:03] singankit commented on #2441
The fix has been rolled out. The response to log batch request with metrics count more than 200 is as follows :
[code]

[2020-09-16 00:38] singankit commented on #2441
We are actively working on increasing the number of metrics that can be posted in a batch request.

[2020-09-16 02:25] #3400 closed

[2020-09-16 06:19] glenguo06 commented on #2164
I've also had the same issue. My remote tracking server uses a local sqlite file as backend-store and an remote FTP (NAS) server as the artifact-store. MLflow UI has the artifacts 'listed' correctly but when I click on the file for preview/download purpose it shows: "Something went wrong". The artifact_uri in the sqlite database is registered as "ftp://<username>:<password>@<host_ip>:path_to_artif

[2020-09-16 09:46] battlesnake commented on #2194
I've noticed that multi-level nesting is supported, but that the UI will flatten the second layer onwards in the list view.  I'm guessing this is by design.

If we have periodic training runs, and each run has e.g. one model per product category, I was deciding whether to nest this as `experiment / product_category / run_date` or as `experiment / run_date / product_category`...

But after remember

[2020-09-16 09:46] #2194 closed

[2020-09-16 09:52] battlesnake opened #3426 "[FR] Kibana-style one-click filtering"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-09-16 11:50] casfranco opened #3427 "[FR] Avoid save h5 model artifact when running mlflow.keras.autolog()"
## Willingness to contribute

- [ x ] No. I cannot contribute this feature at this time.

## Proposal Summary

The autolog function is great! However, is consuming a lot of memory resources because is saving the h5 model without an option to disable this feature. It would be very useful to have the possibility to disable the model save option.

## Motivation
- What is the use case for this feature

[2020-09-16 12:28] Matts966 opened #3428 "[FR] Cloud storages as remote tracking URIs"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [x] Yes. I would be willing to contribute this feature with guidance from

[2020-09-17 07:13] TallakBergheim commented on #3397
Is there anything else I can investigate here?

[2020-09-17 13:14] dniku opened #3429 "[BUG] Default experiment is not created when root directory already exists"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [x] No. I cannot contribute

[2020-09-17 18:02] zhangchi1 commented on #924
Hi, we have a similar use case, where I can install some private python library, created by ourselves. Not sure if you already have a solution of how to include your special dependencies along with your MLflow model? Thanks a lot,

[2020-09-17 20:39] eedeleon opened #3430 "[BUG] MLflow Projects Run fails for windows Absolute paths"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-09-17 21:11] eedeleon opened #3431 "[FR] MLflow expands kwarg arguments as positional arguments in RestStore, causing integration pains in plugins"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-09-17 21:18] dniku opened #3432 "[FR] Allow viewing full-size images without rescaling or cropping in Artefacts view"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-09-17 21:36] #3234 closed

[2020-09-17 22:27] LarsDu commented on #2851
I should say that I am running into a similar issue, and a `docker run -v` option would be great

[2020-09-17 23:13] smurching commented on #3415
@eedeleon thanks for filing! It seems like the tradeoffs are:

### Option 1: Delegate to plugins for tracking URI with just the scheme component, e.g. 'azureml'
#### Pros:
* Smoother workflow for plugin users, as you've described^ - users don't need to worry about constructing a URI like "azureml:" or "azureml:/"

##### Cons:
* People without the plugin installed (e.g. first-time users getting set

[2020-09-17 23:20] smurching commented on #3415
Thus I'm in favor of your proposal, will just sanity-check with some other folks!

[2020-09-17 23:33] voganrc opened #3433 "[Bug]`Models` Tab Broken in 1.11.0"
When I click on the `Models` tab in version 1.11.0, I get the following error message:

[code]

This person seems to be having the same issue:
https://stackoverflow.com/questions/63721148/getting-error-when-i-click-on-models-in-mlflow

[2020-09-18 02:12] harupy commented on #3433
@voganrc Thanks for reporting this. I was able to reproduce the error using `sqlparse==0.3.0`:

![sqlparse-error](https://user-images.githubusercontent.com/17039389/93547290-aca78f00-f99f-11ea-9321-429e3b8438e5.gif)

[2020-09-18 02:39] harupy commented on #3429
@dniku Thanks for filing this issue. I was able to reproduce the issue.

[2020-09-18 03:44] eedeleon commented on #3415
Glad to hear it! Your comment about sqlite makes me more comfortable with the proposal. Thanks for the detailed evaluation.

Defaulting to sqlite will be nice too since it has built in Model Registry support!

[2020-09-18 07:24] smurching commented on #3431
@eedeleon thanks for writing this up! Makes sense to have the MLflow client pass arguments as keyword arguments, so that store implementations can ignore unknown kwargs for forwards-compatibility - I'd be happy to review a PR making this change.

Just to confirm though, I wasn't exactly sure what this syntax meant in the provided example:

[code]

I guess the important part is that all arguments a

[2020-09-18 12:46] pravindahal commented on #892
For anyone still looking for this, here is a much more full featured implementation of the helm chart, except it seems to be slightly outdated, however, it can serve as a great starting point for someone willing to develop it further: https://github.com/larribas/helm-charts

[2020-09-18 17:59] mikeviotti commented on #866
Hi @smurching @gogasca - are either of you actively working on this plugin?

[2020-09-18 20:35] eedeleon commented on #3431
Hi @smurching, yes you are right the important part is that the key word arguments are expanded.

[2020-09-19 10:38] briankosw opened #3440 "[BUG]"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-09-19 18:55] maxim1317 opened #3441 "[BUG] MLflow UI doesn't update artifacts, that were reuploaded"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-09-20 08:06] Nithinbs18 opened #3442 "MLflow Hyperparm does not capture parameters"
Dear team,

Greetings!

I am trying to use MLflow for Hyperparameter tuning as instructed in the example documents (examples/hyperparam) but every time I run the program irrespective of the entry point (I tried all the options available random, gpyopt, and hyperopt) the program does not record any parameters.

![image](https://user-images.githubusercontent.com/44024922/93706669-bdcfd780-fb28-11ea-

[2020-09-20 16:08] rd16395p commented on #3305
with the great here, and this link I finished the server 👍
https://medium.com/@alexanderneshitov/how-to-run-an-mlflow-tracking-server-on-aws-ec2-d7afd0ac8008

[2020-09-20 16:08] #3305 closed

[2020-09-20 20:24] lorenzwalthert commented on #3418
I think it would be cool to have a workflows flavor. I see two advantages of flavors:

* Language interoperability: like with #2367 and #3416, we can save models in one language and use it in another. This is not possible with `crate` or `python_function` flavor alone.
* Convenience: In the python API, every model could be stored as `python_function` but I think it is the same as with crate: These

[2020-09-21 00:37] JeremieMelo commented on #1517
from Mlflow 1.9.1, still super slow.... just 8 runs with very few params and metrics. It takes almost a minute to react on every click.

[2020-09-21 12:23] jcf0419 commented on #1457
+1 from me

[2020-09-21 16:11] dmatrix commented on #3440
@briankosw, Can you try this [example](https://github.com/dmatrix/mlflow-tests/blob/master/py/mlflow/mlflow_issues/issue_3440.py)? It seems to work and logs the model.

![Screen Shot 2020-09-21 at 9 08 09 AM](https://user-images.githubusercontent.com/1117597/93792291-30ed5280-fbea-11ea-87b7-a62cb9dcc0ce.png)

[2020-09-21 16:21] dmatrix commented on #3440
Sorry @briankosw I miss read your issue. The logging and tracking of models and runs are done by the fluent and respective model flavor APIs. MLflowClient() is more for CRUD operations and provides you more control over these operations.

Can you share why do you wish to log models using MLflowClient rather than model flavor APIs?

[2020-09-21 16:40] dmatrix commented on #3441
@maxim1317 Thanks for filling this issue.

I tried using [your example](https://github.com/dmatrix/mlflow-tests/blob/master/py/mlflow/mlflow_issues/issue_3441.py), with additional parameters,  on my localhost, and the MLflow shows the last version logged.

![Screen Shot 2020-09-21 at 9 35 11 AM](https://user-images.githubusercontent.com/1117597/93795239-f4bbf100-fbed-11ea-8a0b-d307df608ac8.png)

[2020-09-21 16:48] maxim1317 commented on #3441
@dmatrix

Yeah, I should correct myself

I ran more tests today and the problem seems due to the caching in the browser.

After I look once at the file in mlflow ui, the file in ui doesn't update anymore.

It helps if I reset the cache, though

[2020-09-21 18:07] tinaxi commented on #3433
Hi @harupy I am able to verify that pinging `sqlparse` to `0.3.1` solves the issue. Thank you for your quick response!

[2020-09-21 21:42] dmatrix commented on #3441
@maxim1317 Thanks for the clarification. Do you still think this is an MLflow UI problem than the browser not updating the cache?
If so can we close this issue?

[2020-09-22 04:09] kparaju opened #3445 "[BUG] mlflow <= 1.10.0 requires global set_tracking_uri when downloading artifacts from mlflow"
This bug is fixed in mlflow==1.11.0 but exists in 1.5.0 to 1.10.0. I wanted to file this to document the issue for anyone else looking and can't upgrade to 1.11.0 yet. I believe https://github.com/mlflow/mlflow/pull/3360 fixes the issue.

### System information
- OS Platform and Distribution: OSX
- MLflow installed from: pip
- MLflow versions: 1.5.0 to 1.10.0  (haven't tested pre-1.5.0)
- Python v

[2020-09-22 04:09] #3445 closed

[2020-09-22 04:10] kparaju commented on #3445
Closing this as it's an informational bug for anyone googling and a workaround is already supplied (use global set_tracking_uri)

[2020-09-22 07:03] ducthienbui97 opened #3447 "[FR] Provide a way for model serving server preserve schema's column ordering in "records" format"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-09-22 09:49] soma-upday opened #3448 "[BUG] MLflow not picking up environment variables and not mounting volumes when run with --backend kubernetes"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-09-22 10:58] maxim1317 commented on #3441
@dmatrix I think you can

But maybe, when user clicks "download" button in UI, MLflow should send the file from storage, not a cached version

[2020-09-22 14:43] voganrc commented on #3433
Confirmed... `sqlparse==0.3.1` fixes this!

[2020-09-22 16:30] spott commented on #925
@gkonstanty : where are you adding the `--gunicorn-opts "--timeout 180"` option?

[2020-09-22 18:17] push-kar-desh-pande commented on #1854
The best and shortest way to solve this is to change the UI components in the built JS components.
You can change that by changing python packages in the machine where you installed MLFlow.
go to : `/usr/lib/python3.6/site-packages/mlflow/server/js/build/static/js`
There will be two files `main.*.chunk.js` and  `main.*.chunk.js.map`
Search and remove value for "Full Path".
The default value is a j

[2020-09-22 20:28] prateethvnayak commented on #3086
Can you Please elaborate on this ? I'm having the same issue.

Do I need to add (is it valid api at all below) ? :

[code]
Also, secondary question is that, I'm running it locally and not logging to an external server, so should I run `mlflow server` always before I run experiment ? Or is there a way to log and just spawn the `mlflow server` to just have the ui ?

[2020-09-22 23:22] nakul3112 opened #3450 "I am using machine A to set up tracking server on machine B, but mlflow.set_tracking_uri() gives following error."
So mlflow has a function set_tracking_uri(), where we can pass http/https URL of the tracking server as an argument. However, I dont have clue from the mlflow documents of the proper steps to start the tracking server. I am using mlflow with Nvidia's odth retinanet repository ```https://github.com/NVIDIA/retinanet-examples/```

 Here are the commands I use:

  1) `In terminal 1`:  mlflow server --

[2020-09-23 00:05] #3433 closed

[2020-09-23 00:28] ducthienbui97 commented on #3450
Seem like you can't access the `10.1.20.152` machine, probably not mlflow bug but just our network setting.
Are you able to access `10.1.20.152:5000` in your browser?

[2020-09-23 00:36] nakul3112 commented on #3450
@ducthienbui97  So here is the thing. 10.1.20.152 is machine B. I have mlflow setup on machine A. So I wonder, if I am doing right thing by starting `mlflow server`, and then the `python command` in machine A? Because, as per the mlflow documentation, just setting the remote server through this one function mlflow.set_tracking_uri() should work, right?

Yes, I can access 10.1.20.152 through ssh po

[2020-09-23 00:43] ducthienbui97 commented on #3450
so you start your server in machine A?
`mlflow.set_tracking_uri` set where the tracking server is, it expect you already have the tracking server running at that uri. So if you want the tracking server in machine B, then you have to start the server in machine B

But access `10.1.20.152:5000` in your browser?

[2020-09-23 01:28] nakul3112 commented on #3450
@ducthienbui97  I was able to solve the above error, I was doing the things wrongly.
The correct way I think is : 1) Start `mlflow-server` command on the machine which you want as tracking server (Machine B)
2) Run `python main.py --args --args` command from another machine(Machine A).

But, now I end up with another sort of Connection error. ```File "main.py", line 244, in <module>
    main()
  F

[2020-09-23 06:19] #3447 closed

[2020-09-23 10:52] E-B-Manohar commented on #613
I'm just curious.. is this issue solved?
followed the trail from :
https://towardsdatascience.com/getting-started-with-mlflow-52eff8c09c61#:~:text=mlFlow%20is%20a%20framework%20that,each%20with%20it's%20own%20capabilities.

[2020-09-23 13:03] swigicat commented on #629
Is there any update on this topic? I am trying to introduce MLFlow to our department but this issue makes it impossible to use the framework as intended for a shared project.

[2020-09-23 19:36] wuqunfei commented on #2991
Thanks everyone, I tested on my production. It works on 1.11 version.

[2020-09-23 20:13] dmatrix commented on #3441
Okay, will close it with a note to the UI/UX engineer of this anomaly.

cc: @Zangr

[2020-09-23 20:13] #3441 closed

[2020-09-23 22:45] dbczumar commented on #2429
Hi @ogrisel , unfortunately, Python pickle doesn't provide support for deserializing objects defined in the `__main__` scope of a Python script or in an interactive notebook environment unless the user also packages and re-imports their `__main__` / notebook code along with the set of pickled objects. Capturing and shipping notebook code along with a serialized ML model is often cumbersome for dev

[2020-09-23 22:53] NemanjaML opened #3453 "[BUG] Storing artifacts to amazon S3 storage does not work"
Hi everyone,

Due to instructions from the official docs at the following link: https://www.mlflow.org/docs/latest/tracking.html#amazon-s3-and-s3-compatible-storage, I tried to make connection between mlflow and amazon s3 storage, for the purpose of storing the artifacts remotely.

In the official example sklearn_elasticnet_wine I added the following line:

**`mlflow.set_tracking_uri('s3://os-ai-t

[2020-09-24 11:09] harupy commented on #3453
@NemanjaML

This is incorrect. You need to set `'s3://os-ai-team/mlflow/sklearn'` to artifact URI.

Can you try this code?

[code]

[2020-09-24 16:00] ogrisel commented on #2429
You can depend on cloudpickle as long as your enforce the fact that the environment that loads the pickle has the same version number for Python, cloudpickle and all the dependencies of the pickled models. Basically I would advise to pip freeze or conda list whenever you pickle a model with cloudpickle to be able to rebuild the exact same environment on the prediction machines and provides tool to

[2020-09-24 20:22] Anyaoha opened #3457 "[BUG] Webservice for deploying model via DBFS and other python IDEs"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-09-25 10:06] alexott opened #3460 "[DOC-FIX] Incorrect example how to add mlflow-spark to SparkSession"
### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another member of your organization be willing to contribute a fix for this documentation issue to the MLflow code base?

- [X] Yes. I would be willing to contribute a document fix with guidance from the MLflow community.

### URL(s) with the issue:

https://mlflow.org/docs/latest/tracking.h

[2020-09-25 16:20] nakul3112 opened #3463 "Using NFS server with mlflow.log_artifact() .No proper documntation on mlflow.org"
Hi, I have been trying to to use mlflow for storing params, metrics and artifacts(models) for my deep learning experiments. Till now, I have able to achieve following things:
 1) Setting up mlflow server on a remote machine and running the python script from another client machine
 2) Able to successfully store the params and metrics on the remote server, but `log_artifacts()` is not saving the ar

[2020-09-25 17:01] dmatrix commented on #3457
@Anyaoha Thanks for filing this. Can you share how you going to address this?

If you willing to contribute, please follow the [contribution guidelines](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst).

[2020-09-25 18:14] dmatrix commented on #3463
@nakul3112 Thanks for filling this question. We are working on elaborate documentation to explain various scenarios for tracking server, artifact locations, model registry, etc. This relates to #3108.

To answer your questions, both the client and server have to have access to the artifact location.

Launching the server on my localhost:

[code]
On the client side:

[code]

[code]

![Screen Shot 2

[2020-09-25 18:22] nakul3112 commented on #3463
Hi @dmatrix ,

   So you mean to say there is no need to use NFS mount or other ways?

  1) Could you elaborate more on  `both the client and server have to have access to the artifact location.`. I am also running `mlflow server` command on machine B(where I want remote server) and running the python script for training on machine A(client).

     I am still confused about the parameters --backen

[2020-09-25 18:34] dmatrix commented on #3463
@nakul3112 This example just illustrates that the client has to have access to the `default_root_artifact_location`. In my case, it is local directory other than the default `./mlruns`. If this was an S3 bucket or an NFS mounted directory, it would have to be accessible both in the server and client.

`--backend-store-uri` is where the tracking server logs MLflow entities—parameters, metrics, tags

[2020-09-25 18:48] nakul3112 commented on #3463
@dmatrix .

The mlfow documentation is really confusing.
1)  So what would be the order of running the commands? Should the python code be run first, or mlflow server command?

2) I am able to use default backend-store at ./mlruns and am successfully able to see the params and metrics at the server side. Only the artifacts is a issue.

[2020-09-25 19:06] dmatrix commented on #3463
@nakul3112, hence the #3108 to clarify some aspects.

Now that I have answered your questions, can we close this issue?

[2020-09-25 21:49] HCoban commented on #1749
Hello @andychow-db @mparkhe,

I am a first time contributor.

Is someone working on this, currently? If not, I would like to.

[2020-09-26 19:16] akemisetti opened #3464 "[BUG] mlflow_log_artifacts does not honor a valid directory for artifact_path parameter"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**
### Willing

[2020-09-26 19:56] akemisetti commented on #3464
The error message is misleading. I tried to specify only a single string as artifact_path and it went through fine. It would be helpful if it is properly documented and a correct error message is used.

[2020-09-26 19:56] #3464 closed

[2020-09-27 09:01] harupy commented on #3442
@Nithinbs18 Thasks for reporting this issue. I was able to reproduce the issue and identify the cause.

[2020-09-27 09:06] harupy commented on #3442
Inserting `mlflow.log_params` like thsi should fix the issue.
[code]

[2020-09-27 10:54] Nithinbs18 commented on #3442
Hi @harupy
Thanks for your time and response. It works as expected now.

Regards,
Nithin

[2020-09-27 10:54] #3442 closed

[2020-09-27 14:14] nlauchande commented on #3032
@AveshCSingh : Sorry didn't relook at this thead in a while. Yes indeed i am looking at implementing this FR .

[2020-09-27 14:53] nlauchande commented on #2931
@AveshCSingh : My current idea is to truncate the value ( up to 5000 characters) at this point  :  https://github.com/mlflow/mlflow/blob/3936705d9a41ada8e526c7981bb0a119862d53c3/mlflow/store/model_registry/sqlalchemy_store.py#L526 - > Do you think it will work correctly . Pre-validation . Updating the tag value, to the truncate value. Working on a PR with this approach , still trying to find my wa

[2020-09-27 21:38] smurching commented on #3392
To follow up on the discussion in https://github.com/slundberg/shap/issues/295 & update this thread, here's the latest from @harupy's design investigation. Namely, we've agreed on the following goals:

1. Provide an easy-to-use API (e.g. `mlflow.shap.log_explanation(model_or_predict_func, features, explanation_path=None)`) for generating and persisting model explanation plots & shap values as part

[2020-09-27 21:46] smurching commented on #3392
@slundberg and others, we'd love your feedback/thoughts on:

1) What's the long-term goal for `shap.Explainer` and `shap.Explanation`? The former seems aimed at abstracting away reasoning about the model type (is it a tree model, deep learning model, etc) from the user. Is the goal of `shap.Explanation` to provide a similar model-agnostic interface that can be consumed by SHAP's plotting APIs and

[2020-09-28 06:57] gillhofer commented on #2551
I'm working with a mssql-server and I can reproduce this issue.

[2020-09-28 21:34] apurva-koti commented on #3367
cc'ing @juntai-zheng for clarity on which summary writer function to patch for this!

[2020-09-28 22:50] juntai-zheng commented on #3367
Hi @greenorblack, when running your code with the patched `eager_eval_loop`, are you setting the flag `checkpoint_dir` for evaluation? [`eval_continuously`](https://github.com/tensorflow/models/blob/ee3bfa1ecf5c0d2296bb5d32e7b34d9e0b4b0205/research/object_detection/model_main_tf2.py#L79) seems to be only called when that flag is added for eval mode.
From my understanding, `eval_continuously` [wait

[2020-09-29 10:20] kkendzia opened #3467 "[BUG] FTP directory structure wrong"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-09-29 10:21] kkendzia commented on #3467
I'd expect that every model has its own artifacts directory like it is in SFTP for example.

[2020-09-29 12:11] slamer59 opened #3469 "[FR] Add a set_artifact_uri function"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-09-30 14:06] Connossor commented on #1951
I'm getting this issue too, even after re-installing with pip

[2020-09-30 15:48] LBerth opened #3475 "[BUG] Metrics don't display for version 1.8 or later on port!=5000"
Hi everyone,

### Willingness to contribute
- [X] No. I cannot contribute a bug fix at this time.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: Yes, custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS Linux 7 (Core)
- **MLflow installed from (source or binary)**: pip
- **MLflow version (run ``

[2020-09-30 15:49] swigicat opened #3476 "Using NFS as remote artifact store with Windows client"
Hi,

This seems to be a popular topic and I've read through a lot of tickets, but haven't found an answer, so I am not sure if this is impossible or just tricky to set up.

My use-case is that I have a Windows computer that runs some experiments locally, then tries to log metrics and artifacts to a remote server (Linux). The metrics are stored and work very well. However, it's not clear how to set

[2020-09-30 21:15] lorenzwalthert commented on #3418
I filed https://github.com/r-lib/carrier/issues/5 to discuss renv support for carrier. If this is implemented, the crate flavour could then optionally also use `renv` for dependency management the same way `conda` can be used for Python. Maybe we should open a separate issue for renv support anyways. Any feedback welcome on that.

[2020-09-30 21:26] lorenzwalthert commented on #3223
So in my understanding, maybe the issue does not have to do so much with mlflow and is more of a sparklyr + databricks issue? The source of the error can be found here: https://github.com/sparklyr/sparklyr/blob/f5f5f196bd82d1e527310649dcb0cbdb2b6359a3/R/databricks_connection.R#L39. Unfortunately neither do I know why you need SparkR nor why you get an error, but it might be worth trying to submit

[2020-09-30 21:29] NemanjaML commented on #3453
Thanks a lot!

[2020-09-30 21:29] #3453 closed

[2020-09-30 23:58] ZackBarry opened #3478 "[BUG] log_artifact timeout"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ x ] No. I cannot contribut

[2020-10-01 04:04] lqdev commented on #2948
This looks promising.

https://github.com/googleapis/gnostic

I'll investigate a bit.

[2020-10-01 05:10] lqdev opened #3480 "[SETUP-BUG] Dev Requirements Warning"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this installation issue template to ensure a timely and thorough response.**

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **MLflow installe

[2020-10-01 05:26] lqdev opened #3481 "[SETUP-BUG] Install from source test requirements PyTorch error"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this installation issue template to ensure a timely and thorough response.**

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **MLflow installe

[2020-10-01 07:09] lqdev opened #3482 "[SETUP-BUG] Commit hook not working on Windows"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this installation issue template to ensure a timely and thorough response.**

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **MLflow installe

[2020-10-01 07:27] sephib commented on #2769
Hi,
@harupy   - have you considered to support `autologging` ?

[2020-10-01 07:33] harupy commented on #2769
@sephib Yes, I think we could use the same approach as XGBoost and LightGBM.

[2020-10-01 08:59] sephib commented on #2769
@harupy Please let me know if I can assist in any manner

[2020-10-01 09:25] thomasfrederikhoeck opened #3483 "[FR] Enable using azure-identity for azure blob for AAD"
## Willingness to contribute

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from the MLflow community.
- [ ] No. I cannot contribute this feature at this time.

## Proposal Summary

Allow users to authenticate to Azure Blob storage with AAD instead of storage key

## Motivation
- Moving all access management to deploy

[2020-10-01 09:33] 5ke commented on #925
I couldn't get `mlflow ui --gunicorn-opts "--timeout 180"` to work either (error: `no such option --gunicorn-opts`)

But the following worked for me:
`GUNICORN_CMD_ARGS="--timeout 180" mlflow ui`

[2020-10-01 09:36] thomasfrederikhoeck commented on #3483
Let me know if this is something that would be accepted, an I will create a PR 😄

[2020-10-01 11:04] gkonstanty commented on #925
Sorry, @spott, I missed your msg.

I'm adding it to `mlflow server`:
[code]

[2020-10-01 15:31] Dhaval08 commented on #1510
@MainHanzo Were you able to figure out a solution? I am facing the exact same error. Thank you.

[2020-10-01 16:35] dmatrix commented on #3476
@swigicat Yes, both the client and where the remote tracking server. So if you have mounted your Linux-based NFS on your windows machine d:\\mnt\tracking and on the Linux tracking server as /mnt/tracking, it should work.

On the linux machine, launch your tracking server:

[code]

On. your client windows machine in the code:

`mlflow.set_tracking_uri("http://ip_of_tracking_server:5000")
`

Does th

[2020-10-01 16:39] dmatrix commented on #3478
@ZackBarry Am cc the R contributors
cc: @kevinykuo

[2020-10-01 16:41] dmatrix commented on #3480
@harupy do you now anything about this?

[2020-10-01 16:42] dmatrix commented on #3481
cc: @harupy

[2020-10-01 16:50] dmatrix commented on #3482
cc: @harupy Do we need this `#!/bin/sh` in the `hooks/prepare-commit-msg`? Is t that spawned off as a shell command?

[2020-10-01 18:38] lqdev commented on #3481
@dmatrix I did

[2020-10-02 11:06] Amarchuk opened #3487 "mlflow silently fails to load results [BUG]"
Hi there,

### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot

[2020-10-02 15:05] harupy commented on #3475
@LBerth Thanks for reporting this. Can you check if an error appears in the developer console on Firefox?

[2020-10-03 17:12] claywey opened #3490 "Databricks: Cannot register sklearn model because of Metadata issue when using workspace experiment"
I was working with the Pycaret library to log models to mlflow. The models were logged to the a workspace experiment and the artifacts were save to an Azure datalake mount point. However, I received this warning. Note: I am running Databricks Runtime 7.3ML

"WARNING mlflow.models.model: Logging model metadata to the tracking server has failed, possibly due older server version. The model artifacts

[2020-10-04 20:22] Mika24 commented on #3490
I have the similar issue.
I log and store the artifacts (conda.yml, MLModel, mode file) in the ml flow tracking server in Azure Databricks. But afterward, I download these file and upload them to Azure DataLake storage. Then I tried to read from the DataLake storage with "load_model" and I can see the model is loaded successfully and the metadata of model is also available.

However, after I regis

[2020-10-05 05:01] drod331 commented on #3224
I think it's worth implementing, as going towards the `SavedModel` format opens up a lot of possibilities in the TensorFlow space, particularly TFX and TF Serving.  I don't think there is a solution that maintains backwards compatibility, but its worth a shot.  Is anyone working on this currently?

[2020-10-05 10:03] zanitete opened #3493 "Missing version update to 1.11.1.dev0 on master [SETUP-BUG]"
Rebasing my PR on master, I noticed the version on master is still 1.10.1.dev0, should't it be 1.11.1.dev0?
I see that normally there's a PR from 'mlflow-automation' that bumps it (i.e. https://github.com/mlflow/mlflow/pull/3174) but I don't see it for the 1.11 release.

[2020-10-05 13:34] Amarchuk commented on #3487
Ok, seems like I locate the problematic part: in metadata yaml files `artifact_location: file:///opt/app-root/src/mlruns/1` looks incorrect. I try manually change in every `meta.yaml` it to `artifact_location: /opt/app-root/src/mlruns/1` and everything works after that.

BTW, for some reason looks like Ubuntu-related issue, but I didn't confirm that

[2020-10-05 17:34] dbczumar commented on #3402
@sephib This issue has been addressed via https://github.com/mlflow/mlflow/pull/3387, which will be incorporated into the next release of MLflow. Prior to #3387, autologging calls overwrote function definitions / signatures, resulting in the parameter  validation failures described in this issue.

I've confirmed that the following code now succeeds on the `master` branch of MLflow, while it curren

[2020-10-05 17:34] #3402 closed

[2020-10-05 19:54] yitao-li opened #3494 "[FR] tracking event callbacks for external observers in R interface of mlflow"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [x] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-10-05 19:55] yitao-li commented on #3494
cc @javierluraschi

[2020-10-06 06:49] kkendzia commented on #3467
Any infos here?

[2020-10-06 10:35] yitao-li commented on #3494
@smurching @lorenzwalthert Please let me know what you think of this proposal. This is my first time creating a feature request for mlflow btw :slightly_smiling_face:

I plan to work on this soon assuming the proposal makes sense. It should be fairly small coding-wise.

[2020-10-06 10:46] lorenzwalthert commented on #3494
Looks interesting, but I am not sure I fully understand the end goal of it. I also wonder if something similar should be implemented for Python and ergo if a native R implementation is desirable.

[2020-10-06 10:51] lorenzwalthert commented on #1423
This should be considered closed with #3416 (should probably have used `closes #[PR number]` syntax to automatically close it with the PR).  @yitao-li I think it would be cool to implement more backends, i.e. sparklyr/MLeap integration or lightgbm, following the same pattern as #3416. Also note that there is a tidymodels flavor discussion in #3418.

[2020-10-06 11:21] yitao-li commented on #3494
@lorenzwalthert One goal at the moment is to eventually have a plugin for RStudio IDE that can at least help people visualize all the MLflow experiments they are running, and possibly more. Same should be done for Python as well if we foresee any IDE plugin implemented in Python that will benefit from those optional callbacks.

[2020-10-06 11:34] lorenzwalthert commented on #3494
Ok, thanks for the explanation.

[2020-10-06 12:08] LBerth commented on #3475
Yes, there are 2 error messages and many warnings, here is the screenshot of the console:
![mlflow-web-console](https://user-images.githubusercontent.com/19271957/95199611-60e94800-07dd-11eb-9229-64786945c9ce.png)

[2020-10-06 16:35] dniku commented on #863
Adding a vote here. It is convenient to see the entire output of a run, including its stdout & stderr, stored in one place.

[2020-10-06 18:41] amesar commented on #3490
Probably because your new imported registered model is still pointing to the run URI on the old tracking server. You would need to import the run too. Migrating experiments/runs/models isn't well articulated in MLflow.
This may help: https://github.com/amesar/mlflow-tools/tree/master/mlflow_tools/export_import

[2020-10-06 22:21] Mika24 commented on #3490
Thanks Andre for the guidance. Will definitely try it out.

[2020-10-06 23:45] safrazRampersaud commented on #2469
Following @avflor ... this looks like a solution I have been looking for. Any updates would be great!

[2020-10-07 02:18] sivakumarl opened #3499 "How to serve model manually without using mlfow model serve command"
Hi Team,

         I have created the conda environment with help of **_mlflow prepare-env_** command , after that i am trying to launch/serve the model manually with the command that being used by **_mlflow models serve_**   i.e., ` gunicorn --timeout=60 -b 0.0.0.0:8080 -w 1 ${GUNICORN_CMD_ARGS} -- mlflow.pyfunc.scoring_server.wsgi:app`

      As per my analysis i understand that for serving the

[2020-10-07 13:36] mirkohin1991 opened #3500 "[BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-10-07 20:00] JustinCharbonneau commented on #2690
I ended up getting the same issue when I deleted all my experiments. The workaround I did was delete the empty mlruns folder. Then, I launched mlflow ui which re-created the mlruns folder with the default experiment 0. After that I was able to create new experiments again in my notebook.

[2020-10-07 23:54] ankit-db commented on #3432
Hi @dniku - is there a reason that you would like to avoid downloading the image?

[2020-10-08 04:19] harupy commented on #3500
@mirkohin1991 Thanks for reporting this, I wasn't able to reproduce the issue. Please let me know if I'm missing something.

[code]

[2020-10-08 05:21] dniku commented on #3432
Yes — that's simply faster (fewer clicks), and therefore more convenient.

[2020-10-08 14:56] yitao-li commented on #3223
Agree with what @lorenzwalthert mentioned. I also want to mention that the dependency on `SparkR` is something Databricks (i.e., it's not needed at all by the rest of `sparklyr` and only becomes required when you need to connect with Databricks from `sparklyr`).

[2020-10-08 15:16] yitao-li commented on #3223
Unfortunately `SparkR` may not be available on CRAN though. You probably need to install it from source, e.g., `devtools::install_github('apache/spark@v2.x.x', subdir='R/pkg')` or similar.

[2020-10-08 17:03] dmatrix commented on #3490
@Mika24 Let us know if this works, so we can close this issue.
cheers!

[2020-10-08 17:05] dmatrix commented on #3493
cc: @harupy is this a bug?

[2020-10-08 17:27] harupy commented on #3493
@dmatrix
I think we just forgot to update the version.

[2020-10-08 18:03] claywey commented on #3490
@dmatrix My original issue is a bit different from @Mika24 issue.

I am working within Databricks. When I have a workspace experiement which is logging and saving aritifcats to my Azure Datalake, I expect to register a model from that workspace experiment given that artifact location. However, Mlflow is not logging the metadata correctly. When I go to register the model from the UI, it says that "

[2020-10-08 20:43] PhilMacKay opened #3503 "Contour Plot render broken since 1.8"
After upgrading my mlflow package (which was outdated by many versions), I noticed the Contour Plot in the "compare-runs" view is now broken.
What used to look like this:
![image](https://user-images.githubusercontent.com/1019715/95511116-85dce700-09a6-11eb-83d8-bf958b63eb47.png)

now looks like this:
![image](https://user-images.githubusercontent.com/1019715/95511244-b886df80-09a6-11eb-9c7f-47724

[2020-10-08 22:17] mkierans commented on #2360
Please provide some updates here. This would also be useful for my models.

[2020-10-09 03:07] harupy commented on #3503
@PhilMacKay Thanks for the investigation. It looks like `scattergl` ([this line](https://github.com/mlflow/mlflow/blob/2dfe60e550c85a33501ff11e206c227f0c808404/mlflow/server/js/src/experiment-tracking/components/CompareRunScatter.js#L126)) is causing the issue.

With `scattergl`:

![Screen Shot 2020-10-09 at 12 05 21](https://user-images.githubusercontent.com/17039389/95537146-e7916580-0a27-11eb-8

[2020-10-09 09:47] AVSuni opened #3505 "only metrics and params showing in UI, not tags, model nor other artifacts"
I am running MLFlow 1.11.0.

mlflow.log commands work perfectly fine and folders for artifacts and tags are saved in the same folder as the folders for metrics and params. However, only metrics and params are displayed in the UI. Any ideas what might cause this?

UI shows `" Artifact Location   file:///home/jovyan/host_drive/mlruns/5"`

Running
`mlflow.get_artifact_uri()`

gives

`'file:///home/jo

[2020-10-09 09:59] harupy commented on #3505
@AVSuni Could you share your code?

[2020-10-09 10:03] AVSuni commented on #3505
Thanks @harupy . I am basically using the logistic regression example from mlflow/examples

![image](https://user-images.githubusercontent.com/29711150/95570488-a7ce7c00-0a2f-11eb-80e0-0c8442d2742c.png)

[2020-10-09 10:05] harupy commented on #3505
@AVSuni Can you paste the code as a comment?

[2020-10-09 10:13] AVSuni commented on #3505
`import numpy as np
import mlflow
import mlflow.sklearn
from sklearn.linear_model import LogisticRegression

penalty = 'l2'
X = np.array([-4,2 -1, 0, 1, 2, 1]).reshape(-1, 1)
np.savetxt("foo.csv", X, delimiter=",")
y = np.array([0, 0, 1, 1, 1, 0])
lr = LogisticRegression(penalty = penalty)
lr.fit(X, y)
score = lr.score(X, y)
print("Score: %s" % score)
mlflow.log_metric("score", score)
mlflow.log_p

[2020-10-09 10:17] harupy commented on #3505
I wasn't anble to reproduce the issue in my environment.

<img width="551" alt="Screen Shot 2020-10-09 at 19 16 40" src="https://user-images.githubusercontent.com/17039389/95571828-06155200-0a64-11eb-8dad-2dedd1d2473a.png">

[2020-10-09 10:18] harupy commented on #3505
Does the same thing occur when you run the code as a script, not in the notebook?

[2020-10-09 10:27] AVSuni commented on #3505
Thanks. That's good to know. Yes, the same thing happens when running as script

[2020-10-09 10:30] harupy commented on #3505
Can you remove the `mlruns` folder and try running the code again?

[2020-10-09 10:35] AVSuni commented on #3505
Had no effect I'm afraid

[2020-10-09 10:40] harupy commented on #3505
How did you lauch the MLflow UI?

[2020-10-09 10:50] AVSuni commented on #3505
I have used the following:

`mlflow server --backend-store-uri file:///host_drive/mlruns --default-artifact-root file:///host_drive/mlruns --host 0.0.0.0`

[2020-10-09 10:57] harupy commented on #3505
Can you try `mlflow ui` (without any option)?

[2020-10-09 11:30] AVSuni commented on #3505
`mlflow ui` without options does not give me any of my runs, so even worse than the starting point :)

[2020-10-09 11:34] AVSuni commented on #3505
One odd detail is that I get `status: UNFINISHED` in all of my runs in the UI

![image](https://user-images.githubusercontent.com/29711150/95578442-917aed00-0a3c-11eb-89b3-f7b03e1813b1.png)

[2020-10-09 11:47] harupy commented on #3505
Did you run the code in https://github.com/mlflow/mlflow/issues/3505#issuecomment-706095780 without `create_experiment` or `set_experiment`?

[2020-10-09 11:57] AVSuni commented on #3505
Including/excluding `create_experiment` or `set_experiment` does not make any difference.

[2020-10-09 12:04] harupy commented on #3505
It's strange. The code should create an `mlruns` directory in the current directory and `mlflow ui` should load the runs stored in it.

[2020-10-09 12:16] AVSuni commented on #3505
Found the cuplrit! I had the training model running in one container and MLflow server in another container. Clearly metrics and params don't mind that the file path looks different inside the two containers, but artifacts won't show correctly unless the paths are identical inside the containers even when though everything is saved in the same location on the host. As you can see, the two paths in

[2020-10-09 12:22] #3505 closed

[2020-10-09 14:38] #2673 closed

[2020-10-09 16:22] dmatrix commented on #3493
@harupy do you want me to update this since I have a branch for code snippets?

VERSION = "1.10.1.dev0" -> 1.11.1.dev0?

[2020-10-09 18:25] dmatrix commented on #3490
@claywey
Can you try something simple on your Azure Databricks?

[code]

[code]

Are the artifact URI from experiment and run the same? For Azure will be blog URI

[2020-10-09 21:11] claywey commented on #3490
Here's the output from the first one. It is logging to a notebook level experiement. I am able to register the model from the UI with this run.

run_id: 249ebbce54ab41d199fce8fc3ad31ad4
run_id: e26839f30b08403db237a6dac7deace2
run_id: 88fb4a17d04244c58db4f2229b9ca5b5
run_id: caaad72d41494117b9507bd81b20185c
Name: /Users/clayton.weymouth@lucinahealth.com/mlflowtest
Experiment ID: 1544858569275687
A

[2020-10-09 21:39] dmatrix commented on #3490
@claywey if you set and experiment then make sure that when you start that run, that run is logged under that experiment if that's where you want your runs to reside under.

For example,

[code]

[2020-10-09 23:37] dllu opened #3511 "[BUG] MLflow CLI takes a long time to display help and version"
**Please fill in this bug report template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a f

[2020-10-09 23:38] claywey commented on #3490
@dmatrix

The runs are being logged and I can see them clearly. In the attached photo, everything circled in red is as I expect. This run logged my run, created and stored my artifacts to my datalake. But if you look at the area circled in blue, that is where I am getting the "Failed registration. The given source path does not exist." error. I am not able to add the model to the model registry. T

[2020-10-10 06:52] potoo0 commented on #3278
There a easier way than escaping all those brackets in powershell: use Replace build-in func, demo:
[code]

[2020-10-12 05:58] dalavayi commented on #2050
@dbczumar hi, i have tried this autolog feature for sklearn, I was wondering if we can print only certain parameters and metrics like  n_jobs and training_score only without having the other parameters like normalize etc for linear regression model or any other model in the same way for autolog in keras ang tf. Please let me know if we have any such customization, if not how can i achieve it using

[2020-10-12 12:30] yvainePancmu opened #3514 "[BUG]cannot autolog the parameters of distributed version of xgboost"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-10-12 12:31] yvainePancmu commented on #3514
our team is working on combining the mlflow framework with the xgboost model. Previously, I use single-instance xgboost model to train, which works fine with mlflow to log all the model-related parameters by using " mlflow.xgboost.autolog() ", but when i change to distributed xgboost version changing from python package to JVM package by including the xgboost4j.jar and xgboost4j-spark.jar files, a

[2020-10-12 12:31] yvainePancmu opened #3515 "[FR]Is mlflow support distributed XGBoost model?"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-10-12 12:32] yvainePancmu commented on #3515
our team is working on combining the mlflow framework with the xgboost model. Previously, I use single-instance xgboost model to train, which works fine with mlflow to log all the model-related parameters by using " mlflow.xgboost.autolog() ", but when i change to distributed xgboost version changing from python package to JVM package by including the xgboost4j.jar and xgboost4j-spark.jar files, a

[2020-10-12 15:41] fernandorovai commented on #3052
Any hint to help debugging and finding in which file the problem is?
This error happens to me very often and it is really hard to find the problematic file.

[2020-10-12 22:51] #3388 closed

[2020-10-13 02:24] harupy commented on #3514
@yvainePancmu Unfortunately, we currently don't support `xgboost4j-spark`.

[2020-10-13 02:35] yvainePancmu commented on #3514
Thank you for notifying it. I am still wondering if there is any other method to support dustributed model of xgboost.

[2020-10-13 03:26] AveshCSingh commented on #2931
@nlauchande , I'm sorry for the very late response. I lost track of this, but did have some time to discuss this with another committer.

Some proposals for the behavior:
(1) The truncation behavior should be controlled by a flag, to avoid breaking existing workflows that depend on intact tags. For some workflows, it is better to fail early than to write an incomplete tag.

(2) Related to (1), thi

[2020-10-13 03:55] AveshCSingh commented on #3428
Hi @Matts966 , thanks for filing this feature request. The file store is quite limited in functionality compared to the database backends. For example, it does not support the model registry. It is also generally not as performant.

For this reason, I would expect that most users who need runs to be stored on a cloud service would be best served by using a database backend. And as you point out, r

[2020-10-13 03:55] #3428 closed

[2020-10-13 04:15] bickyealias opened #3519 "[FR]Disabling download artefacts"
Hi this is a bespoke issue specific to our env.
MLFLOW doesnt currently support authentication and SSL certs.So I have implemented a reverse proxy infront using nginx to take care of those issues.
As per our security standards we dont want users to download the artefact from the UI and send it personal emails etc.So when I restrict the download using nginx it restricts the viewing as well.
Questio

[2020-10-13 07:57] kkendzia commented on #3467
fixed and validated by https://github.com/mlflow/mlflow/pull/3391

[2020-10-13 07:57] #3467 closed

[2020-10-13 16:12] harupy commented on #3290
@peidaqi Are you still experiencing this issue?

[2020-10-13 16:16] #2786 closed

[2020-10-13 16:18] harupy commented on #2786
Addressed by #3260

[2020-10-13 20:23] flowersw commented on #1044
why was this FR closed? Was it determined out of scope for mlflow?

[2020-10-13 22:18] jeisinge opened #3524 "[FR] When going back to experiment view from comparison views, keep previously compared runs selected"
# Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from