[2022-09-14 05:47] gvelimir commented on #5883
Confirmed, as of version 1.28.0, the issue does not appear anymore.

[2022-09-14 05:48] #5883 closed

[2022-09-14 06:26] harupy commented on #6757
@RohanBha1 Understood. I'll find an issue with the same difficulty.

[2022-09-14 07:56] poonamgoyal080 commented on #1815
Hi @delioda79 I am following the architecture [Scenario 5: MLflow Tracking Server enabled with proxied artifact storage access]
https://www.mlflow.org/docs/latest/tracking.html

1. I have a remote mlflow server with postgreSQL store and google bucket for artifacts
2. I use the client to create an experiment and to create a run

But still my artifacts and metadata are getting stored at default loca

[2022-09-14 09:01] #6757 closed

[2022-09-14 10:25] anneadb opened #6793 "[BUG] mlflow.tensorflow.autolog cannot log custom object"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.28.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 12.6
- **Python version**: 3.10
- **Tensorflow version**: 2.9.1

### Describe the problem

I'm trying to wrap the code used in this tensorflow tutorial https://www.tensorflow.org/tutorials/keras/text

[2022-09-14 11:06] ikrizanic opened #6794 "[FR] Add possibility to unwrap python_model from PyFuncModel class"
### Willingness to contribute

Yes. I can contribute this feature independently.

### Proposal Summary

FR could be solved by adding `unwrap(self)` method to `PyFuncModel` class. `unwrap(self)` would return `self._model_impl`, thus providing direct access to the wrapped python model. It could also return `self._model_impl` if user wants that.

### Motivation

Users would be able to load their cust

[2022-09-14 11:08] ikrizanic commented on #6794
I would also like to mention that I've seen several examples of using predict() method to return python_model, which is a workaround I have also used, this FR would provide a dedicated method for doing just this.

[2022-09-14 14:43] BenWilson2 commented on #6098
It's all yours! Let me know if you need anything when working on it :) Thank you for volunteering!

[2022-09-14 14:56] LiamConnell commented on #6610
@dbczumar I just created a PR. (Sorry about the delay!) I'm happy to continue the discussion at #6796

[2022-09-14 15:03] BenWilson2 commented on #6783
Hi @nfarley-soaren thank you for sharing the idea here. As it currently stands, the application of a signature to a model is intentionally done to ensure production-level stability for serving (no surprises). I'm not sure if adding a 'soft match' pseudo-validation option to signature enforcement aligns with the intended design of having a signature (namely, ensuring that the deployed model is cons

[2022-09-14 15:11] BenWilson2 commented on #6793
Hi @anneadb the error that you're getting isn't an MLflow exception. It's an exception from Keras.
Please see: https://github.com/tensorflow/tensorflow/issues/45231#issuecomment-799268188
and https://stackoverflow.com/questions/65050132/unable-to-restore-a-layer-of-class-textvectorization-text-classification
for guidance on correcting the issue.

[2022-09-14 15:11] #6793 closed

[2022-09-14 15:51] nfarley-soaren commented on #6783
@BenWilson2  I understand.  Thank you for considering it.

[2022-09-14 19:11] nelsoncardenas opened #6797 "[BUG] pos_label param in mlflow.sklearn.autolog not working properly"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.28.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Monterrey 12.5.1 (chip Apple M1 Pro)
- **Python version**: 3.8.13
- **yarn version, if running the dev UI**:

### Folder structure

[code]

### comma

[2022-09-14 23:21] #6462 closed

[2022-09-14 23:37] harupy commented on #6554
Fixed by #6555

[2022-09-14 23:37] #6554 closed

[2022-09-14 23:40] harupy commented on #6758
@RohanBha1 Is this issue something you'd be interested in working on?

[2022-09-15 00:03] harupy commented on #6797
@nelsoncardenas Thanks for reporting the issue. It looks like `pos_label` is not used at all when creating precision-recall curve:

https://github.com/mlflow/mlflow/blob/f7b19b8dcacff24ddfa535e7a9808cb51bdf96ea/mlflow/sklearn/utils.py#L373-L385

[2022-09-15 00:08] harupy commented on #6797
I think we can just make the following change:

[code]

[2022-09-15 00:09] harupy commented on #6797
We might need to pass `pos_label` to other plotting functions.

[2022-09-15 00:24] mlflow-automation commented on #6726
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-15 01:32] harupy commented on #6797
@nelsoncardenas Would you be interested in working on fixing this issue?

[2022-09-15 07:31] Andrew-Crosby commented on #6462
Thanks for implementing this so quickly 👍

[2022-09-15 12:37] nelsoncardenas commented on #6797
@harupy I'd like to help, I just want to make sure I'll follow the right guidelines from you, this is the first time trying to contribute to MLflow

[2022-09-15 12:44] nelsoncardenas commented on #6797
Actually, I'm reading the guideline and I found another error, do you think I should create a new issue?

https://github.com/mlflow/mlflow/blob/0a7760107ef208efcfbba35f9b74659683b239d2/CONTRIBUTING.md?plain=1#L510

[2022-09-15 13:14] #6610 closed

[2022-09-15 14:26] harupy commented on #6797
@nelsoncardenas It looks like https://github.com/mlflow/mlflow/pull/5717/ renamed the `Common prerequisites and dependencies` section. Feel free to file a new issue or a PR to fix it :)

[2022-09-15 18:49] skylarbpayne commented on #6794
I'd like to understand the needs here a little bit better.

Are these models that you want to use other functions of other supported model flavors? For example, are you logging something like `mlflow.sklearn.log_model` then loading via the pyfunc flavor and you want access to the methods of the underlying sklearn model (or other model flavor)?

My gap in understanding is that pyfunc sort of "unifi

[2022-09-15 19:03] skylarbpayne commented on #6783
Just want to throw in that I like the idea of supporting partial validation. While I understand the desire to have production grade, really enforcement requires strong assumptions about what the set of types are and how various type systems map to mlflow's type system.

The likelihood that mlflow has this wrong for at least some cases at some point in time is pretty high in my opinion (for clarity

[2022-09-16 00:18] mlflow-automation commented on #6636
@smurching Please reply to comments.

[2022-09-16 00:18] mlflow-automation commented on #6625
@dbczumar Please reply to comments.

[2022-09-16 04:13] huxuan opened #6811 "[BUG] Unexpected quote behavior for parameters."
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.28.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS and Ubuntu 20.04
- **Python version**: 3.8
- **yarn version, if running the dev UI**: N/A

### Describe the problem

For empty parameters and json pa

[2022-09-16 04:41] harupy commented on #6811
@huxuan How is this issue related to MLflow?

[2022-09-16 04:42] RohanBha1 commented on #6758
Sure that works for me, sorry on the late response, won't happen again

[2022-09-16 05:04] harupy commented on #6758
@RohanBha1 Assigned!

[2022-09-16 06:04] ikrizanic commented on #6794
@skylarbpayne Hello, thank you for your interest in this FR.

Custom models which I refer to when talking about unwrapping them could be (and often are) completely custom python classes which I use in inference pipelines.

I understand your concern with pyfunc originally used for "unifying" and now using it just as a wrapper for any custom model, but this option is very useful in workflows where t

[2022-09-16 11:24] jspablo commented on #5439
I am facing exactly the same problem with `mlflow==1.28.0` and a compatible S3 storage from Digital Ocean, I can save the artifacts and check them in S3 but getting the following error from the UI
[code]

[2022-09-16 11:31] bushaev commented on #6446
any update on this ? would a be a cool feature to have

[2022-09-17 00:16] mlflow-automation commented on #6749
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-17 00:16] mlflow-automation commented on #6748
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-17 00:16] mlflow-automation commented on #6746
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-17 00:16] mlflow-automation commented on #6747
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-17 00:16] mlflow-automation commented on #6740
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-17 02:10] JJ11teen opened #6819 "[BUG] Tensorflow, Keras autologged models cause UI errors"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.28.0

### System information

Don't believe this is system specific

### Describe the problem

Autologged models for Tensorflow & Keras specify their default artifact paths as "model", as seen [here](https://github.com/mlflow/mlflow/blob/6eccc69286

[2022-09-17 09:54] IngoStatworx opened #6820 "[FR] Fully support PyTorch schemas / signatures in Mlflow Models"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

I propose to modify the PyTorch wrapper here:

https://github.com/mlflow/mlflow/blob/6eccc69286b7d8b34ce6d34a20bf821e8c69feba/mlflow/pytorch/__init__.py#L738

to allow for arbitrary inputs to the model. Sufficient would be to allow for dictionaries, list

[2022-09-17 17:31] graelo opened #6821 "[BUG] using git tags in `mlflow run --version TAG` fails"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.28.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 12.4
- **Python version**: 3.9.13
- **yarn version, if running the dev UI**: None

### Describe the problem

First, thanks a lot for this project.

In the command `mlflow run --version VVV https://..

[2022-09-17 23:21] nnethery commented on #6446
@bushaev Should have a new commit for review out in a week!

[2022-09-18 08:37] qq240035000 commented on #545
nohup mlflow server --host 0.0.0.0 --port 5000 --workers 1 --backend-store-uri "mysql://xxx:xxx@xx:3306/mlflow?charset=utf8"
maybe the db connect error。have to add charset=utf8，it's my expe

[2022-09-18 08:38] qq240035000 commented on #5848
nohup mlflow server --host 0.0.0.0 --port 5000 --workers 1 --backend-store-uri "mysql://xxx:xxx@xx:3306/mlflow?charset=utf8"
maybe the db connect error。have to add charset=utf8，it's my expe

[2022-09-18 19:41] skylarbpayne commented on #6783
Thanks for the consideration folks! I'm happy to share thoughts on how I think this should behave. But might be worth beginning with reification of what I mean with "partial validation", because I think some folks may have a different scope in mind. Not to say mine is "correct" :).

I think of partial validation as simply: being able to validate some inputs while skipping others, so that I can get

[2022-09-19 01:43] huxuan commented on #6811
Hi @harupy, thanks for the response and sorry for being uncleaner. The related code is in this line [1]. And there is also a screenshot I can share, normal parameter in str is recorded just as it is, e.g., the last `torch` parameter in the screenshot. But empty and json (passed with -P KEY='["lane"]') parameters will be recorded with an redundant single quote at the beginning and end of it. Just l

[2022-09-19 05:01] anuarkaliyev23 commented on #6076
@BenWilson2 @WeichenXu123
Hello, [PR 6591](https://github.com/mlflow/mlflow/pull/6591) have been recently merged into `master`
It allows to generate `dockerfile` as an additional option to building an image directly

From what I understand, `podman` and other alternatives can build images from `Dockerfile`, so it might be easier for users to use this feature for desired build? It will be easier to

[2022-09-19 18:48] chaturvedakash opened #6825 "[BUG] Docker container built using mlflow build-docker throws '413 Request Entity Too Large' on inferencing data above 5m."
### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### MLflow version

1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04.6 LTS (Bionic Beaver)
- **Python version**: Python 3.8.5
- **yarn version, if running the dev UI**:None

### Describe the problem

Docker container built using mlflow build-docker thro

[2022-09-19 19:30] #6794 closed

[2022-09-19 22:27] nfarley-soaren commented on #6783
I appreciate the opportunity to participate in this and would be happy to throw in my thoughts.  I hope more people weigh in on this because I'm definitely focused on my current use-case and may be a bit myopic regarding the needs of other users.  I'll be meeting with my team tomorrow to get their opinions/feedback and will have a more detailed response for you guys after that.

[2022-09-19 22:49] BenWilson2 commented on #6811
It's a string encoded list... How is that redundant? MLflow tracking doesn't permit storing collections.
What is the alternative behavior that you're expecting?

[2022-09-19 22:53] BenWilson2 commented on #6819
Hi @JJ11teen can you validate this behavior outside of your plugin and confirm that you see the exact same issue with 'vanilla MLflow' ? If so, we would be happy to review a fix to (either the JS code or the underlying artifact repository code) that addresses the path parsing issue that appears to be happening.

[2022-09-20 00:23] BenWilson2 commented on #6821
It looks like to make this work with tags will need a modification to https://github.com/mlflow/mlflow/blob/5ddfe9a1b48e065540094d83125040d3273c48fa/mlflow/projects/utils.py#L194-L235 to support prefacing a tag with `tag/<tag_id>` when submitted with the `-v` option to the projects cli run command.

Marking this as open for community engagement.

[2022-09-20 00:33] BenWilson2 commented on #6825
Hi @chaturvedakash thank you for agreeing to work on a PR for this. We'll eagerly review it once it is submitted. Feel free to reach out with any questions!

[2022-09-20 00:33] mlflow-automation commented on #6758
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-20 00:33] mlflow-automation commented on #6767
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-20 00:36] BenWilson2 commented on #6820
Hi @IngoStatworx thanks for the idea! We'd be thrilled to review your PR when you submit it. In the meantime, if you have any questions, please let us know how we can help! :)

[2022-09-20 01:56] huxuan commented on #6811
Compared with the last item `torch`, there is an extra single quotes surrounded. IMO, empty string should just empty and json string should also be what it should be (without the single quotes).

[2022-09-20 06:44] harupy commented on #6758
@RohanBha1 Any updates for this issue?

[2022-09-20 08:33] dsgibbons commented on #6097
I can no longer work on this item. Please feel free to assign this to someone else @BenWilson2.

[2022-09-20 08:44] harupy commented on #6819
@JJ11teen @BenWilson2 I was able to reproduce the issue in MLflow 1.28.0:

[code]

[2022-09-20 08:45] harupy commented on #6819
https://github.com/mlflow/mlflow/pull/6753 erased this issue but introduced a new issue.

[2022-09-20 08:48] #6819 closed

[2022-09-20 11:00] GautamKumarSkyPointCloud opened #6836 "Unable to log "Turicreate" Model"
type(model) --> turicreate.toolkits.recommender.item_similarity_recommender.ItemSimilarityRecommender

    class SklearnModelWrapper(mlflow.pyfunc.PythonModel):

        def __init__(self, model):
            self.model = model

        def predict(self, context, model_input):
            return self.model.predict(model_input)

    wrappedModel = SklearnModelWrapper(model)
    conda_env = {

[2022-09-20 11:43] oojo12 commented on #6093
#6731
#6732
Have been merged

[2022-09-20 12:11] anneadb commented on #6793
Hi @BenWilson2,
thanks for the helpful links but the solution displayed there is not working for my code with mlflow. As long as I do not integrate `mlflow.tensorflow.autolog` it runs fine, the source of the error appears to be `mlflow.pyfunc.load_model(model_path)`. After registering the custom function with the decorator the error message remains the same.

My error message is also slightly diff

[2022-09-20 14:20] BenWilson2 commented on #6836
This isn't an MLflow issue. This is an issue with https://github.com/apple/turicreate and its inability to be pickled. We don't provide support or guarantees for the functionality of arbitrary packages. In order to get this to work, you'd have to create a custom flavor plugin that would handle alternative serialization to pickle.
One option is to use the pyfunc flavor (if that works for your use c

[2022-09-20 14:20] #6836 closed

[2022-09-20 15:24] LukasLohm commented on #6421
any updates on this one?

[2022-09-20 15:26] LukasLohm commented on #6421
and another thing - from my perspective in case of a bad_request it would be great to see the mismatch between model schema and inputschema for example. Would make the life a little easier while debugging. @dbczumar any thoughts on that?

[2022-09-20 15:32] RohanBha1 commented on #6758
Yes, I'll be done by tonight, sorry haven't updated in a while.

[2022-09-20 20:16] BenWilson2 commented on #6793
It looks like you're trying to implement a partial function approach for this model, right?
Is `standardize` a function that you're trying to pass in?
If the model you're building requires such an input then the standard flavor for TF in MLflow won't work since there are a limited set of types supported for input into the pyfunc implementation.
How does this work without using autolog?

[2022-09-20 20:59] graelo commented on #6821
Thanks for your insight!

[2022-09-20 21:18] BenWilson2 commented on #6821
Let me know if you're going to work on the PR :)

[2022-09-20 21:21] graelo commented on #6821
Yes, I just don't have the bandwidth right now, but I will let you know if I work on it!

[2022-09-21 00:34] mlflow-automation commented on #6783
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-21 00:34] mlflow-automation commented on #6771
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-21 00:34] mlflow-automation commented on #6770
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-21 00:58] nfarley-soaren commented on #6783
For some context, the data I am working with gets passed as a dictionary.  With our current paradigm, that data undergoes some preprocessing once it is passed to an endpoint.  When trying to use mlfow without enforcing data types (not having a signature), I have run into a troubling bug where strings of numbers with leading zeros (for example "001") are read in as numeric and the leading zeros are

[2022-09-21 07:28] anneadb commented on #6793
The training code looks like this:

[code]

And then I can load it like this:

[code]

So I need to tell the `load_model` function which `custom_objects` to integrate.

[2022-09-21 10:59] prouast commented on #2851
Thank you @symeneses for finding this workaround. I needed to add `/usr/bin/docker:/usr/bin/docker` volume mount to get it working.

[2022-09-21 11:57] starovoitovs commented on #6072
Installing `protobuf==3.20.1` solved the issue.

[2022-09-21 13:27] jspablo commented on #5439
Here the solution I found in case it can be useful to someone else:
When using `mlflow server` you should use your bucket name as `s3://<bucket-name>/<mlflow-folder>` and point the `MLFLOW_S3_ENDPOINT_URL` variable to your cloud provider without the bucket name. For me this is the final command:
[code]

[2022-09-21 14:17] IngoStatworx commented on #6820
Here is a draft PR of something that could work.
I was unable to make the DEV environment work locally, but perhaps you can have a look whether you can use this

https://github.com/mlflow/mlflow/pull/6851

[2022-09-21 15:06] BenWilson2 commented on #6793
Ah, I see. Pickling will fail here since the function reference is external to the generated object. Could you try refactoring to ensure that those functions become wrapped and encapsulated within the generated object and utilize the pyfunc flavor to ensure that all references are included?

[2022-09-21 15:59] starovoitovs commented on #1555
If you have access to the run, you can try the following:

    from mlflow.store.artifact.artifact_repository_registry import get_artifact_repository

    repository = get_artifact_repository(run.info.artifact_uri)
    repository.delete_artifact(filename)

[2022-09-21 16:31] ankit-db commented on #6421
@LukasLohm just to confirm - is this screenshot from the Databricks Serving product?

[2022-09-21 18:22] dbczumar commented on #6421
@ankit-db Yes, it is.

[2022-09-22 00:31] mlflow-automation commented on #6797
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-22 07:59] leewanxian opened #6856 "[BUG] Unable to import mlflow from Jupyter Lab, even though mlflow library is installed in conda env (Windows)"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.29.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 11 Home Version 21H2
- **Python version**:  3.8.13
- **yarn version, if running the dev UI**: Not applicable. I'm using Anaconda 4.14.0

### Descri

[2022-09-22 08:07] harupy commented on #6856
@leewanxian Can you run `%pip list` on your notebook and check whether the output contains mlflow?

[2022-09-22 09:01] leewanxian commented on #6856
[code]

[2022-09-22 09:13] leewanxian commented on #6856
I installed mlflow library in this manner in Jupyter lab
[code]

Below is the response after the code
[code]

Any idea which part is missing during the installation?

[2022-09-22 09:38] harupy commented on #6856
Did you restart kernel?

[2022-09-22 10:50] frsnjung commented on #3849
I would also like to have this feature to be able to deploy LGBM models easily that use features declared as categorical to use optimal bin sizes https://lightgbm.readthedocs.io/en/latest/Advanced-Topics.html#categorical-feature-support ).

[2022-09-22 13:50] Yarden234 opened #6857 "[BUG]"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.28.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Python version**:
- **yarn version, if running the dev UI**:

### Describe the problem

Hello, I want to filter in the UI al rows in experiment that the numeric value in column is null.
<img width="180

[2022-09-22 14:06] BenWilson2 commented on #6783
Hi @skylarbpayne and @nfarley-soaren, thank you very much for the elucidation on your requested features. Due to the complexity involved here and the implications throughout different parts of MLflow, we're going to have some internal review about what the design would need to be in order to fulfill as many (or most) of the requests that you've both mentioned.
While I can't promise that this will

[2022-09-22 14:14] BenWilson2 commented on #6856
@leewanxian If you want to ensure that a library is installed properly within a Jupyter Kernel, you shouldn't be using the 'bang pip' command `!pip`. You should rather be using the `%pip` magic command to ensure that the library is installed to the current virtual environment (`%pip` will execute a shell command properly while `!pip` is a shell escape command that has a low probability of installi

[2022-09-22 14:57] BenWilson2 commented on #6857
Hi @Yarden234 , this isn't a bug. This functionality has never been supported.
For a syntax guide and a listing of allowable operations for the search runs functionality within the UI, please see: https://www.mlflow.org/docs/latest/search-runs.html
If you'd like to get runs where you've failed to log metrics, I recommend using the `search_experiments` API and parsing the output with data manipulat

[2022-09-22 14:57] #6857 closed

[2022-09-22 15:02] leewanxian commented on #6856
Hi @BenWilson2 ,
I tried to reinstall mlflow with the below code & it works now. Thanks for your help.
[code]

[2022-09-22 15:02] #6856 closed

[2022-09-22 15:24] BenWilson2 commented on #6856
Glad we could help!

[2022-09-22 16:49] nfarley-soaren commented on #6783
@BenWilson2 Thank you for being open to these changes.  I can appreciate the complexity of the request though I sincerely hope that some of these features are implemented in the future.  One last issue I'd like to mention for your consideration is that of not being able to pass null values through string features.  This is another unanticipated issue that I'm facing when trying to use the signatur

[2022-09-22 21:28] dswah commented on #1529
I solved this for my use-case by with `mlflow.log_dict`

[code]

[2022-09-22 23:26] dbczumar opened #6864 "[FR] Add support for searching runs by end time"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

MLflow users can currently search for runs by the start time attribute, but they cannot search for runs by end time. This feature request proposes introducing the ability to search for runs based on end time by supplying a search filter string of the form `"attributes.end_time > 1663889102000`.

[2022-09-22 23:31] dbczumar opened #6865 "[DOC-FIX] Add start_time search examples to SearchRuns documentation"
### Willingness to contribute

No. I cannot contribute a documentation fix at this time.

### URL(s) with the issue

https://mlflow.org/docs/latest/search-runs.html

### Description of proposal (what needs changing)

Add an example that demonstrates how to search for runs by start time to https://mlflow.org/docs/latest/search-runs.html. Right now, it's not obvious how this can be done.

Example fi

[2022-09-22 23:37] dbczumar opened #6866 "[DOC-FIX] Add docs for model version & registered model search"
### Willingness to contribute

No. I cannot contribute a documentation fix at this time.

### URL(s) with the issue

https://mlflow.org/docs/latest/

### Description of proposal (what needs changing)

The MLflow website currently includes overview docs for Search Runs (https://mlflow.org/docs/latest/search-runs.html) and Search Experiments (https://mlflow.org/docs/latest/search-experiments.html),

[2022-09-22 23:43] dbczumar opened #6867 "[FR] Enable users to search for runs by run ID"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Extend the search filter syntax for `mlflow.search_runs()` to support two forms of search by Run ID:

1. Search for a single run by ID: `attributes.run_id = 'ab204ab19ef64d2eb2af6138c16584d0'`.

2. Search for multiple runs by ID: `attributes.run_id IN ('ab204ab19ef64d2eb2af6138c16584d0', '301d0

[2022-09-23 06:13] Haruki-Kny commented on #884
I had the same issue.
I used the relative path, so I changed it to the absolute path. It fixed.
To check paths,
[code]
also checked meta.yaml

[2022-09-23 11:17] hughperkins commented on #4121
This request is NOT a doc fix. It is a request to make the UI provide this info reasily.

[2022-09-23 11:18] hughperkins commented on #4121
I'll close this, and re-open as feature request.

[2022-09-23 11:18] #4121 closed

[2022-09-23 11:19] hughperkins opened #6869 "[FR] Make it easier to find the exact way to search for runName, source name etc."
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Make it easier to find the exact way to search for runName, source name etc. Ideally, provide a mouse-over for the columns on the results table, that gives the method to search for taht thing. eg if you mouse over the 'RunName' column, it will say 'tags.mlflow.runName'.

### Motivation

Make it

[2022-09-23 13:21] NastasiaSaby opened #6871 "[BUG] Conflict columns when Spark Model loading"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

mlflow-skinny 1.28

### System information

- **Databricks platform Release 11.2 ML**:
- **Python 3.**:
- **yarn version, if running the dev UI**:

### Describe the problem

When passing from 1.27 to 1.28, there's a bug with loading a Spark model tha

[2022-09-23 16:23] forons opened #6873 "[BUG] keras.log_model tensorflow_probabilistic raises an error"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.26.0

### System information

- MacOS Monterey with M1 Chip
- 3.8.13

### Describe the problem

I have a keras model that has a tfp.layers.DistributionLambda(tfd.Poisson)(input) (https://www.tensorflow.org/probability/api_docs/python/tfp/layers/Dis

[2022-09-23 17:35] BenWilson2 commented on #6869
@hughperkins Thanks for the idea!
If anyone is interested in working on this, feel free to comment here and we'll work on getting a submitted PR reviewed!

[2022-09-23 18:20] BenWilson2 commented on #6871
@NastasiaSaby
I think we tracked down the culprit. There was a pathing regression that was introduced in 1.28 for SparkML models. It was fixed with #6683.
Could you try to utilize MLflow 1.29.0 release and let me know if that solves the problem?
Sorry for the inconvenience!

[2022-09-24 00:52] mlflow-automation commented on #6811
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-24 06:46] av-maslov commented on #6867
Hello, I would like to work on it

[2022-09-24 15:40] erjieyong opened #6877 "[BUG] Unable to log complete sklearn model to mlflow"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.29

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 11
- **Python version**:  3.8.5
- **yarn version, if running the dev UI**:
- Using jupyter lab with sklearn 0.23.2

### Describe the problem

Mlflow

[2022-09-24 16:58] erjieyong opened #6878 "[BUG] Unable to run downloaded model from mlflow"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.29

### System information

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 11
Python version: 3.8.5
yarn version, if running the dev UI:
Using jupyter lab with pycaret '2.3.10'

### Describe the problem

while running pycaret with

[2022-09-24 20:17] alexacole commented on #6867
Hello, can I try to work on this issue

[2022-09-25 00:17] mlflow-automation commented on #6820
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-25 00:17] mlflow-automation commented on #6821
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-25 04:49] dbczumar commented on #6867
@alexacole Fantastic - of course! I've assigned the issue to you. Thank you in advance for your contribution, and let me know if you have any questions!

[2022-09-25 08:12] #6878 closed

[2022-09-25 08:43] ptavaressilva commented on #925
Problem persists on 1.28.0
MLflow is great, but for me this bug renders it practically useless.

[2022-09-25 12:51] alexacole commented on #6867
Hello, would you mind clarifying detail 2. regarding adapting it to mlflows run search? Am I simply modifying line 51 to use the potential mlflows run search function from the current model version search?

[2022-09-25 21:32] salinaaaaaa opened #6882 "[BUG]"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.29

### System information

Linux Ubuntu
MLFlow v1.29.0

### Describe the problem

Unable to list artifacts stored under `s3://my-s3-bucket/1/5e295e5a735949a98588637cc3735ac4/artifacts` for the current run. Please contact your tracking server admin

[2022-09-25 21:52] RohanBha1 commented on #6758
Hey @harupy I had a few questions about what I'm supposed to do. Does this task involve making both the changes shown above, or just the lower one? In addition, what does "+    # Set charset to prevent the triangle toggle buttons from being garbled" mean, and what do I do about that?

[2022-09-26 01:51] harupy commented on #6758
@RohanBha1

Yes :)

[2022-09-26 02:13] harupy commented on #6877
@erjieyong I wasn't able to reproduce the issue. Here's the code I used:

[code]

Can you try running this code?

[2022-09-26 02:59] RohanBha1 commented on #6758
@harupy Thank you so much for the clarification, that makes much more sense. Is that what:

+<!DOCTYPE html>
+<html lang="en">
+  <head>
**+    <meta charset="UTF-8" />**
+  </head>
+  <body>
+    {estimator_html_repr.estimator_html_repr(estimator)}
+  </body>
+</html>

the bolded line above is doing, or would I need to add anything else to it?

[2022-09-26 03:01] RohanBha1 commented on #6758
@harupy Thank you so much for the clarification, it makes much more sense now. Since this project is likely in UTF-8, would the line  "<meta charset="UTF-8" />  "    do the necessary specification, or would I need to add anything else besides that?

[2022-09-26 03:04] RohanBha1 commented on #6758
@harupy Thank you so much for the clarification, it makes much more sense now. Since this project is likely in UTF-8, would the line

`<meta charset="UTF-8" />
`

do the necessary specification, or would I need to add anything else besides that?

[2022-09-26 03:25] harupy commented on #6758
Yes, it does.

[2022-09-26 08:10] leweex95 opened #6889 "Getting URL of logged artifacts [FR]"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

I am running an ML pipeline, at the end of which I am logging certain information using mlflow. I was mostly going through Databricks' official mlflow tracking tutorial.

When running `mlflow.log_metric()` in a notebook, the below message shows:
[code]

And I can view the logged information by

[2022-09-26 11:19] harupy commented on #6889
Hi @leweex95, we can programmatically obtain an mlflow active run link using the following code on Databricks Notebook:

[code]

[2022-09-26 13:06] NastasiaSaby commented on #6871
@BenWilson2 , unfortunately, we still have the problem. I'm gonna try to find a way to make it more reproductible.

[2022-09-26 15:42] BenWilson2 commented on #6889
@harupy that's how I would do it! LGTM

[2022-09-26 20:59] BenWilson2 commented on #6873
Additional types were added in recent releases. Could you try using MLflow 1.29.0?

[2022-09-26 21:06] BenWilson2 commented on #6882
Can you verify that setting up a tracking server through official means in our docs (not using a 3rd party helm chart) functions correctly in your environment?

[2022-09-27 00:55] mlflow-automation commented on #6825
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-27 04:44] RohanBha1 commented on #6758
@harupy got it, thank you so much. So I looked through some of the other files and I think I have a good understanding of the actual changes made in the first part, please correct me if any of it seems incorrect: The first line defines the new function, then the estimator_html_repr function is imported from sklearn.utils. Then estimator_html is set to be an f-string and since """ is used every new

[2022-09-27 05:04] harupy commented on #6758
@RohanBha1

The HTML representation allows users to understand what the estimator consists of quickly.

Sure!

[code]

[2022-09-27 07:30] ZiChuanBuXiu opened #6904 "[BUG] `mlflow model serve` not working in Docker"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.29

### System information

- **OS Platform and Distribution**: MacOS Monterey 12.6
- **Python version**: 3.8

### Describe the problem

`mlflow model serve` not working in Docker run. No response received when calling the endpoint.

### Tracking i

[2022-09-27 07:41] LukasLohm commented on #6421
exactly @ankit-db

[2022-09-27 08:47] forons commented on #6873
Yes, I tried, but the output unfortunately is still the same.

[2022-09-27 10:36] seraus opened #6905 "[BUG] autolog not working from pyspark because of _capture_modules.py stuck"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.28/1.29

### System information

running on kubernetes v1.20.8
ubuntu 20.04,
jupyterlab 3.4.3,
python 3.8.13
spark 3.2.1 (pyspark)
minio quay.io/minio/minio:RELEASE.2022-02-18T01-50-10Z

### Describe the problem

Hi team,
I'm using mlflow to log a pysparkml model.
I've got a mlflow tracking which

[2022-09-27 10:46] jgutek opened #6906 "[BUG] Pipeline run in jupyter notebook with venv kernel doesn't use venv when running pipeline steps files"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

mlflow, version 1.29.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Oracle Linux Server 7.5
- **Python version**: 3.8.13
- **yarn version, if running the dev UI**:

### Describe the problem

I run example notebook of the regression pipeline in the jupyter n

[2022-09-27 12:47] #6864 closed

[2022-09-27 14:31] BenWilson2 commented on #6904
1. can you ping the server?
2. could you attempt to pass curl request like this:
[code]
and see what the responses are in both situations?

[2022-09-27 14:45] BenWilson2 commented on #6906
@dbczumar do we support jupyter kernel env resolution within Pipelines?

[2022-09-27 15:09] seraus commented on #6905
I'm setting them directly in jupyterlab with these:

[2022-09-27 15:48] BenWilson2 commented on #6873
Ah, my apologies on asking you to test this.
What you might want to try is to utilize the `custom_objects` argument in logging in the exact manner that you did when saving in native Keras format.
See the following test for an example: https://github.com/mlflow/mlflow/blob/3f92b645b668e06764bb8ad3c8d1e5ceeb4d97ce/tests/keras/test_keras_model_export.py#L353-L368

[2022-09-27 15:54] forons commented on #6873
What exactly is the `custom_layer` that the function is taking as argument?

[2022-09-27 16:05] seraus commented on #6905
I'm figuring out what is the problem:

the "_capture_modules.py" script create a new spark context by executing a command "java ....  pyspark-shell"
In my case I'm using a python module to set spark conf and to get a spark session:

def get_spark_session(mode="local", jars_path="/usr/local/spark/jars/"):
  if mode == "kubernetes":
    return _get_client_mode_spark_session(jars_path)  (...)
  else:

[2022-09-27 16:11] BenWilson2 commented on #6873
This https://github.com/mlflow/mlflow/blob/3f92b645b668e06764bb8ad3c8d1e5ceeb4d97ce/tests/keras/test_keras_model_export.py#L133-L159

[2022-09-27 16:18] seraus commented on #6905
and does it need to be isolated necessarily?

When doing log manually, If I use:

conda_env=mlflow.spark.get_default_conda_env()
mlflow.spark.log_model(pipeline_model,"model",conda_env=conda_env)

works perfectly and if I understand correctly, get_default_conda_env() is doing the same thing, ie collect dependencies

NB: if I omit "conda_env" parameter, there's the same problem.

Thanks for all the

[2022-09-27 16:25] forons commented on #6873
Yes, I confirm that in the custom_objects dictionary I am not passing as value the instance of the class, but it's reference, as you are showing in the example.

[2022-09-27 16:28] BenWilson2 commented on #6873
In your example:
[code]
you're not passing a dict to `custom_objects` in `mlflow.keras.log_model()`. Are you saying that you tried that and it's throwing the iterable exception?

[2022-09-27 16:30] BenWilson2 commented on #6905
This does bring up a point about potentially using the current SparkSession. We'll discuss it internally and see if there's a potential change that we could make to this to support your use case (no promises on implementing it; only that we'll discuss it :) )

[2022-09-27 16:34] forons commented on #6873
By running this code:
[code]
The error thrown is the same:
`OperatorNotAllowedInGraphError: Iterating over a symbolic `tf.Tensor` is not allowed: AutoGraph did convert this function. This might indicate you are trying to use an unsupported feature.`

[2022-09-27 16:47] BenWilson2 commented on #6873
Thinking out loud here... is it the loss function that needs to be passed?
Could you try decorating that function with `@tf.function` and then passing the ref to that function to the custom_objects?

[2022-09-27 18:53] #6748 closed

[2022-09-27 23:54] ZiChuanBuXiu commented on #6904
1. Which command to use to ping?
2. Still get the same `curl: (52) Empty reply from server`.

I managed to run the serve command locally and can call the API successfully, but just not able to serve model inside docker.

[2022-09-28 00:06] BenWilson2 commented on #6904
Are you port forwarding in docker?

[2022-09-28 00:12] dbczumar commented on #6906
Thanks @jgutek. Unfortunately, we don't currently support using the Jupyter kernel venv when executing pipeline steps at this time. We will track this request internally. Thank you for using MLflow!

[2022-09-28 00:12] #6906 closed

[2022-09-28 00:21] WeichenXu123 commented on #6905
The issue is probably:
https://github.com/mlflow/mlflow/blob/3d6827f1775d91bffe401c4dfa57c262eeff7333/mlflow/utils/_capture_modules.py#L115

We should clean 'PYSPARK_GATEWAY_PORT' and 'PYSPARK_GATEWAY_SECRET'  in OSS spark case as well.
Otherwise the child process will try to connect to the spark driver process in parent process, which causes issues.

[2022-09-28 00:34] ZiChuanBuXiu commented on #6904
Find the root issue, it was that I need to specify the host in the Dockerfile like `CMD mlflow models serve -m /model_run/model -p 5000 -h 0.0.0.0` to accept all traffic rather than only from local machine

[2022-09-28 00:34] #6904 closed

[2022-09-28 00:39] BenWilson2 commented on #6905
@seraus Could I ask you to install MLflow on your system from the branch that we just pushed in #6912 to see if this fixes your original issue?
I think this might be a bit faster than trying to recreate the setup that you described that you're running on our end. If this works, we'll get it merged and it will be a part of the next release of MLflow so that you won't have to do any work arounds to

[2022-09-28 00:44] BenWilson2 commented on #6905
i.e.,
[code]

[2022-09-28 02:02] harupy opened #6914 "Fix `pylint: disable=dangerous-default-value` in `tests/pipelines/test_train_step.py`"
Just fix the following code:

https://github.com/mlflow/mlflow/blob/fa96efefc6f415d39038ce489aaf55217c6018af/tests/pipelines/test_train_step.py#L137-L140

to:

[code]

`{}` is mutable and should not use as a default value for a function argument.

[2022-09-28 03:07] ngocnguyen97 opened #6915 "[FR] Add option to not log parameters of MLflow project run"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

I suggest that MLflow should add an option to automatically log run parameters that are passed in MLflow project run, or not to do so

### Motivation

When users wanted to pass in parameters to the run that are not related to the performance of the ML al

[2022-09-28 06:40] av-maslov commented on #6914
Hi, I can do it

[2022-09-28 07:45] seraus commented on #6905
Thanks for the directions, I'm assuming is it enough to reinstall the clientapi (module in my conda env of jupyterhub), not the mlflow tracker server. It that so?

[2022-09-28 08:29] seraus commented on #6905
same problem, stuck on the launch of the second sparkSession:

`
jovyan    3897  1.5  0.4 584140 110480 ?       Sl   08:24   0:03 /home/jovyan/condaenv/edge/bin/python3.8 /home/jovyan/condaenv/edge/lib/python3.8/site-packages/mlflow/utils/_capture_modules.py --model-path /tmp/tmp67eg90nw --flavor spark --output-file /tmp/tmpnmikgcim/imported_modules.txt --sys-path ["/home/jovyan/notebook/working",

[2022-09-28 08:32] seraus commented on #6905
![cattura-mlflow](https://user-images.githubusercontent.com/41294954/192730000-89284bec-1333-4775-9803-0195ab2548f4.JPG)

[2022-09-28 08:45] forons commented on #6873
By decorating that function with `@tf.function` and running `mlflow.keras.log_model(model, "model", custom_objects={'exp': tf.exp, 'DistributionLambda': tfp.layers.DistributionLambda, 'nll': nll})` as you suggested lead to this error instead:

[code]

[2022-09-28 08:54] WeichenXu123 commented on #6905
@BenWilson2 Would you add log command and let user rerun again ?
https://github.com/mlflow/mlflow/pull/6912/files#r982133011

[2022-09-28 09:03] nmaoez commented on #2518
Although it is a helpful feature, this issue has been open for more than 2 years. Is there still a possibility that this will be integrated into the MLflow UI soon?

[2022-09-28 09:12] #6914 closed

[2022-09-28 10:02] seraus commented on #6905
I logged in __init__

[2022-09-28 11:35] WeichenXu123 commented on #6905
Could you also test running:

[code]

on your python environment (Pls start a clean python process to try.) :)

[2022-09-28 13:49] seraus commented on #6905
working perfectly....

![capture-mlflow2](https://user-images.githubusercontent.com/41294954/192795909-655d2900-8120-4d22-9ec1-dd985b272433.JPG)
[spark.log.zip](https://github.com/mlflow/mlflow/files/9665604/spark.log.zip)

[2022-09-28 13:54] seraus commented on #6905
But.. if you look at the exception I reported yesterday, problem doesn't seem to be starting a SparkSession from your code but having it properly configured (in this case it's calling amazon while I have a local minio)
thanks

Caused by: com.amazonaws.thirdparty.apache.http.conn.ConnectTimeoutException: Connect to miniosergio.s3.amazonaws.com:443 [miniosergio.s3.amazonaws.com/52.217.88.84] failed:

[2022-09-28 14:07] anneadb commented on #6793
Hi Ben,
I'm sorry to say that I am not proficient enough with tensorflow and mlflow to follow your suggestion.

Regarding `functions become wrapped and encapsulated within the generated object`: Does this mean I would somehow have to add the custom function to my `create_model` function so that it is part of the model object? I thought it was already part of it because the vectorizer layer is a pa

[2022-09-28 15:09] BenWilson2 commented on #6905
@seraus I just pushed a change to that branch from earlier that passes the current os.environ values to the subprocess. That PR also has the 'safe' SparkSession creation from within the subprocess for local session creation. Could you try your original code configuration with that branch (uninstall then reinstall MLflow from that branch) and see if it fixes the problem?

[2022-09-28 15:14] BenWilson2 commented on #6793
Autolog doesn't support the custom_objects that you'll need to supply to ensure that deserialization functions correctly.
Could you try using mlflow.keras.log_model(<your model>, <your model name>, custom_objects={"custom_standardization": custom_standardization}) and see if that allows you to load the model correctly?

[2022-09-28 16:51] seraus commented on #6905
same problem with the new pull from git

Caused by: com.amazonaws.thirdparty.apache.http.conn.ConnectTimeoutException: Connect to miniosergio.s3.amazonaws.com:443 [miniosergio.s3.amazonaws.com/54.231.160.169] failed: connect timed out
        at com.amazonaws.thirdparty.apache.http.impl.conn.DefaultHttpClientConnectionOperator.connect(DefaultHttpClientConnectionOperator.java:151)
        at com.am

[2022-09-28 17:08] BenWilson2 commented on #6915
Is your intended design an 'all or nothing' option for logging parameters or a selective one? While the first option might be relatively trivial to implement (although requiring some modifications to the cli and the Python API), the selective approach would be more involved.

[2022-09-28 17:24] nnethery commented on #6446
@d-caviedes I have a fully functioning PR waiting for final review!

[2022-09-28 19:35] BenWilson2 commented on #6873
Can you attempt to load the model specifying that the compilation is to turn off? compile=False in the load from the mlflow instance?

[2022-09-28 20:34] forons commented on #6873
Just to be clear, the error `ValueError: No gradients provided for any variable:` appears even before trying to upload the model to mlflow.
To answer your question, I am already able to load models from mlflow but I cannot try to load this one, because I am not able to log it.
Sorry it wasn't clear.

[2022-09-28 20:35] dbczumar commented on #6867
Hi @alexacole , apologies for the delay. We can start with 1.  initially, since it's substantially simpler than 2., and we can file a separate PR for 2. later.

Regarding 2., we need to adjust the comparator validation logic for runs search to indicate the `IN` is supported: https://github.com/mlflow/mlflow/blob/cdfc3bb5fdd63d701156d3e69a6aacf417bc278a/mlflow/utils/search_utils.py#L699 (for a simi

[2022-09-28 20:40] danilopeixoto commented on #6556
Hi @harupy,

I would proceed with Option 1:

- This would help other issues like #597 and #111.
- The other assets are already using relative URL. Font Awesome looks like an exception.

At same time, I don't have mechanism to debug it in the Databricks platform.

[2022-09-28 21:53] BenWilson2 commented on #6873
right, but can you specify that same arg `compile=False` to get it to log?
If that doesn't work, I'm not entirely sure what to recommend...

[2022-09-29 00:23] dbczumar commented on #6295
Closing this out now that it's been implemented. Thanks @zhe-db !

[2022-09-29 00:23] #6295 closed

[2022-09-29 01:12] WeichenXu123 commented on #6905
@BenWilson2
Could you compare the environment varaibles DIFF between failed run case (in subprocess) and successful [case](https://github.com/mlflow/mlflow/issues/6905#issuecomment-1260945100)

[2022-09-29 02:36] danilopeixoto opened #6929 "[FR] Multipart uploading for HTTP Artifact Repository"
### Willingness to contribute

Yes. I can contribute this feature independently.

### Proposal Summary

Implement multipart upload for HTTP Artifact Repository. This will allow users to upload big size files under a more robust service.

### Motivation

Use MLflow to proxy big artifacts. Improve the HTTP experience to make it similar to S3, GCS and other stores.

Users will be able to retrieve art

[2022-09-29 02:39] danilopeixoto commented on #6929
**Proposal**

Client:

[code]

[2022-09-29 08:19] forons commented on #6873
I removed the decorator `@tf.function` from the loss function, and I tried to log the model with the parameter `compile=False`:
[code]
However, I still get an exception:
[code]

[2022-09-29 10:39] erjieyong commented on #6877
Hi, I have run the code, but am still seeing the following code.

[code]

[2022-09-29 10:47] harupy commented on #6877
The error indicate `df_submit_org` is missing the inputs. Are you sure `df_submit_org` has the same columns as the data the model was trained on?

[2022-09-29 11:20] jlmeunier opened #6932 "[FR] rename_run in API"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

I need to rename many runs (~100 of them). I can do via the UI, but it would take too long.

Since the mlflow command doesn't provide this function, I planned to create my own basic "rename" python command.

BUT: **the tracking API does not offer a renam

[2022-09-30 00:33] mlflow-automation commented on #6867
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-30 00:33] mlflow-automation commented on #6866
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-09-30 00:52] erjieyong commented on #6877
Hi @harupy , kindly ignore my issue as the issue disappeared after i uninstall and reinstall mlflow. Thanks for your assitance.

But before i close this, is there any way to remove the warning as such? it still keep appearing.
[code]

link to the necessary files as follows: https://we.tl/t-pbEKtVSE9B

[2022-09-30 01:34] helpsystems-mushkevych opened #6942 "[SETUP-BUG] dockerized local setup: Artifacts not showing in MLflow UI"
### System information

- **OS Platform and Distribution**:  Docker `python:3.9` image

- **MLflow installed from (source or binary)**: `pip`
- **MLflow version (run ``mlflow --version``)**: `1.29.0`
- **Python version**: `3.9`

### Code to reproduce issue

`mlflow.dockerfile`:
[code]

`docker-compose.yaml`:
[code]

### start-up command
[code]

### Describe the problem

The goal is to have an MlFl

[2022-09-30 09:34] gabrielfu commented on #6932
The run name is just a tag under run and an attribute in `run.info`. You can write a simple function like this:
[code]

Anyway, I don't know if this functionality is planned by the dev team. I have drafted an implementation as below, tested with FileStore and Postgres Store. If the dev team deems it desirable, I am happy to finish up the docstring & test cases and create a PR.
https://github.com/m

[2022-09-30 10:19] seraus commented on #6905
Sure, I'll let you know shortly
Thanks

[2022-09-30 10:52] PJPRoche opened #6947 "[BUG] Exception running mlflow.pyfunc.load_model with custom Python model"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.24.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux 5.4.0-1090-azure / Windows 10
- **Python version**: 3.8.10

The pip requirements inferred by mlflow are:
mlflow
astunparse==1.6.3
cloudpickle==2.2.0

[2022-09-30 11:02] jlmeunier commented on #6932
@gabrielfu  Thanks!

I'm fine with this solution (tested with a server on top of sqlite)

BUT I got an exception with the `run_name` parameter to update_run_info  (I'm using MLFlow 1.29)
`TypeError: RestStore.update_run_info() got an unexpected keyword argument 'run_name'`

So the rename function is as below and works fine.

[code]

[2022-09-30 12:53] jlmeunier commented on #6932
So here is the command I needed. Happy to share this small piece of Python code.
JL

[do_mlflow_run_rename.py.zip](https://github.com/mlflow/mlflow/files/9684335/do_mlflow_run_rename.py.zip)

[code]

[2022-09-30 14:29] nelsoncardenas commented on #6797
@harupy sorry, I think I'll not be able to work on this issue, right now I don't have so much time available.

[2022-09-30 18:08] dbczumar commented on #6929
Hi @danilopeixoto, this is a great idea! One thing we'll need to figure out before implementation is what the MLflow server should do with the each part of the multi-part upload. Right now, the server writes the content to a local temporary file and then logs it using `ArtifactRepository.log_artifact()`, where the artifact repository is determined by the MLflow server configuration (e.g. S3, Azure

[2022-09-30 18:19] ridhimag11 commented on #6869
Hi @hughperkins I'm a designer working on MLflow. Would you be open to getting on a short call to share your experience using search on MLflow? I'm also working on some design improvements on Search and would love to get your feedback. If you're okay with that, could you sign-up using this [form](https://forms.gle/V4kUfQ1YPB31AatP9) and I will get in touch with you.

Thanks,
Ridhima

[2022-09-30 18:20] dbczumar commented on #6932
Hi @jlmeunier, we'd be very excited about introducing an `MlflowClient.update_run()` API which can be used to set the status of a run (e.g. running, finished, failed) and / or the run's name, mirroring the UpdateRun API definition which was recently updated on the `master` branch: https://output.circle-artifacts.com/output/job/dcaa1233-23f2-4081-b4fe-22993114ddf8/artifacts/0/docs/build/html/rest-a

[2022-09-30 18:28] dbczumar commented on #6942
Hi @helpsystems-mushkevych , can you try adding the `hostname` configuration to your `mlflow-artifacts` service definition and then changing  `--default-artifact-root http://0.0.0.0:5500/api/2.0/mlflow-artifacts/artifacts/experiments` to `--default-artifact-root http://<your_host_name>:5500/api/2.0/mlflow-artifacts/artifacts/experiments` ? I suspect that 0.0.0.0 might not be the right hostname. Yo

[2022-09-30 18:31] seraus commented on #6905
The two list of env variables are identical and now it's working!
I didn't notice in the last try, because autolog takes a bit longer than manual log:

Autolog 2,7 min
Manual log 33 sec

Do you think is it normal?

[2022-09-30 18:36] dbczumar commented on #6947
Hi @PJPRoche, thank you for the very detailed bug report! To further isolate the problem, I have a few questions / things to try:

1. Are you running the same version of Python in your local conda environment that you're running on your Databricks cluster?
2. Can you verify that the version of cloudpickle in your local conda environment is identical to the version running on your Databricks cluste

[2022-09-30 18:44] aktiver commented on #6882
What is the correct helm repo in Git?

[2022-09-30 18:49] seraus commented on #6905
When do you think this new code will be released?

[2022-09-30 18:54] BenWilson2 commented on #6905
Yeah, autolog does quite a few things 'under the hood' and can take a bit longer. Manually setting params / metrics / logging a model will always be faster.
I'll try to clean up that branch (remove all the debug nonsense) and work on getting it merged to master in the next 4 days. It'll be part of the next release of MLflow :)
Thanks for reporting this and being patient as we did remote troublesho

[2022-09-30 19:05] alexacole commented on #6867
@dbczumar Thank you for the response and I have 1. completed with simply adding the @searchable_attribute decorator. I just need to write the test and then I can move onto 2.

[2022-09-30 19:07] BenWilson2 commented on #6882
There isn't one. That was sort of my point. https://github.com/mlflow/mlflow/issues/6118 We're looking for contributors to take it on and ensure that all of the current features of MLflow server are incorporated into something that we'll set up to publish with each new release.

[2022-09-30 19:17] helpsystems-mushkevych commented on #6942
@dbczumar  thanks. I have simplified the setup a bit

`mlflow.dockerfile` :
[code]

`docker-compose.yaml` :
[code]

[2022-09-30 19:17] #6942 closed

[2022-09-30 19:18] dbczumar commented on #6867
@alexacole Thank you so much! It looks like @harupy has implemented 2. in https://github.com/mlflow/mlflow/pull/6945/; apologies for the lapse in ownership judgement here. @harupy 's PR doesn't include the test case for 1., so it would be great to get your PR with implementation + test merged for 1., at which point @harupy can rebase. After that, we're happy to help with any additional contributio

[2022-09-30 19:23] alexacole commented on #6867
Okay, thank you. I had started working on 2. but I can easily get rid of that code and finish the test for 1. and PR it within an hour maximum if that is alright with you?

[2022-09-30 19:55] hughperkins commented on #6869
Great! Filled in the form. Thank you :)

[2022-09-30 20:13] dbczumar commented on #6867
That's perfect! Thanks @alexacole  - no rush here.

[2022-09-30 20:51] alexacole commented on #6867
@dbczumar submitted the pull request, but having issues linking it to this issue. Also, please review my test as this is honestly my first test written in the python language and I don't feel I did justice with fully checking the single run search. Thank you

[2022-09-30 20:58] wamartin-aml opened #6953 "[FR] batch retrieval for runs"
### Willingness to contribute

Yes. I can contribute this feature independently.

### Proposal Summary

Looking to add something like:
def get_run_batch(run_ids: List[str], max_results: int = 100, order_by: Optional[List[str]] = None, page_token: Optional[str] = None) -> PagedList[Run]

### Motivation

This allows users to get the run information for many runs in one network call without needing t

[2022-10-01 00:23] mlflow-automation commented on #6873
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-10-01 00:23] mlflow-automation commented on #6871
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-10-01 00:23] mlflow-automation commented on #6869
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-10-01 01:34] gabrielfu commented on #6932
Interestinig, as below `RestStore.update_run_info()` does have `run_name` argument. Which `mlflow` version are you using?

https://github.com/mlflow/mlflow/blob/42fc25dbc0e32d58669be4e3024f30b46b2c40a1/mlflow/store/tracking/rest_store.py#L166

[2022-10-01 01:40] gabrielfu commented on #6932
@dbczumar great suggestion
@jlmeunier are you interested in working on this? if not, do you mind me doing it? :)

[2022-10-01 08:19] RohanBha1 commented on #6758
Hey @harupy sorry, I'm in Florida and we just got hit with a hurricane so my power is just coming back. I meant to ask the following a few days ago following our last conversation, but unfortunately given the hurricane I was unable.

Thank you so much for the continued explanation, I just had a few more questions about the estimator. I was looking through some of the scikit-learn documentation and

[2022-10-02 00:21] mlflow-automation commented on #6877
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-10-02 06:26] RohanBha1 commented on #6758
@harupy hey, I just made the according changes, should I make a PR for branch 2.0?

[2022-10-02 10:04] shaikmoeed commented on #6617
@dbczumar I can contribute to this issue if someone from the community can guide me :)

[2022-10-02 13:48] harupy commented on #6758
If we log this HTML as a file, we can view in on MLflow UI.

[2022-10-02 13:49] harupy commented on #6758
You can file a PR against master.

[2022-10-02 17:10] RohanBha1 commented on #6758
Let me know if I need to make any further changes

[2022-10-03 00:28] mlflow-automation commented on #6882
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-10-03 02:05] salinaaaaaa commented on #6882
im working on a helm chart you guys can take and refactor -- coming soon,
sit tight!!

On Sun, Oct 2, 2022 at 7:28 PM mlflow-automation ***@***.***>
wrote:

[2022-10-03 05:22] HassanRaza1313 opened #6958 "Issue While Serializing Model When Logging With Mlflow Mleap"
I am facing an issue when logging my model through the mlflow.mleap.log_model function. Below are my following settings:

I created an experiment with the local file path set as the artifact_location argument.

mlflow.create_experiment\
    (
        name="decision_tree",
        artifact_location="file:/D:/Mlflow/artifacts",
        tags={"version":"v1","priority":"p1"},
    )

I used the spark m

[2022-10-03 06:25] #6758 closed

[2022-10-03 09:33] tsungjung411 commented on #6268
## same issue also happened in [AutoGluon](https://auto.gluon.ai/0.1.0/install.html)
[code]
But we can't modify the code in autogluon

[2022-10-03 11:59] NastasiaSaby commented on #6871
I'm coming back with more info. I've succeeded to reproduce it on the community Databricks edition. You'll find  the notebook and the Python file to reproduce the problem here: https://github.com/NastasiaSaby/bug_mlflow

Cluster : 11.2 ML Databricks

[2022-10-03 14:41] BenWilson2 commented on #6871
@NastasiaSaby Thank you for the thorough investigation. We'll take a look at how ALS behaves within the "spark" flavor for MLflow and determine if we need to add special handling to support this due to the different behavior of how ALS stores its serialized model (as it is storing actual sets of tables).
This might take some time due to other pending work, so please bear with us.

[2022-10-03 15:01] harupy commented on #6877
@erjieyong

You can ignore the warning using `filterwarnings`:

[code]

[2022-10-03 15:37] bramrodenburg commented on #6619
@dbczumar Happy to pick up this issue

[2022-10-03 15:39] dbczumar commented on #6619
Awesome! Thanks @bramrodenburg! I've assigned this issue to you!

[2022-10-03 17:16] addisonklinke opened #6962 "[FR] Deployment plugin for Cortex"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Create a model deployment plugin for [Cortex](https://github.com/cortexlabs/cortex)

### Motivation

Simplifying the integration between MLflow Model Registry and Cortex

Cortex was recently [acquired](https://www.databricks.com/blog/2022/04/25/cortex-labs-databricks-model-serving-mlops.html) b

[2022-10-03 17:23] addisonklinke opened #6963 "[FR] Model flavor for CoreML (Apple iPhone ANE)"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Support a model flavor for Apple's CoreML graph format which is required for running on the iPhone's ANE chip

### Motivation

Allow MLflow models to be logged with a CoreMl flavor

The iPhone's ANE chip is one of the fastest edge inference devices on th

[2022-10-03 20:03] wamartin-aml opened #6964 "[FR] Add batch retrieval of registered models from a list of model versions"
### Willingness to contribute

Yes. I can contribute this feature independently.

### Proposal Summary

Extend search_registered_models or create a new method that allows users to get registered models in a single call from a list of model versions.

### Motivation

User has a set of model versions and wants all associated registered models.

Users in general create multiple models. Being able to

[2022-10-03 20:45] dbczumar commented on #6953
Hi @wamartin-aml, https://github.com/mlflow/mlflow/pull/6945 appears to address this FR by including support for run_id-based search in `searchRuns` with operators `=`, `IN`, and `NOT IN`. We'll have this merged shortly. Cheers!

[2022-10-03 20:45] #6953 closed

[2022-10-03 20:50] dbczumar commented on #6964
Hi @wamartin-aml, thanks for filing this issue! For now, we'd prefer to prioritize https://github.com/mlflow/mlflow/issues/6866 to clearly document the capabilities supported by model version / registered model search, including the ability to fetch model versions by run ID via `run_id IN (...)` syntax. We would also like to introduce support for retrieving a batch of registered models by searchin

[2022-10-03 20:51] wamartin-aml commented on #6964
That should work just fine!

[2022-10-03 20:51] #6964 closed

[2022-10-03 21:00] dbczumar commented on #6964
Awesome! Thanks @wamartin-aml !

[2022-10-03 22:22] dbczumar commented on #6958
@HassanRaza1313 Thank you for filing this issue; I've filed https://github.com/mlflow/mlflow/pull/6966 to address it.

[2022-10-03 22:31] dbczumar commented on #6962
Hi @addisonklinke , this is a great idea! I've added the `help wanted` label to the issue. Please let me know if you change your mind regarding willingness to contribute; we're happy to advise!

[2022-10-03 22:48] dbczumar commented on #6963
Hi @addisonklinke, thank you for filing this feature request. A CoreML flavor for MLflow is very exciting. At this time, we'd recommend introducing the flavor as an integrated Python package that populates the `mlflow.coreml` namespace. This package can be pretty lightweight, e.g. it can consist of a single module defining flavor code, similar to the single-module construction of flavors like `mlf

[2022-10-03 22:54] dbczumar commented on #6084
@anuarkaliyev23 has addressed this item by introducing an `mlflow models generate-dockerfile` API (#6591) that generates a complete Dockerfile for a given model or a Dockerfile for a generic serving image, if `--model-uri` is omitted. Users can then customize this Dockerfile to their liking before building an imge. Awesome work, @anuarkaliyev23 !

[2022-10-03 22:54] #6084 closed

[2022-10-03 23:02] dbczumar commented on #6692
@lizelive I'm going to go ahead and close this out, since @santiagxf has provided the solution. Feel free to reopen this issue if it's still occurring.

[2022-10-03 23:11] dbczumar commented on #6617
Hi @shaikmoeed, absolutely! I've assigned the issue to you. The code for `mlflow gc` is here: https://github.com/mlflow/mlflow/blob/c750b031604eed321a29d9ac3f2298f6ef2006b4/mlflow/cli.py#L497-L574. We'll want to:

1. List all soft-deleted experiments with last_update_timestamp <= now - timedelta (https://github.com/mlflow/mlflow/blob/c750b031604eed321a29d9ac3f2298f6ef2006b4/mlflow/cli.py#L548)

2.

[2022-10-03 23:15] dbczumar commented on #6421
@ankit-db Any updates here?

[2022-10-03 23:21] ankit-db commented on #6421
@LukasLohm thanks for pointing this out - I've created a task to fix these and it should go out with the next release

[2022-10-04 00:11] dbczumar commented on #6450
Hi @EPond89 , I've filed https://github.com/mlflow/mlflow/pull/6968 to address this issue. Apologies for the delay.

[2022-10-04 00:26] BenWilson2 commented on #6905
@seraus #6912 has been merged into master. The next release should have you all set!

[2022-10-04 00:26] #6905 closed

[2022-10-04 00:49] mlflow-automation commented on #6889
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-10-04 03:50] anuarkaliyev23 commented on #6076
Update: @dbczumar has recently closed issue #6084 since it is now possible to generate custom dockerfile
I think it is somewhat related to this issue, since it also regards build tools\docker

[2022-10-04 04:15] #6450 closed

[2022-10-04 05:44] shaikmoeed commented on #6617
How this implementation is used? Is `mlflow gc --experiment-ids="exp_id1,exp_id2"` command is valid? Can you share example usage commands for this?

[2022-10-04 07:35] NastasiaSaby commented on #6871
@BenWilson2 , no problem. For the moment, we'll stick to 1.27.

[2022-10-04 07:52] seraus commented on #6905
Thanks BenWilson2!

[2022-10-04 09:45] alonisser opened #6970 "[FR] Allowing to configure timeout with mlflow.pyfunc.spark_udf interface"
### Willingness to contribute

Yes. I can contribute this feature independently.

### Proposal Summary

Following on adding this ability with this [issue](https://github.com/mlflow/mlflow/issues/5381) adding this configuration on model "serving"  I propose adding am ability to configure the default (60 seconds) timeout also on the spark_udf interface.

### Motivation

Allowing the run with spark_u

[2022-10-04 10:24] PJPRoche commented on #6947
Hi @dbczumar, in answer to your questions:

1. yes, it is the exact same 3.8.10 version both on Databricks and in my local conda environment
2. yes, it is 2.2.0 both locally and in Databricks. I have created the local environment with the requirements.txt produced by the MLFLow run. I have also created a more complete environment with all the Python modules from the Databricks environment, which i

[2022-10-04 12:59] erjieyong commented on #6877
Hi harupy, while i can ignore the warning. I would like to still be able to log the metadata. Is there a way to do it?

[2022-10-04 15:25] BenWilson2 commented on #6877
Can you upgrade the tracking server to a more recent version? (note: you'll likely need to do a schema migration for the tracking server's tables to support the newer functionality)

[2022-10-04 15:58] BenWilson2 commented on #6869
Hi @utkarsh867 thank you for volunteering! Please let me know if you need any help!

[2022-10-04 18:40] ridhimag11 commented on #6869
Hey @utkarsh867 great to know that you're using MLflow often for your work. I'm a UX Designer on MLflow and would love t to chat with you to learn more about your experience using MLflow. If this is something that's interesting to you, could you fill out this [form](https://forms.gle/V4kUfQ1YPB31AatP9) and I'll get in touch with you?

[2022-10-04 18:45] diegodebrito opened #6972 "[BUG] mlflow-skinny not recognized as mlflow requirement when saving model"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

mlflow-skinny==1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

[2022-10-04 21:16] dbczumar commented on #6970
Hi @alonisser, thank you for filing this feature request. To clarify, are you requesting a configurable timeout for the scoring server that is launched within `mlflow.pyfunc.spark_udf()` with `env_manager="conda"` / `env_manager="virtualenv"`?

If the goal is to control the scoring server timeout within Spark UDF, then I think that introducing this as an environment variable configuration is a gre

[2022-10-04 21:17] dbczumar commented on #6972
Hi @diegodebrito, thank you for filing this issue. This indeed seems to be a bug. I will get started on a patch.

[2022-10-04 21:27] dbczumar commented on #6617
Great questions!

1. If the user specifies `--experiment-ids`, then only the specified soft-deleted experiments will be removed. If the user does not specify `--experiment-ids`, all soft-deleted experiments will be removed. The syntax you included is great!

2. `--experiment-ids` is optional

3. Soft deleted experiments can be queried via `search_experiments()` (https://mlflow.org/docs/latest/pyth

[2022-10-05 00:30] #6972 closed

[2022-10-05 01:16] BenGalewsky commented on #6118
The National Center for Supercomputing Applications built a chart https://github.com/ncsa/charts/tree/main/charts/mlflow
We'd be happy to contribute this

[2022-10-05 02:42] shaikmoeed commented on #6617
Thanks for the detailed answers! The work is almost done, I was a bit confused in creating `_hard_delete_experiment` for https://github.com/mlflow/mlflow/blob/master/mlflow/store/tracking/file_store.py.

To delete the experiment directory using `_hard_delete_experiment`, do I need to create a `_find_experiement_root` or can I use `_find_experiment_folder` from https://github.com/mlflow/mlflow/blob

[2022-10-05 05:32] harupy commented on #6867
Closing as completed in #6952.

[2022-10-05 05:32] #6867 closed

[2022-10-05 07:07] alonisser commented on #6970
Thanks, yes I'm referring to the scoring server launched within mlflow.pyfunc.spark_udf() with env_manager="conda" (Don't know about virtualenv, but guess it's similar) So you'd be open to an environment variables PR? and what about passing a config object directly to  spark_udf?  relevant to add also?

[2022-10-05 09:46] shaikmoeed commented on #6617
I am a little new to writing test cases, can I get guidance on writing test cases if needed to close this issue?

[2022-10-05 13:06] utkarsh867 commented on #6869
<img width="748" alt="image" src="https://user-images.githubusercontent.com/19630580/194067384-adb5d05a-0108-4312-8f1e-0d3208a7fa6a.png">

@BenWilson2 @hughperkins I wonder if something like this is acceptable?

[2022-10-05 13:07] hughperkins commented on #6869
That looks great :)

On Wed, Oct 5, 2022, 09:06 Utkarsh Goel ***@***.***> wrote:

[2022-10-05 13:14] utkarsh867 commented on #6869
Will make a PR now :)

[2022-10-05 13:46] hughperkins commented on #6869
Awesome :)

On Wed, Oct 5, 2022, 09:14 Utkarsh Goel ***@***.***> wrote:

[2022-10-05 14:10] BenWilson2 commented on #6869
note that `run_name` is now a top-level attribute for run info. While `run.data.tags.get('mlflow.runName')` will still be supported for backwards compatibility, `run.info.run_name` should be the recommended hint.

[2022-10-05 14:45] utkarsh867 commented on #6869
Ah that is interesting! Let me see if I can find an approach to do that.

[2022-10-05 20:20] alonisser commented on #4987
This is an issue that bit me also. they original issue was closed a long time ago. 1.9.1 worked for me. are you open to a PR to change to 1.9.1?

[2022-10-05 20:46] BenWilson2 commented on #6871
Hi @NastasiaSaby , if you'd like to use MLflow 1.28 or 1.29, we're fairly certain that by setting this variable in your notebook will make things work (for now):
[code]
Alternatively, you can set the environment variable at cluster creation.
We're working on a fix for this that won't be available until the next stable release.
Once again, sorry for the regression!

[2022-10-05 23:19] gomrinal opened #6983 "[FR] Support for NoSQL Database for backend like GCP Big Table & Firestore"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

MLflow need to have an option of logging data like hyperparameters on No-SQL databases because of scalability and mainly we don't know which model data scientists would use for their experimentation. Each algorithm usually have their own set of hyperpara

[2022-10-05 23:24] kevingreer opened #6984 "[BUG] Model version UI page requires MLmodel at top level of artifact directory"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.28.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: server is a docker image based on `python:3.8.10`, browser is Google Chrome Version 105.0.5195.125 (Official Build) (arm64) running on macOS Monterey v12.3

[2022-10-05 23:26] gomrinal commented on #6077
Hey! Can you add GCP into the examples as well like Big Table as a remote backend.
I think NoSQL as a backend would be highly important as it is scalable for massive number of request and most importantly where Data Scientist uses any algorithm which have varying hyperparameters so schema is changing based on algorithm selected. And using RDBMS restrict us in predicting the schema in advance.

[2022-10-06 00:20] mlflow-automation commented on #6915
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-10-06 02:58] #6869 closed

[2022-10-06 04:19] Rusteam opened #6987 "[BUG] SCRAM authentication requires libpq version 10 or above"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.29.0

### System information

- **OS Platform and Distrib

[2022-10-06 04:26] harupy commented on #6987
@Rusteam I found https://stackoverflow.com/questions/62807717/how-can-i-solve-postgresql-scram-authentication-problem. Can you try the workaround in this SO question?

[2022-10-06 06:39] Rusteam commented on #6987
yes it works, thanks

[2022-10-06 06:39] #6987 closed

[2022-10-06 06:47] harupy commented on #6984
I was able to reproduce the issue. It looks like the model-version page assumes that the artifact directory the model version is associated with contains an `MLmodel` file:

https://user-images.githubusercontent.com/17039389/194232852-eefed5c1-95a4-465e-907f-7170a920059e.mov

[2022-10-06 07:08] harupy commented on #6984
This line throws the error message:

https://github.com/mlflow/mlflow/blob/5add07673760aa4e2659e828c32c49cc5a1596ef/mlflow/server/js/src/common/utils/ArtifactUtils.js#L40

[2022-10-06 11:07] postrational commented on #3553
Are there any plans yet to add ACLs to MLFlow or in a plugin?

[2022-10-06 18:30] kevingreer commented on #6984
Thank you @harupy for taking a look! Glad you were able to reproduce the issue. I can see a few ways to proceed, but I'm not sure which the maintainers would prefer:
1. Just remove that `Utils.logErrorAndNotifyUser(error)` line
2. Add a flag in `getArtifactContent` to not call that line
3. Stop requesting the `MLmodel` file every time the model version page loads. (I'm not sure what is done after

[2022-10-06 23:01] dbczumar commented on #6983
Hi @gomrinal, thank you for raising this issue. We've included a comparable feature request in the MLflow roadmap: https://github.com/mlflow/mlflow/issues/6077 (I see that you've commented here: https://github.com/mlflow/mlflow/issues/6077#issuecomment-1269101126). If you'd like to work on designing this capability for a particular NoSQL platform, we'd love to discuss the topic with you and review

[2022-10-06 23:01] #6983 closed

[2022-10-06 23:17] dbczumar commented on #6984
@kevingreer @harupy Thank you for your investigation and for proposing some solutions here. The `MLmodel` file is being parsed in order to render the `Schema` section in the UI (the schema is embedded in `MLModel`) - https://github.com/mlflow/mlflow/blob/5add07673760aa4e2659e828c32c49cc5a1596ef/mlflow/server/js/src/model-registry/components/ModelVersionPage.js#L226. However, you're absolutely corr

[2022-10-06 23:37] dbczumar commented on #6947
Hi @PJPRoche, thank you for isolating this issue. I recommend filing a ticket on https://github.com/sdv-dev/SDV/issues, as this seems to be a portability problem impacting the `sdv` library. Because your Python, sdv, and cloudpickle versions are consistent across Databricks and your local environment, I'm unfortunately unable to advise further. Thank you for using MLflow, and I hope that the sdv m

[2022-10-06 23:37] #6947 closed

[2022-10-06 23:40] dbczumar commented on #6932
@gabrielfu Given that 1 week has passed, feel free to start working on this. Thank you in advance for your contribution!

[2022-10-06 23:52] harupy commented on #6984
Can we do `fetch MLmodel if it exists` instead of `always attempts to fetch MLmodel which might not exist`?

pseudo code:

[code]

[2022-10-07 00:12] dbczumar commented on #6984
Ideally, this would be nice. However, we don't currently have a public API for listing model version artifacts.

@kevingreer I discussed this offline with @harupy and the other maintainers. We agree that removing https://github.com/mlflow/mlflow/blob/5add07673760aa4e2659e828c32c49cc5a1596ef/mlflow/server/js/src/common/utils/ArtifactUtils.js#L40 is the best path forward. Would you be willing to imp

[2022-10-07 00:23] mlflow-automation commented on #6929
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-10-07 01:26] harupy commented on #6984
Instead of removing `Utils.logErrorAndNotifyUser(error);`, can we just log the error as follows?

[code]

cc @sunishsheth2009

[2022-10-07 04:00] nov301996 commented on #6546
Hello Harutaka,

Yes, I missed these mentions, messages and mails. But yeah that command
works. So, we don't need any new commit's/MRs

Thanks & Regards
Vaibhav Kartik

On Thu, Aug 25, 2022 at 3:49 AM Harutaka Kawamura ***@***.***>
wrote:

[2022-10-07 05:14] gabrielfu commented on #6932
@dbczumar great, I'll proceed :)

[2022-10-07 06:35] sunishsheth2009 commented on #6984
Yes I think if we expect this error and we don't want to throw this and silently just log it in console, then the above solution makes sense.

We ideally don't need to change the utils class, we can directly switch `Utils.logErrorAndNotifyUser(error);` in [ArtifactUtils.js](https://github.com/mlflow/mlflow/blob/5add07673760aa4e2659e828c32c49cc5a1596ef/mlflow/server/js/src/common/utils/ArtifactUtil

[2022-10-07 06:38] harupy commented on #6984
@sunishsheth2009 Thanks for the comment!

This sounds good to me :)

[2022-10-07 09:34] alonisser commented on #6970
About 2. I see the environment is being copied into the sub process
[code]

[2022-10-07 09:42] hahmad2008 opened #6994 "[BUG] model can't be registered on MLFLOW"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

 1.28.0

### System information

- **OS Platform and Distri

[2022-10-07 10:23] shivprasad94 opened #6995 "import mlflow.sklearn ModuleNotFoundError: No module named 'mlflow.sklearn'; 'mlflow' is not a package"
### System information

- Edition	Windows 10 Enterprise, Version 21H2
- mlflow, version 1.29.0
- Python 3.10.4 | packaged by conda-forge | (main, Mar 30 2022, 08:38:02) [MSC v.1916 64 bit (AMD64)] on win32

### Code to reproduce issue

https://www.mlflow.org/docs/latest/tutorials-and-examples/tutorial.html

### Describe the problem

installed mlflow on my windows machine with

`pip install mlflow`

[2022-10-07 10:34] harupy commented on #6995
I think you saved the code in a file named `mlflow.py`:

[code]

[2022-10-07 11:21] shivprasad94 commented on #6995
in my mini conda environment mlfow is not getting detected
so had to use : https://anaconda.org/conda-forge/mlflow

[2022-10-07 13:29] hagerf commented on #4865
Hi, I was wondering if this bug has reappeared, as we're using MLflow 1.28.0 and opening a json artifact in the UI that is just barely bigger than 1 MB results in the browsers freezing. Tested on Safari and MS Edge. I think this issue is still present and this bug opened again IMHO.

[2022-10-07 18:26] kevingreer commented on #6984
Thanks everyone for the discussion, I would be happy to put up a PR for this change.

[2022-10-07 19:58] kir0ul opened #6997 "[FR] Using MLflow from Julia?"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

I'd be interested in using MLflow from Julia, more specifically MLflow Tracking.

### Motivation

I have ML experiments in Julia and I'm looking for for some software to help me manage/track/compare them.

It would benefit the whole Julia ML community.

It would help the iterative process in my

[2022-10-07 23:21] akshaya-a commented on #6997
Not direct answers, but have you seen these related projects?
https://github.com/JuliaAI/MLFlowClient.jl
https://github.com/rejuvyesh/MLFlowLogger.jl

[2022-10-09 20:39] AGrosserHH opened #7003 "[BUG] npm install && npm run build unexpected token"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.29.0

### System information

- **OS Platform and Distrib

[2022-10-10 07:32] jlmeunier commented on #6932
Hi all, thanks!
sorry I was off.
@gabrielfu  for the  "RestStore.update_run_info() and its run_name argument": I understand now that my server is in 1.29 while the clients are either in 1.24 or 1.26... (different machines)

[2022-10-10 08:09] subramaniam20jan opened #7005 "[BUG] Registry image id not stored in tracking server"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.29.0

### System information

- **OS Platform and Distrib

[2022-10-10 10:20] sunmooncode opened #7006 "When using "torch.nn.parallel.distributedataParallel", multiple tasks will be generated."
Is there a way to merge them?

[2022-10-10 14:43] JackyHess opened #7009 "[BUG] Unexpected behaviour when authenticating to remote MLFlow server from Snakemake"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.29.0

### System information

- **OS Platform and Distrib

[2022-10-10 23:57] dbczumar commented on #6995
Awesome, thanks for the resolution @harupy. I'm going to go ahead and close this issue. @shivprasad94 Feel free to reopen it if an MLflow bug has been identified :)

[2022-10-10 23:57] #6995 closed

[2022-10-11 00:00] dbczumar commented on #7006
Hi @sunmooncode , can you fill out our issue template with reproducible code examples and reopen the issue once that's complete? Thank you for using MLflow :)

[2022-10-11 00:00] #7006 closed

[2022-10-11 02:02] harupy commented on #7003
@AGrosserHH We no longer use `npm`. Please use `yarn`.

[2022-10-11 02:24] #7003 closed

[2022-10-11 02:25] harupy commented on #7003
@AGrosserHH Feel free to reopen the issue if you encounter the same issue with yarn.

[2022-10-11 05:02] AvikantSrivastava commented on #6821
Hey @BenWilson2 @graelo if no one is working on this issue, can I work on it?

[2022-10-11 05:14] graelo commented on #6821
Sure, i think that would be great, thanks

[2022-10-11 08:12] gabrielfu opened #7014 "[BUG] Tags not properly updated when updating run name in `SqlAlchemyStore`"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

d38a78f8

### System information

- **OS Platform and Distr

[2022-10-11 08:38] harupy commented on #7014
@gabrielfu I was able to reproduce the issue.

https://github.com/mlflow/mlflow/blob/b98bda05aa0257c327dd157bcc42251a406bbfef/mlflow/store/tracking/sqlalchemy_store.py#L638-L650

Line 643 needs to be fixed as follows:

[code]

[2022-10-11 09:17] harupy commented on #7014
@gabrielfu Please let me know if you would like to file a PR for this issue.

[2022-10-11 09:29] gabrielfu commented on #7014
@harupy Thanks for the swift reply. I would like to submit a PR :) Now that you have found the cause, I should have enough information to work on it.

Are there any test cases related to this that need to change?

[2022-10-11 09:37] harupy commented on #7014
I think just fixing line 643 is fine :)

[2022-10-11 09:40] harupy commented on #7014
Can we add a test for `_try_get_run_tag`?

[2022-10-11 09:41] harupy commented on #7014
Can we also fix `_try_get_run_tag` like this using `one_or_none`?

[code]

[2022-10-11 09:48] gabrielfu commented on #7014
definitely

[2022-10-11 13:44] boragokbakan opened #7017 "[FR] Tracking Uncommitted Local Changes"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

MLflow readily tracks code versions for Git projects and includes the commit hash, put this does not capture any uncommitted changes (i.e., quick fixes, parameter changes) to the project. A git diff patch file could be added as an artifact to capture cha

[2022-10-11 16:30] #6617 closed

[2022-10-11 18:58] dbczumar commented on #6994
Hi @hahmad2008, to confirm, are you using a SQL-based storage backend, which is required in order to use the Model Registry? Asking because `mlflow.set_tracking_uri()` doesn't appear to be specified in your code.

If your code is indeed pointing to a SQL-based storage backend, can you include a more complete stacktrace / set of logs prior to the hang?

[2022-10-11 19:00] dbczumar commented on #7005
Hi @subramaniam20jan, thank you for raising this issue. I agree that the tag set on the MLflow Project Run is incorrect. Would you be able to file a pull request to address the problem? We'd be happy to review it and advise. Thank you in advance for your help!

[2022-10-11 19:06] dbczumar commented on #7009
Hi @JackyHess, since MLflow appears to work with your IAP from a notebook, I don't think that there's a clear MLflow issue here. Would you be able to post this question on the discussions page (https://github.com/mlflow/mlflow/discussions) instead? Thank you for using MLflow!

[2022-10-11 19:06] #7009 closed

[2022-10-11 20:22] pdifranc opened #7019 "[FR] Allow signing all outgoing request using AWS Sig V4"
### Willingness to contribute

Yes. I can contribute this feature independently.

### Proposal Summary

Add possibility to sign request using [AWS SigV4](https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html).

This would allow to implement authentication / authorization via shielding the `<MLFLOW_TRACKING_URI>/api` route with an Amazon API Gateway which implements IAM Authorizers

[2022-10-11 21:32] balvisio opened #7023 "[DOC-FIX]"
### Willingness to contribute

Yes. I can contribute a documentation fix independently.

### URL(s) with the issue

https://www.mlflow.org/docs/latest/models.html#keras-keras

"These functions serialize Keras models as HDF5 files using the Keras library’s built-in model persistence functions"

### Description of proposal (what needs changing)

Currently, the default behavior of MLFlow is to save t

[2022-10-11 21:33] balvisio commented on #7023
PR: https://github.com/mlflow/mlflow/pull/7022

[2022-10-11 21:39] balvisio opened #7024 "[FR] Allowing changing the Keras serialization format when using `mlflow.keras.autolog()`"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Currently, it is not possible to change the serialization format of the Keras models (tf) to HDF% when using the `mlflow.keras.autolog()`. It would be great if this could be configured. One way could be for `autolog()` to take a `kwargs` that is passed t

[2022-10-12 05:05] #6984 closed

[2022-10-12 05:14] #7023 closed

[2022-10-12 07:30] hahmad2008 commented on #6994
@dbczumar Thanks for your reply. It seems that it is a problem regarding the large-size model, it can't be saved. I noticed that all artifacts were uploaded except the model which has 700MB.  I tried the following, but it still failed.

`mlflow server --gunicorn-opts "-t 1800"
` from [your solution ](https://github.com/mlflow/mlflow/issues/6331#issuecomment-1197414500)

and this:

`MLFLOW_HTTP_REQ

[2022-10-12 07:57] mHash1m commented on #1028
+1 for moving runs b/w experiments

[2022-10-12 08:24] #7014 closed

[2022-10-12 08:28] harupy commented on #6889
@leweex95 Feel free to reopen the issue if the code in https://github.com/mlflow/mlflow/issues/6889#issuecomment-1257877820 doesn't satisfy your needs.

[2022-10-12 08:28] #6889 closed

[2022-10-12 08:30] evalkaz commented on #6994
+1 we also encountered this problem with [deployment scenario 5](https://mlflow.org/docs/latest/tracking.html#scenario-5-mlflow-tracking-server-enabled-with-proxied-artifact-storage-access). When trying to send a 100mb size model:
[code]

[2022-10-12 11:21] ReHoss commented on #1028
+1

[2022-10-12 16:06] addisonklinke commented on #6963
@dbczumar Here's a very basic/minimal interface for save, load, and log model methods. How much do we need to flush out details like signature, pip/conda environment, etc before it could be accepted as a PR? Is there some way that can be delegated to a common approach that already exists?

[code]

[2022-10-12 16:42] kir0ul commented on #6997
@akshaya-a  Not really but I'll give them a try!

[2022-10-13 00:08] dbczumar commented on #6929
Hi @danilopeixoto, thank you for proposing APIs. The structure makes sense to me. Would you be able to outline how the APIs would be implemented in the existing MLflow server?

[2022-10-13 00:28] dbczumar commented on #7017
Hi @boragokbakan, this sounds like a great idea! Are you proposing to save the patch as an MLflow artifact? Let me know what your implementation ideas are here :D

[2022-10-13 00:30] dbczumar commented on #7019
Hi @pdifranc, thank you for filing this feature request. The motivation makes perfect sense, and the proposed implementation is great. One minor ask: can we add the new  `MLFLOW_TRACKING_AWS_SIGV4` environment variable to `mlflow.environment_variables` so that it will appear in the docs here?: https://mlflow.org/docs/latest/python_api/mlflow.environment_variables.html

[2022-10-13 00:32] dbczumar commented on #7024
Hi @balvisio, thank you for your feature request. I think that introducing a `save_format` argument to `mlflow.tensorflow.autolog()` makes sense to me, which may be slightly easier to implement and easier for users to reason about than generic **kwargs for `mlflow.tensorflow.autolog()`. We would be very excited to review a pull request that implements this capability.

[2022-10-13 07:01] AvikantSrivastava commented on #6821
@graelo @BenWilson2
looks like we don’t fetch tags when we do a git fetch here
https://github.com/mlflow/mlflow/blob/5ddfe9a1b48e065540094d83125040d3273c48fa/mlflow/projects/utils.py#L211

https://stackoverflow.com/a/17356120

[2022-10-13 07:13] #6932 closed

[2022-10-13 07:16] AvikantSrivastava commented on #6821
@BenWilson2 @graelo I have raise a PR for the fix https://github.com/mlflow/mlflow/pull/7043

can you take a look?

[2022-10-13 07:37] pdifranc commented on #7019
I have written unit tests too (I havent written a unit test in python in ages :D, I hope they it is enough)
Since I am using a library, I was wondering where exactly I should have placed the dependency. I have placed it in `extras` but maybe there is a better place.
Any further feedback would be appreciated

[2022-10-13 13:24] jlmeunier opened #7045 "[FR] Metrics plot if getting too small when metric names are long"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

I'm plotting 6 metrics, whose names are relatively long, e.g. "medical.valid.en-de.valid.loss"
So the textbox named "Y-axis is very large, and the area where the plot is actually done becomes very narrow.
So the plot of teh metrics is not really readable.
This is an issue with the layout of the

[2022-10-13 13:34] #6821 closed

[2022-10-13 14:11] bogdanalexandrescu opened #7046 "[BUG] log_params fails when logging a parameter that already exists, but without changing its value"
### MLflow version

1.29.0

### System information

- **Python version**: 3.8

### Describe the problem

log_params fails when I try to log again a parameter (but without changing its initial value)

### Code to reproduce issue

[code]

You can reproduce this issue by adding a new test in tests/tracking/test_tracking.py with the code above.

### Stack trace

[code]

The error is misleading because

[2022-10-13 14:16] AvikantSrivastava commented on #6626
Hey @dbczumar @harupy can I work on this issue?

[2022-10-13 14:25] harupy commented on #6626
@AvikantSrivastava Yes, go ahead!

[2022-10-13 16:36] balvisio commented on #7024
Thanks @dbczumar. Will work in the PR in the coming weeks.

[2022-10-13 23:28] harupy commented on #7046
@bogdanalexandrescu Thanks for reporting the issue. I was able to reproduce it. I will file a PR.

[2022-10-13 23:29] harupy commented on #7045
@jlmeunier Thanks for reporting the issue. I will take a look today.

[2022-10-14 02:17] harupy commented on #7045
Code to create example data:

[code]

[2022-10-14 06:25] TeemuSo opened #7060 "[FR] Visualize metrics across different runs epoch by epoch"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

In deeping learning its important to be able to visualize loss convergences epoch by epoch. Its also important to compare different runs losses, to know how convergence is between the models.

This feature is not currently supported by MLFlow, but it should be straightforward, as we already hav

[2022-10-14 09:00] thomasfarrierGjensidige commented on #3843
Very interesting :-)

[2022-10-14 09:56] alonisser commented on #4987
Ping?

[2022-10-14 10:08] CamilleMaurice commented on #7060
Dear @TeemuSo
If I understand correctly to can log the loss values epoch by epoch during training. Then you need to run twice the training in order to get 2 runs to compare. In MLFlow ui, you can select 2 runs, then clic "Compare", then browse down the page and under "Metric" you can clic "loss" or "training loss" or whatever you called it. Then, a plot appears and you can visually compare.
I hope

[2022-10-14 13:28] XingJin-1 commented on #4484
Hello, I would like to know, if there is any update regarding the feature request. Using reverse proxy does not seem like a good solution to us. Thanks for any update. We would really appreciate it if mllfow could provide a standard solution for this topic.

[2022-10-14 16:10] adeepak7 opened #7062 "[BUG]"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### MLflow version

1.28.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu

[2022-10-14 16:19] Talador12 commented on #3553
Is this related to https://github.com/mlflow/mlflow/issues/724 ? This is an important feature

[2022-10-14 16:24] harupy commented on #7062
@adeepak7 I ran the following code and it worked:

[code]

Can you check the tracking server log?

[2022-10-14 16:26] Talador12 commented on #724
From #6108 and @dbczumar

Would this be open to contributions? This is something that I have seen as a request from multiple teams/companies.

For examples of different ways we could approach this, here are similar solutions for different tools, and some are in current development.
https://www.kubeflow.org/docs/components/multi-tenancy/design/
https://argo-cd.readthedocs.io/en/stable/operator-manu

[2022-10-14 16:31] harupy commented on #7060
@TeemuSo As @CamilleMaurice commented, you can compare different runs:

https://user-images.githubusercontent.com/17039389/195896027-25d13d41-9c0a-46be-bcc3-c27ad060d91b.mov

Let me know if this satisfies your needs.

[2022-10-14 16:32] adeepak7 commented on #7062
@harupy unfortunately and surprisingly I didn’t find any error in the tracking sever logs even at debug level.

Also, thanks for the prompt response 🙏

[2022-10-14 16:33] adeepak7 commented on #7062
@harupy once more thing- the same code worked on Mac OS, but not on Ubuntu

[2022-10-14 16:35] harupy commented on #7062
Strange. `mlflow_client.set_registered_model_tag(name=name, key=uuid.uuid4().hex, value="english")` work?

[2022-10-14 16:38] adeepak7 commented on #7062
@harupy yes, the English values work

[2022-10-14 16:40] harupy commented on #7062
Can you try running this code?

[code]

[2022-10-15 06:47] hahmad2008 commented on #6994
@dbczumar Thanks. upgrading mlflow to 1.29 solved the problem.

[2022-10-15 06:48] hahmad2008 commented on #6994
@dbczumar  Thanks. upgrading mlflow to 1.29 solved the problem.

[2022-10-15 06:48] #6994 closed

[2022-10-16 22:40] AvikantSrivastava commented on #6626
@harupy @dbczuma can you take a look at the PR https://github.com/mlflow/mlflow/pull/7068 ?

couple of quick questions
- Do we have any example to test out xgboost model? I want to do end-to-end testing
- Looks like this might require docs update, where to update those?
- I have used a different name for param `model_format` instead of `save_format` is that okay?

[2022-10-17 01:37] harupy commented on #6626
https://github.com/mlflow/mlflow/blob/master/examples/xgboost/xgboost_native/train.py

We can add a parameter docstring.

[code]

Sounds good :)

[2022-10-17 03:24] harupy commented on #7060
@TeemuSo Feel free to reopen the issue if the existing compare-runs feature doesn't satisfy your needs.

[2022-10-17 03:24] #7060 closed

[2022-10-17 05:48] #7046 closed

[2022-10-17 06:14] harupy commented on #7062
@adeepak7

Can you check what's different (e.g. python, version, mlflow version, protobuf version)?

[2022-10-17 06:15] harupy commented on #7062
The tracking sever logs look like this?

<img width="722" alt="image" src="https://user-images.githubusercontent.com/17039389/196102265-a917c17b-a312-4298-9349-63e99b81c173.png">

[2022-10-17 12:04] debanshu-mutt opened #7075 "MLFlow Tracking Server Outside Databricks"
### Discussed in https://github.com/mlflow/mlflow/discussions/7074

<div type='discussions-op-text'>

<sup>Originally posted by **debanshu-mutt** October 17, 2022</sup>
Hi, so I have been trying to access Mlflow tracking server outside of databricks following this documentation
https://docs.databricks.com/mlflow/access-hosted-tracking-server.html#step-3-configure-the-mlflow-cli
The authorization i

[2022-10-17 12:36] harupy commented on #7075
Hi @debanshu-mutt, can you list experiments?

[code]

[2022-10-17 12:42] debanshu-mutt commented on #7075
No it throws the same error as mentioned above.

[2022-10-17 12:45] harupy commented on #7075
Are you sure your credentials are vaild?

[2022-10-17 12:46] debanshu-mutt commented on #7075
yes
databricks workspace ls /Users/admdmu108@crb.apmoller.net
is listing all my notebooks in the cmd line

[2022-10-17 12:54] debanshu-mutt commented on #7075
yes it's empty

[2022-10-17 15:48] tpanza commented on #2823
For anyone who lands on this page and searching on how to get MLflow to fully work with a reverse proxy, https://github.com/mlflow/mlflow/issues/4484#issuecomment-919377871 this info by @akuma12 was super helpful.

[2022-10-17 17:10] benduffy1 opened #7078 "[FR] Manually end mlflow run"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Is there a way to manually end an mlflow run ? I have runs where the status is 'RUNNING' but there doesn't seem to be a way through the API or the UI to set them to 'FINISHED' ?

### Motivation

cases where you still want the run end time but the run did

[2022-10-17 17:19] debanshu-mutt commented on #7075
Databricks host as in - in the config file right?
From what I got to understand from the documentation
my host is actually a workspace so something like - https://url.azuredatabricks.net/?o=id
id indicating workspace

[2022-10-17 17:28] benduffy1 commented on #7078
I realized you can do this through

[code]

[2022-10-17 17:28] #7078 closed

[2022-10-18 01:07] harupy commented on #7075
@debanshu-mutt I don't think `/?o=id` is necessary. Can you try removing it?

[2022-10-18 01:35] mlflow-automation commented on #6962
@addisonklinke Any updates here? If you're working on a PR, please link it to this issue.

[2022-10-18 01:36] mlflow-automation commented on #6882
@BenWilson2 Please reply to comments.

[2022-10-18 03:34] torakyun commented on #6446
Hello. Hope you are doing well! This extension is great so I would like to use asap. Is there any update or a plan to release?

[2022-10-18 06:22] inderpreetsingh01 opened #7083 "context is empty in load_context"
class _MLflowWrapped(PythonModel):
          def __init__(self, model, model_input_schema):
              self.model = model
              self.model_input_schema = model_input_schema

          def load_context(self, context):
              import pickle
              print('context', context)

I have logged a sklearn model in pickle format as artifacts using client.log_artifact,
I need to load t

[2022-10-18 12:54] #7075 closed

[2022-10-18 15:01] harupy commented on #7083
@inderpreetsingh01 Ok, can you share the code you have and how we can reproduce the error with it?

[2022-10-18 21:03] #7019 closed

[2022-10-18 23:18] harupy commented on #7062
@adeepak7 Any updates?

[2022-10-19 06:04] #7045 closed

[2022-10-19 12:26] boragokbakan commented on #7017
Hi @dbczumar, thanks for the reply.

Sorry for my late response. I think there are two ways of doing this, but I only mentioned one in the original issue:

1. **w/MLflow Artifacts:** Yes, we can save the patch as an MLflow artifact (to answer your question), if there is a difference to any tracked files in the working tree. So when someone wants to rerun an experiment, they would checkout the comm

[2022-10-19 14:38] tamis-laan opened #7104 "[BUG] MLFLOW_S3_ENDPOINT_URL is ignored"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

mlflow, version 1.29.0

### System information

- Arch Linux
- Python 3.10.8

### Describe the problem

I'm t

[2022-10-19 14:48] harupy commented on #7104
@tamis-laan Can you access the bucket using boto3?

[2022-10-19 16:09] helensumathih opened #7106 "Upgrade from version 1.23 to Latest"
Hi,

We are using mlflow 1.23 with some UI changes done specific to our organization needs. Now we would like to upgrade to the latest version which has the pipelines. Can anyone please suggest on how to upgrade or is there any sequence of steps or best practices to adopt?

[2022-10-19 21:44] arees88 opened #7112 "[FR] Ability to define order of columns in Experiment screens"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

### Ability to define order of columns in Experiment screens

In earlier versions of MLflow there were two dialog boxes:

**Filter Params
Filter Metrics**

These filters provided a simple way to specify the list of desired columns + preserved the order of the columns in the list.

The **Filter*

[2022-10-19 21:59] arees88 commented on #7112
This FR references:  #7085

[2022-10-19 23:20] harupy commented on #7106
@helensumathih I think you can do:

1. Clone the latest release branch (1.29 for now).
2. Make the UI changes for your organization needs.
3. Run `yarn build` in the `mlflow/server/js` directory to build UI assets.
4. Build a wheel by running `python setup.py bdist_wheel`.
5. Install it.

[2022-10-19 23:21] harupy commented on #7106
Feel free to reopen the issue if you need further help.

[2022-10-19 23:21] #7106 closed

[2022-10-20 02:12] mlflow-automation commented on #6871
@NastasiaSaby Any updates here? If you're working on a PR, please link it to this issue.

[2022-10-20 07:22] #7005 closed

[2022-10-20 07:26] subramaniam20jan commented on #7005
@dbczumar : is there a specific process for closing issues?

[2022-10-20 08:05] harupy commented on #7062
@adeepak7 Feel free to reopen the issue if it still persists.

[2022-10-20 08:05] #7062 closed

[2022-10-20 12:56] mpeaton-ng opened #7120 "Support development environment creation on Windows[FR]"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

dev-env-setup.sh currently fails with error: `Unknown operating system environment: unknown exiting.`
Consider providing support for developers that are constrained to Windows operating systems via conda environment.

### Motivation

As an mlflow user who develops for remote heterogeneous targe

[2022-10-20 13:25] harupy commented on #7120
@mpeaton-ng `dev-env-setup.sh` only supports UNIX systems. Here's the command to create a minimum development environment via conda, which should work on windows:

[code]

[2022-10-20 13:26] harupy commented on #7120
https://learn.microsoft.com/en-us/windows/wsl/install might help.

[2022-10-20 13:26] harupy commented on #7120
You can also use a service like https://www.gitpod.io/.

[2022-10-20 13:35] harupy commented on #7120
Feel free to reopen the issue if https://github.com/mlflow/mlflow/issues/7120#issuecomment-1285536283 doesn't help.

[2022-10-20 13:35] #7120 closed

[2022-10-20 13:43] harupy commented on #7083
@inderpreetsingh01 Any updates here?

[2022-10-20 14:10] mpeaton-ng commented on #7120
Incidentally it seems to almost work for me with the following patch:

index 2c90b995..ca3d2232 100755
--- a/dev/dev-env-setup.sh
+++ b/dev/dev-env-setup.sh
@@ -89,6 +89,7 @@ fi
case "$(uname -s)" in
   Darwin*)                       machine=mac;;
   Linux*)                        machine=linux;;
+  MING*)                        machine=linux;;
   *)                             machine=unknown;;
e

[2022-10-20 14:11] mpeaton-ng commented on #7120
Wsl is not an option in my environment

From: Harutaka Kawamura ***@***.***>
Sent: Thursday, October 20, 2022 9:26 AM
To: mlflow/mlflow ***@***.***>
Cc: Eaton, Michael [US] (DS) ***@***.***>; Mention ***@***.***>
Subject: EXT :Re: [mlflow/mlflow] Support development environment creation on Windows[FR] (Issue #7120)

https://learn.microsoft.com/en-us/windows/wsl/install might help.

—
Reply to this

[2022-10-20 14:33] mpeaton-ng commented on #7120
fatal: unable to access 'https://github.com/databricks/databricks-cli.git/': Received HTTP code 407 from proxy after CONNECT

[2022-10-20 15:02] harupy commented on #7120
Found https://stackoverflow.com/questions/24907140/git-returns-http-error-407-from-proxy-after-connect

[2022-10-20 19:02] balvisio commented on #7024
@dbczumar I created the PR: https://github.com/mlflow/mlflow/pull/7123. I only added the param for the `keras` flavor only since it looks likethat for `tensorflow` it is more designed for the `SavedFormat` format only.

[2022-10-21 00:19] mlflow-automation commented on #6970
@dbczumar Please reply to comments.

[2022-10-21 00:19] mlflow-automation commented on #6882
@BenWilson2 Please reply to comments.

[2022-10-21 00:19] mlflow-automation commented on #6871
@NastasiaSaby Any updates here? If you're working on a PR, please link it to this issue.

[2022-10-21 08:11] PytLab opened #7132 "[BUG] mlflow autolog failed to log xgboost metrics like train_mse, train_mae etc"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.26.0

### System information

- **CentOS Linux 7 (Core)**

[2022-10-21 08:15] harupy commented on #7132
@PytLab Can you update the code reproduce the issue? It's not runnable.

[2022-10-21 08:27] PytLab commented on #7132
Sorry for that. I integrated mlflow code into the functions of my lib, let me extract the logic.

I just want to enable the autolog of mlflow before the regressor fitting. I'm the autolog in this way:

[code]
but from the tracking UI, there is no `train_mse` metric tracked. Is this expected?

[2022-10-21 08:30] PytLab commented on #7132
I noticed that

is this related?

[2022-10-21 15:22] PytLab commented on #7132
Will try with non-sklearn xgboost api with mlflow. Close as not a bug

[2022-10-21 15:22] #7132 closed

[2022-10-21 19:34] alexanderkainsky opened #7133 "[BUG] 1.30: mlflow.exceptions.RestException: BAD_REQUEST: (sqlite3.IntegrityError) UNIQUE constraint failed: tags.key, tags.run_uuid"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.30

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu 20.04
- *

[2022-10-22 01:10] harupy commented on #7133
@alexanderkainsky I ran:

[code]

but wasn't able to reproduce the issue.

[2022-10-22 01:23] harupy commented on #7133
Look like you pass `kwargs` to `mlflow.start_run`. Can you share the value of `kwargs`?

[2022-10-24 01:16] harupy commented on #7133
@alexanderkainsky I was able to reproduce the issue using this code:

[code]

#7183 fixes this issue.

As a workaround, you can make the following change:

[code]

[2022-10-24 01:19] harupy commented on #7104
@tamis-laan Any updates?

[2022-10-24 06:08] Param-29 opened #7139 "[BUG] mlflow server doesnot start without default-artifact-root argument"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.30.0

### System information

- **OS Platform and Distrib

[2022-10-24 06:13] Param-29 commented on #7139
Hi team,
New to community, great tool, currently on exploring and experimenting phase; would love to contribute in future.

**Filing this bug to understand if this is expected behaviour.**

Note:
* Currently running experiment in *Default* experiments

Also notice how experiments are not getting tracked.

Example:
[code]
Output UI:

![Screenshot from 2022-10-24 11-41-16](https://user-images.github

[2022-10-24 06:16] harupy commented on #7139
`--backend-store-uri` defaults to `./mlruns`. You need to run `mlflow ui --backend-store sqlite:///backend.db`.

[2022-10-24 06:20] harupy commented on #7139
As the error message indicates, you need to explicitly specify 'default-artifact-root' is required when the backend store is not local file-based.

[2022-10-24 06:37] pdifranc opened #7140 "[DOC-FIX] MLFLOW_TRACKING_AWS_SIGV4 environment variable does not appear in the python API docs"
### Willingness to contribute

Yes. I can contribute a documentation fix independently.

### URL(s) with the issue

https://www.mlflow.org/docs/latest/python_api/mlflow.environment_variables.html

### Description of proposal (what needs changing)

Fix the doc-string in `mlflow.environment_variables` to ensure the documentation compiles correctly (there is a missing semicolon)

[2022-10-24 07:12] harupy commented on #7104
@tamis-laan Can you run this code?

[code]

[2022-10-24 07:20] harupy commented on #7083
The following code ran successfully:

[code]

I think you forgot to specify the `artifacts` argument

[2022-10-24 07:20] #7083 closed

[2022-10-24 07:21] harupy commented on #7083
Feel free to reopen the issue if specifying `the `artifacts` argument` doesn't help.

[2022-10-24 09:32] tamis-laan commented on #7104
@harupy I need to finish some work and then I will get back to this issue.

[2022-10-24 11:16] Param-29 commented on #7139
Hi @harupy ,
[1]

Could you help me understand difference between `mlflow ui --backend-store-uri sqlite:///backend.db` and `mlflow server --backend-store-uri sqlite:///backend.db`

[2]

Oh, I think I understand. Please help answer [1]

[2022-10-24 11:20] harupy commented on #7139
They are equivalent. `mlflow server` has more options than `mlflow ui`.

[code]

[2022-10-24 13:07] Apurro12 commented on #6097
Hi @BenWilson2, could I work please in?

**End to end tracking server configuration for MLflow with SQLite [scenario 2](https://mlflow.org/docs/latest/tracking.html#scenario-2-mlflow-on-localhost-with-sqlite).**

[2022-10-24 13:44] michaguenther commented on #3123
@Focus I fixed this issue for the use of a s3 bucket. See my merge request #6735.

[2022-10-24 14:40] tamis-laan commented on #7104
Nope it connects to the tracking server and then throws the same error:
[code]

[2022-10-24 14:44] harupy commented on #7104
@tamis-laan Got it, can you access the bucket with boto3?

[2022-10-24 14:56] shaikmoeed commented on #6086
@nfx Hey hi, is this FR is fully implemented or anything pending that I could contribute!?

[2022-10-24 15:41] BenWilson2 commented on #6097
It's all yours!

[2022-10-24 18:02] tamis-laan commented on #7104
Using boto3 I can connect to the object storage:

[code]

[code]

But running the server results in:
[code]

[2022-10-24 18:59] luistelmocosta opened #7146 "MlFlow Pipelines Transformer output"
Hello! I have been trying the MlFlow Pipelines lately and am noticing that I don't know if it is working as intended.
The transform step should use user-defined transformation functions and then apply them to the train and validation dataset from the split step.
However, when I use the transformation step to encode some of my features it only returns the features that are _transformed_.
I followed

[2022-10-24 21:23] jonnor commented on #6094
Glad to see this one up there. I think it will be important to decide

1) Which storage backend configurations such should use. Both for the database and the artifacts store. Many permutations here
2) What authentication scheme(s) to support.
3) How to run the HTTP server. Eg, should it have a frontend like nxginx/Apache/etc. This may interact with 2), if authentication is done there

1) requires

[2022-10-24 21:28] JHibbard commented on #7146
Hi luistelmocosta,

A partial solution is to use sklearn's `sklearn.preprocessing.FunctionTransformer` with the `func` argument as None, this makes `func` the identity function. [Documentation here](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.FunctionTransformer.html#sklearn-preprocessing-functiontransformer).

[code]

I'll take a look if there's a better alternative to

[2022-10-24 22:18] harupy commented on #7104
@tamis-laan The traceback says "the specified key does not exist". Are you sure the artifact URI is correct?

[2022-10-24 23:35] harupy commented on #7146
@luistelmocosta Here's an example to keep non-trasformed features:

[code]

Output:

[code]

[2022-10-24 23:53] harupy commented on #7139
@Param-29 Can we close this issue?

[2022-10-25 02:18] #7133 closed

[2022-10-25 03:10] tonyreina opened #7152 "[BUG] INVALID_PARAMETER_VALUE: Changing param values is not allowed."
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.30.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: WSL Ubuntu 20.

[2022-10-25 04:11] harupy commented on #7152
@tonyreina Can you share your `MLproject` file?

[2022-10-25 04:17] #6626 closed

[2022-10-25 04:40] Param-29 commented on #7139
Yes, thanks a lot!

[2022-10-25 04:40] #7139 closed

[2022-10-25 07:50] zingbert commented on #7104
Don't know if this could help, I've had a similar issue with remote tracking (with mlflow==1.29.0 and mlflow==1.30.0) of artifacts on Digital Ocean Spaces compatible S3 and **resolved** with this [harupy comment](https://github.com/mlflow/mlflow/issues/7104#issuecomment-1288522699), before I wasn't setting MLFLOW_S3_ENDPOINT_URL=https://<region-name>.digitaloceanspaces.com (https://github.com/mlfl

[2022-10-25 08:36] tamis-laan commented on #7104
I'm a bit confused when it comes to the settings and selecting the right bucket. Let me know if this is correct:

I authenticate and connect to the s3 object store as followed:
[code]

Then I need to select the bucket I named mlflow to use to store artifacts:
[code]

Given the error:
[code]
It looks like it can connect to the object store but fails to list the objects in the bucket? Let me know if

[2022-10-25 10:01] luistelmocosta commented on #7146
Thank you for your replies. The documentation says the transform step should define a `fit` and `transform` method.
I included some feature engineering before the scaling transformation using a  `FunctionTransformer`. However, running the scale after that makes the pipeline step return only the scaled features.

`"""
This module defines the following routines used by the 'transform' step of the re

[2022-10-25 10:55] harupy commented on #7104
@tamis-laan

[code]

Can you list artifacts using this code?

[2022-10-25 10:58] tamis-laan commented on #7104
I changed my original comment above

[2022-10-25 11:02] harupy commented on #7104
Did you set the credentials when running the client code?

[2022-10-25 11:15] tamis-laan commented on #7104
No I havn't set any s3 credentials for the client, I'm trying to run all communications through the tracking server as shown in scenario 5:
https://www.mlflow.org/docs/latest/_images/scenario_5.png

[2022-10-25 11:22] harupy commented on #7104
Ok, can you try running this code?

[code]

[2022-10-25 11:40] harupy commented on #7104
Can you open `/$HOME/.local/share/virtualenvs/ai-mlflow-server-jL1b2NAi/lib/python3.10/site-packages/mlflow/store/artifact/s3_artifact_repo.py", line 159` and insert a print function?

[code]

[2022-10-25 11:48] tamis-laan commented on #7104
[code]

BTW I send you a google meet invitation through gmail if you want to debug this isue in real time.

[2022-10-25 14:09] harupy commented on #7146
@luistelmocosta I think it's because you don't set `remainder="passthrough"` in `ColumnTransformer`.

[2022-10-25 14:18] harupy commented on #7146
Example:

[code]

[code]

[2022-10-25 14:39] tonyreina commented on #7152
[code]

[2022-10-25 14:54] tonyreina commented on #7152
I'm sure it is something silly that I am missing.

[2022-10-25 15:15] alexanderkainsky commented on #7133
Very helpful, thank you!

[2022-10-25 15:59] MariaSdSantos commented on #7146
Hello! I'm also working on this project and our problem is that we can get all the features with the remainder="passthrough", however, the names of the columns in the table get changed to this:
<img width="61" alt="image" src="https://user-images.githubusercontent.com/101735605/197823298-aa4edd2d-bc21-4d5f-b111-68c777e31a17.png">
How can we keep the original column names?

[2022-10-25 16:27] harupy commented on #7146
@MariaSdSantos MLflow Pipeline attempts to get the output feature names using `get_feature_names_out`. If this fails, mlflow falls back to auto-generated featue names.

https://github.com/mlflow/mlflow/blob/7802f5a4b5d114dbf6a9816515a856d0d8f489a9/mlflow/pipelines/steps/transform.py#L40

[2022-10-25 17:02] QAM opened #7155 "[BUG] mlflow sagemaker build-and-push-concontainer cmd fail with docker 4.13.0 version on mac m1 pro 16"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.30.0

### System information

- **OS Platform and Distrib

[2022-10-25 19:13] QAM opened #7160 "[FR] add serverless inference endpoint support for sagemaker deployment"
### Willingness to contribute

Yes. I can contribute this feature independently.

### Proposal Summary

Now, we can use the command and deploy model on sagemaker inference.
[code]

Do we have any plan for supporting serverless deployment.

Reference [link](https://docs.aws.amazon.com/sagemaker/latest/dg/serverless-endpoints-create.html)
And ref code.
[code]

### Motivation

We can have near-real-t

[2022-10-25 21:33] #6369 closed

[2022-10-25 23:42] harupy commented on #7155
@QAM Found https://stackoverflow.com/questions/64952238/docker-errors-dockerexception-error-while-fetching-server-api-version, which reports a similar issue.

[2022-10-25 23:54] harupy commented on #7146
@luistelmocosta Please us know if `remainder="passthrough"` doesn't help.

[2022-10-25 23:56] harupy commented on #7104
Fixed by the following changes:

1. Fix the bucket name and endpoint URL.
2. Remove `MLFLOW_DEFAULT_ARTIFACT_ROOT` in the client environment.

[2022-10-25 23:56] #7104 closed

[2022-10-26 05:16] QAM commented on #7155
@harupy ya. This is for linux. And as I mentioned, the issue happened after docker recent release on 2022/10/19 4.13.0.
However, it works with version 4.12.0 released on 2022/9/1

[2022-10-26 05:50] harupy commented on #7155
@QAM Have you already seen https://github.com/docker/docker-py/issues/3059?

[2022-10-26 05:54] harupy commented on #7155
This is a docker-py's issue.

[2022-10-26 05:54] #7155 closed

[2022-10-26 06:36] harupy commented on #7152
@tonyreina I copied the code and `MLproject` file, then ran:

[code]

but I wasn't able to reproduce the issue.

[2022-10-26 06:57] harupy commented on #7152
@tonyreina I was able to reproduce the issue with this command:

[code]

I think you're using mlflow 1.29.0. mlflow 1.30.0 should fix the issue.

[2022-10-26 06:57] #7152 closed

[2022-10-26 07:09] y4ppieflu opened #7166 "[BUG] Security Vulnerability"
**Vulnerability details**
Local file inclusion in the MLFlow server, additional details may be provided upon request.
**MLFlow version**
Reproduced in 1.26.1 and 1.30.0

[2022-10-26 07:24] harupy commented on #7166
@y4ppieflu Can you provide more details?

[2022-10-26 07:32] y4ppieflu commented on #7166
@harupy
Sure, the vulnerability allows to read arbitrary files on the server where mlflow is running due to incorrect handling of the `path` parameter passed to the `/get-artifact` endpoint. Using path traversal it is possible to access files outside of the default artifacts root folder. For example the following request would return the contents of the `/etc/passwd` of the target server:
[code]
<

[2022-10-26 07:38] harupy commented on #7160
@QAM Thank you for the FR! Are you interested in creating a PR for this?

[2022-10-26 07:51] y4ppieflu commented on #7166
Thanks @harupy
I am hiding the above details for now.

[2022-10-26 07:53] harupy commented on #7166
Thank you!

[2022-10-26 08:48] SkiFast1 opened #7169 "[BUG] Security Vulnerability"
**Vulnerability description (without details):**
CSV injection in mlflow ui, scope of attack - user of the application, additional information may be provided upon request.
**Version:**
1.26.1 - 1.30.0

[2022-10-26 09:10] QAM commented on #7155
@harupy From the description, docker issue also happens on docker 4.12.0.
I am not really sure they are related.
I also test the cmd locally.
[code]

Works great.
Might need to check this again.

[2022-10-26 09:12] QAM commented on #7160
@harupy sure. I can. I also copy code from mlflow.sagemaker.__init__.py and modify it locally.
Now, it works.

I should be able to create the PR.
However i don't have permission to create branch on mlflow for PR.
Could I know any permission I need?
Thanks.

[2022-10-26 09:16] harupy commented on #7160
@QAM You can create a fork.

[2022-10-26 09:16] QAM commented on #7160
Will try. Thanks!

[2022-10-26 11:29] ohindialign commented on #1762
Hey Guys, Do you have any conclusion to share? I'm facing this issue too.

I'm trying to run mlflow projects from a databricks job using mlflow.run(uri="uri", parameters=<params> ) , at the moment im running mlflow project example from github.

I want the experiment + run to be set dynamically per project from the code - in mlflow example from train.py.
Inside train.py I have mlflow.set_experiment

[2022-10-26 12:51] in-oleynikov commented on #2671
Hello!
Have similiar problem with the path. I use s3-storage in local minio to store artifacts and postgres to store params and results
Server starting like this:
[code]
But when I'm asking for artifacts uri:
[code]
it returns string:
[code]
So it returns s:// instead of s3://
And as expected error:
[code]
How to solve such issue?

[2022-10-26 12:59] SkiFast1 commented on #7169
Hello!
This issue is different from the #7166, is the testing mentioned by mistake?

[2022-10-26 13:11] harupy commented on #7169
Yes, I mentioned this issue by mistake.

[2022-10-26 14:52] MariaSdSantos commented on #7146
Hello. Thank you for your reply. `remainder="passthrough"` did help but the output column names do not match the original ones. Instead, it is adding the step name as a prefix and that's why we cannot get the correct names.
[code]
[code]

[code]
<img width="291" alt="image" src="https://user-images.githubusercontent.com/101735605/198059629-b2dfe529-2fcd-4513-86e3-894a375b0f16.png">

The `calculate

[2022-10-26 14:58] harupy commented on #7146
Can you add `FunctionTransformer` that strips the `remainder__` prefix?

[2022-10-26 15:20] MariaSdSantos commented on #7146
Hello. We tried to add strip to the pipeline. However, we are not sure where to apply it in the pipeline, because the output of the transformers are an array and not a dataframe.
[code]
Thank you.

[2022-10-26 15:25] harupy commented on #7146
https://github.com/scikit-learn/scikit-learn/issues might be a better place to ask this.

[2022-10-26 17:40] alexanderkainsky opened #7172 "[BUG] pipeline example doesn't run"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.30

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu 20.04
- *

[2022-10-26 19:40] flippercy opened #7173 "How to add the name of experiment when registering a model built with mlflow in AzureML?"
Hi:

I am building models using mlflow in AzureML and then registering them through mlflow.register_model(). However, I cannot find any place to add the name of the experiment; as a result, the experiment name is empty in the dashboard.

![image](https://user-images.githubusercontent.com/51969693/198121510-8d3d2373-2f84-494d-9aa8-6ab669652c73.png)

How can I add the name of experiment, please?

Th

[2022-10-26 19:47] y4ppieflu commented on #7166
BTW — shall this follow the process described in the [Security Policy](https://github.com/mlflow/mlflow/security/policy) and have an associated [Github Security Advisory](https://docs.github.com/en/code-security/repository-security-advisories/creating-a-repository-security-advisory)?

[2022-10-26 22:55] #6603 closed

[2022-10-26 23:17] #7024 closed

[2022-10-26 23:29] harupy commented on #7172
@alexanderkainsky I was able to reproduce the issue.

[code]

@dbczumar Is https://github.com/mlflow/mlp-regression-template outdated?

[2022-10-26 23:49] harupy commented on #7172
I see, to make https://github.com/mlflow/mlp-regression-template work, we need to fix some fields in the profile?

[2022-10-26 23:53] harupy commented on #7172
I see, https://github.com/mlflow/mlp-regression-template doesn't work by default. We need to fix some fields (e.g. experiment name) in the profile.

[2022-10-26 23:58] harupy commented on #7172
@alexanderkainsky

Where did you find this command?

[code]

[2022-10-27 01:02] harupy commented on #7169
@SkiFast1 Thanks for filing this issue. Can you provide details? Here's my gmail address: hkawamura0130@gmail.com

[2022-10-27 01:04] alexanderkainsky commented on #7172
https://mlflow.org/docs/latest/pipelines.html

[2022-10-27 01:14] mlflow-automation commented on #6997
@dbczumar Please reply to comments.

[2022-10-27 01:14] mlflow-automation commented on #6963
@dbczumar Please reply to comments.

[2022-10-27 01:14] mlflow-automation commented on #6929
@danilopeixoto Any updates here? If you're working on a PR, please link it to this issue.

[2022-10-27 01:47] harupy commented on #7172
This section might look like `mlp-regression-template` works without any modifications:

<img width="1231" alt="image" src="https://user-images.githubusercontent.com/17039389/198171715-7982ad2d-d7e6-4f42-ad73-1f7d7066dc2a.png">

Comment indicating it requires changes might help. @dbczumar @jinzhang21

[2022-10-27 03:56] jinzhang21 commented on #7172
This was a mistake. It should be `mlp-regression-example`, not `mlp-regression-template`, which is meant to be used by adapting to real use cases. I'll file a PR to fix the comment.

[2022-10-27 04:03] harupy commented on #7172
@jinzhang21 Thanks!

[2022-10-27 09:57] SkiFast1 commented on #7169
Hi! Sent the details to the email above

[2022-10-27 12:12] ahmedsalhin commented on #2096
You need to set the `mlflow.use`r tag as follows:

`mlflow.set_tag("mlflow.user", "NAME")`

[2022-10-27 15:11] jinzhang21 commented on #7172
Merged PR https://github.com/mlflow/mlflow/pull/7059 to update the user guide.

[2022-10-27 15:11] #7172 closed

[2022-10-27 15:25] BenWilson2 commented on #7173
Hi @flippercy this question is better served by filing it within https://github.com/mlflow/mlflow/discussions . Issues are reserved for Feature Requests and Bugs. Closing this Issue.

[2022-10-27 15:25] #7173 closed

[2022-10-27 15:38] alexanderkainsky commented on #7172
Thank you!

[2022-10-27 16:48] arees88 commented on #7112
Hi,

**Re: Implementation**

The feature was already available in 2019, so the implementation should be in the earlier version of MLflow code.
How complex it would be to integrate / merge this code, I'm not sure.

Hope this helps,
A Rees

[2022-10-27 23:36] tonyreina commented on #7152
Thanks. I finally figured it out. My MLFlow was 1.30.0 but my company server was using MLFlow 1.29.0. I've asked them to updrade.

[2022-10-28 00:25] dbczumar commented on #6598
Thanks @harupy ! All done!

[2022-10-28 00:25] #6598 closed

[2022-10-28 05:00] harupy opened #7185 "Replace `unittest` assert methods with plain `assert`"
## Details

Replace unittest's assert methods with plain `assert`.

## Example

[code]

## Motivation

1. `assert` (rewritten by pytest) gives a better error message than unittest assert methods.
2. We'll migrate unittest test suites to pytest.
3. For code consistency.

## Instructions

1. Run `pip install libcst` for automatic code transformation.
2. Save the code below (which should transform al

[2022-10-28 08:12] #7166 closed

[2022-10-28 08:15] y4ppieflu commented on #7166
@harupy hi, what about my comment above?

[2022-10-28 09:15] harupy commented on #7185
Magic command:

[code]

[2022-10-28 17:11] schmidt-jake opened #7186 "[FR] learning curve visualization"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Add a learning curve visualization to the Run Comparison view.

### Motivation

A data scientist wants to understand the impact of hyperparameter choices on model convergence.

When comparing runs, charting metrics over time for each run is useful for understanding the impact of hyperparameters

[2022-10-28 19:21] BenWilson2 commented on #7186
Hi @schmidt-jake could you expand a bit more on what you're proposing here?
Is the intention to provide a metric's logging time as an x-axis value with metric values as the y component? If so, how does this fit into hyperparameter optimization run comparison or logging of runs from a distributed platform wherein the relationship between run creation and metric logging might not be relevant?

If yo

[2022-10-28 22:10] schmidt-jake commented on #7186
@BenWilson2 added a visual to the issue description!

[2022-10-28 22:45] rddefauw commented on #6099
@dbczumar I'd be happy to tackle fastai for this FR.

[2022-10-30 04:51] johnyNJ commented on #6451
hi @dbczumar i'm done with the PR...

[2022-10-30 19:49] hughperkins commented on #6869
I see this is working in 1.30.0. Thank you :)
<img width="291" alt="Screen Shot 2022-10-30 at 3 49 27 PM" src="https://user-images.githubusercontent.com/123560/198898651-918800c2-2bbc-45e2-a199-de9953ababfe.png">

[2022-10-30 20:42] dtpryce opened #7195 "[BUG] run_name not propagating"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.30.0

### System information

- **OS Platform and Distrib

[2022-10-31 00:41] harupy commented on #7195
@dtpryce What is the mlflow version that's used to run the tracking server?

[2022-10-31 00:50] harupy commented on #7195
How to reproduce the issue:

[code]

[code]

[code]

[2022-10-31 01:19] harupy commented on #7195
Tested MLflow 1.30.0 (tracking server version):

[code]

[code]

[code]

[2022-10-31 07:23] in-oleynikov commented on #2671
Solved with just this line
[code]

[2022-10-31 08:06] harupy opened #7201 "Migration to pytest"
## Details

In our code base, we currently use both:

- Function-based tests with `pytest` ([example](https://github.com/mlflow/mlflow/blob/master/tests/store/tracking/test_sqlalchemy_store.py))
- Class-based tests with `uniitest.TestCase` ([example](https://github.com/mlflow/mlflow/blob/master/tests/test_version.py))

We will migrate class-based tests to function-based tests.

## Motivations

`py

[2022-10-31 10:35] harupy opened #7205 "Enable pylint rules in group C"
We currently disable all pylint rules in group C (e.g. [invalid-name](https://pylint.pycqa.org/en/latest/user_guide/messages/convention/invalid-name.html)). There might be rules that should NOT be disabled. This issue tracks finding & enabling them.

|Rule|PR|Note
|:-|:-|:-|
|missing-function-docstring|TODO|Involved|
|consider-using-f-string|TODO|simple|
|wrong-input-order|TODO|simple|
|import-out

[2022-10-31 10:37] harupy commented on #7201
#7185 is a blocker.

[2022-10-31 11:58] dtpryce commented on #7195
Tested and confirmed all works again with versions matched :) thanks @harupy I would still prefer to see some sort of warning around this either in docs, changelog or code.

[2022-10-31 11:58] #7195 closed

[2022-10-31 12:21] AugustoPeres opened #7206 "[BUG] MLflow with ray starts another experiment"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.30.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 22.04.1

[2022-10-31 12:27] AugustoPeres commented on #7206
The bug persists even if I initialise ray before mlflow:

[code]

[2022-10-31 14:50] addisonklinke commented on #5035
@reedrefucher Could you link the fork with your PR? While the community is waiting on maintainers to merge this, we could at least use your implementation for a custom model flavor

[2022-10-31 21:35] jhallard commented on #6028
@BenWilson2 I'm actually not convinced that this is resolved or that MLflow is doing the right thing here. Take this traceback I'm seeing

[code]

My code is structured as follows

[code]

Now `workflows.py` does `import networkx`, and `networkx` has a call `from decorator import decorator` (hoping to import the built-in `decorator` utility that ships with Python), this is error'ing out because it

[2022-10-31 22:15] jhallard commented on #6028
There was actually totally a bug in 1.24.0 on [this line](https://github.com/mlflow/mlflow/blob/v1.24.0/mlflow/pyfunc/utils.py#L23) that caused models to work because MLflow wasn't actually detecting directories under `/code`. Once upgrading to 1.26.1, now our models break because MLflow is mucking with the system path so much

[2022-10-31 22:26] dbczumar commented on #6028
@jhallard Thank you for raising this issue! I completely agree that the conflict with `from decorator import decorator` is a pretty egregious bug. Ideally, I think it would be sufficient to add the model's current working directory to the PYTHONPATH, then `from api_utils import decorator` would work properly. Let me know what you think here. Would you be interested in contributing this fix?

[2022-10-31 22:29] jhallard commented on #6028
Yup! And we can confirm that it's the right fix because that's what we were inadvertently doing in version==1.24.0 because of a bug where weren't detecting any of the directories as directories, which left the code such that none of the subdirectories were added on the PYTHONPATH. It's only after that bug was fixed, and the code started working as intended, that these bugs were introduced.

I'm de

[2022-10-31 22:34] dbczumar commented on #6028
Perfect! Yep, I agree that this is the right fix. Simply deleting the subdirectory logic should do the trick. Thank you so much - very excited about this contribution!

[2022-10-31 22:36] jhallard commented on #6028
It seems like this might break some existing models out there that expect those subdirectories to already be on the path, for example, this is the issue that caused the bug to be fixed in the first place: https://github.com/mlflow/mlflow/issues/5786

If I undo that logic, this person's model will break with a `module not found` error. How should that person structure their `sklearn` model with ext

[2022-10-31 22:39] jhallard commented on #5786
@zionsofer I'm confused as to why your code couldnt be found, can you expand more on how the `<model>/code` directory was structured? The logic was already adding `<model>/code` to the PYTHONPATH, which means anything under there (like `<model>/code/custom_submodule/module.py` would have been importable as `from custom_submodule import module`. It's unclear to me why the `custom_submodule` wouldn'

[2022-10-31 22:39] jhallard commented on #6028
Posted a comment here https://github.com/mlflow/mlflow/issues/5786 to try and figure out how to fix this for everyone. We might need to change the way that `sklearn` and others use the `code_paths` argument when logging a model

[2022-10-31 23:00] BenWilson2 commented on #7206
If you're logging from Ray workers, can you try to pass the generated run_id (in the return value from `mlflow.start_run()`) to the worker executable code and ensure that the run is set as the active run before logging anything? Since the head node is generating the call to generate a new experiment, the workers likely won't have the context access to the head daemon.

[2022-10-31 23:02] BenWilson2 commented on #7186
@schmidt-jake I'm glad that I guessed what you were talking about. Thank you for confirming. We'll take a look at it internally and discuss. Thank you for the great idea!

[2022-10-31 23:12] BenWilson2 commented on #6028
I wouldn't worry too much about things breaking if someone is relying on recursive path additions to all scoped namespaces. That's definitely not correct. Thanks for continuing to dig in to this! If they have an issue, we can respond with referencing this ticket to elucidate why it's definitely not correct to recursively add all subpaths (I imagine anything named 'utils' or 'tools' or 'config' wou

[2022-10-31 23:34] jhallard commented on #6028
@BenWilson2 sounds good, but just one point of clarity - the code today isn't recursively adding paths, it's just going down level which is enough to cause things to blow up in most cases. This feels like some sort of directory structure off-by-one error

[2022-11-01 05:06] kuromt opened #7215 "[BUG] log_explanation failed because of type caset"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

- Client: 1.29.0
- Tracking server: 1.29.0

### System information

- **OS Platform and Distribution (e.g., L

[2022-11-01 07:54] ilkersigirci commented on #6882
Any news about helm chart?

[2022-11-01 07:56] ilkersigirci commented on #6882
@salinaaaaaa  Any news about helm chart?

[2022-11-01 08:22] y4ppieflu commented on #7166
Hi @harupy
kind reminder :)

[2022-11-01 13:09] BenWilson2 commented on #7186
Out of curiosity, have you tried plotting by `step` (that's recorded with iterative DL training) for the x-axis on the provided plotting iframe within run comparison? Does that fulfill the needs of your FR?

[2022-11-01 13:15] BenWilson2 commented on #7206
Hi @AugustoPeres I'm not seeing your use of either the `@mlflow_mixin` decorator mixin or defining an `MLflowLoggerCallback` from within a ray tuner instantiation.
Are you following along with the docs here https://docs.ray.io/en/latest/tune/examples/tune-mlflow.html to utilize the integration for ray worker processes to MLflow?
I highly recommend giving this a read: https://medium.com/distributed

[2022-11-01 15:55] sedan07 opened #7216 "[BUG] Docker build context is still created even when skipping image build"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### MLflow version

- Client: 1.30.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)

[2022-11-01 16:54] Cokral opened #7217 "[BUG] run_name doesn't work with start_run"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### MLflow version

- Client: 1.30.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)

[2022-11-01 17:41] BenWilson2 commented on #7215
I'm afraid that I can't reproduce this.
Could you take a look at the below unit test and see if I'm capturing what you're reporting as an issue?

[code]

[2022-11-01 17:45] BenWilson2 commented on #7215
The exception that you're getting is raised from here:

https://github.com/mlflow/mlflow/blob/6bddc546abb9001120fe09a1329e53b8eafcaf8f/mlflow/models/utils.py#L543-L549

Can you verify that you're passing in all of the required columns (see my example above for guidance).

[2022-11-01 18:55] dbczumar commented on #7217
Hi @Cokral , is your MLflow server also running MLflow 1.30.0? cc @BenWilson2

[2022-11-01 19:37] BenWilson2 commented on #7216
This makes sense to change. Thank you for identifying that the .tar creation isn't needed (as it should already exist if one is using the skip build option). We'll look for your PR!

[2022-11-01 23:35] harupy opened #7222 "CI failures in Ubuntu 22.04"
A few CI failures with Ubuntu 22.04 were found in https://github.com/mlflow/mlflow/pull/7203.

https://github.com/mlflow/mlflow/actions/runs/3360259811/jobs/5569231289#step:10:880

[code]

https://github.com/mlflow/mlflow/actions/runs/3360259808/jobs/5569232066#step:9:21

[code]

[2022-11-01 23:44] garymm commented on #2910
I think this can be done using the tools in this repo: https://github.com/mlflow/mlflow-export-import

[2022-11-02 00:13] harupy commented on #7217
Looks similar to https://github.com/mlflow/mlflow/issues/7195.

[2022-11-02 00:32] mlflow-automation commented on #7160
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-02 00:32] mlflow-automation commented on #6962
This issue is stale because it has been open 14 days with no activity. Remove stale label or comment or this will be closed in 35 days.

[2022-11-02 04:14] harupy commented on #7217
[code]

prints out:

[code]

`tags` should contain `mlflow.runName`, but it doesn't.

[2022-11-02 04:19] harupy commented on #7217
MLflow 1.29.0:

[code]

[2022-11-02 04:22] harupy commented on #7217
https://github.com/mlflow/mlflow/commit/5ddfe9a1b48e065540094d83125040d3273c48fa#diff-b33420360cc29a5224c8d3080bbfcaa0ac1c8891416137e13be044fcdfdd26f9L348-L349

[2022-11-02 04:33] harupy commented on #7217
We can use `mlflow.start_run(tags={"mlflow.runName": "test"})` as a workaround.

[2022-11-02 04:42] dbczumar commented on #7217
Thanks @harupy ! I completely agree - those lines need to be reintroduced :)

[2022-11-02 05:49] harupy commented on #7217
@Cokral We can make the following change to fix this issue. Looking forward to your PR :)

[code]

[2022-11-02 07:49] zionsofer commented on #5786
@jhallard I've explained more in detail here:

Instead, we should check that the full path is a directory

Since `x` is a result of `listdir` it is a string of directory *names* and not *paths*, i.e. doing `os.listdir(path)` does not generate results prefixed with `path`, so doing `isdir` on such a result would check that there exists a directory under the CWD, and not under `path`

[2022-11-02 07:56] jhallard commented on #5786
@zionsofer sorry, my question was poorly phrased. I understand that there was a logical bug in the code. My question is why that functionality is needed in the first place. Why would the directories underneath `/code` need to individually be on the path? Simply having `/code` be on the path should be sufficient as then all the directories would be found as available modules

[2022-11-02 08:08] zionsofer commented on #5786
@jhallard I'll admit I haven't been working with this of MLFlow lately, but IIRC it's because that the directories that are copied could be the parents of such libraries, then you would have to include those as well.

You should ask the maintainers though, as your question is indeed valid

[2022-11-02 09:28] Cokral commented on #7217
@harupy thanks! I opened a PR. First time I do any open-source so I might've missed something.

@dbczumar it seems to be a quite old version, `1.20.2`

Thank you guys for the quick feedback in any case :)

[2022-11-02 11:26] poonamgoyal080 opened #7231 "MLflow cloned repository is not working when deployed using docker image"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu
- **MLflow installed from (source or binary)**: source
- **MLflow version (run ``mlflow --version``)**: 1.28.1.dev0
- **Python version**: 3.7

### Code to reproduce issue

mlflow.create_experiment()
import mlflow.pipelines

### Describe the problem

We found out that new version of MLflow is released whic

[2022-11-02 11:28] nov301996 opened #7234 "MLFlow Cloned Repository is taking the new git version code while deploying the code using the DockerFile"
### Discussed in https://github.com/mlflow/mlflow/discussions/7233

<div type='discussions-op-text'>

<sup>Originally posted by **nov301996** November  2, 2022</sup>
MLFlow Cloned Repository is taking the new git version code while deploying the code using the DockerFile

We are currently using v1.27.1
but a Docker Automated deployed packages whl file is taking new APIs, when build the whl file lo

[2022-11-02 11:30] nov301996 commented on #7234
This issue is a like blocker for us, so Please consider this as HIGH PRIORITY

[2022-11-02 11:33] nov301996 commented on #7231
Even I have created a discussion and issue - https://github.com/mlflow/mlflow/discussions/7233 and https://github.com/mlflow/mlflow/issues/7234

[2022-11-02 12:44] AugustoPeres commented on #7206
@BenWilson2. The first solution worked for me.

I now use:

[code]

and then, whenever logging something from ray I simply use:

[code]

I also needed to set:

[code]

to ensure logging to the proper server uri

Thanks, will mark this as closed.

[2022-11-02 14:04] jdonzallaz opened #7235 "[FR] Add custom metadata in the MLmodel file"
### Willingness to contribute

Yes. I can contribute this feature independently.

### Proposal Summary

We need to be able to add custom metadata to the `MLmodel` file.

### Motivation

It would be nice to be able to add metadata to the `MLmodel` file in order to give additional information how the model should be deployed.

Our models are deployed differently according to their characteristics. I

[2022-11-02 14:25] BenWilson2 commented on #7206
I'm glad that it worked as a solution for you :) Thank you for using MLflow!

[2022-11-02 14:25] #7206 closed

[2022-11-02 14:48] ayushthe1 commented on #7185
#self-assign

[2022-11-02 15:37] wedesoft commented on #40
I had to allow access to the port to get it working with the host option.
[code]

[2022-11-02 16:01] BenWilson2 commented on #7231
Could you please report the version of MLflow that you're using on both the client and server side? Why are you using an old dev branch of 1.28.1.dev0? The most recent release (last week) was 1.30.0.
With the large amount of changes to MLflow Pipelines leading up to 1.30.0 release, it will likely give a more reproducible error that you can attach to this ticket if you ensure that both the server a

[2022-11-02 16:02] BenWilson2 commented on #7234
Can you please fill out the bug report properly? There is absolutely nothing to glean from this message. Closing and waiting for a full bug report ticket.

[2022-11-02 16:06] BenWilson2 commented on #7235
An interesting idea. Thank you for bringing it up. While we discuss this internally, could you provide a bit more context around the proposed structure, content types supported, and how the encapsulated data would be accessed and logged as part of the `<flavor>.log_model()` APIs?

[2022-11-02 16:14] ayushthe1 commented on #7201
hey @harupy , i would love to work on this issue but i'm currently a beginner and new to this .
Could you please elaborate what i need to do or point me to some resources for solving this issue.

[2022-11-02 17:23] chengyineng38 commented on #6871
@BenWilson2 When will be the next stable release? I can confirm that the workaround below works for `sparkdl.xgboost`, but wondering how long I need to keep the following line in my code. Thank you!

[code]

[2022-11-02 17:31] dbczumar commented on #6871
@chengyineng38 @NastasiaSaby A fix for this issue has been included in the Databricks Runtime and is currently in the process of being released to production workspaces. By the end of this week, it should be safe to remove the `DISABLE_MLFLOWDBFS` workaround code from your notebooks after restarting your cluster(s).

[2022-11-02 17:31] #6871 closed

[2022-11-02 20:34] poonamgoyal080 commented on #7231
Hi @BenWilson2 , I see you have suggested to take pull of latest version but we don't want to merge all the latest changes into our code repo(which we are maintaining). So can you please suggest a way on how we can use our local changes only while building a docker image.
When we building wheel file locally then it is working fine but when we are generating wheel using dockerfile it is somewhere t

[2022-11-02 21:20] barrywhart opened #7238 "[BUG] MLflow REST API incorrectly reports "database down" as BAD_REQUEST (HTTP 400) error"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### MLflow version

- Client: 1.30.0
- Tracking server: 1.30.0

### System information

- **OS Platform and Distribution

[2022-11-02 23:03] BenWilson2 commented on #7231
Which docker image are you referring to? The tracking server? Serving? Models in general? Sagemaker deploy?
You should be able to, if we're talking about the models implementation, disable building MLflow with the flag `install_mlflow` (set it to False) which would skip the execution called here https://github.com/mlflow/mlflow/blob/28e6937f8ad28233709cb5c4bb3d7bba7e7ddc42/mlflow/pyfunc/backend.py

[2022-11-02 23:12] BenWilson2 commented on #7238
Sounds good to me! Please let us know when you file the PR :)

[2022-11-03 00:32] barrywhart commented on #7238
Done! Created PR #7240. Are there pre-existing tests for this area of the code?

[2022-11-03 00:42] mlflow-automation commented on #7169
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-03 00:42] mlflow-automation commented on #7017
@dbczumar Please reply to comments.

[2022-11-03 07:52] JojoDevel opened #7241 "[BUG] Failing running repos with submodules"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

- Client: 1.30.0

### System information

- **OS Platform a

[2022-11-03 09:07] jdonzallaz commented on #7235
Thanks for your follow-up.

Our use case is the following: We want to distinguish two types of models:
- Models trained online which use user data - this kind of model cannot be shared between users when deployed.
- Models trained offline and is stateless. Weights are trained and frozen - it can be shared between users.

We could tag the models as stateless/stateful with the following code (our PR

[2022-11-03 09:46] OliverBaumfeld commented on #6877
I get the same warning. After setting the logging level to DEBUG, I get the following exception:

[code]

The important part is probably: `had length 6484, which exceeded length limit of 5000`

**For me, it looks like large signatures are not supported.**

A few more notes:
 - My model has 153 features as input.
 - When I reduce the number of features to 11, the warning and exception disappears.

[2022-11-03 14:51] BenWilson2 commented on #7235
Sounds good! If you could update the flavors, add a few simple validation tests for the flavors and ensure that serving functions correctly with a model artifact that includes this metadata element in the serialized structure, I think we'll be good to proceed :)

[2022-11-03 15:48] BenWilson2 commented on #7241
Hi @JojoDevel could you file a PR with this change and see if the existing test cases function correctly?

[2022-11-03 16:22] #7185 closed

[2022-11-03 19:09] addisonklinke commented on #4750
@niksbansode I have a deployment of 1.29.0 (released well after this issue was closed). However, the metrics section of my run page UI does not match your [screenshot](https://github.com/mlflow/mlflow/issues/4750#issuecomment-907741736). There's only a value column (which shows the latest) and no min/max columns. Did that end up making it into the PR?

![image](https://user-images.githubuserconten

[2022-11-03 19:41] adamreeve commented on #4750
Hi @addisonklinke, due to the high cost of retrieving all metric values when there a large number of metrics, this ended up being implemented slightly differently. Rather than showing the min and max values on the run page, the metrics page that you get to if you click on one of the metric names in your screenshot now has a table of latest, min and max values. If you view a metric from the run com

[2022-11-04 00:49] harupy opened #7248 "Fix `assert expected == actual` to `assert actual == expected`"
## Details

We have assert statements that looks like:

[code]

For example,

https://github.com/mlflow/mlflow/blob/ce1b4da8b1f1acbc5bf052f39e0894398c27641a/tests/store/tracking/test_sqlalchemy_store.py#L1590

The actual and expected values need to be swapped as follows:

[code]

I created [a script](https://gist.github.com/harupy/e7656c4c2b8bb5018c7674ddac73a312) to automate the transformation. T

[2022-11-04 00:57] harupy commented on #7248
Aakash Thette will work on this issue.

[2022-11-04 01:03] #7217 closed

[2022-11-04 02:54] harupy commented on #7201
@ayushthe1 Thanks! I think we can start with `tests/recipes/cards/test_histogram_generator.py`, which I think is easier to migrate because it doesn't contain any setup or teardown logics.

[2022-11-04 05:00] harupy commented on #7201
`tests/entities/test_file_info.py` is also easier to migrate.

[2022-11-04 08:24] kuromt commented on #7215
I reproduce the problem. I think that it causes when model signature is registed.

- disable autolog, work fine

[code]

result
[code]

- With autolog, raise error

[code]

result
[code]

In my environment, run with shap==0.40

[code]

[2022-11-04 08:48] kuromt commented on #7215
I found a workaround.

[code]

[2022-11-04 09:05] tamis-laan opened #7252 "MLFlow+Flyte+Pytorch: Encountered an unexpected error while inferring pip requirements"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

mlflow, version 1.30.0

### System information

- Arch linu

[2022-11-04 09:08] harupy commented on #7252
It's not an error, but a warning. You can insert the following code to see what went wrong:

[code]

[2022-11-04 09:10] harupy commented on #7252
If you want to disable the requirement inference, you can explicitly specify `pip_requirements`  in `mlflow.pytorch.log_model`:

[code]

[2022-11-04 14:08] tamis-laan commented on #7252
[code]

[2022-11-04 18:26] edvorkin opened #7255 "[BUG] When performing Sagemaker update the Data Capture setting are gone from a Sagemaker Endpoint"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

- Client: 1.29.0
- Tracking server: 1.x.y

### System information

- **OS Platform and Distribution (e.g., Li

[2022-11-05 00:15] mlflow-automation commented on #7186
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-06 03:49] danre07 opened #7257 "[BUG] Mlflow runs do not persist across files"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

- Client:  1.30.0
- Tracking server:  1.30.0

### System information

- ** macOS 12.6.1 **:
- **Python3.10**:

[2022-11-06 06:50] harupy commented on #7248
Aakash Thette hasn't responded. @ayushthe1 Are you interested in working on this issue?

[2022-11-06 07:21] ayushthe1 commented on #7248
Yes ,for sure. 🙂

[2022-11-06 14:09] #7248 closed

[2022-11-07 07:18] Trainbow opened #7262 "Is there any way to support automatic logging for the pytorch and tensorflow-1 version frameworks?[FR]"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

MLflow is a great job, I used it to log and track my experiments.
However, it seems the `mlflow.autolog()` can not support the pytorch network with `nn.Module` and tensorflow 1.0~1.15.
Is there any way to support automatic logging for the pytorch and tensorflow-1 version frameworks?

### Motiva

[2022-11-07 11:36] harupy opened #7269 "Enable `use-list-literal` rule"
Make the following change and replaced `list()` with `[]`

[code]

See https://pylint.pycqa.org/en/latest/user_guide/messages/refactor/use-list-literal.html for more information.

[2022-11-07 11:37] harupy opened #7270 "Enable `use-dict-literal` rule"
Make the following change and replaced `dict()` with `{}`.

[code]

See https://pylint.pycqa.org/en/latest/user_guide/messages/refactor/use-dict-literal.html for more information.

[2022-11-07 12:04] harupy commented on #7269
cc @ayushthe1

[2022-11-07 12:06] ayushthe1 commented on #7270
Thanks , I will take up this .

[2022-11-07 12:11] harupy commented on #7270
Nice! This command automatically transform `dict(...)` to `{...}`

[code]

[2022-11-07 12:29] shogohida commented on #7269
Hi @harupy, can I work on this? You mentioned another person so if he or she takes this, I will work on another issue 👍

[2022-11-07 12:47] harupy commented on #7269
Awesome, let me find a new rule that should be enabled.

[2022-11-07 12:48] harupy commented on #7269
@shogohida How about https://pylint.pycqa.org/en/latest/user_guide/messages/convention/unnecessary-lambda-assignment.html?

[2022-11-07 12:56] shogohida commented on #7269
@harupy
Thanks for replying! I can take that. Is there a good way to transform lambda like [this way](https://github.com/mlflow/mlflow/issues/7270#issuecomment-1305517225) you mentioned?

[2022-11-07 13:46] kuromt commented on #7215
@BenWilson2 What do you think about the error?
Should MLflow support explain with loaded model?

[2022-11-07 14:04] shogohida commented on #7269
I added `unnecessary-lambda-assignment` to `pylintrc` and ran `./dev/lint.sh`. There was no issue related to unnecessary lambda assignment. Should I make a pull request only with the change of `unnecessary-lambda-assignment`?

Please correct me if my understanding is wrong.

[code]

[2022-11-07 14:23] harupy commented on #7269
@shogohida What is your pylint version? I got:

[code]

[2022-11-07 14:26] shogohida commented on #7269
Oh I see. Mine is 2.9.6 and I noticed it's a bit old. I will install the latest version and run pylint again.

[2022-11-07 17:46] poonamgoyal080 commented on #7231
Hi @BenWilson2, Thanks for reply
I am using ./DockerFile this for the tracking server

FROM python:3.7

ARG VERSION=
ARG EXPOSE_PORT=5000

WORKDIR /app

ADD . /app

ENV DEBIAN_FRONTEND=noninteractive
RUN apt-get update && \
    # install prequired modules to support install of mlflow and related components
    apt-get install -y default-libmysqlclient-dev build-essential curl openjdk-11-jre-headle

[2022-11-07 19:35] BenWilson2 commented on #7255
Hi @edvorkin thank you for reporting. We're currently investigating this functionality and will look into this. Thank you for reporting!

[2022-11-07 19:47] BenWilson2 commented on #7215
I was able to reproduce what you're seeing. That being said, the APIs aren't really designed for what you're trying to do. There ARE ways to wrap an `Explainer` in a `pyfunc`.

[code]

There ARE ways to perform logging of Explainer details to a run while still supporting model signature inference.

[code]

[code]

There aren't ways of loading an arbitrary `pyfunc` model and running explanations on

[2022-11-07 19:51] schmidt-jake commented on #7186
@BenWilson2 tell me if I'm misunderstanding — I tried what you suggested and here's the result when I plot `epoch` (our available equivalent of your `step`):

<img width="1875" alt="Screen Shot 2022-11-07 at 12 48 31 PM" src="https://user-images.githubusercontent.com/13136287/200401276-e6346559-3740-492c-9be3-d2f31f7c385c.png">

The five runs being compared were all very short, only 1 or 2 epochs

[2022-11-07 19:53] BenWilson2 commented on #7231
Yep, for a tracking server fork, I'm afraid we don't provide any sort of support or guarantees for what others do with the forked code base.
I can only suggest that you merge the latest changes into your fork and deal with the dependency conflicts. The original exception that you posted has to do with internal APIs that are changing yet again in the upcoming 2.0 release. Good luck on the merge and

[2022-11-07 19:53] #7231 closed

[2022-11-07 19:56] BenWilson2 commented on #7252
This isn't exactly an MLflow problem. The exception that you're getting is that you don't have an executable entry point in your code. Please refactor your implementation and provide an inheritable entry point to your class so that the partial function can access the `.predict()` method.

[2022-11-07 19:56] #7252 closed

[2022-11-07 20:02] BenWilson2 commented on #7262
TF1 is officially deprecated and it is in the process of being completely removed from support for MLflow. We have no plans to continue supporting it in any way as it is no longer supported by Google. Please have a read here: https://www.tensorflow.org/guide/migrate to work on migrating your existing TF1 code to the supported and actively maintained TF2.

[2022-11-07 20:02] #7262 closed

[2022-11-07 20:02] Trainbow commented on #7262
已收到，谢谢！

[2022-11-07 20:42] BenWilson2 commented on #7257
This isn't a bug. This is a feature. Isolation between processes is a good thing.
If you're looking for a free tip on implementing something that will work for your use case, try generating a run_id from within your for loop and pass that run_id to your notebook.

Example:

[code]

Then, from within your notebook, simply parse that ```**kwargs``` value and consume the passed-in run_id. You _may_ n

[2022-11-07 20:42] #7257 closed

[2022-11-07 20:57] aayushisaxena2015 commented on #1703
Hi, i have registered a model and i'm able to log parameter/metrics details when the code is executed individually. But when i run the same code through pipeline, it doesn't log parameters and gives error "RestException: User does not have any permission level assigned to the registered model. "

Can somebody please help me on where I'm going wrong?

[2022-11-07 21:03] joncarter1 commented on #4594
@dbczumar since there had been no movement on this for a while I have implemented a PR for a simple REST version endpoint in the PR above :)

[2022-11-07 21:12] BenWilson2 commented on #7186
Each of those epoch writes to the tracking server have a discrete timestamp component to them?

[2022-11-07 21:31] schmidt-jake commented on #7186
I believe so, because they are logged as metrics and each metric is logged with its timestamp.

[2022-11-07 23:00] #7269 closed

[2022-11-07 23:00] #7270 closed

[2022-11-08 01:33] tk1012 opened #7277 "[BUG] Pulling docker image fails when skipping image build"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### MLflow version

- Client: 1.30.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)

[2022-11-08 01:48] harupy commented on #7277
@tk1012 Thanks for reporting the issue.

Sounds good. Could you file a PR to make the change?

[2022-11-08 02:13] mlflow-automation commented on #7201
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-08 02:13] mlflow-automation commented on #7205
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-08 02:39] addisonklinke commented on #6962
I don't have bandwidth to work on this PR currently. Anyone interested?

[2022-11-08 03:02] addisonklinke opened #7280 "[FR] Model registry semantic versioning"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

For registered model versions allow user-specific semantic versioning strings (i.e. `v1.1.3`) in addition to auto-incrementing integers

### Motivation

Providing greater flexibility to users for identifying a registered model

Currently, it's not possib

[2022-11-08 03:03] tk1012 commented on #7277
@harupy Thank you for the quick reply.

I attach a PR to fix this problem.
Please check it.

[2022-11-08 04:05] harupy commented on #7255
Hi @edvorkin, we filed a PR to fix this issue: https://github.com/mlflow/mlflow/pull/7281

[2022-11-08 06:14] #7277 closed

[2022-11-08 06:39] harupy commented on #7255
I created a branch (base ref: v1.29.0) to test the fix: https://github.com/harupy/mlflow/tree/v1.29.0-data-capture-fix

The following command installs mlflow from this branch:

[code]

[2022-11-08 08:54] jdonzallaz commented on #7235
Good! So I updated the pull request. Please get back to me if I forgot something in my implementation.

[2022-11-08 09:41] ayushthe1 commented on #7205
hey @harupy ,can I work on this issue ?
Also ,can u give some idea on how to approach this .

[2022-11-08 09:41] ayushthe1 commented on #7205
hey @harupy ,can I work on this issue ?
Also ,can u give some idea on how to approach this .

[2022-11-08 10:27] syaffers opened #7285 "[BUG] Lightning library import error"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### MLflow version

- Client: 1.30.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)

[2022-11-08 10:43] harupy commented on #7285
@syaffers Can you install `pytorch-lightning`?

[code]

[2022-11-08 10:54] syaffers commented on #7285
@harupy Aha, that did the trick it seems. I went to the lightning website and that was the recommended library to install. I guess we can add this as a new feature to be added so that new users can use `lightning` without needing to install `pytorch_lightining`

[2022-11-08 11:56] harupy commented on #7285
Is `pytorch_lightining` deprecated?

[2022-11-08 12:07] syaffers commented on #7285
No, I don't believe so. Actually I had some issues just by installing `pytorch_lightning` alongside this new `lightning` library even if I installed `v1.7.7` (which is compatible with `mlflow`). I has to reset my virtual environment and reinstall the packages (except `lightning`) and I'm able to log metrics again.

[2022-11-08 14:31] adrienpacifico commented on #109
Windows users  : `mlflow server -h 0.0.0.0` instead of `mlflow ui` did the trick for me.

[2022-11-08 15:26] harupy commented on #7255
@edvorkin Thank you for testing the fix. Glad. It's working :)

[2022-11-08 18:51] edvorkin commented on #7255
when do you think it can be merged into the main release?

[2022-11-08 19:04] BenWilson2 commented on #7280
Could the same effect be realized with using tags to define the differences in change magnitude?

[2022-11-08 22:29] addisonklinke commented on #7280
I think that's a potential workaround with a few downsides
* Version number is an argument to several Python client methods including `MlfowClient.update_model_version()`. This would be critical for integrating with external services
* Many parts of the UI would not respond to the tagged semantic version (i.e. registered model page)
* Tags can be edited/deleted independent of the registered model

[2022-11-08 22:43] BenWilson2 commented on #7205
@ayushthe1 It's recommended for this one to tackle separate elements (enabling convention checking alone is going to create a VERY big 'fix it list' that is far too large and comprehensive for a single PR.
I'll update the list above with the specific rules to enable.

When tackling the first of these, the following change will need to be made:

- Delete entry "C"
- Add:

[code]

Here: https://gith

[2022-11-08 23:15] #7255 closed

[2022-11-09 00:28] mlflow-automation commented on #7222
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-09 00:28] mlflow-automation commented on #7216
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-09 01:02] #7216 closed

[2022-11-09 05:25] leeweijie commented on #6618
Anyone working on this? Otherwise happy to work on this issue!

[2022-11-09 05:25] jaeday commented on #3738
Hi @dbczumar , I'm happy to take on this issue if it's still not assigned, please let me know!

[2022-11-09 05:35] jaeday commented on #6749
Hi guys, I'll be down to pick this issue up if help is still needed :)

[2022-11-09 05:50] rezakarbasi opened #7292 "set tracking URI path of a new experiment from code"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

When I set  my experiment name in python code ( and it's a new name ), mlflow builds a new set of log folders in the <ins>`path`</ins> of python code. This means I couldn't track artifacts in UI, if `mlflow server` doesn't start from the <ins>`path`</ins

[2022-11-09 05:56] dbczumar commented on #3738
Hi jaeday, thank you for picking up this issue! Looking forward to your contribution!

[2022-11-09 05:57] dbczumar commented on #6749
Hi @jaeday, thank you for picking up this issue! Looking forward to your contribution!

[2022-11-09 05:58] dbczumar commented on #6618
Hi @leeweijie, thank you for picking up this issue! Looking forward to your contribution!

[2022-11-09 06:41] ashishpatel26 opened #7293 "**What new features and improvements have been released?**"
**What new features and improvements have been released?**

_Originally posted by @ashishpatel26 in https://github.com/mlflow/mlflow/discussions/7213#discussioncomment-4093747_

[2022-11-09 09:40] mayankkthr opened #7294 "Question: Is it possible to use Gitlab or GitHub as --default-artifact-root ??"

[2022-11-09 10:48] nihalgurjar47 opened #7295 "how to add checkbox in mlflow.log"

[2022-11-09 10:57] nihalgurjar47 opened #7296 "Checkbox for active all metric."
Add a checkbox button in "mlflow.log_metric" and checkbox name will be All and when checkbox will be on activate mode so all metric will be activated and shown on the graph/bar chart.

[2022-11-09 11:50] luistelmocosta opened #7297 "No module named mlflow.recipes"
Hello, I noticed that there is a new version of the MLFlow Pipelines (now MLFlow Recipes). After upgrading to the new version and installing `mlflow>=2.0.0rc0`, when I try to initialize my new Recipe I get the following error: `ModuleNotFoundError: No module named 'mlflow.recipes'`

[code]

Is there any extra that I need to install? With pipelines we needed to install using `pip install mlflow[pip

[2022-11-09 14:14] ayushthe1 commented on #7205
Thanks @BenWilson2 ,so i guess these are the steps i need to do ?
* remove 'C' from disable.
* add any one of the above rule (eg: missing-function-docstring) to enable .
* run .dev/lint.sh to find out all the instances where the added rule is not followed.
* fix all the instances to comply with the rule
* make a pr corresponding to the added rule

[2022-11-09 15:23] BenWilson2 commented on #7205
@ayushthe1 we're in the process of merging a PR that takes care of most of the steps here to identify elements to work on.
#7290
Once that's merged (should be shortly), feel free to remove one of the marked rules in the table above with the "simple" note and proceed with fixing the pylint errors that are generated :) A great one to get started with is `superfluous-parens`

[2022-11-09 15:42] BenWilson2 commented on #7205
#7290 is merged now :)

[2022-11-09 15:49] ayushthe1 commented on #7205
Understood  @BenWilson2 😄
Will start working on `superfluous-parens`

[2022-11-09 22:40] BenWilson2 commented on #7293
Please reserve the Issues section of the repository for issues. This is a discussion comment that is best left to the Discussions board.

[2022-11-09 22:40] #7293 closed

[2022-11-09 22:41] BenWilson2 commented on #7294
Please use the Discussions section of the repository for questions on using MLflow.

[2022-11-09 22:41] #7294 closed

[2022-11-09 22:41] BenWilson2 commented on #7295
Please use the Discussions section of the repository for asking questions about using MLflow.

[2022-11-09 22:41] #7295 closed

[2022-11-09 22:42] BenWilson2 commented on #7296
Please follow the instructions on how to fill out a feature request.

[2022-11-09 22:42] #7296 closed

[2022-11-09 22:44] BenWilson2 commented on #7297
This hasn't been included in the release candidate. It will be a part of the full 2.0 release. If you want to try out features that are in progress, you will have to install MLflow from the master branch directly:
`pip install mlflow@git+https://github.com/mlflow/mlflow@master`

[2022-11-09 22:44] #7297 closed

[2022-11-09 22:46] BenWilson2 commented on #7292
Are you referring to the creation of the default experiment? (experiment_id '0')?

[2022-11-10 00:15] mlflow-automation commented on #7238
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-10 00:15] mlflow-automation commented on #7235
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-10 03:42] harupy commented on #7292
@rezakarbasi

Please share the code.

Please share the command you ran.

[2022-11-10 05:31] rezakarbasi commented on #7292
@BenWilson2
No, I mean every new experiment

@harupy
I use this command to run the server and watch the results on port 5004
[code]

also I run this piece of code to start mlflow logging in my code:
[code]

[2022-11-10 05:32] rezakarbasi commented on #7292
@harupy
I use this command to run the server and watch the results on port 5004
[code]

also I run this piece of code to start mlflow logging in my code:
[code]

[2022-11-10 11:01] pravingadakh opened #7304 "[BUG] mlflow.spark.load_model fails with NotADirectoryError"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

- Client: 1.24.0
- Tracking server: 1.24.0

### System information

- **OS Platform and Distribution (e.g., L

[2022-11-10 12:43] poonamgoyal080 opened #7305 "MLflow is not working after latest release 2.0.0"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS
- **MLflow installed from (source or binary)**: source
- **MLflow version (run ``mlflow --version``)**: 1.28.0
- **Python version**: 3.7

### Code to reproduce issue

python3 setup.py sdist bdist_wheel
pip3 install mlflow-1.28.0.dev0-py3-none-any.whl
mlflow --version
import mlflow

### Describe the problem

[2022-11-10 12:59] poonamgoyal080 commented on #7305
@harupy If I want to install a minor version for example 1.28.1 or 1.28.2 after changing version in mlflow/version.py file then I have to generate wheel file right?

[2022-11-10 13:01] poonamgoyal080 commented on #7305
getting below error after running `pip install mlflow==1.28.0`

[2022-11-10 13:04] harupy commented on #7305
Where did you run `python3 setup.py sdist bdist_wheel`? If you have a repository, please share it.

[2022-11-10 13:06] poonamgoyal080 commented on #7305
@harupy I am running `python3 setup.py sdist bdist_wheel` in Dockerfile but tried running in my local also but it is throwing same error.

[2022-11-10 13:12] poonamgoyal080 commented on #7305
I won't be able to share repository but last release I cloned from mlflow that only I want to use with custom changes on top of it.

[2022-11-10 13:14] harupy commented on #7305
I think something is wrong with custom changes.

[2022-11-10 13:19] poonamgoyal080 commented on #7305
My custom changes are nothing apart from the dockerfile I shared in #7231

[2022-11-10 13:23] harupy commented on #7305
Which parts of this are custom changes?

[code]

[2022-11-10 13:29] poonamgoyal080 commented on #7305
`RUN python3 setup.py sdist bdist_wheel`
added this so that wheel file can be generated and anyways I am facing same issue even if I am not building wheel with docker

[2022-11-10 13:31] harupy commented on #7305
What does `ADD . /app` add?

[2022-11-10 13:37] poonamgoyal080 commented on #7305
It's a folder which I created

[2022-11-10 13:38] harupy commented on #7305
Is it a mlflow fork?

[2022-11-10 13:47] poonamgoyal080 commented on #7305
you mean for app folder?

[2022-11-10 13:51] harupy commented on #7305
You modified the mlflow source code, right?

[2022-11-10 13:53] poonamgoyal080 commented on #7305
yes, this folder you can ignore it is doing nothing.

[2022-11-10 13:53] harupy commented on #7305
Please share the changes you made.

[2022-11-10 13:59] poonamgoyal080 commented on #7305
I didn't made any changes as I mentioned earlier I made change in version and docker file. When I build wheel file without docker in my local and install it in VM then mlflow --version shows same Traceback in green colour but it doesn't stop me to import mlflow. But when I build wheel file using docker file and install it in VM then I am not even able to import mlflow and mlflow --version is also

[2022-11-10 14:00] harupy commented on #7305
Please fill in the following Dockerfile.

[code]

[code]

[2022-11-10 14:01] poonamgoyal080 commented on #7305
In new release import mlflow.pipelines is removed from mlflow/__init__.py file but in old version it is still there

[2022-11-10 14:02] poonamgoyal080 commented on #7305
sure let me try this

[2022-11-10 14:45] harupy commented on #7305
@poonamgoyal080

[code]

works fine.

[2022-11-10 14:52] harupy commented on #7305
I have no idea what changes you made on top of mlflow 1.28.0, but please make sure the changes are valid.

[2022-11-11 00:16] mlflow-automation commented on #7241
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-11 00:16] mlflow-automation commented on #6929
This issue is stale because it has been open 14 days with no activity. Remove stale label or comment or this will be closed in 35 days.

[2022-11-11 00:42] harupy commented on #7304
@pravingadakh Thanks for reporing this issue. Let me check if I can reproduce it.

[2022-11-11 01:41] ToshihikoSakai commented on #6339
Thank you for creating this issue.
I had a same error https://github.com/mlflow/mlflow/issues/6339#issuecomment-1197254931.
I deleted the directory with meta.yaml which is an empty file.
I was able to solve it, so I report in my comment.

[2022-11-11 04:34] JasonJooste opened #7312 "[BUG] default artifact destination flag ignored for the default experiment"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

- Client: 1.30.0
- Tracking server: 1.30.0

### System info

[2022-11-11 07:12] JasonJooste commented on #7312
@harupy Thanks for responding so quickly! I see what I got wrong here. The default experiment is experiment 0 and gets associated with the first default artifact root and as well as any future "experiment-less" runs.

Is it possible to change the artifact storage location for an existing experiment (e.g. the default experiment)?

[2022-11-11 13:32] harupy commented on #7305
@poonamgoyal080 Any updates here?

[2022-11-11 14:19] paprocki-r commented on #5337
yes, please! I would love to use mlflow evaluation for keras multiclassification model

[2022-11-11 16:28] paprocki-r opened #7316 "[BUG]"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

- Client: 1.30.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubun

[2022-11-11 16:46] ReHoss commented on #1956
Please improve global verbosity.

[2022-11-11 22:14] pavanchhatpar opened #7320 "[BUG] pytorch autologging silently fails with fairscale distributed training strategy"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

mlflow, version 1.30.0

### System information

Python 3.8.10
Distributor ID:	Ubuntu
Description:	Ubuntu 20.0

[2022-11-11 22:20] boragokbakan commented on #7017
Any thoughts @dbczumar ?

[2022-11-12 14:48] pravingadakh commented on #7304
@harupy Were you able to reproduce it?

[2022-11-14 01:25] harupy commented on #7320
@pavanchhatpar

Is it possible to unwrap the model?

[2022-11-14 01:40] harupy commented on #7316
@paprocki-r I think we can try adding a layer to apply `argmax` after the final dense layer:
https://stackoverflow.com/questions/56704669/keras-output-single-value-through-argmax

[2022-11-14 01:40] #7312 closed

[2022-11-14 01:41] harupy commented on #7305
@poonamgoyal080 Feel free to reopen the issue if you need further help.

[2022-11-14 01:41] #7305 closed

[2022-11-14 01:54] harupy commented on #7304
@pravingadakh I wasn't able to reproduce the issue with the latest version of MLflow. You can try MLflow 1.30.0.

[2022-11-14 05:56] pravingadakh commented on #7304
@harupy The MLflow version (1.24.0) that we use is part of the managed offering at our organization and I can not change the version. Do you think I am missing anything here or if it is a legit issue then can we patch it or something?

[2022-11-14 05:58] pravingadakh commented on #7304
Also do you think this is related to https://github.com/mlflow/mlflow/issues/6450 issue?

[2022-11-14 06:02] harupy commented on #7304
I don't think you're missing anything.

[2022-11-14 12:03] paprocki-r commented on #7316
@harupy That's a great idea, thank you! The mlflow.evaluate() is working for a model like:

But, if I understand correctly, that's only temporary solution? I mean, we wish mlflow.evaluate() to be able to work for models having more than one output, right? For example, in our case here, training of the new model seems quite troublesome

[2022-11-14 12:07] harupy commented on #7316
Can you elaborate on this?

[2022-11-14 13:06] paprocki-r commented on #7316
Sure thing. So, in the example above, I'm not quite sure how to actually use this argmax_layer(). I can see 3 paths to explore 1) Should I train the model as it is and then add this extra layer? 2) Or should I add the argmax_layer() to the model and then train it (how?)? 3) Or maybe I should create a model A and model B(where B is A+argmax_layer()), train model A, copy it's weights to model B, the

[2022-11-14 19:35] pavanchhatpar commented on #7320
Looks like `trainer.strategy.lightning_module` returns underlying lightning module. I think a cleaner way of doing model summary is through `on_fit_end` method of a callback where `pl_module` is already available unwrapped alongside `trainer` object. The default `ModelSummary` callback also does that.

Either approach will prevent the code from breaking and let `patched_fit` proceed to log model w

[2022-11-15 00:52] harupy commented on #7316
Looks like you can add it after training. See https://stackoverflow.com/a/56705367/6943581.

[2022-11-15 00:54] harupy commented on #7316
Another workaround is to create your own evaluator.

[2022-11-15 01:59] harupy commented on #7316
@paprocki-r

We're considering adding a boolean flag indicating that the model outputs probabilities:

[code]

Please let us know hear your thoughts on this.

[2022-11-15 02:04] harupy commented on #7316
We should also consider how to support multi-label classification as well.

[2022-11-15 03:26] harupy commented on #7304
Unfortunately, we don't have a plan to make a patch release for MLflow 1.24.

[2022-11-15 04:38] pravingadakh commented on #7304
@harupy I wasn't expecting MLflow community to fix it. We just need help in identifying the root cause and maybe fix it ourselves.

[2022-11-15 06:37] #4120 closed

[2022-11-15 16:55] skbly7 commented on #6118
Interested in contributing to this task. 👋

[2022-11-15 19:06] echarso commented on #6335
I would be interested to see how i can deploy the pipeline steps in kubernetes and how to assign to each step in the pipeline separate compute resources. I think that will simplify a lot quite of a big number of open source MLOps solution out there :)

[2022-11-15 19:15] jnp opened #7347 "[FR] Authorization for MLFlow resources"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

MLFlow adoption is increasing and MLFlow holds important assets of an enterprise in their AI/ML journey. Experiments, runs and models capture important intellectual property of an organization that need to be secure for legal and business competitive rea

[2022-11-15 22:35] phatlast96 commented on #6086
I could take this up if no one has progress so far.

[2022-11-15 23:56] harupy commented on #7347
Related to #3553

[2022-11-16 00:15] mlflow-automation commented on #7285
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-16 00:15] mlflow-automation commented on #7280
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-16 00:15] mlflow-automation commented on #6882
@BenWilson2 Please reply to comments.

[2022-11-16 02:02] harupy commented on #7347
@jnp Thanks you for the proposal! We’ll be exploring this in the coming months. Your proposal will definitely be considered :)

[2022-11-16 08:40] PetricaR opened #7355 "[FR] recipes-timeseries-template"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Can we have recipes-time series-template ? i think that it would be very useful for the community.

### Motivation

to use model recipe for time series problems.

### Details

_No response_

### What component(s) does this bug affect?

- [ ] `area/artifacts`: Artifact stores and artifact loggin

[2022-11-16 11:04] ruial commented on #6556
Is there any update on this issue? We are currently monkey patching our MLflow Docker image to get the icons back.

[2022-11-16 20:05] gvelimir opened #7356 "[BUG] MLFlow experiments loading"
### Issues Policy acknowledgement

- [X] I have read and agree to submit bug reports in accordance with the [issues policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)

### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

2.0.1

### System information

- **OS Platform and Distribu

[2022-11-17 00:14] mlflow-automation commented on #7292
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-11-17 01:06] harupy commented on #7356
@gvelimir Thanks for reporting this issue. Let me check if I can reproduce the issue.

[2022-11-17 01:13] BenWilson2 commented on #7355
Hi @PetricaR we agree that it would. Please stay tuned for future developments in expanded templates and a community-driven approach to implementing template solutions for many different ML architectures. We're still ironing out the details of what we'd like to do here.

[2022-11-17 02:48] amesar opened #7357 "[DOC-FIX] Illegal JSON for record-oriented DataFrame examples as requests to model server"
### Willingness to contribute

No. I cannot contribute a documentation fix at this time.

### URL(s) with the issue

https://mlflow.org/docs/latest/models.html#deploy-mlflow-models

https://mlflow.org/docs/latest/models.html?highlight=orient#model-signature-and-input-example

### Description of proposal (what needs changing)

The examples are:
[code]
Most probably meant to be an array:
[code]