[2020-04-13 17:25] andychow-db commented on #2690
Thank you for reporting the issue. Experiment 0 is the default experiment.

A potential solution is that experiment 0 should be undeletable to avoid this problem.

Do you mind if I ask how you came across this bug? I want to understand the likelihood of this issue.

As a workaround, you should be able to create a new experiment and using that instead of the default.

[2020-04-13 18:02] andychow-db commented on #2691
@kosteev It looks like your docker container does not contain pip.

As part of your docker installation commands, you should add a line to install pip

[2020-04-13 20:04] mronda opened #2696 "Comparing different artifacts in comparison view [FR]"
#### Proposal:
Add ability to compare different artifacts (ie plots, pngs, txt files) of different experiment runs for a side-by-side comparison on the Comparison Dashboard.

#### Motivation:
At the moment, the framework allows comparisons of parameters and metrics per run but there is no way to compare the artifacts of those runs. Some experiments require more than a line-graph to fully glance at

[2020-04-13 20:24] ksanjeevan opened #2697 "[BUG] Remote Tracking server with Docker env throws 'Connection refused'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**: 1.7.2
- **Python version**: 3.7.4
- **npm version, if running the dev UI**: N/A

### Descr

[2020-04-13 20:26] ksanjeevan commented on #2544
@dbczumar will do! Want to sort https://github.com/mlflow/mlflow/issues/2697 out first but then I'll get to it :)

[2020-04-13 20:36] HiromuHota commented on #2691
I had the same error message "pip: not found".
What I have noticed from my console log is that
[code]

This means that miniconda has not been correctly installed, hence no pip can be found.

[2020-04-13 20:57] HiromuHota commented on #2691
Now I know what was wrong.
curl does not follow redirects without `-L` option.
So the step should have been like
[code]

I'll be submitting a PR to fix this.

[2020-04-13 22:02] lukemerrick commented on #2552
Sorry for the delay. Just re-built a Python 3.7 environment with TF 1.14.0 and MLFlow 1.7.0 and ran the above. The line with `mlf_model.predict(test_input)` raises a `ValueError`:

[code]

[2020-04-13 22:04] lukemerrick commented on #2552
Re-running with the change to `mlflow.keras.load_model` raises the same error.

[code]

[2020-04-13 22:15] lukemerrick commented on #2552
To recap, this raises the ValueError:
[code]

These are some workarounds that I think the `pyfunc`'s `.predict()` method should be equivalent to:
1.
[code]
2.
[code]

[2020-04-13 23:47] mgbckr commented on #1689
I just tried in `1.7.0` and it doesn't seem to be an issue anymore.

[2020-04-13 23:59] louis925 commented on #2690
Sure, I was trying to do some quick experiments so I added multiple results to the Default experiment. Then I decide to restart it so I clear the result by deleting the Default experiment from the UI. But then I can't run new experiments from my jupyter notebook to add more results to the mlflow anymore.

[2020-04-14 00:45] #2691 closed

[2020-04-14 06:30] RahulKulhari commented on #2208
I am also facing same issue.  Is there any update on this ?

[2020-04-14 06:49] NishaKale opened #2701 "[BUG]"
trying URL 'https://cran.rstudio.com/bin/windows/contrib/3.6/mlflow_1.7.0.zip'
Content type 'application/zip' length 195582 bytes (190 KB)
downloaded 190 KB

package ‘mlflow’ successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\suppwksadmin\AppData\Local\Temp\RtmpM57pQQ\downloaded_packages

Collecting package metadata (current_repodata.json): ...working... do

[2020-04-14 06:51] NishaKale commented on #2701
I am following same code as told on mlflow webside, but I am getting below error, Please tell me where i am going wrong.
Error in rethrow_call(c_processx_exec, command, c(command, args), stdin, :
Command 'C:/ProgramData/Anaconda3/envs/r-mlflow-1.7.0/mlflow' not found @win/processx.c:983 (processx_exec)

[2020-04-14 08:10] lopezco commented on #1825
@blueloony
I've managed to setup authentication by running mlflow server in a container next to an nginx container that handles [basic auth using](https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/).
The exposed port is the one from nginx container while the redirections to the mlflow container are done by nginx.
[Here](http://www.codingtricks.biz/how

[2020-04-14 08:34] jralfonsog commented on #2682
Hi, @andychow-db . Thanks for your response.

"mlflow" is the name of the docker host, so http://mlflow:5000 should be the right URL. Actually, I found that the snippet works if the variable `experiment` corresponds with an existent run, but if doesn't if I the `experiment` doesn't exist. Does it make any sense to you?

[2020-04-14 11:11] delcacho commented on #2421
I am having a similar issue, probably retaled.

Remote tracker running in a server, with PostgreSQL as backend. Artifact storage in S3.

log_model stores correctly the artifact in S3, but when I go and try to access it in the Tracking server, it says no artifact is available.

[2020-04-14 12:32] IvanNardini opened #2702 "[BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

Please fill in this template and do not delete it unless you are sure your issue is outside its scope.

### URL(s) with the issue:

https://www.mlflow.org/docs/latest/python_api/mlflow.mleap.html

### Descriptio

[2020-04-14 15:17] michalgromiec commented on #2164
Thanks Alberto, works good on my side also. But if I understand well, after this update mlflow ui retrieves data from local path and client is not able to push another artifact? (because mlflow is trying to upload artifact to server local path?)

[2020-04-14 19:04] andychow-db commented on #2682
Oh interesting! That's a great find.

It looks like MLflow fails out when we try to create a new experiment when it does not exist. (https://github.com/mlflow/mlflow/blob/master/mlflow/tracking/fluent.py#L47-L51)

I think the next step is to look at the MLflow server's logs to see what caused the INTERNAL_ERROR. Would you mind pulling those logs?

[2020-04-14 19:08] andychow-db commented on #2690
Ouch. It sounds like we should fix this.

[2020-04-14 19:10] andychow-db commented on #2690
Potential solutions would be
1. Prevent removing the default experiment
2. Auto-recreate of default experiment

[2020-04-15 01:04] lucagiovagnoli opened #2704 "[FR] Support explicit AWS credentials and multiple MLFLOW connections to s3"
-------
## Guidelines

## Describe the proposal
* Support explicit AWS credentials and multiple MLFLOW connections to s3.

RIght now the credentials come from ENV variables and there's no way to tell MLFLOW to change those credentials and instantiate a new boto3 Session.

This can be implemented easily by passing explicit AWS credentials and instantiating a boto3 Session rather than getting the de

[2020-04-15 21:16] #2596 closed

[2020-04-15 22:39] jralfonsog commented on #2682
[9a5301d49e05689c4d9efd0ca4fc2312ce85c2a59840490f7b5d5c9370106906-json.log](https://github.com/mlflow/mlflow/files/4484033/9a5301d49e05689c4d9efd0ca4fc2312ce85c2a59840490f7b5d5c9370106906-json.log)
Sure, find them attached here

[2020-04-15 23:30] ksanjeevan commented on #2697
I've had some progress on this. It can be solved with two steps:

1) Using the `docker run` flag propagataion introduced https://github.com/mlflow/mlflow/pull/2608 by passing `mlflow run .... -A net=host`. This fixes the the error thrown by `mlflow.start_run`. But then we get the error:

[code]

This is because https://github.com/mlflow/mlflow/blob/71922462cc82225f5509d0baea71d523d169d73e/mlflow/p

[2020-04-16 14:30] crauterb opened #2713 "[BUG] build_docker breaks due to missing pip"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: Yes and no - the script for training is from this repo, the infrastructure is set up
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 19.04
- **MLflow installed from (source or binary)**: Using pip
- **MLflow version (run ``mlflow --version``)**: mlflow, ver

[2020-04-16 16:07] ksteverson opened #2714 "[FR]"
## Describe the proposal
Add an option to ignore previously saved code_paths when calling mlflow.pytorch.load_model

### Motivation
I previously used mlflow.pytorch.log_model to store pytorch models and used the code_paths options to store some relevant files. However, the code has since been refactored and some of the dependencies called by the stored code have been moved. This causes mlflow.pyto

[2020-04-16 18:27] aarondav commented on #2548
Should be fixed!

[2020-04-16 18:27] #2548 closed

[2020-04-16 19:16] dbczumar opened #2719 "[BUG] Plotting ~ 35 metric curves causes significant browser lag"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2020-04-16 19:16] dbczumar commented on #2719
cc @Valentyn1997

[2020-04-16 19:23] dbczumar opened #2720 "[FR] Introduce shadow curves to line smoothness metrics plot"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

Please fill in this template and do not delete it unless you are sure your issue is outside its scope.

-------
## Guidelines

Feature requests typically go through the following lifecycle:

1. Submit feature re

[2020-04-16 19:48] Valentyn1997 commented on #2719
It is still an open issue for plotly, I guess.

For example, I found only open discussions:
- https://community.plotly.com/t/how-to-efficiently-render-many-70-plots/24829
- https://community.plotly.com/t/page-very-slow-to-load-many-graphs/4310
- https://community.plotly.com/t/plotly-notebook-very-slow-render-with-many-graphs/16861
- https://community.plotly.com/t/how-to-render-many-charts-without-

[2020-04-16 19:55] andychow-db commented on #2682
I cleaned up the logs a bit and pulled out what I thought was interesting:

[code]

[2020-04-16 21:56] tdhopper opened #2722 "[DOC-FIX] Broken link on Tutorials and Examples page"
### URL(s) with the issue:

https://www.mlflow.org/docs/latest/tutorials-and-examples/index.html

### Description of proposal (what needs changing):

[The link](https://github.com/mlflow/mlflow/blame/2bc7f80141cc032ebdeb187a912db911aad7e7ec/docs/source/tutorials-and-examples/index.rst#L17) to "Write & Use MLflow Plugins" is broken.

[2020-04-17 10:24] dpasqualin commented on #2429
Any workaround for this? Thank you.

[2020-04-17 18:53] dbczumar commented on #2719
@Valentyn1997 Thanks for digging into this! Bummer that plotly performance limitations are a well-known issue. @Zangr any ideas here?

[2020-04-17 19:07] lopezco commented on #2551
I've updated the version to v1.7.2 and the bug is still there.

[2020-04-17 19:23] dbczumar commented on #2713
@crauterb This has been fixed via #2699. We will release MLflow 1.8, which will contain this fix, shortly.

Duplicate issue for reference: https://github.com/mlflow/mlflow/issues/2691

[2020-04-17 19:23] #2713 closed

[2020-04-17 19:47] mronda commented on #2671
They way I found to go about this is to specify your artifact location when starting the server. I set the same directory for both store-uri and artifact-root.
[code]

[2020-04-17 20:05] mronda opened #2727 "[FR] View custom tags in comparison view"
Propose:
Not much of a proposal but want to know if it is possible to view custom tags in comparisons as it is very hard to gauge comparisons based only on the run_id to the right of the graphs. I read on [#2192](https://github.com/mlflow/mlflow/issues/2192#issue-536759760) that you can't really change the run_id as it is integral to the framework, but can we append a custom tag to each run in ord

[2020-04-17 20:43] arjundc-db commented on #2551
Hey,
Are you using an SQL server?

[2020-04-17 21:20] lopezco commented on #2551
@arjundc-db
Yes, I'm using SQL server.

[2020-04-17 21:23] arjundc-db commented on #2551
That is where this issue is most likely coming from. Quoting the docs : https://mlflow.org/docs/latest/tracking.html#where-runs-are-recorded
"MLflow supports the dialects mysql, mssql, sqlite, and postgresql."

[2020-04-17 22:47] pogil commented on #2673
@javierluraschi @kevinykuo is this something you could help with?

[2020-04-17 22:47] smurching commented on #2696
This is a neat idea! @gioa thoughts on this?

[2020-04-17 22:51] dbczumar commented on #2714
@ksteverson I'm a bit wary of providing options for explicitly ignoring code dependencies of ML models. Ideally, the model code should be sufficiently self contained so that, in conjunction with the conda environment, all of the model's dependencies are encapsulated within the ML model format.

I understand that code may rely on external modules that are not listed on PyPI / Anaconda. Perhaps it w

[2020-04-17 22:51] #2643 closed

[2020-04-17 22:54] aarondav commented on #2668
So is the idea that you would send a set of selected runs as a request to another web page? This might actually be best accomplished as a chrome extension which injects HTML into the MLflow page which can be installed in your organization.

Separately, you could fork the MLflow UI and add the customizations you're looking for on top.

I can't think of a great extension point for this kind of arbit

[2020-04-17 22:54] tomasatdatabricks commented on #2727
Hi @mronda. Yeah I think that makes sense. Custom tag may be difficult but we do have a run name. Would showing run name instead or in addition to run id work for you?

[2020-04-17 22:55] andychow-db commented on #2669
From the error message, it's trying to connect to an mlflow server. The command should work without that be necessary.

Can you see if the env var `MLFLOW_TRACKING_URI` is set to `localhost:5000`? Clear that env var and it should work.

An alternative is to run a local version of the mlflow server in another terminal using the command `mlflow server`

[2020-04-17 22:59] aarondav commented on #2704
Could definitely see creating separate sessions for different upload requests -- but how do you plan on propagating which identity/credentials to use through the `log_artifact` calls? Currently this is set session-wide through an environment variable, as you mentioned.

[2020-04-17 23:00] smurching commented on #2676
Hi @verasativa, apologies for the delay - there's no official tooling yet to support this use case, but there are some third-party scripts that enable it. In particular, @amesar's written scripts for migrating experiments between tracking servers in https://github.com/amesar/mlflow-tools/blob/master/mlflow_tools/export_import/README.md. Note that in general for this kind of migration, we strongly

[2020-04-17 23:03] dbczumar commented on #2674
@pdudzic123 Unfortunately, MLflow does not yet offer explicit support for MLflow Project execution on Windows. Please let me know if this is something you'd be willing to contribute towards.

Regarding the parsing issue with `&&`, is this a powershell-specific problem?

[2020-04-17 23:04] dbczumar commented on #2624
@nsom Do you have any updates here?

[2020-04-17 23:13] dbczumar commented on #2499
@Infinity1008 Sorry for the delayed response here. This definitely appears to be a bug caused by the fact that your ONNX model produces list outputs, which MLflow erroneously interprets as NumPy arrays without an explicit conversion. @andychow-db is going to attempt to reproduce the issue; we'll work to file a fix.

[2020-04-17 23:14] dbczumar commented on #2574
@PhilipMay Would you be willing to contribute this type of enhancement?

[2020-04-17 23:16] smurching commented on #2446
@dbczumar thanks for filing this, seems like there are two options:

1. Create a new run nested under `run_id` when calling `mlflow.start_run(run_id=run_id, nested=True)`. This somewhat complicates the behavior of the `run_id` parameter, as based on the `nested` flag we'd either resume & reset attributes of an existing run or create a new run that doesn't have the passed-in run ID, but rather is n

[2020-04-17 23:22] juntai-zheng commented on #2630
Looks like the PR to resolve this issue was merged, so I'll go ahead and close this issue. Thanks for your work @poppash! Feel free to reopen if anything else arises.

[2020-04-17 23:22] #2630 closed

[2020-04-17 23:22] dbczumar commented on #2446
@smurching Thanks for this concise summary of potential approaches. From my perspective, the current behavior where `nested` is ignored seems counterintuitive, and the current syntax to achieve the use case implied by (`run_id`, `nested`) is pretty verbose / inconvenient.

My vote for 2.0 would be to implement a behavioral change with clarifying documentation (not sure we need to increase the surf

[2020-04-17 23:22] nsom commented on #2624
Sorry for the late reply this actually ended up getting fixed it still occurs occasionally but refreshing the page and toggling the metrics section seems to fix it.

[2020-04-17 23:22] #2624 closed

[2020-04-17 23:25] pogil commented on #2433
Thanks for the input, @kbrose - logging to the "Default" experiment is intended to make it easy for people to get started using MLflow. I'm not sure I am convinced that reverting to the "Default" experiment is a typical behavior that we'd want to hard-code into the fluent client. Once our users are advanced enough to explicitly choose an experiment, we'd rather that become part of the normal proce

[2020-04-17 23:25] #2433 closed

[2020-04-17 23:26] smurching commented on #2336
@hkropp apologies for the delay - to confirm, this issue causes a warning to be logged but doesn't result in failure of your code, right? The warning should go away once MLflow 1.8.0, which contains https://github.com/mlflow/mlflow/pull/2703, is released

[2020-04-17 23:27] dbczumar commented on #2650
@MFreidank Thanks for the input here; I think the ideal workaround would be to fix potential session management gaps in the `SqlAlchemyStore`. Unfortunately, I attempted to reproduce this issue and was unable to achieve the same `Too many connections` error against a MySQL database. Here's the code I used:

[code]

Can you provide more information about the database URI that was passed to `MLFLOW_

[2020-04-17 23:27] juntai-zheng commented on #2550
Thanks for pointing this out! @Zangr do you have input on how we can get this to work?

[2020-04-17 23:30] dbczumar commented on #2494
@MarekScevlik Sorry for the delay here! It sounds like the environment in which your Java application is running cannot find the `mlflow` binary in the system path; are you executing the Java application within your conda environment? Are you still blocked by this issue?

[2020-04-17 23:34] pogil commented on #2603
Thanks for the fix in #2646, @tfurmston! Is #2647 the second PR you referred to, or is there still an outstanding issue?

[2020-04-17 23:35] tomasatdatabricks commented on #2413
Hi @adriangonz. We have considered doing this in the past but decided to go with the minimal default environments instead. The reason was what you said above - that the environment used for training can include more dependencies than is necessary for inference. And any extra dependencies will increase chances of portability issues (and make scoring image larger). Default environment seemed like a

[2020-04-17 23:36] dmatrix commented on #2702
Can you give us more clarification on how it failed?
We will fix the documentation in why you cannot load an MLeap model using Python pyfunc because of the underlying MLeap limitation.

[2020-04-18 00:00] pogil opened #2728 "[FR] Improve the accessibility of MLflow web UI"
## Describe the proposal

Address accessibility issues in MLflow web UI found by http://aka.ms/AccessibilityInsights

### Motivation

This will make MLflow web UI more broadly usable by a wide range of users.

### Proposed Changes

The first round of issues we'd like to address are relate to contrast, form labels, aria tags, and titles in iframes.

Experiment runs view:
- WCAG 1.3.1: Ensures eleme

[2020-04-18 00:26] mronda commented on #2696
That sounds perfect. I wasn't thinking about comparison of artifacts nested deeper within but main artifacts saved in root. I was thinking being able to compare perhaps 1-5 plots generated per run and having a column list of them. Something like this :

![image](https://user-images.githubusercontent.com/14831613/79623303-28e03280-80e1-11ea-979b-a1695792038d.png)

Looking forward to see any develop

[2020-04-18 00:51] fzyzcjy commented on #2668
Thanks!

[2020-04-18 00:51] #2668 closed

[2020-04-18 06:26] AlessandroVol23 commented on #2677
I've got exactly the same problem, except that MLFlow continues to track artifacts into a local file. If I start an experiment on the client side and look at the artifact URI `mlflow.get_artifact_uri()` I still see the local path

[2020-04-18 06:34] AlessandroVol23 commented on #2215
For me that worked as well (for NFS share). Do you have any idea how I can change the `artifact_uri` from existing experiments?

[2020-04-18 06:46] AlessandroVol23 opened #2729 "[BUG] Artifact URI doesn't change on existing experiments"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04.
- **MLflow installed from (source or binary)**: Binary Pip
- **MLflow version (run ``mlflow --version``)**: 1.7.2
- **Python version**: 3.6.9
- **npm version, if running the dev UI**:
- **Exact

[2020-04-18 06:49] lorenzwalthert commented on #2673
Note that the `mlflow_log_artifact()` API is also affected. It prints the logging 3 times.
I updated the above [example](https://github.com/lorenzwalthert/mlflow-r-casting-bug/tree/master/R) to include a call to `mlflow_log_artifact()` and that's how it looks.

[code]

I think this is a significant user-facing problem because it convolutes the terminal substantially.

[2020-04-18 08:08] tfurmston commented on #2603
Sorry, yes the issue is fixed now.

I meant to close the issue, but forgot.

[2020-04-18 08:08] #2603 closed

[2020-04-18 11:20] rom1504 opened #2730 "[FR] Make mlflow tracking backend scale beyond thousand of runs"
## Describe the proposal
Mlflow tracking backend currently is unable (with any storage backend) to scale in retrieval of runs beyond thousand of runs. My proposal is to consider this as an important issue for mlflow and to prioritize pull requests and issues that goes in this direction.
Here are some ideas :
* being able to retrieve only some of the metrics, tags, params https://github.com/mlflow/

[2020-04-19 22:42] mronda commented on #2727
Hi @tomasatdatabricks that would be perfect. Thanks!

[2020-04-20 04:29] #2674 closed

[2020-04-20 04:31] praymalik2000 commented on #2674
the problem was resolved based on suggestions from pdudzic123. thanks a lot.

[2020-04-20 04:32] #2663 closed

[2020-04-20 05:44] dbczumar commented on #2730
@rom1504 can you elaborate on the specific APIs that exhibit excessive latency with large numbers of runs? E.g., search with a large number of max results, search with a small number of max results?

Regarding #2212, I think that @mparkhe's suggestion of adding a simpler, stateless `columns` parameter to the Search API seems like a perfectly reasonable mechanism for improving search performance (s

[2020-04-20 06:08] mparkhe commented on #2730
Hi @rom1504,

I am a bit confused about this part

With pagination support you should be able to retrieve the data you need from the backend a few hundred-thousand runs at a time. The limitation would be on how to manage the storage in the calling client (if you intend to keep all the runs in memory) but I would not categorize of this as a scale issue with backend. Indeed, with file based backed 1

[2020-04-20 07:50] jlc-bolden commented on #2551
@arjundc-db
However, according to your quote, MLflow supports SQL server dialect = **mssql**.

Is that an error on the documentation?

[2020-04-20 07:52] lopezco commented on #2551
@arjundc-db
However, according to your quote, MLflow supports SQL server dialect = mssql.

That is where this issue is most likely coming from. Quoting the docs : https://mlflow.org/docs/latest/tracking.html#where-runs-are-recorded
"MLflow supports the dialects mysql, mssql, sqlite, and postgresql."

Is that an error on the documentation?

[2020-04-20 08:19] cyruoff opened #2735 "[BUG] Setting experiment id from python fails when running script from CLI"
### System information
- **OS Platform and Distribution**: Linux Ubuntu 18.04
- **MLflow installed from**: binary
- **MLflow version**: 1.7.2
- **Python version**: 3.8

### Describe the problem
Setting the experiment id in a python script with `mlflow.set_experiment('foo')` does not work when the script is run with `mlflow run . -e train_model_min`. In the case where something is logged to the exp

[2020-04-20 15:56] rom1504 commented on #2730
@dbczumar

Yes, I'm talking about retrieving a lot of runs (say 30000 (this is not a theoretical case, we actually have that)). For this as far as I know the only way is search_runs.
The use case for retrieving that many runs is mainly correlation analysis (checking which parameter gets good result in some metrics, checking that 2 metrics are correlated, ...)

We don't observe that. In our case wh

[2020-04-20 16:05] lopezco commented on #2551
I have executed the query in the logs on the SQL server and I've found the problem.

The query appears like this in the error message:
[code]

Performing the replacements...
[code]

The problem comes from the statement `CASE WHEN (anon_1.is_nan IS 1) THEN ...` as you can see below.
![image](https://user-images.githubusercontent.com/6637618/79772410-5838ae80-8330-11ea-8e67-7be2a05e63ca.png)

By rep

[2020-04-20 16:45] praateekmahajan opened #2736 "[FR] Support SageMaker multi-model endpoints"
## Describe the proposal
MLFlow currently seems to deploy each model to a new SageMaker instance. Since Novermber 2019, SageMaker has come up with something called multi-model endpoint, which allows users to deploy multiple models to the same instance.

One can read about multi-model endpoint here : https://aws.amazon.com/blogs/machine-learning/save-on-inference-costs-by-using-amazon-sagemaker-mul

[2020-04-20 17:33] tomasatdatabricks commented on #2727
Would you be interested in contributing :)?

[2020-04-20 20:46] ksteverson commented on #2714
I ended up doing a workaround by explicitly adding the required dependencies to the system path before calling load_model. It is a bit of a hack, but works. You are right that it is a better practice to ensure that the saved code_paths are self-contained, and I will do that from now on.

Perhaps all that is needed is a note in the log_model docs emphasizing that the code_paths (plus the conda envi

[2020-04-20 21:48] dbczumar commented on #2730
Hi @rom1504, it would be great to profile the slow query operations that you're experiencing. Perhaps there are addressable bottlenecks in the execution of SQL queries for search. Would you mind performing some profiling and providing feedback? https://docs.sqlalchemy.org/en/13/faq/performance.html outlines approaches for profiling SqlAlchemy operations.

[2020-04-21 10:49] jaklan commented on #1414
@Ben-Epstein I'll describe my use-case, which is for me a crucial argument for comparing runs between experiments (unless I miss sth):
- we have a multi-step ML pipeline
- the pipeline is run every Sunday
- each step of the pipeline is running as a separate task within Airflow DAG
- we want to have all steps tracked in one "catalog" - either an experiment or a parent run
- this "catalog" should be

[2020-04-21 11:29] adriangonz commented on #2413
There could be extra dependencies required at inference time but you are right in that these may just be a subset of the ones used at training time. Therefore, the user would need to somehow flag those explicitly, which can get tricky.

The user already has an option to specify a [custom environment in the `log_model()` method](https://www.mlflow.org/docs/latest/python_api/mlflow.sklearn.html#mlfl

[2020-04-21 11:29] #2413 closed

[2020-04-21 11:45] Ben-Epstein commented on #1414
@jaklan that's interesting, I think I understand your process and issue now.

Is each stage of the pipeline something you can "compare"? Ie does each stage have metrics? For a stage that's not necessarily a model, how do you know if it's outperforming a different run within that stage?

Also, you say you want to have all steps in one "catalog" which is fair, but I'm curious why. Would the organiza

[2020-04-21 14:34] jaklan commented on #1414
@Ben-Epstein

- >Is each stage of the pipeline something you can "compare"?

    Nope
- >Ie does each stage have metrics?

    Some of them

- >For a stage that's not necessarily a model, how do you know if it's outperforming a different run within that stage?

    There's no need to compare if it's not a model - it works as a "trace", with some metadata and interim artefacts we want store for e.g

[2020-04-21 19:57] Ben-Epstein commented on #1414
@jaklan Thanks for all of the answers! Very interesting, and a good example of where it may very well be useful to have cross experiment run comparisons.

The helper function is pretty straightforward, but it's in our custom tracking plugin. We essentially loop through all runs of a requested experiment (or all runs of all experiments if no experiment is passed in) and check the run name of each r

[2020-04-21 23:47] pisymbol commented on #1465
What is the status of this PR?

[2020-04-22 02:08] SaiKiranBurle opened #2740 "[FR] Support Tensorflow ModelServer for serving"
## Describe the proposal
Currently, the TensorFlow format model is served through the python API. However, TensorFlow has a robust serving solution which more robust and performant. The proposal is to support serving Tensorflow models through the native TensorFlow based solution.
More info about TensorFlow Serving: https://www.tensorflow.org/tfx/guide/serving

### Motivation
The primary reason for

[2020-04-22 03:18] Ben-Epstein commented on #2108
@eliasmistler For deploying a model to an endpoint like Sagemaker how would you implement that fix? I'm running into the same issue as OP when deploying to a Sagemaker endpoint.

[2020-04-22 09:15] ajinkyaambatwar commented on #1094
Hi @dbczumar , I was trying to run the sklearn_elasticnet_wine project. I created my own copy of the code and run it and got the conda.yaml file generated and created the MLproject file as mentioned in the examples. I am still getting the issue. I checked my mlflow version and it is 1.8 .
I am not using conda and doing everything in python3 virtualenv.
I tried setting --no-conda flag to try it out

[2020-04-22 11:18] mjmikulski commented on #2504
It seems that this feature request was partially implemented.

- [x] REST AP in #2725
- [ ] Python

[2020-04-22 11:53] jralfonsog commented on #2682
Thanks, @andychow-db . What should be the next step? Shouldn't this be created when generating a new experiment?

[2020-04-22 13:31] eliasmistler commented on #2108
@Ben-Epstein I've not worked with Sagemaker before, but let me share the relevant content of my Dockerfile -- hope that helps:

[code]

That `run.sh` file contains a bit of app-specific setup code and then a typical `gunicorn` call:

[code]

(note the `"$@"` which allows you to set parameters (like the `worker-class`) later on, without any re-wiring)

[2020-04-22 14:52] leeoniya commented on #2719
allow me to shamelessly plug

https://github.com/leeoniya/uPlot

[2020-04-22 17:09] #2154 closed

[2020-04-22 20:48] andychow-db commented on #2499
Filed a PR for a fix
https://github.com/mlflow/mlflow/pull/2742

[2020-04-23 09:43] ulorentz opened #2744 "[BUG]Unable to write artifact to a http server"
## System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian 10.3
- **MLflow installed from (source or binary)**: pip
- **MLflow version (run ``mlflow --version``)**: 1.8.0
- **Python version**: 3.7.3

### Describe the problem
I am running a mlflow server on a machine that has a reverse proxy via https (using apache). A client runs experiment and logs to the server

[2020-04-23 10:48] ambiSanthu commented on #2426
As per the docker image creation flow, a new conda env called "custom_env" is being created and dependencies from conda.yml is installed in this custom_env. With --no-conda option, I am not creating the custom_env but parsing the conda.yml and installing the dependencies directly into base env. Hence I make sure required dependencies are installed for the model to run.

[2020-04-23 12:31] joglekara commented on #2671
You're right, this does work when the directories are the same. However, there are times when it is useful to have the information split into two different directories (different types of storage, SSD vs. HDD etc.).

So just want to echo what @Roffild said. It would add to an already software to have this working.

[2020-04-23 15:32] edgBR commented on #2736
Hi!

Totally supporting this enhancement!

[2020-04-23 15:45] edgBR opened #2745 "[FR] Support SageMaker batch-transform"
###  Describe the proposal
MLFlow currently support multiple kind of deployments strategies (local machine, docker, kubernetes, aws sagemaker, azure etc...). However there are another deployment strategies specially useful when we do not need an endpoint 24/7 available.

More information available in this link: https://docs.aws.amazon.com/sagemaker/latest/dg/batch-transform.html

### Motivation
Ba

[2020-04-23 20:39] TheVillageFool opened #2746 "EKS MLflow Server S3 Artifact Access Denied"
Hello,

I'm currently working on dockerizing and deploying mlflow on an eks cluster. In the dockerfile, I set the env variables and run a script to start mlflow server. I'm able to connect to the server and save to the postgres backend I have set up, but I'm getting an Access Denied when attempting to save artifacts to S3. I ensured the environment variables are set for aws during the deployment s

[2020-04-23 22:53] tallen94 commented on #2736
Could this be achieved by setting the `--mode ` flag when calling `mlflow sagemaker deploy` to `add`? Their docs says it will add a new model to an existing endpoint rather than `create`.

https://www.mlflow.org/docs/latest/python_api/mlflow.sagemaker.html#mlflow.sagemaker.deploy

[2020-04-23 23:02] tallen94 opened #2747 "[FR] AWS Sagemaker Deploy Increase App Name Length for Users"
## Describe the proposal
Currently, when deploying a model using the `mlflow sagemaker deploy`, the `--app-name` arg is limited in the length we can provide because there are a lot of random id's concatenated to this value for the `endpoint-config` for example. I ran into this issue:
[code]
With a value for app-name: `hello-model-linregmodel-4d7b3f`. Here I am using the `<experiment_name>-<model_n

[2020-04-23 23:56] andychow-db commented on #2499
Fix Merged

[2020-04-23 23:56] #2499 closed

[2020-04-24 03:06] JJSong0805 opened #2748 "[FR]"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's
[Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests)
and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-04-24 16:48] akhisreelibra commented on #1470
So I had the same issue as @joshuafennessy. As he said I edited conda.yaml in my saved pyspark model with Databricks-CLI.

[2020-04-26 16:35] harupy opened #2750 "[BUG] antd version in package.json does not match package-lock.json"
package.json:

https://github.com/mlflow/mlflow/blob/8351d82e6ad4103bc58159175b29b406abb1e052/mlflow/server/js/package.json#L9

package-lock.json:

https://github.com/mlflow/mlflow/blob/8351d82e6ad4103bc58159175b29b406abb1e052/mlflow/server/js/package-lock.json#L1867-L1869

[2020-04-26 16:45] harupy commented on #2750
I found some bugs on the UI.

<img width="676" alt="Screen Shot 2020-04-27 at 1 31 13" src="https://user-images.githubusercontent.com/17039389/80313746-f4c6e900-8827-11ea-9976-acf7c5034d15.png">

[2020-04-26 16:53] #2750 closed

[2020-04-26 20:59] tbenst opened #2751 "[FR] API for querying JSON to support custom plots via Vega-Lite"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [X] Yes. I would be willing to contribute this feature with guidance from

[2020-04-27 04:01] amesar opened #2755 "[DOC-FIX] Better documentation on Keras and TensorFlow Autologging"
### URL(s) with the issue:

* https://www.mlflow.org/docs/latest/python_api/mlflow.keras.html#mlflow.keras.autolog
* https://www.mlflow.org/docs/latest/python_api/mlflow.tensorflow.html

### Description of proposal (what needs changing):

We need more complete documentation for the behavior and information saved for both of these autolog methods.

For the TensorFlow page, should add a link to wher

[2020-04-27 08:59] ogrisel commented on #2429
cloudpickle is not meant to store long lived Python objects. As per cloudpickle's [README](https://github.com/cloudpipe/cloudpickle#cloudpickle):

Why not use regular Python pickle for long term object storage in MLflow?

[2020-04-27 19:04] dbczumar commented on #2736
Hi @praateekmahajan this sounds like a nice feature to support in the sagemaker deployment API and we'd be more than happy to review a proposal for implementing it.

@tallen94 The current `--mode add` option unfortunately does not support multi-model endpoints on the same instance: each new model that is added to an endpoint is currently delegated a new instance

[2020-04-27 22:37] tomasatdatabricks commented on #2744
Hi @ulorentz, thanks for posting.

MLflow tracking server does not serve artifacts, artifacts are served via artifact repository. File uris (file:///path or just path) are served by local artifact repository. Local artifact repository points to the local filesystem on the client side. You can use ftp or sftp to store artifacts at remote tracking server. See https://mlflow.org/docs/latest/tracking.

[2020-04-27 22:41] tomasatdatabricks commented on #2745
Hi @edgBR, thanks for posting. This sounds like good feature to have. We would appreciate any contributions.

[2020-04-27 22:46] tomasatdatabricks commented on #2746
I am not sure if I understand your case correctly. Artifacts are usually logged by the client, not by the server. Does your client have sufficient rights to access your s3 bucket?

[2020-04-27 23:02] tomasatdatabricks commented on #2747
Thanks for posting. The random string is there to enable multiple versions of the same model. We can likely shorten it significantly or develop and more efficient naming scheme.

@tallen94 would you be interested in contributing this update?

[2020-04-27 23:06] tomasatdatabricks commented on #2748
This makes sense to me. cc @Zangr

[2020-04-28 01:12] cpatdowling commented on #1507
I'm facing an identical issue. Running with just the no conda flag,

`mlflow run . --no-conda`

directly from the conda shell with the base environment seems to work on example runs like mlflow/examples/sklearn_elasticnet_wine. No need to switch conda environments

[2020-04-28 03:51] rahulraj80 commented on #2682
I am able to run your code as long as the name of the experiment is unique.
Reusing the same name gives the API error you mentioned.

Simple test - in your code, change the name to:
import sys
EXPERIMENT_NAME = sys.argv[1]

And call then call the script by adding `uuid` at the end. (sudo apt install uuid , if you do not have it)

[2020-04-28 04:06] rahulraj80 commented on #2677
This seems to be an error in mlflow/store/artifact/ftp_artifact_repo.py.
This script tries to create folders with a leading '/' as the artifact_dir.
Specifically: log_artifacts calls log_artifact with:
'/8d21508921a547a88cfbf6d835818cb0/artifacts/outputs' :: 8dxxxxb0 is the uuid.

Making two changes fixes it.
Add these two lies to _mkdir and log_artifact functions:

[code]

[code]

And

[code]

[2020-04-28 05:10] rahulraj80 commented on #1815
Check https://github.com/mlflow/mlflow/issues/2677 : edit in one file should fix it.

[2020-04-28 05:16] rahulraj80 commented on #732
@ca8888 , @xd21303 : check https://github.com/mlflow/mlflow/issues/2677 . Editing store/artifact/test_ftp_artifact_repo.py as suggested there, might fix the issue for you. Can you check and revert?

[2020-04-28 10:24] utopianpallu commented on #1015
add your model.py file code in main.py file. It worked for me.

[2020-04-28 16:10] mikeoconnor0308 opened #2759 "[BUG] Pyfunc artifact paths created on Windows use Windows path separators."
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix
for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-04-28 16:48] mikeoconnor0308 commented on #2108
I've run into this issue as well when using the docker build functionality of mlflow.

The culprit line is [mlflow/models/docker_utils.py#L36](https://github.com/mlflow/mlflow/blob/83aabfd00096ed0939fc319bb20719957e573088/):

[code]

would swapping this to `gthread` be a suitable fix for this in general?

[2020-04-28 17:54] juntai-zheng commented on #2254
Thanks for the fix! Closing this issue now that it's been fixed.

[2020-04-28 17:54] #2254 closed

[2020-04-28 19:24] juntai-zheng commented on #2227
@HugangRen @khosravipasha are you still experiencing this issue? Was there any info from trying @sueann's suggestion?

@khosravipasha regarding setting the experiment inside the `start_run()` block, the resulting model goes to "default" because the run was originally started in the default experiment and will log everything in the original experiment.

[2020-04-28 19:27] juntai-zheng commented on #2692
Thanks for identifying the bug and putting in the fix! Closing the issue as it's resolved now.

[2020-04-28 19:27] #2692 closed

[2020-04-28 20:07] juntai-zheng commented on #2701
Hi @NishaKale, are you using the correct python version? `install_mlflow` assumes python version `3.6`. Is the issue still present with 1.8?

[2020-04-28 21:04] #2087 closed

[2020-04-28 21:17] raman-nbg opened #2760 "Can multiple mlflow registry instances run in parallel?"
Can multiple instances of mlflow registry run in parallel behind a load balancer or is there anything in the server like a sticky session or a state?

We need the server high available and need at least two instances in parallel.

I couldn't find anything about this in the docs. I also open a [thread on stackoverflow](https://stackoverflow.com/questions/61481147/mlflow-registry-high-availability)

[2020-04-28 21:55] juntai-zheng commented on #2621
Hi @saelha01, is this the code you're looking for? I'm not sure if you can pass in the argument as of yet, but this seems like you could add the extra command here: [https://github.com/mlflow/mlflow/pull/1329/files#diff-af7de445a15d07009617e03fb30e4d05R88](https://github.com/mlflow/mlflow/pull/1329/files#diff-af7de445a15d07009617e03fb30e4d05R88)

Could you also edit your title to properly reflect

[2020-04-29 05:35] evax opened #2763 "[BUG] Javascript crash plotting metrics (possible 1.8.0 regression)"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix
for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [X] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-04-29 06:00] harupy commented on #2763
@evax Does your metrics contain NaN?

[2020-04-29 06:06] harupy commented on #2763
I got the same issue with metrics that the code below creates.

[code]

[2020-04-29 06:08] evax commented on #2763
@harupy yes, it does. I remember reading in the docs at some point NaNs were not allowed, but I couldn't find it anymore in the current documentation.

[2020-04-29 06:30] harupy commented on #2763
The error (`TypeError: "e.value.toFixed is not a function"`) occurs in the line below when calling `toFixed` against `NaN` which doesn't have `toFixed`.

https://github.com/mlflow/mlflow/blob/c006ed9672fd379c150d8444279f4c9e2bf20034/mlflow/server/js/src/experiment-tracking/components/MetricsPlotView.js#L88

[2020-04-29 06:45] harupy commented on #2763
I think handling NaN as below should fix the issue.

[code]

[2020-04-29 06:45] harupy commented on #2763
cc @smurching @dbczumar @Valentyn1997

[2020-04-29 07:51] Jerryhe1995 opened #2765 "[BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-04-29 11:31] gkonstanty commented on #925
It is the same for 1.7 without postgres backend

[2020-04-29 12:33] ogrisel commented on #2429
FYI, we released cloudpickle 1.4.1 with a low maintenance compatibility fix that should remove this bug.

But keep in mind that cloudpickle is not meant to archive objects loaded in Python environment with different versions of the libraries (Python version, third party libraries and cloudpickle itself).

It is only meant to ship transient objects over the nodes of a compute cluster.

[2020-04-29 19:45] tanmaymathur89 opened #2768 "[FR] Plot metrics across multiple runs in an experiment"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [x] Yes. I would be willing to contribute this feature with guidance from

[2020-04-29 23:48] juntai-zheng commented on #2765
Hi @Jerryhe1995, [`MLFLOW_TRACKING_USERNAME` and `MLFLOW_TRACKING_PASSWORD`](https://www.mlflow.org/docs/latest/tracking.html#logging-to-a-tracking-server) are for [HTTP Basic authentication](https://en.wikipedia.org/wiki/Basic_access_authentication). The variables are for when you want to gain access to a server using the username and password that you set, not for setting a username and password

[2020-04-29 23:48] #2765 closed

[2020-04-29 23:56] juntai-zheng commented on #2755
Agreed - the docs are a bit lacking on this part. I'll open up a PR to improve the docs. Thanks for pointing it out!

[2020-04-30 02:03] harupy commented on #2768
@tanmaymathur89

Is this what you're looking for?

![plot-multiple-metrics](https://user-images.githubusercontent.com/17039389/80664619-37135300-8ad2-11ea-85cc-03f3eeaf805c.gif)

[2020-04-30 08:44] annaveronika opened #2769 "Add CatBoost support"
It would be nice to add CatBoost, one of the three most popular gradient boosting libraries. (https://catboost.ai/, https://github.com/catboost/catboost). Both XGBoost and LightGBM are already supported.

[2020-04-30 08:47] persas opened #2770 "[FR] Support for gensim models"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [x] Yes. I would be willing to contribute this feature with guidance from

[2020-04-30 08:55] harupy commented on #2769
https://github.com/mlflow/mlflow/pull/2417

[2020-04-30 12:30] pankajrandhe commented on #1870
I would like to work on this issue if no one else is working on it!

[2020-04-30 13:47] tanmaymathur89 commented on #2768
@harupy what version of mlflow is this?

[2020-04-30 13:49] Zangr commented on #2748
This makes sense. I'd recommend implementing a grid view similar to the new runs table and use it both in run comparison and model comparison pages. CC @gioa for design.

![Screen Shot 2020-04-30 at 6 46 20 AM](https://user-images.githubusercontent.com/6811562/80718159-a5461e80-8aae-11ea-81e5-b779fd392e68.png)

[2020-04-30 14:14] annaveronika commented on #2769
Do you plan to merge it?

[2020-04-30 14:15] harupy commented on #2768
@tanmaymathur89

This is v1.8.0.

[2020-04-30 15:01] tanmaymathur89 commented on #2768
@harupy Thank you! This should solve our issue.

[2020-04-30 15:13] tanmaymathur89 commented on #2768
We have v1.7.2 but it only plots a bar chart with x-axis

[2020-04-30 15:14] tanmaymathur89 commented on #2768
@harupy this made me realize that it actually plot two different curves in the same graph but it should be a one curve for a parameter.

[2020-04-30 15:31] harupy commented on #2768
Currently, it's not possible to plot metrics that belong to different runs as one curve.

[2020-04-30 18:44] tanmaymathur89 commented on #2768
Can we add that feature?

[2020-04-30 19:12] ditadi opened #2772 "Cannot load spacy model flavor from mlflow CLI"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix
for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [X] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-04-30 21:42] lukemerrick commented on #2552
@mparkhe Is there anything else you need?

[2020-05-01 01:24] juntai-zheng commented on #2552
Hi @lukemerrick, sorry for the delay. I believe I identified the bug and have a fix in https://github.com/mlflow/mlflow/pull/2762. The error was due to the MLflow implementation of the `keras` `pyfunc` expecting the input of arrays/list of arrays instead of a `pandas` dataframe.

As for `mlflow.keras.load_model.predict()` erroring out, this is expected since using this function loads the actual `k

[2020-05-01 03:08] harupy commented on #2560
Resolved by #2561

[2020-05-01 03:08] #2560 closed

[2020-05-01 06:08] harupy commented on #2763
@dbczumar Thanks for the fix!

[2020-05-01 08:02] evax commented on #2763
Thanks @harupy and @dbczumar!

[2020-05-01 10:19] Zangr commented on #2751
@tbenst Thank you for creating the FR.

For 1, is the current data returned by MLflow API contains enough information to be converted to the vega-lite format you mentioned? If that's the case, we probably just need a converter?

For 2, I'm not sure what exact UI/UX you are proposing by "produce a vast array of possible plots".  Do you mean a matrix plot? Also, do you intend to show that plot somew

[2020-05-01 16:26] utopianpallu commented on #1015
Hi can you try pasting your model code into main.py file and then run, It worked for me.

[2020-05-01 16:44] pogil commented on #2772
Hi @ditadi - in order for the `mlflow models serve` command to work the MLmodel file needs to contain a `pyfunc` model flavor. From https://github.com/mlflow/mlflow/pull/2242#discussion_r407120557 it looks like the spaCy flavor only writes the `pyfunc` flavor in limited scenarios. If that's what is happening in your case, you may be able to help broaden the support. @arocketman may be willing to h

[2020-05-01 16:50] HugangR opened #2776 "[BUG] MLflow mlflow.log_metric TimeoutError: [Errno 110]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-01 17:55] arocketman commented on #2772
Hi everyone. As @pogil pointed out, pyfunc flavor is present only under specific circumstances, please, as specified here:

https://github.com/mlflow/mlflow/blob/31536bd46d5c29419660c35c4f13ba1f2e6039f9/mlflow/spacy.py#L98-L102

And in docstring of pyfunc method:

https://github.com/mlflow/mlflow/blob/31536bd46d5c29419660c35c4f13ba1f2e6039f9/mlflow/spacy.py#L182-L189

Do you have a TextCategorizer

[2020-05-01 18:52] pogil commented on #2770
Hi @persas!

It's great that you would be willing to contribute! I'd recommend starting by reading our documentations on [MLmodels](https://mlflow.org/docs/latest/models.html), especially the Storage Format, Model API, and Custom Flavors sections. After that, the next step would be to read the [CONTRIBUTING](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst) guide, which includes guida

[2020-05-01 21:16] tbenst commented on #2751
Hi Zangr, I’m really proposing two separate ideas.

-  right now it requires a lot of API calls and manual work to get data in the format I describe and provide a hand-made example of above, which is the standard for most data scientists / statisticians, insofar as people are aware that there’s a standard ;) (i.e. see https://en.m.wikipedia.org/wiki/Tidy_data). So this is equally applicable to any

[2020-05-01 21:21] tbenst commented on #2751
For example, suppose I wanted to Compare runs using a Faceted bubble plot, with some run parameter determining each row, visualizing each model as a different color, with each metric appearing as bubbles, and one column of plots per metric. As things currently are, I’d have to fork Mlfow, and do a whole lot of work to show this in the GUI for compare runs. But everything I just described could be

[2020-05-01 22:41] dbczumar commented on #2714
@ksteverson That makes sense! We'd be more than happy to accept a PR that updates these docs. Is that something you'd be willing to contribute?

[2020-05-01 22:43] dbczumar commented on #2574
@PhilipMay Just checking in again! Any thoughts here?

[2020-05-01 22:47] dbczumar commented on #2744
@ulorentz As @tomasatdatabricks points out, MLflow does not currently support streaming artifacts through the MLflow server; there is an open feature request for this - we would really appreciate a contribution to this discussion: https://github.com/mlflow/mlflow/issues/629.

For now, I'm going to resolve this ticket. Feel free to reopen it if these responses haven't addressed your issue.

[2020-05-01 22:47] #2744 closed

[2020-05-01 22:49] pogil commented on #2623
@tomasatdatabricks I'm just catching up on this thread and #2605. Are there still open design questions here or is this a switch we would want to make?

[2020-05-01 22:49] dbczumar commented on #2215
Hi folks, as pointed out by @mjlbach and others, MLflow does not currently support streaming / proxying artifacts through the MLflow server. We have an open ticket requesting this functionality and would love community contributions on the design front: https://github.com/mlflow/mlflow/issues/629.

For now, I'm going to resolve this ticket; it would be great to continue this discussion on https://

[2020-05-01 22:49] #2215 closed

[2020-05-01 22:51] pogil commented on #2573
Hi @Tradunsky, have you had an opportunity to follow up on this? We would definitely welcome a contribution here.

[2020-05-01 22:52] dbczumar commented on #2704
Hi @lucagiovagnoli, do you have any updates here regarding the proposed mechanism for passing these credentials to `log_artifact` calls?

[2020-05-01 22:54] andychow-db commented on #2729
A run gets it's artifact location from the experiment
https://github.com/mlflow/mlflow/blob/31536bd46d5c29419660c35c4f13ba1f2e6039f9/mlflow/store/tracking/sqlalchemy_store.py#L323

`get_artifact_uri()` gets the uri from the run information in the database.
https://github.com/mlflow/mlflow/blob/31536bd46d5c29419660c35c4f13ba1f2e6039f9/mlflow/tracking/artifact_utils.py#L43

Here is my hypothesis:
Th

[2020-05-01 22:54] tomasatdatabricks commented on #2759
It would be great to fix this and also to enable pyfunc flavor tests on windows!

[2020-05-01 22:57] dbczumar commented on #2504
@mjmikulski I don't think we have plans to implement a Python health check function in MLflow, since the health check API is only implemented by the open source MLflow server (other implementations of the REST API do not expose the `/health` endpoint). If we were to introduce such a function in Python, we would also likely have to introduce it for R and Java, expanding the API surface significantl

[2020-05-01 22:57] #2504 closed

[2020-05-01 22:59] dbczumar commented on #2494
@MarekScevlik Please let me know if you're still encountering this issue. For now, I'm going to close the ticket until more information is available.

[2020-05-01 22:59] #2494 closed

[2020-05-01 23:01] pogil commented on #2463
@Jerryhe1995 were you able to resolve this issue? It looks like the server isn't able to access the credentials for connecting to the sftp server, or it is accessing different, incorrect credentials than those used by your client when you used the artifact logging calls.

[2020-05-01 23:02] dbczumar commented on #2444
@sukrat-kashyap @iivvaall @Esadruhn Thank you for raising this issue. I agree that `mlflow db upgrade` should be made to work with a fresh database instance; it is indeed annoying / problematic that this doesn't work until the database has been used to launch the MLflow server / record params & metrics.

I will investigate this issue.

[2020-05-01 23:02] pogil commented on #2403
@Zangr, what are your thoughts on this? Also of interest here is https://github.com/imrehg/hiplot-mlflow

[2020-05-01 23:03] smurching commented on #2776
Hi @HugangRen, it looks like the API request to log metrics in this case simply timed out (i.e. there may have been a loss of network connectivity on your training machine etc)

You can reduce the number of API requests made by using [`mlflow.log_metrics`](https://mlflow.org/docs/latest/python_api/mlflow.html#mlflow.log_metrics), or the lower-level [`MlflowClient.log_batch`](https://mlflow.org/doc

[2020-05-01 23:10] pogil commented on #2383
Just want to add a note that some form of webhooks support for Model Registry is on the roadmap here at Databricks, but we're still designing it.

@echarso for getting information about which git repo I'd recommend setting this yourself as a tag for now. It might be worth creating a separate feature request for this idea as well, but it requires a bit of thought about which git repo to log (curren

[2020-05-01 23:11] tomasatdatabricks commented on #2623
I think this is a switch we want to make. It can impact users though, I will double check if there are any objections.

[2020-05-01 23:12] aarondav commented on #2768
Would it be possible in your use-case to update the metrics for the existing run, using the [MlflowClient API](https://www.mlflow.org/docs/latest/python_api/mlflow.tracking.html)? Just wondering if this would avoid the need for special UI treatment to merge metrics from multiple runs together.

[2020-05-01 23:13] pogil commented on #2383
We may close this issue and link to a more detailed issue when we're ready to get some community feedback on webhooks. (cc @mparkhe)

[2020-05-01 23:24] AveshCSingh commented on #2655
Hi Harsh, thanks for reporting this issue. I believe it has been fixed [here](https://github.com/mlflow/mlflow/commit/39d47fa6351c7a39a2af3904819d3edcc394aff3).

Would you mind updating to v1.8.0 and checking if the error still occurs? I suspect it will fix this, so will close out the issue.

[2020-05-01 23:24] #2655 closed

[2020-05-01 23:25] Zangr commented on #2403
@smurching This looks great! Very like the same lib Tableau is using. It's also MIT licensed. I don't see it color scale on the examples though. Do you know whether they support that?

[2020-05-01 23:34] #2763 closed

[2020-05-01 23:34] andychow-db commented on #2429
Created a PR to pin to 1.4.1.
https://github.com/mlflow/mlflow/pull/2777

[2020-05-01 23:34] pogil commented on #2273
@harupy did you wind up submitting a pull request for this? I do think this would be valuable even without the diff only option @gioa suggested.

[2020-05-01 23:36] dmatrix commented on #2650
Waiting for the author feedback and label it as area/tracking

[2020-05-01 23:46] mparkhe commented on #1682
#2698 added functionality to log model schema along with the model. This addresses the concern about identifying exact required for a served model.

[2020-05-01 23:46] #1682 closed

[2020-05-01 23:53] tomasatdatabricks commented on #2623
After some more deliberation, I don't think we have enough information to make a decision right now.
Using python client does make a lot of sense to me and I get the advantage of not needing local docker installation. However, according to #2605 there may be some issues with some docker registries.

Since there were not too many requests going either way, I think we should wait and see what is bet

[2020-05-02 00:52] lucagiovagnoli commented on #2704
Hello everyone and thanks for your interest!

I haven't gone too deep in testing / architecting this because I wanted to gauge your interest first.

My idea is a pass-through the aws_credentials via `**kwargs`. The following code taken from the [S3ArtifactRepository](https://github.com/mlflow/mlflow/blob/60c71fae70aeff9841d60f63e023f129c02dec19/mlflow/store/artifact/s3_artifact_repo.py#L29) could

[2020-05-02 01:28] dmatrix commented on #2760
Added comments and answer to the thread on [StackOverflow](https://stackoverflow.com/questions/61481147/mlflow-registry-high-availability/61553326#61553326)

[2020-05-02 01:29] #2760 closed

[2020-05-02 02:44] gioa commented on #2748
@JJSong0805 Thanks for the idea! Just want to clarify, is this what you are asking for - sort by a metric and dynamically update the columns on the right side? (in the mock it is a run comparison page, but can work similarly in the model version compare page)
![sortOnComparison](https://user-images.githubusercontent.com/1960721/80853050-8052c800-8be2-11ea-983a-7828d9f12f26.png)

@Zangr As we talke

[2020-05-02 05:04] HugangRen commented on #2776
Hi @smurching , thank you for your answer. The connection seems fine. I was not sure whether it is because I am calling too many times of mlflow.log_metrics API and the server was not able to respond in time to all of them and in the middle time out happened.

When I changed it to this:

    for epoch in range(0, epochs):
        try:
            mlflow.log_metric(key="Accuracy", value=acc[epoch],

[2020-05-02 05:10] harupy commented on #2273
@pogil No, but I have a branch that I created to capture the demo in https://github.com/mlflow/mlflow/issues/2273#issuecomment-571945292. I'll clean up the code and submit a pull request.

[2020-05-02 05:24] HugangRen commented on #2776
Also, if I use mlflow.tensorflow.autolog(), the model is always logged. The model file size is a little bit large. To save the storage space, I do not want to log all models unless they are promising.  So finer control is needed. Autolog is nice and very easy to use but has its limitation too.

[2020-05-02 07:14] harupy opened #2778 "[FR] Use CircleCI for documentation build"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's
[Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-05-03 13:51] ditadi commented on #2772
I do not have TextCategorizer in my pipeline. My use case is NER with EntityRecognizer. Would it be possible to hack together a pyfunc flavored model manually?

[2020-05-03 16:30] Bibonaut commented on #2273
It would be very nice, if only a few or a maximum of `N` parameters are selected by default (I think this is how it is done in tensorboard).
I had problems to use the parallel coordinates plot because I have so many parameters and when I open the dialog, everything gets stuck and I have to close the web page.

[2020-05-03 16:34] Tradunsky commented on #2573
Hi @pogil,
Unfortunately, haven't got required environment for reproducing it on latest mlflow version.

I hope I will start working on it in near two weekends.

[2020-05-03 19:42] MarekScevlik commented on #2494
Hello dbczumar. Thanks a lot for a reply. Sorry for my later reply. I was busy with other work and simply did not have capacity/time to reply. So going back to the issue I faced. I still face it. The setup is that I am running the  code directly from Eclipse. I have a java file inside a java project.
See the screenshot. I hope it was attached correctly. Everything seems to work just fine. The only

[2020-05-03 19:48] MarekScevlik commented on #2494
So you think that this can be somehow fixed? What would my system path have to contain?
When you say: environment in which your Java application is running cannot find the mlflow binary in the system path..

Related to system variables I have only this defined:
![2020-05-03 21_45_43-Environment Variables](https://user-images.githubusercontent.com/5921306/80924113-74ecd180-8d87-11ea-9070-22073bb200

[2020-05-03 19:53] MarekScevlik commented on #2494
Full error:
FAILED: testUseArtifactRepository
org.mlflow.tracking.MlflowClientException: Failed to exec 'python -m mlflow.store.artifact.cli', needed to access artifacts within the non-Java-native artifact store at './mlruns/171/fd413dabebdf4559b10270377831a9ca/artifacts'. Please make sure mlflow is available on your local system path (e.g., from 'pip install mlflow')
	at org.mlflow.artifacts.CliB

[2020-05-03 20:10] asandu1971 commented on #2163
I have the same issue

[2020-05-03 20:26] saelha01 commented on #2621
@juntai-zheng thanks for pointing to the source code. I found the following mlflow/models/vi docker_utils.py, where you can setup the http proxy and https proxy.
below is my completed modified file

import os
from subprocess import Popen, PIPE, STDOUT
import logging
import mlflow
import mlflow.version
from mlflow.utils.file_utils import TempDir, _copy_project
from mlflow.utils.logging_utils import

[2020-05-03 21:14] Zangr commented on #2273
Currently, we automatically select all parameters and metrics that are present in all comparing runs, i.e. if paramA exists in all runs but one, it will be dropped. We can still select paramA afterwards but the line for run without paramA will be dropped from the plot.
[code]

[2020-05-04 01:33] JJSong0805 commented on #2748
@gioa Yes! That's it! Thanks to all of you and look forward to the update :).

[2020-05-04 03:28] tanmaymathur89 commented on #2768
@aarondav The reason we don't update the existing run is because it overwrites our workflow metadata too that are saved as tags in the run.
Are there any alternatives to store workflow metadata and job metrics for multiple prediction runs?

[2020-05-04 10:12] mikeoconnor0308 commented on #2623
I've experimented further with this and docker-py has the additional benefit of capturing/throwing API and build errors.

The method right now just logs to stderr, which isn't great when building images as part of a pipeline.

If we can figure out [#2605](https://github.com/mlflow/mlflow/issues/2605) I'd be happy to contribute the changes.

[2020-05-04 10:29] naduhrin78 commented on #2772
Hey @ditadi , can you explain how you did spacy NER using pyfunc.
@arocketman how can we broaden the support for other spacy models, as I use variety of them?

[2020-05-04 11:13] persas commented on #2770
Hello Paul! I will walk through the documents and let you know if I have
any questions.

However, I would love some more specific guidance since this will be my
first time contributing, very excited about that!

Please, let me know what are the next steps.

Thank you so much in advance!

Best!

El vie., 1 may. 2020 a las 20:52, Paul Ogilive (<notifications@github.com>)
escribió:

--
*Un Saludo.*
*

[2020-05-04 11:37] mikeoconnor0308 opened #2783 "[BUG] Tests on Windows: Artifact path urlparse does not work with absolute Windows paths."
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix
for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-05-04 12:35] arocketman commented on #2772
So, the point of change is the following:

https://github.com/mlflow/mlflow/blob/31536bd46d5c29419660c35c4f13ba1f2e6039f9/mlflow/spacy.py#L178-L195

More specifically in:

https://github.com/mlflow/mlflow/blob/31536bd46d5c29419660c35c4f13ba1f2e6039f9/mlflow/spacy.py#L193-L195

as you can see, we are applying the following:

`self.spacy_model(text).cats`

However, you can even call it with `self.sp

[2020-05-04 12:47] naduhrin78 commented on #2772
I am tackling a specific use case as well and I guess according to each task even within NER, a prediction may differ, so perhaps exposing predict as an abstract method which can be modified on our end rather than changing function in library itself would be cooler?

[2020-05-04 16:35] JazzyPierrot commented on #2701
Hi,
I had the same problem when installing on R.
I additionnaly installed mlflow with `pip install mlflow` and it seems to work now.
I use: python 3.7.6, mlflow 1.8.0 (command-line & r-library), conda 4.8.2 from miniconda.

[2020-05-04 18:47] juntai-zheng commented on #2552
The fix is now merged and will be included in the next release. Feel free to reopen if anything is still is going wrong. Thanks for pointing this issue out!

[2020-05-04 18:47] #2552 closed

[2020-05-04 22:52] pogil commented on #2153
It seems like a good improvement here would be to check for capitalization in project names prior to invoking docker and either

- failing but providing a meaningful error message, such as "To use Docker with projects, you must use lowercase letters in the project name.", or
- thinking through how the project names when interacting with the Docker components and whether it's safe to downcase the n

[2020-05-04 22:55] pogil commented on #2143
Hi @t-henri! Thanks for you contribution on #2217. Does your contribution on #2217 resolve this issue, or is there more that would be needed here?

[2020-05-04 23:18] dbczumar commented on #2778
@aarondav @smurching I know you folks were taking a look at alternative build tools as a replacement for Travis. This seems like a good opportunity for exploring CircleCI. Do you have input here?

[2020-05-04 23:25] dbczumar commented on #2776
@HugangR Can you provide more details about your MLflow Server setup to help us reproduce this issue? Are you running the MLflow Server on a remote cloud instance? Behind a proxy? etc?

@HugangR You raise a great point about `mlflow.tensorflow.autolog()`'s verbosity. Can you file a follow-up feature request to an add an option to reduce the amount of information logged during autologging? I.e. a f

[2020-05-04 23:26] dbczumar commented on #2755
@juntai-zheng Did you get around to filing a PR for this? If not, is it on the backlog?

cc @dmatrix who is willing to contribute here as well

[2020-05-04 23:31] dbczumar commented on #2770
Hi @persas! More than happy to answer any specific questions you have about Model Flavor development. As a reference, I would recommend taking a look at a recent pull request that introduced an XGBoost flavor to MLflow: https://github.com/mlflow/mlflow/pull/2124. In particular, the `mlflow/xgboost.py` implements the new flavor logic and APIs (i.e., `log_model`, `save_model`, and `get_default_conda

[2020-05-04 23:32] juntai-zheng commented on #2755
Ah I was planning on doing this later this week, but if @dmatrix wants to take it up feel free to!

[2020-05-05 05:54] harupy commented on #2778
The advantages that I think CircleCI has are:

1. It supports artifact hosting.
2. It displays job statuses separately on GitHub so we can easily identify failed jobs.
3. It has a cleaner config format.
4. We can define a sequence of steps and reuse it across jobs (see [reusing-config](https://circleci.com/docs/2.0/reusing-config/#authoring-reusable-commands)).

[2020-05-05 06:58] NishaKale commented on #2701
JazzyPierrot, I have same versions, still I am getting error:
Error in rethrow_call(c_processx_exec, command, c(command, args), stdin,  :
  Command 'C:/Users/suppwksadmin/miniconda3/envs/r-mlflow-1.8.0/mlflow' not found @win/processx.c:983 (processx_exec)
Type .Last.error.trace to see where the error occurred

[2020-05-05 07:34] jralfonsog commented on #2682
Sorry for the late response. Please, let me give it a look and come back here. Thanks for the idea

[2020-05-05 09:08] t-henri commented on #2143
Hello, yes this contribution fixed it, I totally forgot about this issue, I will close it now.

[2020-05-05 09:08] #2143 closed

[2020-05-05 09:55] PhilipMay commented on #2574
I will have a look into it.
Maybe I will just add "client cert. with tracking api" with the possibility to set an env-variable.

[2020-05-05 15:35] lopezco commented on #2551
@arjundc-db
Could you please take a second look at this?

[2020-05-05 16:00] pakelley commented on #2451
I definitely think having support for an ROC curve (or PR curve) would be useful! In addition to logging an array of metric values, it would be helpful to add support for a metric on the x-axis of the metric plot view. Some thought would need to go into the UX, of course, but I think this would be useful for visualizing the ROC curve.

The values @smurching proposed for `step`/`timestamp` are what

[2020-05-05 16:13] harupy opened #2786 "[BUG] Pylint ignores directories that do not contain __init__.py"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-05 17:05] anguy116 opened #2787 "log_metric will delete other metrics"
I try to run a for loop that logs metrics via their variable name
mlflow.log_metric(name+"_mean",alg_mean)

later down the line I run a command that log precision
mlflow.log_metric("Model Accuracy Score",accuracy_score(Y_validation, predictions))

my previous metrics will never be recorded

[2020-05-05 19:25] jlangballe-miovision opened #2789 "[BUG] Tensorflow 1.x example conda ResolvePackageNotFound"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix
for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [x] No. I cannot contribute

[2020-05-05 21:09] #2759 closed

[2020-05-06 01:07] pogil commented on #2163
Hi @sephib and @asandu1971, I was able to reproduce the issue. The problem happens when you run `mlflow ui` from the root directory of the mlflow repository. If you go into another directory to launch the UI, it should work. For example
[code]

[2020-05-06 09:37] echarso commented on #2383
Thanks, for the suggestion with the tag ,we are actually setting the git repo as a tag right now.
We can close this , hope the functionality with web-hooks will come !

[2020-05-06 09:37] #2383 closed

[2020-05-06 11:44] aurelsandu commented on #2163
Thank you Pogil ! With your help I go further  but now I have a little problem with the mlflow serve

When I issued the command
                 mlflow models serve -m runs:/c94c36bb6c0c48a2a7c895d93ec1866f/model
I get the following
2020/05/06 14:04:33 INFO mlflow.models.cli: Selected backend for flavor 'python_function'
2020/05/06 14:04:35 INFO mlflow.projects: === Creating conda environment mlfl

[2020-05-06 14:04] RMeli opened #2790 "[FR] Add PDF files to Preview"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-05-06 15:20] mustafa-pit opened #2791 "Using HDFS as artifact store"
Hi,
I need some help to configure setting up hdfs as the artifact store for mlflow. I have mlflow and hdfs all running in separate containers across a docket network. When I try to log the model I get the following error:

[code]

Access to hdfs is not an issue as they are in the same network and other services running on the same network can access hdfs as well.
Maybe there are some changes to be

[2020-05-06 15:29] mustafa-pit commented on #1466
I really wish @ShevyMittal-GSLab could have told us more about what he actually did to solve this isse. Does anyone from the mlflow team have any ideas?

[2020-05-06 17:50] imrehg commented on #2403
Hey @pogil, that's a great find, before I had a chance to come over here and let you know! :)
It's been moved to https://github.com/facultyai/hiplot-mlflow (as our team at at work helped out a lot, and will help maintain).  and been released to PyPI.

@Zangr it should have all the regular colour scales as HiPlot does it, it's all on the HiPlot side. Also it's Apache-2.0 license, just to be clear,

[2020-05-06 18:41] tallen94 commented on #2747
@tomasatdatabricks Sure thing I can help out with the contribution! Can you point me to some code that defines the current specification for naming scheme? I can define some stronger requirements from my side once I get more into how the current implementation works.

[2020-05-06 18:52] tallen94 commented on #2747
I think this is the section that creates the name using a function called `get_unique_resource_id` https://github.com/mlflow/mlflow/blob/master/mlflow/sagemaker/__init__.py#L609

[2020-05-06 19:20] tallen94 commented on #2747
So off the bat, I think we can make an improvement [here](https://github.com/mlflow/mlflow/blob/master/mlflow/sagemaker/__init__.py#L842) by only changing the value put into the `ContainerHostname`. As per the [AWS docs](https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_ContainerDefinition.html#sagemaker-Type-ContainerDefinition-ContainerHostname), it seems like this value only has to

[2020-05-06 21:16] tomasatdatabricks commented on #2747
The name definition is in mlflow.sagemaker.__init__.py::_get_sagemaker_model_name.
Context: the uuid is appended so that we can deploy multiple versions of the same model. We can almost surely truncate the uuid or come up with a more efficient mechanism altogether.

[2020-05-06 22:44] juntai-zheng commented on #2789
Thanks for catching this! Seems that this is relatively new and breaking a couple of our other examples as well - I'll make a PR to fix it.

[2020-05-06 22:50] dmatrix commented on #2791
It  seems like you are passing the artifact uri to the  `log_model(URI, python_model=args, conda_env= args, artfifacts=args)` instead of the `log_model(artifact_path, python_model, args..)`.

You need to configure the tracking server to use the artifact store for the HDFS URI. Here are a couple of options

1. launch the server mlflow server --default-artifact-root hdfs://hdfs:8020

2. Create an ex

[2020-05-06 22:58] dmatrix commented on #2790
Thank you for filling this feature request. We hope that a community member can take this task.
Short of it, you can save the artifact, download it, and view it in a pdf reader.

[2020-05-06 23:04] dmatrix commented on #2787
Can you please provide an elaborate reproducible use case so that we can try it? From what you have given us, we are unable to reproduce it.

[2020-05-07 05:29] HugangR commented on #2776
@dbczumar , the MLflow server is running on a VM in Azure cloud. I am accessing the server from my local compute through the http link. When I access it from my company network, I believe it is behind a proxy, as most company have.

That will be helpful. Especially if you can control model files are not logged every single time when a training job starts. The log files and metrics generally do not

[2020-05-07 07:16] conraddd opened #2793 "[BUG] AWS_DEFAULT_REGION environment variable is not propagated to docker container"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-07 21:55] #1796 closed

[2020-05-07 23:51] juntai-zheng commented on #2789
The fix has been merged. Thanks again for pointing this out!

[2020-05-07 23:51] #2789 closed

[2020-05-08 01:50] mustafa-pit commented on #2791
Can I check whether the artifact_path in pyfunc.log_model function is relative to the instance of mlflow or the instance of the experiment (code) being run? If the answer is latter, does that mean that the artifacts are not going through mlflow rather mlflow i just keep track of the paths?

[2020-05-08 04:08] mlwkshops opened #2798 "How to specify which model flavor to use for serving"
How can one specify which flavor to use while running
[code]
There is no flavor argument listed. And the default is `python_function`. How can I make it select a particular flavor e.g. `sklearn`?

Here is the MLModel file for reference.
[code]

[2020-05-08 05:42] liuweibin6566396837 opened #2799 "How to get models serve logs"
I created a seve by command `mlflow models serve --model-uri  <model_path>`.
When I request the serve by json， I can get the predict results, but no requested logs in backend only remain logs like :
`[2020-05-08 10:23:10 +0800] [110995] [INFO] Starting gunicorn 20.0.4
[2020-05-08 10:23:10 +0800] [110995] [INFO] Listening at: http://0.0.0.0:5202 (110995)
[2020-05-08 10:23:10 +0800] [110995] [INFO]

[2020-05-08 05:47] cthacker commented on #2735
@cyruoff following up on this, I noticed that it will not set the `run_name` either.

To fix your issue you have to pass in the experiment name in the command line like so:
`mlflow run --experiment-name foo .`
Though I don't think this should be expected behavior.

That will at least properly set everything under that experiment. However a problem I'm having is that I cannot set the `run_name` via

[2020-05-08 08:14] cyruoff commented on #2735
@cthacker Thanks for your follow-up. You are right, setting the run id with `mlflow.start_run` when running with the CLI `mlflow run ...` does not work either. (I know that I can set the experiment with a  command line argument, but this should not be the only way, since it is very impractical)
Maybe you should file another bug report and link to this one?

Both features, setting the run id and ex

[2020-05-08 09:19] Shmuma opened #2800 "[FR] Add support for cluster library definition in MLflow project execution"
Hi!

MLFlow redefines library dependencies on databricks cluster creation. In my project, extra libraries are needed on cluster nodes, but when I'm specifying them in cluster json file, they are ignored and replaced by the single mlflow dependency.

I suppose this happens in this line of code: https://github.com/mlflow/mlflow/blob/58a6053cad8d6c01f095a4e3dac8a1b560dc4a61/mlflow/projects/databricks

[2020-05-08 14:04] sephib commented on #2163
Thx for the update - currently we are managing to work with mlflow in other project

[2020-05-08 16:52] blairj09 opened #2801 "[BUG] mlflow R client doesn't work with databricks tracking server"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix
for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [x] No. I cannot contribute

[2020-05-08 17:05] tomasatdatabricks commented on #2801
Hi @blairj09, thanks for posting. I'll take a look, but please invalidate your Databricks token. (Not sure if you've noticed you included it in the output above)

[2020-05-08 17:46] blairj09 commented on #2801
Ahh thanks! I didn't realize this was included in the verbose output. Great catch! I've deactivated it.

[2020-05-08 19:24] pogil commented on #2800
@Shmuma thank you for raising this issue and finding relevant parts of our implementation!

The `conda-env` parameter in MLproject is intended to capture the dependencies required to run code in MLflow in a reproducible way. Needing a wheel in dbfs breaks the reproducibility across different environments, but perhaps that's okay in your context and could be managed outside of the MLproject format.

[2020-05-08 19:44] blairj09 commented on #2801
I tried with a valid experiment name and the issue persists:

[code]

Interestingly, when I run `mlflow_set_experiment()` with the same name, I see the following:

[code]

I would expect `mlflow_set_experiment()` to attempt to create the experiment if no experiment of the specified name exists:

[2020-05-08 20:28] tomasatdatabricks commented on #2801
I can reproduce the second issue, it is caused by bad error handling (pattern matching error message is not a good idea). I will fix that.

As for why create experiment does not work -  Can you create the same experiment with python client?

[2020-05-08 21:45] cthacker opened #2804 "[BUG] Run name not set when using start_run inside a MLproject execution"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-08 22:42] dbczumar commented on #2804
Hi @cthacker! This seems like a good feature to add. We should be able to thread the run name through to the `mlflow.projects._run()` method and set the `MLFLOW_RUN_NAME` tag by adding additional calls to `tracking.MlflowClient.set_tag()` in the following locations:

- https://github.com/mlflow/mlflow/blob/a9af2182505d4047c2d065e3f23c79f7ca6cf879/mlflow/projects/__init__.py#L99-L100

- https://git

[2020-05-09 08:56] Shmuma commented on #2800
Hi!

Thanks for your reply!

My requirements is quite simple. The code I'm writing requires some third-party libraries to be installed on computing nodes, not only on the driver's side.

For example, we're using maxmind GeoLocation libraries (maxminddb) to perform large-scale preprocessing, so, library maxminddb need to be present on workers. That's not the only example, but rather quite generic r

[2020-05-09 18:31] pranav-kohli opened #2806 "[BUG]"
I am trying to store an artifact to hadoop running on a different machine
 I am starting my mlflow tracking server with the following command
`mlflow server  --backend-store-uri  /tmp/mlflow --default-artifact-root hdfs://remote_machine:8020/user/pkohli/models --host 0.0.0.0`

The issue is after starting the server if I try to get the artifact uri it points to localhost hadoop
`print(mlflow.get_ar

[2020-05-09 18:43] #2806 closed

[2020-05-09 18:44] pranav-kohli commented on #2806
Actually it was fetching the artifact_uri from parent experiment. Deleting all the entries solved it

[2020-05-10 09:36] persas commented on #2770
Hi @dbczumar

I was coding the gensim flavor, but it has some particularities and those are the ones I want to address with you.

In particular, gensim has many different models ([gensim.models](https://github.com/RaRe-Technologies/gensim/tree/develop/gensim/models)).

Models such as, Doc2Vec, Word2Vec, or tfidf are very popular within the NLP community. Regarding the flavor itself, saving models

[2020-05-10 15:13] harupy opened #2807 "[BUG] Clickable icons have unnecessary margins"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-10 15:13] harupy commented on #2807
@Zangr

[2020-05-10 22:13] Zangr commented on #2807
Thank you for filing this bug @harupy . I think this is related to the previous changes to address `anchor-is-valid` with `<Button/>`
cc @AveshCSingh

[2020-05-11 04:20] pogil commented on #2770
@persas
That seems reasonable to encode them all in a single flavor. We do that for other libraries with many different model types, such as scikit-learn.

[2020-05-11 09:47] harupy commented on #2807
@Zangr Thank you for the comment. We could use `icon` property that `<Button>` has for the ant-design icons.

https://3x.ant.design/components/button/

[code]

<img width="458" alt="Screen Shot 2020-05-11 at 18 44 24" src="https://user-images.githubusercontent.com/17039389/81547922-79347280-93b7-11ea-9bc3-94d15988a8bc.png">

[2020-05-11 09:55] Zangr commented on #2807
@harupy sounds good! Would you like to create a PR?

[2020-05-11 09:57] harupy commented on #2807
However, this doesn't work for fontawsome icons.

[2020-05-11 10:01] harupy commented on #2807
In the latest version of ant-design, we can pass an HTML tag to `icon`, but we currently use 3.26 which only accepts a string for `icon`.

Latest: https://ant.design/components/button/
3.x: https://3x.ant.design/components/button/

[2020-05-11 13:39] harupy opened #2809 "[BUG] CollabsibleSelection has a gray background"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-11 16:04] weldpua2008 commented on #1449
Guys @Guoyoyo , @smurching, @cappaberra
I wonder if someone successfully migrated from pre-1.0.0 to 1.x?

We have 0.8.1 and no DB. As I understand - we can migrate in such way:
1. MLFlow 0.8.1 -> 0.8.2 -> 0.9.0 -> 1.0.0
2. Then we should switch file-backend  -> db-backend
3. Re-import everything in DB (I found only this script https://gist.github.com/bnekolny/8ec96faa0d57913eea6bb7848c06b912)
Am I

[2020-05-11 16:33] persas commented on #2770
Nice! I will take scikit learn as example for coding! Thank you :)

[2020-05-11 18:52] pogil commented on #2800
Thanks for the extra context @Shmuma! This may take a bit of design on our side and prioritization to surface this all the way up through to the MLflow command line for project usage. I'll try to get some clarity with the team over the next couple days when we could address it.

One potential workaround would be to use the Databricks jobs rest API. `runs-submit` (https://docs.databricks.com/dev-to

[2020-05-11 19:51] pogil commented on #2809
Thanks for filing @harupy - we'd definitely welcome a PR here.

[2020-05-11 21:03] PhilipMay opened #2812 "[BUG] Server gives 404"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix
for this bug to the MLflow code base?
- Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Archlinux

[2020-05-11 21:05] PhilipMay commented on #2574
Well - I did some code changes but I am blocked by this bug at the moment: https://github.com/mlflow/mlflow/issues/2812

[2020-05-11 21:23] dbczumar commented on #2812
@PhilipMay When installing / developing MLflow from source, the UI needs to be started manually with `npm` via:

[code]

[2020-05-11 23:23] sueann commented on #2798
Selecting a different flavor is not currently supported. But the pyfunc flavor internally will call the exact same code that'd be used to load the sklearn flavor model. Are there any deficiencies in using the pyfunc flavor?

[2020-05-11 23:27] blairj09 commented on #2801
Update: This appears to have been caused by a trailing slash in the `DATABRICKS_HOST` environment variable. After removing the trailing slash, the R API behaves as expected.

[2020-05-11 23:33] sueann commented on #2793
I think you can add the environment variable here: https://github.com/mlflow/mlflow/blob/2c61160817dfc3648502c49a592eb239aede17fa/tests/projects/test_docker_projects.py#L155-L157 (with test in https://github.com/mlflow/mlflow/blob/2c61160817dfc3648502c49a592eb239aede17fa/tests/projects/test_docker_projects.py#L155-L157). cc @dbczumar - is there any reason not to support the `AWS_DEFAULT_REGION` en

[2020-05-12 01:26] Guoyoyo commented on #1449
Hi, sorry can not help you.
I finally remove all experiments and recreate a new service with nwer
version 1.7.2 now.

Best,
Guoyoyo

Valera <notifications@github.com> 於 2020年5月12日 週二 上午12:04寫道：

[2020-05-12 02:43] harupy commented on #2807
@Zangr What do you think about creating a new component that has no padding and wraps an icon?

[code]

[code]

[2020-05-12 02:47] harupy commented on #2809
@pogil I'll submit a PR.

@Zangr This is also related to https://github.com/mlflow/mlflow/pull/2718/commits/9a8090ac06b815bba787909756019b75482b4208. Is there any specific reason you updated the `ant-design` version to `3.26` in this change?

[2020-05-12 03:52] shivam-soni opened #2813 "Getting INTERNAL_SERVER_ERROR on mlflow ui each time I log my model through pytorch."
I am using Google Colab and mounting my drive on my local system. Then in the same folder where my code is, I am running the mlflow ui. The example code works fine but any other program is not working. Any suggestions would help.

[2020-05-12 05:06] Zangr commented on #2809
Hi @harupy, thank you for filing this issue. I noticed this issue yesterday when I was working on an accessibility PR. I have already included a fix for it in that PR so you don't have to create a separate PR for it. I will link this issue when I submit the PR.

This version bump is introduced as part of the change to upgrade to Webpack 4. We updated some package.json items together with the upgra

[2020-05-12 05:12] weldpua2008 opened #2814 "[BUG] Cannot import data ERROR 1406 (22001): Data too long for column 'value' at row 1"
### Willingness to contribute
- [X ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution**: Debian GNU/Linux 10 (buster)
- **MLflow installed from (source or binary)**: binary
- **MLflow version (

[2020-05-12 05:17] harupy commented on #2809
@Zangr Thanks for the reply. That makes sense.

[2020-05-12 05:53] harupy commented on #2809
I think `antd` in `package.json` should be bumped too because If `package.json` says `"antd": "^3.23.5"`, I usually expect `package-lock.json` has the same version (`3.23.5`).

[2020-05-12 07:29] jkthompson commented on #2446
I'm a new mlflow user and recently ran into the same issue raised by @dbczumar.  I am implementing a multi-step workflow using nested runs, and currently use the syntax referenced above, but this seems overly complex.  I'd like to propose a 3rd option:
3. Add a new parameter <parent_id> to <mlflow.start_run()> and <mlflow.run()>.  When set, the new run is nested under the value of <parent_id>.
I t

[2020-05-12 08:17] IdoNisso opened #2815 "[FR] Support for built-in SageMaker algorithms"
## Willingness to contribute
- [ ] Yes. I can contribute this feature independently.
- [x] Yes. I would be willing to contribute this feature with guidance from the MLflow community.
- [ ] No. I cannot contribute this feature at this time.

## Proposal Summary
Add native support for the built-in algorithms (training jobs) in SageMaker.

## Motivation
I work with an AWS partner and many of our ML p

[2020-05-12 12:15] you-n-g opened #2816 "[BUG] MlflowClient use a relative path to download_artifacts without using the absolute path in tracking_uri"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-12 12:55] weldpua2008 opened #2817 "[BUG] Experiment ID can't be 0 in MySQL"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [X] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
### System information
- **Have I written custom code (as opposed to using a stock example s

[2020-05-12 14:10] tanmaymathur89 commented on #2768
@aarondav any thoughts?

[2020-05-12 19:11] jkthompson commented on #2194
Would this approach work if the child runs are started in a separate python context (e.g. as separate airflow tasks)?

[2020-05-12 19:18] battlesnake commented on #2194
The orchestrator is potentially a separate process on a separate machine to the child runs - so some way to set the parent run ID in the child to the run created in the orchestrator would be needed.

[2020-05-12 19:37] jlangballe-miovision opened #2818 "[BUG] Unable to delete experiments with long names from UI"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-12 19:51] jlangballe-miovision opened #2819 "[FR] Resizable sidebar for long experiment names"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-05-12 21:50] teristam commented on #2099
Just come in to say that this feature is much appreciated! Will make mlflow a tensorboard killer! Now I am using some auto-refresh extension in firebox but obviously it is not ideal.

[2020-05-13 03:32] jkthompson commented on #2194
I think @mparkhe is suggesting that it's possible to restart the parent run prior to starting the child run, when on a separate machine / context.  However, this requires a few more lines of code and is not intuitive or documented.  I would like to see this FR implemented.  Interesting that the JAVA API seems to already supports this.

[2020-05-13 03:43] malanb5 opened #2820 "[BUG]: parameter passing integers when expecting floats to mLflow run throws an Exception"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-13 03:52] malanb5 commented on #2820
I was able to solve this by changing in parameter from a integer to a float by adding a 5.0
[code]
In fact any integer will trigger this exception.
Suggest that this is handled a little more gracefully, and automatic casting from an integer to a float internally.

[2020-05-13 06:18] harupy commented on #2820
@malanb5 Thanks for reporting. I investigated how this error occurs.

1. Run `mlflow run https://github.com/mlflow/mlflow-example.git -P alpha=5`.
2. A new run is created with given parameters **before running an entrypoint script** (which is ` train.py` in this git example). It should look like:

- <img width="205" alt="Screen Shot 2020-05-13 at 15 09 07" src="https://user-images.githubuserconten

[2020-05-13 06:46] malanb5 commented on #2820
@harupy thanks for explaining this.  I see we have state in two different places that we need to coordinate.  Looks like we modify the logged value as we run the program noting the casting, which seems a little messy or we take away the casting and leave it to ElasticNet's constructor.  Taking a look at ElasticNet's Constructor it does specify a float, however will have to do a little digging to s

[2020-05-13 07:03] malanb5 commented on #2820
Specifying types beforehand using a schema?  Dynamically modifying the log file at runtime seems a little messy. @harupy what do you think?

[2020-05-13 12:00] Vcv85 opened #2821 "[BUG] Type 'path' error with execution of mlflow experiment on databricks clusters"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-13 21:18] AgrawalAmey commented on #1653
Looks like this is already resolved in https://github.com/mlflow/mlflow/pull/2565

[2020-05-13 21:49] #1653 closed

[2020-05-13 22:27] juntai-zheng commented on #500
SpaCy support has been added in! Closing this issue now.

[2020-05-13 22:27] #500 closed

[2020-05-13 22:37] andychow-db commented on #2819
These seems like a useful feature for users to have. Would you be interested in helping out here?

[2020-05-13 22:45] dbczumar commented on #2814
@weldpua2008 Thank you for raising this issue. There is, indeed, a 250-character limit imposed on parameters and parameter values in the MLflow Service API. It is documented here: https://mlflow.org/docs/latest/rest-api.html#request-limits. Accordingly, all backend stores (SQLAlchemy, FileStore, custom implementations, etc) are expected to conform to this limit.

It looks like our File Store does

[2020-05-13 22:48] dbczumar commented on #2804
@cthacker Just checking in! Is this still something you'd be willing to contribute towards? Let me know if you have any questions about the proposed strategy.

[2020-05-13 22:49] smurching commented on #2816
Hi @you-n-g, thanks for reporting this issue. The problem here seems to be that the run was created under an experiment whose artifact root is a relative path on your local filesystem, rather than an absolute path. Do you know how the experiment in this case (with ID '20') was created?

I tried to create an experiment against my local `mlruns` directory using `mlflow experiments create -n <name>`

[2020-05-13 22:49] mparkhe commented on #482
@schipiga is this still an issue. `mlflow` does not install sagemaker.

[2020-05-13 22:51] dbczumar commented on #2704
Hi @lucagiovagnoli! Thanks for clarifying this proposal. I'm going to go ahead and run it by other committers to get feedback.

[2020-05-13 22:55] #871 closed

[2020-05-13 22:55] smurching commented on #871
This is now supported in the UI (as of MLflow 1.6.0), closing it out

[2020-05-13 22:56] pogil commented on #1723
Hey @mgbckr, there definitely some interesting ideas in here and we recognize that there's room for improvement in the APIs for how people can work with artifacts. I agree that there are several things here that could be up for discussion.

I'm hoping that as we add more clear areas of ownership for committers we can pair you up with someone that could take a closer look and have that discussion w

[2020-05-13 22:57] dbczumar commented on #2574
Hi @PhilipMay , I responded to #2812. Please let me know if this unblocks you!

[2020-05-13 22:59] zhidongqu-db commented on #2786
Hi @harupy, thanks for reporting this issue. We would love to review if there is an open contribution that solves this!

[2020-05-13 22:59] AveshCSingh commented on #1465
@gkorland is working on a PR that introduces a plugin system for integrating deployment tools. I believe this will be easier to implement once that is complete.

@rakelkar, let me know if you'd like to drive this.

@pisymbol, I don't believe a PR has been opened implementing this.

[2020-05-13 23:04] sueann commented on #1457
As the demand for #C surges, this might be something we can consider later down the roadmap; but for now marking as low priority until we hear more. Thanks!

[2020-05-13 23:06] juntai-zheng commented on #1550
A potential workaround to the lag due to logging every epoch is instead using [mlflow.log_metrics](https://mlflow.org/docs/latest/python_api/mlflow.html#mlflow.log_metrics), or the lower-level [MlflowClient.log_batch](https://mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.log_batch). Having an async process definitely would be useful as a built-in feature, thou

[2020-05-13 23:08] tomasatdatabricks commented on #2817
Thanks for posting.

Unfortunately, the default behavior of MySQL for auto-incremented columns is to treat 0 as a placeholder for the next item in the sequence. And since the sequence starts from 1, you are seeing id=1.

We can not do much here as I don't think this can be controlled on the column level. It can only be controlled on the database level (if I am reading mysql docs correctly). I see

[2020-05-13 23:13] mparkhe commented on #702
Recommended practice to higher dimensional inputs to encode as byte strings within a single dataframe column. flatten and then base64 encode the inputs on the client side. Scoring function needs to base64 decode and reshape to required dims before passing to models.

Similar example: https://github.com/mlflow/mlflow/tree/master/examples/flower_classifier

[2020-05-13 23:13] #702 closed

[2020-05-13 23:14] pogil opened #2823 "[FR] Remove barriers for running MLflow servers behind a reverse proxy"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-05-13 23:15] sueann commented on #1827
It doesn't quite solve the same issue, but does https://github.com/mlflow/mlflow/pull/2779 help in your workflow?

[2020-05-13 23:15] tomasatdatabricks commented on #2787
Closing due to inactivity.

[2020-05-13 23:15] #2787 closed

[2020-05-13 23:16] pogil commented on #2823
This would need some high level design including
- a brief discussion of popular, well-known, actively maintained reverse proxies and a proposal for which to support, and
- an enumeration of the issues that prevent its use with MLflow, if any

[2020-05-13 23:18] smurching commented on #2746
@TheVillageFool did you get a chance to take a look at @tomasatdatabricks's question above? As he mentioned, artifacts are logged by the client (i.e. when you call `mlflow.log_artifact` from your machine, the client determines the current run's artifact URI, and then attempts to write directly from your machine to that artifact URI, rather than via your machine -> MLflow server -> artifact URI). D

[2020-05-13 23:19] pogil commented on #2193
Hi all, using a reverse proxy w/ MLflow has come up a bunch, but it's a bit hard to for us to keep track of the issues and help here. We definitely need some community help. I've created #2823 as a place to request this help.

[2020-05-13 23:19] sueann commented on #1937
Sure, thanks @OrthoDex !

[2020-05-13 23:19] juntai-zheng commented on #1870
Thanks @pankajrandhe! If you need any help with working on the issue from us, please feel free to ask!

[2020-05-13 23:19] zhidongqu-db commented on #2776
@HugangR Can you provide some more details? Are you using `tf.keras`/`keras` or raw `tensorflow`? The behavior of `mlflow.tensorflow.autolog` & `mlflow.keras.autolog` is that the model should only be logged at the end of the training (which includes all the metrics that you have logged during the training). Let us know if that is not the case and we would love to follow up on that. We would also s

[2020-05-13 23:19] Zangr commented on #2807
Yes, look like a nice component to have!

[2020-05-13 23:20] #892 closed

[2020-05-13 23:20] #2193 closed

[2020-05-13 23:20] pogil commented on #597
Hi all, using a reverse proxy w/ MLflow has come up a bunch, but it's a bit hard to for us to keep track of the issues and help here. We definitely need some community help. I've created #2823 as a place to request this help.

[2020-05-13 23:21] AveshCSingh commented on #1475
I don't see a problem with any of the 3 proposals in this RFC. @mstrosaker, if you would like to send out a PR implementing these changes, I would be happy to review it.

I've also added tags to solicit help from others. I know this is an old request, and you may no longer be interested in implementing it.

[2020-05-13 23:21] pogil commented on #111
Hi all, using a reverse proxy w/ MLflow has come up a bunch, but it's a bit hard to for us to keep track of the issues and help here. We definitely need some community help. I've created #2823 as a place to request this help.

[2020-05-13 23:21] #111 closed

[2020-05-13 23:22] tomasatdatabricks commented on #2747
Hi @tallen94, sorry I missed your response! I think your plan sounds good. It actually looks like the best approach is to not set the container hostname at all. It either is ignored (as the docs suggest it should be) or a new unique hostname will be automatically generated. Either way should be ok with us.

[2020-05-13 23:33] AveshCSingh commented on #1505
We now support running an MLflow Project on Kubernetes. Here are some details: https://www.mlflow.org/docs/latest/projects.html#run-an-mlflow-project-on-kubernetes-experimental

We don't yet have a clean mechanism for running MLflow Projects on Spark clsuters.

[2020-05-13 23:33] #1505 closed

[2020-05-13 23:43] dmatrix commented on #2755
I Will work on it.

[2020-05-13 23:51] smurching commented on #2436
@imaluengo thanks for filing this! Seems like there are two feature requests that came up:

1. The ability to explicitly distinguish between metrics logged per batch, vs metrics logged per epoch. Is there a reason your workaround (prefixing the names of per-batch / per-epoch metrics with a string) doesn't suffice? I ask because it'd be a significant data model & REST API change to actually disting

[2020-05-14 00:17] mgbckr commented on #1723
Sure thing :) Thanks for the answer.

[2020-05-14 00:37] tomasatdatabricks commented on #1810
Hi @timonbimon. For the programmatic access, have you considered logging ROC points as a tag? E.g. as json encoded dataframe.

We could also agree on a standard tag name and format to plot it in the ui.

[2020-05-14 00:51] Ishitori commented on #187
I have the same issue, and it seems like the error is somewhere inside of log_model of mlflow.xgboost

[2020-05-14 02:09] harupy commented on #2807
@Zangr I'll submit a PR!

[2020-05-14 06:51] kokoff opened #2824 "[BUG] Git url regex matches any windows path in projects.run()"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-14 08:24] AgrawalAmey commented on #2804
@dbczumar I am creating a PR for this one.

[2020-05-14 10:45] Shmuma commented on #2800
Thanks for suggesting!

I've quickly skimmed through jobs api documentation, but found it quite limited in comparison to mlflow functionality. In particular:

- haven't found a way to setup conda env on driver
- jobs api supports "spark_python_task", but it is limited to a single file, not a whole dir or git repo
- spark_python_task documentation (https://docs.databricks.com/dev-tools/api/latest/j

[2020-05-14 12:40] jlangballe-miovision commented on #2819
I might be able to take a look this weekend but my web skills are a bit rusty.

[2020-05-14 17:07] harupy commented on #2786
@zhidongqu-db Thanks for the comment. I think this pylint behavior is a bit dangerous because we might forget adding `__init__.py` (like we already do) when creating a new directory. Maybe we could use `flake8` which works without `__init__.py`.

[2020-05-14 20:48] LarsDu opened #2828 "[FR] Adding custom API endpoints to mlflow prediction based services"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-05-14 23:09] brasie commented on #2823
FWIW, we are able to serve the UI from behind a reverse proxy by just stripping the leading "/" from all instances of "`/ajax-api/`" in the javascript.

[2020-05-14 23:09] aseltmann opened #2830 "[BUG] Predict N-dimensional data with MLmodel"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ x] No. I cannot contribute

[2020-05-15 00:14] ramji-c opened #2831 "mlflow.tensorflow.autolog() incorrect early stopping check"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-15 00:40] hajapy opened #2832 "[BUG] mlflow server logs secrets on first startup"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-05-15 06:27] smurching commented on #2831
Hi @ramji-c, thanks for reporting this issue! Do you have an example code snippet that I can run to reproduce it? We have a test [here](https://github.com/mlflow/mlflow/blob/c8ec506e83e7f7e3e0af6094444d7969ed1a11e3/tests/tensorflow_autolog/test_tensorflow2_autolog.py#L230-L249) that [fits a model for 10 epochs](https://github.com/mlflow/mlflow/blob/c8ec506e83e7f7e3e0af6094444d7969ed1a11e3/tests/te

[2020-05-15 09:25] hhsecond commented on #1465
If it helps, I have made a RedisAI plugin [here](https://github.com/RedisAI/mlflow-redisai). Also, there are a few changes I am making over the coming week. It's not a lot of changes to break the implementation but just a heads up. It should be ready to merge by end of the coming week

[2020-05-15 13:00] marcusrehm commented on #2060
Hi @macimovic and @maximmold , did you still getting this error? I was able to run without any issue using mlflow version 1.8.0 and 1.4.0.

The steps I did in order to setup the example and environment were:
- Set credentials in `docker login`
- Build the base image as described in `README.rst` in docker example: `docker build -t mlflow-docker-example -f Dockerfile .`
- Update my `kubernetes_confi

[2020-05-15 13:08] marcusrehm commented on #2025
HI @chuber1986 ,

Did you setup the MLFLOW_TRACKING_URI  pointing to host and had a mlflow server running on it? Are you running in minikube?

Can you try to run following the steps described in this issue https://github.com/mlflow/mlflow/issues/2060#issuecomment-629222242 ?

[2020-05-15 13:39] macimovic commented on #2060
Hi @marcusrehm,
I was able to make it work later on, using exactly the same steps as you just explained, the problem being the namespace.
Thanks so much for replying!

[2020-05-15 13:39] #2060 closed

[2020-05-15 13:49] OlivierBondu opened #2834 "[DOC-FIX] Make clear that the client is the one logging artifacts to the artifact store"
# Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another member of your organization be willing to contribute a fix for this documentation issue to the MLflow code base?

- [ ] Yes. I can contribute a documentation fix independently.
- [x] Yes. I would be willing to contribute a document fix with guidance from the MLflow community.
- [ ] No.

[2020-05-15 14:17] OlivierBondu opened #2835 "[DOC-FIX]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this documentation issue template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another

[2020-05-15 14:19] johny-c opened #2836 "[FR] Compare run configurations and metrics in one page"
## Proposal Summary

Maybe this is already possible, but I cannot see how.
I would like to be able to compare the metrics of runs while seeing the runs configurations. Since my runs have large (and nested) configurations, it is very tedious to go back and forth in the runs (configuration) comparison and runs metrics (comparison) page. Could these two pages be merged into one?

### What component(s

[2020-05-15 14:23] OlivierBondu opened #2837 "[DOC-FIX] Librairies needed per storage option are not clear"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this documentation issue template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another

[2020-05-15 15:37] johny-c opened #2838 "[FR] Better visualization of nested params"
## Proposal Summary

In my work, I compare runs with large and **nested** configurations stored as python dictionaries. This results in the Run comparison page looking like this:
![mlflow_comparison_nested_configs](https://user-images.githubusercontent.com/7363758/82066536-db4ee980-96cf-11ea-8f66-8de7663efa41.png)

As shown, the parameters that are themselves dictionaries are displayed in a single

[2020-05-15 15:41] FrieseWoudloper commented on #2701
Same problem here. I also use python 3.7.6, mlflow 1.8.0, Anaconda distribution.

[code]

[2020-05-15 16:13] FrieseWoudloper commented on #2701
This answer from @rockraptor5 solved my problem: https://github.com/mlflow/mlflow/issues/1009#issuecomment-549474571

[2020-05-15 16:14] anggao commented on #1792
Any update for this, we'd like to use this client as well

[2020-05-15 18:00] pogil commented on #2800
Hi @Shmuma -

There are a few approaches we could use here. Let assuming that you don't want to wait for (3), let me know which approach you would like to pursue among (1) and (2).

**Approach 1.** With the `spark_python_task`, library management for the workers and drivers would all be through the `libraries` block of the cluster specification, and would have a conda environment on the driver. Th

[2020-05-15 21:18] amesar opened #2839 "[BUG] MlflowClient.download_artifacts throws OSError if run does not have artifacts"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-15 23:33] pogil commented on #2233
Fixed by #2774

[2020-05-15 23:33] #2233 closed

[2020-05-15 23:46] sueann commented on #2813
Could you provide a little more detail on your issue?

* Which example code works for you?
* Is what's not working `pytorch.log_model`? Are there other specific MLflow calls not working?
* What backend store are you using for tracking? Is it the default (filestore)?
* Did you specify a `--default-artifact-root`? If not, (the default is `./mlruns`, which I assume would be inside your mounted drive.

[2020-05-15 23:54] sueann commented on #2815
Would you mind describing your desired features in a bit more detail? What would be the ideal workflow for working with SageMaker built-in algorithms and MLflow? For example, would you want auto-logging of metrics and params for SageMaker built-in algorithms (like we have for keras and Spark MLlib)? Or just being able to log metrics for each (internal) iteration for training? Or being able to save

[2020-05-16 03:02] jkthompson opened #2840 "[DOC-FIX] - projects.run() - Missing docstring entries - 'parameters' and 'docker_args'"
### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another member of your organization be willing to contribute a fix for this documentation issue to the MLflow code base?

- [] Yes. I can contribute a documentation fix independently.
- [x ] Yes. I would be willing to contribute a document fix with guidance from the MLflow community.
- [ ] N

[2020-05-16 08:16] shivam-soni commented on #2813
Thank you for the response Sue.

1.  After running some more experiments what I have found is,  not only the example code but now any kind of code's runs are getting logged. But the main issue is, if I am logging more than three runs under same the experiment (in nested loops) , then I am getting the "INTERNAL_SERVER_ERROR ".

![Screenshot from 2020-05-16 13-08-54](https://user-images.githubuserco

[2020-05-16 09:20] Shmuma commented on #2800
Hi Paul!

Thanks for your reply. From my perspective Approach 2 is the best solution to my problem, I'm glad it won't take too much time to implement it.

Meanwhile, I found a workaround my issue by running `pip install package` on workers first time I'm importing required packages. That's a bit hacky and could not be seen as a long-term production solution, but it works.

In terms of Approach 3,

[2020-05-16 13:03] Drtuna opened #2841 "[FR] allow to filter runs by entry point"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-05-16 13:28] Ellyster commented on #1457
+1 to both the C# API, and builtin support of ML.NET as a model flavor.

I'm part of one of those enterprise software companies that use mostly C# and are now adding ML capabilities to their software.

We have models in Scikit-learn, TensofFlow, XGBoost and ML.NET; but so far, we have found the later perform best (faster training times, smaller serializer models,...) with our production-size data,

[2020-05-17 07:42] PhilipMay commented on #2812
Yes thanks. That helps me. But what do I have to do to test the python server functionality?

[2020-05-17 07:43] PhilipMay commented on #2574
I found a workaround.

[2020-05-17 07:52] IdoNisso commented on #2815
Saving the model to the artifact repository for deployment via mlflow will be the most useful feature right now, but pretty much all of the above, eventually. Where do you think is the best place to start?

[2020-05-17 09:23] waqassiddiqi opened #2842 "[BUG] Fail to serve models stored in Azure Blob Storage"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-17 13:13] PhilipMay commented on #2574
Started a PR: #2843

[2020-05-17 18:40] mc55boy opened #2844 "[BUG] Artifact Locations become malformed with Windows Client"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-17 18:44] PhilipMay commented on #2812
Well - closing it.

[2020-05-17 18:44] #2812 closed

[2020-05-17 23:16] sueann commented on #2815
I think to accomplish that, you'll want to add support for logging the artifact. I'm not super familiar with the SageMaker workflow in detail, so it'd be useful to understand yours:
- Do your SageMaker models already get saved to S3 automatically? If so, is the location known?
- Is there an explicit function call to save the models to a specific location?
- Do you plan to deploy the model to SageM

[2020-05-17 23:48] sueann commented on #2841
I believe you can filter by entry point using the tag `mlflow.project.entryPoint` (https://www.mlflow.org/docs/latest/tracking.html#system-tags). Does that work for you?

[2020-05-17 23:51] sueann commented on #2840
Makes sense to me. Please feel free to create a PR. Thanks!

[2020-05-18 00:05] sueann commented on #2832
The first or the third one makes sense to me. I think we have previously done the dropping of the URL in other places, but if `repr` works nicely in redacting that'd be cool to see. Thanks for proposing a solution; please feel free to submit a PR!

[2020-05-18 04:32] liuweibin6566396837 opened #2846 "[FR] Start a mlflow model serve by config file"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-05-18 04:34] liuweibin6566396837 commented on #2799
I have created a new issue today. I also add a pull requests, reference: https://github.com/mlflow/mlflow/issues/2846

[2020-05-18 04:34] #2799 closed

[2020-05-18 05:33] ankmathur96 commented on #1506
Hey @smurching - I don't see an option to re-open the issue myself, so replying here.

I was following the instructions to set up the development environment, and I ran into an issue like this: https://pastebin.com/vbgdMHq2 , which I'm pretty sure is similar to what I had last time. Downgrading to Node v11 worked for me, but I think as of 10/2019, Node 12 is the LTS-supported release. I think upgr

[2020-05-18 06:34] harupy commented on #2818
https://github.com/mlflow/mlflow/pull/2827 might fix this issue.

[2020-05-18 14:18] Drtuna commented on #2841
@sueann Thank you for your reply. `mlflow.project.entryPoint` looks perfect. However, the tag is not accessible from `mlflow.search_runs(filter_string="")`. I assume it would be `mlflow.search_runs(filter_string="project.entryPoint='ep'")`

[2020-05-18 15:01] Zethson opened #2850 "[FR] Improve support for simultaneous Conda and Docker environment"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-05-18 15:11] Zethson opened #2851 "[BUG] Can't find Docker for multistep projects"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [x] No. I cannot contribute

[2020-05-18 15:26] EgorKraevTransferwise commented on #2769
It would indeed be awesome if this was merged ;)

[2020-05-18 15:34] Zethson commented on #2851
I would like to add that the container works in a non multistep setting.

[2020-05-18 21:25] dbczumar opened #2854 "[FR] Support resolution / execution of projects stored in WASBS, S3, GCS, etc"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-05-18 21:31] ramji-c commented on #2831
Had a brief discussion with Sid and got all clarifications I needed. This can be closed! Thank you, Sid.

[2020-05-18 21:47] hajapy opened #2855 "[FR] Set content type and encoding on logged artifacts (s3)"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [x] Yes. I would be willing to contribute this feature with guidance from

[2020-05-18 23:14] smurching commented on #2855
@hajapy thanks for the feature request & writeup of the options!

Guessing the content type using `mimetypes.guess_type` seems like a reasonable approach to me, as you mentioned I don't think we'd want to add extra `content_type` etc arguments to `log_artifact` as not all artifact stores support a notion of a `content_type`. I think it's also alright if this behavior is S3 specific, we can extend

[2020-05-18 23:19] smurching commented on #2851
@Zethson thanks for filing this, just to confirm - it looks like the "docker not found" exception is raised from within your docker container (i.e. within `multistep_example:latest`). If you run & log into the docker container via `docker exec -it multistep_example:latest bash`, is the `docker` executable present in the resulting container?

My suspicion is that the problem is that `docker` is not

[2020-05-18 23:26] smurching commented on #2850
@Zethson thanks for filing this, just to make sure we understand your use case / goals, is the idea that you'd like to define a project with some base docker environment, and then iterate on / make changes to the Python environment within that image without needing to rebuild/push a new docker image?

[2020-05-18 23:46] smurching commented on #2842
@waqassiddiqi thanks for reporting this issue! It'd be great to get your help understanding the root cause - when you run `mlflow models serve` against a remote URI, we download the model to a local directory, and then attempt to load it from there. It seems the loading step fails on your machine as the local directory that MLflow expects to contain the model does not exist.

See the [relevant cod

[2020-05-18 23:53] smurching commented on #2846
Hi @liuweibin6566396837, thanks for raising this! It actually looks like you might be able to specify gunicorn options to `mlflow models serve` simply by appending them to the end of your command, as is done in [this unit test ](https://github.com/mlflow/mlflow/blob/18eacdd9bde4e693942ff94882fb3da322b593c0/tests/models/test_cli.py#L151) (e.g. run `mlflow models serve -m model_uri -w 3` to pass the

[2020-05-18 23:56] smurching commented on #2846
Another thing worth trying actually is setting gunicorn options via the `GUNICORN_CMD_ARGS` environment variable, as described [here](https://docs.gunicorn.org/en/stable/settings.html#settings)

[2020-05-19 02:59] you-n-g commented on #2816
@smurching
Do you mean that the `artifact_location` is a relative path when you say it is a relative path?
![image](https://user-images.githubusercontent.com/465606/82279465-37ab5500-99bf-11ea-8efe-da56bcdef71e.png)

I created the folder by clicking on the web interface, which is run by  `mlflow ui -h <hostname>`

![image](https://user-images.githubusercontent.com/465606/82279644-9ec90980-99bf-11e

[2020-05-19 03:12] #2800 closed

[2020-05-19 05:48] liuweibin6566396837 commented on #2846
I have tried but failed, maybe I have use  the `UNICORN_CMD_ARGS` in wrong way. Can you give me an example in right way?
| |
刘为斌
|
|
lwbxidian@163.com
|
签名由网易邮箱大师定制

On 05/19/2020 07:56，Siddharth Murching<notifications@github.com> wrote：

Another thing worth trying actually is setting gunicorn options via the GUNICORN_CMD_ARGS environment variable, as described here

—
You are receiving this becau

[2020-05-19 07:12] OlivierBondu commented on #2079
Fully agree with @graffam that this needs to be mentioned in the doc, opening an issue on this. I had to randomly find this issue to understand my efforts where in vain 😅

[2020-05-19 07:15] OlivierBondu opened #2857 "[DOC-FIX] Some features are unavailable with a file-based backend store (e.g. model registry)"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this documentation issue template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages documentation fix contributions. Would you or another

[2020-05-19 08:08] Zethson commented on #2851
Dear @smurching,

thank you for your swift response.
Docker is not installed inside the Docker container and it's absolutely not supposed to be.
My expectation is that every step of the multistep workflow is executed inside the (single) Docker container. I am not using some weird custom code, but am solely running your mlflow multistep example with a single Docker container.

Do you have a multist

[2020-05-19 08:29] shivam-soni commented on #2813
Also getting "[CRITICAL] WORKER TIMEOUT" error. I didn't even find any solution for this issue anywhere.
![Screenshot from 2020-05-19 13-52-11](https://user-images.githubusercontent.com/14237704/82303097-1d31a580-99d8-11ea-8f48-551eb6397565.png)

[2020-05-19 08:38] Zethson commented on #2850
Again, thank you for your fast feedback @smurching !

I don't think that we have the same idea.
I'll try to explain it again:
## issue
Please very briefly glance over [this example](https://github.com/Zethson/mlflow_custom_ms_example). This is basically the mlflow multistep example, but with a Docker container and a conda environment.
Now, please examine the conda.yaml file. This is 100% the very

[2020-05-19 11:44] hajapy commented on #2855
Ah, interesting point that the ui already does some of this. I didn’t notice because the test file I created lacked a supported extension.

Reasons to still consider doing this:
- having the metadata stored on the actual backend store is generally more useful to other applications or systems that may want to read from that location (ex: browsing s3 artifact location with aws console)
- it might be

[2020-05-19 12:44] waqassiddiqi commented on #2842
@smurching I checked, directories are not being created. So, from my message I can see `/var/folders/dt/9f6c710j2sq7pybth858lzzw0000gn/T` but there is no `tmpvm1zvbhq` directory

[2020-05-19 14:20] AlexMRuch opened #2858 "[SETUP-BUG] pip and conda install different mlflow versions"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for information on what types of issues we address.

**Please fill in this installation issue template to ensure a timely and thorough response.**

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **MLflow

[2020-05-19 14:44] AlexMRuch commented on #2858
Nevermind. This was an environment issue and not a mlflow issue. My bad

[2020-05-19 14:44] #2858 closed

[2020-05-19 19:20] ankmathur96 commented on #2790
@pogil a PR for this is up here: #2859

[2020-05-19 21:44] pogil commented on #2800
Hi @Shmuma! We have merged Approach 2 as described above. If you want to use it before our next release, you'd need to build and install MLflow locally. We haven't scheduled the next release yet, but it would be within the next month.

[2020-05-20 08:52] sunny1401 opened #2860 "[BUG] - get_artifact_uri returns mlflow.exceptions.MlflowException"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-20 09:18] sunny1401 opened #2861 "[FR] - changing the default value of artifact_location to try reading it from the environment variable"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-05-20 14:48] Casyfill commented on #2382
@pietermarsman any chance you can share the script?

I suspect another option would be to pull all records from the mlflow itself via API, then batch-add them via API

[2020-05-20 15:08] clara2911 commented on #2134
Duplicate of this feature request here: https://github.com/mlflow/mlflow/issues/1653
Seems to be solved and closed

[2020-05-20 15:33] norbert-liki commented on #2769
I am looking forward to it also! ;)

[2020-05-20 17:17] harupy opened #2862 "[BUG] Duplicate parameters when running an MLflow project"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-05-20 20:49] nayaks opened #2863 "[BUG]Registry UI Workflow Not Working As Documented"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-05-20 21:59] nayaks commented on #2165
I have a related question. Are Workflow features available in the opensource Model Registry?

[2020-05-20 23:14] smurching commented on #2863
@nayaks thanks for filing! As you mentioned, only direct stage transitions are currently supported via the UI.

Some implementations of the MLflow REST API (e.g. the managed MLflow server in Databricks) contain extensions like stage transition requests, but this is not yet a standard part of the API spec. In particular, note that the server currently has no notion of users with which to associate

[2020-05-20 23:16] smurching commented on #2862
@harupy thanks for the catch! Just to confirm, sounds like the parameters are duplicated only when the example is run as a project? & would you be able to provide a high-level overview of the code changes that'd be required to fix/address this? It seems like something we should fix, but just want to make sure I understand the root cause & what the proposed fix would be - thanks!

[2020-05-20 23:24] smurching commented on #2861
@sunny1401 thanks for filing! Note that you can specify the default artifact URI to use for experiments created under an MLflow server via the `--default-artifact-root` argument to `mlflow server`, e.g. by running your server via a command like `mlflow server --default-artifact-root s3://your-s3-bucket`. Given that the default artifact URI can be specified in this manner, would you be able to clar

[2020-05-20 23:30] smurching commented on #2860
@sunny1401 thanks for filing! For downloading artifacts, we recommend using the `mlflow.tracking.client.MlflowClient.download_artifacts` API ([see docs](https://mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.download_artifacts)), to which you can directly supply the run ID & the path of the artifact within the run. For example, here's a code snippet you can use

[2020-05-20 23:52] smurching commented on #2857
@OlivierBondu thanks for filing this! Agree that we should document this limitation, I'd be happy to review a PR that updates [this page](https://mlflow.org/docs/latest/model-registry.html#model-registry-workflows) (see [relevant source code](https://github.com/mlflow/mlflow/blob/master/docs/source/model-registry.rst#model-registry-workflows) & [development loop for documentation](https://github.c

[2020-05-21 00:25] mparkhe commented on #2165
Hey @nayaks,

Can you give more specifics on what do you mean by workflows features? Are you referring to CI/CD workflows or training/deployment/scoring related? Can you describe you use case on what you are trying to achieve.

[2020-05-21 02:52] harupy commented on #2862
@smurching Thanks for the comment. The root cause is when running the example as a project, mlflow first create a new run with given arguments (`colsample-bytree`, `learning-rate`, `subsample`) before running an entrypoint (`train.py`). `train.py` logs these arguments after converting them with `argparse` (e.g. `colsample-bytree` is converted to `colsample_bytree`).

[code]

[2020-05-21 03:57] nayaks commented on #2863
Thank you Siddharth (@smurching ). I am curious about the screen shots in the documentation that show labels like "Request Transition to Staging" and "Request Transition to Production". Is this feature only available in the licensed version of MLFlow bundled with Databricks.

Regards,
Sameer

[2020-05-21 06:37] pietermarsman commented on #2382
I was not yet forced to take this route, so the script does not exist yet. Using the API (with 2 parallel connections?) sounds easier / less error-prone.

[2020-05-21 08:02] sunny1401 commented on #2860
Hi,

thanks a lot for replying - The above method allows me to download thanks. Thanks for explaining also - I guess that get_artifact_uri works only when the run is active.

[2020-05-21 08:12] sunny1401 commented on #2861
Hi - Thanks for replying. Yes, I can do that. But in case you are working on multiple projects - each having its own artifact location - as different s3 buckets and different locations on s3 - this approach would not work. In my case, I  have an s3 bucket where data should generally go once the code is finalized. This is set in os.environ['MLFLOW_ARTIFACT_URI']. Our tracking URI is rds database

H

[2020-05-21 09:55] Shmuma commented on #2800
Hi!

Thanks for letting me know!

[2020-05-21 19:35] weldpua2008 commented on #2817
@sueann thank you for your reply
I am using the following ugly solution:
[code]

[2020-05-21 19:35] #2817 closed

[2020-05-21 20:12] weldpua2008 commented on #685
I'd recently started the migration 0.8.1 -> 1.8.0 and wrote the following script based on the above https://gist.github.com/weldpua2008/7f0c4644d247bd0fc7ba9a83c2d337d5

[2020-05-21 20:14] weldpua2008 commented on #2676
@verasativa I've recently started the migration 0.8.1 -> 1.8.0 and wrote the following script https://gist.github.com/weldpua2008/7f0c4644d247bd0fc7ba9a83c2d337d5

[2020-05-21 20:18] weldpua2008 commented on #2382
@pietermarsman  I've recently started the migration 0.8.1 -> 1.8.0 and wrote the following script (based on someones)
https://gist.github.com/weldpua2008/7f0c4644d247bd0fc7ba9a83c2d337d5
P.S.
I guess it's better to use mlflow native functions or APi same as https://github.com/amesar/mlflow-tools/blob/master/mlflow_tools/export_import/copy_experiment.py

[2020-05-21 20:45] weldpua2008 commented on #1449
@Guoyoyo thank you for your reply
I'd recently started the migration 0.8.1 -> 1.8.0 and wrote the following script based on another script ;) https://gist.github.com/weldpua2008/7f0c4644d247bd0fc7ba9a83c2d337d5

[2020-05-21 23:35] pogil commented on #2800
@Shmuma we will release 1.9 next week or the week after.

[2020-05-21 23:39] pogil commented on #2860
@sunny1401 - yes, [mlflow.get_artifact_uri](https://mlflow.org/docs/latest/python_api/mlflow.html#mlflow.get_artifact_uri) only works for the currently active run.

[2020-05-21 23:39] #2860 closed

[2020-05-22 01:25] pogil opened #2870 "[FR] Add Scikit-Learn API support XGBoost auto-logging"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-05-22 06:47] #2832 closed

[2020-05-22 16:40] AlexMRuch commented on #852
I have this issue too -- really frustrating. Thanks @ jimthompson5802 for your suggestion! Not idea, but it works.

[2020-05-22 16:42] AlexMRuch commented on #852
I'm going to add `delete_run` to the start of my script, which solves the issue @maximeturenne  raised (https://www.mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.delete_run)

[2020-05-22 16:51] smurching commented on #2862
@harupy got it, thanks! I wonder if logging the params with the same names within the `train.py` script as in the MLproject file, e.g:

[code]

would fix the problem

[2020-05-22 17:23] harupy commented on #2862
@smurching Yes, that should solve this issue.

[2020-05-22 17:25] harupy commented on #2862
I wonder if we really need to log params before running an entrypoint.

[2020-05-22 18:37] AlexMRuch commented on #852
Well that just throws lots of errors. Hmm, I'll just pass for now :-(

[2020-05-22 18:45] smurching commented on #2862
@harupy good question, I think we do in use cases where the script being executed is unaware of MLflow / doesn't call an API like `log_params`, which I'd expect to be the more common use case (it takes more work to instrument your code with `log_params` than not to)

[2020-05-22 20:29] data-fool commented on #2645
any updates @gioa @Zangr ? thanks!

[2020-05-22 23:08] smurching commented on #2842
@waqassiddiqi sorry, my last message (which specifically referenced a directory named `tmpvm1zvbhq `) was confusing - note that temporary directories are removed when you restart your machine etc, so the directory from your original error message may have been created and then removed.

Would you be able to rerun the `mlflow models serve -m wasbs://x-container@storage.blob.core.windows.net/mlflow/

[2020-05-22 23:14] smurching commented on #2861
@sunny1401 thanks for clarifying! Sorry to ask for more details, just want to make sure I understand the use case - what's the motivation behind having separate artifact locations across different projects (i.e. why not use a single S3 bucket & rely on per-experiment subdirectories within the S3 bucket)?

Would you be able to detail what you mean by "simultaneous access/availability"?

[2020-05-22 23:16] smurching commented on #2855
@hajapy agree that having additional content-type metadata in S3 seems strictly more useful than not having it - would be happy to review a PR that adds support for inferring content types to the S3 artifact repository. Thanks for bringing this up!

[2020-05-22 23:29] smurching commented on #2851
@Zethson I see two potential solutions to the problem:

1. Introduce a --no-docker option, which will allow for running entry points without trying to create a new docker container. You could use this option to run individual steps in your multistep workflow without trying to create a nested docker container

2. Attempt to mount the host's docker socket when running docker containers for MLflow pr

[2020-05-23 04:21] harupy commented on #2862
@smurching That makes sense. I'll open a PR to fix this issue.

[2020-05-23 04:23] harupy commented on #2809
Fixed by #2872

[2020-05-23 04:23] #2809 closed

[2020-05-23 07:51] jkthompson opened #2877 "[FR] - option to specify conda / docker environments per entry point"
**Please fill in this feature request template to ensure a timely and thorough response.**

## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this featur

[2020-05-23 08:17] Zethson commented on #2877
I also wanted to request this already, but not flood the issue tracker :) So strong :+1: from me!

This is especially useful, since for example bioconda builds one docker container per tool (automatically), which could then be used in a (future) DAG for multistep projects.

This would modularize and improve reproducibility for complex multistep projects, which require complex pre/post processing (

[2020-05-23 08:18] Zethson commented on #2851
Thanks!

I would also like to suggest solution 2, since it would play far more nicely with proposal https://github.com/mlflow/mlflow/issues/2850 .

[2020-05-25 04:22] sunny1401 commented on #2861
Hello @smurching - by simultaneous access I meant - while running multiple experiments on Jupyter notebooks, where locations can be different. Yeah - projects which are completely different can be in separate s3 buckets - but individuals working on the same project can have multiple folders in the same bucket - simply to allow clarity of organization and independence and privacy amongst things. Ha

[2020-05-25 14:23] raman-nbg commented on #724
I would also be interested in a solution for this. Are there any updates?

I don't know the existing architecture of mlflow in detail to design a good solution. If it is not possible to add multi-user support and access management to the existing components a gateway/proxy may could help.

At least we have to add a Authorization-Header to the REST API (or something similar) to identify the request

[2020-05-26 10:28] hajapy commented on #2855
@smurching PR opened: https://github.com/mlflow/mlflow/pull/2881

[2020-05-26 14:45] elgalu commented on #2823
This feature would be required to integrate MLFlow with JupyterHub

[2020-05-26 17:29] Zethson opened #2883 "[BUG] mlflow Docker creates all folders as root"
**Please fill in this bug report template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a f

[2020-05-26 23:35] dmatrix commented on #2863
Those are old images. We fixed it and pushed the docs again. If you try it again, you won't see the
"Request for transition" images any [more](https://mlflow.org/docs/latest/model-registry.html#ui-workflow).

[2020-05-27 00:29] mparkhe commented on #2877
This is a good idea. Would be great big project for someone from the MLflow community to contribute. Since this is a sizable project, we would appreciate starting with a short design that spells out different scenarios and expected behavior.

[2020-05-27 00:33] mparkhe commented on #2857
Addressed by @smurching in PR #2865

[2020-05-27 00:33] #2857 closed

[2020-05-27 00:51] #2840 closed

[2020-05-27 00:56] dmatrix commented on #2883
Thanks for filing this. I wanted to ask a couple of questions.

1. Are you executing this as `mflow run .  -e main -P arg=<value>` as a root
2. When do you say in the docker file you are switching the user, how are you switching the user?
3. Can you try running the mlflow server as a non-root user?

cc: asking @smurching for any insight into it.

[2020-05-27 08:08] Zethson commented on #2883
Thank you for your quick answer.

No.

USER user

Makes no difference.

The issue was confirmed by someone in the Slack channel.

[2020-05-27 16:29] dmatrix commented on #2883
Hello @Zethson, again thanks for answering the question quickly.

_Any Docker example should suffice._
I tried to run our examples/docker to see the results.

[code]
[code]
All the files created under mlruns are owned not by root but by me.

[code]
 _I can share my custom code if you need it, but it's getting complex now._

I would be curious how you ran this and all the steps from building the do

[2020-05-27 16:38] Zethson commented on #2883
Dear @dmatrix,

thanks! I guess the misunderstand is that we are talking about the files inside the docker container!
To me it looks like you were looking at the permissions of the mounted files on your very own filesystem.

So to reproduce it with the mlflow docker example:
`
mlflow run examples/docker -P alpha=0.5`

You will then see how it ran Docker, e.g.:
`docker run --rm -v /home/zeth/Pychar

[2020-05-27 16:48] HiromuHota commented on #2883
I was trying to use Docker container environment during mlflow run (https://github.com/HiromuHota/fonduer-mlflow/pull/13) last month.
It ran without any problem on Mac (as the Docker host), but did not on Linux. What I found was that the different behavior between Linux and Mac of file system sharing makes this hard to work as expected both on Linux and Mac.
https://stackoverflow.com/questions/430

[2020-05-27 16:49] Zethson commented on #2883
Nice find @HiromuHota . I am indeed using Linux.

[2020-05-27 17:05] dmatrix commented on #2883
@HiromuHota @Zethson
That solves a mystery of different behavior under Linux and macOS. I shall raise this with the team.
Meanwhile, does the suggestion by @HiromuHota in the [slack thread](https://mlflow-users.slack.com/archives/CBFQ95Y2G/p1590515743310600?thread_ts=1590514306.309500&cid=CBFQ95Y2G) mitigate or resolve your issue on Linux?

[2020-05-27 17:10] Zethson commented on #2883
@dmatrix
As a workaround I switch the user in the Docker container to root again, so that everything is run and (due to the bug?) owned by root.
Basically USER root.

Not ideal, but since I'm currently doing lots of experiments it's fine.

[2020-05-27 23:37] dmatrix commented on #2883
I can see it now:
[code]

[2020-05-28 06:24] luiztauffer opened #2886 "[BUG] Windows 10 - CondaHTTPError: HTTP 000 CONNECTION FAILED"
### Willingness to contribute
- [x] Yes. I can contribute a fix for this bug independently.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No, except for my own repo. I did not change mlflow.
- **OS Platform and Distribution**: Windows 10
- **MLflow installed from**: pip
- **MLflow version (run ``mlflow --version``)**: 1.8.

[2020-05-28 06:25] luiztauffer commented on #2886
Since I'm not sure if this is something you guys can solve from within mlflow, I'll leave it open for now

[2020-05-28 10:25] egusev opened #2887 "[BUG] Run fails if set_experiment() is used in the code"
**Please fill in this bug report template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ ] Yes. I would be willing to contribute a f

[2020-05-28 11:22] azachar opened #2888 "[BUG] MlflowClient do not respect tracking_uri"
Hello,

I am trying to execute the official examples of integrating with azureml  (https://github.com/Azure/MachineLearningNotebooks/blob/79940/how-to-use-azureml/track-and-monitor-experiments/using-mlflow/deploy-model/deploy-model.ipynb) and I am unable to build an image, basically, I am getting this error:

[code]

**`API request to endpoint /api/2.0/mlflow/runs/get failed with error code 401 !=

[2020-05-28 15:04] edgBR opened #2890 "[FR] Adding snowflake support for backend store uri"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-05-28 16:27] mareksimunek commented on #2769
I am just considering using mlflow and catboost support would be great.
@harupy Hi, thanks for your effort.
 In what phase is your contribution? Are you waiting for review or need some help?

[2020-05-28 18:31] Casyfill commented on #2650
having same issue with postgresql. mlflow UI turned belly-up once limit of connections is above the limit

[2020-05-28 20:55] nayaks commented on #2863
Thanks for the update. Please go ahead and close this.

[2020-05-28 20:55] #2863 closed

[2020-05-28 21:30] #2790 closed

[2020-05-28 21:31] ankitmathur-db commented on #2790
@RMeli this has now been merged, so if you'd like it immediately, you can upgrade to master. Otherwise, it should be in the next release!

[2020-05-28 21:40] RMeli commented on #2790
Amazing! Thank you very much for this great feature @ankitmathur-db !

[2020-05-28 23:16] dmatrix commented on #2890
The current MLlfow backends supported are compatible with SQLAlchemy. If there's a SQL compatible connector to Snowflake, then it might be possible to extend the SQLAlchemy backend.

While this is a good idea to extend the ecosystem, however,  it would be a big project for someone from the MLflow community to contribute. As such, we would appreciate starting with a short design that spells out dif

[2020-05-28 23:27] dmatrix commented on #2888
Following the above [notebook link](https://github.com/Azure/MachineLearningNotebooks/blob/79940/how-to-use-azureml/track-and-monitor-experiments/using-mlflow/deploy-model/deploy-model.ipynb), it seems setting the tracking URI, few cell above the failing call to azuml backend, was executed incorrectly. Therefore, it resorts to the local mode or local tracking URI.

Just as a note, this working exa

[2020-05-28 23:52] dmatrix commented on #2887
The current supported behavior for MLflow projects is to define the experiment name or id (if you know the id) using mlflow cli.

It would require systemic change in the way MLflow projects are executed since `mlflow run` CLI command will create a main run (under --experiment-name argument or default). The nested run created in main with start_run needs to belong to the same parent experiment.

Th

[2020-05-28 23:52] #2887 closed

[2020-05-28 23:55] dmatrix commented on #2886
It seems this could be addressed as part of the documentation. Since you are willing to contribute, do you mind filing a PR request to document it?

[2020-05-29 00:21] dbczumar commented on #2650
@Casyfill Can you provide more information about the database URI that was passed to MLFLOW_TRACKING_URI and the Postgres configuration that you're using (version, etc)? I'm still having difficulties reproducing this issue.

[2020-05-29 00:57] azachar commented on #2888
Thank you for your quick response.

I was playing a lot with it, trying to set the tracking url again and again and it was partially using. Seems like the store only got local mode. No idea why. What helped was restarting the kernel and running it again and voila it works normally.

Best regards,
Andrej

[2020-05-29 01:09] dmatrix commented on #2888
Excellent! I shall close this then.

[2020-05-29 01:09] #2888 closed

[2020-05-29 07:02] PhilipMay opened #2892 "[FR] Increase Length Limit of 5000"
MLflow seems to have a length limit of 5000 when setting tags (see below).

[code]
I would like to request if it is possible to increase this limit. Optuna for example does not have this limit when setting user attributes.

If this is not possible for tags: I would like to quest something - maybe new - where it is possible. Placing it into an artefact is to heavy for me...

I am willing to contrib

[2020-05-29 07:05] PhilipMay opened #2893 "[FR] adding Tags and Notes to Experiments with API"
I would like to be able to add tags and notes on experiment level with the API. Would this be useful for others too?

Thanks
Philip

[2020-05-29 13:06] edgBR commented on #2890
Hi @dmatrix ,

Snowflake has their own native python connector as well as and sql alchemy backend: https://docs.snowflake.com/en/user-guide/sqlalchemy.html

I would try to provide more information for the scenarios and the expected behaviour. But basically as I pointed the idea would be to re run the same features that are available for the backend store with MySQL or SQLlite in snowflake. Probabl

[2020-05-29 13:08] edgBR commented on #1472
Here #2745 the topic is re-open @gm-spacagna @rasensio @strawberrypie @pierorex

[2020-05-29 17:38] Ben-Epstein opened #2894 "[BUG] When logging metrics over time, the first value is shown in the UI"
**Please fill in this bug report template to ensure a timely and thorough response.**

### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [ X] Yes. I would be willing to contribute a

[2020-05-29 19:50] delcacho commented on #1997
The problem is still present, I have been facing it with the latest version of Sparkling Water (sparkling-water-3.30.0.3-1-2.4)

It appears to be an easily fixed bug in the way H2O is called to serialize the model, the S3 backend of Mlflow works flawlessly.

Here is what I have found:
It works correctly in standalone H2O without Spark and the model is correctly serialized to S3.

However, the repo

[2020-05-29 21:22] #2807 closed

[2020-05-30 04:02] mparkhe commented on #2892
Hi @PhilipMay : what is your use case that requires tags size > 5000? The thought process behind tags is to save metadata and other custom information that you may want to store on runs. Runs are searchable using tags (among other things). Larger artifacts like models, feature list, attachments that you would not need to search on can be logged as artifacts using [`mlflow.log_artifact`](https://ml

[2020-05-30 04:06] mparkhe commented on #2893
Use this [REST API](https://mlflow.org/docs/latest/rest-api.html#mlflowmlflowservicesetexperimenttag) or [mlflow.set_experiment_tag](https://mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.set_experiment_tag) for python.

You can create experiment notes in UI.

[2020-05-30 04:06] #2893 closed

[2020-05-30 04:22] mparkhe commented on #2894
Hi @Ben-Epstein,

What version of mlflow are you using? I tried to reproduce this with your code with some logs

[code]

Test using API
[code]

Main experiment page
![image](https://user-images.githubusercontent.com/6900999/83319271-d3c03200-a1f1-11ea-8aa0-bcd3b542f1e1.png)
![image](https://user-images.githubusercontent.com/6900999/83319275-e0448a80-a1f1-11ea-951c-ef5321a607f3.png)

Clicking into

[2020-05-30 17:48] PhilipMay commented on #2892
Well, in this case it is a list of feature importance values I want to store. IMO the storage of a file (artifact) is too heavyweight. I would like to have something more simple.

I can understand your argument that tags are searchable since this long list will never be filtered after. But nevertheless I would like to have something that can hold this list.

I have written the MLflow integration f

[2020-05-30 22:43] mparkhe commented on #2892
Searchability is a key features. Arbitrarily increasing the size of tag values may affect the performance of logging and searching over large values. One of the recommendations would be to  use [plugins to customize some of this functionality](https://mlflow.org/docs/latest/plugins.html) to allow large artifacts to be logged. Another negative of having large blobs logged as tags is increased I/O w

[2020-05-30 22:43] #2892 closed

[2020-05-31 01:49] jkthompson commented on #2877
I'd like to give this a try.  Below is my first attempt at a design.  Feedback would be appreciated.  Thanks.

# Expected Behavior
1. Users are able to optionally add docker or conda environments ('conda_env:' or 'docker_env:') within individual entry points, inside an MLProject file.

Docker Example

MLProject:
[code]
Conda Example

MLProject:
[code]
2. If specified, the local entry point environ

[2020-05-31 05:28] harupy commented on #2769
@EgorKraevTransferwise @norbert-liki @mareksimunek I have updated the PR.

[2020-06-01 00:15] megatux commented on #893
Googling for diff. of Conda vs Nix I just found this issue and also a tool to use nix with a yaml file: https://github.com/luispedro/nixml
Hope that helps. If not, sorry :)

[2020-06-01 07:43] tienthegainz commented on #2350
How do you do that?
mlflow ui expose in 127.0.0.1 means that it can't expose to the outsider, change host to 0.0.0.0 may work IDK.

[2020-06-01 08:06] pazlvbanke commented on #2350
@tienthegainz run ‘’’mlflow ui -h 0.0.0.0’’’ on you local machine, access by localhost:5000

[2020-06-01 08:25] tienthegainz commented on #2350
The question is asking how to read it from Google Colab not your local machine.

[2020-06-01 15:32] mareksimunek commented on #2769
@harupy you are the best! I hope I will have time to try it this week.

Is it waiting for someone to review it or what's the process?

[2020-06-02 11:15] harupy commented on #2769
@mareksimunek

Yes, it needs to be approved by an MLflow team member.

[2020-06-02 13:02] Ben-Epstein commented on #2894
@mparkhe Thanks for your reply! Running mlflow 1.6.0 (in description). Very strange, do you have any suggestions for places to look? Maybe the `LATEST_METRICS` table? Obviously the other data is there because I have the graph of the metric changing over time as well.

[2020-06-02 17:07] Zethson opened #2898 "[FR] Run Docker with -t argument"
**Please fill in this feature request template to ensure a timely and thorough response.**

## Willingness to contribute

- [ ] Yes. I can contribute this feature independently.
- [X] Yes. I would be willing to contribute this feature with guidance from the MLflow community.
- [ ] No. I cannot contribute this feature at this time.

## Proposal Summary

Please enable the -t flag for docker run.

##

[2020-06-02 19:02] dmatrix commented on #2890
Thanks for responding. The next step is to design and follow some of the [contributing guidelines](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst).

[2020-06-02 20:38] ividal commented on #608
Stumbled upon this problem with v1.8.0.

Is the behaviour @smurching mentioned the intended one? The solution feels like a workaround.

It is not always possible to set the env var on the terminal you will run a project in, so it would be handy to be able to use `mlflow.set_tracking_uri("http://some-uri")`.

Thank you.

[2020-06-03 06:46] coder46 commented on #2769
Looking forward for catboost support ! Thanks !

[2020-06-03 10:42] sn1c commented on #1022
This would definitely be a useful feature, e.g. in cases in which a parameter is only used for one classifier.

[2020-06-03 23:10] gioa commented on #2645
I am okay with adding a description column with truncation if it is too long. Hopefully, it helps differentiate the versions.

[2020-06-04 02:18] aarushahuja-epi opened #2900 "[FR] Configurable SQLAlchemy Engine Options"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [x] Yes. I would be willing to contribute this feature with guidance from

[2020-06-04 03:29] hajapy commented on #2894
This seems to be a basic misunderstanding of range: https://docs.python.org/3.8/library/stdtypes.html#typesseq-range

The last value in range(10) is 9, not 10, so the last metric value you should expect is 4.5 not 5.

[2020-06-04 03:31] Ben-Epstein commented on #2894
@hajapy the value that's showing up in my UI is 0 (the first metric logged).

[2020-06-04 08:52] castorfou opened #2901 "[FR] Use all the width of screen to display feature importance artifacts"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-06-04 11:46] LorianColtof opened #2902 "[BUG] SqlAlchemyStore.record_logged_model tries to save a tag which exceeds character limit"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-06-04 22:22] andychow-db commented on #2900
Thank you. I believe https://github.com/mlflow/mlflow/issues/1452 and this issue are the same.

[2020-06-04 22:22] andychow-db commented on #2900
I will close this issue in lieu of the other one.

[2020-06-04 22:22] #2900 closed

[2020-06-04 22:58] andychow-db commented on #2901
Agreed. It looks pretty small and not as friendly as it could be. I think we should wait for more community feedback before we go and implement this. Perhaps there's a common use case we could solve here.

[2020-06-04 23:18] andychow-db commented on #2902
What is your use case for such large tags values?

[2020-06-04 23:52] Hadrien-Cornier commented on #2414
I also would benefit from this feature, as I am doing hyperparameter tuning on a multistep pipeline.
It would allow me to have
level 0 - one entry for each set of parameters
level 1 - one entry for every image of the validation dataset on which the pipeline is applied
level2 - one entry for every step of the pipeline and their respective artifacts

The level 2 is useful to be able to reuse artifac

[2020-06-05 06:12] HugangR commented on #2776
I am using tf.keras. autolog to log everything every time works. Finer control is desired.

[2020-06-05 06:12] #2776 closed

[2020-06-05 06:14] makeitai opened #2903 "MLFLOW_CONDA_HOME Window 10 issue Could not find Conda executable at C:\Programdata\Anaconda3\bin/conda. Ensure Conda is installed as per instructions."
MLFLOW_CONDA_HOME Window 10 issue
Could not find Conda executable at C:\Programdata\Anaconda3\bin/conda. Ensure Conda is installed as per instructions.

[2020-06-05 06:19] makeitai commented on #2903
[#2674](https://github.com/mlflow/mlflow/issues/2674) Issue already exists feel free to delete this.

[2020-06-05 08:18] Samreay commented on #1563
+1ing this issue as hard as I can.

To those on the issue waiting in keen anticipation of the DAG workflows teased [here](https://www.youtube.com/watch?v=QJW_kkRWAUs&t=29m0s), what are your current best solutions? Airflow + mlflow?

[2020-06-05 11:53] arita37 commented on #1563
Closer to DAG process is Airflow.

Having the whole pipeline in json,
is th best : flexible and reduce boilerplate code

[2020-06-05 13:01] LorianColtof commented on #2902
No I'm not creating any tags myself. I am referring to this function: https://github.com/mlflow/mlflow/blob/master/mlflow/store/tracking/sqlalchemy_store.py#L680
This uses the result of `mlflow_modwl.to_dict()`, together with decoded JSON string from the previous value if it exists, and encodes it as a new JSON string to use as the tag value, which exceeds the 5000 character limit.

[2020-06-05 13:34] anggao opened #2904 "[BUG] mlflow registry UI should display error message from plugin"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-06-05 13:52] sijuveugin commented on #2844
I am also facing the same issue with sklearn ElasticNet model from ML Flow Windows Client -
<img width="337" alt="MLFlowWindowsClient" src="https://user-images.githubusercontent.com/16755538/83883942-2e85ec00-a712-11ea-8ad7-837194156ad1.png">

[2020-06-05 22:49] zhidongqu-db commented on #1937
@OrthoDex Hey, are you still working on this? If you can make a PR on this based on suggestion from @blister96 and add relevant test we would love to review it!

[2020-06-05 22:50] Zangr commented on #2904
@anggao thanks for reporting this!
We have some relevant fix going in for the next release which may address this issue. Could you please help provide a browser console stack trace possibly indicating where the exception was thrown?

[2020-06-05 22:52] OrthoDex commented on #1937
Hello! Yes I am still working on it, I'll be putting a PR sometime by next week.

[2020-06-05 22:56] andychow-db commented on #2382
For Model Registry, I can think of two acceptable options:

1. Add the following functionality as separate classes/files

* `export-model-versions`
* `import-model-versions`
* `import-registered-models`

2. Append export model versions to `export-registered-models` and then create the corresponding import class/file.

[2020-06-05 22:57] #2855 closed

[2020-06-05 23:00] mparkhe commented on #2322
This issue has been addressed by in #2456 (@aarondav). Model Registry requires a SQL based backend. If not specified as `--backend-store-uri` argument, the error is handled in UI. I am closing this issue out.

![image](https://user-images.githubusercontent.com/6900999/83928637-44f96b00-a745-11ea-9487-10b3cdfce087.png)

[2020-06-05 23:00] #2322 closed

[2020-06-05 23:04] #1874 closed

[2020-06-05 23:06] arjundc-db commented on #2839
Hey @amesar, thanks for filing! I wanted to understand why returning None would be better than raising an IOError. Since this issue is with respect to storing artifacts as files in a local directory, informing the user that the input `artifact_path` does not exist would help the user understand that they did not log any artifact to the aforementioned path. Returning `None` would not help the user

[2020-06-05 23:10] zhidongqu-db commented on #1997
@delcacho Hey, we have look into the problem and indeed it seems like this is because we are using an older version of H2O which does not support the `h2o.download_model` method. If the fix works for you, I would encourage you to reopen the PR and do a versioning check, if `h2o.download_model` is available use that, otherwise use `h2o.save_model`. We would love to review the PR and get it merged!

[2020-06-05 23:19] zhidongqu-db commented on #2798
@mlwkshops Hey, just to check in if you have any problem with the pyfunc flavor. We currently do not support a different model flavor as mentioned above. Let us know if there is problem with the pyfunc model flavor, otherwise we will close this issue.

[2020-06-05 23:22] ankitmathur-db commented on #2835
@OlivierBondu could you make a PR with what specifically you would like the docs to say? It's not clear to me what is misleading about our docs

[2020-06-05 23:26] AveshCSingh commented on #2834
Hi @OlivierBondu. Your understanding is correct. I love the diagram!

This is indeed confusing. I think a good place to clarify this would be [in this section](https://mlflow.org/docs/latest/tracking.html#logging-to-a-tracking-server).

I'd be happy to review a PR updating the docs to make this more clear.

As for storing credentials in the client to pass to the artifact store: I believe this is c

[2020-06-05 23:30] andychow-db commented on #2902
Ah ~ ! That is definitely a problem.

[2020-06-05 23:31] pogil commented on #354
@adrian555 thanks for contributing #349! Are there still remaining gaps?

[2020-06-05 23:31] andychow-db commented on #2902
@tomasatdatabricks Perhaps we should revisit this and make this field in the tags optional or perhaps remove it all together for right now?

[2020-06-05 23:44] adrian555 commented on #354
@pogil this was opened for discussions. Since there are none response probably it is not critical enough to keep opened.

[2020-06-06 06:48] sunny1401 commented on #2861
I was able to complete my requirement by building a wrapper around the function.

[2020-06-06 06:48] #2861 closed

[2020-06-06 12:50] roboticsbrian commented on #2804
As a workaround, instead of
```with mlflow.start_run("run_name") as run:```
 use the [system tag](https://mlflow.org/docs/latest/tracking.html#system-tags) directly:
```mlflow.set_tag("mlflow.runName", "run_name")```

[2020-06-06 17:55] anggao commented on #2904
@Zangr I attached the screenshot for you
![image](https://user-images.githubusercontent.com/459359/83951105-35eae980-a827-11ea-9c3c-1bdf9ba9d5f0.png)

I checked again, this issue looks to be fixed in v1.8. we just upgraded to v1.8 last Friday :)
We can close this issue now.

[2020-06-06 19:00] nsidn98 opened #2907 "How to read metrics stored in mlflow?"
Is it possible to read the metrics stored in the mlflow board as a numpy array or something else? I want to perform pythonic operations on them.

[2020-06-06 20:13] johny-c commented on #1806
Hi @smurching , you mean querying via code, right? Regarding customized dashboards, I recently discovered [redash](https://github.com/getredash/redash). It would be amazing if this kind of functionality was integrated in mlflow.

[2020-06-07 21:18] Zangr commented on #2904
Thanks for confirming @anggao , closing this issue!

[2020-06-07 21:18] #2904 closed

[2020-06-08 05:13] notha99y commented on #1079
@PavelKovalets did you managed to find a way to fix this?

[2020-06-08 08:28] FanniSun opened #2909 "[BUG]"
I use keras to train model, then `mlflow.keras.autolog()` to record changes in parameters during training. before June 4, 2020，there is no problem with the curve of all parameters，just like this:
![image](https://user-images.githubusercontent.com/52404339/84008680-bedb5f80-a9a4-11ea-8ba3-5b9f19671556.png)
but after that, code has no difference , all parameters curves tuned to be:
![image](https://

[2020-06-08 09:03] FanniSun commented on #2909
I did not clarify the situation, the reason for this change is tensorflow1.xx and tensorflow2.0, that is to say, after upgrading tensorflow to version 2.0, the curve change is invisible, I don’t know if this can be fixed

[2020-06-08 14:52] Phylliade opened #2910 "[FR] Upload a run from one source (e.g. the local `mlrun` directory) into another tracking server"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-06-08 14:53] rdwrt commented on #2850
Just a question: is this proposing the use case to deploy Singularity as a backend to MLFlow?

I am currently interested in updating MLFlow status of processes running in Singularity, but that is something different, right?

[2020-06-08 17:28] felixantocharles commented on #2492
how the change the /tmp path to some other path like /opt/app/tmp

[2020-06-08 17:38] felixantocharles commented on #2492
how can i change the path of /tmp to /opt/app/tmp? please help

[2020-06-08 19:50] PhilipMay commented on #2892
Ok. Thanks for your explanation.

[2020-06-09 01:54] FanniSun opened #2912 "[BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-06-09 01:58] FanniSun commented on #2912
I used keras to train model, then mlflow.keras.autolog() to record changes in parameters during training. before June 4, 2020，there is no problem with the curve of all parameters，just like this:
![image](https://user-images.githubusercontent.com/52404339/84097516-6ef9a880-aa37-11ea-92d8-b0f8436fc3aa.png)

but after that, code has no difference , I trained again, all parameters curves tuned to be:

[2020-06-09 01:58] #2909 closed

[2020-06-09 01:59] FanniSun commented on #2909
I described at #2912

[2020-06-09 06:33] FanniSun commented on #2912
It‘s my fault, when tf version is 2.x, mlflow.tensorflow.autolog() has a parameter every_n_iter, defaut to 100, so we can't visit curves, set it to 1 will be ok, sorry for the question

[2020-06-09 06:33] #2912 closed

[2020-06-09 13:53] mirekphd commented on #2006
This should be made more flexible IMO... Hard-coding `Utils.formatMetric()` (see e.g. its [unit tests](https://github.com/mlflow/mlflow/blob/master/mlflow/server/js/src/common/utils/Utils.test.js#L15)) to 4 significant digits means that MLflow shaves off 2 decimal places of RMSE, making a hundred or so of Kaggle competitors with `np.round(my_RMSE, 3) == 0.899` indistinguishable...:
https://www.kag

[2020-06-09 14:03] Haxxardoux opened #2918 "[FR] Save optimizer state_dict with mlflow.pytorch.save_model() with a dictionary"
## Willingness to contribute
- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from the MLflow community.
- [X] No. I cannot contribute this feature at this time.

## Proposal Summary
Torch's torch.save method currently allows you to pass the model instance as the first argument, _or_ a dictionary (see picture below). Thi

[2020-06-09 16:35] aarondav commented on #2006
@mirekphd Do you have a proposal for a better algorithm on how many digits/sig figs to show? The original proposal was about avoiding losing precision with small numbers.

[2020-06-09 17:43] mirekphd commented on #2006
Yes, we did observe precision loss. For instance we have these six models becoming indistinguishable, apparently due to loss of 1 significant digit in RMSE (zeros seem to be counted to the limit of 4 digits displayed by mlflow's UI):
fin_mod_oot_r2    | 0.358 | 0.356 | 0.355 | 0.35 | 0.354 | 0.354 |
fin_mod_oot_rmse 0.077 | 0.077 | 0.077 | 0.077 | 0.077 | 0.077 |

However, this may be related to o

[2020-06-09 18:03] aarondav commented on #2006
The server does serve the JavaScript, so upgrading may fix the precision issue. Note that the metrics are always logged with full precision, it's just the UI that is truncating the digits. So ordering, for example, would be correct given the full precision.

[2020-06-09 19:56] magnus-m commented on #2910
duplicate? #2512

[2020-06-10 01:18] dmatrix commented on #2894
@Ben-Epstein where are we with this issue. It seems @mparkhe could not reproduce it. The UI shows the last value of `quality` logged and displayed correctly. I did the same I got the same value. I'm using the current version of 1.8.

![Screen Shot 2020-06-09 at 6 16 28 PM](https://user-images.githubusercontent.com/1117597/84216125-65932f00-aa7d-11ea-9b08-34a62e783c18.png)

Can we close this issue?

[2020-06-10 07:48] Phylliade commented on #2910
Seems like #2512 is specific to artifacts, while this issue also encompasses runs?

[2020-06-11 09:01] andycraig opened #2922 "[FR] Ability to search for missing values/NAs using search_runs"
## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this feature independently.
- [ ] Yes. I would be willing to contribute this feature with guidance from

[2020-06-11 12:58] mirekphd opened #2923 "[BUG] mlflow after update calls for db migration when no data has changed"
### Willingness to contribute
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**:yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu:bionic, ubuntu:focal
- **MLflow installed from (source or binary)**: bi

[2020-06-11 13:45] sn1c commented on #1945
@dbczumar is this still open? If @tanmaymathur89 won't do it, I'd prepare a PR for adding boolean parameter support.

[2020-06-11 14:37] persas commented on #2770
Hello!!

I have submitted a PR: https://github.com/mlflow/mlflow/pull/2878 a few
weeks ago with no response. Do you know what is the actual procedure for
this? I might did something wrong and I don't know what.

Thanks!

El lun., 11 may. 2020 a las 6:20, Paul Ogilive (<notifications@github.com>)
escribió:

--
*Un Saludo.*
*Diego Pérez Sastre.*

Aviso legal y de confidencialidad.

Este mensaje, su

[2020-06-11 16:57] tanmaymathur89 commented on #1945
Go ahead @sn1c.
I thought I posted a comment earlier but can't see it anymore. I was wondering what the advantage is converting from action to boolean? We are essentially passing through the values to a downstream python code in this case.

[2020-06-11 16:59] tanmaymathur89 commented on #1945
Oh found it, https://github.com/mlflow/mlflow/pull/2453#issuecomment-602315646

[2020-06-11 19:32] Ben-Epstein commented on #2894
@dmatrix I am still experience the problem, but I think that is due to my Tracking Store plugin. I will close, thanks for the help!

[2020-06-11 19:32] #2894 closed

[2020-06-11 23:17] smurching opened #2924 "[FR] Improve stability of MLflow APIs for saving/loading pytorch models"
**Please fill in this feature request template to ensure a timely and thorough response.**

## Willingness to contribute
The MLflow Community encourages new feature contributions. Would you or another member of your organization be willing to contribute an implementation of this feature (either as an MLflow Plugin or an enhancement to the MLflow code base)?

- [ ] Yes. I can contribute this featur

[2020-06-12 03:14] MotiBaadror opened #2925 "ValueError: Anonymous credentials cannot be refreshed"
I am using MLFLOW in colab notebook. I have set up tracking uri (google cloud bucket) . When I try to log params it works fine. But when I try to log a file it gives the following error.
I have set a value for the variable
[code]
[code]
[code]

[2020-06-12 14:34] mirekphd commented on #2901
I can share a snipped of code tested over thousands of models, but in the interest of discoverability I can do it only on StackOverflow ;)

[2020-06-12 17:34] dmatrix commented on #2274
This will serve as an exemplary document and discussion for future pluggable PRs!

[2020-06-12 19:15] PhilipMay commented on #2574
PR is merged. Closing this.

[2020-06-12 19:15] #2574 closed

[2020-06-12 19:19] PhilipMay opened #2931 "[FR] Check and truncate string length"
MLflow seems to have a length limit of 5000 when setting tags (see below).

[code]
Since you do not want to increase this limit (see #2892). What about an option to cut the strings if they are longer then 5000 characters and just log a warning instead of throwing an exception?

What do you think? I am willing to contribute...

[2020-06-12 21:13] magnus-m commented on #2910
yeah, you are right : -)

[2020-06-13 10:16] nsidn98 commented on #2907
Hi, Thanks for the link to the blog. The code in the blog seems to give an array of the final values of the metrics. Is it possible to get an array of metrics stored in each of the experiment?

For example, I want to plot the training_loss of each experiment separately with respect to the epochs.

[2020-06-14 02:02] ksanjeevan opened #2932 "[BUG]"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-06-15 06:25] tienthegainz opened #2933 "Can't use `mlflow run` with git branch feature"
Hi, I'm new to `mlflow`. I'm trying to run project on specific branch. I find that mlflow support this feature but I can't found any document about this.
In my git repo, each model have its own branch. And I want to run them from master branch. Is this possible? Thanks.

[2020-06-15 21:25] techtutorco commented on #608
I also have de same issue with version 1.8.0. I've tried both with MLFLOW_TRACKING_URI and mlflow.set_tracking_uri.

When I use MLFLOW_TRACKING_URI, is not connecting to the server but just storing the runs in the project's mlruns project.

[2020-06-16 05:12] DogeWatch opened #2944 "[FR] Add a button to execute a script on mlflow UI"
I want to execute some code or script under the artifacts folder, like when I choose some better acc runs on the web browser, and I could execute `git commit -ma "xxx"; git push origin`

[2020-06-16 09:38] MotiBaadror commented on #2925
In collab if we try below. It works fine
[code]
You can velidate by running below command to validate if the entry is registered or not
[code]
It should produce output 'value'

[2020-06-16 09:38] #2925 closed

[2020-06-16 13:54] MainRo commented on #2830
I have the same issue. The conversion of the result from numpy to a pandas dataframe prevents using results in more than 2d. Meanwhile the predict method accepts input data in more than 2d.
Can we just remove the pd.DataFrame conversion ?
It seems that the serve functions accept numpy data:
https://github.com/mlflow/mlflow/blob/74be64c8c469aa6cce5cebb92fcafea4bd5ad3a9/mlflow/pyfunc/scoring_server/

[2020-06-16 14:28] glennelong commented on #1477
AlonLek - Interesting, I tried moving the mlflow.set_tracking_uri to my server, recorded the run and nothing at all shows up in the UI? Were there any other changes? When I point tracking to the ML Flow UI, everything but the artifacts are tracked. Subsequently, I cannot register the model from the UI because the Register button never shows up.

e.g.
UI Endpoint mlflow.set_tracking_uri('http://loc

[2020-06-16 15:44] JeanBaptisteScellier opened #2945 "[BUG] Wrong source identified with jupyter lab"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [ ] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### System information
- **Stock example script provided in MLflow: github.com/mlflow/mlflo

[2020-06-16 15:49] JeanBaptisteScellier commented on #2945
I also tried with jupyter notebook and got the same issue.
ipykernel is version 5.3.0 and ipython 7.15.0

[2020-06-16 20:19] kriss024 commented on #1684
python -m pip install --upgrade pip
pip install mlflow

[2020-06-17 01:41] lqdev commented on #1457
@lqdev tagging myself to track this conversation.

[2020-06-17 02:00] lqdev opened #2948 "[FR] REST API Swagger File"
Thank you for submitting a feature request. **Before proceeding, please review MLflow's [Issue Policy for feature requests](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md#feature-requests) and the [MLflow Contributing Guide](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst)**.

**Please fill in this feature request template to ensure a timely and thorough response.**

[2020-06-17 04:29] lipsajohny opened #2950 "how to connect to ml flow ui for a company or the every team member can access the same"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md) for additional information about bug reports. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

**Please fill in this bug report template to ensure a timely and thorough response.**

### Willin

[2020-06-17 08:13] sackh opened #2952 "mlflow plugin does not capture artifacts uri if run with --backend-store-uri"
### System information
- **OS Platform and Distribution**: macOS
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**:  1.8.0
- **Python version**: 3.7.7
- **Exact command to reproduce**: mlflow ui --backend-store-uri <my_uri> --default-artifact-root <my_uri>

### Describe the problem
I am writing a mlflow plugin and able to create experiments usin

[2020-06-17 11:23] sackh commented on #2952
My bad, after running `mlflow server` command this is working fine.
I am closing this issue.

[2020-06-17 11:23] #2952 closed

[2020-06-17 15:00] bneijt commented on #468
I ran into the same issue with mlflow 1.8.0. I assumed `mlflow ui` would pick up my `MLFLOW_TRACKING_URI` from the environment, but it does not. Which means that my `mlflow ui` was looking for local metadata while my `train.py` was writing information to a local `sqlite` database because of having used `export MLFLOW_TRACKING_URI=sqlite:///mlflow_tracking.sqlite` before running my `train.py`.

Sol

[2020-06-17 15:16] sackh opened #2953 "Question - Related to --backend-store-uri --default-artifact-root"
Hi,
I am trying to use both `--backend-store-uri ` and `--default-artifact-root` for mlflow plugin.
I have to run the `mlflow server` command in order to use both.
Is it possible to use both without running the server?
Please let me know.

[2020-06-17 18:16] Polyphenolx opened #2954 "[BUG] Higher-order function causes crash when pickling MlFlowClient"
### Willingness to contribute
The MLflow Community encourages bug fix contributions. Would you or another member of your organization be willing to contribute a fix for this bug to the MLflow code base?

- [x] Yes. I can contribute a fix for this bug independently.
- [x] Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.
- [ ] No. I cannot contribute

[2020-06-17 18:51] juntai-zheng commented on #2755
Hi @amesar, @dmatrix has updated the docs to be much clearer. I'll close the issue now - let us know if there's anything more to improve on!