[2019-07-30 00:39] Zangr commented on #1517
@mbelang could you please check if the search run response with your initial 100 runs has a non-empty `next_page_token` field?

[2019-07-30 11:39] mbelang commented on #1517
@Zangr the `next_page_token` field is not empty.

[2019-07-30 14:01] jdlesage opened #1680 "[FR] Add periodic tasks to be executed by the tracking server"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

Please do not delete this template unless you are sure your issue is outside its scope.

-------
## Guidelines

Feature requests typically go through the following lifecycle:

1. Submit feature request with high

[2019-07-30 22:06] zcharli opened #1682 "What is the best way to handle feature requirements of the model?"
I recently stumbled across the this neat library that packages a ML model into a deployable artifact. After an artifact is hosted on a server, it seems that we will need to know what features it consumes ahead of time. From examples, `--data` is used pass in the data required for scoring. If we're managing a large pool of models, the caller has to either know what features the model needs before h

[2019-07-30 23:07] #1657 closed

[2019-07-30 23:44] #1618 closed

[2019-07-30 23:44] ankitmathur-db commented on #1618
Fixed - thanks for reporting!

[2019-07-31 02:47] #921 closed

[2019-07-31 08:37] meklitAIA commented on #1487
thank u

[2019-07-31 08:48] lorenzwalthert commented on #1563
I believe some soft of DAG processing has been announced in the [Spark AI Summit Keynote on MLflow ](https://youtu.be/QJW_kkRWAUs?t=1788).

[2019-07-31 09:49] swamat opened #1684 "mlflow ui does not start on windows 10"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

Please do not delete this template unless you are sure your issue is outside its scope.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:windows 10
- **MLflow installed from

[2019-07-31 11:25] abhay9414 opened #1685 "[BUG] Facing issue while running the following code"
**CODE:-**
[code]

While runing the above code in R studio the following error occurs

 **ERROR :-**   column <- mlflow_log_param("column", 1)

Error in rethrow_call(c_processx_exec, command, c(command, args), stdin,  :
  Command not found @win/processx.c:977

[2019-07-31 11:33] pandae7 opened #1686 "Can we get any examples based on JAVA?[FR]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

Please do not delete this template unless you are sure your issue is outside its scope.

-------
## Guidelines

Feature requests typically go through the following lifecycle:

1. Submit feature request with high

[2019-07-31 14:10] herrmann commented on #1393
Should be fixed by this patch (already in 1.1) https://github.com/mlflow/mlflow/commit/89bba8ac86662a1321ac67bca1e64017f55303f1

[2019-07-31 15:52] thomasryck commented on #1684
@ankitmathur-db I did `pip install waitress` and mlflow ui command worked. However when I tried mlflow models serve -m runs:/a6656995a0a34bbebfea43e54f265fea/model I still get the same error. (I was doing the following example python sklearn_logistic_regression/train.py)

[2019-07-31 18:13] andremesarovic commented on #1666
I really miss the tabular button. It made comparing runs so easy. Now its not.

[2019-07-31 22:33] bezova commented on #1670
same issue for me

[2019-07-31 23:10] ankitmathur-db commented on #1685
Note that the docs say that the value you log when you call `mlflow_log_param` should be a string. You seem to be logging an integer here.

[2019-07-31 23:10] #1685 closed

[2019-08-01 00:13] ginochen commented on #1093
Same here, have you resolved this issue?

[2019-08-01 06:31] swamat commented on #1684
Thanks @ankitmathur-db The same worked for me. But as you mentioned am getting the below error when i try to serve the model using the command: mlflow models serve -m runs:/5db9a956f1414595978e28dc5f1c3329/artifacts/model

Error:
Traceback (most recent call last):
  File "c:\programdata\anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\programdata\anaco

[2019-08-01 08:31] thomasryck commented on #1684
@swamat

In fact , now I have the following error

Which I solved by doing pip install libarchive.

But now I have the following error:

Which I solved by changing anaconda3\envs\tensorflow_capu\lib\site-packages\mlflow\projects\__init__.py file:

line 494:

From

to

It's not clean but I try to get thinks working.

Now I get the following error, due to linux command:

I am still digging

[2019-08-01 08:59] swamat commented on #1684
@ankitmathur-db Please let me know if you fins a solution for the same

[2019-08-01 10:09] thomasryck commented on #1684
@swamat I got it working for the server, I did not manage to get it working to made a prediction.
It seems that I didn't had the modification from #1080 even if I have version 1.1.0 . So I did other modification and modification from this pull request in the lib code to get things working
I will uploaded these changes later so you can make it work.
@smurching @dbczumar @tomasatdatabricks @ankitmat

[2019-08-01 10:16] thomasryck commented on #1684
I modified the following method in the __init__.py in mlflow projects

I changed in backend.py

And

[2019-08-01 11:02] swamat commented on #1684
@thomasryck I tried the above mentioned changes in mlflow project init.py and pyfunc backend.py. Still am getting the same error

[2019-08-01 11:13] thomasryck commented on #1684
@swamat  Show traceback please

[2019-08-01 12:56] thomasryck commented on #1684
I saw in changelog that only tracking and UI were available on Windows

[2019-08-01 16:47] ankitmathur-db commented on #1581
This has been merged into master!

[2019-08-01 16:47] #1581 closed

[2019-08-01 16:48] ankitmathur-db commented on #1346
We just merged the UI side of things as well - feel free to try it out!

[2019-08-01 16:48] #1346 closed

[2019-08-01 17:29] ankitmathur-db commented on #1684
Thanks @thomasryck - please feel free to file a PR if you think you have something working that doesn't currently work on MLFlow. For Windows, we currently only support tracking and the UI, so the server isn't expected to work on Windows at the moment. If you'd like to take on this task, we'd love to review PRs on it!

[2019-08-01 17:29] #1684 closed

[2019-08-01 17:39] ankitmathur-db commented on #1686
Is there something in particular that is unclear?

[2019-08-01 17:45] ankitmathur-db commented on #1669
We only have support on Windows for tracking and the UI at the moment - please check out a workaround at #1684 and see if that might help you out!

[2019-08-01 17:45] #1669 closed

[2019-08-01 17:52] stfj77 commented on #1669
Thanks Ankit,

I have already provided the required change which made it working for me in my post.

Maybe you can incorporate it into a future release

Best regards
Josef

Am 01.08.19 um 19:45 schrieb Ankit Mathur

[2019-08-01 19:05] fdabek1 opened #1688 "[BUG] Keras Summary Too Long for SQL Column"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OSX 10.14 (Client) & Ubuntu 18.04 (Tracking Server)
- **MLflow installed from (source or binary)**: From PyPi
- **MLflow version (run ``mlflow --version``)**: 1.1.0
- **Python version**: 3.6.8
- **npm version,

[2019-08-01 19:10] knjenga commented on #854
I am still getting the problem "Error in process_initialize(self, private, command, args, stdin, stdout,  :
  Command not found" after installing everything from scratch and trying to run the examples at https://mlflow.org/docs/latest/tutorial.html.

This is a bummer because it holds great promise for what we can do with mlfow.

R version 3.5.3 (2019-03-11)
Platform: x86_64-w64-mingw32/x64 (64-bit

[2019-08-01 19:20] knjenga commented on #1193
Any updates? I am still getting the error in August.

mlflow_log_metric("foo", 1)

Error in process_initialize(self, private, command, args, stdin, stdout,  :
  Command not found

R version 3.5.3 (2019-03-11)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United St

[2019-08-01 19:53] apurva-koti commented on #1688
Thanks for the issue! @ankitmathur-db has a fix for this in #1687 and I'll put out an autolog-specific try-catch for this.

[2019-08-01 20:01] apurva-koti commented on #1688
@fdabek1 Is the traceback from a warning or did your code actually fail with an exception?

[2019-08-01 20:20] mgbckr opened #1689 "[BUG] `MlflowClient.download_artifacts` fails on empty directories with an `IsADirectoryError` when using `LocalArtifactRepository`"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Fedora release 29 (Twenty Nine)
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**: 1.1.0
- **Python version**: 3.7.4
- **npm version, if running the dev UI**:

[2019-08-01 20:49] fdabek1 commented on #1688
@apurva-koti Sorry should have been more specific.  The traceback was from the tracking server on the request.  The training code ran fine and showed three attempts to contact the server.

This is great!  I am assuming that I need to wait for the next release to get this update via pip?  In the meantime is there anything else that I can do since I am assuming that will be a while?  Basically, if I

[2019-08-01 21:07] apurva-koti commented on #1688
@fdabek1 We are hoping to get both #1687 and  in the next release, which should be coming soon. You could [install MLflow from source](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst) which will have more up-to-date commits from master.

 If your training code ran okay, you should be fine, though summary tags and model checkpointing won't be auto-logged until the fix. Updating the co

[2019-08-02 08:03] jdlesage commented on #1571
@t-henri PR fixes the problem. I close the issue.

[2019-08-02 08:03] #1571 closed

[2019-08-02 10:14] ArindamHalder7 opened #1691 "Dockerized Model Training with MLflow without building new docker in run time."
Hi

I went through the "Dockerized Model Training with MLflow" for the MLflow project with a Docker environment. I saw in the documentation, that when we run an MLflow project that specifies a Docker image, a new docker image will be created with specific configuration and code.

Can we run MLflow which spawn a docker container from the specified image only,  without creating a new one on run time

[2019-08-02 11:38] kwin-wang commented on #1451
@aranjanthakur I got the same error

[2019-08-02 15:01] anthonytec2 opened #1692 "[BUG] 404 Error when trying to view metric"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please do not delete this template unless you are sure your issue is outside its scope.

#

[2019-08-02 15:55] #1649 closed

[2019-08-02 17:11] wegamekinglc opened #1694 "[BUG] MLflow UI only shows 100 runs and can't get more"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please do not delete this template unless you are sure your issue is outside its scope.

#

[2019-08-02 17:27] ankitmathur-db commented on #1669
Hi @stfj77 , does this mean you filed a PR?

[2019-08-02 17:38] #183 closed

[2019-08-02 17:38] #25 closed

[2019-08-02 17:41] #159 closed

[2019-08-02 17:41] #244 closed

[2019-08-02 17:45] #414 closed

[2019-08-02 17:46] #447 closed

[2019-08-02 17:55] #614 closed

[2019-08-02 18:03] ankitmathur-db commented on #624
@rharang - I cannot reproduce this issue in 1.1.0. Can you post repro instructions and reopen the issue when you do?

Given that we don't support Projects on Windows, I wouldn't expect there to be logic checking for this. If it's easy enough, we'd love to see a PR for this.

[2019-08-02 18:03] #624 closed

[2019-08-02 18:12] ankitmathur-db commented on #639
What is the feature request specific to Dopamine here? Please feel free to re-open with a specific request

[2019-08-02 18:12] #639 closed

[2019-08-02 18:13] #655 closed

[2019-08-02 19:23] ZainNasrullah commented on #1670
Everything works fine in mlflow 1.0.0, updating to 1.1.0 seems to introduce this issue

[2019-08-05 03:10] abaveja313 commented on #726
Yes, thanks.

[2019-08-05 03:10] #726 closed

[2019-08-05 05:29] pandae7 commented on #1686
I'm not a JAVA based Coder, and I'm experimenting with a ML Model written in JAVA. I Couldn't launch the JAVA's tracking API.
I tried Installing Maven Package and I'm getting this error

Running TestSuite
Configuring TestNG with: TestNG652Configurator
Tests run: 84, Failures: 1, Errors: 0, Skipped: 83, Time elapsed: 0.42 sec <<< FAILURE! - in TestSuite
beforeAll(org.mlflow.artifacts.CliBasedArtifa

[2019-08-05 07:50] t-henri opened #1698 "[FR] Decorate flask endpoints to add monitoring/authentication"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

Please do not delete this template unless you are sure your issue is outside its scope.

-------
## Guidelines

Feature requests typically go through the following lifecycle:

1. Submit feature request with high

[2019-08-05 11:51] henningsway commented on #884
I currently have the same problem using mlflow 1.1.0. I use the default locations for the backend- and artifact store and the artifacts appear in the file system for each run. But they do not show up in the UI, when I start `mlflow ui`.

The training and logging is done within a docker container, the call to the ui is done afterwards outside of docker.

[2019-08-05 17:42] ankitmathur-db commented on #1688
Both PRs have merged on master! If you install MLFlow from source, you should be able to get this working.

[2019-08-05 17:42] #1688 closed

[2019-08-05 21:43] Zangr commented on #1694
Hi @wegamekinglc, could you try scrolling to the bottom of the runs table and there should be a "Load more" button to load the next 100 runs.

[2019-08-05 22:52] #599 closed

[2019-08-05 23:29] ankitmathur-db commented on #1686
Could you reply with the specific command that you ran and the set up that you were trying with? If this is a bug, we'd love to fix it ASAP!

[2019-08-06 03:52] #713 closed

[2019-08-06 03:54] #744 closed

[2019-08-06 03:55] ankitmathur-db commented on #953
It is - you can import mlflow.pytorch if you want it though!

[2019-08-06 03:55] #953 closed

[2019-08-06 03:57] #1109 closed

[2019-08-06 04:03] wegamekinglc commented on #1694
hi @Zangr Didn't find that button:
![image](https://user-images.githubusercontent.com/1821668/62510605-2f27ca80-b842-11e9-91bb-f50869a10f5b.png)

[2019-08-06 05:19] pandae7 commented on #1686
The Issue mentioned above is sorted, But I have a basic query on how to exactly run a Java Model downloaded from the net, MLFlow claims that it provides end to end support for any ML Model and in any Language.
Suppose, I have a Java Model in the examples folder. Now, how to use the tracking feature mentioned in the MLFlow Java Client Read.me file?

[2019-08-06 07:28] diptipatil commented on #154
This is really helpful.

[2019-08-06 07:29] diptipatil commented on #154
This is really helpful

[2019-08-06 07:44] aim-nfunke opened #1701 "Tag in seperate Columns"
As a Data Scientist ich want to display Tags in seperate Columns.  [FR]

This functions  already exists for parameters and metrics.

It is useful to have a good overview and more flexibility to find runs with a special tag.

Thank you :)

[2019-08-06 12:37] thomasryck opened #1702 "[Question] Question regarding the implementation of PyTorchWrapper"
I have a question regarding the following line of code

[code]
which is in the init file of the pytorch module.

[code]

This line of code shows implies that the input data and the output data of the network have the same indexes. However in my opinion is not the main case and the index of the prediction dataframe should be the indexes from the dataframe creation.

This line of code is not compati

[2019-08-06 16:50] Zangr commented on #1701
@aim-nfunke We do provide showing tags in a separate column from 1.0. Could you please try upgrade?

[2019-08-06 16:58] Zangr commented on #1517
Thanks @mbelang! Looks like "Load more" is not showing in windows/IE. We are investigating the issue. For now, mac/chrome can be a workaround.
https://github.com/mlflow/mlflow/issues/1694

[2019-08-06 17:10] ankitmathur-db commented on #1692
We're going to need more information to debug this - can you post a stack trace, along with some description of what's in mlruns?

[2019-08-06 17:13] smurching commented on #1702
@thomasryck I think the original intention was that each row of the predicted result would have the same label as the corresponding input row. To confirm, is your model intended to produce a different number of predictions than inputs? Or is it that the number of predictions and inputs the same, but the inputs & predictions are 2D tensors of differing shapes (input shape is (3, X) and output is (2

[2019-08-06 17:21] mbelang commented on #1694
I'm on chromium on arch linux

[2019-08-06 21:01] marcusrehm commented on #1672
Hi @dbczumar , sorry for the late reply.

I've tested it downloading mlflow==1.1.0 from pypi and using the tag 1.1.0 from master branch. Both ways worked for me. I tried it with master branch and it worked too.

Can you try to clean up your environment and try again?

[2019-08-06 22:43] ankitmathur-db commented on #1234
@tomasatdatabricks we closed this right?

[2019-08-06 22:47] tomasatdatabricks commented on #1234
Yes, you can log NaNs and Infs with mlflow>=1.1.

[2019-08-06 22:47] #1234 closed

[2019-08-07 04:59] ShevyMittal-GSLab opened #1703 "Unable to use mlflow.projects.run API on my Spark Cluster"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux
- **MLflow installed from (source or binary)**:
- **MLflow version (run ``mlflow --version``)**: 1.0.0
- **Python version**: 3.7
- **npm version, if running the dev UI**:
- **Exact command to reproduce**:

#

[2019-08-07 06:22] thomasryck commented on #1702
@smurching My number of predictions and inputs are the same but they have different shapes. My input correspond to 3 channel images. And my output is 2 different score for each pixel.

[2019-08-07 06:39] thomasryck commented on #1702
@smurching I think that the two affirmation could be true. What I mean is that my input is a 3 channel image and my output is 2 different score for each pixel. So I have, as an output, 2*X predictions. So the number of predictions is different from the number of inputs. But I could also have only one score for each pixel which would give the same number of predictions and inputs but 2 different sh

[2019-08-07 07:09] aim-nfunke commented on #1701
We have already upgraded to 1.1. This function doesnt work. Is this maybe a bug?
For Parameters and metrics it is no problem.

[2019-08-07 07:34] Zangr commented on #1701
@aim-nfunke, I'm not sure what do you mean by "this function doesn't work"? Could you please elaborate more by following the issue template? That will help the investigation greatly. I'd also recommend providing more information on how you upgraded to 1.1.

Tags related features are provided in the following PRs, you can refer to the gif in the PR description for a quick look at how these features

[2019-08-07 07:47] aim-nfunke commented on #1701
Hi,
okay i will explain it with pictures:
![display as a new column](https://user-images.githubusercontent.com/53812472/62604277-0104c200-b8f8-11e9-80f6-80ecb1e0a695.PNG)

Parameters and metrics u can display as a separate Column.

If u try this with Tags, u dont get the possibility to display tags as a separate Column:

![tags](https://user-images.githubusercontent.com/53812472/62604368-39a49b80-

[2019-08-07 07:53] Zangr commented on #1701
I see, listing individual tag as a separate column is currently not supported. We will consider putting it on the roadmap and you are also welcome to submit a PR for it.
CC @gioa

[2019-08-07 09:04] houssamzenati commented on #927
Any updates regarding this issue ? Thanks a lot

[2019-08-07 10:25] houssamzenati commented on #1694
Scrolling down to the bottom of the runs does not seem to work for my ubuntu OS. Still have that issue

[2019-08-07 11:24] smudiyam opened #1704 "Error initializing backend store when MySQL is used in 1.1.0"
We are using MySQL Ver 8.0.17 as backend in mlflow 1.1.0. When we are trying to start the server with MySQL as backend, we are getting the following error

2019/08/02 09:43:43 ERROR mlflow.cli: Error initializing backend store
2019/08/02 09:43:43 ERROR mlflow.cli: Detected out-of-date database schema (found version None, but expected 181f10493468). Take a backup of your database, then run 'mlflow

[2019-08-07 14:01] mallochio commented on #884
In my case the `artifact_uri ` does seem to be a proper filepath, but the artifacts are still not visible from the UI. Windows user here.

[2019-08-07 15:33] jdlesage commented on #927
There is already the service `mlflow.search_runs`  returns a panda dataframe that can be converted to a dataframe.

[2019-08-07 19:12] ksafford commented on #866
My use-case for this would be to something akin to mlflow.sagemaker.deploy to use with Google AI Platform.

[2019-08-07 20:22] ankitmathur-db commented on #1704
To clarify, is the workflow here that you started with a fresh database, ran mlflow server, and then experienced an error initializing the DB? If so, that error should have popped up before you ran mlflow db upgrade.

[2019-08-07 22:14] dorukhansergin commented on #927
@jdlesage Thanks a lot for the PR trial!

It was 0.9.1 (AFAIR) when I opened this issue. I think `.search_runs` was introduced in 1.1
I don't know if the CLI option necessary now :/

[2019-08-08 07:04] jdlesage commented on #927
Most of the commands in `mlflow experiments` are just a simple call to the python API. That's why I took the initiative to add this one. IMO, that's a nice feature and it is cheap to develop.

[2019-08-08 08:56] smwade opened #1711 "[FR] Run MLFlow Project on Azure"
# Run MLFlow Project on Azure

## Proposal

Expand the open source remote execution backend for MLflow projects to include Azure. This will be similar and build off of kubernetes support in release 1.1.0. Once complete will add to the CLI the command:

`mlflow run <project_uri> --backend azure --backend-config azure_config.json`

where the `backend-config` is of the form:

[code]

### Motivation

[2019-08-08 09:02] smwade commented on #1711
I'd love to get started on this. Let me know if you have any feedback or suggestions

[2019-08-08 16:22] CrankyDragon commented on #925
So I just started running into to this issue after upgrading to 1.0.0+ and noticed that the URL for static files is incorrect causing worker to block. Basically if I switch:
http://localhost:5000/static-files/static-files/static/css/main.fbf8a477.css
to:
http://localhost:5000/static-files/static/css/main.fbf8a477.css
These assets load fine. Anyone have a patch for this?

[2019-08-08 16:29] Casyfill opened #1712 "[FR] Support Snowflake DB connections for SQL store"
It is a little unclear from the documentation but can I use snowflake as a backend for MLflow server (backend-store-uri)?

I tried to install the snowflake-sqlalchemy connector and pass a sqlalchemy string, but seems the mlflow itself is not validating it - any way to bypass?

I see a corresponding db fail test - is there any reason snowflake won't suffice?

Thanks!

Thank you for submitting an is

[2019-08-08 19:51] jbauer2718 commented on #1692
I just want to add that I see the same issue on the same setup.

[2019-08-09 01:07] ankitmathur-db commented on #1692
@jbauer2718 , do you have any more specific stack traces or information about your setup that you can offer?

[2019-08-09 05:14] ankitmathur-db commented on #1712
Hi! Thanks for your feature request. As of now, we support: mysql, mssql, sqlite, and postgresql. It very well might be that adding Snowflake to [this](https://github.com/mlflow/mlflow/blob/master/mlflow/store/dbmodels/db_types.py) would work, but it's not clear - as it turns out, each dialect has slight idiosyncrasies that affect how we have to do things like write migrations.

If your use case n

[2019-08-09 11:46] giordyb commented on #1666
Another issue that I see is that once the metric has been moved into its own column the heading only displays the first 18 characters and cannot be resized and the full name doesn't show up by hovering with the mouse.

[2019-08-09 13:24] jbauer2718 commented on #1692
I fixed the issue; you can't have subdirectories in the metrics folder. I don't know if this is a bug report or a feature request :p

[2019-08-09 13:26] HackyRoot commented on #1110
Hey @adam-m-mcelhinney,
I would love to work on this issue if it's not assigned to anyone else yet.

[2019-08-09 13:44] adam-m-mcelhinney commented on #1110
@HackyRoot go for it. You'll just need to replace the `pd.read_csv` reference with the one above and change 1-2 column names. If you need any help, I'll be around this weekend

[2019-08-09 14:40] Casyfill commented on #1712
Thanks for the response! Will try that, if other options won't work out for our use case.

[2019-08-09 17:39] ankitmathur-db commented on #1692
Did you manually add a subdirectory to your metrics? @jbauer2718

[2019-08-09 23:07] Zangr commented on #1694
#1718

[2019-08-10 00:04] adeandrade commented on #1093
My solution so far has been to run `mlflow run` inside the docker container (with `--no-conda` and no docker container specified in the project definition).

Effectively bypassing the feature, I guess.

[2019-08-10 19:40] LeanderK opened #1721 "[FR] Diff text files on comparison"
It would be great if diffing of text-files such as logs or other information serialised into text-files would be supported, or more generally a way to compare output that is not just numerical metrics.

I am currently trying to compare the text-based output between different models and it's quite tedious.

[2019-08-11 20:15] mgbckr opened #1723 "[FR] Managed artifacts"
# Managed artifacts
## Describe the proposal
The idea is to support "managed artifacts" that allow:
* automatic artifact loading (load artifacts from a previous run replacing otherwise calculated artifacts (e.g., a sampled dataset or a trained neural network)
* automatically handling temporary folders for artifacts during parallel runs (e.g., when you run your script multiple times on the same ser

[2019-08-11 20:22] mgbckr opened #1724 "[FR] Log local variables"
# Logging local variables
## Describe the proposal
Currently logging parameters is a little cumbersome since you have to log each parameter separately. For this I suggest an addition to the fluent API that allows to just log all local variables with various parameters (e.g., only logging parameters of the current function, only logging local variables, etc.). This is currently only proposed for th

[2019-08-12 10:45] LeanderK commented on #1692
I too am experiencing 404 for the metrics-view. In fact, i can't view a single metric.

[2019-08-12 10:48] LeanderK commented on #1692
@ankitmathur-db it may be the subfolders! I didn't manually add them, my metrics are called `train/xy` , `validation/xy`, `test/whatever` to keep it consistent with tensorflow. I have half a year of recorded metrics that i can't view!

[2019-08-12 12:56] jbauer2718 commented on #1692
Try copying train/xy to xy. That worked for me. I manually added that
directory afterwards and was able to view the metrics.

On Mon, Aug 12, 2019, 05:48 Leander Kurscheidt <notifications@github.com>
wrote:

[2019-08-12 14:50] tolomea opened #1728 "[BUG] call tree multiplication in FileStore leading to excessive YAML load"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: We have a library that wraps MLFLOW
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac Darwin 18.6.0
- **MLflow installed from (source or binary)**: Pip
- **MLflow version (run ``mlflow --version``)**: 1.0.0
- **Python version**: 3.7.3
- **npm version, if running

[2019-08-12 14:51] tolomea commented on #1728
![image](https://user-images.githubusercontent.com/805072/62874388-0c515680-bd19-11e9-9dbc-3ce5a6cdaeab.png)

[2019-08-12 14:58] tolomea commented on #1728
From a quick look nothing related to this seems to have changed in 1.1.

[2019-08-12 19:53] apurva-koti commented on #1724
Hi! Thanks for filing an issue. There is already an endpoint for logging metrics, parameters and tags in batch: https://www.mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.log_batch

This is not exactly the same as automatically logging all local variables, but that does seem to me like a very specific use case that might not warrant its own endpoint. Does the a

[2019-08-12 21:54] zhangruiskyline opened #1731 "[FR] Implement autolog for tensorboardX support for pytorch"
## Describe the proposal

Right now we have autolog feature to automatically log tensorboard tracking status into mlflow tracking in tensorflow and keras, would like to have this feature also in pytorch(tensorboardX)

smoothly integrate current pytorch based machine learning code base into mlflow

### Motivation

can help to migrate pytorch code which uses tensorboardX tracking easily into mlflow

[2019-08-13 03:53] mgbckr commented on #1724
Thanks for the link. However, I don't think `log_batch` provides comparable functionality. While it allows to log several things at the same time, it does not solve the issue "forgetting to log parameters". Automatically logging new local variables is important to implicitly catch new parameters as you develop your model script and ensures the complete coverage of your experimental environment.

[2019-08-13 04:27] pingsutw opened #1732 "Dose MLflow support distributed TensorFlow?"
If I run distributed tensorflow on 4 machines, dose mlflow still store those job in one run id ?
Could i also reproduce distributed tensorflow by running mlflow model ?
if mlflow support this, where can i find the document about this
Thanks in advanced.

[2019-08-13 04:58] apurva-koti commented on #1724
I think there's a misunderstanding here. "Parameter" in the context of MLflow does not literally refer to Python function parameters, but rather any key-value (string-string) pair. See the [docs](https://www.mlflow.org/docs/latest/tracking.html#concepts) for more info on this. Typically, parameters describe your network in some way: learning rate, epsilon value, layer count, and so on. You can als

[2019-08-13 05:38] mgbckr commented on #1724
Thanks for the quick answer. I am aware of the parameter concept, sorry for being a little vague here. Let's actually take an example from the examples repo (https://github.com/mlflow/mlflow/blob/master/examples/multistep_workflow/als.py). There are various parameters passed via @click.option to the train function that parameterize each run (and are actually quite essential to the run). These para

[2019-08-13 08:40] marcusrehm commented on #1672
The only thing I see different in my tests is the OS config. I'm using Ubuntu 16.04 while you are using OSX 10.14.

[2019-08-13 11:24] petibear commented on #1654
@smurching I finally tried, and yes, tracking using an mlflow server launched with `mlflow server --host 0.0.0.0 -p 8080` is indeed quite easy within CDSW. UI is accessible too. So nothing really needed here. Thanks !

[2019-08-13 13:50] smudiyam commented on #1704
Yes, we started with a fresh database and ran mlflow server and then it thrown error initializing backend store and asked to run "mlflow db upgrade". At this point, (after mlflow server and before mlflow db upgrade), only two tables (alembic_version and experiments) were created in the database.

And then, we ran "mlflow db upgrade" but it thrown this error "Table 'mlflow.runs' doesn't exist". Pro

[2019-08-13 16:17] johny-c commented on #1731
This would be really useful ;)

[2019-08-13 16:21] max-allen-db commented on #1671
Hey @stfj77 ,

Coming back to review this right now. Thanks for pointing this out! Since you have the context on the different pandas formats, would it be possible for you to make a pull request with the necessary change? We'd greatly appreciate it.

[2019-08-13 17:02] ankitmathur-db commented on #1724
One alternative that I typically use is I use `argparse` to take in command line arguments and use `log_batch` to log that. It precludes you from adding new parameters to your function, but if your function just takes args and main sets args, it can be pretty valuable.

Regardless, it seems like your work on mlflowhelper includes code to do this! If you go ahead and file a PR against MLflow, we ca

[2019-08-14 01:18] jwpestrak opened #1735 "[FR] Method for identifying best-performing model"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

Please do not delete this template unless you are sure your issue is outside its scope.

-------
## Guidelines

Feature requests typically go through the following lifecycle:

1. Submit feature request with high

[2019-08-14 04:46] pandae7 opened #1736 "[FR]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

Please do not delete this template unless you are sure your issue is outside its scope.

-------
## Guidelines

Feature requests typically go through the following lifecycle:

1. Submit feature request with high

[2019-08-14 04:54] pandae7 commented on #1736
There is an example in mlflow documentation on how to run the project published on Github, here is the command which we are supposed to use

**mlflow run https://github.com/mlflow/mlflow-example -P alpha=0.3**

This works fine, Now when i try to run an example give in the master branch it gives me a different error

**mlflow run https://github.com/mlflow/mlflow/tree/master/examples/sklearn_elastic

[2019-08-14 04:55] pandae7 commented on #1736
So how exactly are we supposed to run any example on Github using **https** link and not **ssh**

[2019-08-14 20:53] cappaberra commented on #1449
I'm using file-backend storage with MLflow 0.6.0 and want to upgrade to MLflow v1.2.0 (latest as of this writing).... if I should write up another issue, I can, but this seemed relevant.  Performing the following does not work as expected, and I didn't find any documentation on the process.

`mlflow db upgrade file:///data_1.2.0/
Traceback (most recent call last):
  File "/var/opt/mlflow/venv_1.2.

[2019-08-14 22:02] apurva-koti commented on #1736
https://github.com/mlflow/mlflow-example is a git repository. https://github.com/mlflow/mlflow/tree/master/examples/sklearn_elasticnet_wine/ is not a git repository - it is a folder within a git repository.
You can run MLflow projects directly from Git if you provide as an argument a link to a git repository (which contains a valid MLProject file).

[2019-08-14 22:02] #1736 closed

[2019-08-15 08:51] Jie-Yuan opened #1738 "[BUG]MlflowException: Could not find an "MLmodel" configuration file at "/ceph/yuanjie/6_FeatureTools/automated-feature-engineering/walk_through/spark-model""
MlflowException: Could not find an "MLmodel" configuration file at "/ceph/yuanjie/6_FeatureTools/automated-feature-engineering/walk_through/spark-model"

[2019-08-15 09:54] Jie-Yuan opened #1739 "How to server?"
![image](https://user-images.githubusercontent.com/20265321/63087850-b6351b00-bf85-11e9-9b35-7dab61ede0de.png)

mlflow models serve --model-uri runs:/Users/yuanjie/Desktop/Projects/Python/tql-Python/examples/deploy/mlruns/0/3f52da7ab25649de825ed8d344ea4be6/artifacts/
---
mlflow.exceptions.MlflowException: Run 'Users' not found

[2019-08-15 10:23] Jie-Yuan opened #1740 "[DOC-FIX]How to request?"
curl -d <data schema>???

[2019-08-15 10:25] Jie-Yuan commented on #1740
Do support data schema?

[2019-08-15 17:40] apurva-koti commented on #1740
Please fill out the respective issue template with the relevant information for your concern.

[2019-08-15 17:40] #1740 closed

[2019-08-15 17:41] apurva-koti commented on #1739
Please fill out the respective issue template with the relevant information for your concern.

[2019-08-15 17:41] #1739 closed

[2019-08-15 17:50] apurva-koti commented on #1738
Hello,
Far more information is needed to effectively diagnose this bug. Please file another issue and fill out the template.

[2019-08-15 17:50] #1738 closed

[2019-08-15 18:01] apurva-koti commented on #1735
One issue is that the definition of "best" can vary depending on the use case. i.e. should the best model be the one that produced the lowest training loss or validation loss? Or test loss?
In the example you linked, we could achieve this by keeping track of whatever metric we want to with a variable, and then logging `lr` with `log_model()`.
ie. (with some loop)
[code]

This is not identical to y

[2019-08-15 18:41] dbczumar commented on #1672
@marcusrehm I'll try to reproduce this on a fresh Ubuntu installation and will respond back.

[2019-08-16 00:16] zhangruiskyline opened #1745 "[BUG] mlflow.pytorch.log_model has error to log torchvision: module 'torchvision' has no attribute '__version__'"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please do not delete this template unless you are sure your issue is outside its scope.

#

[2019-08-16 00:18] ankitmathur-db commented on #1745
How did you actually trigger this error message? I cannot reproduce this when I log a model from torchvision 0.4

[2019-08-16 01:59] zhangruiskyline commented on #1745
can you check whether you have ___version___ attribute? (let me know if I am not checking the correct way)

[code]

[2019-08-16 02:11] zhangruiskyline commented on #1745
I can not see __version__ there

[code]

[2019-08-16 03:07] zhangruiskyline commented on #1745
HI
 I think I found the problem, it is not because the torchvision, it is because torch is not the latest one, I installed 1.2.0 for torch and it fixed it

[2019-08-16 03:07] #1745 closed

[2019-08-16 04:47] gioa commented on #1314
Found a similar request https://github.com/mlflow/mlflow/issues/1028 and let's close this one.

[2019-08-16 04:47] #1314 closed

[2019-08-16 06:00] jwpestrak commented on #1735
@apurva-koti Your concern about how each each could define "best" is relevant and I appreciate it.  Yes, code that keeps track of a user-specified metric and the model that is associated with its optimum (say, by default, for a validation dataset) would be a nice feature IMO.  If this feature existed, then, when desired by the use, it could shortcut the process of querying and sorting metrics, and

[2019-08-16 09:33] sifanLV opened #1748 "[SETUP-BUG]"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Docker Base Image [python:3.7-stretch](https://github.com/docker-library/python/tree/master/3.7/stretch)
- **MLflow installed from (source or binary)**: Installed through pip
- **MLflow version (run ``mlflow --version``)**: 1.2.0
- **Python version**: 3.7.4
- **Exact command to reproduce**:
[code]

### Describe t

[2019-08-16 12:37] seeder commented on #1748
Back on 0.9.1 , I had devised a fix in sqlalchemy_store.py  :
https://github.com/gnrkou/mlflow/commit/e3208168c5a9654a795467a1c7e8d18d6b4e94dc#diff-9dbd29fa18674e2743b2073bca3e250d

[2019-08-16 14:51] HungUnicorn opened #1749 "[FR] Retry connecting to backend store when database is not ready"
## Describe the proposal
When using database for backend store, if the database is not ready yet, the following error shows up (use postgres for example)

`sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) FATAL
: the database system is starting up`

Retry mechanism would help and connection should work in few seconds.

### Motivation
When database for backend store is not available to

[2019-08-16 17:13] Ben-Epstein opened #1750 "[BUG] Deploying spark model to azureml"
Please do not delete this template unless you are sure your issue is outside its scope.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux centos 7
- **MLflow installed from (source or binary)**: source
- **MLflow version (run ``mlflow --version``)**: 1.1.0

[2019-08-16 18:03] bfowler1 opened #1752 "[FR] Parallel Coordinate Plot Enhancements"
## Describe the proposal
Allow for zoom functionality on the parallel coordinate plot similar to the zoom functionality in the scatter plot.

[2019-08-16 18:07] bfowler1 commented on #1752
Correction, params are noted on the left portion of the plot. Adding a zoom functionality to the plot would still be helpful.

[2019-08-17 22:14] zhangruiskyline commented on #1094
I am getting same issue, I have 3 steps in workflow, one is shell script, and other two are python script, they can be run separately, but somehow when define a workstep, always get same error as above

[2019-08-18 09:52] ajoeajoe opened #1755 "[BUG] no data in mlflow UI"
as the following pic shows:

![image](https://user-images.githubusercontent.com/11608953/63222918-92214600-c1e0-11e9-8c12-f2acf0dccf41.png)

and ouput folds in mlruns:

![image](https://user-images.githubusercontent.com/11608953/63222937-e3c9d080-c1e0-11e9-95fd-31e35c3d4f77.png)

[2019-08-18 13:01] jdlesage opened #1756 "[FR] Add mypy / typing checks"
## Describe the proposal
Add mypy checks in travis.

### Motivation
Annotations and typing module catch errors by static analysis. In order to improve the code base, I suggest to start to annotate the code and add mypy analysis in travis.

### Proposed Changes
* Add mypy checks in travis
* Use python2 compatible annotations (using comments) https://mypy.readthedocs.io/en/latest/python2.html

[2019-08-19 07:16] MainHanzo commented on #1755
1. pls check the folder in the screenshot corresponds to the "Artifact location" in your first pic which is ./mlruns/0. Normally ths pwd is the dir you launched cmd "mlflow ui"

2. Perhaps you have import the runs from elsewhere. which means your "meta.yaml" doesn't match  your "Artifact location". pls check it

[2019-08-19 15:15] chnsh opened #1759 "[BUG] Worker Timeout"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please do not delete this template unless you are sure your issue is outside its scope.

#

[2019-08-19 15:26] mrmutator opened #1760 "[BUG] tracking server worker timeout"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**: 1.1.0
- **Python version**: 3.6.8
- **npm version, if running the dev UI**:
- **Exact command t

[2019-08-19 19:35] jerrygb opened #1761 "[BUG] MySQLConnections on v1.2.0 does not run as expected"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian Stretch
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**: mlflow, version 1.2.0
- **Python version**: Python 2.7.15 :: Anaconda, Inc.
- **npm version, if r

[2019-08-19 22:01] mgbckr commented on #1724
Cool, thanks for mentioning that alternative.

And yes, since the code is there, I will go ahead and create a PR. Might not be tomorrow but it's on my list ;)

[2019-08-20 04:49] zhangruiskyline opened #1762 "[BUG] mlflow run MLproject failed but same python command worked"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu VERSION="18.04.2 LTS (Bionic Beaver)"

- **MLflow installed from (source or binary)**:
pip

- **MLflow version (run ``mlflow --version``)**:
1.2.0

- **Python version**:
3.6

### Describe the problem

I have set up a **MLproject** like this

[code]

when I execute "`mlflow run /project folder/`", I always

[2019-08-20 06:14] ajoeajoe commented on #1755
@MainHanzo  thx ，it is ok when iI run the machine learning models command  on the same directory as run "mlflow ui"

[2019-08-20 08:03] DimaZhu opened #1763 "Mlflow works extremly slow with PostgreSQL"
Hi, everyone. We started to use MlFlow several weeks ago and decided to use PostgreSQL to speed up processing. But now experiment with ~300 runs loads approximately infinity and exceeds any reasonable time limits. Than I've updated to v1.1  and it started to work better (~2 minutes), but still devastating. I've looked in database and found out that there is 5500 runs. Could it be the reason of slo

[2019-08-20 10:10] MFreidank opened #1764 "[FR] S3 Artifact Repository: ServerSideEncryption support"
## Describe the proposal
Currently, the S3 artifact repository as implemented in `mlflow/store/s3_artifact_repo` does not allow one to specify arguments that pertain to server side encryption when communicating with S3.
This would require passing e.g. `ExtraArgs={"ServerSideEncryption": "aws:kms"}` as additional argument to `s3_client.upload_file` (see lines [38](https://github.com/mlflow/mlflow/b

[2019-08-20 14:46] kirk86 commented on #58
@elgalu That's an ongoing issue that I see on github with many other libraries as well. For instance, I see that mlfflow is hightly influenced by sacred which was influenced by sumatra but it's a shame that ppl don't contribute to existing libraries. Even at this point I still find it hard to see the differences between mlflow vs sacred, for instance (not meant to be a criticism). Not only that, b

[2019-08-20 17:06] dbczumar commented on #1762
@zhangruiskyline When running an MLflow project that logs to the Databricks-hosted MLflow server, your project code must explicitly set a valid experiment name. If you do not explicitly set an experiment, the default value is `0`, which is not a valid experiment id in Databricks.

Please try adding a call to `mlflow.set_experiment(/path/to/workspace/experiment)` in your project's training code and

[2019-08-20 17:12] dbczumar commented on #1763
@DimaZhu Can you try this again on MLflow 1.2 and confirm that the issue persists? The latest release contains some performance improvements for the SQLAlchemyStore.

Are you logging a large number of metrics to MLflow? The 1.2 release should help significantly in that case.

Regarding your question about run deletion, MLflow provides a `delete_run()` API; here are the docs for the Python API: htt

[2019-08-20 17:15] dbczumar commented on #1759
@chnsh Thanks for filing this. I'm actively working to reproduce the issue and find a resolution.

[2019-08-20 17:18] zhangruiskyline commented on #1762
Thanks, @dbczumar , Yes we have set the experiment as follow.

BTW, also how to we pass around the experiment_id for different part in our code? looks like if we just define experiment_id here, if we try to log_params somewhere else we get error that no experiment_id found

[code]

[2019-08-20 17:25] dbczumar commented on #1762
@zhangruiskyline Can you provide an example of a `log_param` call in your `main()` method that fails? The `set_experiment` call should automatically set the experiment ID for all subsequent runs.

[2019-08-20 17:29] dbczumar commented on #1755
@ajoeajoe By default, the `mlflow ui` command will use the current working directory for backend storage. In order to display runs in a particular directory with the MLflow UI, you must either run the `mlflow ui` command from that directory or specify the `--backend-store-uri` argument as follows:

[code]

It sounds like you were able to resolve the issue, so I'm going to go ahead and close this G

[2019-08-20 17:29] #1755 closed

[2019-08-20 17:49] zhangruiskyline commented on #1762
@dbczumar the code flow is like this

so if experiment_id can not be passed by

[code]

[2019-08-20 18:21] dbczumar commented on #1762
@zhangruiskyline After calling `mlflow.set_experiment` within a Python process, all calls to `mlflow.start_run()` should automatically use the experiment you specified. There is no need to explicitly pass `experiment_id` to `start_run()`.

[2019-08-20 22:00] mateiz commented on #1703
Thanks for the details. Did you set the MLflow tracking URI in the program where you called mlflow.run too? The mlflow.run command creates the run, then spawns a process (train.py in this case) that uses that run ID, so it needs to be using the same tracking server. This error message makes it seem that the run does not exist on the tracking server.

Basically, in your Python code before mlflow.ru

[2019-08-20 22:04] #1353 closed

[2019-08-20 22:10] dbczumar commented on #1759
@chnsh Are you running the Postgres backend on the same machine as your MLflow server? How many metrics, params, and tags does each run contain, on average?

[2019-08-20 22:15] zhangruiskyline commented on #1762
Hi @dbczumar , I got the same error as before
`mlflow.exceptions.RestException: INVALID_PARAMETER_VALUE: experiment_id must be set to a non-zero value`

I try to directly run the `some.py -p some.json `and via `mlflow run /myproject/`, but give same error

seems experiment ID is not globally recognized yet, but If I set the experiment right before my para log, it works at least for directly python

[2019-08-20 22:59] gogasca opened #1765 "[BUG] MLflow lack of support for mlflow.tensorflow.log_model with gs:// path"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please do not delete this template unless you are sure your issue is outside its scope.

#

[2019-08-20 23:11] chayangujral commented on #1750
Can someone help me understand how I should use"apt-get update && apt-get install default-jre" while creating docker image through mlflow.azureml,

[2019-08-20 23:53] dbczumar commented on #1762
@zhangruiskyline My mistake! The target experiment for the MLflow project run is determined before the entrypoint script is executed. Calls to `set_experiment` within the project's training code are ignored.

You should be able to set the `MLFLOW_EXPERIMENT_NAME` environment variable before running the project. This will log results to the appropriate experiment. For example:

[code]

Can you try

[2019-08-21 00:15] chnsh commented on #1759
@dbczumar thanks for getting back - it's not on the same machine - it's on a separate machine in the same subnet.

I have 10 parameters, 8 metrics, 1 tag for each run.

[2019-08-21 00:22] zhangruiskyline commented on #1762
Hi @dbczumar  Thanks for help

with the environment variable set up, I am able to run python script directly successfully without set the experiment ID

but somehow if I run mlflow project, it will need to first create the conda env, and then pip install, and then conda activate, but still failed since we are running in some docker container environment do not have permission to do lots of things.

[2019-08-21 06:20] DimaZhu commented on #1763
@dbczumar Just tried v1.2, didn't notice any difference.
 Btw, `mlflow --version` crashes:
[code]
We have approximately 40 parameters and 50 metrics per run and also artifacts.

I'm sorry, my question wasn't clear enough.  In mlflow I can see approximately 500 runs in summary. But in psql I can see 5500 experiments, deleted ones are still in database and marked as 'deleted'. Can this be a bottlene

[2019-08-21 06:50] leepand opened #1768 "how to update model when served the old model[FR]"
mlflow models serve --model-uri runs:/<run-id>/model
when use this script to served a model, and then I update the model to new version, but don't want to undeploy the old vesion service ?

[2019-08-21 10:46] preyanshdwivedi commented on #1193
Hi,

Can you please help me by letting me know where can i find the function _get_store_ ?

[2019-08-21 13:42] chnsh commented on #1759
On a side note, is there a way to configure worker timeout?

[2019-08-21 14:29] chnsh commented on #1759
To give you more context, MLFlow server is running within a docker container (without explicit restrictions on docker environment) on a huge EC2 instance, Postgres is in AWS Aurora.
Today it's unusable, it keeps timing out

[2019-08-21 14:47] chnsh commented on #1759
Is there a way to increase worker timeout?

[2019-08-21 14:56] chnsh commented on #1759
I found a temporary solution:
one can use `--gunicorn-opts -t180` for a 180 second sync worker timeout instead of 30, hopefully this helps as a stopgap while it's being fixed

[2019-08-21 21:08] dbczumar commented on #1759
@chnsh Can you try applying the patch in https://github.com/mlflow/mlflow/pull/1767 and let me know if this improves UI load times? When you try it, please be sure to take a backup of your MLflow database before running the migration defined in the PR.

[2019-08-21 21:08] dbczumar commented on #1763
@DimaZhu  Can you try applying the patch in https://github.com/mlflow/mlflow/pull/1767 and let me know if this improves UI load times? When you try it, please be sure to take a backup of your MLflow database before running the migration defined in the PR.

[2019-08-22 08:02] LeonardAukea commented on #892
Any progress on this ticket?

[2019-08-22 08:57] ngallot opened #1770 "[FR] add support for model deployment on Google Cloud Run"
## Describe the proposal
Using the current built-in fully managed deployment tools (Microsoft Azure ML and Amazon Sagemaker), we can deploy an MLflow model to a REST endpoint. While this is already a very cool feature, it becomes quickly expensive to host models on those platforms as it requires 1 instance per model, running 24/7.
Deploying models on [Google Cloud Run](https://cloud.google.com/run

[2019-08-22 10:28] ShevyMittal-GSLab commented on #1703
Hi Mateiz,
Thanks a lot. That resolved the issue.
Another question, I want to run this code on the Spark Cluster, so can I use the "backend" for that purpose.? If so how? I do not have DataBricks, just a Spark Cluster

[2019-08-22 14:03] nicocti commented on #1286
gRPC / protobuf makes more sense than serializing JSON. I also think that static typing cannot be avoided for both reliability of the model server, and performance tuning of serialization. AFAIK tensorflow serving is using it (google stuff obviously...).

[2019-08-22 15:15] afoltzm commented on #892
Hi everyone! :wave: :wave:  I'm working on a chart and a PR for this. Currently I have a Helm chart for MLFlow Tracking and have adapted the wine quality prediction ElasticNet Python example to run the training/test run in a pod, log the run to the tracking server created by the chart, and verify that the results are present in the tracking store. This is currently tested with two storage backends

[2019-08-22 16:40] mik3y64 commented on #1009
So has there been any solution on this issue? I hit this issue today.

[2019-08-22 17:09] mateiz commented on #1703
Those backend parameters are for running the job in a completely different compute environment, but you don't need to use them for a locally accessible Spark cluster. Just make sure that the machine you are running your project on can access the Spark cluster -- or submit the driver program itself as a job on that cluster if you're using something like YARN. The connection to Spark happens gets se

[2019-08-22 18:50] kamalaVJ commented on #109
@rquintino @mateiz
None of the above solutions worked for me. However, I realized the node/js build scripts were not present in the cloned repo, hence I installed them.
From the directory "/mlflow/mlflow/server/js", I call npm start, which gives me this error, any idea what could be wrong?
Error: Cannot find module '/mlflow/mlflow/server/js/node_modules/react-scripts/config/webpack.config.dev'

[2019-08-22 19:16] gfleetwood opened #1771 "[BUG] Only meta.yaml file with mlflow and Apache Spark modeling"
**System information**

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: Custom Code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **MLflow installed from (source or binary)**:  source (with pip)
- **MLflow version (run ``mlflow --version``)**: 1.2.0
- **Python version**: 3.6.3 (through Anaconda)
- **npm version

[2019-08-22 19:18] LeonardAukea commented on #892
Awesome @afoltzm, we are willing to help/test your charts. We were planning to create our own since we couldn't find any existing ones.

[2019-08-22 19:53] dbczumar commented on #1771
@gfleetwood Did you specify a tracking URI before running your logging code? The model, parameter, and metric are logged to the location specified by the tracking URI. If you did not specify a URI, these outputs should be present within the `mlruns/{experiment_id}` subdirectory of your current working directory.

[2019-08-22 21:13] bali0019 commented on #892
@afoltzm sweet, thanks for working on this. Let me know when you have a PR.

[2019-08-22 21:33] gfleetwood commented on #1771
No, I didn't. When I used the scikit-learn mlflow workflow (on the Windows machine) all the info for runs was in `mlruns/0` along with the meta.yaml file. However, with the code above I only had `mlruns/0/meta.yaml` and nothing else.

[2019-08-22 23:47] kamalaVJ commented on #1439
@Nameless13 @Zangr Were you able solve this? I am facing the same error.

[2019-08-23 00:14] Zangr commented on #1439
From the screenshot, it looks like @Nameless13 launched `mlflow ui` in a directory(example) other than the directly(mlflow) with mlruns folder containing a list of runs. Also, I'd recommend trying the latest version of mlflow(1.2).
![Screen Shot 2019-08-22 at 5 12 41 PM](https://user-images.githubusercontent.com/6811562/63558066-31f01400-c500-11e9-9d72-7c2d718c0613.png)
![Screen Shot 2019-08-22 at

[2019-08-23 05:26] smurching opened #1772 "[FR] Add GetExperimentByName REST API endpoint, call it in MlflowClient.get_experiment_by_name"
## Describe the proposal
### Motivation
Currently, `MlflowClient.get_experiment_by_name` (called by the oft-used `mlflow.set_experiment`) is implemented by hitting the ListExperiment endpoint & filtering the result to the experiment with the desired name. ListExperiments is expensive to satisfy when there are many experiments, so this places significant load on the server - e.g. calling `mlflow.se

[2019-08-23 07:16] cyrilthank commented on #1669
On windows10 mlflow run examples\sklearn_elasticnet_wine errors out with the below

Traceback (most recent call last):
  File "e:\anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "e:\anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "E:\Anaconda3\Scripts\mlflow.exe\__main__.py", line 9, in <module>
  File "e:\anaconda3\lib\s

[2019-08-23 08:28] cymonti opened #1773 "[BUG] Deploying custom python models on azureml"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 19.04)**:
- **MLflow installed from (source or binary)**: pip
- **MLflow version : 1.2.0
- **Python version**: 3.7.3

### Describe the problem
I am trying to deploy a custom python models on azureml. I built an image with mlflow command mlflow.azureml.build_image() and everything works well. However, when I try to deploy t

[2019-08-23 10:25] mik3y64 commented on #1674
@javierluraschi I am having the same issue here. I am following the [MLflow tutorial]

(https://www.mlflow.org/docs/latest/tutorial.html)

Windows 10 64bit and Ubuntu in WSL
MLflow version 1.2.0
Installed Anaconda3-2019.07-Linux-x86_64.sh
Python 3.7.3
conda 4.7.0

[code]

[2019-08-23 11:21] andrie commented on #1674
My hunch is that this not going to work in WSL 1, but may possibly get fixed with [WSL 2](https://devblogs.microsoft.com/commandline/wsl-2-is-now-available-in-windows-insiders/), although WSL-2 is still only available on the Windows Insiders program.

[2019-08-23 12:10] ShevyMittal-GSLab commented on #1703
Thanks Mateiz.
It was very helpful.
I am facing another weird issue. I am unsure if it is related to mlflow or my Spark cluster
While using the projects run API:
I use the log_model API in my python code to log my model. However I get an error -java.lang.IllegalStateException(RPC channel is closed.)

It is strange since if I just run my code directly on the spark cluster without using the mlflow p

[2019-08-23 12:28] mik3y64 commented on #1674
The initial starts seem to fail a few times but if you keep running it can get through. Need to run multiple times to get through.

library(mlflow)

run <- mlflow_start_run()
# Error in supervisor_start() :
#   processx supervisor was not ready after 5 seconds.
run <- mlflow_start_run()
# Error in supervisor_start() :
#   processx supervisor was not ready after 5 seconds.
run <- mlflow_start_run()

[2019-08-23 17:51] preyanshdwivedi opened #1774 "[BUG] Could not find an "MLmodel" configuration file at "C:\mlruns\1""
### System information
- **I'm running my Python code on Google Colab using connection to local runtime. I've MLFlow installed using pip install MLFLOW after installing Anaconda3 on my Windows 10 64 bit. My system's Python is 3.7.3,
Jypyter details:
jupyter core     : 4.5.0
jupyter-notebook : 6.0.0
qtconsole        : 4.5.3
ipython          : 7.7.0
ipykernel        : 5.1.2
jupyter client   : 5.3.1

[2019-08-23 18:18] dbczumar commented on #1773
@cymonti Does your model define a custom `load_context` routine? If so, can you try deploying this locally with the `mlflow models serve` CLI and see if the problem persists in that environment? My hunch is that the model's `load_context` routine is the source of the issue, rather than the AzureML deployment process.

[2019-08-23 18:23] mateiz commented on #1703
It's really hard to tell without a full stack trace for your exception. You should probably report a different issue for that.

[2019-08-23 20:25] ankitmathur-db commented on #1770
Seems great! A PR seems like a great way to start!

[2019-08-24 06:58] sim-san commented on #738
Such a feature would be very helpful and would make working with MLFlow even more efficient.

[2019-08-24 20:41] mateiz commented on #109
Ah, in general, the MLflow repo is not designed so that you can just run the server from source. You'd have to do `npm install` first and then `npm start` as described here: https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst#running-the-javascript-dev-server, but instead, I would recommend building a distributable Python wheel artifact (https://github.com/mlflow/mlflow/blob/master/CONTR

[2019-08-26 03:41] sonalijha1711 opened #1779 "[BUG] mlflow inference tensorflow inception model giving error"
Hi All ,

I am trying to serve a already saved tensorflow  inception model using the below code :
model_path = "/Users/i311157/Downloads/data/inception"
[code]

I start serving the model from cli using below command :

mlflow models serve --model-uri <MODEL-PATH-URL> -p 54321

Once the https server is up I try to do inference using the below :

[code]
But i am getting the below error :
[code]

It

[2019-08-26 09:52] nicocti commented on #1286
Apache Arrow Flight could also be investigated. I need to dig a bit on my side to get the ins ant outs of it but it seems to offer a standard data-oriented gRPC protocol (+ using arrow so compatible with pandas). https://www.dremio.com/understanding-apache-arrow-flight/

[2019-08-26 14:17] gragera opened #1781 "[FR] Allow custom fields in MLModel"
## Describe the proposal

The Model class (in `mlflow.models`) has a static method to load itself by reading the MLModel file

[code]

If you add any extra property to a MLModel file then the `load` method fails. Even though you could parse the MLModel file yourself and just create the object, the `load` method is used sparingly throughout the code, so it is not a valid solution.

Does it make sen

[2019-08-26 16:52] cymonti commented on #1773
@dbczumar Indeed, my model define a custom ```load_context```. I deployed my model locally with ```mlflow models serve``` and it works fine. I also tried to deploy the same model on aws sagemaker and I did not have problems.

[2019-08-27 01:35] dmatrix opened #1783 "[FR] TensorFlow 2.0 support in MLflow"
TensorFlow 2.0 is under RC0 and might GA in coming weeks. There will be considerable interest in the growing use experimenting TF 2.0 and Keras models with MLflow.

Current MLFlow 1.2 supports TF 1.14 and Keras 2.1.x.

Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we ad

[2019-08-27 05:13] YiranJing opened #1784 "cannot connect to UI server MacOS[BUG]"
print `mlflow.tracking.get_tracking_uri()` is `http://127.0.0.1:5000`, but when run `mlflow ui`, it shows

_/Users/yiranjing/miniconda3/lib/python3.7/site-packages/jinja2/utils.py:485: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import MutableMapping
/Users/yiranjing/miniconda

[2019-08-27 05:22] #1784 closed

[2019-08-27 05:24] YiranJing commented on #1784
resolved.
check `ps aux | grep mlflow` through terminal
and to connect [http://127.0.0.1:5000](http://127.0.0.1:5000), MUST use commend line , not `! mlflow ui` on jupyter notebook !

[2019-08-27 09:11] jdlesage commented on #1732
I didn't find any doc on this. But in on our hadoop cluster, we will be able to do register distributed tensorflow run.
Before to launch your workers, create a run and get the run_id
Then on all workers, set MLFLOW_RUN_ID with this id + MLFLOW_TRACKING_URI with your mlflow server adress. All workers will log into the same run.

[2019-08-27 10:47] pingsutw commented on #1732
@jdlesage Thanks for your reply,dose you use TonY ?
I tried create run_id before run application.
I am working on Hadoop-submarine (ML on Yarn), I'm trying to do a sdk for distributed deep learning on yarn
So that user can just easily use **log_metric(....)** and **log_param(....)** and then store this data with applicationID or job-name instead of run_id

[2019-08-27 11:20] marcusrehm commented on #1672
HI @dbczumar , did you have time to try it again? Need some help?

[2019-08-27 12:26] jdlesage commented on #1732
At criteo, we develop tf-yarn (https://github.com/criteo/tf-yarn) to run tensorflow on yarn.
Run_id is set by mlflow. I think you should let the server to create a run_id and not enforce it.
If you set the MLFLOW_RUN_ID environment variable, you can then use this API https://www.mlflow.org/docs/latest/python_api/mlflow.html that does not take as parameter run_id.

[2019-08-27 12:59] pingsutw commented on #1732
I'm doing another python SDK not MLflow
We try to use MLflow in our project in beginning,but when we launch yarn application,
we can have ApplicationID and user_name and other detail in yarn
We don't want to store duplicate data from mlflow in our server,
btw we just want tracking metric and param.
So we want to do a lightweight sdk for our project
How do you thought about this.
I want to know how

[2019-08-27 14:29] artefom opened #1786 "[BUG] 'mlflow run' cannot find 'source' on Windows platform with defined env CONDA_EXE"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: no custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**: 1.2.0
- **Python version**: 3.7
- **Conda version**: 4.5.12
- **npm version, if runnin

[2019-08-27 14:39] artefom commented on #1786
Clearly, replacing source with sh might not be a good idea, but the code below works perfectly for me

[code]

[2019-08-27 23:50] Roffild commented on #920
On the page for comparing metrics of one run, there is not enough opportunity to add an additional plot.
This is necessary when the compared metrics have too different ranges of values.

For example:
first plot with a range of 1000, 5000
second plot with a range of 0.0, 1.0

[2019-08-27 23:55] Roffild commented on #1786
[code]

[2019-08-28 00:46] whillas commented on #892
I'm building a Docker file for just `mlflow server` so my team can share experiment results. I don't think I'd want this mixed in with anything else... would i?

[2019-08-28 04:33] zhangruiskyline opened #1789 "[FR] Mlproject execute workflow w/o env set up"
## Describe the proposal
Provide a clear high-level description of the feature request in the following sections. Feature requests that are likely to be accepted:
* Are minimal in scope (note that it's always easier to add additional functionality later than remove functionality)

Right now in lots of machine learning training scenarios, there will be some dedicated training platform with GPU clus

[2019-08-28 05:58] datsabk commented on #925
Any update on this issue? It still exists on v1.2.0.0

[2019-08-28 06:37] whillas opened #1790 "mlflow tracking server"
I'm trying to setup a central MLFlow server and artifact store for our team to log and store models and their artifact. Is this possible with MLFlow? Eventually this will be run on a Kubernetes cluster and a shared NAS drive will be mounted for the server to write to...

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **MLflow installed from (so

[2019-08-28 08:32] marcusrehm commented on #1672
@dbczumar sorry but I only saw it now. Do you still need me to test it?

[2019-08-28 11:13] mhs321 opened #1791 "mlflow run from private github repository"
In version 0.9.1 we can run mlflow projects from private github repositories by providing the following parameters

[code]

As of version 1.2 these parameters are no longer available via the cli.

Can we bring this back? Or what is the current way to run mlflow projects from private github repositories? I have not found any documentation to do this yet for version 1.2

[2019-08-28 15:01] nicocti commented on #1286
@wesm would you recommand trying to implement Arrow Flight as a new API protocol for MLFlow model serving besides the json-based rest api ?

[2019-08-28 17:52] jendrikjoe opened #1792 "[Feature Request] add golang client"
## Describe the proposal

I would love to have a Go client for the mlflow API, as it would allow to fetch infos over available runs directly from Go, which would be a great advantage for people implementing microservices in Go.
It should be straight forward to generate this client from the `.proto` files.
I am currently working on getting this ready. I would be happy to as well add this to the mlf

[2019-08-28 21:15] afoltzm commented on #892
@bali0019 I had one question on the intended use case for helm with MLFlow Projects. At first glance, it seems like `kubectl run` is more appropriate for running individual MLFlow projects - they don't get "installed" but rather instead just run on the cluster with the appropriate resources and then terminate. I don't quite see how `helm install` makes sense here. Could you elaborate on what you m

[2019-08-29 03:48] zhangruiskyline commented on #1789
close FR, I believe --no-conda option works for this purpose

[2019-08-29 03:48] #1789 closed

[2019-08-29 06:53] brewkode commented on #1790
If you don't specify the `MLFLOW_TRACKING_URI` as an environment variable for the client or call `set_tracking_uri` with the tracking server uri, it would record it in the local file system.

[2019-08-29 08:12] mazzma12 opened #1793 "[BUG] Building docker container fails"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 18 Bionic)**:
- `docker build -t mlflow . `:

Hi, when I try to build the container it fails :
[code]
It looks like it's only meant for Travis CI, but couldn't find a mention in the doc

[2019-08-29 08:58] cymonti commented on #1773
@dbczumar I changed my python version to 3.6 and I managed to deploy my model on azureml. Thank you for you help !

[2019-08-29 10:16] pandae7 opened #1794 "[FR]Running from a Branch and other doubts"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

Please fill in this template and do not delete it unless you are sure your issue is outside its scope.

-------
## Guidelines

I have multiple feature requests and I'm listing them one by one:
lets assume we hav

[2019-08-29 18:03] FredYao opened #1795 "Is there any limitation for the data size to be served using REST API?"
I am new to the REST API. I have a sklearn model and built a service for serving incoming prediction request. As the document indicates, I started a mlflow server:
"mlflow models serve --no-conda -m /path/to/mlflowmodel -p 1234"

I am calling the REST API through curl command:
"curl http://w.x.y.z:1234/innovations -H 'Content-Type: application/jsob; format=pandas-records' -d [[1,2,3],[4,5,6],[7,8,

[2019-08-29 19:34] #1795 closed

[2019-08-29 19:40] FredYao opened #1796 "[SETUP-BUG] ResolvePackageNotFound - python=3.5.2"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

Please fill in this template and do not delete it unless you are sure your issue is outside its scope.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **MLfl

[2019-08-29 21:04] whillas commented on #1790
AGH! the problem was that I did `export MLFLOW_TRACKING_URI=192.168.1.25:5000` instead of `export MLFLOW_TRACKING_URI=http://192.168.1.25:5000. :(..

[2019-08-29 21:04] #1790 closed

[2019-08-29 22:05] kamalaVJ commented on #109
Hi @mparkhe ,
I have tried that too and I get the same error -
Can't connect to ('127.0.0.1', 5000)
Running the mlflow server failed

I am trying to self host mlflow on local machine and not using azure databricks.

[2019-08-29 23:56] mhs321 opened #1797 "Cannot find module in Docker container"
When I run the sample it seems that the docker container does not contain the required modules:

`2019/08/30 07:51:51 INFO mlflow.projects: === Running command 'source activate mlflow-da39a3ee5e6b4b0d3255bfef95601890afd80709 1>&2 && python train.py --alpha 0.5 --l1-ratio 0.1' in run with ID '9e2a8c9ee0a045e0a639ac177748fcf8' ===
Traceback (most recent call last):
  File "train.py", line 6, in <mod

[2019-08-30 00:55] pwais commented on #1481
*bump*

related: `mlflow ui` does not allow the user to specify an IP to bind to (like `jupyter` does) but instead hard-codes 127.0.0.1: https://github.com/mlflow/mlflow/blob/69fabbcf59b690f021bf047c0bf3e2de594c70e6/mlflow/cli.py#L198

also, it's confusing to have two entrypoints to the UI?  are we supposed to use `mlflow ui` or `mlflow server`?

I was able to get `mlflow server --host $MY_IP` to

[2019-08-30 09:42] aim-nfunke commented on #1701
Have you decided to put the issue on the roadmap? And where can i find the official Roadmap of ML Flow?

[2019-08-30 12:54] Ahmedn1 opened #1798 "MLflow UI metrics view displays absolute time with wrong values"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: Nope
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **MLflow installed from (source or binary)**:  Binary using pip
- **MLflow version (run ``mlflow --version``)**: mlflow 1.0.0
- **Python version**: 3.6.7
- **Exact command to reproduce**: ml

[2019-08-30 14:34] peter-schmidbauer commented on #789
Any update on this?
Metrics with non-alphanumeric characters still don't work. It doesn't even show an error. The special chars are just stripped in the UI now and searching/filtering for them shows no results.

[2019-08-30 14:50] jpambrun opened #1799 "[BUG] ServiceWorker tries to precache assets from /static-files/static-files instead of /static-files"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux
- **MLflow installed from (source or binary)**:  using `pip install mlflow`
- **MLflow version (run ``mlflow --version``)**: 1.2.0
- **Python version**: 3.6.6
- **npm version, if running the dev UI**: N/A
-

[2019-08-30 15:27] DimaZhu commented on #1763
I tried and didn't noticed any difference. And mlflow server didn't ask to update db scheme. Maybe I can share a copy of db with you?

[2019-08-30 16:56] Zangr commented on #1701
Hi @aim-nfunke we do have a plan to refactor the runs table UI in Q4 to resolve a list of community requests including this.

[2019-08-30 21:59] ustcscgyer commented on #1798
I can take a look at this issue

[2019-08-31 02:19] martinvt commented on #1750
I have a similar issue...deploying spark models to azureml doesn't seem to work at all:
`azure_image, azure_model = mlflow.azureml.build_image(model_uri='runs:/{}/{}'.format(runid, model_save_path),
                                                      workspace=ws,
                                                      model_name='mllib-model',

[2019-08-31 02:38] diadochos commented on #1517
Is the "Load more" functionality also supposed to work when the runs are nested?
I am using mlflow==1.2.0 with sqlite, and it seems to timeout.

[2019-08-31 21:15] dbczumar commented on #1798
@Ahmedn1 This should be fixed in MLflow 1.2; can you try logging metrics using version 1.2 and let me know if this persists?

[2019-09-01 02:47] dbczumar commented on #1763
@DimaZhu are you sure that you installed MLflow from source by cloning the MLflow repository, checking out the branch associated with PR #1767, and invoking `pip install -e /path/to/mlflow/repository`?

[2019-09-01 06:14] DimaZhu commented on #1763
@dbczumar yes, I'm pretty sure. I've created new conda env for this test. And installed mlflow from instructions in Dockerfile. And `mlflow --version`works in this build.

[2019-09-01 07:26] dbczumar commented on #1763
@DimaZhu What is the output of `mlflow --version` on the host machine where the tracking server is running? Are you running the tracking server within a Docker container?

[2019-09-01 07:49] DimaZhu commented on #1763
`1.2.0`
No, mlflow server runs without docker. I've just copied instructions from Dockerfile.

[2019-09-01 08:42] dbczumar commented on #1763
If you've installed MLflow from source, the version displayed should be `1.2.1.dev0` (https://github.com/mlflow/mlflow/blob/007bf13b9639786979d0566d85bb5e04111b3816/mlflow/version.py#L4). Can you try following the instructions in my previous comment and let me know if installing that way produces the expected version string?

[2019-09-01 11:50] #1773 closed

[2019-09-01 14:46] nlaille commented on #1791
@mhs321 mlflow is using gitpython to fetch git project : https://github.com/mlflow/mlflow/blob/master/mlflow/projects/__init__.py#L429

But using an ssh url is working out of the box if you have setup an ssh key.

`mlflow run git@github.com:username/my-private-repo`

[2019-09-01 14:59] nlaille commented on #1794
Some remarks that might help you.

1. You can use --version option from run

`mlflow run <git repo url> --version dev`
`mlflow run --help`

2. You should consider using a tracking server : https://www.mlflow.org/docs/latest/tracking.html#mlflow-tracking-servers

3. When viewing a specific run in mlflow ui :
<img width="1323" alt="Capture d’écran 2019-09-01 à 16 58 47" src="https://user-images.gi

[2019-09-01 15:00] nlaille commented on #1797
@mhs321 can you provide a full example ? MLProject file and command line you are using.

[2019-09-01 16:36] Ahmedn1 commented on #1798
@dbczumar Nope, I upgraded to 1.2 and it didn't fix the problem.

[2019-09-01 17:21] ustcscgyer commented on #1798
I have a fresh reinstalled MLflow, and cannot reproduce the error. Here is a screenshot of running
[code]
![image](https://user-images.githubusercontent.com/12961341/64079877-32c43b00-cca2-11e9-9fbc-db1a23f18d84.png)

@Ahmedn1 Can you provide the exact code you used to produce the error and show us a screenshot of the wrong timestamp

[2019-09-01 23:23] mhs321 commented on #1791
@nlaille Thanks for the update. I can confirm that using ssh url works fine.

[2019-09-01 23:29] mhs321 commented on #1797
@nlaille

I am using the mlflow example found here: https://github.com/mlflow/mlflow/tree/master/examples/docker

Some adjustments I made:

Dockerfile:
`FROM ubuntu:18.04

# Install python 3
RUN apt-get update \
  && apt-get install -y python3-pip python3-dev \
  && cd /usr/local/bin \
  && ln -s /usr/bin/python3 python \
  && pip3 install --upgrade pip

RUN pip install mlflow>=1.0 \
    && pip in

[2019-09-01 23:59] Ahmedn1 commented on #1798
@ustcscgyer
[code]

![Screenshot from 2019-09-02 01-55-09](https://user-images.githubusercontent.com/4731542/64083808-3fd63e00-cd25-11e9-854c-162ddafc8eb6.png)

[2019-09-02 00:25] ustcscgyer commented on #1798
Error reproduced. Trying to identify the issue.

[2019-09-02 04:28] HwangJohn commented on #1136
+1

System information
OS Platform and Distribution: Mac OS 10.14.5
MLflow installed from : pip install mlflow
Python version: 3.6.5

[2019-09-02 05:34] ustcscgyer commented on #1798
Found the problem. The `mlflow.log_metrics` uses milliseconds, but `mlflow_client.log_metrics` uses seconds as the timestamp. I will create a PR to fix this.

[2019-09-02 06:12] DimaZhu commented on #1763
@dbczumar, I followed the instructions. `mlflow --version` crashes again. But from output of 'pip install -e .' i can see the right version `mlflow==1.2.1.dev0`. This time I can't launch mlflow server successfully. I can see  `Oops! Something went wrong.` and image of waterfall.  Do you have any suggestions?

[2019-09-02 06:49] dbczumar commented on #1763
@DimaZhu were you asked to upgrade your database upon running `mlflow server`? Is there any log output from the MLflow server that is emitted when the UI displays `Oops! Something went wrong`?

[2019-09-02 07:14] DimaZhu commented on #1763
@dbczumar No, mlflow server didn't ask to upgrade and there is no logs in browser. Maybe something wring with access to db. I'll check

[2019-09-02 08:18] DimaZhu commented on #1763
@dbczumar :tada:  That's much much much better! 30 s vs 240 s. And already loaded runs opens almost instantly and you don't have to wait another 4 minutes!  Thank you very much!

[2019-09-02 08:35] dbczumar commented on #1763
@DimaZhu Awesome! Glad to hear that. If possible, it would be great to see how we could improve things further by using your database as an example workload. If you still don't mind sharing it, feel free to send me (`corey.zumar`) a message on the open source MLflow slack: http://tinyurl.com/mlflow-slack

[2019-09-02 08:42] DimaZhu commented on #1763
@dbczumar To do this right, I should discuss this with my boss. I'll let you know

[2019-09-02 11:50] DimaZhu commented on #1763
@dbczumar  I've found interesting moment. I run npm install from probably master and it worked fine. Now I've tried from branch in Pull Request:
[code]
And it failed. Installation from master fixes it

[2019-09-02 12:46] LucaMoschella commented on #1028
I would love to be able to move runs from one experiment to another!

I'd like to have one experiment that gathers all the runs that make sense (e.g. the favorite/starred runs), moving there the interesting runs.

[2019-09-02 13:43] ustcscgyer commented on #1798
@Ahmedn1 Issues should be fixed by this PR: #1804

[2019-09-02 19:11] nlaille commented on #1797
You are having a typo in your MLProject file.
`docker-env` instead of `docker_env`.

[2019-09-02 20:46] dbczumar commented on #1763
@DimaZhu Does running `npm install npm-clean` help?

[2019-09-02 20:47] dbczumar commented on #1763
@DimaZhu I also filed #1805 to improve the performance of the `ListExperiments`, `GetExperiment`, and `GetExperimentByName` APIs in the SQLAlchemy store. This should substantially improve UI performance in your case, as you mentioned you have a large number of experiments. Can you try it out?

[2019-09-02 21:10] Roffild opened #1806 "[FR] UI Metric: Adding an additional plot."
On the page for comparing metrics of one run, there is not enough opportunity to add an additional plot.
This is necessary when the compared metrics have too different ranges of values.

For example:
first plot with a range of 1000, 5000
second plot with a range of 0.0, 1.0

[2019-09-02 23:51] mhs321 commented on #1797
@nlaille thanks. That fixed the issue.

[2019-09-02 23:51] #1797 closed

[2019-09-02 23:56] #1791 closed

[2019-09-03 06:19] #1499 closed

[2019-09-03 12:23] Ahmedn1 commented on #1798
@ustcscgyer Great. I hope this will be pushed into a release soon.
Thank you

[2019-09-03 19:54] jpambrun commented on #1692
Using the estimator API TF automatically create a `global_step/sec` summary. The metric shows up correctly in the run page, but the link is incorrect. It has the form `/#/metric/global_step/sec?runs=[...]` and leads to 404. Escaping the `/` with `%2f` (e.g. `#/metric/global_step%2fsec?runs=[...]`) works. There is probably a `encodeURIComponent()` call missing on the front end side.

[2019-09-04 06:26] cyrilthank opened #1809 "runId generated in log_model call needs to be accessed in mlflow models serve"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-09-04 07:02] #1770 closed

[2019-09-04 10:23] timonbimon opened #1810 "[FR] Log and programmatically query precision/recall curves"
## Describe the proposal

### Motivation
*What is the use case in mind?  Why is it valuable to support, and why is it currently difficult or impossible to achieve? Could the desired functionality alternatively be implemented as a third-party package using MLflow public APIs?*

We often need to deploy our models (e.g. for image classification) at a certain operating point on a precision/recall curv

[2019-09-04 12:07] elixxx opened #1811 "[BUG] Race condition in create_experiment with PostgresSql Backend"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: We wrapped Scala around the Java Implementation but this is pretty sure not influencing the issue
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian 10
- **MLflow installed from (source or binary)**: pypi
- **MLflow version (run ``mlflow --version``)**: mlflow

[2019-09-04 21:36] #1677 closed

[2019-09-05 05:19] cyrilthank commented on #1809
Please advise if for given experiment name there is a way to pick the run_id  of the "best_metrics"

[2019-09-05 06:55] cyrilthank commented on #207
I too would like to know how to get this?

[2019-09-05 07:57] tarekmehrez opened #1813 "[BUG] Mlfow client is failing to write artifacts to s3, AWS Access Key Id doesn't exist in our records"
### System information

- **OS Platform and Distribution: macOS 10.14.6**
- **MLflow installed: using pip**
- **MLflow version: version 1.1.0**
- **Python version: *3.6* **

### Describe the problem
My setup is working as follows:
- Mlflow service running on kuberntes
- A client on my machine where I am trying to create new experiments and log some files

Problem:
- I cannot log artifacts to s3 (m

[2019-09-05 08:46] C-nit commented on #1813
Apparently `MLFLOW_S3_ENDPOINT_URL` pointing to the minio server needs to be set both on server and client side. I guess else the artifact_location ( s3://bucket/path ) defaults to AWS.

I wonder why the s3 endpoint is not stored in the meta.yml, and then the environment variable needs only be set to change from the default settings made when setting up the server/experiment.

[2019-09-05 10:29] cyrilthank commented on #163
Hi
Is there a way to store the artifacts on mlflow server

while the below creates the artifacts in the directory

import os
import mlflow
import mlflow.pyfunc

class AddN(mlflow.pyfunc.PythonModel):

    def __init__(self, n):
        self.n = n

    def predict(self, context, model_input):
        return model_input.apply(lambda column: column + self.n)

model_path = "add_n_model"
add5_model = A

[2019-09-05 10:51] fizika734 opened #1814 "[SETUP-BUG]"
### System information
- **OS Platform and Distribution **: Debian 9 container with Conda image
- **MLflow installed from**: Python
- **MLflow version**: 1.2.0
- **Python version**: 3.7.3
- **Exact command to reproduce**:

### Describe the problem
HI! im trying to figure out with mlflow in Docker container with Conda image, i also have an ftp container and container with postgres database. im tryi

[2019-09-05 11:21] cyrilthank opened #1815 "How to store artifacts on a server running MLflow instead of the mlruns directory in local server"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-09-05 12:37] nlaille commented on #1813
`mlflow.log_artifact` is only fetching artifact location from your mlflow tracking server.

Connection to your artifacts storage is done from client side, artifacts don't go through mlflow tracking server. Same behavior for any artifact storage (s3, gcp, hdfs, ...).

So you have to setup credentials/access of your artifacts storage on client side.

Artifacts storage credentials/access setup on ser

[2019-09-05 22:09] salqadri opened #1817 "[FR] Models api for Java/ Scala"
Proposal:
Can we please add the models api to the Java sdk?

Motivation:
I would like to serve models through scala code deployed on Spark.

[2019-09-05 23:45] dstine commented on #1813
(And see #629 for request to proxy artifact logging through the tracking server.)

[2019-09-06 06:17] akashkumar398 opened #1818 "[BUG] Dockerized MLflow only creating .trash"
Issue:

While dockerizing mlflow , only .trash is getting created. Because of that,  mlflow ui shows "no experiments exists"

```dockerfile  FROM python:3.7.0  RUN pip install mlflow==1.0.0  WORKDIR /data  EXPOSE 5000  CMD mlflow server \ --backend-store-uri /data/ \ --default-artifact-root /data/ \ --host 0.0.0.0  docker compose :  mlflow: # builds track_ml Dockerfile build: context: ./mlflow_doc

[2019-09-06 12:57] petibear commented on #1028
+1 for this feature. Moving, deleting and "starring" would be a useful addition.

Deleting of an experiment is already possible via mlflow cli, however not available in UI. Would be nice if it was accessible via UI.
Moving of runs between experiments is not possible at all, however it seems like it would be implementable by moving runs between folders for the file store and updating a db records f

[2019-09-06 13:17] tarekmehrez commented on #1813
I was missing `MLFLOW_S3_ENDPOINT_URL` on the client side. It works now.
Thanks for the prompt responses

[2019-09-06 13:17] #1813 closed

[2019-09-06 13:17] petibear commented on #1028
Wrt deleting, if it is indeed this "simple" (can somebody confirm, pls?), I'd happily try implementing it in cli to learn how to contribute here.

[2019-09-06 20:10] hernanborre commented on #58
Hi Mateiz, what a great reply!

I'm deciding what stack to adopt for my current employer and I'm having a hard time figuring out if it's possible ( or if it makes sense too) to have TFX on the models side but adopt MLFlow to manage libraries, artifacts, lifecycle, etc.

What are your thoughts on on this?

Thanks in advance,
Best regards,
Hernán

[2019-09-06 21:58] mateiz commented on #58
Yup, it should be possible to do that. MLflow already supports saving and managing TensorFlow models, as well as automatic logging of metrics that you send to TensorBoard. Which other pieces of TFX are important to you? We might be able to add built in integrations if needed, or you can just use them alongside the MLflow APIs.

[2019-09-06 23:59] ustcscgyer commented on #1815
I can take a look at this issue, but @cyrilthank can you please edit your report, make it more readable and remove the duplicate messages?

[2019-09-07 05:12] ustcscgyer opened #1822 "Can someone grant me permission"
At this moment I cannot claim an issue, nor merge the approved PR. Thanks a lot!

[2019-09-07 16:09] LucaMoschella commented on #1028
In the file store I confirm that moving runs between experiments is simple, since at the moment I'm doing it manually when I have to.

[2019-09-08 02:20] arnaudsj opened #1823 "MLFlow Pyfunc failing on Databricks (missing python lib pip dependencies)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: Yes, I have made the code available in this repo: https://github.com/arnaudsj/sample-mlflow-spacy
- **OS Platform and Distribution**: OS 10.14.6 locally / Databricks 5.5 Conda Beta (includes Apache Spark 2.4.3, Scala 2.11)
- **MLflow installed from**:  binary
- **MLflow version

[2019-09-08 06:06] HackyRoot commented on #1110
@adam-m-mcelhinney Do we follow GitFlow model here? I'm a bit confused in which branch I should push the changes.

[2019-09-08 19:08] ustcscgyer commented on #1798
@Ahmedn1 This issue should be resolved.
@dbczumar I cannot close this issue. Can you please tell me how I can gain permission to do so?

[2019-09-08 22:32] dbczumar commented on #1798
Fixed in #1804, which has been merged

[2019-09-08 22:32] #1798 closed

[2019-09-09 08:23] Yang-HangWA opened #1824 "[FR]support for lightgbm and xgboost model serveing"

[2019-09-09 10:40] aarondav commented on #1286
I did a [survey of a few the serving frameworks available](https://docs.google.com/document/d/1ly3bLczrwqCauqzQURopw8UpUdK0mniG0rXAagPmC2k/edit#heading=h.sxxyogx14x9f), including Seldon, TensorFlow Serving, and the potential for Arrow Flight. Please read through and give feedback on that doc; the TL;DR strawman proposal is to extend our existing HTTP/1.2 API with a binary, protobuf-backed format.

[2019-09-09 11:38] shubham311994 opened #1825 "Authentication Mechanism & OAuth Support"
Hi,
1) I am looking for a way to provide authentication to mlflow tracking server. I tried with setting up the environment variables(TRACKING_USERNAME & PASSWORD) but it is not showing anything on the logs ( I am running everything using Docker).
2) Does mlflow supports OAuth and if it does then how?

[2019-09-09 12:41] aim-nfunke opened #1826 "Model comparison with Pivot Tables"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

Please fill in this template and do not delete it unless you are sure your issue is outside its scope.

-------
## Guidelines

Feature requests typically go through the following lifecycle:

1. Submit feature re

[2019-09-09 12:59] aim-nfunke opened #1827 "Save Global Configuration for Parallel Coordinates Plot"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

Please fill in this template and do not delete it unless you are sure your issue is outside its scope.

-------

## Describe the proposal
As a data scientist, I want to save global configurations of parameters a

[2019-09-09 13:41] jgeorge-ias commented on #1761
Same issue with SqlLite DB as well since it is uses the same ORM library I suppose. I am not entirely sure.

[code]

[2019-09-09 14:01] jerrygb commented on #1761
Same issue with SqlLite DB as well since it is uses the same ORM library I suppose. I am not entirely sure.

[code]

[2019-09-09 14:12] petibear commented on #1028
Wrt moving of runs between experiments, I looked at the code more in detail and it seems to me that one would need to add a support at 3 places:
- `file_store.py` - to indeed move the run between experiments directories, but also to update the run's yaml config (as it contains experiment id; not sure why this needs to be in yaml, looks redundant to me) + (*)
- `sqlalchemy_store.py` - update the ru

[2019-09-09 17:38] hernanborre commented on #58
Thanks a lot for your quick reply @mateiz!

So basically the idea is to have a relatively common pipeline implemented. The main idea is to use it to a variety of applications (from tabular data to images or NLP). Since I'm building up the machine learning area in this company, we are still discussing with the stakeholders which use cases will be tackled first. However, I've been working on ML/DS f

[2019-09-10 12:24] aim-nfunke opened #1829 "Navigation on the experiment table with Tags"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

Please fill in this template and do not delete it unless you are sure your issue is outside its scope.

## Describe the proposal
As a data scientist/product owner I would like to create a freely configurable tag

[2019-09-10 14:52] niladell opened #1830 "UI plot returning 404 on metrics with forward slash in tag"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ManjaroLinux 18.0.4
- **MLflow installed from (source or binary)**: binary (via pip)
- **MLflow version (run ``mlflow --version``)**: 1.2.0
- **Python version**: 3.7.3

### Describe the problem
Whenever I log var

[2019-09-11 01:34] sadanand-singh opened #1832 "KILLED state for a run"
When does a state of KILLED get assigned to a run? I am getting a FAILED state when either code throws an error or when I cancel my program by KeyBoardInterrupt. Is there a way to force the state to KILLED when a run is interrupted by the user?

[2019-09-11 04:44] zhangruiskyline opened #1833 "mlflow run with --no-conda still activate conda env"
Hi , I try to use MLflow project and run a `mlflow run --no-conda`, however, even with  `--no-conda` I can still mlflow run will have log like activate conda env, and since in our MLproject we do not specify the conda env, it will fails

Log looks like this:
`INFO mlflow.projects: === Running command ‘source activate mlflow-da39a3ee5e6b4b0d3255bfef95601890afd80709 1>&2 && some of my real script`,

[2019-09-11 13:37] HikmatDashdamir opened #1835 "Artifact/model path on HDFS showing on MLflow server"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Oracle Linux 7.6
- **MLflow installed from (source or binary)**:  via conda
- **MLflow version (run ``mlflow --version``)**: 1.2.0
- **Python version**: 3.7.3

### Describe the problem
MLflow server was started wi

[2019-09-11 14:38] fhoering commented on #1732
@pingsutw
If you need some example, at Criteo, we added default mlflow metrics to [tf-yarn] (https://github.com/criteo/tf-yarn).
In the distributed case it basically works with a [TensorFlow hook](https://github.com/criteo/tf-yarn/blob/master/tf_yarn/metrics.py#L83) that only logs from a chief node (in order not to spam mlflow when running with 100s or workers). You can also filter on other roles

[2019-09-12 03:47] whillas opened #1837 "[FR] Download artifact(s) as tar.gz via a URL"
## Describe the proposal

Simply provide a link to download all the artefacts as tar.gz file(s).

### Motivation

The use case i have in mind is building docker images for deployment of the models. The Dockerfile `ADD` command can take a file within its current folder or bellow OR it can download it from a URL. We have a local shared MLFlow server running and want to deploy by simply providing an

[2019-09-12 04:01] mgbckr commented on #1724
As promised here is the PR: https://github.com/mlflow/mlflow/pull/1836

[2019-09-12 12:17] eliasmistler opened #1839 "[FR] Configure tracking UI layout"
## Description / Motivation
1. We use a lot of long parameter, tag and metric names, as well as values. By default, they seem are capped at ~13-14 characters each by the CSS rule `style="display: inline-block; max-width: 120px;"`. This makes the overview page very difficult to read.

2. Additionally, the columns `Date`, `User`, `Run Name`, `Source` and `Version` take up roughly half of the table w

[2019-09-13 02:19] zippeurfou opened #1842 "[BUG] Mlflow CLI run use existing databrick cluster"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)** => No I am using the example from the [databrick documentation](https://docs.databricks.com/applications/mlflow/projects.html#id14) (which by the way is outdated): `mlflow run https://github.com/mlflow/mlflow#examples/sklearn_elasticnet_wine -b databricks -c cluster-spec.json --p

[2019-09-13 08:32] smurching commented on #1724
@mgbckr thanks for the PR! I wonder if the use case in your example could be satisfied by running your Python script as an MLflow project. In particular, MLflow actually supports running Python scripts as projects & passing parameters to them on the command line, logging said parameters. You can run your provided script via `mlflow run /parent/directory/of/script -e script.py --no-conda -P firstpa

[2019-09-13 14:44] zanitete commented on #1667
I have the same issue with Postgresql.
It seems like an empty db is detected as "initialized before mlflow 1.0". By removing the check at https://github.com/mlflow/mlflow/blob/v1.2.0/mlflow/db.py#L22 it works.

[2019-09-13 17:41] ankitmathur-db commented on #1830
@niladell I'm on master, and I have been trying to log metrics with forward slashes in the name, and the UI seems to display them correctly. Can you clarify what view the UI is failing in?

[2019-09-13 18:03] ankitmathur-db opened #1843 "[BUG] run comparison page renders poorly when there are no common metrics"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-09-13 18:44] samgd commented on #1093
Still a blocker unless an update has solved it.

[2019-09-13 19:50] #773 closed

[2019-09-13 20:20] andrie commented on #1674
Hopefully this gets resolved with WSL 2, since this will include "full system call capability" (https://docs.microsoft.com/en-us/windows/wsl/wsl2-about)

[2019-09-13 21:04] sivakumarl commented on #1377
After upgrading I am able to write . Thanks

On Fri, Sep 13, 2019 at 4:25 PM stale[bot] <notifications@github.com> wrote:

--
Regards, Siva.

[2019-09-13 21:18] mgbckr commented on #1689
Hi, any progress on this?

[2019-09-13 23:44] dbczumar commented on #1763
This class of performance issues has been addressed by #1767 and #1805. These changes will be incorporated into the next MLflow release. In the mean time, you can test the changes by cloning the MLflow repository running the MLflow tracking server on the `master` branch. If this issue is still occurring, please feel free to re-open the ticket.

[2019-09-13 23:45] #1763 closed

[2019-09-13 23:45] dbczumar commented on #1759
This class of performance issues has been addressed by #1767 and #1805. These changes will be incorporated into the next MLflow release. In the mean time, you can test the changes by cloning the MLflow repository running the MLflow tracking server on the `master` branch. If this issue is still occurring, please feel free to re-open the ticket.

[2019-09-13 23:45] #1759 closed

[2019-09-13 23:45] dbczumar commented on #1760
This class of performance issues has been addressed by #1767 and #1805. These changes will be incorporated into the next MLflow release. In the mean time, you can test the changes by cloning the MLflow repository running the MLflow tracking server on the `master` branch. If this issue is still occurring, please feel free to re-open the ticket.

[2019-09-13 23:45] #1760 closed

[2019-09-14 00:24] joshpeng commented on #1291
This is not stale :( definitely very much still an issue.

[2019-09-14 03:47] cappaberra commented on #1449
Anyone?

[2019-09-14 07:58] johny-c commented on #1302
unstale

[2019-09-14 07:58] johny-c commented on #1336
unstale

[2019-09-14 23:40] dstine commented on #629
I am not aware of any resolution to this issue.

[2019-09-15 04:47] ustcscgyer commented on #1815
Hi @cyrilthank, I am a little bit confused by your question. In the beginning it seems that your problem was the `Could not find a registered artifact repository` error, then you updated the issue by saying that the artifact is not saved to the correct location. Does this mean you already resolved the issue you encounter in the beginning?

[2019-09-15 05:05] ustcscgyer commented on #1815
I do not have an ftp site, but I have no problem to save my artifacts in the place specified by the mlflow server. Here is how I achieved it:

- step 1: Run the mlflow server:
[code]

- step 2: Record metrics and artifacts
[code]

[2019-09-15 05:14] ustcscgyer commented on #1291
@joshpeng I can take a look at this issue, but can you provide more information so I can reproduce the error?

[2019-09-15 05:24] ustcscgyer commented on #1793
If no one is working on this, I can take a look.

[2019-09-15 05:32] ustcscgyer commented on #1809
Hi @cyrilthank You should be able to get a list of run_ids in the UI.

p.s. This should tagged by question, instead of bug. Can you modify the issue label?

[2019-09-15 05:35] ustcscgyer commented on #1799
I can take a look at this issue.

[2019-09-15 08:09] ancasarb commented on #1278
@dbczumar any thoughts?

[2019-09-15 13:17] Akashdesarda opened #1844 "[FR] Ability to retrieve run based on 'run_name'"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

Please fill in this template and do not delete it unless you are sure your issue is outside its scope.

-------
## Guidelines

Feature requests typically go through the following lifecycle:

1. Submit feature re

[2019-09-15 15:07] #1513 closed

[2019-09-16 01:38] ustcscgyer opened #1845 "[BUG] server/js/build folder missing"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-09-16 04:39] brewkode commented on #1793
The RCA for this is the entries in `.dockerignore`. I tried setting it up too and found that `.dockerignore` has `.travis` & `tests` in them. `ADD` in Dockerfile skips over the entries in dockerignore file. Try commenting out the necessary dirs and see how things go.

[2019-09-16 04:45] cyrilthank commented on #1809
Completely agree with you @ustcscgyer    but my hold up is i am unable to find the checkbox referred to in https://help.github.com/en/articles/applying-labels-to-issues-and-pull-requests to change the label

can you please advise?

[2019-09-16 04:54] cyrilthank commented on #1815
Here is what i did

step 1 :

lflow server \
    --backend-store-uri file:/mlflowserver_backend_store_uri \
    --default-artifact-root file:/mlflowserver_default_artifact_root \
    --host 0.0.0.0

Step 2:

import os
import mlflow
import mlflow.pyfunc

class AddN(mlflow.pyfunc.PythonModel):

    def __init__(self, n):
        self.n = n

    def predict(self, context, model_input):
        return

[2019-09-16 05:45] ustcscgyer commented on #1845
I figured it out by running `npm run build` in the `server/js` folder, and then `mlflow ui` works. However, this step is not provided in the developer doc, and also, according to [create-react-app](https://github.com/facebook/create-react-app), build is only used when deploy to production. I wonder what is the right way to do for development. (I am not familiar with the react framework)

[2019-09-16 06:14] dbczumar commented on #1278
@ancasarb @kevinykuo Sorry for the delay here! I agree that Option 2 seems like a simpler approach that is easier for users to reason about, as compared to Option 1 which filters the training ("input") schema based on the transformer schema. I've approved #1405, pending a small change for backwards compatibility.

[2019-09-16 12:18] HikmatDashdamir commented on #1677
Hi @ahutterTA . I have started to use MLflow with HDFS. However whenever I try to download or see files under `model` folder it gives me error related to `tmp` folder. Seems like it tries to fetch everything to `tmp` and created folder with random name. However, when I check folder it turns out empty. MLflow it self gives `500 Internal Server Error`. Could you please help me understand the issue?

[2019-09-16 12:20] ahutterTA commented on #1677
@HikmatDashdamir I think that's the issue this https://github.com/mlflow/mlflow/pull/1800 fixes. Did you apply the PR? It's not part of a release yet.

[2019-09-16 12:31] HikmatDashdamir commented on #1677
@ahutterTA I have seen the fix. Also tried to see how PR affects. But no big changes. Could you please give me feedback whether everything works smoothly after PR? HDFS connection, downloading model files. conda.yaml etc?

[2019-09-16 13:54] ahutterTA commented on #1677
Everything I tested seemed to work in regards to downloading HDFS files.

[2019-09-16 14:00] HikmatDashdamir commented on #1835
Seems #1800 fixes UI and functionality. It wasn`t released yet.

[2019-09-16 14:00] #1835 closed

[2019-09-16 17:51] mateiz commented on #1677
That's great, thanks for testing it out.

[2019-09-16 18:40] dwyatte commented on #1065
Fixed by https://github.com/mlflow/mlflow/pull/1493

[2019-09-16 18:40] #1065 closed

[2019-09-16 19:10] sczerniawski commented on #1814
Two ideas:
- Google ftp active/passive mode.
- Try using a 21st century protocol like sftp.

[2019-09-16 19:27] niladell commented on #1830
Basically what happens to me is that if, for example, I record:
`mlflow.log_metrics({'train/loss': loss})` the page of the plot

just gives me the 404 with "Page not found. Go back to home page"

If instead I record the metric as: `train_loss`, the plot page

works without any problem (showing me the training loss). In fact, I can then set `plot_metric_keys=["train_loss", "train/loss"]` and both a

[2019-09-16 23:51] ustcscgyer commented on #1799
Hi @jpambrun, it seems that I cannot reproduce the error:

![image](https://user-images.githubusercontent.com/12961341/65000867-26470180-d8a2-11e9-953d-648ccd9f2008.png)

[2019-09-17 00:03] nehalecky commented on #1563
@lorenzwalthert, I was also there and saw that presentation—it was amazing! Is there anyone here that can reference a proposal docs and / or branch that contains that feature development?

[2019-09-17 12:32] jpambrun commented on #1799
Still happens here. I still have the `static-files/static-files/static/` prefix for every request originating from the service worker.

![image](https://user-images.githubusercontent.com/718384/65040984-b5e0c480-d923-11e9-93fe-58b98d05b3b4.png)

I am not sure how I could have broke this from the config/user side. I run it in kubernetes (see config below), then I use kubectl proxy to reach it. Ever

[2019-09-17 14:07] sim-san opened #1849 "[FR] Automatic reload"
### Description / Motivation
At the moment the website is not automatically reloaded when a new run is run or tags, parameters or metrics are updated. The automatic reload would make the use of mlflow more efficient.

### Proposed Changes
I'm not a web developer. But I think with react framework it should be pretty easy.

[2019-09-17 18:06] mbelang commented on #1517
@diadochos you have to scroll down at the botton after the first 100 runs the button will appear.

@Zangr With 1.2.0, the `Load More` button appears but it is still very very slow to load even 100 runs.

[2019-09-17 18:32] gioa commented on #1839
Thank you for the feature request, agree space could be used better.

Also here attached a mockup for users controlling which columns to display:
![image](https://user-images.githubusercontent.com/1960721/65068720-fd744a00-d93d-11e9-9edb-e6af24ce34de.png)

cc @Zangr

[2019-09-17 22:14] dbczumar commented on #1278
#1405 is merged, fixing this issue. Thanks @ancasarb @kevinykuo!

[2019-09-17 22:14] #1278 closed

[2019-09-17 23:25] mgbckr commented on #1724
@smurching Thanks! I have to admit that I have not looked at the MLflow projectr module yet. I will look into it.

[2019-09-18 01:34] mgbckr commented on #1724
OK, just looked into this. So it seems the project module kind of alleviates the need to log parameters in the first place. Meaning, that for logging parameters, `mlflow` would prefer the usage of the project functionality. Assuming that this is true, I think there is a little bit of an inconsistency:

Case 1: Parameter logging should be handled by the project module only. In this case, `mlflow.lo

[2019-09-18 07:02] xhochy opened #1853 "[FR] SVG MLflow icon"
I'm building a Jupyterlab extension to embed mlflow server with https://github.com/jupyterhub/jupyter-server-proxy. There it would be nice to also use the official MLflow logo. Sadly the logo only seems to be available in the rendered PNG version. Would it also be possible to get it as an SVG?

[2019-09-18 10:01] sim-san opened #1854 "[BUG] password of artifact store connection (ftp, sftp) is visible"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **MLflow installed from (source or binary)**: source
- **MLflow version (run ``mlflow --version``)**: 1.2.0
- **Python version**: 3.7.4
- **npm version, if running the dev UI**: /
- **Exact command to

[2019-09-18 10:07] abhirus commented on #1670
This issue is noticed in latest 1.2 version as well. Do we have any workaround or fix for samee?

[2019-09-18 10:11] abhirus commented on #1670
With mlflow 1.2 and Python 3.7 and trying to run multistep_workflow project from examples git and getting the below error

2019/09/18 15:30:53 INFO mlflow.projects: === Running command 'source C:\Program Files\miniconda3\Scripts/../etc/profile.d/conda.sh && conda activate mlflow-3523e1f70a6145c6a0cd1705275ffde004dc1f47 1>&2 && python main.py --als-max-iter 10 --keras-hidden-units 20 --max-row-limi

[2019-09-18 10:34] sim-san commented on #1854
Possible solution:

[code]

[2019-09-18 12:28] jpambrun commented on #1830
This is a duplicate of #1692

[2019-09-18 12:35] manojbalaji1 opened #1855 "[BUG] Mlflow tracking UI not loading"
<img width="1674" alt="Screen Shot 2019-09-18 at 18 03 12" src="https://user-images.githubusercontent.com/8200952/65149051-09940080-da3f-11e9-8d96-64f748babe16.png">
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refe

[2019-09-18 13:18] khikmatullaev opened #1856 "Tracking Server start/stop/restart/pause/list"
During the exploitation of MLFLow I faced the problem with starting/stoping MLFlow Tracking Server. I did not find any information in the documentation about no rough stopping(pkill command) of Tracking Server. From my point of view, will be great if the following functionality will be added in the next versions.

Server Stop
[code]

Server Restart
[code]

Server Restart with --time parameter in s

[2019-09-19 02:54] xinruxchen commented on #1393
I got a similar error when running sklearn_elasticnet_wine examples. Then I upgraded my mlflow to 1.2.0, the error disappearred.

[2019-09-19 08:25] niladell commented on #1830
You are right! I didn't see that one. Closing this issue then.

[2019-09-19 08:25] #1830 closed

[2019-09-19 10:24] ArsTapatun commented on #629
Not having proxied uploads complicates things even more in case of a slightly more complex setup.

Let's say that you're deploying a service on AWS ECS/ECR and set up the necessary infra (S3 bucket and access policies) through Terraform scripts. The mlflow service is given access to the bucket, and the end user assumes that you just push stuff to the service and it will get sorted out on that end;

[2019-09-19 10:44] lucazav opened #1864 "[SETUP-BUG] Error while installing MLflow in RStudio with install_mlflow"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows Server 2016
- **MLflow installed from (source or binary)**: From RStudio using "install.packages('mlflow')"
- **MLflow version (run ``mlflow --version``)**: 1.2.0
- **Python version**: 3.6.3
- **Exact command to reproduce**: mlflow::install_mlflow()

### Describe the problem
After the r-mlflow-1.2.0 Pytho

[2019-09-19 14:52] AlistairLR112 commented on #1796
bumping as I am experiencing this too

[2019-09-19 14:55] AlistairLR112 commented on #1796
Python 3.5.2 is no longer available on the conda-forge repo

[2019-09-19 15:19] AlistairLR112 commented on #1796
It seems like databricks clusters (if you built it on Databricks) run python 3.5.2

[2019-09-20 01:31] pwais commented on #1481
*bump*

[2019-09-20 11:41] t-henri opened #1865 "[BUG] _search_runs takes a lot of memory"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-09-21 04:24] Ben-Epstein commented on #1750
Closing because merged

[2019-09-21 04:24] Ben-Epstein commented on #1750
Closing because merged

[2019-09-21 04:24] #1750 closed

[2019-09-21 08:56] arita37 opened #1866 "[FR] Create gitter.im Chat for better inegration with github"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

Please fill in this template and do not delete it unless you are sure your issue is outside its scope.

-------
## Guidelines

Feature requests typically go through the following lifecycle:

1. Submit feature re

[2019-09-21 11:24] MFreidank commented on #1844
I don't think runs have a run name. They only have a run id and retrieving runs based on their id is already implemented as (`mlflow.tracking.get_run`)[https://mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.get_run].

[2019-09-21 12:23] iver56 opened #1867 "[FR] When using HTTPS tracking server, keep connection alive to reduce latency when submitting many metrics"
## Describe the proposal

When I log 50 metrics (one for each epoch in 50 epochs) using MLflow's experimental keras autolog, the time it takes to perform each request quickly adds up. It takes around 14 seconds in total my case, when communicating with an MLflow tracking server (hosted on [MFlux.ai](https://www.mflux.ai)) over HTTPS. The main reason for the slowness is that for each log_metric, a

[2019-09-23 15:47] Akashdesarda commented on #1844
They have run name. You can check it in UI

[2019-09-23 17:05] loftyet commented on #1784
what do you mean "connect http://127.0.0.1:5000, MUST use commend line "?

[2019-09-23 20:42] DoktorMike commented on #1855
This happens to me too in my deployment.

[2019-09-23 21:50] trams opened #1870 "[BUG] Submitting a long param value triggers 5xx code instead of 4xx (bad request)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **MLflow installed from (source or binary)**:  1.2
- **MLflow version (run ``mlflow --version``)**:
- **Python version**: 3.6
- **Exact command to reproduce**:

### Describe the problem
I am t

[2019-09-24 04:45] #1543 closed

[2019-09-24 12:53] manojbalaji1 commented on #1855
I checked my logs but I don't have any such error. I am suspecting that since for storage I was using SQLite maybe it is too slow to retrieve details as the issue I found is a callback issue

[2019-09-24 13:16] IvoMerchiers commented on #1164
Is there any motivation why there was no response to this, or did it just fall through the cracks?

[2019-09-24 14:09] giladw opened #1873 "mysql Tables are not generated with Mlfow Server[BUG]"
Please fill in this template and do not delete it unless you are sure your issue is outside its scope.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: debian buster
- **MLflow installed from (source or binary)**: source
- **MLflow version (run ``mlflow --version`

[2019-09-24 14:12] BenGalewsky opened #1874 "[FR]Allow different MLFLOW_TRACKING_URI inside Kubernetes"
_As a Kubernetes workflow developer I want to submit jobs to kubernetes running in Docker Desktop that use the Tracker UI directly from my desktop command line so I can easily develop Kubernetes projects_

## Problem
Inside of the cluster, the URI for the tracking UI is `http://host.docker.internal:5000` outside of kubernetes the URI should be `http://localhost:5000`. When I submit a job, the MLfl

[2019-09-24 15:20] schlichtanders commented on #893
dear mlflow developers
is there any take from you on supporting nix in the future or not?

[2019-09-24 18:47] dbczumar commented on #1865
@t-henri Can you clarify where the error occurs? Is your SQL database suffering experiencing OOM exceptions, or is this an issue with the MLflow tracking server instance?

In the case of the MLflow Tracking server instance, it's not immediately apparent why reducing the number of database would produce this behavior because the tracking service fetches the same set of data from the database on the

[2019-09-24 21:14] LeanderK commented on #1692
this issue is really, really inconvenient for me! I would be very glad if it would get fixed! 🙂

[2019-09-24 22:04] tomasatdatabricks commented on #1066
Hey @dwyatte , thanks for creating the issue!
Can we just return the multidimensional array as is?

[2019-09-25 08:14] SaadAhmed96 opened #1877 "[BUG] Mlflow models serve not not working on windows 8.1"
Please fill in this template and do not delete it unless you are sure your issue is outside its scope.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 64 bit Windows 8.1
- **MLflow installed from (source or binary)**: source
- **MLflow version (run ``mlflow --

[2019-09-25 10:30] hershaw commented on #1487
Anything from the maintainers on this one?

[2019-09-25 11:31] iver56 commented on #1867
In case anyone is looking for a workaround, `log_batch` is good for speeding up logging of many metrics. I wrote a quick article that shows how it can be done in mlflow 1.2: https://www.mflux.ai/tutorials/log-batch/#even-faster-example

[2019-09-25 12:03] t-henri commented on #1865
Hello @dbczumar, the error occurs in the MLflow tracking server instance.

You indeed reduced the number of queries made to the SQL database, but you also increased a lot the number of rows we receive.

Before your changes, we made one query to get run informations and then 3 queries to get the corresponding params, tags and metrics. So the total number of lines we got for a run was 1 + number of

[2019-09-25 17:04] pmavrodiev commented on #1814
@sczerniawski I am sorry, but this is not an answer. Either provide actual concreteness or spare us the sarcasm.

[2019-09-25 17:57] SeanBE commented on #1487
We also just moved to azure and ran into the same problem. We use pgbouncer as sidecars to improve the latency and a simple solution for us was to remap usernames in pgbouncer.

I think for the PR if we modify the `_get_alembic_config` function and the migration methods in `store/db_migrations/env.py`, we should be fine. The latter need to reverse the percentage escaping.

I can create a PR for th

[2019-09-26 00:20] dbczumar commented on #1865
@t-henri Thank you for your detailed analysis. I've reproduced the problem and am working on a patch that should reduce memory usage while minimizing the number of database roundtrips.

[2019-09-26 00:49] dbczumar commented on #1865
@t-henri I've filed https://github.com/mlflow/mlflow/pull/1878 to correct this issue by using a `subquery` load for eager loading instead of a `joinedload` (see https://docs.sqlalchemy.org/en/13/orm/loading_relationships.html#subquery-eager-loading for more information). Please take a look! It would be very helpful if you could try it out and confirm that it resolves your memory utilization issues

[2019-09-26 03:05] zhangruiskyline opened #1879 "[BUG] Mlflow run error in multi process(Multi GPU) scenario"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu VERSION="18.04.2 LTS (Bionic Beaver)"
- **MLflow version (run ``mlflow --version``)**: 1.2.0
- **Python version**:  3.6

### Describe the problem

When I just use single GPU to run some mlflow like log_metrics

[2019-09-26 06:36] elixxx commented on #1811
Still an issue

[2019-09-26 09:45] t-henri commented on #1865
Hello @dbczumar, yes I am running my database on a separate instance than my MLflow tracking server, and the memory issue only occurs in the tracking server. The memory issue occurs because even if sqlalchemy returns the same objects than with lazy loading, it has to perform the huge query at some point.

I tried your fix and it is much better, there is no more memory issues and it is also faster,

[2019-09-26 13:56] #1873 closed

[2019-09-26 14:44] ProtD commented on #1451
For MariaDB, the issue can be solved with
[code]
in `my.cnf`.

[2019-09-26 14:57] djrscally commented on #937
Noting that this is an ongoing issue, to prevent the bot from auto-closing it.

[2019-09-26 16:34] dbczumar commented on #1865
@t-henri You're absolutely correct that we should eventually push pagination logic into the SQL execution layer for performance and scalability reasons. We'd love to review a PR implementing this behavior!

Regarding a test PR, that would be very useful! Feel free to file a separate PR or push to the branch associated with #1878!

[2019-09-26 20:46] carlos-rodrigo commented on #1703
Hi! I have the same issue but I believe that is because I'm setting the tracking server URI inside the python code instead of the environment variable.

I'm setup my MLproject to use docker,  and when I run the project using `mlflow run` command that excecute the docker run command passing MLFLOW_TRACKING_SERVER env variable using as value my local environment value. And then creates the run_id. B

[2019-09-27 08:09] t-henri commented on #1865
Hello @dbczumar, so I created this PR with the test I linked you before: https://github.com/mlflow/mlflow/pull/1880

Feel free to ping me if you have any remark.

[2019-09-27 14:57] dwyatte opened #1881 "[BUG] Spark UDF cannot load models with empty directories"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux
- **MLflow installed from (source or binary)**:  Binary
- **MLflow version (run ``mlflow --version``)**: 1.2.0
- **Python version**:
- **npm version, if running the dev UI**:
- **Exact command to reproduce**

[2019-09-29 22:02] DanyalAndriano commented on #1291
Same issue....@joshpeng did you find a solution?

[2019-09-30 03:11] arnaudsj commented on #1823
Am I the only one experiencing this issue? Is this a known issue?

[2019-09-30 07:23] jdlesage commented on #927
The PR has just be merged. Should be available in the next version of mlflow

[2019-09-30 09:55] mirekphd opened #1886 "MLflow Tracking's web interface times out trying to connect to a CDN on air-gapped servers[BUG]"
- **Exact command to reproduce**:
Run `mlflow ui` on an air-gapped server (e.g. in a Jupyter Notebook Terminal) and try to connect through any web browser (e.g. Chrome or Firefox).

The REST API connection between the browser-based client and the tracking server (gunicorn) should be left open, but any other connections (including all outgoing TCP connections) should be blocked (as on air gapped co

[2019-09-30 11:59] jonathanmeier5 opened #1887 "[BUG] Slack Group Link Broken"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.14
- **MLflow installed from (source or binary)**: N/A
- **MLflow version (run ``mlflow --version``)**: N/A
- **Python version**: N/A
- **npm version, if running the dev UI**: N/A
- **Exact command to rep

[2019-09-30 14:32] jdlesage opened #1889 "[BUG] Download artifacts from HDFS is broken in v1.3 candidate."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS7
- **MLflow installed from (source or binary)**:  Source
- **MLflow version (run ``mlflow --version``)**: master branch
- **Python version**: 3.6
- **npm version, if running the dev UI**:
- **Exact command

[2019-09-30 23:10] tomasatdatabricks commented on #1881
Hey @dwyatte, thanks for posting! I have been able to reproduce this. The issue occurs when downloading artifacts which include empty directory.

[2019-09-30 23:44] tomasatdatabricks commented on #1870
Thanks for posting! You are right, MLflow shoudl return 400 code in this case. Can you provide details about the store you use? I am assuming this was a Sqlalchemy store?

[2019-09-30 23:53] tomasatdatabricks commented on #1877
Hi @SaadAhmed96, thanks for posting! The mlflow models serve is unfortunately not supported on Windows at the moment. Windows support is currently limited to tracking, we would appreciate contributions in this direction though!

In the meantime, you may try to build the model into a docker image instead via ``mlflow models build-docker`` command.

I am gonna close this as this is not a bug, fell f

[2019-09-30 23:53] #1877 closed

[2019-10-01 00:00] tomasatdatabricks commented on #1879
Hi @zhangruiskyline, thanks for posting! There is a race condition when creating the root directory ("mlruns" in this case). WE'll try to fix this asap, in the meantime you can get around this error by creating mlruns directory before running your code.

[2019-10-01 00:21] tomasatdatabricks commented on #1886
Hi @mirekphd, thanks for posting!

Can you clarify what is your use case? Why do you want to run ``mlflow ui`` on a "air-gapped" server?  Can you use ``mlflow server`` instead?

[2019-10-01 00:33] tomasatdatabricks commented on #1887
Thanks for posting! We will look into that.

[2019-10-01 04:35] tomasatdatabricks commented on #1889
Thanks for the catch! I have merged your PR to master, I will close this ticket once the PR is merged to the release branch.

[2019-10-01 06:58] mirekphd commented on #1886
Hi @tomasatdatabricks, thanks for leaving Issues enabled (unlike, say, H2O:)

I agree that `mlflow server` would probably be more appropriate on an
aur-gapped server. Even then I would still need to show my users the MLflow
Tracking interface, and the Windows VMs where they have their browsers
installed are hosted on corporate servers without access to your CDN. Just
internal network connections a

[2019-10-01 08:47] mirekphd commented on #1886
Mind you, this problem with reliance on open access to external CDN's is not that uncommon, it affects even some of the most popular on-premise platforms. I have to deal with it on a daily basis in Altlassian's products (notably Bitbucket), for which the company has to pay handsomely.

Other commercial products such as Red Hat's Openshift or JFrog's Artifactory and almost all open-source apps we u

[2019-10-01 15:24] CyborgDroid opened #1893 "[SETUP-BUG] Python 3.5 not supported."
Databricks only supports python 3.5. MLFlow only supports python 3.6 and above. I want to develop in a local pyspark environment and deploy the final solution to databricks using MLFlow. How is this achieved?

https://www.mlflow.org/docs/latest/projects.html#run-an-mlflow-project-on-databricks

[code]

Output:
[code]

[2019-10-01 17:25] tomasatdatabricks commented on #1889
Fix was included in the mlflow 1.3 release. Thanks!

[2019-10-01 17:25] #1889 closed

[2019-10-02 13:26] SebLCBnC commented on #1842
Hi, I have the same troubles.
Any feedback about this issue?

[2019-10-02 14:08] sim-san opened #1895 "[BUG] Error while preview artifacts in UI when uploaded to remote machine via FTP"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: **Yes**
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: **Linux Ubuntu 18.04**
- **MLflow installed from (source or binary)**:  **binary**
- **MLflow version (run ``mlflow --version``)**: **1.3.0**
- **Python version**: **3.7**
- **npm version, if running the dev

[2019-10-02 14:09] sim-san commented on #1895
I have noticed that the bug is similar to issue #1338

[2019-10-02 15:17] geniki commented on #1666
Do you plan to bring back this view/feature? The suggested workaround doesn't work at all for my workflow.

[2019-10-02 15:48] bscan opened #1896 "[FR] Stronger Nesting of Runs"
## Problem
Currently, nested runs do not always appear underneath their parent, most commonly occurring for runs with many nested runs (e.g. hyperparameter search). Until the parent run itself is loaded, the nested runs are free floating causing a number of issues by polluting the list of runs.

The two attached gifs use results from the following code which generates two parent runs that each hav

[2019-10-02 18:03] GiteshKhanna opened #1897 "[BUG] Null Values ignored in data"
Hi guys,

I was trying to pass data having null values in some columns, Since ML Libraries like XGBoost support null values in their input.
The problem I found in mlflow code was that you use pd.read_json(json_input, orient=orient, dtype=False) and pd.to_json(orient='split') which ignores Null values.

if instead of the above method "json" library is used, this problem can be easily tackled.

[2019-10-02 19:26] justinlboyer commented on #1842
Same issue.  Would love this to be functioning, any insights/ideas/workarounds?

[2019-10-02 20:16] Zangr commented on #1666
@geniki, I plan to work on some refactoring on the runs table with @gioa during the last two weeks of this month. You are welcome to provide more details about your workflow and view preference so I can take those into consideration during the refactor.

[2019-10-02 22:56] sduc opened #1898 "[BUG] no model saved in artifacts when default artifact_location is ./mlruns/0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macos
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**: 1.3.0
- **Python version**: 3.6.8
- **npm version, if running the dev UI**:
- **Exact command to reprod

[2019-10-02 23:57] tomasatdatabricks commented on #1887
The link should work now. Thanks for posting!

[2019-10-02 23:57] #1887 closed

[2019-10-03 00:00] tomasatdatabricks commented on #1893
Hey @CyborgDroid, thanks for posting!

Did you try to install MLflow from pip instead of conda-forge?

[2019-10-03 00:04] tomasatdatabricks commented on #1897
Hi @GiteshKhanna, thanks for posting.

Can you elaborate a bit about your use case? Are you referring to how we parse data when deploying models?

[2019-10-03 00:45] CyborgDroid commented on #1893
Hi @tomasatdatabricks.  I installed it with conda-forge following the steps exactly as in my post above using anaconda. I tried now with miniconda and here is the full output:

[code]
[code]
[code]
[code]
[code]
This is now a bit different than the error I got above, maybe the difference is anaconda vs updated miniconda:
[code]
It has been sitting there for 15-20 mins calculating the shortest conf

[2019-10-03 01:32] CyborgDroid commented on #1893
Final output of `$ conda install -c conda-forge mlflow`
[code]

[2019-10-03 08:11] hershaw commented on #1487
Kind of hard to say. The maintainers don't seem to have much time to interact with issues or PRs...

![image](https://user-images.githubusercontent.com/424192/66109956-9e5d3900-e5bd-11e9-8290-e27df9e10858.png)

Got much love for the project but it's a bit concerning to see so many issues and PRs unattended.

[2019-10-03 08:26] rquintino commented on #1028
all would be highly useful, think they are actually the top limiting factors for getting the most of mlflow tracking (tracking works well, exploring and analysis not so much)

I would not mind not having move option between experiments, in case there was another concept of analysis/report, where I can pick up any run I want (like previous framework we used for tracking).  Think that makes more sen

[2019-10-03 08:39] iver56 opened #1901 "[BUG] Very small metric values are displayed incorrectly in the run list"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: See section "Code to reproduce issue" below
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MLflow 1.3 Tracking UI hosted on [Mflux.ai](https://www.mflux.ai) with Linux Ubuntu 18.04.
- **MLflow installed from (source or binary)**: pip (PyPI)
- **MLflow version (ru

[2019-10-03 09:01] rquintino opened #1902 "Performance for accessing run data, FileSystem backend, caching, other workarounds?"
Hi, we're currently exploring options to solve the main issue we have currently with mlflow, which is performance for reading run data (filesystem backend) :(, can imagine highly related to the way mlflow stores data, ex: every single param, metric goes into a separate file. Depending on project we can track hundreds of data points per run. So we end up on mlruns folder with 50k 100k files, even i

[2019-10-03 10:39] iver56 commented on #1870
I have also run into this issue. I was using a PostgreSQL backend, so yes, sqlalchemy was involved.

[2019-10-03 13:59] geniki commented on #1666
Thanks, looking forward to that.

We often have dozens of runs with dozens of params and as others above pointed out above, it's difficult to compare when you can see only, say, two runs at the same time.

Spreadsheet-like view is fairly established as useful I think.

[2019-10-03 19:07] carlos-rodrigo commented on #1823
I have the same issue too

[2019-10-03 21:30] #1538 closed

[2019-10-03 22:24] thrmotta opened #1903 "One trial per GPU? Is it possible?"
Is it possible in a multiple GPU scenario, to have each available GPU doing a separate trial? So far it seems that using multi_gpu_model is not accelerating our computer vision deep learning model (U-net / Mask RCNN), so having each trial running on a separate GPU could provide us with great speedups, but I've found no information on the matter.

Thank you.

[2019-10-04 03:56] mparkhe opened #1905 "[BUG] Fix R lint in tests and code"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-10-04 06:26] sabman commented on #1902
Can you add a tag with the date or an expiry date? Then you can filter by that?

[2019-10-04 13:19] carlos-rodrigo commented on #1823
@arnaudsj reading the docs found that at the moment of log your model you probably must add the code_path too. This path is where are located the dependencies of the model you code.

reference: https://www.mlflow.org/docs/latest/python_api/mlflow.pyfunc.html#mlflow.pyfunc.log_model

I'm trying this approach right now, if it works I will comment the results in this thread.

[2019-10-04 14:40] bscan commented on #1694
I'm using Chrome on Mac and I see the "Load More" button disappears as well. After the first press of "Load More", it will dissapear until I scroll up and then back down. Also, if I delete all of the runs from the first page, the only way to view more is to refresh the entire page. See the gifs in: https://github.com/mlflow/mlflow/issues/1896

[2019-10-05 04:53] ShumzZ opened #1906 "[BUG]Deployment failed - Spark ML model logged in Mleap format"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-10-05 10:03] johny-c commented on #1302
This should be no biggie.

[2019-10-05 10:05] johny-c commented on #1336
Just for reference, there is [streamlit](https://github.com/streamlit/streamlit) now out there. Might be a good way to go.

[2019-10-06 00:59] aatmane opened #1908 "[BUG] Can't log artifacts or run a basic command 'RESOURCE_DOES_NOT_EXIST'"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-10-07 07:18] ymym3412 commented on #1667
I got same issue with postgresql with Cloud SQL and my mlflow version is 1.3.0.

[2019-10-07 10:29] axelborja opened #1909 "[FR] Make MLFlow PyTorch log_model and save_model supports PyTorch models with custom inputs."
## Describe the proposal
Make MLFlow PyTorch log_model and save_model supports PyTorch models with custom inputs.

### Motivation
We are currently using PyTorch models a list of inputs, so we cannot use MLFlow to deploy our model.

[2019-10-07 11:47] ssYkse commented on #702
Hi.
Any news on this front? I have the exact same problem/situation infront of me. I am currently creating a seminar on MLFlow for collegues and would like a clean workflow.

In particular, I am using MNIST to build a model - I will use a preprocessing which normalizes the images. Finally I want to host a mlflow server which takes as input an image of arbitary size (which I will draw with paint),

[2019-10-07 16:23] aatmane commented on #1908
In case someone faces the same issue, it is due to having multiple Replica set for your Kubernetes deployment config. You either choose to use 1 Replica or if you want to use multiple Replica, create a persistent shared storage mount in Kubernetes so all Replica log in the same location.

[2019-10-07 16:23] #1908 closed

[2019-10-07 16:41] davidbeaudoin commented on #1670
Same problem with mlflow 1.2 and Python 3.7 when I am trying to run examples.

mlflow run examples/sklearn_elasticnet_wine -P alpha=0.5

OR

mlflow run  https://github.com/amesar/mlflow-fun.git#examples/hello_world -Palpha=100 -Prun_origin=GitRun -Plog_artifact=True

I get...

2019/10/07 12:32:38 INFO mlflow.projects: === Running command 'source C:\Users\xyz\AppData\Local\Continuum\anaconda3\conda

[2019-10-07 23:49] ankmathur96 commented on #1902
Have you tried using the SQL store with a MySQL backend?

[2019-10-08 09:45] GiteshKhannaOYO commented on #1897
Hi @tomasatdatabricks  thanks for the reply.
Yes I want to have some clarity on how the data is parsed when the models are deployed.

I actually want to pass comma separated values which seem to be giving an error. When I tried checking out the code in the library I found out that when I pass ContentType as text/csv , mlflow expects the path to the data file rather than data itself, which is the r

[2019-10-08 09:47] GiteshKhanna commented on #1897
Hi @tomasatdatabricks  thanks for the reply.
Yes I want to have some clarity on how the data is parsed when the models are deployed.

I actually want to pass comma separated values which seem to be giving an error. When I tried checking out the code in the library I found out that when I pass ContentType as text/csv , mlflow expects the path to the data file rather than data itself, which is the r

[2019-10-08 09:54] ssYkse commented on #1909
I have the same Issue! I would like to send a png/base64/numpy pickle from the frontend. It would be complete overkill to have the web client do a conversion into a very specific json pandas split orientation model.

[2019-10-08 16:23] Nithanaroy commented on #1598
Looks like we can search by run name like so,
[code]
Other things that may work are https://www.mlflow.org/docs/latest/tracking.html#system-tags

[2019-10-08 19:20] mbelang commented on #1517
Just updated to 1.3.0 and it is loading like bullet train!

Thank you. I consider this issue as fixed.

[2019-10-08 19:20] #1517 closed

[2019-10-08 21:28] krasch opened #1912 "[FR] Flag commit hash as "dirty" in UI if git repo has local changes"
## Describe the proposal

Add a flag in UI (and database, if necessary) that identifies a commit hash as "dirty" if the git repository has local changes.

### Motivation

Version: 1.3.0 (installed via pip)

Steps:

1. have a clean git repository, no un-commited local changes
2. mlflow run .
3. change a file, do not commit
4. mlflow run .

In this situation, the first run is reproducible, the secon

[2019-10-08 21:35] katielaines commented on #1670
Getting same error today when serving model

[2019-10-09 00:52] smurching commented on #1906
This seems due to a bug in how we install Java dependencies when building the docker image used for model deployment, I've opened #1913 to fix the bug.

@ShumzZ what command/API are you invoking to deploy the model to Sagemaker? If you use the official MLflow scoring server docker image (the default behavior when invoking `mlflow sagemaker deploy`), the deployment is likely to succeed - we build t

[2019-10-09 05:27] junchen1992 commented on #1799
Same issue here. Have you got a fix now? @jpambrun

[2019-10-09 05:55] geoHeil opened #1916 "[FR] logging during prediction"
A plain flask API nicely can combine the prediction with logging the results and maybe running an explainer: https://github.com/ThoughtWorksInc/ml-app-template/blob/master/src/app_with_logging.py

how can this be integrated with mlflow?

Only as a custom model? Or is there a more straight forward approach?

[2019-10-09 06:44] ssYkse opened #1917 "[BUG] keras.log_model(...) produces a wrong conda.yaml file."
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-10-09 08:14] ssYkse opened #1918 "[BUG] Keras in docker gives issue: Tensor is not an element of this graph."
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-10-09 08:17] ssYkse commented on #1918
P.S. I am happy to fix other erros/suggestins you see in this workshop and publish it to mlflow/examples (after translation, ofc.)

[2019-10-09 12:56] jpambrun commented on #1799
I am still on 1.2 so I don't know if it affects 1.3. I don't know of a fix or workaround. Starting mlflow with more workers (w.g. `mlflow server -w 24`) makes it bearable. Otherwise the few workers are stalled for a long very time (300-400ms per file) replying with 404s.

[2019-10-09 14:40] sim-san commented on #659
This is a useful feature request.

[2019-10-09 19:18] ShumzZ commented on #1906
Thanks for getting back to me @smurching. When I first saw the JNI error, I was using:

Python API (`mlflow.sagemaker.deploy`) on Databricks Python notebook;

I then copied the logged model to local (MacOS) and used CLI, and both:
 - deploy `mlflow sagemaker deploy -m <local_model> -i <ECR_image_url>` and
 - local-test `mlflow sagemaker run-local -m -i`)

failed with the same error message.

I hav

[2019-10-09 19:18] #1906 closed

[2019-10-09 20:18] #1865 closed

[2019-10-10 06:27] digvijayv opened #1919 "[BUG]"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-10-10 06:27] digvijayv commented on #1919
I have installed MLFLOW for R in my ubuntu environment. When i am trying to execute any command for mlflow i am getting below error

Error in rethrow_call(c_processx_exec, command, c(command, args), stdin,  :
  cannot start processx process (system error 2, No such file or directory) @unix/processx.c:573

[2019-10-10 07:12] pandae7 opened #1920 "[BUG] Cannot Build a Docker Image with a private network"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-10-10 08:48] ssYkse commented on #1912
I agree with the issue, but not necessarily with the proposed solution. The reason for this is, that the second run is still not reproducible - we know its 'dirty', but we still don't know what changed.
I suggest that running in a 'dirty' environment, mlflow shall refuse to run:

    mlflow run .

If you insist on running this, maybe run

    mlflow run . --ignore-git-warning

or something similar

[2019-10-10 09:36] GiteshKhanna opened #1922 "[SETUP-BUG] Passing CSV as input data"
I want to have some clarity on how the data is parsed when the models are deployed.

I actually want to pass comma separated values which seem to be giving an error. When I tried checking out the code in the library I found out that when I pass ContentType as text/csv , mlflow expects the path to the data file rather than data itself, which is the reason I was getting the error.

Although I want t

[2019-10-10 14:34] krasch commented on #1912
I agree, it does not solve the actual reproducibility issues. I like your proposal. I see two possible ways that one could go with the flag

1. --ignore-git-warning (as you proposed)
2. --enforce-git-clean (for example sacred does this)

I do prefer (1), however I do see a risk that this might annoy some users, because of perceived overhead.

[2019-10-10 18:52] ifokeev commented on #1676
same issue here

[2019-10-10 20:45] mibernha opened #1925 "[FR] Add trigger for changes done in the Tracking UI"
## Describe the proposal
I hereby propose some kind of trigger, for when a change in the Tracking UI is done it allows for some kind of process following the changes (possibly documenting them).

### Motivation
In one of our projects there are certain tags, most of them are set by a script run regulary on a automation server. But there are two tags which are set manually, it would be helpful for u

[2019-10-10 23:59] smurching opened #1926 "[BUG] Running MLflow projects remotely from a Windows machine fails"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **MLflow installed from (source or binary)**:  Binary
- **MLflow version (run ``mlflow --version``)**: 1.3.0
- **Python version**:  3.6
- **Exact command to reproduce**:

### Describe the problem
As

[2019-10-11 08:26] gerardsimons commented on #867
Take a look at [dvc](https://dvc.org/doc/get-started) dataset versioning; it seems like people integrate mlflow into dvc pipelines.

[2019-10-11 21:00] pogil commented on #738
We've released the HTML viewer in MLflow 1.3 provided in #1838

[2019-10-11 21:00] #738 closed

[2019-10-11 22:08] pwais commented on #1481
Perhaps we should create a new issue that allows the server to listen to arbitrary IP address? Similar to jupyter, flask, etc.

[2019-10-12 11:18] geoHeil commented on #884
When logging to mlflow:

[code]
the lines above work great when running locally. But they fail to upload the artifact. Only the metadata and parameters are transferred. The artifact is missing.

docker-compose.yml
[code]
with DOCKERFILE
[code]

[2019-10-13 10:52] ValdarT opened #1930 "[FR] Support MMLSpark Serving for Spark models"
## Proposal
Spark model flavour to support deployment through [MMLSpark Serving](https://github.com/Azure/mmlspark/blob/master/docs/mmlspark-serving.md).

### Motivation
This should make it possible to easily deploy Spark models also for high-performance use cases and from any Spark API language (Scala, Java, Python, R).

### Proposed Changes
This could be exposed through the `mlflow.models` modul

[2019-10-14 06:44] DoktorMike commented on #1902
I also experience retrieval quite slow and sometimes even timing out resulting in an "Internal Server Error". Even as few as 10 runs in an experiment can sometimes time out. Also using s3 for artifact storage. I could switch to a MySQL backend but that shouldn't really help in something as small as 10 runs right? So there must be another issue why this is so slow. I'll post here if I come up with

[2019-10-14 09:32] rom1504 opened #1936 "[FR] Enable http compression in API"
## Proposal
Enable http compression in API

### Motivation
Makes API calls faster. Some responses of search_runs in particular can take up to 20MB of json, which is easily compressed in 1MB.

### Proposed Changes
Enabling http compression

[2019-10-14 12:54] abdullasaifee opened #1937 "keras.backend has no attribute _BACKEND at line 293 keras.py"
found this issue while using mlflow to serve my model.

[2019-10-14 18:14] arnaudsj commented on #1823
@carlos-rodrigo did your approach work? The issue I was seeing was not with my code, but with the inability to find a dependent library (specified in the conda.yaml file)

[2019-10-15 07:23] javierluraschi opened #1938 "[DOC-FIX] Consider redirect to docs at mlflow.org/docs"
Could we place a redirect from [mlflow.org/docs](https://mlflow.org/docs/latest/index.html) to [mlflow.org/docs/latest/index.html](https://mlflow.org/docs/latest/index.html)?

Would be nice to point users to [mlflow.org/docs](https://mlflow.org/docs/latest/index.html) instead of the longer/versioned URL.

[2019-10-15 07:45] rom1504 commented on #1936
Since mlflow is providing its API and front under gunicorn, it would actually make sense to use an http server such as nginx for compression purposes.
So I think the solution to this issue is a simple guide on how to setup a simple nginx configuration to host mlflow.

[2019-10-15 10:19] laibe commented on #884
I encounter the same issue as @geoHeil , according to [this stackoverflow](https://stackoverflow.com/questions/52331254/how-to-store-artifacts-on-a-server-running-mlflow) it's currently the expected behavior.

[2019-10-15 13:13] Djailla opened #1939 "[FR] Add support for sentry.io for MLflow python backend"
In order to track exception happening in a Python project, Sentry.io service is great, it gather data per version, with a full stack trace and help the developer and SRE team to be more agile in problem solving.

The integration is pretty straightforward :

https://sentry.io/for/flask/

[2019-10-15 16:37] carlos-rodrigo commented on #1823
Hi @arnaudsj! yes it works! if I add the folder where the dependencies of my model are in the code_path, the ModuleNotFoundError doesn't appear anymore.

[2019-10-15 17:43] chnsh commented on #1759
Hey, the new version is amazing! It works well and is quite fast - thank you

[2019-10-15 17:44] chnsh commented on #1759
Is there any writeup that discusses the solution - It would be exciting to learn

[2019-10-15 17:47] midemarc opened #1941 "Special characters in metric names and filtering"
# System information
**Have I written custom code (as opposed to using a stock example script provided in MLflow):** No (only changed the name of the metric)
**OS Platform and Distribution (e.g., Linux Ubuntu 16.04):** Linux Centos 7
**MLflow installed from (source or binary):** Binary
**MLflow version (run mlflow --version):** 1.3.0
**Python version:** 3.6.8
## Exact command to reproduce:

- Chan

[2019-10-15 20:54] juntai-zheng opened #1942 "[FR] Create conda and pip dependencies based on users' installation in `get_default_conda_env()`"
### Proposal
In saving and loading models, the function `get_default_conda_env()` returns a minimal conda environment that is used with the target model. Currently, MLflow manually assigns different modules to either conda or pip dependencies. I am proposing we assign the modules to either pip or conda dependencies depending on the user's installation.

### Motivation
Conda isn't always up to date

[2019-10-16 07:46] alext234 commented on #1120
+1

[2019-10-16 09:22] conorbmurphy opened #1944 "[FR] Add templating to create new projects"
Creating a project from scratch is a difficult process and requires custom templating.  It'd be nice to add a command like `mlflow project init` to initialize a new project using a template.  It could also have commands to input values such as the project name, environment, etc.  It would then create a directory with all necessary files.

This would be a pretty lightweight change to MLflow

[2019-10-16 10:16] LeanderK commented on #1692
I still care about it and would love it to not be marked stale. I think the participation demonstrates that it's relevant.

[2019-10-16 20:18] tanmaymathur89 opened #1945 "[FR] Allow passing in bool parameters in MLproject entrypoint"
## Proposal
[code]
Only allows you to pass a string, float, path or uri.
However, python allows you to pass bool command line arguments that we cannot fit into this format.

### Motivation
Command I want to execute is `python script.py --train -r {regularization} {data_file}`
where --train is an optional boolean argument.

### Proposed Changes
[code]
MLflow run execution: `mlflow run . -P data_fil

[2019-10-16 23:46] lucagiovagnoli commented on #1515
Is there a way to download artifacts from a java codebase ?

[2019-10-17 14:09] aguschin commented on #973
There is a workaround, if it will help someone.

We can specify tags reserved for Mlflow run: https://mlflow.org/docs/latest/tracking.html#system-tags

For example, run in jupyter notebook:
[code]

[2019-10-17 20:28] JoeJasinski opened #1948 "[BUG] Postgresql Alembic Migration Automatically Runs when running 'mlflow server' with no way to disable"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian Stretch (Python 3.7.3 docker base image)
- **MLflow installed from (source or binary)**: from pypi via pip
- **MLflow version (run ``mlflow --version``)**: 1.3.0
- **Python version**: 3.7.3
- **npm version,

[2019-10-17 23:57] pogil commented on #1903
Hi @thrmotta,

The core of MLflow itself doesn't really manage model training itself and it is agnostic to the code you run. Is there a specific example you're referring to?

[2019-10-18 00:49] dpanshu opened #1950 "[FR] Is it possible to version control the data"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address.

Please fill in this template and do not delete it unless you are sure your issue is outside its scope.

-------
## Guidelines

Feature requests typically go through the following lifecycle:

1. I understand that

[2019-10-18 03:31] jtdigital commented on #1887
I know this is marked as closed and fixed, but I'm having the same issue today. :-/  Would love to join :)

[2019-10-18 03:50] harupy commented on #1887
@jtdigital
The link (named public slack server) at the bottom of this page worked for me.
https://mlflow.org/

[2019-10-18 04:41] jtdigital commented on #1887
Oh thank you! The broken link I followed was in: https://github.com/mlflow/mlflow/blob/master/README.rst#community

[2019-10-18 10:51] Bibonaut commented on #937
On my Windows machine, both commands `mlflow ui` and `mlflow server` seem to work without errors with mlflow versions 1.2.0 and 1.3.0 🎉
If there aren't any further Windows incompatibilities, I would like to close this issue :)

[2019-10-18 11:20] MattWenham opened #1951 "[BUG] Error running `mlflow ui` when installed from conda-forge"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 Version 10.0.17134 Build 17134
- **MLflow installed from (source or binary)**: `conda install -c conda-forge mlflow` in clean conda environment
- **MLflow version (run ``mlflow --version``)**: 1.3.0
- *

[2019-10-18 14:06] SagurovA93 commented on #1764
@MFreidank I'm testing now mlflow with S3 bucket as artifact storage.
I did not find any words about S3 SSE KMS support in documentation: https://www.mlflow.org/docs/latest/tracking.html

Am I right that MLFlow tracking server does not support S3 SSE KMS at this moment?

[2019-10-18 16:11] amandaortega opened #1956 "[BUG] Error when trying to access a specific experiment"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-10-18 17:41] AlbertoEAF commented on #1951
I have the same issue in Linux, running "mlflow" fails because the script is broken.

Bad mlflow script - installed with conda-forge:
![image](https://user-images.githubusercontent.com/3976753/67115767-d5933300-f1d6-11e9-9801-c299bc3a717b.png)

If I just replace the first lines before the utf-8 encoding to "#!/usr/bin/env python" in the mlflow script, mlflow fully works.

[2019-10-18 21:00] MFreidank commented on #1764
@SagurovA93 Correct. I was proposing to add support for SSE KMS (and other potential keyword parameters of S3) and outlining one way to achieve it. I have some code ready for how an implementation could look.

@mparkhe You seem to have worked on S3 artifact repo and others. Could you have a look/share your opinion?

[2019-10-19 02:52] latha-ai opened #1957 "[BUG] models build-docker run not found"
### System information
- using mlflow example
mlflow\examples\sklearn_logistic_regression
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Error is same on both Windows 10 and Ubuntu
- **MLflow installed from (source or binary)**: pip install mlflow
- **MLflow version (run ``mlflow --version``)**: mlflow, version 1.3.0
- **Python version**: Python 3.7.0
- **npm version, if running th

[2019-10-19 12:42] mazzma12 commented on #1286
@aarondav for an example of implementation of protobuf format with tensor you might want to take a look at [onnxruntime](https://github.com/onnx/tutorials/blob/master/tutorials/OnnxRuntimeServerSSDModel.ipynb) (not mentionned in your list)

[2019-10-19 14:55] GSukr opened #1960 "issue with mlflow.keras.autolog(): keras.models.Model instead of keras.Model"
First of all, thank you for this amazing project. I frequently use MLflow.

I encountered the attribute error with mlflow.keras.autolog() as mlflow.keras.py refers to keras.Model. For Keras version >2.0.0 the source code incorporates Model within the module "models". Please, adjust the mlflow.keras accordingly.

[2019-10-19 16:19] #1960 closed

[2019-10-19 21:01] aneeshvartakavi commented on #1094
I'm getting the same error trying to reproduce the official example [here](https://github.com/mlflow/mlflow/tree/master/examples/docker). I'm running mlflow version `1.3.0` installed from pip, on ubuntu 18.04, using python 3.7 (anaconda).

Command:
`mlflow run . -P alpha=0.5`

Result:
[code]
I've tried using the `-no-conda` flag, and get the same output as above.

[2019-10-20 01:12] harupy commented on #1956
@amandaortega
What does `meta.yaml` of the experiment that causes this error look like?

[2019-10-20 01:55] harupy commented on #1824
+1

[2019-10-20 04:25] CyborgDroid opened #1962 "Automated CrossValidator tracking [FR]"
When will automated spark MLlib tracking and scikit-learn tracking be available for CrossValidators? It is available only for databricks + spark MLlib. If it is not on the roadmap, can it be added? In the meantime, is there a workaround to log all of the parameters and metrics a CrossValidator tried using a local spark MLlib pipeline or scikit-learn pipeline?

https://docs.databricks.com/applicati

[2019-10-21 06:07] pandae7 commented on #1957
Did you try giving the absolute path as an argument?
and Also check whether the mlruns/0/7989340d41e544d2a5e2167e54e19975/artifacts/model/ folder has MLmodel file

[2019-10-21 07:40] MattWenham commented on #1951
Thanks. Unfortunately, this won't work on Windows as the offending file is a Windows executable.

[2019-10-21 08:19] matallanas opened #1963 "[FR] Custom docker images for models"
## Describe the proposal
Add the possibility of attaching a dockerfile for creating custom images and installing different tools inside the docker.

### Motivation
Right now the deployment of a model in microservices is limited. In order to export it to the Azure ML or Amazon Sagemaker or to create a docker image locally, you cannot specify a dockerfile that could facilitate the creation of a micr

[2019-10-21 11:41] zishanahmed08 opened #1964 "[BUG] mlflow.tensorflow.autolog() does not work with tensorflow object detection api."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 18.04
- **MLflow installed from (source or binary)**:binary
- **MLflow version (run ``mlflow --version``)**:1.3.0
- **Python version**:3.6.5
- **npm version, if running the dev UI**:

### Describe the pro

[2019-10-21 11:49] mirekphd commented on #572
I'd argue, that there is still no support for uploading artifacts to server side. Like for instance it is with H2O, which uses separate functions for remote and local actions (download / upload vs import / save). NFS is not remote if it has to be mounted locally on the client side... One needs yet another server apart from `mlflow server` or else our most important artifacts will be dispersed in l

[2019-10-21 12:50] AlbertoEAF opened #1965 "[BUG] mlflow broken in linux when installed with conda-forge + fix"
I have the same issue in Linux, running "mlflow" fails because the script is broken.

Bad mlflow script - installed with conda-forge:
![image](https://user-images.githubusercontent.com/3976753/67206508-afa1a480-f409-11e9-925b-666192859fab.png)

Fix: If I just replace the first lines before the utf-8 encoding to "#!/usr/bin/env python" in the mlflow script, mlflow fully works.

[2019-10-21 12:52] mirekphd commented on #902
I too think that the behavior of the `log_*` functions is rather inconsistent, without built-in support for uploading larger artifacts such as models to the server side (which is the whole point of experiment tracking - preserve the artifacts to put them in production without refitting).

For instance H2O uses separate menu options and/or API functions for remote and local actions (download / uplo

[2019-10-21 13:40] amandaortega commented on #1956
Here is its content:

artifact_location: file:///home/amanda/Dropbox/trabalho/doutorado/codigos/propostas/eEVM/mlruns/1
experiment_id: '1'
lifecycle_stage: active
name: Wind speed

[2019-10-21 13:45] pierorex commented on #1472
+1.
At my company, we have tons of models that we use only on Batch Transform.
Right now we're trying to include MLFlow into our current toolset but without this feature, it would be a nightmare.

[2019-10-21 18:07] amandaortega commented on #1956
I managed to fix the problem. There were 3 instances of experiments that were causing the reported error. One of them had the meta.yaml file empty, but the other 2 apparently were ok. Thank you anyway!

[2019-10-21 20:21] sueann commented on #1948
`mlflow server` should error out if you have an existing database with an older schema (https://github.com/mlflow/mlflow/blame/v1.3.0/mlflow/store/sqlalchemy_store.py#L135). The code you pointed to is actually creating tables if no mlflow tables exist in the database (so it assumes the database is "fresh"), and then it runs the migrations. Does this match your experience, or are you seeing migrati

[2019-10-21 21:32] JoeJasinski commented on #1948
Thank you for your reply.

What I was noticing was that mlflow was trying to run the migration logic whenever one runs the server process (`mlflow server`). I understand that, when the migrations have already been applied, alembic sees that there is nothing to do and exits.

However, when productionalizing mlflow inside a cluster, I would have to have absolute control over when the migrations run,

[2019-10-21 21:42] sueann commented on #1948
It's essentially disabled by default because if you have a database with an older schema, `mlflow server` will error out telling you to run `mlflow db upgrade` and quit without applying any migrations. It's only if your database looks new (because it doesn't have any mlflow tables in it) it will create the tables with the latest schema (by applying all of the migrations).

[2019-10-22 04:12] CyborgDroid commented on #1962
First attempt to replicate auto tracking of a Spark MLlib CrossValidator outside of databricks:

https://github.com/CyborgDroid/spark_mlflow/tree/develop

In the example above, I am logging the results of all Kfolds, but I still need to verify that databricks auto tracking does the same.

[2019-10-22 07:35] suoych opened #1969 "[FR] Is it possible to add support for PaddlePaddle?"
## Describe the proposal
Is it possible to add support for PaddlePaddle?

### Motivation
I'm learning about the deep learning framework named PaddlePaddle which is designed by Baidu Inc, and I want to use MLflow to visualize all the parameters and use the predict service.

I can use api provided by mlflow to see the metrics and parameters on the website. However, I noticed that the supported servi

[2019-10-22 07:43] sd2k commented on #1692
It looks like #1968 fixes this :+1:

[2019-10-22 07:51] mirekphd opened #1970 "[BUG] Missing boto3 dependency in mlflow python package"
- **Exact command to reproduce**:
-  take any system (e.g. an ubutunu with miniconda and python 3.6 docker container) with mlflow python package v1.3 installed using `pip install mlflow`,
- make sure that the connection from the mlflow python client library to the s3 bucket (in my case created using minio) is working (e.g. with curl),
- make sure mlflow server has no access to the internet (should

[2019-10-22 08:15] mirekphd commented on #1970
I can confirm now that installing boto3 together with mlflow solves this particular bug.

[2019-10-22 09:04] mirekphd opened #1971 "[BUG] S3 bucket credentials and URI (env vars) required also (by boto3) on mlflow server side"
### Describe the problem
`mlflow server` requires (on the server side) environmental variables with credentials and connections to the S3 bucket (`AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY` and `MLFLOW_S3_ENDPOINT_URL` ), which implies that both server and client connect to the bucket.

### Code to reproduce issue
See #1970, but with boto3 package installed manually.

### Describe the problem
1)

[2019-10-22 11:23] manesioz commented on #1964
Please try to use descriptive issue titles, makes it easier for everyone to navigate :)

[2019-10-22 12:20] cosmincatalin commented on #1280
#1973

[2019-10-22 13:00] MeisterUrian opened #1975 "[BUG]"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: custom model training script
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu  16.04 in Docker container
- **MLflow installed from (source or binary)**: source (mlflow repository, master branch)
- **MLflow version (run ``mlflow --version``)**: 1.3.1.dev0
- *

[2019-10-22 13:05] harupy commented on #1975
@MeisterUrian I ran into the exact same issue.

https://github.com/mlflow/mlflow/blob/master/mlflow/server/handlers.py#L60

[2019-10-22 13:11] MeisterUrian commented on #1975
@harupy Thank you very much! I will try it some later

[2019-10-22 13:16] harupy commented on #1975
@MeisterUrian I followed this doc.

https://www.mlflow.org/docs/latest/tracking.html#logging-to-a-tracking-server

[2019-10-22 13:48] JoeJasinski commented on #1948
Thank you again for the reply. So if I understand correctly, the first time the app runs (on an empty database) the migrations will run automatically? However, if I upgrade MLFlow and the upgrade requires database migrations, it will wait for me to manually apply the migrations with `mlflow db upgrade`?

[2019-10-22 13:50] #1975 closed

[2019-10-22 18:31] latha-ai commented on #1957
1. I tried all possible paths for runs options. Absolute path is not working. it has to start with /0, with and without MLModel.
I am saving the model using log_model here.

2. Changed to save_model
mlflow.sklearn.save_model(lr, 'D:\\tmp\\skmodels')
# mlflow models build-docker --model-uri "file:D:\tmp\skmodels" -n "my-bda_mlflow-image"

ERROR:

mlflow models build-docker --model-uri "file:D:\tmp\

[2019-10-22 18:45] LeanderK commented on #1692
wow, this would really help me!

[2019-10-22 20:57] sadanand-singh opened #1976 "[FR] Allow more than 250 characters for parameter values"
Currently only parameters that have a value less than 250 characters are allowed.

It would be great to make this limit an user parameter. I have a use case where I would like this to be 500 characters.

[2019-10-22 21:07] aarondav commented on #1976
Tags have a higher allowed limit -- could your use-case be satisfied with tags instead of parameters?

[2019-10-22 21:11] sadanand-singh commented on #1976
No, I would like it to be a parameter specially since tags are mutable. Rather than an arbitrary larger limit, I think if possible, it would be great to provide an option for user-defined limit.

[2019-10-22 22:36] thrmotta commented on #1903
Hi @pogil,

Sorry, I made some confusion with MLflow and some other framework that was being used along side it. This was the wrong place to post this question.

Sorry for taking your time and thank you for your attention.

[2019-10-22 22:37] thrmotta commented on #1903
Hi @pogil,

Sorry, I made some confusion with MLflow and some other framework that was being used along side it. This was the wrong place to post this question.

Sorry for taking your time and thank you for your attention.

[2019-10-22 22:37] #1903 closed

[2019-10-22 22:48] sueann commented on #1948
Yeah that's correct.

[2019-10-23 09:24] hemantkshirsagar8 commented on #1926
I faced a similar issue at windows.
Can you explain the solution to this for Windows users?

[2019-10-23 12:06] C-nit opened #1979 "[BUG] failed artifact logging to s3 breaks run view in UI"
### Describe the problem
"Oops! Something went wrong." appears in the mflow UI detail view for runs.
This error page comes up in different scenarios where logging artifacts to s3 is not successful. I don't know if other remotes are also affected in some form.

The UI should not break from this, but rather inform the user what the problem is (e.g. in the artifacts section).
While logging on client

[2019-10-23 13:29] svenpelzer commented on #1028
Can you please add a delete button of experiments to the UI, so it is easier to remove "old" experiments?

[2019-10-23 13:32] mirekphd commented on #1041
Be warned that all those missing mlflow dependencies have themselves missing system dependencies... such as headers, compilers, linkers, etc.

Leaving out all those missing system dependencies arguably lost devs more time than it security, so I'd rather see this issue reopened...

_More details_

1) `mysqlclient` missing in `mlflow` is itself missing several system dependencies (even their pypi do

[2019-10-24 08:57] teichmaj commented on #902
I encountered this problem too. I use many docker containers to run e.g. a Spark environment and a volume to mount the project code into the Spark container. The paths to the mlruns folder are different for the host and the container in consequence.
Unfortunately, mlflow saves absolute paths in the meta.yaml files and the mlflow never finds the artefacts.
I thought I can fix that with running a ce

[2019-10-24 10:49] hemantkshirsagar8 commented on #1926
I resolved this issue at my end, with replacing all 'os.path' to 'posixpath' at 'databricks.py' file.
It worked perfectly fine for me.

[2019-10-24 11:21] iver56 commented on #1901
This issue still persists, and should not be closed

[2019-10-24 11:22] iver56 commented on #1870
If this issue is not fixed yet, it should not be automatically closed

[2019-10-24 11:47] julilien opened #1984 "[FR] Keep nested runs in UI filtering"
### Motivation
In Mlflow's UI, the string provided in "Search Runs" in the experiments' run lists is used to eliminate runs from search results based on given attribute masks (for instance ```param.xy = "test"```). While this works as expected, it requires nested runs to also store the parameters of the parent run if you want to query them in combination. If parameters are only assigned to parent

[2019-10-24 14:20] nlml commented on #1093
I found a workaround following [this stackoverflow answer](https://stackoverflow.com/a/47495905/6167850) - just set your default runtime by adding first-level key to `/etc/docker/daemon.json` `"default-runtime": "nvidia"`, then `sudo service docker restart`

[2019-10-24 14:49] mirekphd commented on #838
I get this error every time I run a seemingly innocuous read-only function `get_artifact_uri()` ("get*" functions are not supposed to alter anything...) - as a pure side effect of its being run. It breaks a python 3 code that worked previously for hundreds of runs and saved metrics for three different algos to a MariaDB database. The UI shows an empty table entry, and a db record is being created

[2019-10-24 14:52] ividal commented on #143
Thanks for this!

@ToonKBC Is there documentation somewhere as to how to use this? I just started using mlflow (1.3.0) and ran [the wine example](https://github.com/mlflow/mlflow/tree/master/examples/sklearn_elasticnet_wine), filtered by individual metrics (RMSE, etc.) but couldn't see them sortable.

Does it have to be activated in the code somehow?

[2019-10-24 15:11] mirekphd opened #1987 "[BUG] Calling get_artifact_uri() causes mlflow to get stuck at a run which cannot be killed"
I get a "Run with UUID < uuid >  is already active" error every time I call in the python script a seemingly innocuous read-only function `get_artifact_uri()` ("get*" functions are not supposed to alter anything...) - as a pure side effect of its being run. It breaks a python 3 code that worked previously for hundreds of runs and saved metrics for three different algos to a MariaDB database. I do

[2019-10-24 21:01] andrewbrooks-o commented on #1762
@dbczumar - I'm experiencing the same pain as @zhangruiskyline using databricks hosted MLFlow tracking.

I'd like the experiment to be set or created dynamically per the configurations in a config.yaml, like this:

[code]

While I can specify the `--experiment-id` argument in `mlflow run`, this requires the experiment to have already been created and named.  I'd like to wrap this up in the train e

[2019-10-25 07:55] mirekphd opened #1990 "[BUG] ValueError: Invalid Endpoint without '://' token in MLFLOW_S3_ENDPOINT_URL (client & server)"
Mlflow python client library (v1.3) and mlflow server (v1.3) both require that `MLFLOW_S3_ENDPOINT_URL `env var contain the "`://`" token (probably as in "`s3://`" in your typical Amazon scenario, but "`http://`" in my case as I use containerized minIO to emulate S3 buckets on premise).

So when setting the MLFLOW_S3_ENDPOINT_URL env var in python (using `os.environ()`) if I strip the "`://`" from

[2019-10-25 09:31] mirekphd opened #1991 "[FR] Default modifiable temp folder for log_artifact() / log_model() plus 'keep_local_copy' param"
A default user-modifiable temporary folder and the ability to keep some or all temp files (off by default) would be very useful in both of the above functions, allowing the users to preserve models and other artifacts also on the client side if they wish to do so,

_More info_

The need to specify the temporary location of artifacts on the client side prior to upload to a permanent remote location

[2019-10-25 11:14] jgeorge-ias opened #1992 "[BUG] GPU Support"
Please fill in this template and do not delete it unless you are sure your issue is outside its scope.

### System information
- I have a Keras model with the following layers. I have different behaviours across mlflow on notebook vs mlflow cli
[code]
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Amazon Linux
- **MLflow installed from (source or binary)**: Tried both
- **MLflow ve

[2019-10-25 11:16] #1992 closed

[2019-10-25 11:17] jerrygb opened #1993 "[BUG] GPU Support on Sagemaker"
### System information
- I have a Keras model with the following layers. I have different behaviours across mlflow on notebook vs mlflow cli

[code]

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Amazon Linux
- **MLflow installed from (source or binary)**: Tried both
- **MLflow version (run ``mlflow --version``)**: 1.3.0
- **Python version**: 3.6.5

### Describe the problem

I hav

[2019-10-25 11:19] jerrygb commented on #1993
While deploying to sagemaker I had to install the pre-requisites from the sagemaker GPU image here,

https://github.com/aws/sagemaker-tensorflow-container/blob/master/docker/1.14.0/py3/Dockerfile.gpu

I tried both amazon tf-gpu as well as the one available on pypi.

[2019-10-25 17:09] aestene commented on #1926
I did the same as @hemantkshirsagar8 intending to create a PR for this issue. However, I've had quite abit of problems setting up the tests and have been working with this on and off for the past week. Now I managed to run them on a personal computer away from the world of corporate proxies. However, there are some errors and failures, some of which are linked to asserting paths are equal on linux

[2019-10-25 17:53] Ben-Epstein commented on #726
@Vishnunkumar I did and it worked. I still cannot deploy a ml.t2.medium instance, but large and xl work.

[2019-10-26 00:03] smurching commented on #1926
@aestene yep that's a good option, thanks for being willing to open a PR! Travis will run the tests for you in a sandboxed environment - once you've opened the PR, I'd be curious to see if there are tests that fail for you locally but pass on Travis. If so, we should update our contributor guide to make sure the instructions result in the same local dev environment as is used on Travis.

[2019-10-26 10:59] mirekphd commented on #902
I eventually gave up looking (and you probably should as well:) and embraced the future as envisaged by Databricks - of rampant microservises architecture... It required as many as 3 different servers... and given the one-server-per-container rule, I have 3 containers as well:
1) metrics and params are stored to an SQL database (container 1), and I used MariaDB (`bitnami/mariadb`) - do not skip th

[2019-10-26 11:45] mirekphd opened #1997 "[BUG] h2o.log_model() does not work properly (wrong file type, no upload to S3) + a workaround"
The recommended method for persisting H2O models, `mlflow.h2o.log_model()`  does not work as expected. It does not upload (at least to an S3 bucket created by MinIO) any file reminiscent of a model file - neither in the internal binary H2O format or the JAVA MOJO / POJO model deployment file. All we see in MLflow Artifacts section or in the remote objects folder (say an S3 bucket accessed with the

[2019-10-26 16:38] Gondal-SaadAbdullah commented on #1670
I am getting while running: examples/hyperparam
Do we have a solution for that? Or is there any other branch where we have a runnable build?

[2019-10-27 11:32] jerrygb commented on #1993
I am closing this issue since the issue was related to fact that tensorflow GPU growth was not setup.

[2019-10-27 11:32] #1993 closed

[2019-10-27 19:09] christang opened #1999 "[BUG] multistep_workflow "best-effort detection of 'already run'" fails to detect run_info has FINISHED status"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-10-28 04:28] christang commented on #1842
Same issue.

[2019-10-28 10:53] fhoering opened #2005 "[BUG] mlflow.utils.is_tracking_uri_set now private"
Please fill in this template and do not delete it unless you are sure your issue is outside its scope.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Centos
- **MLflow installed from (source or binary)**: Source
- **MLflow version (run ``mlflow --version``)*

[2019-10-28 15:39] andrey-tsykunov opened #2006 "[BUG] MLFlow UI run page shows all metric values rounded to 3 decimal points"
### System information
- **OS Platform and Distribution (RHL 7.6)**:
- **MLflow installed from (binary, pip)**:
- **MLflow version (1.3.0)**:
- **Python version 3.6.8**:

### Describe the problem
While "all runs" MLFlow UI page shows metric values as they are reported (without rounding), individual run page displays all metrics rounded to 3 decimal points

### Other info / logs
all runs:
![all_run

[2019-10-28 21:48] andrewbrooks-o opened #2010 "[BUG] - entry point name must have .sh or .py suffix when using --backend databricks"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-10-29 08:01] aestene opened #2012 "[BUG] Example project sklearn_elasticnet_wine is not compliant with databricks guide for remote execution"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-10-29 16:42] blister96 commented on #1937
I got this error while using tensorflow.keras. I was using tensorflow==1.12 and the only version that seems to work is tensorflow==1.14. It would be nice if a more portable solution existed.
I think changing
`if keras_module.__name__ == "tensorflow.keras" or K._BACKEND == 'tensorflow':`
to
`if 'tensorflow' in keras_module.__name__ or K.backend() == 'tensorflow':`
_might_ be better.

[2019-10-29 16:44] kaleko opened #2015 "CLI Tracking Issues w/ v1.3.0, works with v1.0.0 [BUG]"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OSX and Ubuntu
- **MLflow installed from (source or binary)**: pip install mlflow
- **MLflow version (run ``mlflow --version``)**: 1.0.0 AND 1.3.0
- **Python version**: Python 3.7.3

### Describe the problem
Unit test of listing existing experiments in the tracking UI which used to work for mlflow v1.0.0 fails fo

[2019-10-29 17:15] jaklan opened #2016 "[BUG] .dockerignore is... ignored"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS Mojave 10.14.6
- **MLflow installed from (source or binary)**: binary (pip install)
- **MLflow version (run ``mlflow --version``)**: 1.3.0
- **Python version**: 3.7.3
- **npm version, if running the dev UI*

[2019-10-29 19:26] n3o-Bhushan commented on #841
Any updates on this?

[2019-10-30 01:50] harupy commented on #2006
Metrics values get rounded by `formatMetric`. This function needs to be fixed to render small metric values properly.

## formatMetric

[code]
https://github.com/mlflow/mlflow/blob/master/mlflow/server/js/src/utils/Utils.js#L40-L48

## getMetricValues

[code]

https://github.com/mlflow/mlflow/blob/master/mlflow/server/js/src/components/RunView.js#L256-L267

[2019-10-30 05:37] cyrilthank commented on #1815
Thanks @sid for your response

I too am waiting for some clarity on the MLFLOW_TRACKING_URI
not sure how folks are using this in production/poc

[2019-10-30 06:11] aestene commented on #2012
Addressed by #2013

[2019-10-30 06:11] #2012 closed

[2019-10-30 06:33] ankmathur96 opened #2018 "[BUG] MLflow Community Edition metric graph page loops forever"
Thank you for submitting an issue. Please refer to our [issue policy](https://www.github.com/mlflow/mlflow/blob/master/ISSUE_POLICY.md)
for information on what types of issues we address. For help with debugging your code, please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/mlflow).

Please fill in this template and do not delete it unless you are sure your issue is outside

[2019-10-30 07:03] H4dr1en commented on #1950
You might want to check dvc for that

[2019-10-30 08:31] harupy commented on #2006
I think `toExponential` should be used if the metric value is smaller than a specified threshold.

https://www.w3schools.com/jsref/jsref_toexponential.asp

[code]

[2019-10-30 09:03] jaklan commented on #602
That's really disappointing and making the maintenance of MLFlow tough - the `delete` button should exist at least for a use of local MLFlow & MLFlow Server, if you worry about other storages. `s3`, `gcp` etc. could be then added incrementally.

[2019-10-30 13:02] dol0828 commented on #1670
Exactly the same issue. Really want to try it in my Windows workstation, and hope it will be fixed shortly. Thanks.

[2019-10-30 13:54] CJ-Wright opened #2023 "[FR] parameter information in Active Run object"
Would it be possible to access the data about an active run from the `ActiveRun` object? This would prevent needing to go to the mlflow store itself to load the run information.

### Motivation
The use case is for viewing the metadata about the current run. This would be valuable for exporting to other services and preventing the need to examine the data store for information that could be in memo

[2019-10-30 14:37] geniki commented on #1666
@Zangr any new thoughts on this issue?

[2019-10-30 15:08] chuber1986 opened #2025 "[BUG] Kubernetes environment issue"
Hi,

when using the kubernetes bakend I encounter some issues:

- within the container the environmental variable MLFLOW_TRACKING_URI is set to the host tracking path instead of the _MLFLOW_DOCKER_TRACKING_URI.
- the tracking path is not mounted in the container (the mountpoint had to be specified manually in the kubernetes_job_template.yaml)

BR Christian

[2019-10-30 16:21] zied2 commented on #1842
Same issue !

[2019-10-30 17:37] #1957 closed

[2019-10-30 17:38] latha-ai commented on #1957
Too many issues in resolving the path and copying artifacts code.

Summary:
using windows posix path also does not resolve.

on ubuntu it works with full path - file for a built model.
mlflow models build-docker -m "file:/home/<user>/Share/skmodels/" -n "bda_mlflow-image"

[2019-10-31 02:48] saber7165 commented on #1298
I doubt this issue has been fixed. So it should stay open.

[2019-10-31 06:01] Vishnunkumar commented on #726
@Ben-Epstein Thank you

[2019-10-31 06:12] chuber1986 opened #2028 "[FR] Baseimage from Dockerfile"
Hi,

I think it would be nice if 'mlflow run' was able to use a Dockerfile to build the base image for the MLFlow image. So the base image is at every run consistent with the corresponding Dockerfile.

BR Christian

[2019-10-31 06:14] mparkhe commented on #602
Hi @jaklan : One of the main principles for MLflow is open APIs that can be applied to a large # of use cases regardless of the backend implementations. With delete artifacts API, the concern is defining clear expectations in terms of SLAs etc. This depends on the backend system used.

For local store, it might easier to use command line (`rm` like commands) to remove the runs that admins deems ca

[2019-10-31 10:17] alexnikitchuk opened #2029 "[FR] run duration comparison"
Current version of run comparison doesn't show run duration I suggest it will be useful to observe it there
![image](https://user-images.githubusercontent.com/8694829/67938488-41629c00-fbd8-11e9-860a-05d50fe2d83f.png)

[2019-10-31 11:27] harupy commented on #2006
@andrey-tsykunov I created a PR. What do you think?

[2019-10-31 14:09] jaklan commented on #602
@mparkhe thank you for the answer.

That's interesting, because I don't observe that behaviour. I've just deleted some runs and they are still visible in the experiment catalog, the only difference is the status in `meta.yaml`. They are moved there after some time or it's a potential bug? But in general - if that worked, it would be fair enough workaround.

Btw one more question - what about delet

[2019-10-31 17:08] mparkhe commented on #602
You are right. I misquoted. Deleted experiments are moved to trash folder. Runs are marked as metadata. You can get this of deleted run using [list_run_infos](https://mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.list_run_infos) API.

Deleting experiment can be done using [`mlflow.delete_experiment`](https://mlflow.org/docs/latest/python_api/mlflow.tracking.ht

[2019-10-31 17:33] jaklan commented on #602
@mparkhe I see. Analogical mechanism for runs would be great - you can then just set up a cron job to clean all .Trash folders recursively, without checking `meta.yaml` or listing proper runs with MLFlow API.

In general running `mlflow experiments delete` would be quite okay, but... it doesn't work:
[code]
I still get the list of local experiments, even when I export the proper envar. Am I missin

[2019-10-31 18:15] jaklan commented on #602
One more comment to summarize that - even when I use MLFlow Server (pointed by `MLFLOW_TRACKING_URI`), artifacts are stored locally (as default). In docs I can see some options for setting up FTP, S3 etc. storage, but I still miss how can I just log artifacts to the same server location as experiments and runs (so via HTTP)? Is it not possible until I set up FTP connection with the server? @mparkh