[2022-05-12 20:51] BenWilson2 commented on #5860
Is your client using 1.24.1 while your server is running 1.25.1?

[2022-05-12 21:12] grybeck commented on #5860
Hi @BenWilson2, the error occurs from clicking the artifact in the UI which sends the get artifact request to the server

[2022-05-12 22:59] BenWilson2 commented on #5856
Hi @christianbaumberger could you 1) share the code that you're using to generate this run and 2) validate that both the client and the server versions are 1.25.1 as reported?

[2022-05-12 23:01] nfarley-soaren commented on #3305
I tried harupy's code to log the test.txt to my S3 bucket but it only wrote test.txt to a local file, though it printed out the correct URIs.  Not sure how to get it to actually log to S3.
[code]

[2022-05-13 06:04] akshaya-a commented on #5340
@trangevi @santiagxf  fyi

[2022-05-13 06:58] #5851 closed

[2022-05-13 06:58] serena-ruan opened #5862 "[FR] support pyspark.ml.autolog read log_model_allowlist file from storage"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Update pyspark.ml.autolog's behavior to accept log_model_allowlist file that's stored in storage like S3 or Azure blob storage.

### Motivation

#### What is the use case for this feature?
Let pyspark.ml.autolog accept log_model_allowlist file from most

[2022-05-13 07:13] #5849 closed

[2022-05-13 07:14] trillionmonster commented on #5855
we are not talking about how to set up authentication , the better way to limit authentication method is deleting the code of reading password .

[2022-05-13 07:43] harupy commented on #5855
@trillionmonster

Have you tried `pysftp=0.2.8` as I suggested?

[code]

works with `pysftp=0.2.8` but doesn't with `pysftp=0.2.9`?

[2022-05-13 07:49] Sergiodiaz53 commented on #5799
Hi there,

I had some advances on this.
At first let me say that if I run:

`sftp mlflow@2.2.2.2`

everything works and I can create files and directories in my sftp server. So without MLFlow everything seems to work fine (meaning that my .ssh/config file is ok)

Now when I print my user_config inside sftp_artifact_repo.py what I get is:

{'hostname': '2.2.2.2', 'port': '9222', 'user': 'mlflower',

[2022-05-13 09:01] WeichenXu123 commented on #5862
Support reading the config from a downloadable link (http protocol) looks reasonable. We don't need to introduce a new dependency library.

CC @dbczumar @harupy Thoughts ? :)

[2022-05-13 10:47] lengerad commented on #5170
Hello, I will try to resurrect this feature request.

This feature might be really beneficial for a lot of users -> as right now if we deploy our model we're totally "blind" what's going on inside. There is no information about what is processed by model and makes it harder to trace activity.

Or if there is already such functionality, I would be glad for any further information how to set it up s

[2022-05-14 14:54] christianbaumberger commented on #5856
Hi @BenWilson2
1) We used the following code to generate this run:
`
from random import random, randint
from sklearn.ensemble import RandomForestRegressor
import mlflow
import mlflow.sklearn

mlflow.set_experiment("test_cba_2022_05_10_3")

with mlflow.start_run(run_name="testrun") as run:
    artifact_uri = mlflow.get_artifact_uri()
    print("************************")
    print(artifact_uri)

[2022-05-14 19:04] jagane-infinstor opened #5871 "[BUG] If a git tree has no master branch, but it does have a main branch 'mlflow run' fails"
### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### System information

- No custom code. MLflow stack example 'docker'
- Ubuntu 20.04
- pip installed
- mlflow, version 1.25.1
- Python 3.9.7
- **npm version: N/A

### Describe the problem

If I create a public repository on github, it appears to have only the branches origin/HEAD and origin/main. There does n

[2022-05-15 03:35] harupy commented on #5871
Duplicate of #5718

[2022-05-15 14:14] harupy commented on #5789
Addressed by #5856

[2022-05-15 14:14] #5789 closed

[2022-05-15 14:15] #5871 closed

[2022-05-15 15:26] harupy commented on #5680
@Sumanth077 Thanks! Could you fix `tests/entities/test_run_status.py` and `tests/store/tracking/__init__.py`?

[2022-05-15 15:44] rafaelvp-db commented on #4055
just wanted to know what's the status of this issue as it seems it's been a long time it's been open without changes. if it still hasn't been solved I would like to work on it.

[2022-05-15 17:33] jagane-infinstor commented on #5718
I tried the fix mentioned above, i.e. using repo.heads.default.checkout(). It worked for me with the following cases:

1. github public repo that does not require auth at https://github.com/jagane-infinstor/mlflow-example-docker.git
2. AWS CodeCommit private repo that requires auth

I think this is a better solution that my proposal to try and check out a branch called 'main' if the attempt to che

[2022-05-15 22:30] ognis1205 commented on #5680
Created the PR https://github.com/mlflow/mlflow/pull/5875
@harupy Would you mind reviewing it? Thank you.

[2022-05-16 03:36] Sumanth077 commented on #5680
@harupy Thankyou, will create a PR.

[2022-05-16 07:43] harupy commented on #5828
@Jingnan-Jia

I think this is challenging because the tracking server can take a look at a single tracking URI. Let's say two people (A and B) are sharing the tracking server and viewing experiments in the tracking URI X. If A switches the tracking URI to Y, it would change what B is viewing.

[2022-05-16 09:30] harupy opened #5878 "Replace `npm` with `yarn` in `CONTRIBUTING.rst`"
https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst#javascript-and-ui needs to be updated because we no longer use `npm` but currently use `yarn`.

[code]

[2022-05-16 11:16] rafaelvp-db commented on #5878
@harupy currently trying to replace ```npm install``` with ```yarn install```. Had to do a quick workaround - ```touch yarn.lock``` but seems to be working now. Can I create a PR for this one?

[2022-05-16 11:20] rafaelvp-db commented on #5878
nevermind, just seen that @kugland already tackled it

[2022-05-16 12:40] #5878 closed

[2022-05-16 16:46] BenWilson2 commented on #5860
Could you take a look at the just recently released 1.26.0 (Which introduced some type validation for the REST APIs) and see if it meets your needs?

[2022-05-16 17:36] BenWilson2 commented on #5856
I haven't been able to reproduce this with your exact code (barring, of course, creating a new experiment).

The pasted image that you provided above has an artifact name that doesn't match with the code that you provided. Could you try to run this and see what those print statements return?:

[code]

[2022-05-16 21:47] dbczumar commented on #5852
@BenWilson2 @harupy Can you take a look at this?

[2022-05-17 00:45] BenWilson2 commented on #5852
Hi @trillionmonster , could you verify these attempts at reproducing this failure and let me know if I'm missing the plot here?

Trial #1:

terminal1:
cd ~
mlflow server -h 0.0.0.0 -p 8889 --serve-artifacts

script:

[code]

term2:
[code]
No exception is thrown.

Trial #2

1. Start server
	1. `mlflow server -h 0.0.0.0 -p 8889 --serve-artifacts`
3. Log 3 runs to new experiment
4. perform cli operat

[2022-05-17 04:35] christianbaumberger commented on #5856
I was running your code and got the following print statements:

[code]
Besides that, in the UI it looks like the following:
![grafik](https://user-images.githubusercontent.com/44830049/168729712-b708be05-fe77-4af1-8f13-4f3ef523f9d1.png)

and the log in the mlflow-server looks like this:

[code]

[2022-05-17 04:45] harupy opened #5882 "Typo fix: `infered_model_type` -> `inferred_model_type`"
Fix `infered_model_type` to `inferred_model_type`.

https://github.com/mlflow/mlflow/blob/4b7c41e42d9fdb7f0e4c5d8937a8eb7296d22d1f/mlflow/models/evaluation/default_evaluator.py#L903-L908

[2022-05-17 04:53] gvelimir opened #5883 "[BUG] Error registering a model with quotes"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **MLflow installed from (source or binary)**:
- **MLflow version (run ``mlflow --ve

[2022-05-17 06:59] harupy commented on #5718
@jagane-infinstor Thanks for the comment. Can you update #5872?

[2022-05-17 07:01] haripraghash opened #5885 "How to connect to a MySQL instance thats requires SSL using PyMySql"
I am currently using

`mlflow server --backend-store-uri=mysql+pymysql://${MLFLOW_USER}:${MLFLOW_PASS}@${MLFLOW_DB_ADDR}:${MLFLOW_DB_PORT}/${MLFLOW_DB_NAME} --default-artifact-root=${MLFLOW_ARTIFACT_PATH} --host 0.0.0.0 --port 80
`
and trying to connect to MySQL. But it is failing and the MYSQL server has enforced SSL. I have a client certificate that I can use. But how do I set it up with mlfow?

[2022-05-17 08:33] christianbaumberger commented on #5856
Hi @BenWilson2
Just to let you know: I just tried with mlflow version 1.26.0 and the error is the same.

[2022-05-17 10:36] #5885 closed

[2022-05-17 12:22] semperigrinus commented on #3843
This feature is available on neptune.ai and seems to work quite well there.
I don’t see a reason to stop with images either — for example, I use Vega lite to generate interactive plots, and being able to view them side by side would be a big help.

[2022-05-17 15:14] ahdbilal commented on #5456
Hey folks!

We are looking for early users that can test MLflow Pipelines or/and help us extend it. If you are interested, please use this [form](https://docs.google.com/forms/d/e/1FAIpQLSeYh6-u0qFn7AYv06Kiph09oZq2PW7Vx3Z_qVjFLE5mfMWQFA/viewform?usp=sf_link) to signup.

Thank you for helping us improve Mlflow!

[2022-05-17 19:41] BenWilson2 commented on #5856
Is there a service principal configuration that's somehow not getting access to the underlying object store on Azure blob? Does the same thing happen on ADLSGen2?
It might help to file a ticket with Azure to have them assist on the required configuration to get this to work. I haven't heard any issues from others who use ADLSG2 with proxy access (which is pure anecdotal evidence, to be sure, but I

[2022-05-17 20:23] BenWilson2 commented on #5883
Thanks for the issue report. Could you provide some additional details? Is this through entering a registered model name when using a flavor's `log_model` method, when using the model registry APIs directly, or through renaming within the UI?

[code]
Is this what you're doing?

[2022-05-17 20:26] gvelimir commented on #5883
Directly through the UI, but you described the same thing using the **log_model**.

[2022-05-18 08:14] harupy commented on #5883
I was able to reproduce the issue:

https://user-images.githubusercontent.com/17039389/168991126-3cde5084-8c67-463a-9df4-b309e9353298.mov

[2022-05-18 08:16] harupy commented on #5883
This line throws an error:

https://github.com/mlflow/mlflow/blob/fe6618823a2e6038149ee0da675503d2764552ca/mlflow/utils/search_utils.py#L692-L697

[2022-05-18 08:52] harupy opened #5892 "Remove redundant spaces in multi-line strings"
## Problem

Some multi-line strings contain redundant spaces

https://github.com/mlflow/mlflow/blob/c635d1aa12e1749ab1321128ac61c0f3e6309c1d/examples/multistep_workflow/load_raw_data.py#L13-L16

They need to be fixed as follows:

[code]

## Instructions

1. Visit https://github.com/mlflow/mlflow
2. Press `.`.
3. Enable regular expression search.
4. Type the following in the search box. Note the se

[2022-05-18 08:59] harupy commented on #5892
Please be sure to read https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst#sign-your-work before making a commit.

[2022-05-18 11:35] Nika-St opened #5894 "[BUG] Nested runs not displayed properly"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **MLflow installed from (source or binary)**: binary
- **MLflow version (run ``mlflow --version``)**: 1.22.0
- **Python

[2022-05-18 11:58] Nika-St opened #5895 "[FR] Allow to view more columns for params and metrics"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Currently, mlflow displays only up to 3 columns for parameters and up to 3 columns for metrics, which is extremely limiting.
Viewing multiple columns for both params and metrics would have been so much more useful
![2022-05-18 - Copy](https://user-images.githubusercontent.com/29167311/169033072

[2022-05-18 12:05] Nika-St opened #5896 "[FR] Highlight or filter only different parameters in the 'Compare Runs' functionality"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

The 'Compare Runs' page shows all parameters logged for the runs being compared.
It would be much more convenient if one could filter only those parameters that are different for the given runs or if they were highlighted.

### Motivation

#### What is the use case for this feature?
There is to

[2022-05-18 15:16] grybeck commented on #5860
HI @BenWilson2, I can give that a try when I get a chance

[2022-05-18 23:04] treyworley opened #5899 "[FR] Still show Run ID in the UI when a Run Name is specified"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

When you specify a run name, the run ID is no longer visible in the UI (on neither the Experiment page nor that Run's page). It would be very helpful to keep the Run ID on at least one of those pages for easier access than searching for that run id in the backend database.

### Motivation

####

[2022-05-19 03:24] Clayrisee opened #5901 "[ASK] How do I automatically Log stderr and stdout to MLFlow Tracking Server Artifact?"
Hello MLFlow Team!

I have a question, how can I log stdout and stderr from failed experiment to MLflow tracking server?

Currently, I already tried using nohup command to catch STDERR and STDOUT and store the training log artifact on my tracking server. But, I have an issue differentiating between a running experiment and a failed experiment caused they have the same status which is
FINISHED. is

[2022-05-19 04:24] harupy commented on #5899
Hi @treyworley, showing a run id on the runs page is actually very easy. Here's a screenshot of a quick prototype I implemtend. Would this satisfy your use case?

<img width="1133" alt="image" src="https://user-images.githubusercontent.com/17039389/169203682-d724379f-8329-4da5-b4b7-aa069921cffd.png">

[2022-05-19 09:26] harupy commented on #5896
@Nika-St `mlflow>=1.24.0` supports this feature. Am I missing something?

https://user-images.githubusercontent.com/17039389/169260350-ca20e905-8256-4fa5-8949-af002ebd5660.mov

[2022-05-19 09:26] harupy commented on #5896
@Nika-St `mlflow>=1.24.0` supports this feature. Am I missing something?

https://user-images.githubusercontent.com/17039389/169260350-ca20e905-8256-4fa5-8949-af002ebd5660.mov

[2022-05-19 09:38] harupy commented on #5895
@Nika-St You can view more than 3 parameters in the latest version of MLflow.

https://user-images.githubusercontent.com/17039389/169263159-78cb6487-1586-47f0-8913-7cce401d926a.mov

[2022-05-19 09:41] #5718 closed

[2022-05-19 10:00] harupy opened #5904 "Improve readability of motivation section in feature request"
## Problem

The motivation section in a feature request is a bit difficult to read because the sub section titles and bodies have almost the same font color and size:

<img width="869" alt="Screen Shot 2022-05-19 at 18 55 12" src="https://user-images.githubusercontent.com/17039389/169266862-af0c9b28-e77f-4563-ba73-374c68d17c21.png">

## Solution

We can add `> ` to each sub section title:

[code]

[2022-05-19 10:02] harupy commented on #5904
Please let me know if you have a better idea.

[2022-05-19 11:20] harupy opened #5905 "Remove unnecessary lines in `tests/test_skinny_client_omits_sql_libs.py`"
Make the following changes to `tests/test_skinny_client_omits_sql_libs.py`.

[code]

- `pylint or flake8 disabling is not working` indicates `assert mlflow is not None` is required to make the lint check pass, but it passes without `assert mlflow is not None`.
- `assert sqlalchemy is not None` is not executed because `import sqlalchemy` throws.

[2022-05-19 12:48] Nika-St commented on #5895
Thanks for your response @harupy ! This is nice but one needs to scroll through all the params/samlpes this way. I was meaning the ones "pinned", which you can see all at once.

[2022-05-19 12:49] Nika-St commented on #5896
Oh, thanks a lot @harupy ! We've missed a useful update, then :)

[2022-05-19 12:49] #5896 closed

[2022-05-19 12:59] harupy commented on #5895
Any ideas to improve this?

[2022-05-19 12:59] Jingnan-Jia commented on #5895
@Nika-St I think the current view is already very good. You can view 3 columns at first. And if you need to see more columns you can click the ">" button to expand the `Parameters` or `Metrics`.

I do not think it is possible to view all `Parameters ` and `Metrics` at once if you have, for instance, more than 100 parameters and metrics.

[2022-05-19 13:13] Nika-St commented on #5895
Hi @Jingnan-Jia , sure, it's great - but could be much better :)
I'm surely not suggesting to squeeze all available metrics and params in there, but there's enough space so select up to 6 of both of them to be displayed permanently:
![2022-05-19](https://user-images.githubusercontent.com/29167311/169300828-cbc0b8ed-9291-4901-b14b-78779b5804c5.png)

And when you expand either params or metrics, you

[2022-05-19 13:55] treyworley commented on #5899
Yes, that absolutely satisfies the use case!

[2022-05-19 14:37] harupy commented on #5899
Yes, adding a run ID column is easy but this would decrease the number of parameters or metrics we can view.

[2022-05-19 14:49] harupy commented on #5899
correct.

[2022-05-19 14:56] treyworley commented on #5899
Oh, there is a way to select which columns you would like to see. I totally missed the Columns settings button in the UI. This would be a great feature for us if Run ID was added. The column selector resets each time you reload the UI?

[2022-05-19 15:00] harupy commented on #5899
No, it doesn't. We persist the column selection state using localStorage.

[2022-05-19 15:51] Jingnan-Jia commented on #5895
@Nika-St From you screenshot I started to realize what is your point. You think there is still a lot of space on the right. However it is my first time to see such a layout. My mlflow ui is like [this one](
![image](https://user-images.githubusercontent.com/34941987/169343035-1af13484-ecca-499f-80ff-9b09176a50e3.png)
)

[2022-05-19 16:17] Nika-St commented on #5895
If I knew anything about web development, I would've suggested an idea. So it's much more involved than increasing the number of columns?

[2022-05-19 19:40] temporaer commented on #5699
I understand that there's some effort on the way to make autologging work for vanilla pytorch. While that's in the works, would you be open to simply patching `pytorch.utils.tensorboard.SummaryWriter.add_scalar` for now to provide some bare-bones functionality instead of erroring out when pytorch-lightening is not installed?

[2022-05-19 20:45] herrmann commented on #3413
The fix would be using Pandas >= 1.4.0 (https://github.com/pandas-dev/pandas/issues/36271), but I haven't checked if it breaks MLflow.

[2022-05-19 21:16] BenWilson2 commented on #5901
Have you tried throwing after catching the exception within the mlflow.start_run context wrapper if you'd like the run to be classified as failed so that you get the indication of a failed run instead of using the no-hang-up exception eating at the close of the context reference?

[2022-05-19 23:34] harupy opened #5913 "Wrap `.[extras]` with single quotes"
The following pip install command in [CONTRIBUTING.rst](https://github.com/mlflow/mlflow/blob/master/CONTRIBUTING.rst#manual-python-development-environment-configuration):

[code]

fails on zsh with the following error:

[code]

As explained in [zsh: no matches found: requests[security]](https://stackoverflow.com/questions/30539798/zsh-no-matches-found-requestssecurity), `.[extras]` needs to be qu

[2022-05-20 00:24] #5904 closed

[2022-05-20 00:25] #5905 closed

[2022-05-20 00:25] #5882 closed

[2022-05-20 01:44] harupy commented on #5899
@treyworley I filed #5907 to show a run ID on the Run page.

We'll address this in a different PR :)

[2022-05-20 05:14] adamreeve commented on #5894
Hi @Nika-St, you're using quite an old version of mlflow. Can you reproduce this with 1.26.0? 1.26.0 included some changes I made to the runs grid, so this issue caught my eye, but I think nested runs were already working correctly before 1.26.0.

[2022-05-20 07:26] harupy opened #5915 "Fix typos in `tests/generate_ui_test_data.py`"
Fix the following lines:

https://github.com/mlflow/mlflow/blob/0a9ea27b3cc11d4be90eb698cc689fffc88494fb/tests/generate_ui_test_data.py#L102

https://github.com/mlflow/mlflow/blob/0a9ea27b3cc11d4be90eb698cc689fffc88494fb/tests/generate_ui_test_data.py#L123

[2022-05-20 08:56] Jingnan-Jia opened #5917 "[BUG] How to set sqlite database backend mlflow in computing cluster?"
### Discussed in https://github.com/mlflow/mlflow/discussions/5908

<div type='discussions-op-text'>

<sup>Originally posted by **Jingnan-Jia** May 19, 2022</sup>
I use cluster (10 GPU computing nodes, 20 CPU computing nodes, 1 login nodes, 1 management node, with the shared file system) in my daily life. I found mlflow is very useful and convenient to track the experiments run on different comput

[2022-05-20 11:27] #5680 closed

[2022-05-20 14:12] Nika-St commented on #5894
Thanks @adamreeve ! I requested an update from the admin.

[2022-05-20 14:16] ognis1205 commented on #2931
Hi, guys. If no one is working on it and the issue is still important. I would like to work on it.

[2022-05-20 14:27] treyworley commented on #5899
Awesome, thank you! Could you please link the different PR for Column selector on this issue as well? Much appreciated

[2022-05-20 14:29] PhilipMay commented on #2931
That would be very nice. Thanks @ognis1205

[2022-05-20 14:30] harupy commented on #5899
Sure, we'll link it once it's created :)

[2022-05-20 15:13] harupy commented on #5915
If you don't mind, please let us know how you found this issue.

[2022-05-20 16:55] sebastien-genete opened #5922 "[BUG] mlflow run: pip option "--index-url" not copied to the generated requirements.txt file"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 20.04
- **MLflow installed from (source or binary)**: pip install
- **MLflow vers

[2022-05-20 16:58] BFAnas opened #5923 "Two models one code name"
### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**: custom code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 20.04
- **MLflow installed from (source or binary)**: source
- **MLflow version (run ``mlflow --version``)**: 1.23.

[2022-05-20 18:18] sebastien-genete opened #5927 "[FR] reduce docker image size"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

The command
`mlflow models build-docker -m "runs:/$(RUN_ID)/sklearn-model/" -n "my-image-name" --env-manager virtualenv`
generate an docker image.

The size is about 3 GB. It's a pain point to use these big images in the cloud at large scale.
With the en

[2022-05-20 19:24] ianstewart4 commented on #5915
Hello, I can fix the typos if you'd like

[2022-05-21 05:46] #5915 closed

[2022-05-21 16:02] #5913 closed

[2022-05-22 22:05] edemattos opened #5931 "[FR] `log_text` support for arbitrary plain text file extensions"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

The UI does not render plain text for artifacts logged with a custom file extension. `MLflow.log_text()` will write the file to the `mlruns` directory and appear in the UI, but the file contents are not displayed. Just the message: "Select a file to prev

[2022-05-23 02:09] #5850 closed

[2022-05-23 05:14] harupy commented on #5895
@Nika-St Can you select the columns you want to see using the column selector?

<img width="411" alt="image" src="https://user-images.githubusercontent.com/17039389/169748097-4874717e-dc77-4c3b-84cc-98f3f70df4bd.png">

[2022-05-23 05:30] harupy opened #5933 "Enable problem matcher for `black`"
## Task

Enable a [problem matcher](https://github.com/actions/toolkit/blob/main/docs/problem-matchers.md) for black to mark unformatted python scripts:

## Instructions

1. Create `.github/workflows/matchers/black.json` that looks like this:

[code]

2. Make the following changes to enable the problem matcher for black:

[code]

## Related PR

https://github.com/mlflow/mlflow/pull/5639

[2022-05-23 06:06] Sumanth077 commented on #5680
Hi @harupy is this Issue still opened?

[2022-05-23 06:12] Sumanth077 commented on #5933
Hi @harupy I would like to work on this.

[2022-05-23 06:15] harupy commented on #5680
Hi @Sumanth077, I should've informed you but #5914 replaced all the `assertRaises` calls.

[2022-05-23 06:16] harupy commented on #5933
@Sumanth077 Thanks, looking forward to your PR :)

[2022-05-23 06:37] harupy opened #5934 "Fix shebang in `hooks/prepare-commit-msg`"
`hooks/prepare-commit-msg` throws the following error because of an incorrect shebang:

[code]

https://github.com/mlflow/mlflow/blob/7b87441a6d3061eccbb605254686decd5aa78288/hooks/prepare-commit-msg#L1

`#!/bin/sh` needs to be fixed to `#!/bin/bash` as follows:

[code]

[2022-05-23 07:28] sebastien-genete commented on #5922
@harupy Thank you ! It works now with conda_env=...

[2022-05-23 07:28] Nika-St commented on #5895
@harupy , yes

[2022-05-23 07:29] harupy commented on #5922
@sebastien-genete Thanks for the response, glad specifying `conda_env` solved the issue :)

[2022-05-23 07:43] Nika-St commented on #5895
@harupy , it doesn't, unfortunately: I can select params and metrics, but only up to 3 of them can be shown permanently. If I click the arrow button next to Params or Metrics in the table header, all of them show up, hiding everything else to the right (as in the second screenshot [here](https://github.com/mlflow/mlflow/issues/5895#issuecomment-1131673045)), so looking at more than 3 relevant para

[2022-05-23 07:51] harupy commented on #5895
<img width="1288" alt="image" src="https://user-images.githubusercontent.com/17039389/169770222-f3c7e784-6ecb-4723-8e70-2561bfb00eb7.png">

Can you de-select some columns after clicking the arrow button?

[2022-05-23 08:09] Nika-St commented on #5895
Oh, this actually worked! The only thing is, when you go to an individual experiment after setting up columns and then come back, the widths are all lost and have to be readjusted to make them fit on the page again. Is it possible to make them persist?

For example, I adjust the columns to be displayed:
![2022-05-23](https://user-images.githubusercontent.com/29167311/169773411-fff049d8-7ec1-437e-a

[2022-05-23 08:10] harupy commented on #5895
I think that's challenging.

[2022-05-23 08:12] harupy commented on #5895
Maybe it's possible: https://www.ag-grid.com/react-data-grid/column-state/

[2022-05-23 09:38] harupy commented on #5933
@Sumanth077 Assigned this task to you.

[2022-05-23 11:28] Nika-St commented on #5895
Also, after you refresh the page, often not only the column widths change, but also parameters and metrics get selected which I haven't selected. I can see the logic, when a new run is logged with new params, but it also happens with existing params and metrics that weren't selected but become selected after a page is refreshed. Not sure if it's a bug

[2022-05-23 11:46] harupy commented on #5895
Can you record steps to reproduce the issue as a video and attach it here?

[2022-05-23 12:36] anupash147 opened #5936 "Multiple plugins need in_context each; doing so causes error"
Hello,

I have below code
[code]

Also have a usecase that implements 2 mlflow plugins, as in 1 plugin named mlflow_plugin and tries to override the RequestHeaderProvider & RunContextProvider, so the setup.py looks something like this
[code]

When i run this plugin, i can clearly see the the runContext gets activated but does not cover the RequestHeaderProvider; only one can work at a time. My set

[2022-05-23 13:15] Nika-St commented on #5895
It would take a while to install a recording tool etc. What I noticed in the meantime is that this behavior takes place when I launch a new run and refresh the page (even though that run doesn't even log some of the parameters which became checked after refreshing the page)

[2022-05-23 22:59] harupy commented on #5922
We currently don't support this.

[2022-05-24 01:30] BenWilson2 commented on #5917
Could you try starting the tracking server's host as, instead of (default) `--host localhost --port 5000` instead set it to `--host 0.0.0.0 --port 5000` so that multiple machines can interface with the server on that port?

[2022-05-24 01:34] BenWilson2 commented on #5923
Hi @BFAnas thank you for reporting this interesting use case. Please take a look at my comments on your PR.

[2022-05-24 01:46] BenWilson2 commented on #5936
Have you tried to write local tests to validate each custom plugin to validate that they pass the suites that you're subclassing from the abstract implementation? I'd start there for troubleshooting.

[2022-05-24 01:50] BenWilson2 commented on #5927
Hi @sebastien-genete thank you for raising this. As you indicated, you seem to wish to see if you can tackle creating a trimmed-down image for serving. Would you be willing to test out those first 3 ideas:
* Run aggregation
* tmp file removal (although docker typically cleans up after itself with staged execution)
* a lightweight starting image
and report testing results with what you find?

[2022-05-24 06:36] manishpyy commented on #5722
I'm using python. How do we obtain the bearer token in python for a managed identity/service principal

[2022-05-24 06:37] manishpyy commented on #5722
python

[2022-05-24 07:55] anupash147 commented on #5936
I tried doing that, i keep getting a warning ```UserWarning: Failure attempting to register context provider "file-plugin": partially initialized module ``` Although, i checked everything.

[2022-05-24 09:11] aditya-iyengar-rtl-de commented on #5819
@dbczumar : This feature already seems to be implemented for **"Filestore"**.

I tested the file store by running a mlflow server locally while passing /mlruns as a value to `--backend-store-uri` i.e `mlflow ui --backend-store-uri <path_to_folder>/mlruns`). I created experiments and deleted few experiments. These deleted experiments will be stored in `/mlruns/.trash` folder.

I restored these by C

[2022-05-24 11:42] dingobar commented on #2564
Hi, why does mlflow need git installed?

[2022-05-24 18:04] BenWilson2 commented on #5936
Hi @anupash147 I'm fairly certain that the only way that you can get that exception is through a circular reference. Can you verify that they name of your `.py` files is not shadowing some other namespace?

[2022-05-24 21:10] akshaya-a commented on #5722
@manishpyy  I recommend getting started with this credential class: https://docs.microsoft.com/en-us/python/api/azure-identity/azure.identity.defaultazurecredential?view=azure-python

and [looking at the .get_token() method](https://docs.microsoft.com/en-us/python/api/azure-identity/azure.identity.defaultazurecredential?view=azure-python#azure-identity-defaultazurecredential-get-token) on it.

Azu

[2022-05-25 00:01] santiagxf commented on #5722
@manishpyy we just added an example about [how to use the MLflow API in Azure ML in Python (Jupyter Notebook)](https://github.com/Azure/azureml-examples/blob/santiagxf/mlflow-notebooks/notebooks/using-mlflow/using-rest-api/using_mlflow_rest_api.ipynb).

[2022-05-25 00:09] dbczumar commented on #5931
@sunishsheth2009 @xanderwebs Do you have any thoughts here about rendering of arbitrary artifacts? Is it safe to attempt to render them as text?

[2022-05-25 03:14] phelps-matthew commented on #1550
The primary quantities that have a demand for async logging tend to be ones that are not simple parameters and metrics. For my use case, `MlflowClient().log_batch()` is clearly insufficient. I needed a manner to log images, plots, and analytics much faster.

@you-n-g 's solution was of immense help. I added some multi-threading capability to their code and simplified a few downstream patterns, for

[2022-05-25 05:39] Clayrisee commented on #5901
Yeah, it is already solved using this method! Thank for ur reply Ben

[2022-05-25 05:39] #5901 closed

[2022-05-25 05:42] Clayrisee commented on #5901
For anyone who wonders how to log stderr and stdout, you can use this implementation.

1. Run mlflow project using nohup.
[code]
2. Log the model using this code.

[code]

[2022-05-25 09:17] Jingnan-Jia commented on #5917
@BenWilson2 It does not work.

If I set `mlflow server --backend-store-uri=sqlite:///mlrunsdb15.db --default-artifact-root=file:mlruns --host 0.0.0.0 --port 5000` on the linux terminal, I have two choices in python script:
1. `mlflow.set_tracking_uri('http://localhost:5000')`, then error was
[code]

2. `mlflow.set_tracking_uri('sqlite:///mlrunsdb15.db')`, then the code can run for several minutes

[2022-05-25 09:26] Jingnan-Jia commented on #5917
@BenWilson2 Thanks ! It started to work when I set `mlflow.set_tracking_uri('http://login-ip-address:5000')`

[2022-05-25 09:28] #5917 closed

[2022-05-25 13:40] kvaithin commented on #5934
Hi could I pick this up pls.

[2022-05-25 13:46] harupy commented on #5934
@kvaithin yes!

[2022-05-25 15:25] #5934 closed

[2022-05-25 19:10] BenWilson2 commented on #5917
Awesome! Glad that you're up and running! :)

[2022-05-25 23:12] harupy commented on #5933
@Sumanth077 Any updates?

[2022-05-26 05:11] serena-ruan commented on #5862
@dbczumar @harupy Kindly ping on this 😃

[2022-05-26 07:46] superkido511 commented on #5110
@maitre-matt I got this problem too

[2022-05-26 09:54] pedrety opened #5948 "[FR] Add more file formats to artifact section UI."
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

With this feature there are files that could be check in the browser itself, like this [`yolo.cfg`](https://raw.githubusercontent.com/AlexeyAB/darknet/master/cfg/yolov4.cfg) files, which are just plain text but with a different format.

I guess many othe

[2022-05-26 09:59] diego-pm opened #5949 "Can't import mlflow due to protobuf update to version 4.21 [BUG]"
### System information

mlflow version: 1.26
python version: 3.7

### Describe the problem

Cannot import mlflow with the latest dependency of protobuf (4.21)

### Tracking information

_No response_

### Code to reproduce issue

[code]

### Other info / logs

[code]

### What component(s) does this bug affect?

- [ ] `area/artifacts`: Artifact stores and artifact logging
- [ ] `area/build`: Build

[2022-05-26 10:05] harupy commented on #5949
@diego-pm We're aware of this issue. Can you downgrade `protobuf` or set `PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python`?

[2022-05-26 10:47] data-science-mango commented on #5949
Same for mlflow version 1.11.0. I have set the protobuf to 3.2.0 and works. But I think that mlflow should have all its requirements freezed to and specific version.

[2022-05-26 11:48] diego-pm commented on #5949
With protobuf==3.20.1 it works fine. I guess the quick solution would be to set the requirement of protobuf to <4.0.0 in the `setup.py` file.

[2022-05-26 14:24] #5949 closed

[2022-05-26 14:49] Sumanth077 commented on #5933
@harupy working on it.

[2022-05-26 16:55] Sumanth077 commented on #5933
Hi @harupy when I clone the repository to my local machine, to create black.json file, I didn't get the .github file, can you kindly help me with this as I am a beginner.

[2022-05-27 05:37] Ankur-singh commented on #4154
Is anyone working on this ? I am interested in GCS integration.

[2022-05-27 06:28] harupy opened #5960 "Update `System information` section and add `MLflow version` section in `bug_report_template.yaml`"
We want to update [`bug_report_template.yaml`](https://github.com/mlflow/mlflow/blob/master/.github/ISSUE_TEMPLATE/bug_report_template.yaml) to make it match [`ui_bug_report_template.yaml`](https://github.com/mlflow/mlflow/blob/master/.github/ISSUE_TEMPLATE/ui_bug_report_template.yaml):

### bug_report_template.yaml

<img width="988" alt="image" src="https://user-images.githubusercontent.com/17039

[2022-05-27 14:57] shenwpo opened #5963 "[BUG] The intermediate state of MLflow is incorrect."
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### System information

- **Have I written custom code**: [test code](https://github.com/shenwpo/test_mlflow/tree/main)
- **OS Platform and Distribution)**: Linux Ubuntu 20.04
- **MLflow installed from (source or binary)**: pip
- **MLflow version (run ``mlflow --version``)**: 1.26.0
- **Python version**: 3.8
- **yarn v

[2022-05-27 15:59] #5923 closed

[2022-05-27 18:40] buhrrr commented on #5949
Can we reopen this issue for an actual fix like pinning the requirement in `setup.py` to `<4.0.0`?

[2022-05-27 22:26] mdamircoder opened #5966 "Parameterize saved_code_subpath in mlflow.pyfunc.save_model() [FR]"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

You should make "**_saved_code_subpath_**" variable customizable in  **_mlflow.pyfunc.model._save_model_with_class_artifacts_params()_**

mlflow.pyfunc.save_model() ==> _save_model_with_class_artifacts_params()
In "_save_model_with_class_artifacts_params

[2022-05-28 03:09] harupy commented on #5933
@Sumanth077 It looks like your fork (https://github.com/Sumanth077/mlflow) does have the `.github` directory.

[2022-05-28 04:35] Sumanth077 commented on #5933
Thank you @harupy for your reply. Yeah, I have created a file black.json in the specified folder and added the code.
and also added - echo "::add-matcher::.github/workflows/matchers/black.json"
in "master.yml"

<img width="1440" alt="Screenshot 2022-05-28 at 10 00 49 AM" src="https://user-images.githubusercontent.com/66694715/170810034-e2e87ced-4a72-4a63-813c-9879f24bcdf2.png">

Could you kindly e

[2022-05-28 05:30] harupy commented on #5933
Can you see https://opensource.com/article/19/7/create-pull-request-github and create a pull request?

[2022-05-28 05:39] SaumyaBhushan commented on #5960
@harupy I would like to work on this issue.

[2022-05-28 05:39] harupy commented on #5960
@SaumyaBhushan thanks!

[2022-05-28 05:53] ognis1205 commented on #2931
A little update https://github.com/mlflow/mlflow/discussions/5967

[2022-05-28 06:56] wyli opened #5968 "[BUG] compatibility with protobuf 3.15?"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### System information

- **Have I written custom code (as opposed to using a stock example script provided in MLflow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 20.04.1 LTS
- **MLflow installed from (source or binary)**:
pip
- **MLflow version (run ``mlflow --version``)**:
1.26.1
- **Pyth

[2022-05-28 10:25] #5960 closed

[2022-05-28 12:14] harupy commented on #5968
@wyli I wasn't able to reproduce the issue:

[code]

works fine. Are you sure you're using `protobuf 3.15.6`?

[2022-05-28 12:19] wyli commented on #5968
Sorry I forgot to mention that the flag `export PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python` is used when launching the tests. I'll look into a minimal example to reproduce this.

[2022-05-28 12:37] harupy commented on #5968
[code]

can reproduce the issue.

[2022-05-28 12:43] harupy commented on #5968
https://github.com/mlflow/mlflow/pull/5970 indicates `protobuf>= 3.19.4` works with `PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python`.

[2022-05-28 13:03] harupy commented on #5963
@shenwpo I found you called `mlflow.end_run()` in [this line](https://github.com/shenwpo/test_mlflow/blob/47fdf86010d4aedca03fe90f3fd5c148a1a3d4db/train.py#L27), which sets the runs status to `FINISHED`.

[2022-05-28 13:09] harupy commented on #5968
Or you can pin `protobuf<4.0.0` and remove `PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION`.

[2022-05-28 13:37] harupy commented on #5948
relates to #5931

[2022-05-28 13:56] harupy commented on #5966
Hi @mdamircoder, can you share the code that can reproduce the issue?

[2022-05-28 13:57] harupy commented on #5966
Can replace `code` with a random string?

[code]

[2022-05-28 14:34] harupy commented on #5949
@buhrrr We updated proto code. MLflow 1.26.1 should work with `protobuf>=3.12`.

[2022-05-28 14:36] wyli commented on #5968
Thanks @harupy for the suggestions. monai doesn't directly use protobuf, it uses mlflow and mlflow requires protobuf. Ideally we don't pin down protobuf version from monai's perspective... Using  mlflow v1.26.0 everything was fine, and if the issue reported here is expected as of version 1.26.1, from monai's perspective we'll think about some workaround...

[2022-05-28 14:39] harupy commented on #5968
Is there a reason you're using protobuf 3.15.6?

[2022-05-28 14:44] wyli commented on #5968
No specific reason, it happens to be in a specific version of a pytorch docker image that we wanted to support. And the flag was introduced in the ci testing because other recent compatibility issues in pytorch/tensorboard when protobuf 4.21 is out.

[2022-05-28 22:48] ehddnr301 commented on #2564
The git commit hash value is also logged in the mlflow run, so it seems that git is needed
This is a problem that I encountered when I was logging to Mllfow while inside the docker

[2022-05-29 02:40] harupy commented on #5968
Btw why do you use `PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python` in `protobuf==3.15.6`? It's required when using `protobuf>4.0.0` with proto code generated in `<3.19.0`.

[2022-05-29 03:26] harupy opened #5973 "Replace `lr` with `learning_rate` in `tests/keras/test_keras_autolog.py`"
`lr` for `Adam` is deprecated and needs to be replaced with `learning_rate`:

https://github.com/mlflow/mlflow/blob/ba6312ab000ddd165b0973342aec11760f6879a5/tests/keras/test_keras_autolog.py#L55

https://github.com/mlflow/mlflow/runs/6622093586?check_suite_focus=true#step:12:83

[code]

If you've never created a PR before, https://opensource.com/article/19/7/create-pull-request-github might be hel

[2022-05-29 03:35] harupy commented on #5933
@Sumanth077 Looks like you're working on the master branch. We recommend a pull request be filed from a non-master branch.

[2022-05-29 03:56] harupy commented on #5968
https://github.com/Project-MONAI/MONAI/blob/61a0dc35b8a5edf78487b30c02c7aa0e51fc3409/runtests.sh#L18

I think you can skip this line in `protobuf < 4.0.0`.

[2022-05-29 04:58] ognis1205 commented on #3032
Hi @harupy
I'm working on https://github.com/mlflow/mlflow/issues/2931 and would like to access your colab notebook to investigate and reproduce the issue, so if you don't mind, could you please grant access to the notebook? Thank you.

[2022-05-29 05:43] shenwpo commented on #5963
Thanks for replying, I know that. But how do you get a `failed` state？

[2022-05-29 06:13] harupy commented on #5963
You can use `with mlflow.status_run()` to terminate the run with `failed` status.

[code]

[2022-05-29 07:02] harupy opened #5977 "Remove `from StringIO import StringIO`"
Remove `from StringIO import StringIO` because we no longer support Python 2.

https://github.com/mlflow/mlflow/blob/e40493a03088e2f939a9d5f0e409207871e983a1/mlflow/pyfunc/scoring_server/__init__.py#L48

https://github.com/mlflow/mlflow/blob/1e2b4ed051bc760fd3e7d69149e1fbc1f7928edf/tests/models/test_cli.py#L18

https://github.com/mlflow/mlflow/blob/ba6312ab000ddd165b0973342aec11760f6879a5/tests/py

[2022-05-29 07:13] harupy opened #5978 "Fix typos"
🚨 When you work on this issue, please make sure the following 🚨

- Follow https://opensource.com/article/19/7/create-pull-request-github if you're unfamiliar with how to create a pull request on GitHub.
- Create a PR from a non-master branch.
- Do not create commits on GitHub UI. [The DCO bot](https://github.com/apps/dco) doesn't work well with commits created on GitHub UI.
- Sign off your commits

[2022-05-29 07:54] harupy commented on #5978
Ping me if you find new typos.

[2022-05-29 09:32] punitkashyup commented on #5973
Can i work on this?

[2022-05-29 09:35] harupy commented on #5973
@punitkashyup Thanks for the comment, but @EB-Joel is already working on this.

[2022-05-29 09:43] harupy commented on #5973
@punitkashyup Would you be interested in working on #5977?

[2022-05-29 09:45] punitkashyup commented on #5973
Yes. i can

[2022-05-29 09:48] harupy commented on #5973
Awesome, can I post a comment on #5977 so we can assign it to you?

[2022-05-29 09:50] punitkashyup commented on #5977
Yes I can work on this . Pls assign

[2022-05-29 09:52] punitkashyup commented on #5978
Can i also work on this?

[2022-05-29 09:53] harupy commented on #5977
@punitkashyup thanks, please make sure to take a look at the notes in #5978.

[2022-05-29 09:54] punitkashyup commented on #5977
Okay!

[2022-05-29 10:01] harupy commented on #5978
@punitkashyup yes!

[2022-05-29 10:01] punitkashyup commented on #5978
Thanks

[2022-05-29 10:03] harupy commented on #5978
@punitkashyup please tell me which item you  want work on.

[2022-05-29 10:04] punitkashyup commented on #5978
Anyone.

[2022-05-29 10:07] harupy commented on #5978
@punitkashyup Assigned the first item.

[2022-05-29 10:40] Jingnan-Jia opened #5979 "[BUG] tracking metrics in multiple threadings style."
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS 7.7
- **Python version**:  3.8
- **yarn version, if running the dev UI**:

### Describe the problem

I want to monitor GPU and CPU usage using mlflow. I used a seperate thread to monitor GPU and CPU

[2022-05-29 13:19] Yash-Var commented on #5973
I want to work on it

[2022-05-29 13:41] elk15 commented on #5978
@harupy I'd like to work on resposne -> response.

[2022-05-29 13:57] harupy commented on #5978
@elk15 Thanks, assigned!

[2022-05-29 14:56] #5977 closed

[2022-05-29 15:28] #5973 closed

[2022-05-29 15:29] ognis1205 commented on #3032
@harupy
Sorry to bother you again, I wrote my own notebook to investigate and/or reproduce the issue.
By the way, may I ask which committer is responsible for https://github.com/mlflow/mlflow/issues/2931 ?
Or should I ask this question in Slack channel or somewhere? @AveshCSingh seems not active lately.
I need to discuss the implementation strategy to work on. Thank you.

[2022-05-29 15:44] harupy commented on #3032
@ognis1205

Granted access to the notebook:
https://colab.research.google.com/drive/1ws_i1Lu6Gx6_8WWEMzv0kOPlL7tAEvQJ?userstoinvite=shingo.okawa.g.h.c%40gmail.com&actionButton=1#scrollTo=1Z7nFwhJRYz2

I can take a look.

[2022-05-29 15:48] ognis1205 commented on #3032
@harupy
I really appreciate your co-operation. Thank you!

[2022-05-29 18:17] SaumyaBhushan commented on #5933
@Sumanth077 are you still working on it?

[2022-05-29 18:37] leweex95 opened #5985 "[BUG] Loading mlflow model using spark_udf fails on Databricks"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.20.2

### System information

- **Python version**: 3.8.2.
- **Databricks ML Runtime version**: 9.1.

### Describe the problem

I'm working on Databricks with ML Runtime 9.1 and Mlflow, to build a simple training & inference pipeline, by logging trained models to Mlflow's Model Registry and retrie

[2022-05-29 20:12] jhallard commented on #5949
Given that `mlflow==1.26.1` isnt released yet, how do I fix this for the `mlflow sagemaker build-and-push-container` command? It appears to just install the latest protobuf under the hood while constructing the container which means it doesn't use my system protobuf

[2022-05-29 23:24] harupy commented on #5949
@jhallard  mlflow 1.26.1 is released.

[2022-05-29 23:25] seyyidibrahimgulec commented on #5978
@harupy I'd like to work on comperator -> comparator

[2022-05-29 23:56] harupy commented on #5978
@seyyidibrahimgulec Thanks, assigned!

[2022-05-30 00:07] seyyidibrahimgulec commented on #5978
@harupy Thanks

[2022-05-30 00:30] harupy commented on #5985
Hi @leweex95, are you sure you're using `mlflow == 1.20.2`? Your traceback contains code in `mlflow >= 1.25.0`.

[2022-05-30 00:41] harupy commented on #5985
Somebody may have run a shell command that looks like this on your cluster:

[code]

[2022-05-30 01:09] #5933 closed

[2022-05-30 01:27] harupy commented on #5855
@trillionmonster gentle ping

[2022-05-30 01:29] Sumanth077 commented on #5933
Thank you @harupy for the opportunity to work on this issue. I might not have submitted the PR but I learned a lot and will try to contribute more in the future.

[2022-05-30 01:37] harupy commented on #5933
@Sumanth077 You're welcome :) Thanks for working on this issue!

[2022-05-30 03:35] ognis1205 commented on #2931
UPDATE: (cc @harupy )

Here is what I am planning to do. In accordance with what @AveshCSingh mentioned above:

(1) Search all `Tag` classes in the mlflow repository and list them up here after the investigation.
(2) Investigate all relevant validation functions in
https://github.com/mlflow/mlflow/blob/3936705d9a41ada8e526c7981bb0a119862d53c3/mlflow/utils/validation.py#L1-L3
and list them up here

[2022-05-30 06:08] harupy opened #5987 "Merge pytest commands in `dev/run-python-skinny-tests.sh`"
_Notes: When you work on this issue, please make sure the following:_

- Follow https://opensource.com/article/19/7/create-pull-request-github if you're unfamiliar with how to create a pull request on GitHub.
- Create a PR from a non-master branch.
- Do not create commits on GitHub UI. [The DCO bot](https://github.com/apps/dco) doesn't work well with commits created on GitHub UI.
- Sign off your c

[2022-05-30 06:12] harupy commented on #5987
`pytest tests/test_skinny_client_omits_sql_libs.py` and `pytest tests/test_skinny_client_omits_data_science_libs.py` should be executed separately.

[2022-05-30 06:55] #5963 closed

[2022-05-30 07:09] leweex95 commented on #5985
Hi @harupy
Unfortunately, that's not the case. I checked mlflow version inside of the notebook where I was running the above commands, and it matched the version that comes preinstalled on Databricks ML Runtime 9.1, version 1.20.2.
I did run pip install commands earlier on the cluster though, that updated mlflow to a newer version - but I have terminated and restarted the cluster many times since

[2022-05-30 07:13] harupy commented on #5985
@leweex95 What does the following command print out?

[code]

[2022-05-30 07:38] leweex95 commented on #5985
@harupy the output is:
[code]

[2022-05-30 07:42] harupy commented on #5985
Is the inference notebook still failing?

[2022-05-30 09:05] leweex95 commented on #5985
Very interesting - it does run successfully at this time. I'll need to perform further investigations on what might have gone wrong, as I'm very certain the mlflow version was not upgraded from the default one of 1.20.2 that comes preinstalled with Databricks runtime. Strange!

[2022-05-30 09:37] SaumyaBhushan commented on #5987
Hey @harupy I would like to work on this issue.

[2022-05-30 09:38] harupy commented on #5987
@SaumyaBhushan Thanks, go ahead!

[2022-05-30 09:49] harupy commented on #5985
@leweex95 Are you using your cluster on your own? or sharing it with somebody in your team?

[2022-05-30 09:52] leweex95 commented on #5985
@harupy just myself, it's a personal cluster only I have access to

[2022-05-30 10:23] sniafas opened #5989 "[BUG] sqlite for backend store"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.26

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 20.04
- **Python version**: 3.8
- **yarn version, if running the dev UI**:

### Describe the problem

Upgraded from 1.23, setting sqlite as backend store an

[2022-05-30 10:29] harupy commented on #5989
@sniafas What version of `sqlalchemy` are you using?

[2022-05-30 10:39] harupy commented on #5985
Strange, please let us know if you find a way that can constantly reproduces the issue.

[2022-05-30 10:39] harupy commented on #5989
I was able to reproduce the same issue with this command:

[code]

[2022-05-30 10:54] sniafas commented on #5989
Same 1.3.24. Do you think is a bug?

[2022-05-30 11:03] #5987 closed

[2022-05-30 11:30] sainathpawar commented on #2492
I am also getting same error, But I am running command mlflow command on Azure ML cluster. I cant access cluster via ssh

image = os.system(f"mlflow models build-docker -m {model_path} -n {model_name}")

Any quick suggestion appreciate.

==============================================
[stderr]2022/05/30 11:14:01 INFO mlflow.models.cli: Selected backend for flavor 'python_function'
[stderr]2022/05/3

[2022-05-30 11:50] harupy commented on #5989
@sniafas

This looks like a bug to me. MLflow >= 1.24 uses `sqlalchemy.future.select` that sqlalchemy < 1.4 doesn't support.

[2022-05-30 11:50] harupy commented on #5989
https://github.com/mlflow/mlflow/pull/5382 added `from sqlalchemy.future import select`.

[2022-05-30 12:07] harupy commented on #5989
@sniafas One quick solution is to upgrade `sqlalchemy`.

[2022-05-30 12:08] harupy commented on #5989
Replaced `sqlalchemy.future.select` with `sqlalchemy.sql.expression` in #5990, but didn't work in `sqlalchemy<1.4.0`.

[2022-05-30 12:13] harupy commented on #5989
There are two options to resolve this issue:

1. Pin `sqlalchemy`.
2. Find a workaround.

[2022-05-30 12:14] sniafas commented on #5989
Tried with 1.4 and solved the issue? should I try i PR ?

[2022-05-30 12:14] harupy commented on #5968
@wyli Any updates?

[2022-05-30 12:18] harupy commented on #5989
The issue is [sqlalchemy 1.3.24](https://pypi.org/project/SQLAlchemy/1.3.24) is not that old (Released: Mar 31, 2021). We might need to keep mlflow compatible with it.

[2022-05-30 12:28] harupy commented on #5989
It'd be nice if we could find a workaround.

[2022-05-30 12:45] harupy opened #5993 "Call `super()` without arguments"
🚨 When you work on this issue, please make sure the following 🚨

- Follow https://opensource.com/article/19/7/create-pull-request-github if you're unfamiliar with how to create a pull request on GitHub.
- Create a PR from a non-master branch.
- Do not create commits on GitHub UI. [The DCO bot](https://github.com/apps/dco) doesn't work well with commits created on GitHub UI.
- Sign off your commits

[2022-05-30 12:49] wyli commented on #5968
@harupy just wanted to confirm the issue reported here is a bug since 1.26.1 and won't be fixed in the near future in. Mlflow? (For monai related fixes I think it'll be great to discuss them in monai's repo.)

[2022-05-30 12:52] harupy commented on #5968
I think this is a bug in protobuf. Proto code generated in protoc 3.19.4 doesn't work when `PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python` is defined.

[2022-05-30 12:54] harupy commented on #5968
MLflow 1.26.1 works in `protobuf > 3.12.0` without `PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python`.
MLflow 1.26.1 works in `protobuf >= 3.19.4 with `PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python`.

[2022-05-30 12:57] wyli commented on #5968
Thanks for confirming.

[2022-05-30 12:58] fa9r opened #5994 "[BUG] sklearn.autolog fails without matplotlib installed"
### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### MLflow version

1.26.1.dev0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS (with M1 chip)
- **Python version**: 3.8.13
- **yarn version, if running the dev UI**:

### Describe the problem

Since release 1.26.0, mlflow.sklearn.autolog fails to log experiments if

[2022-05-30 14:14] idlefella opened #5996 "[FR] Delete artifact over HTTP is not implemented"
### Willingness to contribute

Yes. I can contribute this feature independently.

### Proposal Summary

The `http_artifact_repository` doesn't implement the `delete_artifacts` method, therefore it's not possible to permanently delete artifacts (for instance with the garbace collector `mlflow gc`).

### Motivation

Delete artifacts with e.g. `mlflow gc`.

The abstract `ArtifactRepository` defines a

[2022-05-30 15:44] #5968 closed

[2022-05-30 17:50] cloderic commented on #5949
I tend to agree with @buhrrr this will break again if/when protobuf decides to publish a breaking change. In general it's not a good idea to depends on "any future version of an external library". Why not change it to `protobuf~=3.12` ?

[2022-05-30 22:12] dkapur17 opened #5998 "[BUG] mlflow.projects.run can't recognize local URI"
### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### MLflow version

1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **Python version**: 3.10.4
- **yarn version, if running the dev UI**: N/A

### Describe the problem

I'm recreating the hyperparameter optimization project from https://github.com/mlfl

[2022-05-30 22:16] dkapur17 commented on #5998
The problem seems to be the regular expression matching for Git URIs on line 34 of `mlflow/projects/utils.py`.

[code]

Notice that this matches absolute file paths in Windows too:

[code]

The solution would be to use a more verbose Regex Pattern, say like the one suggested [here](https://stackoverflow.com/questions/2514859/regular-expression-for-git-repository):

[code]

This needs a pull reques

[2022-05-30 22:28] Regis-Caelum commented on #5993
Hey @harupy  I would like to work on this issue,

[2022-05-30 23:30] harupy commented on #5993
@Regis-Caelum thanks!

[2022-05-30 23:47] harupy commented on #5978
@nitin154 Thanks, assigned :)

[2022-05-31 00:43] harupy commented on #5949
The same thing can happen for any python package that MLflow depends on. For example, pandas might add a breaking change in the next version. We could pin MLflow's dependencies, but it makes mlflow installation difficult to succeed due to requirement collisions (e.g. `mlflow` requires `protobuf~=3.12` but `tensorflow` requires `protobuf>=4.0.0`).

[2022-05-31 00:57] harupy commented on #5994
@fa9r Thanks for filing the PR :)

[2022-05-31 00:58] harupy commented on #5966
@mdamircoder What do you think about the approach above?

[2022-05-31 01:34] #5993 closed

[2022-05-31 02:49] Alec-Stashevsky commented on #5383
@dbczumar any chance on this being implemented anytime soon?

[2022-05-31 03:15] dbczumar commented on #5383
Hi @Alec-Stashevsky @Jingnan-Jia , I've added the `help wanted` and `good first issue` labels to the issue in hopes of identifying a contributor.

[2022-05-31 03:36] harupy commented on #5998
@dkapur17 Using the more robust regex sounds good to me, looking forward to your PR :)

[2022-05-31 04:52] dkapur17 commented on #5998
Sweet! Will make the PR asap.

[2022-05-31 05:12] NeoKish commented on #5978
@harupy, I would like to work on senstive -> sensitive and adtive -> active since the both the typos are present in the same file

[2022-05-31 05:14] harupy commented on #5978
@NeoKish Thanks, assigned!

[2022-05-31 05:14] buhrrr commented on #5949
Sure, but you can still operate on a per package basis and assume packages aren't adding breaking changes all the time. When they do then lock down conflicting versions so you aren't forcing end users to figure it out for themselves when it's a known issue with a known fix.

[2022-05-31 05:57] NeoKish commented on #5978
@harupy , can I take other unassigned ones or do you want to keep them open for other contributors?

[2022-05-31 06:47] harupy commented on #5978
@NeoKish I'd like to keep them open for a few more days for other contributors.

[2022-05-31 06:51] NeoKish commented on #5978
@harupy, Sounds good to me. Thanks!

[2022-05-31 06:54] harupy commented on #5978
@NeoKish I'll ping you in a few days if this issue is not closed yet.

[2022-05-31 08:23] harupy opened #6003 "Show more actionable annotation for python formatting issues"
We use [problem matchers](https://github.com/actions/toolkit/blob/main/docs/problem-matchers.md) to surface python code formatting issues detected by `black` on GitHub UI as shown in the screenshot below:

<img width="716" alt="Screen Shot 2022-05-31 at 17 05 14" src="https://user-images.githubusercontent.com/17039389/171125367-455afb86-31b9-484b-a5c1-84c8ee2f4ce5.png">

We want to replace `would

[2022-05-31 11:07] harupy commented on #5996
@idlefella Thanks for the PR, we'll take a look :)

[2022-05-31 14:19] Asinsa commented on #5978
@harupy I'd like to work on legnth -> length

[2022-05-31 14:20] harupy commented on #5978
@Asinsa Thanks!

[2022-05-31 14:35] MinuraPunchihewa opened #6004 "[FR] Search experiments and models by tags"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

I would like to be able to search experiments and models using the tags assigned to them. Through the Python API it is possible to use the `set_experiment_tag` and `set_registered_model_tag` respectively to assign tags to experiments and registered model

[2022-05-31 16:33] jhallard commented on #5949
Why is that when I run

[code]

I still get this same error? I can see this logline

[code]

which causes the same error that triggered this issue in the first place

[2022-05-31 18:11] cloderic commented on #5949
Well yeah and that's a problem, basically any version before the latest is basically broken, it can work but requires investigation from the user. Limiting to the next major release of dependencies seems like a no brainer.

In practice now that the update is done for protobuf 4 it should be something like `protobuf >=3.12, <5.0`.

[2022-05-31 19:39] CaioCavalcanti commented on #5978
@harupy I'd like to work on `relave -> relative`

[2022-06-01 00:12] Hiteshsaai opened #6008 "[BUG]spark serve model fails with custom function added to the pyspark MLpipeline"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.25.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS
- **Python version**: 3.8.12
- **yarn version, if running the dev UI**: NA

### Describe the problem

I created a custom Transformer and added that to the MLlib pipeline in pypark and saved the mode

[2022-06-01 01:01] jyk4100 opened #6009 "[FR] Show More than 3 Metrics & Tags from the Web UI"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Allow MLflow UI to show more than 3 "columns" for "Metrics" and "Tags".
Within UI I can only see up to 3 metrics and tags so I don't have a "bird-eye view" of my experiment results.
Using mlflow version set up for my org (mlflow 1.16) and not sure if this is already addressed in the latest vers

[2022-06-01 01:32] BenWilson2 commented on #5856
Hi @nerdinand and @christianbaumberger thank you for the in-depth investigation and for the full explanation of the behavior that you're seeing. We'll be taking a look at the functionality and come up with a fix for ensuring that the listing for a file location doesn't return an additional path, returning an empty array for the UI's artifact viewer.
(Unless the two of you would like to file a PR f

[2022-06-01 04:31] subramaniam02 commented on #6003
@harupy I am interested to work on this.

[2022-06-01 05:01] subramaniam02 commented on #5383
I am interested in taking this up. I am newbie to mlflow project and interested in learning about mlflow by working on this issue. Hope there is no time pressure to get this feature out ASAP.

[2022-06-01 05:48] harupy commented on #6003
@subramaniam02 Thanks, looking forward to your PR!

[2022-06-01 05:56] harupy commented on #6009
@jyk4100 You can view more than 3 columns for metrics, tags, and params:

https://user-images.githubusercontent.com/17039389/171337270-02920dee-dd61-4a24-803f-3e6a7f3fab9b.mov

[2022-06-01 05:56] yuviabhi commented on #1419
Still giving error when the password is Redhat@321#

`mlflow server --backend-store-uri mysql://id:Redhat@321#@host:3306/mlflow --default-artifact-root hdfs://:host:50070/data/pay_model/ --host 0.0.0.0`

The fix with single quote `'Redhat@321#'`  is not working.
Actually the problem is with @ inside the password.
Any bypass for this ?

[2022-06-01 06:57] harupy commented on #5979
@Jingnan-Jia https://github.com/mlflow/mlflow/issues/3592#issuecomment-717807135 might be helpful.

[2022-06-01 07:00] harupy commented on #6008
@Hiteshsaai Have you tried using the `code_paths` argument?

https://github.com/mlflow/mlflow/blob/aa2d955e10d0c19ed80dab1b7ccef7517ba15634/mlflow/spark.py#L496

[2022-06-01 07:14] dbczumar commented on #5383
@subramaniam02 Sounds wonderful! Thank you in advance for your contribution, and let us know if you have any questions! :)

[2022-06-01 13:56] hctpbl opened #6011 "[BUG] Wrong link to model in Runs table of the Experiments view"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: python:3.10.4 docker image for linux/amd64 platform
- **Python version**: 3.10.4
- **yarn version, if running the dev UI**: -

### Describe the problem

When clicking on a model, in the "Models" column of

[2022-06-01 14:12] harupy commented on #6011
As @hctpbl pointed out,

[code]

fixed the issue:

https://user-images.githubusercontent.com/17039389/171425347-85810d76-e46a-4e79-b7c5-46d60917afed.mov

[2022-06-01 14:43] #5979 closed

[2022-06-01 14:45] AndreyBulezyuk opened #6012 "[BUG]"
### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### MLflow version

1.25.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Amazon Linux
- **Python version**: 3.8
- **yarn version, if running the dev UI**:

### Describe the problem

The MLflow Ray Integration Code has a bug.
When using the MLflowLoggerCallback in Ray.tu

[2022-06-01 15:39] Hiteshsaai commented on #6008
No i have not tried using that @harupy . Can you help with how to use that ?

[2022-06-01 16:03] harupy commented on #6011
Got it, Enjoy your holidays! We'll wait for you to come back :)

[2022-06-01 23:09] #5994 closed

[2022-06-01 23:42] harupy commented on #6012
@AndreyBulezyuk Thanks for reporting this issue, would you be interested in fixing this issue?

[2022-06-02 00:18] dbczumar commented on #5862
@serena-ruan That approach sounds great! I'll go ahead and close https://github.com/mlflow/mlflow/pull/5857 in favor of the new approach you've outlined. Apologies for the delay!

[2022-06-02 00:24] jyk4100 commented on #6009
Thanks - I am not able to do such on my end and also the layout is slightly different so it must be a version/set up issue. Closing this thanks!

[2022-06-02 00:24] #6009 closed

[2022-06-02 00:38] #1457 closed

[2022-06-02 00:39] dbczumar commented on #1937
Closing this out, as it has been addressed :)

[2022-06-02 00:39] #1937 closed

[2022-06-02 00:40] dbczumar commented on #1942
Closing this out, as it has been addressed. Environments are now generated based on the user's current system environment.

[2022-06-02 00:40] #1942 closed

[2022-06-02 00:40] BenWilson2 commented on #1414
With naught but a 3 year delay, this is being implemented in #5971

[2022-06-02 00:40] harupy commented on #4745
Addressed by #4746

[2022-06-02 00:40] #4745 closed

[2022-06-02 00:41] dbczumar commented on #1979
Hi @C-nit , we believe our UI is now robust to this case. Please feel free to reopen it if the issue still occurs.

[2022-06-02 00:41] #1979 closed

[2022-06-02 00:43] #4131 closed

[2022-06-02 00:43] #1139 closed

[2022-06-02 00:44] #1061 closed

[2022-06-02 00:45] dbczumar commented on #2108
Closing this for now, as we have not seen reports of the issue in the last 1.5 years. Please feel free to reopen it if it is still a concern.

[2022-06-02 00:45] #2108 closed

[2022-06-02 00:45] #482 closed

[2022-06-02 00:46] dbczumar commented on #3587
Hi @deepankerkoul , deploying with the new MLflow + AzureML deployment plugin should resolve this issue. Instructions are available here: https://aka.ms/aml-mlflow-deploy.

[2022-06-02 00:48] dbczumar commented on #3572
Closing this for now, as logging with the scikit-learn flavor appears to work. Additionally, there are instructions for saving arbitrary models in MLflow Model format here: https://mlflow.org/docs/latest/models.html#model-customization.

[2022-06-02 00:48] #3572 closed

[2022-06-02 00:50] dbczumar commented on #3732
We now export the run start time and duration as part of the CSV :)

[2022-06-02 00:50] #3732 closed

[2022-06-02 00:52] BenWilson2 commented on #1563
This is being addressed in MLflow Pipelines #5456 . Please refer to the pinned issue for further discussion on this topic.

[2022-06-02 00:52] #1563 closed

[2022-06-02 00:53] dbczumar commented on #1723
@mgbckr Apologies for the very substantial delay here. In the time since this issue was filed, we've introduced several APIs to make it easier to log artifacts, such as `mlflow.log_image()` (https://mlflow.org/docs/latest/python_api/mlflow.html#mlflow.log_image) and `mlflow.log_text()` (https://mlflow.org/docs/latest/python_api/mlflow.html#mlflow.log_text), which automatically handle persistence o

[2022-06-02 00:53] #1723 closed

[2022-06-02 00:54] #1721 closed

[2022-06-02 00:54] #1711 closed

[2022-06-02 00:54] #1414 closed

[2022-06-02 00:56] dbczumar commented on #1670
Given that the problem appears to have been addressed, I'm going to go ahead and close this issue. Please feel free to reopen it if it continues to occur.

[2022-06-02 00:56] #1670 closed

[2022-06-02 01:01] dbczumar commented on #1829
I'm going to go ahead and close this, as we've made significant improvements to the layout of information on the MLflow Experiment page over the last 2 years, including separate columns for specific tags that can be hidden / resized, as well as a search box for experiments.

[2022-06-02 01:01] #1829 closed

[2022-06-02 01:03] dbczumar commented on #1849
As indicated by @sim-san, this has been addressed for metrics via https://github.com/mlflow/mlflow/pull/5017. Additionally, the MLflow Experiment page now displays a count of new runs that have been created since the last page load, which helps the user know whether or not they need to refresh the page. In light of these improvements, I'm going to go ahead and close this issue. Please feel free to

[2022-06-02 01:03] #1849 closed

[2022-06-02 01:04] dbczumar commented on #550
The parallel coordinates plot now supports this capability. Accordingly, I'm going to go ahead and close this issue.

[2022-06-02 01:04] #550 closed

[2022-06-02 01:05] dbczumar commented on #269
@andremesarovic Thank you for filing this issue! It has finally been addressed, most recently by https://github.com/mlflow/mlflow/pull/5458 to handle 400-level errors due to invalid request input.

[2022-06-02 01:05] #269 closed

[2022-06-02 01:06] #1554 closed

[2022-06-02 01:09] dbczumar commented on #1651
The https://mlflow.org/docs/latest/cli.html#mlflow-models-build-docker CLI addresses this issue.

[2022-06-02 01:09] #1651 closed

[2022-06-02 01:09] #1531 closed

[2022-06-02 01:11] #1506 closed

[2022-06-02 01:11] dbczumar commented on #1662
Given that https://github.com/mlflow/mlflow/issues/1662#issuecomment-939995591 appears to be an excellent solution to this problem, I'm going to go ahead and close this issue. Please feel free to reopen it if the stated solution is insufficient.

[2022-06-02 01:11] #1662 closed

[2022-06-02 01:13] #1422 closed

[2022-06-02 01:14] dbczumar commented on #1252
This has been addressed by https://github.com/mlflow/mlflow/pull/3219.

[2022-06-02 01:14] #1252 closed

[2022-06-02 01:16] BenWilson2 commented on #2294
This functionality is now handled through the environment configuration for the environment manager. Setting this attribute to "local" will use a user-defined environment.

[2022-06-02 01:16] #2294 closed

[2022-06-02 01:17] #841 closed

[2022-06-02 01:17] dbczumar commented on #1920
Closing this in favor of https://github.com/mlflow/mlflow/issues/826, which we are working to solve.

[2022-06-02 01:17] #1920 closed

[2022-06-02 01:18] dbczumar commented on #1090
Experiment IDs are now, indeed, strings.

[2022-06-02 01:18] #1090 closed

[2022-06-02 01:18] #2092 closed

[2022-06-02 01:18] #2123 closed

[2022-06-02 01:20] dbczumar commented on #2049
I'm going to go ahead and close this issue, as it appears to have been inactive for quite some time. In general, it's important to ensure that Docker containers running MLflow are using the same MLflow version that was used to upgrade the associated database instance.

[2022-06-02 01:20] #2049 closed

[2022-06-02 01:22] #1930 closed

[2022-06-02 01:23] dbczumar commented on #2252
This problem appears to have been addressed, so I'm going to go ahead and close this issue. Feel free to reopen it if the problem still ocurs.

[2022-06-02 01:23] #2252 closed

[2022-06-02 01:29] dbczumar commented on #2152
`mlflow gc` (https://mlflow.org/docs/latest/cli.html#mlflow-gc) is indeed the recommended solution for permanently deleting runs. In order to support additional backends, we ask that developers file pull requests to implement the corresponding `ArtifactRepository.delete_artifacts()` (https://github.com/mlflow/mlflow/blob/4395f9209ae3629988e44fcdfcfc5c4c396ba1e2/mlflow/store/artifact/artifact_repo.

[2022-06-02 01:29] #2152 closed

[2022-06-02 01:30] dbczumar commented on #2150
I'm going to go ahead and close this issue, as https://github.com/mlflow/mlflow/issues/2150#issuecomment-953959536 demonstrates the required workflow for setups where clients log directly to cloud storage. Note that MLflow now also supports streaming artifacts through the MLflow server, removing the burden of credential management from clients. For more information, see https://mlflow.org/docs/lat

[2022-06-02 01:30] #2150 closed

[2022-06-02 01:31] #2141 closed

[2022-06-02 01:31] dbczumar commented on #2178
This issue has been addressed; custom activation functions are now captured during model persistence.

[2022-06-02 01:32] #2199 closed

[2022-06-02 01:33] dbczumar commented on #2208
This has been addressed via https://github.com/mlflow/mlflow/pull/5089.

[2022-06-02 01:33] #2208 closed

[2022-06-02 01:37] #2545 closed

[2022-06-02 01:37] dbczumar commented on #2335
TensorFlow inference is now supported with PySpark UDFs.

[2022-06-02 01:37] #2335 closed

[2022-06-02 01:38] #2628 closed

[2022-06-02 01:38] #2424 closed

[2022-06-02 01:38] #2617 closed

[2022-06-02 01:40] dbczumar commented on #2577
We do not currently have plans to support modifying the artifact URI of an existing run or experiment, though it is possible to do so by modifying the underlying storage representation (e.g. SQL database record or file). Thank you for using MLflow!

[2022-06-02 01:40] #2577 closed

[2022-06-02 01:40] #2236 closed

[2022-06-02 01:40] #5204 closed

[2022-06-02 01:41] #2115 closed

[2022-06-02 01:41] dbczumar commented on #2573
Thank you for providing a detailed & helpful solution, @samuelthan. I'm going to go ahead and close this issue for now. Feel free to reopen it if the stated problem continues to occur.

[2022-06-02 01:41] #2573 closed

[2022-06-02 01:43] dbczumar commented on #2464
@youra6 Thank you for posting a detailed and helpful solution. At this time, we don't intend to extend `mlflow.set_experiment()` to support `artifact_location`.

[2022-06-02 01:43] #2464 closed

[2022-06-02 01:44] harupy commented on #5227
@Shiraes Are you still experiencing this issue? Please feel free to re-open it if you are.

[2022-06-02 01:49] dbczumar commented on #2451
We do not have plans to extend metric logging to arrays at this time, but the example workaround provided by @fulsi is fantastic! I'm going to go ahead and close this issue for now. Thank you for using MLflow!

[2022-06-02 01:49] #2451 closed

[2022-06-02 01:54] #1735 closed

[2022-06-02 01:56] dbczumar commented on #1698
I'm going to go ahead and close this issue because the prometheus monitoring use case has been addressed via https://github.com/mlflow/mlflow/pull/2097/ and other issues, such as https://github.com/mlflow/mlflow/issues/1825, track interfaces for general auth.

[2022-06-02 01:56] #1698 closed

[2022-06-02 01:57] dbczumar commented on #2390
`mlflow.tensorflow.autolog()` supports TensorFlow 2.0, as well as the `every_n_iter` parameter, in recent versions of MLflow. Accordingly, I'm going to go ahead and close this issue. Feel free to reopen it if this problem still occurs.

[2022-06-02 01:57] #2390 closed

[2022-06-02 01:58] dbczumar commented on #2263
`mlflow.pytorch.log_model()` now supports persistence of torchscript models (https://github.com/mlflow/mlflow/pull/3557).

[2022-06-02 01:58] #2263 closed

[2022-06-02 02:00] dbczumar commented on #2172
To address this issue, you may need to clear your browser's cache for the corresponding MLflow page. I'm going to go ahead and close this issue for now, but feel free to reopen it if it continues to be a substantial problem for your use cases. Thank you for using MLflow!

[2022-06-02 02:01] dbczumar commented on #2557
[mlflow-skinny](https://pypi.org/project/mlflow-skinny/) is now available!

[2022-06-02 02:01] #2557 closed

[2022-06-02 02:04] dbczumar commented on #2491
In order to address this issue, the bucket name and region name must both be specified.

[2022-06-02 02:04] #2491 closed

[2022-06-02 02:06] #2445 closed

[2022-06-02 02:07] dbczumar commented on #2469
This functionality has been implemented and is available here: https://mlflow.org/docs/latest/plugins.html#sql-server-plugin / https://pypi.org/project/mlflow-dbstore/. Accordingly, I'm going to go ahead and close this issue.

[2022-06-02 02:07] #2469 closed

[2022-06-02 02:39] harupy commented on #5989
Hi @sniafas, we discussed this issue in the team and decided to drop SQLAlchemy 1.3. Would you be interested in filing a PR to pin a SQLAlchemy requirement in `setup.py`?

[2022-06-02 02:40] WeichenXu123 commented on #5862
Thanks @serena-ruan . Sorry for late response. I will help review your new PR.

[2022-06-02 04:16] amesar opened #6016 "[FR] Create admin API endpoints for MLflow tracking server"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

It's pretty standard for APIs to have admin endpoints for:
- Display current internal state, e.g. number of experiments, models, etc.
- Shut down the tracking server gracefully. Most important.
  - Currently the only solutions is to figure out the PID fr

[2022-06-02 05:39] Sumanth077 commented on #5978
Hi, @harupy I would like to contribute, is any Typo left?

[2022-06-02 05:44] dbczumar commented on #6016
@amesar We don't plan to implement such endpoints at this time; server administrators can simply stop / kill the processes associated with the server. In general, an MLflow Tracking server is intended to operate as a long-lived resource for data scientists / machine learning engineers to record and query their model training sessions; shutdown is not intended to be a frequently-used operation. Con

[2022-06-02 05:44] #6016 closed

[2022-06-02 05:46] harupy commented on #5978
@Sumanth077 They are reserved by @NeoKish.

@NeoKish Feel free to take unassigned ones :)

[2022-06-02 05:57] NeoKish commented on #5978
@harupy, Thanks, I am gonna do a PR soon

[2022-06-02 06:28] harupy commented on #5978
@nitin154 Any updates?

[2022-06-02 06:40] #2824 closed

[2022-06-02 06:40] #5998 closed

[2022-06-02 06:43] aksh-gupta commented on #3679
@ntorba
In your case, were the credentials stored on the pod's `~/.aws/credentials` directory?

From the docs, it says

Is the location inside the pod in the case of MLflow running on Kubernetes?

[2022-06-02 09:17] harupy commented on #6008
Here's example code:

[code]

[code]

[2022-06-02 09:26] harupy commented on #5966
@mdamircoder Gentle ping.

[2022-06-02 10:38] sniafas commented on #5989
Sure @harupy. Glad for asking! I ll give it a try, thanks!

[2022-06-02 13:45] harupy commented on #5989
@sniafas We can just make the following change:

[code]

[2022-06-02 14:56] rotate2050 commented on #5978
@harupy I have found a new typo that is not in the list. Can I fix it? Here is the detail:

truncacted -> truncated

https://github.com/mlflow/mlflow/blob/1e2b4ed051bc760fd3e7d69149e1fbc1f7928edf/mlflow/utils/import_hooks/__init__.py#L42

[2022-06-02 16:20] #6011 closed

[2022-06-02 17:34] fhoering commented on #2335
Thanks @dbczumar

[2022-06-02 22:51] subramaniam02 commented on #5383
@dbczumar  @Alec-Stashevsky  Please help me understand the requirements

- Existing download button provides only the latest value of metrics for each run of the experiment ?
- Support downloading of all metrics (in csv format) for each run of the experiment (individual run) or for all the runs of the experiment?
- There should be new download button to download the metrics seen in the graph like

[2022-06-03 00:18] #2839 closed

[2022-06-03 00:20] #2820 closed

[2022-06-03 00:21] dbczumar commented on #2813
Closing in favor of https://github.com/mlflow/mlflow/issues/925, which we will continue to track and work to address

[2022-06-03 00:21] #2813 closed

[2022-06-03 00:21] #2791 closed

[2022-06-03 00:22] dbczumar commented on #2791
Because this appears to be an HDFS installation / setup issue, rather than an MLflow issue, I'm going to go ahead and close this ticket.

[2022-06-03 00:24] dbczumar commented on #2979
Apologies for the significant delay. The desired behavior for default environment specifications is to leave `mlflow` unpinned, as it is designed to be backwards-compatible. Accordingly, I'm going to go ahead and close this issue. Thank you for using MLflow!

[2022-06-03 00:24] #2979 closed

[2022-06-03 00:24] harupy commented on #4204
https://github.com/mlflow/mlflow/pull/4954/ fixed this issue.

[2022-06-03 00:25] #2907 closed

[2022-06-03 00:26] dbczumar commented on #2886
Because this issue appears to be related to Anaconda on Windows, rather than MLflow, I'm going to go ahead and close it. Thank you for using MLflow!

[2022-06-03 00:26] #2886 closed

[2022-06-03 00:27] #3392 closed

[2022-06-03 00:28] dbczumar commented on #5150
@pelekhs This appears to be an issue with `python-dotenv`, rather than MLflow. Accordingly, I'm going to go ahead and close it out. Note that, within Python, you can use `os.environ` to set the desired environment variable(s) and / or using `mlflow.set_tracking_uri()` to set the tracking URI. Thank you for using MLflow!

[2022-06-03 00:28] #5150 closed

[2022-06-03 00:29] dbczumar commented on #2870
This feature has been added to MLflow! https://mlflow.org/docs/latest/python_api/mlflow.xgboost.html#mlflow.xgboost.autolog

[2022-06-03 00:29] #2870 closed

[2022-06-03 07:05] harupy commented on #5966
@mdamircoder Feel free to reopen this issue.

[2022-06-03 07:05] #5966 closed

[2022-06-03 07:06] harupy commented on #5978
@rotate2050 Thanks, yes you can! Can you also fix the following typo?

https://github.com/mlflow/mlflow/blob/1e2b4ed051bc760fd3e7d69149e1fbc1f7928edf/tests/helper_functions.py#L334

[2022-06-03 08:17] piotrkolanowski commented on #5083
@dbczumar @sebastiaanboer-db I've updated the title and description to mention the databricks artifact repository.
Please include the fix for this bug in the next patch / release, as it becomes urgent issue for us.

[2022-06-03 08:46] #5989 closed

[2022-06-03 09:45] manishpyy commented on #5722
Hi
I have set the tracking uri to the azure ml, since using it outside the azureml .Whenever I try these functions  log_artifacts(), download_artifacts() or list_artifacts() mlflow tracking client function. I get the following error:
mlflow.exceptions.MlflowException: Could not find a registered artifact repository for: azureml://experiments/test_experiment/runs/(run_number)/artifacts. Currently r

[2022-06-03 10:37] huidiwiwi commented on #4175
I'm facing the same problem. `mlflow` works but `mlflow ui` return the same error.

when I **uninstall waitress, mlflow** and then **reinstall mlflow**, it works then. see [**here**](https://stackoverflow.com/a/66733355).

It seems like there is some version conflict of waitress if you have installed mlflow before. I guess uninstall mlflow will not automatically cleanup waitress.
ps: I got mlflow

[2022-06-03 10:59] huidiwiwi commented on #4129
Facing the same problem. It turns out I have installed mlfow at root before.  fixed it by uninstall it in root and then reinstall in the virtual env(use conda).  ps: better uninstall waitress as well.

[2022-06-03 14:49] matthiasjfrank opened #6027 "[BUG] (new in 1.26) logging param with "" (empty string) as value yields error"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.26.x

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 12.3.1; Debian 11
- **Python version**: 3.8
- **yarn version, if running the dev UI**:

### Describe the problem

After upgrading mlflow server to ve

[2022-06-03 16:08] rotate2050 commented on #5978
@harupy

Sure.

I created PR : https://github.com/mlflow/mlflow/pull/6026. I did realize that I fixed two different typos in a single PR. I am sorry for that. I can fix it if you want. Let me know.

[2022-06-03 17:47] akshaya-a commented on #5722
@manishpyy artifacts are more complicated as authentication and access to underlying storage come into play - please pip install the azureml-mlflow plugin (on pypi) which will handle that for you. @singankit fyi

[2022-06-04 00:44] jhallard opened #6028 "[BUG] `load_model()` adding code directories to system path that shouldn't be added to path"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.02
- **Python version**: 3.8
- **yarn version, if running the dev UI**: N/A

### Describe the problem

## Overview

The main problem is that MLfl

[2022-06-04 01:02] jhallard commented on #6028
I guess one possible solution is for me to just move all of my source code down by one directory? i.e. make a directory `<model>/code/package` and place both `dir_one` and `dir_two` under `/code/package`.. that would fix this error

[2022-06-04 01:40] #5978 closed

[2022-06-04 04:01] #6003 closed

[2022-06-04 06:24] #5656 closed

[2022-06-04 06:58] harupy commented on #6027
@matthiasjfrank Thanks for reporting this issue. I was able to reproduce the issue. The root cause is this line:

https://github.com/mlflow/mlflow/blob/398345c435421ee2f4ab8d8b3237bc845f25a2c6/mlflow/server/handlers.py#L745

`_assert_required` throws if the given value is an empty string.

[2022-06-04 07:16] harupy commented on #5855
@trillionmonster Feel free to reopen this ticket if you're still experiencing the issue.

[2022-06-04 07:16] #5855 closed

[2022-06-04 07:17] #5828 closed

[2022-06-04 07:50] harupy commented on #6004
@MinuraPunchihewa

We're going to add a capability to search experiments by tags soon.

Relates to #3296, but we don't have an immediate plan to update and merge this PR.

[2022-06-04 07:59] harupy commented on #4824
We exclude `mleap` from `extra-ml-requirements.txt` because it pins `scikit-learn` to a very old version. We can avoid `ModuleNotFoundError` by running `pytest tests/path/to/<test file you want to run>`.

[2022-06-04 07:59] #4824 closed

[2022-06-05 17:28] santiagxf commented on #5722
Hi @manishpyy, I think you might be using the MLflow SDK now since you mentioned using the functions `download_artifacts` (which is not available in the REST API - the closer method in the API would be `get-download-uri`). Is that right? If yes, then please install the `azureml-mlflow` plug-in for MLflow to support Azure ML as a tracking server. If it's the first time using the MLflow plug in for

[2022-06-06 01:37] #5146 closed

[2022-06-06 02:40] harupy commented on #4750
#5574 implements this feature.

[2022-06-06 02:40] #4750 closed

[2022-06-06 04:16] #6027 closed

[2022-06-06 05:14] harupy commented on #5129
Fixed by #5159.

[2022-06-06 05:14] #5129 closed

[2022-06-06 18:43] BenWilson2 commented on #6028
Isn't a top-level definition considered an external namespace declaration? I've always been in the habit of:
* Placing internal-facing namespace declarations behind internal paths (as you referenced in your self-answer). That's definitely a recommended action.
* Never introduce namespace collisions by 'shadowing' public names of modules (do you need your internal module to be called 'redis'? That

[2022-06-07 03:46] Alec-Stashevsky commented on #5383
@subramaniam02 yes that is the idea. My intention was to have the download button be experiment-specific. So there would be a download button on the page you display above, and it would download the entire time-series of metrics (recorded at each step) for that experiment.

That csv would basically contain all the data needed to make the plot mlflow displays. It would contain the data for the x-ax

[2022-06-07 04:25] MinuraPunchihewa commented on #6004
@harupy Understood. Since these features are already planned for, I will proceed to close this issue.

[2022-06-07 04:25] #6004 closed

[2022-06-07 08:29] Yuli-35 opened #6034 "[FR] Improve graphical model analysis"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

1. Addition of log scales button in different panes of the Mlflow ui.
2. Alphabetically order lists in the Mlflow ui.
3. Propose box_plot graphics in some specific cases (Scatter)

### Motivation

Improve the readability of the models results

This will allow to better discriminate models resul

[2022-06-07 15:46] BenWilson2 commented on #6034
Thank you for the FR @Yuli-35 . We've had similar internal discussions about supporting more 'useful' displays of continuous metrics grouped by categorical entries and have come to a similar conclusion about box plots with jittered value displays for some of these charts.
While it is not currently an urgent priority for us to tackle this, it's definitely something that we would enthusiastically re

[2022-06-07 18:37] mitesh-yadav-deepsee commented on #5949
Were you able yo get this resolved?

[2022-06-08 05:34] Ark-kun commented on #5949
Semantic versioning requires that packages only make major breaking changes when changing the major version.

I think that at any point the mlflow package should have upper limit on the major version of each direct dependency.
When new version of a direct dependency comes out, MLFlow team can bump the upper limit and test for regressions.

The possibility of permanent breakage like in this case wo

[2022-06-08 11:37] drsantos89 opened #6039 "[BUG] log_figure in plotly format without ".html" extension in artifact_file"
### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### MLflow version

1.25.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS
- **Python version**: 3.10

### Describe the problem

When logging a figure in plotly format, the file extension in the artifact_file needs to be ".html".
Otherwise, the file will be saved in

[2022-06-08 13:16] michal-choinski commented on #4429
This would be a great feature to have. Currently a workaround is to log the best models as artifacts, but then we cannot use the functionality of Model Registry.
The option of reloading weights before storing models might fail in TF due to OOM errors (a commonly known issue with GPU memory management). The only solution here is to log each model in a separate script, after training ends.
So much w

[2022-06-08 14:05] drsantos89 commented on #6039
@harupy
Yes, that will work and maybe is more clear than just adding `.html`.
If we also want to support the `write_image` method (for png, jpeg, SVG, pdf).  We can have an if based on the artifact_file extensions and throw an error is not supported.

[2022-06-08 14:16] harupy commented on #6039
Would you be interested in creating a PR?

[2022-06-08 20:16] drsantos89 commented on #6039
Yes, I will do it

[2022-06-09 15:20] ianbenlolo opened #6042 "[BUG]"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.16.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Python version**:
- **yarn version, if running the dev UI**:
Linux Ubuntu 18.04.6 LTS
Python 3.8.0
Running in google cloud platform

### Describe the problem

I try to log a pytorch model with `mlflow.

[2022-06-10 09:19] dkapur17 commented on #5722
Hi @akshaya-a @santiagxf. Following your instructions, I am able to access the RestAPI that is created on the Tracking Server on my AzureML workspace. However, I want to access the MLflow tracking UI linked to that tracking server. Documentation suggests that this is possible by going to the link `http://<ip address of your MLflow tracking server>:5000`. However, when I'm trying to make this reque

[2022-06-10 11:03] bneijt opened #6045 "[BUG] 'env_activate_cmd' referenced before assignment when using mlflow models build-docker --env-manager=local"
### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### MLflow version

1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Archlinux
- **Python version**: 3.9.9

### Describe the problem

I have a very tiny mlflow pyfunc model which I can build into a docker using
[code]
When using `--env-manager=local`, I get a Python

[2022-06-10 11:20] harupy commented on #6045
Hi @bneijt, thanks for reporting this issue. Looking forward to your PR :)

[2022-06-10 11:23] harupy commented on #6042
@ianbenlolo https://github.com/mlflow/mlflow/pull/4613 fixed this issue. Can you upgrade mlflow?

[2022-06-10 11:25] harupy commented on #6045
We can fix `mlflow/models/container/__init__.py` like this:

[code]

[2022-06-10 11:46] #5996 closed

[2022-06-10 12:02] rafaelvp-db commented on #5927
@BenWilson2 @sebastien-genete I'd be willing to help here as well. Multi-stage builds could also be an option - will run couple of tests and report back

[2022-06-10 12:06] rafaelvp-db commented on #4202
@amesar just drop in to confirm if this has been closed - would you be able to close it, if it's indeed the case? (if it's not closed I'm happy to contribute)

[2022-06-10 12:08] #4202 closed

[2022-06-10 12:22] rafaelvp-db commented on #1870
wasn't able to reproduce this, at least not with the latest version of mlflow from master @trams

[2022-06-10 12:23] rafaelvp-db commented on #1870
`client.log_param("caf01083e2b54a489e36273554d4745f", "param251", "x"*251)`

![Screenshot 2022-06-10 at 14 23 18](https://user-images.githubusercontent.com/97888102/173063481-4f55179c-b447-4f58-b979-3ab93f178d39.png)

[2022-06-10 12:26] rafaelvp-db commented on #5847
wasn't able to reproduce it, so looks like it was fixed at some point? @grybeck

`client.create_run("example experiment name")`

`mlflow.exceptions.MlflowException: Invalid experiment ID: 'example experiment name'`

[2022-06-10 12:35] rafaelvp-db commented on #4154
instead of making this change, would any of the alternatives below make sense?

- running pyfunc.load_model from your different applications
- download the artifacts with load_model -> push them into another S3 bucket -> other applications download it
- same as previous,  but pushing to an NFS drive and mounting it wherever applications need to load it
- downloading the artifacts, packaging it wit

[2022-06-10 13:06] sebastien-genete commented on #5927
I reduce the number of layers.
I got a very small reduction of the image size: about 100 MB. :-(

[code]

[2022-06-10 13:15] manishpyy commented on #5722
Hi @santiagxf , could you help me with an example code to log artifacts for the azureml, since I tried the log_artifacts('run_id', 'local_artifact_path'), and I got this error KeyError: 'sub-id'. Is there a way to pass the subscription-id, resource_group_name, and workspace name to the mlflow.

[2022-06-10 13:38] #6042 closed

[2022-06-10 17:36] akshaya-a commented on #5722
@dkapur17 Azure ML has a different UI for the same MLflow data that you track - you can access it through the browser at ml.azure.com - you'll find all of the runs/experiments/metrics/artifacts/models there, just laid out slightly differently. Authentication is handled for the interactive browser context there. We don't offer a hosted version of the direct MLflow OSS UI today

[2022-06-11 05:08] #6045 closed

[2022-06-11 10:38] rafaelvp-db commented on #5383
Created #6048 for this. @dbczumar would you mind reviewing?

[2022-06-11 17:34] santiagxf commented on #5722
100% agreed with @akshaya-a. Azure ML is an MLflow-compatible service but we don't host the MLflow Server UI. On top of that, @dkapur17 I'm wondering where you found documentation mentioning that we expose an MLflow Server UI, so I can update that documentation.  If you have any feedback about the Azure ML Studio UI vs the MLflow OSS UI let us know!

[2022-06-11 17:35] santiagxf commented on #5722
100% agreed with @akshaya-a. Azure ML is an MLflow-compatible service but we don't host the MLflow Server UI. On top of that, @dkapur17 I'm wondering where you found documentation mentioning that we expose an MLflow Server UI, so I can update that documentation. If you have any feedback about the Azure ML Studio UI vs the MLflow OSS UI let us know!

[2022-06-11 17:56] dkapur17 commented on #5722
@akshaya-a @santiagxf I thought as much. Thanks a lot for clarifying this. As for the documentation I referred to, https://www.mlflow.org/docs/latest/tracking.html#tracking-ui doesn't explicitly say anything about AzureML, but does say "Alternatively, the [MLflow tracking server](https://www.mlflow.org/docs/latest/tracking.html#tracking-server) serves the same UI and enables remote storage of run

[2022-06-11 18:22] santiagxf commented on #5722
@manishpyy, the signature of `log_artifact` doesn't require you to indicate the `run_id `. It is as follows:

[code]

If you want to log all the files of a given directory, then you use `log_artifacts` (with the `s`):

[code]

Hope it helps.

[2022-06-11 18:27] santiagxf commented on #5722
Thanks so much, @dkapur17, for pointing that out. I may add a note to the MLflow docs.

[2022-06-12 13:08] nzw0301 opened #6049 "[FR] Automatically split metrics, tags, etc into smaller chunks to avoid request limit error"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

As in the title, MLflow might be able to avoid request limits by automatically splitting data that contains too many elements into smaller ones when we call `mlflow.log_metrics`, `mlflow.log_params`, and `mlflow.set_tags` (possible other API, too).

###

[2022-06-13 13:13] nzw0301 commented on #6049
@dbczumar Thank you for your comments! I've sent a PR to resolve this issue as linked above.

[2022-06-14 04:50] zmce2018 opened #6056 "[BUG] WARNING mlflow.utils.environment: Encountered an unexpected error while inferring pip requirements"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

fastai==2.6.3, mlflow == 1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Python version**:
- **yarn version, if running the dev UI**:
E:\ANA\envs\TSAI\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipy

[2022-06-14 11:59] kargarisaac commented on #866
Nice project. Thank you. We are waiting for the cloud run version :)

[2022-06-14 16:13] #6039 closed

[2022-06-14 23:45] Alec-Stashevsky commented on #5383
Looks good to me, just wanted to bump @rafaelvp-db's PR.

Thanks!

[2022-06-14 23:53] dbczumar commented on #6056
Hi @zmce2018 , thank you for raising this issue. Can you run the following code before your fast.ai training logic and provide the DEBUG logs that are produced?

[code]

[2022-06-15 02:29] zmce2018 commented on #6056
@dbczumar Hello and thanks for your reply. Here is the error code after I put your code before your fast.ai training logic

[code]

[2022-06-15 04:59] amesar opened #6062 "[DOC-FIX] Document that attribute RunInfo.lifecycle_stage is of type LifecycleStage"
### Willingness to contribute

No. I cannot contribute a documentation fix at this time.

### URL(s) with the issue

https://mlflow.org/docs/latest/python_api/mlflow.entities.html#mlflow.entities.RunInfo.lifecycle_stage

### Description of proposal (what needs changing)

For [documentation on RunInfo](https://mlflow.org/docs/latest/python_api/mlflow.entities.html#mlflow.entities.RunInfo) class.

F

[2022-06-15 09:45] nickhill97 commented on #3414
I'm experiencing this issue also, is there any update on a solution?

[2022-06-15 15:32] prafiny opened #6066 "[BUG] API doesn't accept params/metrics that are empty strings"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: docker : python:3.10/archlinux
- **Python version**: 3.10/3.9
- **yarn version, if running the dev UI**: N/A

### Describe the problem

When logging params

[2022-06-15 18:24] vibss2397 commented on #3414
so i just use the method  : `model_class._model_impl.python_model`, this brings back the python class and all the methods associated with the original implementation. Hope it helps

[2022-06-15 19:34] amesar opened #6068 "[FR] Implement delete registered model version in MLflow UI"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

 1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Python version**:
- **yarn version, if running the dev UI**:

### Describe the problem

There is no button to delete a registered model version in the UI.

### Steps to reproduce the bug

Just look at

[2022-06-15 19:45] BenWilson2 commented on #5682
Hi @FedericoGarza sorry for the late reply on guidance on this. The section here: https://www.mlflow.org/docs/latest/models.html#custom-flavors covers a general overview on how to create a custom flavor that will be recognized by MLflow.
If you have any specific questions after reading through the guidance, please let us know.

[2022-06-15 20:02] amesar opened #6069 "[FR] Implement OR operator for"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

There is an AND operator but no OR operator which is needed.

https://mlflow.org/docs/latest/search-syntax.html#syntax

### Motivation

### Details

_No response_

### What component(s) does this bug affect?

- [ ] `area/artifacts`: Artifact stores and a

[2022-06-15 21:05] dbczumar commented on #6068
@amesar Can you convert this to a feature request? The absence of a feature is not a bug.

[2022-06-15 21:22] dbczumar commented on #6069
@amesar This is a great idea. Can you put together an RFC for this including an implementation strategy for FileStore and SqlAlchemyStore?

[2022-06-15 23:32] harupy commented on #6066
Duplicate of https://github.com/mlflow/mlflow/issues/6027.

[2022-06-15 23:32] #6066 closed

[2022-06-15 23:44] #4852 closed

[2022-06-16 00:21] subramaniam02 commented on #6068
@dbczumar I willing to contribute. Can you please assign this to me ?

[2022-06-16 00:33] dbczumar commented on #6056
@zmce2018 Thank you for providing the debug-level outputs. It appears that your model is defined using a custom class that is not packaged with the model when it is saved. To correct the issue, we recommend logging your model with `mlflow.fastai.log_model()` (https://mlflow.org/docs/latest/python_api/mlflow.fastai.html#mlflow.fastai.log_model) and specifying the path to your custom class definitio

[2022-06-16 00:33] #6056 closed

[2022-06-16 00:34] dbczumar commented on #6068
@subramaniam02 Fantastic! I've assigned this issue to you. Thank you in advance for your contribution!

[2022-06-16 00:54] zmce2018 commented on #6056
@dbczumar Thanks for your time. This issue is corrected by removing the splitter from the learner function.

A friendly reminder that this learner is not self-defined class as it is from the template code from mlflow, which can be found here (https://github.com/mlflow/mlflow/tree/master/examples/fastai).

Many thanks for your help and all the best.

[2022-06-16 05:54] subramaniam02 commented on #6068
This ask is an already existing feature in mlflow. Here are the screenshots. maybe we can enhance the visibility of the three dots menu on far right.

<img width="1674" alt="Screen Shot 2022-06-15 at 10 44 28 PM" src="https://user-images.githubusercontent.com/1637727/174000079-e2f494e2-2e84-4754-8fd0-08dcb56c5376.png">

<img width="1674" alt="Screen Shot 2022-06-15 at 10 44 28 PM" src="https://use

[2022-06-16 13:24] #4676 closed

[2022-06-16 14:44] charlesbluca opened #6072 "[BUG] `AttributeError` on import with protobuf 3.18.1"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 11
- **Python version**: 3.9
- **yarn version, if running the dev UI**: n/a

### Describe the problem

With MLflow 1.26.1, I am getting an `Attribu

[2022-06-16 15:18] BenWilson2 commented on #4982
@RoelantStegmann thank you for the inquiry. Hopefully image storing as an artifact works well for you. Feel free to reopen this Issue if you would like to discuss more.

[2022-06-16 15:18] #4982 closed

[2022-06-16 15:24] BenWilson2 commented on #4685
@INF800 Does the current PyTorch autologging integration satisfy your needs? Since detectron2 is implemented natively in PyTorch, were there other aspects of training that are not captured by the native autologging?

[2022-06-16 18:04] BenWilson2 opened #6074 "[FR] [Roadmap] Add box plot with jittered points to run comparison UI"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-16 18:25] BenWilson2 opened #6075 "[FR] [Roadmap] Support 'OR' filtering in search"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-16 18:39] BenWilson2 opened #6076 "[FR] [Roadmap] Support additional container build tool containerd"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-16 19:39] BenWilson2 opened #6077 "[FR] [Roadmap] Support NoSQL as tracking server backend"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-16 19:50] BenWilson2 opened #6078 "[FR] [Roadmap] Generic MLflow model serving image"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-16 20:57] BenWilson2 opened #6079 "[FR] [Roadmap] Filter unneeded columns from model serving request"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-16 21:05] BenWilson2 opened #6080 "[FR] [Roadmap] Alias client at top-level"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-16 21:17] BenWilson2 opened #6081 "[FR] [Roadmap] Change log scale on UI charts to show official scientific notation"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-16 21:18] dbczumar commented on #6072
@charlesbluca Are you certain that invoking `mlflow` within your shell is resolving to the expected binary? I.e. does `which mlflow` produce the expected result? What happens if you run `python -c "import protobuf; print(protobuf.__version__); import mlflow"`?

[2022-06-16 21:28] BenWilson2 opened #6082 "[FR] [Roadmap] Display tags in runs comparison table within the UI"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-16 22:05] subramaniam02 commented on #6080
@BenWilson2 I am willing to contribute.

[2022-06-16 22:46] BenWilson2 commented on #6080
@subramaniam02 awesome! Thanks for taking this!
Please perform a search within MLflow after creating the alias and replace all in-code references to the alias (including tests) and let me know if you have any questions while working on the PR!

[2022-06-16 23:08] BenWilson2 opened #6083 "[FR] [Roadmap] Make `set_experiment_tag()` a fluent API"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-16 23:48] BenWilson2 opened #6084 "[FR] [Roadmap] Support custom docker images for serving"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-17 00:25] BenWilson2 opened #6086 "[FR] [Roadmap] Generate swagger file for MLflow APIs"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-17 00:32] subramaniam02 commented on #6080
@BenWilson2 I am thinking of creating 2 PRs. One for code changes (tests, mlflow package), other for examples and docs. What do you think ? I am yet to run tests and verify. In next 1-2 days PR will be ready for review. Thanks

[2022-06-17 00:36] BenWilson2 opened #6087 "[FR] [Roadmap] Support color palette for MLflow plots to support users with color differentiation struggles"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-17 00:45] BenWilson2 commented on #6080
Sounds great! Let me know if you get stuck with the docs portion. Sphinx can be a little finicky to interpret from the local cli command.

[2022-06-17 08:20] moghadas76 opened #6090 "SQLAlchemy min version should be 1.4.37"
### System information

python == 3.8
OS: ubuntu 21.10

### Code to reproduce issue

[code]

### Describe the problem

ERROR: Could not find a version that satisfies the requirement sqlalchemy.future (from versions: none)
ERROR: No matching distribution found for sqlalchemy.future

### Other info / logs

_No response_

[2022-06-17 08:25] harupy commented on #6090
https://github.com/mlflow/mlflow/pull/6024 fixed this.

[2022-06-17 08:25] #6090 closed

[2022-06-17 08:26] mirekphd commented on #2923
@[tanlin2013](https://github.com/tanlin2013) are you sure you want to run an auto-upgrade of db schema [here](https://github.com/tanlin2013/mbl/commit/654d76e96b2d62a7fcd9cc87e2290bed99c09b60#diff-b80bfcff5418fdc7e455376e9269d3741cc6cf7860940222b799b5107c19c214R81)? Unconditionally, without any backups or checks? Overwriting an identifier value like this is a destructive operation, and will cause

[2022-06-17 12:10] mirekphd commented on #2923
@[tanlin2013](https://github.com/tanlin2013) an example of a slightly safer MariaDB auto-migration (with a backup), i.e. preceded by a check if it is needed and a backup of system tables (but not completely save since it would be attempted even with a major DB version change), can be found in the [docker_mariadb_upgrade](https://github.com/MariaDB/mariadb-docker/blob/master/docker-entrypoint.sh#L3

[2022-06-17 12:47] Jingnan-Jia opened #6091 "[FR] Can log_metrics log a pandas.DataFrame?"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Sometimes I have already got a table from 3rd package and I want to log the table to mlflow.

### Motivation

For instance, I can get a numpy arry or pandas.DataFrame to respresent the GPU or CPU usage every 2 seconds from a sub-threading during the model's training. And I do not want to use fo

[2022-06-17 13:50] charlesbluca commented on #6072
Looks like we're resolving to:

[code]

Is that expected?

I get the same `AttributeError` as above:

[code]

[2022-06-17 14:26] BenWilson2 opened #6092 "[FR] [Roadmap] Add utility for signature validation of logged model to dataset"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-17 14:41] BenWilson2 opened #6093 "[FR] [Roadmap] Publish official Docker image for MLflow Tracking server"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.

## Contribution Note

As with other roadmap items, there may be a desire for multiple contributors to work on an issue. While we don’t discourage collaboration, we strongly encour

[2022-06-17 14:49] BenWilson2 opened #6094 "[FR] [Roadmap] Generate and publish official Docker image for MLflow model server"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-17 15:00] BenWilson2 opened #6095 "[FR] [Roadmap] Add support for tag-based model version search"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-17 17:55] BenWilson2 commented on #6091
While there is no support for pandas_df directly, you can quite easily do one of two things:

1. Use the [client API](https://mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.log_batch)
[code]
2.  Use the [fluent API](https://mlflow.org/docs/latest/python_api/mlflow.html#mlflow.log_metrics)
[code]

[2022-06-17 17:55] BenWilson2 commented on #6091
Closing this as the feature already exists.

[2022-06-17 17:55] #6091 closed

[2022-06-17 18:32] BenWilson2 opened #6096 "[FR] [Roadmap] Support filtering experiments by tags"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-17 19:30] BenWilson2 opened #6097 "[FR] [Roadmap] Add infrastructure examples"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-17 19:43] BenWilson2 opened #6098 "[FR] [Roadmap] Add docs explanation for SparkML models sample_input"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-17 20:06] BenWilson2 opened #6099 "[FR] [Roadmap] Inline examples of model flavor usage with MLflow"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-17 20:35] BenWilson2 opened #6100 "[FR] [Roadmap] Embed examples into documentation"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-17 20:41] BenWilson2 opened #6101 "[FR] [Roadmap] Add examples of applying experiment and run tags during instantiation"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-17 20:48] BenWilson2 opened #6102 "[FR] [Roadmap] Create a detailed example of creating a custom model flavor"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-18 20:39] balvisio opened #6105 "[BUG] Nested `MlflowException` when calling `mlflow.set_experiment()` on a RestStore endpoint that requires authentication"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

mlflow, version 1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS 8
- **Python version**: Python 3.9.12
- **yarn version, if running the dev UI**:

### Describe the problem

**Note**: This might be

[2022-06-18 20:53] balvisio commented on #6105
Created PR: https://github.com/mlflow/mlflow/pull/6106

[2022-06-20 02:59] comojin1994 opened #6107 "[DOC-FIX] Mistake in the docs of mlflow.pytorch.autolog"
### Willingness to contribute

Yes. I can contribute a documentation fix independently.

### URL(s) with the issue

https://www.mlflow.org/docs/latest/python_api/mlflow.pytorch.html#module-mlflow.pytorch

### Description of proposal (what needs changing)

Hi,

I found the small mistake in the example of `mlflow.pytorch.autolog`.

As shown under code, it calculated the accuracy comparing the loss a

[2022-06-20 03:32] TranThanh96 commented on #5637
hi, do you public fork with authenication?

[2022-06-20 03:46] TranThanh96 opened #6108 "[FR] User authentication on mlflow UI"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

Hi.I am trying to find any fork that implement user authentication on mlflow UI? any work on it?

### Motivation

### Details

_No response_

### What component(s) does this bug affect?

- [ ] `area/artifacts`: Artifact stores and artifact logging
- [ ] `area/build`: Build and test infrastructu

[2022-06-20 14:14] franperezlopez opened #6109 "[BUG] Error registering model version: The provided Model Flavors dictionary is invalid [R]"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04.4 LTS
- **R**: R version 4.2.0 (2022-04-22) -- "Vigorous Calisthenics"

### Describe the problem

After training a model, I'm not able to register the model using `mlflow_create_model_version`

[2022-06-21 10:44] Qfl3x opened #6112 "[BUG] Inconsistency when it comes to the matplotlib requirement for autologging"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 22.04 LTS
- **Python version**: 3.9.12
- **yarn version, if running the dev UI**: Not Applicable

### Describe the problem

There is inconsistency w

[2022-06-21 17:42] dbczumar commented on #6072
@charlesbluca Thanks for confirming! Out of curiosity, what happens if you install `protobuf==3.18.1` from PyPI rather that Anaconda?

[2022-06-21 18:40] BenWilson2 commented on #5327
For any questions, concerns, or clarification on implementing this issue, please ping @BenWilson2.

[2022-06-21 18:41] BenWilson2 commented on #6074
For any questions, concerns, or clarification on implementing this issue, please ping @harupy

[2022-06-21 18:42] BenWilson2 commented on #6075
For any questions, concerns, or clarification on implementing this issue, please ping @dbczumar

[2022-06-21 18:42] BenWilson2 commented on #6076
For any questions, concerns, or clarification on implementing this issue, please ping @WeichenXu123

[2022-06-21 18:43] BenWilson2 commented on #6077
For any questions, concerns, or clarification on implementing this issue, please ping either @dbczumar, @BenWilson2, @harupy, or @WeichenXu123

[2022-06-21 18:47] BenWilson2 commented on #6079
For any questions, concerns, or clarification on implementing this issue, please ping @BenWilson2

[2022-06-21 18:48] BenWilson2 commented on #6082
For any questions, concerns, or clarification on implementing this issue, please ping @harupy

[2022-06-21 18:52] BenWilson2 commented on #6086
For any questions, concerns, or clarification on implementing this issue, please ping @BenWilson2

[2022-06-21 18:52] BenWilson2 commented on #6087
For any questions, concerns, or clarification on implementing this issue, please ping @harupy

[2022-06-21 18:52] BenWilson2 commented on #6092
For any questions, concerns, or clarification on implementing this issue, please ping @dbczumar

[2022-06-21 18:53] BenWilson2 commented on #6097
For any questions, concerns, or clarification on implementing this issue, please ping @BenWilson2

[2022-06-21 18:54] BenWilson2 commented on #6100
For any questions, concerns, or clarification on implementing this issue, please ping @BenWilson2

[2022-06-21 18:54] BenWilson2 commented on #6102
For any questions, concerns, or clarification on implementing this issue, please ping @WeichenXu123

[2022-06-21 18:55] BenWilson2 commented on #6101
For any questions, concerns, or clarification on implementing this issue, please ping @harupy

[2022-06-21 23:04] dbczumar commented on #6107
@comojin1994 Thank you for pointing this out! We would be very excited to review a PR that fixes this issue. Thank you in advance for your contribution!

[2022-06-21 23:06] #6108 closed

[2022-06-21 23:19] dbczumar commented on #5819
Closing this now that https://github.com/mlflow/mlflow/pull/6064 is merged. Thank you, @AdityaIyengar27 !

[2022-06-21 23:19] #5819 closed

[2022-06-21 23:21] dbczumar commented on #6109
@franperezlopez Thank you for filing this issue. @wamartin-aml @trangevi @akshaya-a can you take a look at this from an AzureML perspective?

[2022-06-22 04:36] comojin1994 commented on #6107
Created PR: https://github.com/mlflow/mlflow/pull/6113

[2022-06-22 10:13] DKorman commented on #2651
Still no way to quick&easy delete experiments?

[2022-06-22 14:58] sreerama-naga opened #6114 "Can we access mlflow server which is with https using java api"
Hi,

Refering to this, https://mlflow.org/docs/latest/tracking.html#logging-to-a-tracking-server
we can set the MLFLOW_TRACKING_SERVER_CERT_PATH variable in python API - to use a cert. I believe this helps in having secure communication with mlflow tracking server which is accessible with **https**://

Do we have an equivalent with java API? which can help to securely communicate with mlflow track

[2022-06-22 17:49] #6083 closed

[2022-06-22 19:02] #6107 closed

[2022-06-22 23:45] #6072 closed

[2022-06-23 13:52] rafaelvp-db commented on #6094
@dbczumar happy to help with this one

[2022-06-23 13:54] rafaelvp-db commented on #6086
@BenWilson2 I'm willing to take this one. Maybe slightly off-topic: would it make sense to also include replacing Flask with FastAPI in the roadmap (Swagger docs would come out of the box and it's more performant than Flask). Let me know what you think!

[2022-06-23 16:40] BenWilson2 opened #6118 "[FR] [Roadmap] Create official helm charts for MLflow"
## MLflow Roadmap Item

This is an MLflow Roadmap item that has been prioritized by the MLflow maintainers. We’ve identified this feature as a highly requested addition to the MLflow package based on community feedback.
We're seeking a community contribution for the implementation of this feature and will enthusiastically support the development and review of a submitted PR for this.

## Contribut

[2022-06-23 16:52] ameya-parab opened #6119 "[FR] Allow Proxies in Sagemaker Endpoints and Docker builds"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

I'd like to request that proxies (http proxy, https proxy, and no proxy) be allowed when performing the below two operations -

1. Build and Push Docker container - `mlflow sagemaker build-and-push-container`
2. Deploying models as Sagemaker Endpoints

#

[2022-06-23 17:28] pbarker opened #6121 "[DOC-FIX] Slack link no longer working"
### Willingness to contribute

No. I cannot contribute a documentation fix at this time.

### URL(s) with the issue

https://mlflow.org/

### Description of proposal (what needs changing)

slack link at bottom of page is broken, unable for me to contribute due to permissions

[2022-06-23 17:59] rafaelvp-db commented on #6118
@BenWilson2 also happy to contribute to this one

[2022-06-23 18:28] rafaelvp-db commented on #6084
@BenWilson2 @WeichenXu123 if you're looking for contributors I'm also happy to work on this one

[2022-06-23 18:55] #6049 closed

[2022-06-24 03:47] harupy commented on #6121
@pbarker Does this https://join.slack.com/t/mlflow-users/shared_invite/zt-1b7gbsopj-ckYE002CMSDR4_Bioztv8g work? If yes, we'll update the link.

[2022-06-24 04:07] harupy commented on #6112
I think https://github.com/mlflow/mlflow/pull/5995 (merged after 1.26.1 release) fixed this issue.

[2022-06-24 04:22] #6121 closed

[2022-06-24 05:13] #6112 closed

[2022-06-24 05:15] Jason-CKY opened #6126 "[FR] Allowing Hard Deletion of runs via REST API and RestStore"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Hi, can't seem to find this issue anywhere. I would like to be able to hard delete runs using the REST API directly. This is currently impossible with the `mlflow.store.tracking.rest_store.RestStore` object.

This is similar to #5997 , except for the bac

[2022-06-24 06:02] Jason-CKY opened #6127 "[BUG] `mlflow gc` fails in deleting runs from postgres backend store due to foreign key constraints"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Docker
- **Python version**: 3.9.5
- **yarn version, if running the dev UI**:

### Describe the problem

The code to delete runs tries to delete the record

[2022-06-24 06:21] #6126 closed

[2022-06-24 06:33] Jason-CKY opened #6128 "[FR] Run `mlflow gc` based on time since last deletion"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Adding more functionality to `mlflow gc`, where administrators can delete runs based on time criteria (e.g. delete runs that have been tagged as `deleted` > 1 month ago). This could be done by adding a `delete_date` column into `runs` table in the sqlsto

[2022-06-24 09:37] mjstel opened #6129 "[BUG] `mlflow.spark.log_model` produces sparkml folder with only SUCCESS files with s3 as artifact store"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: apache/spark-py:3.2.1 Docker Image on K8s
- **Python version**: 3.9

### Describe the problem

Hello, we are trying to create a KMeans model using spark.ml. The spark job runs against our Kubernetes cluste

[2022-06-26 13:12] DougTrajano commented on #5583
I'm facing the same issue with version 1.26.1

[2022-06-26 14:37] ikrizanic commented on #6102
@BenWilson2 I would love to do this task, can you assign the issue to me?

[2022-06-26 16:09] aiwalter commented on #5682
Hi @dbczumar ,
we would like to create an `mlflow` interface to `sktime`, which also contains an interface to `statsforecast` and many other time series packages. We have an open issue and there are people who want to work on it now: https://github.com/alan-turing-institute/sktime/issues/1215

Question regarding this:

is this also valid for `sktime` or only for packages that implement a particula

[2022-06-27 06:02] subramaniam02 commented on #5327
@BenWilson2  I have a draft PR in my forked repo to get initial feedback. I will add test cases for the same soon.

[2022-06-27 06:10] Jason-CKY commented on #6127
To give some more context, I got the following warning:
`/opt/conda/lib/python3.9/site-packages/mlflow/store/db/utils.py:80: SAWarning: DELETE statement on table 'metrics' expected to delete 1 row(s); 0 were matched. Please set confirm_deleted_rows=False within the mapper configuration to prevent this warning`.

The mis-match caused the metrics to not be deleted, which caused the run to error out

[2022-06-27 06:45] WeichenXu123 commented on #6102
Hi @ikrizanic
Few days ago [Lakshika Parihar](https://app.slack.com/team/U01TDNYQU21) ping me and also want to do this task. Let's wait for his response first.

[2022-06-27 08:44] WaterKnight1998 commented on #1315
@andrewmchen Hmm, I am using DBR 9.1 LTS ML and I am finding the same issue. Could you provide me a link on this feature?

[2022-06-27 11:18] Qfl3x commented on #6112
@harupy Works well!

[2022-06-27 11:44] #6129 closed

[2022-06-27 13:15] wamartin-aml commented on #6109
@singankit have you done any work on the R side?

[2022-06-27 18:34] lakshikaparihar commented on #6102
Hey @WeichenXu123 , Yeah i would love to do this task

[2022-06-28 07:35] MSthe00 opened #6155 "[BUG] mlflow.tensorflow.autolog(log_model=False) doesn't log earlystopping callback"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.26.1

### System information

- **OS: Red Hat Enterprise Linux Server release 7.9 (Maipo)**:
- **Python version: 3.9 **:

### Describe the problem

When using mlflow.tensorflow.autolog() with log_model=False, the callback for early stopping is not logged (e.g. restored_epoch, stopped_epoch, etc).

[2022-06-28 12:26] bhogasena commented on #5846
how to setup auth

[2022-06-28 13:26] jmahlik commented on #925
It seems like limiting the initial experiments displayed and having a "load more" button similar to how the runs pages work might help.

The issue indeed presents only when there are about 1000+ experiments. The python apis continue to function fine with a large number of experiments, it's only the ui/js side that gets bogged down.

I tracked down how loading more runs was implemented
https://gith

[2022-06-28 17:20] marioGab commented on #925
I only have 3 to 5 experiments but still get this error. I just have alot of metrics and parameters in each experiment. So the "load more" idea is not possible.

[2022-06-28 17:38] alokpadhi commented on #925
Well I found one workaround here. Try `mlflow server -h 0.0.0.0 -p 5000 --backend-store-uri postgresql://DB_USER:DB_PASSWD@DB_ENDPOINT:5432/DB_NAME --default-artifact-root s3://S3_BUCKET_NAME --gunicorn-opts "--timeout 0"`

This will wait till the data transfer finishes and loads, I have to delete a few of my experiments from my S3 bucket to make it load a little faster which I think is not a very

[2022-06-28 18:00] nitesh31mishra commented on #3806
Can you just checkout with the host and port. On which port your mlflow ui and Jupyter is running and whether you are configuring the mlflowui to run on the host ip.

[2022-06-28 18:23] MinuraPunchihewa opened #6156 "[FR] Treatment of Existing Model Versions in a Stage When Making Transitions"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

It is possible to transition model versions using the `MlflowClient` as shown below,
[code]
This does not provide any feature to define how models that already exist in the stage that the transition is made to, should be treated.

For example, in the abo

[2022-06-28 18:27] architsinghal-mriirs commented on #6100
Hi @BenWilson2. I'd like to collaborate and take up this issue. You can add me as the primary contributor.
Thanks and Regards
Archit Singhal

[2022-06-28 21:26] CaioCavalcanti commented on #6082
I would like to help with this.

[2022-06-28 23:26] CaioCavalcanti commented on #6082
@harupy can you give me a hand?

- Can I add the table at the end after metrics or should it be somewhere else?
- Should system tags be included?
- Including the existing `runTags` would look something like this, is this enough?
![image](https://user-images.githubusercontent.com/3620566/176320203-9733de37-509b-47e4-9bcd-fab8379987b0.png)

[2022-06-29 03:10] jeremyjordan commented on #6082
I can add some input from a user perspective (I also was the one who originally filed the feature request #4807)

Yes, this seems like a reasonable place to add the table to me.

I would prefer a toggle, off by default, that allows you to show system tags. The reason for this is that I know some teams will take advantage of the fact that `mlflow.*` tags are hidden to keep track of some additional

[2022-06-29 05:11] harupy commented on #6082
@CaioCavalcanti Thanks for the help!

Yes, this sounds good to me.

@jeremyjordan

Thanks for the input. Yeah, makes sense to me to add a toggle for MLflow system tags.

[2022-06-29 18:02] varunsridhar1 opened #6162 "[BUG] MLFlow does not support a predictions DataFrame with a MultiIndex"
I am using MLFlow to deploy a model that returns a pd.DataFrame with a pd.MultiIndex. Whenever I run the MLFlow wrapper to predict, I see this error that comes from calling `json.dump` on the MultiIndex DataFrame:

`mlflow models predict -m example_model -i data.json -t json --env-manager local 2>&1`

`[{Traceback (most recent call last):
  File "/Users/vsridhar/yes/envs/jupyter_env/envs/FAI-dev/b

[2022-06-29 21:44] browser-bug commented on #3583
As an update, changing `window.parent.location.origin` to `window.location.origin` seems to do the trick. At least in my use case scenario. I don't know if this could be a disruptive action or not but for the little testing I did it seems just fine.

[2022-06-29 22:41] #6080 closed

[2022-06-29 23:03] dbczumar commented on #6114
Hi @sreerama-naga, apologies for the delay. Unfortunately, the Java client does not currently expose a Java API to provide a server cert path, though we would absolutely welcome a contribution that extends `BasicMlflowHostCreds` (https://github.com/mlflow/mlflow/blob/master/mlflow/java/client/src/main/java/org/mlflow/tracking/creds/BasicMlflowHostCreds.java) to support a server cert path.

[2022-06-29 23:21] dbczumar commented on #6127
@Jason-CKY Apologies for the delay, and thank you for raising this issue. MLflow currently defines cascading deletes on metadata associated with runs (i.e. metrics, params, tags, latest metrics; for example: https://github.com/mlflow/mlflow/blob/9a25f04787b7703c382fa7c3cd25b78ce0eed380/mlflow/store/tracking/dbmodels/models.py#L320). As you noted, I suspect that the issue has something to do with

[2022-06-29 23:21] dbczumar commented on #6162
@arjundc-db Would you be able to take a look here? cc also @WeichenXu123

[2022-06-29 23:25] dbczumar commented on #6156
Hi @MinuraPunchihewa. The behavior you're looking for is available by specifying the `archive_existing_versions=True` flag when calling `MlflowClient.transition_model_version_stage()`. For more information, see https://mlflow.org/docs/latest/python_api/mlflow.tracking.html#mlflow.tracking.MlflowClient.transition_model_version_stage. Thank you for using MLflow!

[2022-06-29 23:25] #6156 closed

[2022-06-29 23:26] dbczumar commented on #6128
Hi @Jason-CKY, thank you for requesting this feature. We would be very excited to review a PR that implements it. Feel free to file a pull request, and please let me know if you have any questions. cc @WeichenXu123

[2022-06-30 02:57] MinuraPunchihewa commented on #6156
@dbczumar Thank you very much. Maybe that ought to be added here as well,
https://www.mlflow.org/docs/latest/registry.html

I was looking through here and I did not find that flag.

[2022-06-30 05:58] Jason-CKY commented on #6127
Was able to narrow down the problem. The issue is with an outdated postgresql database (version 11). I think the SELECT command truncates the number of decimals that is returned beyond a certain number of decimal places, thus causing a mismatch if you were to log a metric with too many decimal places. It can be fixed by upgrading the postgresql database to a later version (e.g. v13)

To reproduce:

[2022-06-30 07:21] manuelbre opened #6166 "[BUG] Error when Upgrading Database"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Ubuntu 16.04
- **Python version**: 3.9.6
- **yarn version, if running the dev UI**:

### Describe the problem

I updated mlflow from 1.24.0 to 1.27.0. When running mlflow server with sqllite backend of an

[2022-06-30 07:23] manuelbre commented on #6166
Solved it.
The url pointed to a non mlflow database.

[2022-06-30 09:40] harupy commented on #6081
Script to generate sample data

[code]

[2022-06-30 09:58] harupy commented on #6081
Hints:

[code]

Ref: https://plotly.com/python/reference/#carpet-baxis-exponentformat

[2022-06-30 10:14] harupy commented on #6081
<img width="1523" alt="image" src="https://user-images.githubusercontent.com/17039389/176652835-622fa572-5f03-4192-b740-0c391366583f.png">

[2022-06-30 10:17] harupy commented on #6074
I think we should **add** a box plot instead of **replacing** the scatter plot (which I think is useful to plot continuous values).

[2022-06-30 10:39] WeichenXu123 commented on #6155
Thank you for report the issue. I will create a fix.

[2022-06-30 11:57] mrbaloglu commented on #3052
I had a similar issue when training and logging a PyTorch model. In the line when I log the metric:
`mlflow.log_metric("validation_loss", loss)` the data type of loss was a torch.Tensor. When I changed it into a numpy data type, the was resolved for me.

[2022-06-30 12:01] RajezMariner commented on #6081
I am interested in taking up this roadmap and work on it.

[2022-06-30 12:03] harupy commented on #6081
@RajezMariner Thanks for the help! Looking forward to your PR :)

[2022-06-30 12:42] Mathanraj-Sharma opened #6169 "[BUG] Require validation for `MlflowClient.log_batch` when updating params"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Mac Book Big Sur (11.4)
- **Python version**: Python 3.8.13
- **yarn version, if running the dev UI**:

### Describe the problem

I am using `mlflow.track

[2022-06-30 12:56] haeraeus commented on #4617
Possible solution is adding an environment variable: docker run --rm -p 8000:8000 -e GUNICORN_CMD_ARGS="--bind=0.0.0.0" mlflow-pyfunc-servable

[2022-06-30 13:40] WeichenXu123 commented on #6162
To simplify the issue, I propose to always convert the predict result as an array and then return it as a json list.

[2022-06-30 14:48] jeffery9876 commented on #3656
Hi can anyone take a look at the PR ?

[2022-06-30 17:32] shrinath-suresh opened #6173 "[BUG] mlflow deployments cli predict help menu broken"
### Willingness to contribute

Yes. I can contribute a fix for this bug independently.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu 16.04
- **Python version**: 3.8
- **yarn version, if running the dev UI**:

### Describe the problem

mlflow deployments cli - predict help menu is broken .

When predict is invoked without

[2022-06-30 18:24] dbczumar commented on #6173
@trangevi Would you be able to take a look at this? Looks like we're missing a bit of validation asserting that exactly one of deployment `name` or `endpoint` is specified.

[2022-06-30 18:37] njanopoulos commented on #5659
I am having the exact issue that was posted here at the beginning of the conversation. Unfortunately, the solution provided hasn't worked for me. Anybody have more suggestions of things to try or look for?

[2022-07-01 00:06] dbczumar commented on #6162
We need to make sure that the proposed solution is backwards-compatible. @arjundc-db @sueann @yunpark93 Can one of you take a look at this and propose a solution?

[2022-07-01 00:38] #5862 closed

[2022-07-01 01:20] #6127 closed

[2022-07-01 03:04] #6155 closed

[2022-07-01 07:40] Jason-CKY commented on #3414
thanks for this workaround! Wonder if it is possible to just expose these custom functions with the PyFuncModel class instead.

[2022-07-01 11:22] Mathanraj-Sharma commented on #6169
@WeichenXu123 I am not able to push my branch could you please give me permission

[code]

[2022-07-01 11:32] harupy commented on #6169
@Mathanraj-Sharma You cannot push to `mlflow/mlflow`. Can you create a fork, push commits there, and create a PR?

[2022-07-01 11:50] Mathanraj-Sharma commented on #6169
@harupy thanks will do it

[2022-07-01 15:25] ameasure opened #6177 "[BUG] INVALID_PARAMETER_VALUE for parameter 'params'"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Debian 10
- **Python version**: 3.9.13
- **yarn version, if running the dev UI**: N/A

### Describe the problem

I receive a `RestException: INVAILD_

[2022-07-01 15:33] nfarley-soaren opened #6178 "[FR] Currently unable to specify variant names when deploying models to Sagemaker"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

I would like to add the ability to pass in a specific name for the model variant when deploying to Sagmaker as an additional argument to the deploy method in sagemaker/__init__.py.  Currently, variant names are autogenerated by _get_sagemaker_model_name

[2022-07-01 17:05] dbczumar commented on #6177
@ameasure Thank you for raising this; it is absolutely a bug. I've filed https://github.com/mlflow/mlflow/pull/6179 to address it.

[2022-07-01 17:11] MinuraPunchihewa opened #6180 "[FR] Rollback to Previous Model Version in Stage"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

It would be useful to be able to rollback to a previous model version in given stage, especially Production.

For example, say that I am working on a particular a model and after several iterations, I decide to move version 3 into Production. Now, after

[2022-07-01 19:02] njanopoulos opened #6181 "Tracking Server not working as a proxy for localhost"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.25.1

### System information

- localhost: GitBash
- Remote Host: Kubernetes POD
- Artifact Destination: AWS S3
- Python 3.7.2

### Describe the problem

I am having similar issue to what was posted here: https://github.com/mlflow/mlflow/issues/5659
Unfortunately, the solution provided hasn't work

[2022-07-02 04:15] #6081 closed

[2022-07-02 05:39] that-rahul-guy commented on #4387
Hello @mabdullah1994 ,
Recently my team and I were facing similar issue..
We declared the  /var/run/docker.sock as shared volume to our docker container..
This will allow the container to communicate with docker.sock on host and then the docker daemon was started enabling us to use docker commands.

If the issue have been resolved by some other solution, please share it.

[2022-07-02 15:30] johnyNJ opened #6183 "[BUG] Log_params seems to not use the correct maximum length of value"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution MacOS 12.1**:
- **Python version 3.8.13**:

### Describe the problem

`log_params` seems to use different validation logic for max. parameter value length compared to `log_param`.
Accor

[2022-07-03 09:29] caozhuozi commented on #4782
encounter the same issue

[2022-07-03 10:35] harupy commented on #6074
Example implementation: https://github.com/harupy/mlflow/pull/44

[2022-07-03 13:42] Mathanraj-Sharma commented on #6169
@WeichenXu123 I have created PR #6184 with implementation to fix this bug.

I am not able to add you as a reviewer in my PR, do I need any special permission to do it?

[2022-07-03 22:35] rjtshrm opened #6186 "MlFlow load model form azure blob error: blob doesn't exist"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.26.1

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 20.04)**:
- **Python version**: 3.10

### Describe the problem

I am using mlflow with azure blob and psql. While training I can successfully logs, the PyTorch model

[2022-07-03 23:29] indranilr commented on #5456
A question in this regard, where is the training data stored as we move from step to step (regression template),  is this one spark data frame (created by data step) that is accessed by sequence of steps ? What kind of parameters can one step pass to the other step ?

[2022-07-04 00:35] #6082 closed

[2022-07-04 01:43] WeichenXu123 commented on #6186
@rjtshrm Thanks for reporting it ! I will help review your fixing PR .

[2022-07-04 01:45] WeichenXu123 commented on #6183
Thanks for reporting this ! I will help review your fixing PR.

[2022-07-04 02:49] WeichenXu123 commented on #6183
The `log_params` limit the param value length <= 250 at here:
https://github.com/mlflow/mlflow/blob/8693a26bf2acd418aa93aa5ea2e5536caa199fc3/mlflow/utils/validation.py#L148

[2022-07-04 03:54] WeichenXu123 commented on #6183
@dbczumar

Which param value length limitation shall we use ?

* `log_param` doc say value length limitation is 5000, but the code does not valiate the value length.
* `log_params` validate the value length to be <= 250, otherwise raise error
* `autologging` automatically truncate value to be length <= 250

[2022-07-04 05:22] harupy commented on #6074
Demo:

https://user-images.githubusercontent.com/17039389/177086575-60052db3-07c5-41d4-93f3-1858f1c9e283.mov

[2022-07-04 05:58] harupy commented on #6074
With jitter:

<img width="2377" alt="image" src="https://user-images.githubusercontent.com/17039389/177090518-1cb3a4d2-2f1f-4797-bc1f-593f8803f4b3.png">

[2022-07-04 07:20] harupy commented on #6074
cc @ahlag

[2022-07-04 11:35] pejmanS21 opened #6187 "[BUG] MLFlow - NGINX - Docker"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Python version**:
- **yarn version, if running the dev UI**:

### Describe the problem

So, I want to use mlflow with Nginx in a specific endpoint (lik

[2022-07-04 13:43] WeichenXu123 commented on #6180
Good feature proposal ! How do you want to implement the feature ? Unregister the last X models ?

[2022-07-04 13:56] WeichenXu123 commented on #6180
On second thought, if you want to rollback "product" stage model, seemingly you can call `transition_model_version_stage` API to transition this model back to "staging" stage, does this satisfy your demand ?

[2022-07-04 14:02] WeichenXu123 commented on #6187
Could you also attach your Nginx log ?

[2022-07-04 14:11] pejmanS21 commented on #6187
I figured it out
Apparently, for this to work my URL from `http://<ip-address>/mlflow` should be `http://<ip-address>/mlflow/` then mflow will open in `http://<ip-address>/mlflow/#/experiments/0` and UI comes up

[2022-07-04 14:26] WeichenXu123 commented on #6178
To make the model name unique, shall we define this additional argument as a suffix  ? so the final model_name will be {generated_model_name}-{suffix}

[2022-07-04 14:40] johnyNJ commented on #6183
If I may... I see at least two reasons why not 250: 1) consistency, so `log_params` should allow the user to achieve the same as `log_param`. 2) 250 seems too low, e.g. in the case of parameter vectors of doubles it would only allow very short vectors after stringification.

[2022-07-04 14:53] MinuraPunchihewa commented on #6180
@WeichenXu123 This is actually not about transitioning the same model version between stages (e.g. moving model version 3 from Production to Staging), rather it is concerned with moving back to a previous model version _within a given stage_.
For instance, model version 3 was in Production previously and it was working fine. After a while, you decide to move model version 7 into production. Howeve

[2022-07-04 17:23] marcoramosh commented on #4607
I have the same bug

[2022-07-04 23:22] harupy commented on #6087
Prototype:

https://user-images.githubusercontent.com/17039389/177224848-435d7e46-d135-47f7-9cd7-2a9760622286.mov

[2022-07-04 23:54] WeichenXu123 commented on #6187
Awesome!

[2022-07-04 23:54] #6187 closed

[2022-07-04 23:58] WeichenXu123 commented on #6183
Yea, 250 is too low, we can consider to increase it. And we should add the same value length limit validation for `log_param`.  @dbczumar WDYT ?

[2022-07-05 01:06] WeichenXu123 commented on #6180
@MinuraPunchihewa Got it.
What do you think of this solution:

Add a API like : `rollback_model_to_version(rollback_version, stage)`

it will do: for all models in the `stage` and version larger than `rollback_version`, transition their stage to be "archived".

[2022-07-05 03:07] MinuraPunchihewa commented on #6180
@WeichenXu123 We would need to specify which model version we are trying to rollback to here, yes? If we knew which model version we need to go back to, then we can simply use `transition_model_version_stage` like you mentioned previously.
The rollback operation, in my opinion, is useful when we don't know which version we want go back to, like I have mentioned in my example. With rollbacks, we ar

[2022-07-05 05:19] AMMAR-62 commented on #6102
@lakshikaparihar are you still working on this issue??

[2022-07-05 06:17] WeichenXu123 commented on #6180
@MinuraPunchihewa Understood.

Why you need to only keep one model in a given stage ?

If you allow multiple model versions in a stage, and each time you add a new model into given stage, keep old models stage unchanged, then, e.g. in product stage, when you want to rollback to previous product model version, you can transition the latest produce model to "archived" stage, then you can call `get_l

[2022-07-05 06:23] lakshikaparihar commented on #6102
@AMMAR-62 Yeah, it's assigned to me today only. so I will start working on it.

[2022-07-05 07:18] MinuraPunchihewa commented on #6180
@WeichenXu123 That's clear. But, in my organization, we prefer to maintain only a single model version in Production (in Staging as well, but that is not as important). The version in Production is the model that actually runs in the Production environment.

MLflow already facilitates this through the UI by transitioning model versions that already exist in a given stage to Archived,
![image](http

[2022-07-05 07:42] sniafas opened #6192 "[FR] Add pyfunc example"
### Willingness to contribute

Yes. I can contribute this feature independently.

### Proposal Summary

We can add a new section in examples/pyfunc and add some pyfunc examples.

### Motivation

Pyfunc is a powerful feature MLFlow offers

It's a nice idea to provide some hands on guidelines

Pyfunc is a core functionality that supports our deployed models in production

Pyfunc has a bit steep lear

[2022-07-05 08:27] WeichenXu123 commented on #6180
Got it. CC @dbczumar What's the best practice for model stage setting ? (suppose we need to support rollback to previous version easily). If our best practice is only keep one model version in product stage, then it cannot easily support rollback to previous version (in this case we are hard to get the previous version)

[2022-07-05 09:29] harupy commented on #6087
### Prototype 2

https://user-images.githubusercontent.com/17039389/177296758-a85c79ea-c75b-48ae-a3ad-ca76814ce813.mov

[2022-07-05 09:30] harupy commented on #6087
cc @pomelyu

[2022-07-05 13:30] sreerama-naga commented on #6114
@dbczumar thank you for your response.

[2022-07-05 14:01] pomelyu commented on #6087
It looks great! I never thought of using the color palette. That's better than what I proposed. Thanks

[2022-07-05 14:21] harupy commented on #6087
@pomelyu Thanks for the reply! Would different symbols (e.g. circle, star, triangle, etc.) be also helpful?

<img width="956" alt="image" src="https://user-images.githubusercontent.com/17039389/177349967-a1c75756-9d2e-4dbb-af79-8f49e9c69b37.png">

[2022-07-05 14:45] pomelyu commented on #6087
Sure

[2022-07-05 16:01] ElefHead opened #6194 "[BUG] mlflow run local filedirectory is broken in v1.27.0"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS Monterey 12.3.1
- **Python version**: 3.7
- **yarn version, if running the dev UI**: N/A

### Describe the problem

The following command, which ran

[2022-07-05 20:40] #6177 closed

[2022-07-05 20:53] dbczumar commented on #6169
@Mathanraj-Sharma @WeichenXu123 @harupy I've closed https://github.com/mlflow/mlflow/pull/6184 because I think we need a different approach. Instead of adding client-side validation, can we trace the source of the 500-level error being returned by `mlflow server` and see if we can change the exception to a 400-level error?

[2022-07-05 21:05] smurching opened #6195 "[DOC-FIX] Document models:/ URIs explicitly in OSS MLflow docs"
### Willingness to contribute

No. I cannot contribute a documentation fix at this time.

### URL(s) with the issue

https://mlflow.org/docs/latest/tracking.html#artifact-stores

### Description of proposal (what needs changing)

I wanted to link to what an “MLflow model URI” could be in a design doc, and searched for it in MLflow docs. It looks like we don’t actually describe supported model URIs

[2022-07-05 21:36] dbczumar commented on #6183
@johnyNJ @WeichenXu123 Thank you for raising this issue and discussing solutions. Here's my proposal:

1. Increase the minimum parameter value length supported by all backends to 500, as documented in https://mlflow.org/docs/latest/rest-api.html#log-param. This will require a database migration for `SqlAlchemyStore`, which current defines `value` as a length-500 column: https://github.com/mlflow/m

[2022-07-06 00:09] dbczumar commented on #6192
@sniafas This is a great idea. Looking forward to your contribution. Please let @WeichenXu123 if you have any questions. Thank you!

[2022-07-06 00:13] WeichenXu123 commented on #6180
We can add tag for history model in a stage, and then search by tag.

[2022-07-06 00:28] WeichenXu123 commented on #6181
@harupy Would you like to provide some help for the user ?
This is similar to the previous issue you replied https://github.com/mlflow/mlflow/issues/5659

[2022-07-06 03:15] MinuraPunchihewa commented on #6180
@WeichenXu123 That's a great idea! Can this be incorporated into a MLflow API as well?

[2022-07-06 04:16] harupy commented on #6181
@njanopoulos What does your tracking URI look like? Can you replace sensitive information with random strings and share it with us?

[2022-07-06 05:57] #6119 closed

[2022-07-06 09:16] WeichenXu123 commented on #6183
@dbczumar Good proposal, thank you !

[2022-07-06 09:16] WeichenXu123 commented on #6183
@johnyNJ Would you create PR according to @dbczumar 's proposal above ?
Or if you have better idea you can also raise it here.

[2022-07-06 11:02] harupy opened #6200 "Upgrade `pylint` to `2.14.4`"
We currently use pylint 2.11.1. This is a bit old so we should upgrade it to the latest version (2.14.4):

https://github.com/mlflow/mlflow/blob/d40780be361f4bd2741c2e8fcbd428c1d693edcf/requirements/lint-requirements.txt#L1

- https://pypi.org/project/pylint/2.11.1/
- https://pypi.org/project/pylint/2.14.4/

[2022-07-06 11:03] harupy commented on #6200
Note pylint 2.14.4 might report issues that 2.11.1 doesn't.

[2022-07-06 11:15] rvUnipart opened #6201 "[BUG] FileNotFoundError: [WinError 2] The system cannot find the file specified when running mlflow pipelines run --profile local"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 Pro (64 bit)
- **Python version**: 3.7.13 (also tried 3.8)
- **yarn version, if running the dev UI**:

### Describe the problem

Following the tutorials for the new MLflow Pipelines https://mlfl

[2022-07-06 11:37] bwallima opened #6202 "Timeout value too small: when downloading large model files, timeout is reached"
https://github.com/mlflow/mlflow/blob/d40780be361f4bd2741c2e8fcbd428c1d693edcf/mlflow/store/artifact/http_artifact_repo.py#L63

[2022-07-06 12:50] #5744 closed

[2022-07-06 14:34] WeichenXu123 commented on #6180
@MinuraPunchihewa Sure! We need to add API to query model by tags. Are you interested in contributing it ?

[2022-07-06 15:03] ameasure commented on #6177
Thank you, that resolved the problem on my end.

[2022-07-06 18:41] dbczumar commented on #6180
@WeichenXu123 @MinuraPunchihewa We are currently working on extending the `search_model_versions()` to support searching by. tags; however, for this use case, using `search_model_versions()` to filter based on the model name should be sufficient to fetch all model versions belonging to the model. After that, the tags of each model can be parsed according to @WeichenXu123's proposal. @MinuraPunchih

[2022-07-06 18:55] MinuraPunchihewa commented on #6180
@dbczumar Understood. Thank you for your explanation. Should this issue be left open or shall I close it for now?

[2022-07-06 19:28] dbczumar commented on #6180
Of course! Hope it helped! I'm going to go ahead and close this for now, but we'll absolutely revisit rollbacks at some point in the future. Cheers! :)

[2022-07-06 19:28] #6180 closed

[2022-07-06 22:38] smurching opened #6204 "[FR] Support overriding profile.yml confs when running an MLflow pipeline"
### Willingness to contribute

No. I cannot contribute this feature at this time.

### Proposal Summary

I'm trying to run an MLflow pipeline in production. I want to log runs to an experiment / register model versions to a registered model created and managed via the [Databricks Terraform Provider](https://github.com/databrickslabs/terraform-provider-databricks). The experiment ID / model name cr

[2022-07-07 00:11] dbczumar commented on #6162
@arjundc-db @sueann @yunpark93 Pinging here. Can you take a look?

[2022-07-07 02:39] Jason-CKY opened #6205 "[BUG] Http artifact repo time out for large artifact downloads"
### Willingness to contribute

Yes. I would be willing to contribute a fix for this bug with guidance from the MLflow community.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: docker
- **Python version**: 3.7
- **yarn version, if running the dev UI**:

### Describe the problem

The default timeout for downloading artifacts via ht

[2022-07-07 02:48] nreith commented on #5844
The approach I am considering is possibly to put a wrapper or decorator around most mlfliw api calls to init and switch db per team based on inputs. Others have already done basic auth with nginx around mlflow. If you use s3 as the artifact store and don't proxy artifacts through the tracking server, they upload there and at the same time that bucket name (i.e. username) and token are the credenti

[2022-07-07 05:35] harupy commented on #6202
Hi @bwallima, I filed https://github.com/mlflow/mlflow/pull/6206 to make the timeout value customizable by setting the `MLFLOW_HTTP_REQUEST_TIMEOUT` environment variable.

[2022-07-07 05:35] harupy commented on #6205
Hi @Jason-CKY, I filed https://github.com/mlflow/mlflow/pull/6206 to make the timeout value customizable by setting the MLFLOW_HTTP_REQUEST_TIMEOUT environment variable.

[2022-07-07 06:47] #6205 closed

[2022-07-07 06:47] #6202 closed

[2022-07-07 06:58] harupy commented on #6181
@njanopoulos Thanks for the comment.

I think it's because the tracking server has credentials for S3, but your local machine doesn't.

[2022-07-07 07:14] bkolb249 commented on #6181
I am having a similar issue as described here. Also running tracking server on kubernetes, with:

[code]

When I run `print(mlflow.get_artifact_uri())`, I get a similar output as @njanopoulos:

[code]
however, according to [this comment](https://github.com/mlflow/mlflow/issues/5659#issuecomment-1096633208) in #5659 , it should probably be `mlflow-artifacts://...` instead of `s3://...`, which is al

[2022-07-07 07:44] harupy commented on #6181
@bkolb249 Did you create a new experiment?

[2022-07-07 07:45] bkolb249 commented on #6181
yes, indicated in the logs by `2022/07/07 09:00:04 INFO mlflow.tracking.fluent: Experiment with name 'test5' does not exist. Creating a new experiment.`

[2022-07-07 07:51] harupy commented on #6181
@bkolb249 Can you check the experiment artifact URI?

[2022-07-07 07:55] bkolb249 commented on #6181
Is the *experiment artifact URI* different from the *artifact URI*, i.e. the output I get from `print(mlflow.get_artifact_uri())`? The output of latter command is:
`s3://folder/artifacts/4/ace4fc93c9364afa9ee2b2b81ee91ef0/artifacts`

[2022-07-07 08:10] harupy commented on #6181
@bkolb249 Can you launch the server with this command:

[code]

and create a new experiment, and then log artifacts?

[2022-07-07 08:18] harupy commented on #6201
@rvUnipart Is `make` available on your machine?

[2022-07-07 08:59] rvUnipart commented on #6201
I think so, I've used `make` commands for Sphinx document creation on this setup

[2022-07-07 09:02] harupy commented on #6201
@rvUnipart Can you run this command?

[code]

[2022-07-07 09:36] harupy commented on #6194
@ElefHead Thanks for the investigation. This is definitely a bug.

[2022-07-07 09:40] harupy commented on #6194
@ElefHead Would you be interested in fixing this issue?

[2022-07-07 09:46] bkolb249 commented on #6181
[code]

[2022-07-07 09:51] rvUnipart commented on #6201
Ah yes, same error message:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\Vizer\Anaconda3\envs\mlflowpipelines\lib\subprocess.py", line 488, in run
    with Popen(*popenargs, **kwargs) as process:
  File "C:\Users\Vizer\Anaconda3\envs\mlflowpipelines\lib\subprocess.py", line 800, in __init__
    restore_signals, start_new_session)
  File "C:\Users\Vizer

[2022-07-07 09:55] harupy commented on #6201
Can you install make?

[2022-07-07 09:56] harupy commented on #6201
@dbczumar It might be helpful to check if `make` is available and throw an error with a helpful message if it's not.

[2022-07-07 10:11] rvUnipart commented on #6201
I installed chocolately (non-admin) from here https://docs.chocolatey.org/en-us/choco/setup#non-administrative-install
then ran `choco install make` and `make --help` confirms it's installed.

Going back and running `mlflow pipelines run --profile local` again now fully completes (albeit with some warnings):

2022/07/07 11:04:59 INFO mlflow.pipelines.pipeline: Creating MLflow Pipeline 'mlp-regress

[2022-07-07 10:16] harupy commented on #6201
Awesome! Can we close this issue?

[2022-07-07 10:17] rvUnipart commented on #6201
Happy to close

[2022-07-07 10:17] #6201 closed

[2022-07-07 11:31] harupy commented on #6194
@ElefHead My attempt to fix this issue: https://github.com/harupy/mlflow/pull/48

[2022-07-07 11:47] njanopoulos commented on #6181
args:
        - '--host=0.0.0.0'
        - '--port=5000'
        - '--serve-artifacts'
        - >-
          --backend-store-uri=postgresql://user:pw@endpoint
        - >-
          --artifacts-destination=s3://bucket/folder/mlflow

Does the order of the args matter?
Wondering if --serve-artifacts needs to be after --artifacts-destination, not before it. Can try that.

[2022-07-07 12:00] harupy commented on #6181
@njanopoulos

It doesn't.

Can you check the artifact URI of your experiment?
Can you create a new experiment, and then log artifacts?

[2022-07-07 12:18] JasperHG90 opened #6209 "Train and batch inference pipelines in same directory"
Thanks for adding this feature to the MLFlow API!

Our situation is as follows:

- We want to share steps between train and inference pipelines
- To do this, we would need to be able to create multiple pipelines in a single directory
- However, we see [here](https://github.com/mlflow/mlflow/blob/0ab45a6e11f17484589a6195bd1fccb2e0a3c389/mlflow/pipelines/utils/__init__.py#L11) that the pipeline name

[2022-07-07 15:11] njanopoulos commented on #6181
Correct, default-artifact-root is not specified.

Artifact URI is set up as:
s3://bucket/folder/mlflow/

During the most-recent run, Artifact URI was resolved as:
s3://bucket/folder/mlflow/0e8c1fd6c26048b9abba66279b4f0f8c/artifacts

[2022-07-07 15:15] harupy commented on #6181
@njanopoulos Can you run this on your local machine?

[code]

[2022-07-07 15:44] harupy commented on #6181
@njanopoulos To confirm, the tracking server is NOT running on your local machine, right?

[2022-07-07 15:52] harupy commented on #6181
Can you check the tracking server log?

[2022-07-07 15:59] ElefHead commented on #6194
Hi! Apologies, I didn't see the comment earlier. Let me take a look.

[2022-07-07 16:46] KarthikKothareddy opened #6210 "[FR] Support for Classification Pipelines"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Hello, thanks for the fantastic Pipelines release. I would like to know if along with the Regression Pipeline, the timeline for Classification, Time Series or even Custom templates.
I would be happy to contribute to build out the Classification Pipeline

[2022-07-07 16:47] harupy commented on #6181
This means the client tried to upload the artifact using the tracking server as a proxy.

[2022-07-07 16:54] njanopoulos commented on #6181
botocore.exceptions.ClientError: An error occurred (InvalidToken) when calling the PutObject operation: The provided token is malformed or otherwise invalid.

boto3.exceptions.S3UploadFailedError: Failed to upload /tmp/tmp6b_9p7f0/file.png to bucket/folder/mlflow/117/38ca57eb511d48289ff41db184159a62/artifacts/file.png: An error occurred (InvalidToken) when calling the PutObject operation: The prov

[2022-07-07 17:00] KarthikKothareddy commented on #6200
Is this being worked on? If not I would like to make this tiny change as a first issue.

[2022-07-07 17:03] harupy commented on #6200
@KarthikKothareddy No, I just assigned myself as a reviewer. Looking forward to your PR :)

[2022-07-07 17:04] KarthikKothareddy commented on #6200
Thank you let me make that change and submit a PR :)

[2022-07-07 17:10] harupy commented on #6181
Can you double-check?

[2022-07-07 17:14] njanopoulos commented on #6181
I continue to be successful when I run on tracking server with artifact_location in the format I mentioned.  Is there I way I can tell what creds I have when I'm running the other way, and from local host?

[2022-07-07 17:16] harupy commented on #6181
Can you elaborate on this? Could you share the code you used?

[2022-07-07 17:23] mrhimanshu commented on #6195
Is anyone working on this ? If not then, I can take it up.

[2022-07-07 17:55] smurching opened #6211 "[BUG] Batch inference with mlflow.pyfunc.spark_udf fails against timestamp input data types"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Databricks ML Runtime 11.0

### Describe the problem

I'm trying to score a table using `mlflow.pyfunc.spark_udf`. The table has the schema shown below, with timestamp columns:
![image](https://user-images

[2022-07-07 18:11] smurching commented on #6211
I realized that the model I'm performing inference with (the one trained by https://github.com/mlflow/mlp-regression-template) does some feature engineering in its MLP `split` step to remove timestamp columns at training time, so I need to apply the same transformations at inference time. But still I think ^this bug may be worth fixing

[2022-07-07 18:18] nfarley-soaren commented on #6178
Adding a suffix would allow for some model name customization.  Is the {generated_model_name} you mention in your comment above the full name (endpoint_name-model-uid) that is currently being generated by _get_sagemaker_model_name or do you propose substituting the suffix for the uid?   Is there a particular reason why you would not want to allow the names to be fully customizable?

[2022-07-07 18:20] KarthikKothareddy commented on #6200
@harupy sorry for the confusion on the first PR, it looks like I didn't add the signature and I had to cancel it and open a new one. Please take a look (sorry if I missed anything obvious as this is my first PR here )

[2022-07-07 22:48] ElefHead commented on #6194
Hey @harupy - here's my attempt : https://github.com/mlflow/mlflow/pull/6218

[2022-07-07 23:21] harupy commented on #6200
Not a problem!

[2022-07-08 05:16] harupy commented on #6181
@njanopoulos  Can you try running boto3 code ([example](https://boto3.amazonaws.com/v1/documentation/api/latest/guide/s3-uploading-files.html)) instead of running `mlflow server`?

[2022-07-08 12:38] racheldavid93 commented on #4470
👍

[2022-07-08 13:26] njanopoulos commented on #6181
It also works on the tracking server with boto3 code.

[2022-07-08 14:53] zz397 opened #6221 "No such command 'models'"
want to use mlflow command line to run: `mlflow models ...` got Error: `No such command 'models'`.
Tried installation with `pip install mlflow` or `pip install mlflow[extra]`. neither works.
Here is the output for `mlflow --help`

<img width="674" alt="Screen Shot 2022-07-08 at 10 51 17 AM" src="https://user-images.githubusercontent.com/54643014/178016852-28897607-3c66-4e6c-b510-d20fdf40b6cf.png">

[2022-07-08 15:14] raphaelauv opened #6222 "[SETUP-BUG] custom gunicorn settings"
### System information

no relative

### Code to reproduce issue

no relative

### Describe the problem

how can I custom the number of workers that run gunicorn ?

currently it run 4 workers , I would prefer only one so I can setup a lower ressource requests for my K8S preprod env

### Other info / logs

![Screenshot from 2022-07-08 17-08-41](https://user-images.githubusercontent.com/10202690/178

[2022-07-08 18:12] harupy commented on #6181
You saved the example in a file and ran `python /path/to/file.py` instead of running `mlflow server`?

[2022-07-08 18:38] harupy commented on #6181
How do you setup  AWS credentials? Using environment variables?

[2022-07-08 19:44] iamharsha1999 opened #6223 "Unable to create an experiment with an old name"
I created an experiment with the name `dummy_test`. I deleted the experiment with the following piece of code.
[code]

And then I ran mlflow gc CLI to delete everything with lifecycle stage  = 'deleted'

Im now trying to create an experiment with the same name `dummy_test`.

It outputs the following error for me.

[code]

However If I change the experiment name to something else, the code runs smo

[2022-07-09 00:12] mlflow-automation commented on #6178
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-07-09 01:18] harupy commented on #6181
@njanopoulos I modified the mlflow source code to print out AWS credentailas. You can install it with the following command:

[code]

Example:

[code]

[2022-07-09 02:58] harupy commented on #6221
@zz397 Thanks for reporting this issue. We're already aware of this issue and started working on fixing it. The PR will be filed soon :)

[2022-07-09 03:00] harupy commented on #6222
Hi @raphaelauv, you can use specify the number of workers using `--workers`.

Doc: https://www.mlflow.org/docs/latest/cli.html#cmdoption-mlflow-server-w

[2022-07-10 00:16] mlflow-automation commented on #6183
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-07-11 00:12] mlflow-automation commented on #6186
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-07-11 00:53] harupy commented on #6221
@zz397 Can you run `pip install git+https://github.com/harupy/mlflow.git@raise-import`, and then run `mlflow --help`? This should reveal why the `models` subcommand is not available.

[2022-07-11 00:56] harupy commented on #6223
Hi @iamharsha1999, `mlflow gc` only delete runs. Unfortunately, we don't provide a command or API that permanently deletes an experiment.

Related SO question: https://stackoverflow.com/questions/60088889/how-do-you-permanently-delete-an-experiment-in-mlflow

[2022-07-11 03:01] harupy commented on #6211
Hey @smurching, we could define an encoder for `pandas.Timestamp` to avoid the error:

[code]

[2022-07-11 06:25] raphaelauv commented on #6222
thanks @harupy

[2022-07-11 06:26] #6222 closed

[2022-07-11 06:36] WeichenXu123 commented on #6211
Shall we add the encoder into MLflow inference server code ?

[2022-07-11 10:16] #6194 closed

[2022-07-11 11:58] smferro54 opened #6226 "[BUG] Can't replicate quickstart save and serve example"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.27.0

### System information

- Windows 11
- Python 3.9.7
- conda 4.13.0

### Describe the problem

I'm trying to replicate the quickstart save and serve example.
I go to the example folder, run the python script and can see the model runs and artifacts when I type "mlflow ui".
However, when I try

[2022-07-11 12:36] harupy commented on #6226
@smferro54

This is because `mlflow models serve` runs `conda activate ...` with the `__pyfunc_model_path__ ` environment variable.

[2022-07-11 13:01] smferro54 commented on #6226
Thanks for the response! I now understand why it doesn't work with the raw
conda command, but I still cannot see the expected result in my browser.

Best,

Sergio

On Mon, Jul 11, 2022, 08:36 Harutaka Kawamura ***@***.***>
wrote:

[2022-07-11 13:16] harupy commented on #6226
Can you elaborate?

[2022-07-11 13:33] harupy commented on #6226
As explained in https://mlflow.org/docs/latest/quickstart.html#saving-and-serving-models , http://127.0.0.1:5001/ is the endpoint for inference.

[2022-07-11 13:55] smferro54 commented on #6226
Oh gosh this was very silly of me, thanks a lot for your help and patience!
Best, Sergio

On Mon, Jul 11, 2022, 09:33 Harutaka Kawamura ***@***.***>
wrote:

[2022-07-11 13:59] #6226 closed

[2022-07-11 13:59] harupy commented on #6226
Glad to help!

[2022-07-11 21:11] iamharsha1999 commented on #6223
I was using "psql <connection_string>" as my backend_store parameter value. So it was basically creating with the same name rather than actually saving in the db. Hence I was deleting data in the wrong place and expected a change.

I believe you incorporate some mechanism to check the validity of different parameter values.

However I'm closing the issue for now.

[2022-07-11 21:11] #6223 closed

[2022-07-12 05:45] marquis08 commented on #3052
I wish the error message would tell me which run to trace. Currently, I have to check every runs in certain experiment one by one. Or is there any smart way ?

[2022-07-12 07:09] SNeugber commented on #3154
Any progress on this? I'm facing the same issue.

Error message:

[code]

Installed packages:

[code]

[2022-07-12 12:49] johnyNJ commented on #6183
So it looks like I have misunderstood _raison d'être_ of `log_params` a bit. Ever since I became mlflow user, I have been logging parameters with `log_params`. Now I am beginning to understand that `log_params` is, in fact, meant exclusively for hyper-parameters logging while logging of model parameters (ie.e. those estimated by the model) is supposed to be done (indirectly) with `log_model`. Is t

[2022-07-12 14:30] nreith opened #6232 "[FR] When will new 2.0 source code be available"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Databricks recently made a big announcement that they were going to open source their mlflow 2.0 "with pipelines".
https://databricks.com/blog/2022/06/29/introducing-mlflow-pipelines-with-mlflow-2-0.html

**Do we know when that source code and docs will

[2022-07-12 15:53] vanIvan commented on #5852
Had the same error. Was able to fix this by calling `mlflow.set_tracking_uri(tracking_uri)` before any call to mlflow API on client side (error caused by mlflow [call](https://github.com/mlflow/mlflow/blob/master/mlflow/store/artifact/mlflow_artifacts_repo.py#L46) to `get_tracking_uri()` and getting default `tracking_uri`, which has `file` schema):

[code]

[2022-07-12 18:38] zstern opened #6233 "How does the mlflow artifact proxy server configure AWS credentials?"
I am trying to use an mlflow server with proxied artifact storage set up in s3.
https://www.mlflow.org/docs/latest/tracking.html#logging-to-a-tracking-server

The mlflow server is running in its own container in an ec2 instance. So far it is either unable to access the s3 bucket (invalid access token) or I've had to configure client side credentials.  When I configure client side credentials i am

[2022-07-12 23:06] #6221 closed

[2022-07-12 23:07] zz397 commented on #6221
this works!

[2022-07-12 23:15] harupy commented on #6233
The mellow server just let boto3 look for AWS credentials:

https://github.com/mlflow/mlflow/blob/81cbfa64ff80cb204ea3740e69ed168b1788acdc/mlflow/store/artifact/s3_artifact_repo.py#L53-L58

Can you elaborate on `map a folder`? You mean mounting the `~/.aws` folder in the container?

yes

[2022-07-12 23:16] smurching commented on #6211
@harupy @WeichenXu123 thanks for taking a look -

To confirm my understanding, are you saying this might cause an issue because the timestamp (`"2017-01-01 12:00:00"`) would then be deserialized as a string rather than a timestamp, and so the model might not be able to perform inference on it? I wonder (but not sure) if this could be solved by adding logic in the inference server to deserialize ti

[2022-07-12 23:18] harupy commented on #6221
@zz397 Thanks for the comment. What was the root cause?

[2022-07-12 23:29] harupy commented on #6211
@smurching Yes, that's what I meant.

I think they just extract some numerical features (e.g. `month`, `is_holiday`) from a datetime column, then drop it.

[2022-07-13 00:08] dbczumar commented on #6204
Thank you for filing this - we are looking into it.

[2022-07-13 00:10] dbczumar commented on #6210
@KarthikKothareddy Thank you for filing this feature request. I agree that a classification pipeline would be very useful. We're currently looking into this and should have more information soon about the timeline and how you can contribute.

[2022-07-13 00:15] mlflow-automation commented on #6195
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-07-13 00:15] mlflow-automation commented on #6183
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-07-13 09:33] nerdinand commented on #5856
@BenWilson2 actually, the bug reoccurred so I took the time to develop a fix, see #6237.

[2022-07-13 09:57] hollytb opened #6238 "FileNotFoundError when running mlflow sagemaker deploy"
I run the following command:

[code]

My current conda env looks like:

[code]

I've researched online but no luck, anybody know the issue?
Also to note my current pipeline is as follows: build a docker env with two main services pyspark and mlflow ui (in the docker compose file) . Start up jupyter lab from within the pyspark cli, open the mlflow ui in the browser. Run the relative notebooks where

[2022-07-13 10:01] #6200 closed

[2022-07-13 14:43] KarthikKothareddy commented on #6210
@dbczumar Thank you for your reply. Looking forward to the timeline!

[2022-07-13 14:45] nicolo-toscano commented on #2735
Same problem here

[2022-07-13 15:13] benelot commented on #3843
any updates on this? I mean there are so many options to turn something you want to compare into visual data. Thus this contribution would essential since with it you could compare any type of plot artifact, output image or other visual representation of the model's performance. So I am not sure why this is not on the list of very important features.

[2022-07-13 16:04] zstern commented on #6233
OK. Thank you.  Makes sense, I just didn't see it in the docs so was wondering how the auth would work.  Thanks.

[2022-07-13 16:26] hollytb commented on #6238
Hi @harupy , yes the file does exist

[2022-07-13 16:35] harupy commented on #6238
Looks similar to https://stackoverflow.com/questions/62474753/os-stat-filenotfounderror-win-error-3-when-file-exist-python

[2022-07-13 16:37] harupy commented on #6238
@hollytb Can you try running the following code?

[code]

[2022-07-13 16:46] harupy commented on #6238
https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd says:

[code]

[2022-07-13 20:00] #2414 closed

[2022-07-13 21:44] sl0wc0der commented on #5076
This change also needs change in the DB schema.. I've tried increasing the validation limits and it errors when actually adding data to the DB

[2022-07-13 21:46] sl0wc0der commented on #5076
Duplicate of https://github.com/mlflow/mlflow/issues/6183

[2022-07-13 23:36] harupy commented on #6238
@hollytb https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd#enable-long-paths-in-windows-10-version-1607-and-later might be able to solve the issue.

[2022-07-14 00:08] dbczumar commented on #6183
@harupy That sounds good to me. Additionally, it would be nice to fix the documentation so that we no longer claim that all backends support parameters of length 5000.

[2022-07-14 00:15] mlflow-automation commented on #6204
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-07-14 00:15] mlflow-automation commented on #6183
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-07-14 00:38] dbczumar commented on #6209
HI @JasperHG90. Thank you for raising this issue and for filing #6228. While we cannot commit to including flags for specifying the pipeline yaml name, it seems reasonable to introduce a parameter for specifying the pipeline directory *path*. Would you be able to file an analogous pull request introducing an optional `path` argument that can be used to specify the root directory of the desired pip

[2022-07-14 02:39] harupy commented on #6181
@njanopoulos Any updates here?

[2022-07-14 11:29] JasperHG90 commented on #6209
Hi @dbczumar,

Thanks for your reply. I can pick this up.

Best,

Jasper.

[2022-07-14 12:33] njanopoulos commented on #6181
We will be getting back to this issue next week. Sorry for the delay. Thank you for all of your help.

[2022-07-15 00:15] mlflow-automation commented on #6211
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-07-15 00:15] mlflow-automation commented on #6210
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-07-15 00:15] mlflow-automation commented on #6209
@BenWilson2 @dbczumar @harupy @WeichenXu123 Please assign a maintainer and start triaging this issue.

[2022-07-15 03:32] rasika commented on #884
I had the same issue when using the file storage, when using the absolute paths; It worked perfectly.

[code]

[2022-07-15 05:43] rasika commented on #6181
Are you trying this on an existing experiment? If that's the case; it will work as non-proxied if that experiment is created before moving to the proxied state. Note from the [docs](https://mlflow.org/docs/latest/tracking.html#scenario-6-mlflow-tracking-server-used-exclusively-as-proxied-access-host-for-artifact-storage-access);

[code]

[2022-07-15 10:44] mautini opened #6253 "[BUG] API error when calling log_params with a dict containing an empty string as value"
### Willingness to contribute

No. I cannot contribute a bug fix at this time.

### MLflow version

1.27.0

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux / MacOS
- **Python version**: 3.10.5
- **yarn version, if running the dev UI**:

### Describe the problem

Using the last version of mlflow (and Python client), when I try to log params in a run usin

[2022-07-15 13:49] hollytb commented on #6238
@harupy that worked thank you! it was the length of the file path

[2022-07-15 13:49] #6238 closed

[2022-07-15 14:23] harupy commented on #6253
@mautini https://github.com/mlflow/mlflow/pull/6179 fixed this issue :)

[2022-07-15 14:23] #6253 closed

[2022-07-15 16:02] #6211 closed

[2022-07-15 19:09] hollytb opened #6255 "Issues with mlflow sagemaker deploy"
### System information

j

### Code to reproduce issue

bb

### Describe the problem

I want to deploy a mlflow spark app to sagemaker. Is this possible? As I sucessfully push a image to ECR with

`mlflow sagemaker build-and-push-container`

and then when I attempt to deploy this image with

'mlflow sagemaker deploy...'

It fails due to a time out when trying to create the endpoint. When I log at

[2022-07-15 22:40] zstern commented on #6233
I have added the AWS credentials as environment variables but MLFLOW is still unable to access the s3 bucket.  If I ssh into the running docker container running mlflow, bring up a python interpreter and use the boto3 package, I can successfully interact with my s3 bucket (listing and downloading files) without any problem:

[code]

So I am certain in that scenario that boto3 is correctly finding

[2022-07-15 23:47] harupy commented on #6233
@zstern I think it's because experiment `1` still uses a non-proxied artifact.

https://www.mlflow.org/docs/latest/tracking.html#scenario-5-mlflow-tracking-server-enabled-with-proxied-artifact-storage-access

<img width="1359" alt="image" src="https://user-images.githubusercontent.com/17039389/179325106-f2b68c27-dacf-4d98-a7c9-91babae4405e.png">

[2022-07-16 08:20] harupy commented on #6255
@hollytb Could you share the full failure logs?

[2022-07-16 11:30] hollytb commented on #6255
@harupy Thanks for your help, I've uploaded a csv of the logged error to the comment

[2022-07-17 04:06] #5856 closed

[2022-07-18 02:15] harupy commented on #6255
@hollytb Can you try deploying a non-spark model (e.g. scikit-learn model) and check if it succeeds?

[2022-07-18 02:36] harupy commented on #6255
@hollytb https://github.com/mlflow/mlflow/issues/726 seems related. Using a larger instance might help (as described in https://github.com/mlflow/mlflow/issues/726#issuecomment-442187169).

[2022-07-18 06:54] smurching commented on #6211
Thanks for the super speedy fix on this!

[2022-07-18 07:20] harupy commented on #6255
@hollytb You can also try running this command to check if model serving works locally:

[code]

[2022-07-18 08:15] harupy commented on #6255
@hollytb I was able to reproduce `CondaValueError: prefix already exists: /miniconda/envs/custom_env` by using `docker run --retry=always`. I think SageMaker retries running the container and the entry point (that calls `conda env create -n custom_env`) is executed multiple times.

[2022-07-18 08:50] nlgranger opened #6261 "[FR] Add step argument to log_figure"
### Willingness to contribute

Yes. I would be willing to contribute this feature with guidance from the MLflow community.

### Proposal Summary

Add step argument to mlflow.log_figure()

Add slider in ui to navigate over time/steps.

### Motivation

It is currently impossible to analyze the dynamic of metrics visualized via figures (histograms, confusion matrices, roc curves, model outputs, etc.)

[2022-07-18 09:38] britishvnr commented on #6253
Trying with 1.27.0, it apparently wasn't fixed everywhere:   File "/workspace/entrypoints/../src/train.py", line 236, in <module>
    main(classifier_training_args, data_training_args, model_args)
  File "/workspace/entrypoints/../src/train.py", line 65, in main
    mlflow.log_params(params=preprocess_args)
  File "/workspace/env/lib/python3.9/site-packages/mlflow/tracking/fluent.py", line 675, in

[2022-07-18 09:53] harupy commented on #6253
@britishvnr The patch will be shipped in 1.28.0.

[2022-07-18 10:02] Judekeyser opened #6262 "[SETUP-BUG] Python 3.7 not so supported"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: irrelevant
- **MLflow installed from (source or binary)**: from pip
- **MLflow version (run ``mlflow --version``)**: 1.27.0
- **Python version**: 3.7

### Code to reproduce issue

[code]

### Describe the problem

When installing mlflow==1.27.0 using pip in a Python 3.7 environment, pip fetches scipy version 1.8

[2022-07-18 10:09] hollytb commented on #6255
@harupy when I check if the model is serving locally is fails with the error:
`2022/07/18 11:04:27 INFO mlflow.sagemaker: executing: docker run -v C:\Users\....\mlruns\5\0a92547...\artifacts\model:/opt/ml/model/ -p 5000:8080 -e MLFLOW_DEPLOYMENT_FLAVOR_NAME=python_function -e SERVING_ENVIRONMENT=SageMaker --rm mlflow-pyfunc serve
docker: Error response from daemon: driver failed programming extern

[2022-07-18 10:23] harupy commented on #6262
@Judekeyser You don't have to manually install an older version of scipy. pip automatically selects the version that can be installed. scipy 1.7.3 should be installed in Pythion 3.7.

[2022-07-18 10:34] #6262 closed

[2022-07-18 10:46] hollytb commented on #6255
@harupy  using a larger instance didn't work, would the parameters,  instance count and flavor, have a impact?

When I check if the model is serving locally, the output doesn't come to a end, it continues to outputthe following lines:

`2022-07-18 10:40:26 +0000] [459] [INFO] Starting gunicorn 20.1.0
[2022-07-18 10:40:26 +0000] [459] [INFO] Listening at: http://127.0.0.1:8000 (459)
[2022-07-18 10:

[2022-07-18 10:52] hollytb commented on #6255
@harupy So far one error has occured while running the above command:
` Exception in thread "main" java.nio.file.NoSuchFileException: /tmp/tmpg1bflz7u/connection3712313196413081753.info
        at sun.nio.fs.UnixException.translateToIOException(UnixException.java:86)
        at sun.nio.fs.UnixException.rethrowAsIOException(UnixException.java:102)
        at sun.nio.fs.UnixException.rethrowAsIOExce

[2022-07-18 11:33] Judekeyser commented on #6262
Confirmed on a clean machine. I suspect the bug is due to tox py37. Thank you anyway, now I know where to look at.

[2022-07-18 13:15] harupy commented on #6255
@hollytb I ran the same command on Linux and it worked fine. This might be because

[2022-07-18 13:40] hollytb commented on #6255
@harupy unfortunately not. Would using mleap to serialize the model format for sagemaker be a potential solution, rather than logging the model through: mlflow.spark.log_model? I've read a few resources suggesting logging in the mleap format. [https://docs.microsoft.com/en-us/azure/databricks/_static/notebooks/mlflow/mlflow-mleap-training.html ](url) [https://sagemaker-examples.readthedocs.io/en/l